[2021-01-27 23:13] escattone commented on #1804
Thanks everyone. I noticed this yesterday as well, and created #1774 (which was fixed by #1775). However, it can take up to 48 hours for changes to be seen at https://developer.mozilla.org (due to our build schedule and CDN caching) so the changes were finally visible today. This is resolved.

[2021-01-27 23:13] #1804 closed

[2021-01-27 23:14] escattone commented on #1819
Thanks @pavelloz and @chrisdavidmills. I noticed this yesterday as well, and created #1774 (which was fixed by #1775). However, it can take up to 48 hours for changes to be seen at https://developer.mozilla.org (due to our build schedule and CDN caching) so the changes were only visible today. This is resolved.

[2021-01-27 23:14] #1819 closed

[2021-01-28 00:10] chris4000 opened #1837 "Links in the XUL documentation on the MDN website point to the non-archived versions of the pages"
XUL documentation on the MDN website is archived, since XUL is deprecated. However, there are still many uses for UI customization through XUL, so this documentation is still important.

The issue: when you follow a link from an archived XUL documentation page, it takes you to the unarchived version of that page. This page contains no documentation except a warning that the page cannot be found. T

[2021-01-28 00:20] DG12 commented on #1804
Surprised you would close this before it is visible.

[2021-01-28 01:02] todduk commented on #1585
Closed as merged with PR https://github.com/mdn/yari/pull/2667

[2021-01-28 01:02] #1585 closed

[2021-01-28 01:28] theonlypwner opened #1838 "Issue with "String.prototype.slice()": incorrect paragraph"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/slice

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?
Syntax > Parameters

#### What did you expect to see?
This paragraph should be removed or rewritten.

#### Did you test this? If so, how?
The same article provides this example, which I confirmed i

[2021-01-28 06:26] tannerdolby opened #1844 "Notecard missing macro usage"
Wondering if the second notecard was supposed to be styled with the macro `{{Note('stuff')}}` on [What is a URL?](https://developer.mozilla.org/en-US/docs/Learn/Common_questions/What_is_a_URL). I'm asking because the first notecard is utilizing the macro which adds the little notecard icon.

First notecard (uses macro)
<img width="729" alt="Screen Shot 2021-01-27 at 10 25 10 PM" src="https://user-

[2021-01-28 07:05] retr0c0de commented on #1781
But my firefox is updated. I'll retry and let you know.

[2021-01-28 07:05] #1781 closed

[2021-01-28 07:46] dk-github-acc commented on #1822
Hello sir
As a beginner, I would like to complete this task.

[2021-01-28 08:18] joopringelberg opened #1845 ""Web-based protocol handlers": update example to show how to check if a protocol is already registered"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Navigator/registerProtocolHandler/Web-based_protocol_handlers

#### What information was incorrect, unhelpful, or incomplete?
Registering the same protocol handler more than once will pop up a different notification, indicating that the protocol handler is already registered. Therefore, it is a good idea to guard your call to register the p

[2021-01-28 08:22] Ryuno-Ki commented on #1822
Do it!
Looking forward to your first PR :-)

Let us know if you need help with something!

[2021-01-28 08:22] Ryuno-Ki commented on #1781
@retr0c0de Since you closed the issue, can we conclude, that it worked for you now?

[2021-01-28 08:26] Ryuno-Ki commented on #1844
@nschonni Can you help answering this?

[2021-01-28 08:30] Ryuno-Ki commented on #1837
@peterbe I think, these cases should be considered flaws by Yari. Do you agree?

[2021-01-28 08:37] Ryuno-Ki commented on #1835
@rachelandrew It looks like this is defined using a macro in

https://github.com/mdn/content/blob/234ed36e767531a6c562787f90632c61031c1c47/files/en-us/web/css/background/index.html#L102

@nschonni Is it something, mdn-minimalist should take into account?

[2021-01-28 08:41] Ryuno-Ki commented on #1833
Thanks for bringing it to our attention, @ChrisBFusion.
Since I can see multiple code snippets (but none interactive ones) on that page, I'd like to ask you to share

1. Which code snippet fails to load assets.
2. A screenshot of the error message you observed.
3. Which browser and operating system you use.

This will help us triage the issue :-)

[2021-01-28 08:54] winniejo commented on #1803
Hay @ chrisdavidmills ,

?W3.CSS" is a CSS framework (strictly html css no JS).
I was wondering if ir is possible to give some pointers for working with "W3.CSS".
since i can find advice of CSS , Grid, Bootstrap, JS, etc. and all other topics.

Winn

[2021-01-28 08:57] chrisdavidmills commented on #1803
@winniejo I'm afraid not. We mainly cover the underlying native browser technologies — HTML, CSS, JavaScript, etc. — but we don't have much coverage of frameworks. Generally they just aren't in our remit.

[2021-01-28 08:57] #1803 closed

[2021-01-28 09:04] retr0c0de commented on #1781
yeah. But it's still not printing on my machine. I tried re-installing my Firefox. But fine in chrome.

[2021-01-28 09:05] winniejo commented on #1803
Ok thanks, Iam just asking since there are some Bootstrap topics explained in
MDN Webdocs and W3.CSS is more like Grid then Boostrap I regain.

Winn

[2021-01-28 09:16] chrisdavidmills commented on #1844
In can answer this. Ideally we should be moving away from using note macs because eventually we want to get rid of all macros as we prepare to move to markdown for mdn content.

This doesn't mean you should start going about trying to delete as many macros as possible; we'd prefer to do it in a coordinated way with proper tooling.

But at the same time, it would be nice for them to at least be con

[2021-01-28 09:59] chrisdavidmills commented on #1838
Yeah, after some testing, it looks to me like endIndex just behaves the same regardless of the value of startIndex. It's just that nothing will be returned when the index selected by endIndex is smaller than the index selected by startIndex, so you need to make sure it is greater.

I'd probably rewrite it something like

"If endIndex is omitted or undefined, or greater than str.length, slice() ext

[2021-01-28 10:18] chrisdavidmills commented on #1834
Thanks for reporting this @HatimLagzar . This problem was caused because the embedded live examples are sitting inside iframes, and so not styled by our standard table styling. The example in question had a reasonable responsive style set on it (`table { width: 80% }`), but the iframe was then set to a fixed-width of 1200px ;-|

This could probably do with more work in the future, but for now I've

[2021-01-28 10:18] #1834 closed

[2021-01-28 10:56] chrisdavidmills commented on #1807
@Ryuno-Ki I don't see why not. The main negative point about it is its implementation inconsistency, but if you are only worrying about a single platform...

[2021-01-28 11:22] mattiapontonio commented on #1834
Still some problems here

![Screenshot_20210128-122149.png](https://user-images.githubusercontent.com/44380480/106131829-748d3580-6163-11eb-8fe5-36f80581138f.png)

- https://github.com/mdn/content/blob/main/files/en-us/web/css/vertical-align/index.html
- https://developer.mozilla.org/en-US/docs/Web/CSS/vertical-align

[2021-01-28 11:39] chrisdavidmills commented on #1834
@mattiapontonio the fix hasn't made its way to the production site yet. IT will look better when it does, although it still won't look great on mobile.

[2021-01-28 12:16] HatimLagzar commented on #1834
I think you adjusted the height not the width of the iframe but, yes the height should be 100% to avoid the vertical scroll bar on the table and the section above the table.

This is a preview of the page with and without the changes you made.

Without Changes:
![image](https://user-images.githubusercontent.com/29899589/106137164-a05fe980-616a-11eb-81d7-409440f8c7e4.png)

With Changes:
![image](ht

[2021-01-28 13:07] Elchi3 commented on #1821
Pretty sure it is a relict from the old WYSIWYG.
The new Yari Editor doesn't list pre-defined styles. Maybe it should somehow? Maybe as a minimum the Yari Editor could at least point to a link where we list the pre-defined styles because how would anyone know otherwise?

[2021-01-28 13:18] chrisdavidmills commented on #1834
@HatimLagzar big oops, and thanks for noticing ;-)

Updated again: https://github.com/mdn/content/commit/1fc347ebeaf4bea3b783943f0dfea51db3b5492c

[2021-01-28 13:25] mattiapontonio commented on #1834
I would like to say: it probably shouldn't be put in a paragraph; I would like to understand if there are any advantages to using a simple iframe and not the macro or vice versa.

[2021-01-28 14:57] keul opened #1854 "Issue with "String.prototype.replace()": …"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/replace

#### What information was incorrect, unhelpful, or incomplete?

Internal link to "Specifying a function as a parameter"

#### Specific section or headline?

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/replace#parameters

#### What did you expect to s

[2021-01-28 15:28] ChrisBFusion commented on #1833
It's looking correct now. I'm closing the issue.

[2021-01-28 15:28] #1833 closed

[2021-01-28 16:40] jeannieism opened #1856 "Issue with "204 No Content": …"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/204

#### What information was incorrect, unhelpful, or incomplete?
Typo

#### Specific section or headline?
"In this case *an* PUT request would be used.."

#### What did you expect to see?
"In this case *a* PUT request would be used..."

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summa

[2021-01-28 18:14] nschonni commented on #1835
I haven't really looked at the minimalist stuff. I think the current behaviour is correct, since I think the grammar is based off of https://en.wikipedia.org/wiki/Backus%E2%80%93Naur_form and isn't supposed to split across lines
I think this is the default in general for `<pre>` tags as you're indicating that space is significant in the block

[2021-01-28 18:17] nschonni commented on #1835
Oh, I think I see it looking at the German page, as it seems to have some `where` that may make it a multi-line statement

[2021-01-28 18:53] peterbe commented on #1837
We don't use flaws in the archived content.

[2021-01-28 18:57] peterbe commented on #1837
The best solution would be to copy down all the redirects for archived content so that `/en-US/docs/Mozilla/Tech/XUL/XUL_Reference` becomes a redirect to `/en-US/docs/Mozilla/Archive/XUL/XUL_Reference`. Then the link clicks would work.
Unfortunately, we're a bit stretched thin for time to go back to the original migration code to retrofit these redirects.

One thing you could is to add these to ht

[2021-01-28 19:12] peterbe commented on #1824
@bulk88 There are pros and cons with both solutions. We just believe that there are more pros than cons for the git approach. Sorry that it was hard to "find your way back on track". Yeah, it's hard to think of every angle that people might have in their relationship with the old platform.
We believe that the new system is already better and that it has a lot more potential for even further improv

[2021-01-28 19:12] #1824 closed

[2021-01-28 20:03] fgeierst opened #1860 "Issue with "ARIA: banner role": …"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Banner_role

#### What information was incorrect, unhelpful, or incomplete?

The first code example uses a `<h2>` element for a subtitle, which is considered a bad practice, see: https://www.w3.org/TR/html52/common-idioms-without-dedicated-elements.html#subheadings-subtitles-alternative-titles-and-taglines

[code]
####

[2021-01-28 20:36] PDalc opened #1862 "CSS grid-template-columns documentation's "Formal syntax" section not displaying correctly"
The CSS grid-template-columns documentation's "Formal syntax" section not displaying correctly. The problem is on this page: https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns

The "Formal syntax" section is displaying the entire intricate syntax on only 2 lines, but it seems that it should be split over many more lines in order to be legible. The < pre > formatting seems to be

[2021-01-28 21:28] Ryuno-Ki commented on #1821
I was a bit unsure, whether we might want to point GitHub's editor UI instead (but I haven't got around to edit content myself - since joining, I've got ~1k notifications to catch up with).

[2021-01-28 22:04] Ryuno-Ki opened #1864 "Drop wordcount line from SEO guide"
I'm quite confident this line is outdated and should be removed:

https://github.com/mdn/content/blob/4b5283173b093d6c44e1617beb8ab4efe81717ac/files/en-us/mdn/contribute/howto/write_for_seo/index.html#L55

Live site:
https://developer.mozilla.org/en-US/docs/MDN/Contribute/Howto/Write_for_SEO#avoid_pages_that_are_too_short

(while at it, the anchors seem not correct also. They should be all lowerca

[2021-01-28 22:04] Ryuno-Ki commented on #1864
I'd like to label this as good first issue.

[2021-01-28 22:39] hamishwillee commented on #1856
Thanks very much @jeannieism - will be fixed by #1865

Just FYI, for changes like this that you are sure of, feel free create a pull request on github with the fix. There is a link at the bottom of every page that takes you to the source for editing:
![image](https://user-images.githubusercontent.com/5368500/106207406-cbebde00-6215-11eb-83cb-24f179c2e074.png)

[2021-01-28 22:54] jacobtrebil opened #1866 "Issue with "Separate sites for mobile and desktop": … "Responsive Design" link at the bottom does not link to the correct page."
MDN URL: https://developer.mozilla.org/en-US/docs/Web/Guide/Mobile/Separate_sites

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/guide/mobile/separate_sites`
* MDN URL: https://developer.mozil

[2021-01-29 00:02] hamishwillee commented on #1844
PS. FYI only Chris did actually update the official notes on using notes :-) : https://developer.mozilla.org/en-us/docs/MDN/Guidelines/CSS_style_guide#.note.notecard

@tannerdolby I have assigned to you to fix. If you don't want to then handball back to me.

[2021-01-29 00:20] hamishwillee commented on #1820
@Anmepod44 Glad you like the tutorial.

This really isn't enough for me to debug.
1. Minimally can you please give me the more full track trace than `init() missing 1 required positional argument: 'app_module'`.
2. Use a file comparison tool to compare your code with the example code in https://github.com/mdn/django-locallibrary-tutorial l
3. If you can't tell anything by comparison can you please

[2021-01-29 00:24] hamishwillee commented on #1823
I believe the plan is to do a global tool-managed change of the use of these macros. So it does not hurt to have them here for now.
On the other hand  it is good to train people on how we might expect them to do these in future.

So I'd suggest that it certainly would not hurt to update these but perhaps not the highest priority task someone could take on.

[2021-01-29 00:45] theonlypwner commented on #1838
I've rewritten this by merging the last two old paragraphs and submitted a pull request.

new:

old:

[2021-01-29 00:51] hamishwillee commented on #1761
P.S. Note the last [comment I made in that issue](https://github.com/mdn/yari/issues/2198#issuecomment-769489840) which basically says we would like highlighting in markdown too.

[2021-01-29 01:18] hamishwillee commented on #1844
Thanks @tannerdolby. Great.

Personally I am not going out of my way to systematically fix these; instead I am fixing all of them on the pages that I touch. My thinking is that while this is a good thing to do, it isn't as valuable as "information fixes".
Upshot I think your time could be better spent, but if you fix them, we'll be happy :-)

[2021-01-29 01:50] hamishwillee commented on #1109
@jvanstone Well, the error is reported as

[code]
That says basically that at [routes/catalog.js#L98](https://github.com/jvanstone/express-locallibrary-tutorial/blob/master/routes/catalog.js#L98) it can't find a callback.
[code]
Above you can see the callback is `book_instance_controller.bookinstance_create_get`, but if you search on `bookinstance_create_get` in your project this is the only insta

[2021-01-29 03:00] hamishwillee commented on #1662
@chrisdavidmills
1. Where should the events go then? I.e. what URL should `checking` be at?
1. FYI only I discovered this documentation page in the archive on /en-US/docs/Web/Events/checking
1. Looking at these it might be that they are related to the Application Cache, now in a "do not use" state - https://developer.mozilla.org/en-US/docs/Web/HTML/Using_the_application_cache

How we deal with thi

[2021-01-29 03:14] jeannieism commented on #1856
I am so sad I did not take this opportunity... 🥲

On Thu, Jan 28, 2021 at 5:39 PM Hamish Willee <notifications@github.com>
wrote:

[2021-01-29 05:06] hamishwillee commented on #1726
Hi @Rumyra
Most of this got done when we thought it would go into FF83 - see https://github.com/mdn/sprints/issues/3804#issuecomment-711544431

Given my familiarity I have started this (but happy for you to take over if you want to)
- Updated image formats docs in https://github.com/mdn/content/pull/1871. Note that if you know a lot about AVIF you might be able to expand on the more detailed forma

[2021-01-29 05:18] #1856 closed

[2021-01-29 05:50] tannerdolby commented on #1844
Your welcome @hamishwillee !

Ok got it. I agree with you, it's probably not the best use of time as they aren't extremely valuable "information fixes". That being said, I will fix the notes on pages I touch as well. In my free time (weekends) I will slowly chip away at all the notes without the updated syntax and submit PRs to update them :-)

[2021-01-29 06:07] hamishwillee commented on #1729
I've kicked off https://github.com/mdn/content/pull/1873 to clean up source prior to this update.

Deleting this is fairly easy but there are some associated docs improvements that should already have been made/should be made at same time.

Quick review of what needs to happen:
- - [ ]  BCD is not needed
- - [ ]  Add release note
- - [ ]  Set bugs to dev-doc-complete
- - [ ] Restructure [Working w

[2021-01-29 08:11] Ryuno-Ki commented on #1844
If we could break them down to specific pages / subtrees, those could make up „Good first issue” items to invite more people to contribute. Just sayin'

[2021-01-29 08:14] Ryuno-Ki commented on #1856
@hamishwillee Would it be possible to outline the steps needed so contributors could pick up an issue?
Especially for tickets marked as „good first issue”.

@jeannieism I'm confident another chance will raise up :) Please be patient.

[2021-01-29 08:35] SpyroTEQ opened #1877 "Issue with "RSS feeds": All links are dead"
MDN URL: https://developer.mozilla.org/en-US/docs/MDN/Tools/Feeds

#### What information was incorrect, unhelpful, or incomplete?
Seems like all RSS feeds are dead (404 page not found)

#### Specific section or headline?
All

#### What did you expect to see?
The RSS feeds (at least for https://developer.mozilla.org/en-US/docs/feeds/rss/all)

#### Did you test this? If so, how?
Just click the links

[2021-01-29 08:37] Ryuno-Ki commented on #1877
Uh-oh.

Thanks for bringing this to our attention!
@peterbe I assume, the feeds are auto-generated. Would be great if you could take a look into it.

[2021-01-29 08:42] chrisdavidmills commented on #1877
This is weird. I removed the feeds page a while ago because they no longer work (the source link 404s: https://github.com/mdn/content/blob/main/files/en-us/mdn/tools/feeds/index.html), so I don't know why the page is still showing up on the site.

[2021-01-29 09:03] chrisdavidmills commented on #1662
So events pages are now hung off the object that they are fired on. So for example see the links under

* https://developer.mozilla.org/en-US/docs/Web/API/Window#events
* https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement#events

The checking event was indeed related to AppCache; it is now in our Archive section, see https://developer.mozilla.org/en-US/docs/Archive/Events/checking

[2021-01-29 09:14] foolip opened #1878 "MediaCapabilitiesInfo is a dictionary in spec + Chrome but interface in Firefox"
https://developer.mozilla.org/en-US/docs/Web/API/MediaCapabilitiesInfo needs to be sorted out because of an unfortunate situation across specs and implementation.

This is a dictionary in spec and Chrome:
https://w3c.github.io/media-capabilities/#media-capabilities-info
https://chromium.googlesource.com/chromium/src/+/6ad4130faeeead16d8bf620c4387283da143ac09/third_party/blink/renderer/modules/medi

[2021-01-29 09:17] foolip commented on #1878
I've filed a Gecko bug at https://bugzilla.mozilla.org/show_bug.cgi?id=1689560.

[2021-01-29 09:23] SpyroTEQ commented on #1877
oh :c It would be nice to have RSS back working (for me at least ^^), or (if not doable) any other way to know what the changes were "today/this week": I mainly use the RSS feed to do a regular check on the new web APIs/functions or on those I did not know (like, when RSS title was about a doc page for a function/API that I don't know, then I go to read it and get to know this new API though the n

[2021-01-29 09:32] chrisdavidmills commented on #1877
I would imagine there'd be a way to achieve this via GitHub history, some kind of dashboard that allows you to query different areas of the content and pull up the changed pages over a set time period. But this wouldn't be a high priority compared to some of the more pressing needs we've got. We'll have to think about the easiest way to achieve this.

[2021-01-29 09:51] chrisdavidmills commented on #1866
This was kinda strange; thanks for reporting it, @jacobtrebil !

We now have a pretty good beginner's guide to responsive design, so I've linked it to that instead. See https://github.com/mdn/content/commit/4ad95e38da46ff56f0dcc42477efa11d253b0569 for the change.

[2021-01-29 09:51] #1866 closed

[2021-01-29 09:52] chrisdavidmills commented on #1864
Labeled ;-)

[2021-01-29 09:56] chrisdavidmills commented on #1860
I complete agree with this; thanks for reporting, @fgeierst !

I've made the update as suggested. See https://github.com/mdn/content/commit/a609a6060c38dcfcb6d8b3c9270e6364fd2cf213 for the change.

[2021-01-29 09:56] #1860 closed

[2021-01-29 10:55] sanket2000sonavane commented on #1864
hello sir, I am a beginner. I would like to complete this task.

[2021-01-29 11:44] chrisdavidmills commented on #1864
@sanket2000sonavane thank you for your interest.

Let me know if you need any help.

[2021-01-29 11:49] Rumyra commented on #1726
Yes please feel free to carry on @hamishwillee :) I was only going through and assigning anything relevant to myself.

Let me know anyhoo - happy with whatever

[2021-01-29 11:50] tomOgn opened #1882 "Issue with "Clipboard.read()": …"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Clipboard/read

#### What information was incorrect, unhelpful, or incomplete?
The code sample shows the `read` promise returning an object with `items` as field. At least on Chrome and Safari (I didn't check the other browsers) the output I get is directly the array `items`.

#### Specific section or headline?
Example paragraph

#### What

[2021-01-29 13:19] benkasminbullock opened #1884 "Issue with "CSS reference": link from inherits (@property) is dead"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference

#### What information was incorrect, unhelpful, or incomplete?

The link on `inherits (@property)` was a dead link:

https://developer.mozilla.org/en-US/docs/Web/CSS/@property/inherits

#### Specific section or headline?

As above.

#### What did you expect to see?

Information on the CSS property

#### Did you test this? If so,

[2021-01-29 13:35] benkasminbullock opened #1885 "How can I access CSS_Ref?"
Here it looks like CSS_Ref is made from some kind of templating system:

https://github.com/mdn/content/blob/2ef7bb784bf1036ad7886b64e6451a68e573a44b/files/en-us/web/css/reference/index.html#L60

I cannot see what templating is being used. I searched the repo with "CSS_Ref repo:mdn/content" but it only came back with the above link.

I want to find a downloadable version of the index on the page:

[2021-01-29 13:56] rachelandrew commented on #1795
I documented `forced-colors-adjust` and mentioned the prefixed property https://developer.mozilla.org/en-US/docs/Web/CSS/forced-color-adjust

Does that solve the issue @WebMechanic ?

[2021-01-29 14:23] MatthaisUK opened #1887 "Issue with "NodeList.length": …"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/NodeList/length

#### What information was incorrect, unhelpful, or incomplete?
The example is very out of date, using var, getElementsByTagName, `for` rather than `for of` and innerHTML all in the space of four lines

#### Specific section or headline?
The example

#### What did you expect to see?
A simple example of .length to share with

[2021-01-29 14:56] chrisdavidmills commented on #1887
It uses old-school JS syntax, but it's not wrong as such. And it still demonstrates the main point it is trying to show.

I'd perhaps update it so that it uses `const` instead of `var`. Feel free to submit a PR to improve it.

[2021-01-29 15:36] peterbe commented on #1877
@chrisdavidmills We haven't implemented the functionality that deletes (no-longer built stuff) in S3. Thankfully, our XML sitemaps that we submit to Google don't mention this URL.
I believe @escattone is working on it here: https://github.com/mdn/yari/issues/2224

[2021-01-29 17:39] Ryuno-Ki commented on #1877
@SpyroTEQ https://github.com/mdn/content/commits/main.atom is the GitHub feed for all changes added to the `main` branch.

See https://www.ronaldsvilcins.com/2020/03/26/rss-feeds-for-your-github-releases-tags-and-activity/ for other feeds.

[2021-01-29 18:08] Ryuno-Ki commented on #1885
I _think_ it's defined over in the kumascript repo:

https://github.com/mdn/kumascript/blob/a3c7b89ca55a0677ef9da53f60c6d3be86248597/macros/CSSRef.ejs

That's code used for the old wiki edition and will be phased out one bit at a time.

[2021-01-29 18:12] Ryuno-Ki commented on #1884
@rachelandrew We have https://developer.mozilla.org/en-US/docs/Web/CSS/@property - ( matching https://github.com/mdn/content/blob/main/files/en-us/web/css/%40property/index.html)

but I can't find an explanation of `inherits` there. Is this a missing document?

[2021-01-29 18:38] chrisdavidmills commented on #1885
The up-to-date version of KumaScript is available inside the Yari repo; see https://github.com/mdn/yari/blob/master/kumascript/macros/CSS_Ref.ejs for the updated macro file.

We are still aiming to phase out KS over time, but this is where it now lives.

[2021-01-29 19:30] #1536 closed

[2021-01-30 00:06] benkasminbullock commented on #1885
Thanks for the information. It looks like it will be difficult to use that system for our purposes.

[2021-01-30 00:06] #1885 closed

[2021-01-30 06:55] Alien426 opened #1898 "Issue with "CSS reference": multiple dead links in {{CSS_Ref}} template"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference

#### What information was incorrect, unhelpful, or incomplete?

"<an-plus-b>" https://developer.mozilla.org/en-US/docs/Web/CSS/an-plus-b
"block-overflow" https://developer.mozilla.org/en-US/docs/Web/CSS/block-overflow
"font-feature-settings (@font-face)" https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-feature-set

[2021-01-30 06:56] benkasminbullock opened #1899 "Issue with "HTML attribute reference": Link from "async" is dead"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes

#### What information was incorrect, unhelpful, or incomplete?

The link from async was dead

#### Specific section or headline?

https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes#attribute_list

#### What did you expect to see?

Information on the async attribute

#### Did you test this? If so, how?

Not other than

[2021-01-30 06:57] benkasminbullock commented on #1899
Similar problem with the link on "defer", which takes me here:

https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/defer

[2021-01-30 11:14] #344 closed

[2021-01-30 13:17] Ryuno-Ki commented on #1898
@Alien426 You can find this source here:
https://github.com/mdn/content/blob/d54141e8f5fac3effe8ed12fcde9369617e655ba/files/en-us/web/css/reference/index.html

[2021-01-30 13:17] Ryuno-Ki commented on #1898
You can edit via the GitHub Web UI (upper right corner of the file is a pen to switch to edit mode)

[2021-01-30 13:18] kauer3 commented on #1854
Hello, I would like to take this as my first issue.

[2021-01-30 13:22] Ryuno-Ki commented on #1854
Sounds great, @kauer3.
I've assigned it to you.

The lines in question are

https://github.com/mdn/content/blob/d54141e8f5fac3effe8ed12fcde9369617e655ba/files/en-us/web/javascript/reference/global_objects/string/replace/index.html#L46

and

https://github.com/mdn/content/blob/d54141e8f5fac3effe8ed12fcde9369617e655ba/files/en-us/web/javascript/reference/global_objects/string/replace/index.html#L68

[2021-01-30 14:32] kauer3 commented on #1854
So, inspecting the [page](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/replace#parameters) I can see that both "Specifying a function as a parameter" and "Specifying a string as a parameter" internal links have typos, but [the file on GitHub](https://github.com/mdn/content/blob/master/files/en-us/web/javascript/reference/global_objects/string/replace/inde

[2021-01-30 14:47] joezimdelta opened #1901 "Issue with "max()": Supported on Opera and Firefox for Android"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/max()

#### What information was incorrect, unhelpful, or incomplete?

The compatibility list says that `max()`, `min()`, and `clamp()` are not supported on Firefox and Opera for Android, but I just tested them and they all worked on both browsers on my Android phone.

#### Specific section or headline?
Compatibility list

#### What did you

[2021-01-30 14:47] Ryuno-Ki commented on #1854
Hm, okay.

Are you familiar with Node.js and/or git?
If so, you could set up a local environment:
https://github.com/mdn/content#more-substantial-changes
and test the changes there.

If not I can check it out for you.

The idea is to be able to make changes locally (= on your machine) and check whether it fixes the problem. If you need help, let us know.

[2021-01-30 15:05] kauer3 commented on #1854
With git, yes.
I'll check if it works!

[2021-01-30 15:45] 4172580636 opened #1902 "[xorm] [info] 2018/08/03 12:30:22.472164 PING DATABASE sqlite3"
html code {
    Accept = "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8";
    "User-Agent" = "Mozilla/5.0 (iPhone; CPU iPhone OS 14_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148";
}

[2021-01-30 17:47] #1902 closed

[2021-01-30 18:07] randycasburn opened #1903 "Issue with "Browser Extensions": sub-documents not clear about limited availability of API"
MDN URL: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions

#### What information was incorrect, unhelpful, or incomplete?

Related issues: https://github.com/mdn/browser-compat-data/issues/8906#issue-797492653

Not incorrect exactly, but sub-documents require review in order to clarify the context of existence.

#### Specific section or headline?

All sub-documents related to

[2021-01-30 18:20] sorawee commented on #1309
I'm the one who originally wrote "8 values" in the wiki.

The reason is that `0` and `-0` are really different values, whereas `0n` and `-0n` are the same value.

[code]

More specifically, `0` and `-0` are not observationally equivalent, as the following program shows:

[code]

I think it's fine to not put any number at all, as @sideshowbarker did, but please put `0` and `-0` in different rows. T

[2021-01-30 19:46] kauer3 commented on #1854
The links are working fine, there was no need to change anything.

[2021-01-30 19:56] scenaristeur opened #1904 "404 Bad link in french https://developer.mozilla.org/fr/docs/Web/API/API_IndexedDB/Using_IndexedDB"
at https://developer.mozilla.org/fr/docs/Web/API/API_IndexedDB/Using_IndexedDB#%C3%A0_propos_de_ce_document
in

 the link goes to the 404 https://developer.mozilla.org/en-US/IndexedDB/Basic_Concepts_Behind_IndexedDB

instead of https://developer.mozilla.org/fr/docs/Web/API/API_IndexedDB/Basic_Concepts_Behind_IndexedDB

[2021-01-30 20:24] Alien426 commented on #1898
I know about that and have done it before.

What I'm referring to, however, is a template that gets injected into the page. It appears after the "Index" header.
At the GitHub URL as &lt;div&gt;{{CSS_Ref}}&lt;/div&gt;.
At the MDN URL as a series of unordered lists with links. Some of which are dead.

[2021-01-30 20:28] Ryuno-Ki commented on #1898
Ah, okay.
That's one of the „kumascripts”.
You can find its source over at Yari: https://github.com/mdn/yari/blob/5cbb5addd2cb345f284d018ee2a07f8579332dda/kumascript/macros/CSS_Ref.ejs

Ping @peterbe if you need help.

[2021-01-30 20:30] Ryuno-Ki commented on #1904
Thanks for reporting. We're sorry. Right now, there will be no updates to translations.
See https://hacks.mozilla.org/2020/12/an-update-on-mdn-web-docs-localization-strategy/ for the background.
I'm going to close this issue.

[2021-01-30 20:30] Alien426 commented on #1898
Thanks. I'll have a look around.

[2021-01-30 20:34] fusunyu opened #1905 "Document.execCommand()"
Hi

I am new to web design. When I google Document.execCommand() I get links to the pages listed below.

https://developer.mozilla.org/en-US/docs/Web/API/Document/execCommand
https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Interact_with_the_clipboard

One page says Document.execCommand() is deprecated and this feature is no longer recommended. The other page is normal with t

[2021-01-30 20:34] Ryuno-Ki commented on #1854
Hm. As far as I know, at build time, the ID get's lowercased.
Could you submit a PR with both (id and href) using a lowercased version?
It can take up to 48h after a PR gets merged to show up on production.

[2021-01-30 20:35] Ryuno-Ki commented on #1905
Hi @fusunyu.

Short answer: both :)

I've asked Chris the very same question the other day. You can find his answer in https://github.com/mdn/content/issues/1807#issuecomment-768971712

If that helps you, please close the issue :)

[2021-01-30 20:53] kauer3 commented on #1854
Ok, so I'll do that to every id and href on this page, not just those mentioned earlier, because all of them are uppercased.

[2021-01-30 20:55] Ryuno-Ki commented on #1854
Yes, please! Looking forward to your PR :-)
(I'm going to be offline for the rest of the day)

[2021-01-30 21:39] kauer3 commented on #1854
#1906

[2021-01-30 21:54] Artoria2e5 commented on #1777
Now I am split between two ways to do this:

1. Change https://github.com/mdn/content/blob/master/files/en-us/web/html/element/img/index.html to add another note below the table. The argument is that mp4 is not really an image format, so the table shouldn't be changed.
2. Change https://github.com/mdn/content/blob/main/files/en-us/web/media/formats/image_types/index.html to add the mention in the

[2021-01-30 23:56] wealthyamagre opened #1907 "Issue with "400 Bad Request": (short summary here please)"
I am priscilla Akpevwe Amagre, i applied for a loan and text message was sent to me via inbox, i was ask to put my BVN, when i put it, it was showing the BVN dose not exist,is about a week now . sir i really need your assistance so if you can resend me the message again so that i can get the loan.Thanks sir. MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/400

#### What informati

[2021-01-31 00:27] jmejiaxdev opened #1908 "Issue with "Mobile first": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/Progressive_web_apps/Responsive/Mobile_first

#### What information was incorrect, unhelpful, or incomplete?
The URL [Planning your App](https://developer.mozilla.org/en-US/docs/Web/Apps/Planning_your_app) is broken

#### Specific section or headline?
First paragraph

#### What did you expect to see?
Planning your App content

#### Did you test

[2021-01-31 02:06] jamespfluger opened #1909 "Issue with "version": Broken link"
MDN URL: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/version

#### What information was incorrect, unhelpful, or incomplete?
The link for "Version format" is broken and leads to a "Page not found error"
![image](https://user-images.githubusercontent.com/16975008/106372560-a3eba000-6325-11eb-97c6-e0aeea0854ba.png)

#### Specific section or headline?
Beneath

[2021-01-31 02:09] jamespfluger commented on #1909
I believe the link *should* point to either this URL or another updated one, of which I have not yet found
https://developer.mozilla.org/en-US/docs/Mozilla/Toolkit_version_format

The source of the broken link appears to be in this file at, currently, line 31:
https://github.com/mdn/content/blob/2d423bd1a98b85b8584f08990792ebf39fcea56b/files/en-us/mozilla/add-ons/webextensions/manifest.json/versio

[2021-01-31 04:28] Lordishh opened #1910 "Error?"
Hi. I have read all about some methods and have come to notice that in the replace method, in the examples part with "global" and "ignore", they use the following syntax:

![asd](https://user-images.githubusercontent.com/70355763/106374567-365e6480-6363-11eb-9dfb-8a480fa158e7.png)

However, this way the flags are not working for me. Quite the opposite if I change "gi" to "ig".

[2021-01-31 11:14] Ryuno-Ki commented on #1910
Hi @Lordishh,

would you mind to share the page you found the code snippet on?

[2021-01-31 11:19] Ryuno-Ki opened #1912 "Typo Javascript vs JavaScript"
On https://developer.mozilla.org/en-us/docs/Web/HTML/Global_attributes/tabindex the explanation for `tabindex="-1"` shows `Javascript` instead of the correct spelling of `JavaScript`.

Thus the following line needs an update:

https://github.com/mdn/content/blob/d54141e8f5fac3effe8ed12fcde9369617e655ba/files/en-us/web/html/global_attributes/tabindex/index.html#L23

[2021-01-31 11:29] Ryuno-Ki commented on #1907
Seems unrelated to MDN web docs. I'm going ahead and close it as invalid.

[2021-01-31 11:29] #1907 closed

[2021-01-31 12:27] Lordishh commented on #1910
This si the page:
https://developer.mozilla.org/es/docs/Web/JavaScript/Referencia/Objetos_globales/String/replace

El dom., 31 de ene. de 2021 08:14, André Jaenisch <notifications@github.com>
escribió:

[2021-01-31 12:31] AnandBIT commented on #1912
I would like to work on this issue

[2021-01-31 12:34] Ryuno-Ki commented on #1910
¡Gracias!

Be aware, that non-English pages aren't updated for the time being:
https://hacks.mozilla.org/2020/12/an-update-on-mdn-web-docs-localization-strategy/

That being said, the English version shows the same code snippet:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/replace#using_global_and_ignore_with_replace

The respective source code can be fou

[2021-01-31 12:39] Ryuno-Ki commented on #1912
Sounds great!
I assigned the ticket to you.

Looking forward to a PR :-)

[2021-01-31 12:47] Ryuno-Ki commented on #551
I did some research:

https://github.com/mdn/content/blob/d54141e8f5fac3effe8ed12fcde9369617e655ba/files/en-us/mozilla/developer_guide/interface_development_guide/index.html#L29

https://github.com/mdn/content/blob/d54141e8f5fac3effe8ed12fcde9369617e655ba/files/en-us/mozilla/developer_guide/build_instructions/index.html#L110

https://github.com/mdn/content/blob/d54141e8f5fac3effe8ed12fcde9369617e6

[2021-01-31 12:54] AnandBIT commented on #1912
Fixed the typo, please check @Ryuno-Ki

[2021-01-31 14:25] Aayushap1 commented on #1533
I want your help, i want to start open source contributions . I am familiar with github how to push pull request.
I want to fix basic issues plz assign basic issues to me of **HTML CSS  javascript** plz plz help me

[2021-01-31 14:28] Aayushap1 commented on #1909
i want to work on this issue please assign it to me

[2021-01-31 14:29] Aayushap1 commented on #1899
@benkasminbullock , I want to work on this issue please assign it to me

[2021-01-31 14:30] Ryuno-Ki commented on #1912
Thanks!
Since this is a change to the HTML part of MDN web docs, someone from the @yari-content-html will need to review it. (The members are listed in [REVIEWING.md](https://github.com/mdn/content/blob/main/REVIEWING.md#topic-review-owners)

[2021-01-31 14:32] Ryuno-Ki commented on #1533
@Aayushap1 The change Kartikaya mentioned would be done for Firefox, which is tracked in Mercurial. Please get in touch with @staktrace if you want to contribute there.

[2021-01-31 14:33] Ryuno-Ki commented on #1899
@rachelandrew Would you be okay with that, given that you use #1712 to track those missing attributes?

[2021-01-31 14:35] Ryuno-Ki commented on #1909
Could someone from @mdn/yari-content-mozilla-add-ons help out with determining the correct target here first?

[2021-01-31 14:46] benkasminbullock commented on #1899
I don't know how to do that. Since I'm not the repository owner I might not be able to assign people.

[2021-01-31 14:48] rachelandrew commented on #1899
I would suggest leaving a comment on #1712 then I know not to do that one.

[2021-01-31 14:52] Ryuno-Ki commented on #1899
@Aayushap1 Take it away!
I'm going to leave a comment in #1712.

[2021-01-31 14:53] Ryuno-Ki commented on #1712
@Aayushap1 is going to work on the `async` attribute page (perhaps also `defer`) and tracks the progress in #1899

[2021-01-31 14:55] rachelandrew commented on #1912
Thanks!

[2021-01-31 14:55] #1912 closed

[2021-01-31 16:15] ifrh opened #1915 "FeatureRequest with "Django Tutorial Part 10: Testing a Django web appl…": (Please show a UnitTest for Admin-Site "action"-)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Testing

A great overview of testing with python django ! Thank you very much.

#### What information was incorrect, unhelpful, or incomplete?
No example is given for writing a unit test which should test a "action" from admin site list views.

#### Proposed section or headline
Testing actions from admin site list views

##

[2021-01-31 17:21] edemaine opened #1916 "Issue with "<image>": missing crossorigin"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/SVG/Element/image

#### What information was incorrect, unhelpful, or incomplete?

SVG 2 added support for the `crossorigin` attribute which isn't mentioned.  See https://svgwg.org/svg2-draft/embedded.html#ImageElementCrossoriginAttribute

#### Specific section or headline?

Specific attributes. Could also mention in SVG 2 Comments column (whic

[2021-01-31 17:31] Ryuno-Ki commented on #1916
Thanks for bringing it to our attention.
Since I'm member of the [SVG topic owners](https://github.com/mdn/content/blob/main/REVIEWING.md#topic-review-owners) I'm assigning this to myself.

Will look into it over the course of the following days (booked with another private project for today already).

[2021-01-31 17:34] Ryuno-Ki commented on #379
It could also be used if you have a brand name which must not be broken apart (think `MDN&nbsp;web&nbsp;docs`).

Would it make sense to categorise the hits by elements and attributes and tell the script to blacklist certain elements and attributes? (Thinking of `<code>` and `style` here).

[2021-01-31 17:36] Ryuno-Ki commented on #1152
So if I got that right, the task is for @rachelandrew to add more content?

[2021-01-31 18:08] rachelandrew commented on #1152
@Ryuno-Ki yes, it's assigned to me so it's on my list.

[2021-01-31 19:39] Lordishh commented on #1910
I would be delighted, but Github is not used very well

El dom., 31 de ene. de 2021 09:34, André Jaenisch <notifications@github.com>
escribió:

[2021-01-31 20:09] Ryuno-Ki commented on #1910
Give it a try!

You can either
1) fork the repo, check out the code locally, make the changes and push it. Then open a PR or
2) do the edits from the GitHub Web UI.

We're here to help if you need assistance :-)

[2021-01-31 21:40] jribbens opened #1917 "Issue with "Date.prototype.toLocaleDateString()": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleDateString

#### What information was incorrect, unhelpful, or incomplete?

The sample code `toLocaleDateStringSupportsLocales` does not work as described.

#### Specific section or headline?

Checking for support for locales and options arguments

#### What did you expect to see?

The function n

[2021-01-31 22:25] jvanstone commented on #1109
Thank you Hamish!!  I am not sure how I missed that.

All the best!
Jason

[2021-01-31 23:09] hamishwillee commented on #379
FWIW

1. Generally the only case that is actually "important" is in code, because that is usually  done for layout. All other cases like brand names etc. are not very important - yes someone in a marketing team somewhere might be irritated, but no reader will care.
2. I much prefer the explicit `&nbsp;` over HTML/character codes when editing.
3. I would prefer it be done globally rather than as a

[2021-01-31 23:36] hamishwillee commented on #551
Essentially these point to mediawiki tags. MDN still has tags, they just aren't referenced with the same URL. So the "easy fix" would be to replace these links with whatever we use to link to a list of all topics with a particular tag in the current docs system ..... Which is?

I think we can close two of the issues either way. I still think being able to link to lists of tags is useful - otherwis

[2021-01-31 23:55] hamishwillee commented on #1777
If it were me I would add it in `img` (your point 1). The first doc is about what you can use in an img element - so it definitely applies there.
The second doc is about image formats; while the information would not be inappropriate as a note it isn't as relevant for most readers of the page.

Something to consider is that while animated gif is terrible compared to video, AVIF is much better - in

[2021-02-01 00:08] hamishwillee commented on #1915
@ifrh Thanks for posting this. Yes, that could be interesting as it isn't documented properly. Some resources from around the place to help with this:
- A video: https://youtu.be/S1hPHP9wBhw
- Checkout what Django did in their tests: https://github.com/django/django/blob/master/tests/modeladmin/tests.py
- This might be useful too: https://stackoverflow.com/a/54667823/894359

Would you like to take

[2021-02-01 00:20] hamishwillee commented on #1726
Thanks @Rumyra - I'll take this one then. Cheerio

[2021-02-01 01:50] Lordishh commented on #1910
Okay, I'll try.

[2021-02-01 02:48] #1737 closed

[2021-02-01 02:50] #1710 closed

[2021-02-01 02:52] makotoshimazu opened #1926 "How can I contribute to translating the document?"
Hi,
I've occasionally contributed to translation of the documents, and found that the process to edit the page has been changed under the Open Web Docs project.
I couldn't find the document describing how to contribute to translation (at least in neither of the README.md and https://developer.mozilla.org/).
Can I ask how to do that, and is it possible to document it on README.md?

Thanks!

[2021-02-01 03:45] sideshowbarker opened #1928 "Document “stringifier” in the glossary or other appropriate place"
See https://github.com/mdn/content/pull/1670#pullrequestreview-575288862

[2021-02-01 04:26] hamishwillee commented on #1726
@chrisdavidmills This should be more or less ready for review. I added comment for the dev team just then, so there might be further comments of course.

[2021-02-01 05:44] hamishwillee commented on #1856
Probably :-)

@chrisdavidmills is there already and instruction on how to pick up issues, and what types there are? I had a quick scan - was expecting to see it here: https://github.com/mdn/content/blob/main/README.md

Further, as an aside, looking at the [section on simple changes](https://github.com/mdn/content/blob/main/README.md#simple-changes) it assumes you have to navigate to the page via g

[2021-02-01 05:49] hamishwillee commented on #1408
FYI I am not ignoring this, and happy for someone to take it on. Just "time poor". I will get to it at some point.

[2021-02-01 06:35] sideshowbarker commented on #1309
Fair enough. I’ve raised https://github.com/mdn/content/pull/1931 for that

[2021-02-01 06:50] #1838 closed

[2021-02-01 08:01] rachelandrew commented on #1209
The work on documenting portals is on hold for now.

[2021-02-01 08:01] Ryuno-Ki commented on #1209
@chrisdavidmills Can we have a label for this status? („On hold”)

[2021-02-01 08:06] chrisdavidmills commented on #1856
This is covered at https://developer.mozilla.org/en-US/docs/MDN/Contribute/Fixing_MDN_content_bugs. I am happy to receive suggestions for improving it.

I'm not sure it does, does it? It talks about using the GitHub UI to fix simple changes, but it doesn't particularly specify how to get to finding a page that needs fixing? In any case, I think it would be good to update that section to mention th

[2021-02-01 08:07] chrisdavidmills commented on #1209
Sure; added!

[2021-02-01 08:08] Ryuno-Ki commented on #1856
Exactly. That's why I expected to see as an answer.
Issues I marked as „good first issue” show the production site, the source file and outline what exactly needs to be changed.
That should be enough information to get started.
I offer help if there are technical problems, too (like: how do I get the code locally etc.). We have that in the README, too, but there's so much to read (I was looking fo

[2021-02-01 08:11] Ryuno-Ki commented on #1926
Hello @makotoshimazu,

thank you for your interest. Sadly, translations are frozen for now. See https://hacks.mozilla.org/2020/12/an-update-on-mdn-web-docs-localization-strategy/ for the background.

I'm going to close this issue for now.

[2021-02-01 08:11] #1926 closed

[2021-02-01 08:59] ayoubmehd opened #1933 "Suggestion: add issue and pull request template"
**It will make it easy for new contributors to have a template for pull requests and issues.**
Add issues and pull request template for suggestion bug report and so on...
https://docs.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository
https://docs.github.com/en/github/building-a-strong-community/creating-a-pull-request-template-for-your-repository

[2021-02-01 09:18] chrisdavidmills commented on #1933
Yes, I totally agree with this. I've added it to our lists of todos for creating an effective content collaboration process.

Thank you @ayoubmehd !

[2021-02-01 09:28] chrisdavidmills commented on #1909
@jamespfluger was correct with his above assertion; the link should point to https://developer.mozilla.org/en-US/docs/Mozilla/Toolkit_version_format.

[2021-02-01 09:30] Aayushap1 commented on #1712
@Ryuno-Ki you can assign this task to me

[2021-02-01 09:30] Aayushap1 commented on #1712
this one

[2021-02-01 09:37] chrisdavidmills commented on #1908
Thanks for reporting this, @jmejiaxdev

The "Planning your app" article is really out of date, so I've removed the link, and rewritten the intro paragraph so that the article stands on its own. See https://github.com/mdn/content/commit/376e53cd094a3a72634f9911ccb562c15fb059ba for the update.

[2021-02-01 09:37] #1908 closed

[2021-02-01 09:46] chrisdavidmills commented on #1904
Ooop, hold on @Ryuno-Ki . We are working on unfreezing the fr locale at the moment, because we have a dedicated community standing by that is prepared to maintain it for us (the same is true for ja/zh-CN/zh-TW). So those locales should be labeled, and not closed.

[2021-02-01 09:49] Elchi3 commented on #1712
Thanks for elaborating this some more, @rachelandrew! Makes sense to me then.

@Aayushap1 looks like #1899 is already assigned to you. Cheers!

[2021-02-01 09:51] Aayushap1 commented on #1712
Ok sir

On Mon, 1 Feb 2021 at 3:19 PM, Florian Scholz <notifications@github.com>
wrote:

[2021-02-01 09:58] Aayushap1 commented on #1899
sir,  please tell me me link which I have to add in "asyn" and "defer".

[2021-02-01 10:10] zumoshi opened #1937 "Issue with "HTTP caching": Wrong label on HTTPCachtType.png diagram"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Caching

#### What information was incorrect, unhelpful, or incomplete?
The Shared cache section labels the `Caching proxy` as `Browser 1`.

#### Specific section or headline?
Different kinds of caches ([picture](https://media.prod.mdn.mozit.cloud/attachments/2016/08/20/13777/27990fd7280c85641b4de27561f7e653/HTTPCachtType.png))

#### What

[2021-02-01 10:21] Aayushap1 commented on #1712
sir, please provide me data or link which I have to add in **async and defer.**

[2021-02-01 10:27] #1844 closed

[2021-02-01 10:35] corskester opened #1938 "Issue with "ARIA: listbox role": broken link Option Role""
MDN URL: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/listbox_role

#### What information was incorrect, unhelpful, or incomplete?
there is a link under "See also" that refers to https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Option_role as "Aria: Option role", however, this is a non-existent page.

#### Specific section or headline?
See also

#### W

[2021-02-01 10:43] makotoshimazu commented on #1926
Thanks for the pointer to the article!
Now I understand it's in frozen state for now and the tier-1 locales are going to be unfrozen.
Do you have an idea of when it will be?

[2021-02-01 10:47] chrisdavidmills commented on #1926
@makotoshimazu We are hoping that it won't be too long; our engineers are working on it now.

[2021-02-01 10:47] Aayushap1 commented on #1712
I got it !!!! and I started working on **asyn** so I will submit PR with in 24 hours from now

[2021-02-01 10:49] chrisdavidmills commented on #1938
The option role page doesn't exist yet, so to fix this properly, the assignee would have to create a new page for it.

[2021-02-01 10:49] makotoshimazu commented on #1926
Thanks a lot for your quick response. Great to hear that!

[2021-02-01 11:10] Elchi3 opened #1940 "API structure conventions: mixins"
Here we are again talking about mixins :) There isn't actually an issue on mdn/content yet that will formally decide about mixins, so I'm opening this one. Fun fun fun!

Please also read https://github.com/mdn/browser-compat-data/issues/472 for prior discussions.
And if you are concerned about how inheritance structures (as opposed to mixins) are documented, then please read https://github.com/mdn

[2021-02-01 12:20] lusoftware commented on #1428
Hi, there are two same problems on this page https://developer.mozilla.org/zh-CN/docs/Web/API/Event/stopPropagation.
1. current: https://developer.mozilla.org/zh-CN/DOM/event.preventDefault
    actual: https://developer.mozilla.org/zh-CN/docs/Web/API/Event/preventDefault

2. current: https://developer.mozilla.org/zh-CN/Gecko_DOM_Reference/Examples#Example_5:_Event_Propagation
    actual: https://d

[2021-02-01 12:21] sridhar02 commented on #1917
@chrisdavidmills I would like to work on this issue

[2021-02-01 12:36] richie3355 opened #1942 "Issue with "chrome_settings_overrides": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/chrome_settings_overrides

Lets assume you name your search provider as WebSearch1 and then rename as WebSearch2 in the next update of the addon the search provider stops working. Is this an expected behaviour?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/mozilla/add-ons

[2021-02-01 12:46] jribbens commented on #1917
It occurred to me to check the page for `toLocaleString` - that page has an almost identical code sample, except it doesn't have the bug. It uses `e instanceof RangeError` rather than `e.name === 'RangeError'`.

The page for `toLocaleTimeString` has a code sample identical to my suggested fix above.

I don't know which is better out of `e.name === 'RangeError'` and `e instanceof RangeError` but I'

[2021-02-01 12:48] Aayushap1 commented on #1712
@rachelandrew , @Ryuno-Ki ,  @Elchi3 I solved the issue #1899 please review and merge my pull request

[2021-02-01 12:49] Aayushap1 commented on #1899
@Ryuno-Ki  I fixed this issue and sent pull request please review and merge .

[2021-02-01 12:53] Rumyra commented on #1722
https://github.com/mdn/content/pull/1945 - it was already linked but needed to be added to the code example

[2021-02-01 13:00] Rumyra commented on #1722
* Feature was added last release so no extra docs needed (just the PR above)
* No BCD updates required
* I don't believe there are any interactive examples for @@unscopable

The only thing is should there be a note added to the `at()` in Experimental Features? https://developer.mozilla.org/en-US/docs/Mozilla/Firefox/Experimental_features#relative_indexing_method

[2021-02-01 13:46] richie3355 commented on #1942
after debugging the ff code found that in SearchServices.jsm searches for the searcheengine based on the key and any update on engine name does not change the key and only the _name inside values

[2021-02-01 14:33] rpl commented on #1909
I do also confirm that at the moment we don't have a better page ("better" as in "not archived") to point that link to, and so I think it would be good to update the existing link url to point to https://developer.mozilla.org/en-US/docs/Mozilla/Toolkit_version_format for now.

@jamespfluger Feel free to go ahead and submit the PR to update the url (don't worry if you can, let us know and we will t

[2021-02-01 14:35] chrisdavidmills commented on #1917
Assigned; thanks for your interest @sridhar02, and let us know if you need any help.

[2021-02-01 14:37] rpl commented on #1909
@caitmuenster I'm thinking that it may be reasonable to also open a separate follow up for this issue, one aiming to create a short WebExtensions mdn doc page to describe the Extension Manifest version format (and maybe in that page link the archived Toolkit version format page, provided mainly for completeness and access to the historical content available in the archived page) or to describe the

[2021-02-01 15:03] dontcallmedom commented on #1940
My own natural inclination is the same as your, option (2) above; I guess the questions of duplication of content will be key to figure out implementability though.

[2021-02-01 15:30] AnandBIT commented on #1831
I'm not able to understand what the issue is here, can someone help me?

[2021-02-01 15:49] Elchi3 opened #1948 "API structure conventions: dictionaries"
MDN doesn't consistently document dictionaries.
This came up within the BCD context previously as well in https://github.com/mdn/browser-compat-data/issues/7287
This issue is about making a call on MDN documentation structures.

<hr>

"[Web IDL dictionaries](https://heycam.github.io/webidl/#idl-dictionaries) are a spec author convenience for describing plain JavaScript objects. Dictionaries are ty

[2021-02-01 16:25] dontcallmedom commented on #1948
I prefer (3) although I suspect there are cases where (2) is more appropriate, e.g.:
* dictionaries that are re-used in multiple APIs, or inherited from multiple other dictionaries
* dictionaries whose inline documentation would make the page very long / hard to grok

In other words, I think (3) makes the best default approach, but we should probably leave room for (2) when warranted; I think (1)

[2021-02-01 17:36] jpmedley commented on #1940
I have always been an advocate of option 2. (I should note that while Chrome does use mixins in our IDL, we don't always use the ones listed in web specs. Rachel and I bumped into an example of this last week, which I can't seem to find at the moment.)

It seems to me that to do this properly, there should be some kind of inclusion mechanism for both MDN pages and BCD. I don't know what that needs

[2021-02-01 17:49] Aayushap1 commented on #1712
Hello @Ryuno-Ki  @rachelandrew ,
I need your help, after first review when I updated the pull request file. It is **getting 1 check failure**. I have checked several times, but the I feel code is correct. Please help me in merging my pull request to your repo.
Please **review my pull request**

[2021-02-01 17:55] peterbe commented on #1854
Oh no. It's either a regression or it's a matter of some code that hasn't landed yet :(

But if the raw HTML is this:
[code]

it *should* become...

[code]

...when it gets rendered out.
I'll take care of looking into this on the Yari side.

[2021-02-01 18:01] Ryuno-Ki commented on #1854
Thanks for tracking this, @peterbe

[2021-02-01 18:02] Ryuno-Ki commented on #1712
Dear @Aayushap1,
I just came back from my work. Give me some minutes to check the PR.
Thanks for your patience.

[2021-02-01 18:05] Ryuno-Ki commented on #1712
Okay, it looks like you confused some bits: https://github.com/Aayushap1/content/pull/1
The PR needs to go against `mdn/content` and not against the fork you've opened to add changes.

Or perhaps the PR is https://github.com/mdn/content/pull/1943 ?

[2021-02-01 18:12] Ryuno-Ki commented on #1940
Hm, I searched Microsoft/TypeScript repo but couldn't find any reference there.
I wonder how they implement it.
Alternatively: Does Facebook's Flow has support for this ootb?

[2021-02-01 18:18] Ryuno-Ki commented on #1948
Unless they have former Python knowledge, where a `dict` corresponds roughly to a JS object literal ;-)
Perhaps we should make clear, that it is not a distinct type like Map or Object.

I have no strong feelings about either option (since I haven't get my hands dirty with making changes on MDN yet).

[2021-02-01 18:23] Aayushap1 commented on #1712
sorry I named wrong name to the file.
Now every thing is fine
Please  review my pull request #1943 and merge

[2021-02-01 18:26] Ryuno-Ki commented on #1712
I can confirm, that the tests pass now. I leave the review to Rachel.

[2021-02-01 18:26] peterbe commented on #1854
I'm going to make https://github.com/mdn/yari/issues/2763 a priority. What's happening is that the anchor links only get "corrected" in build-time if you have flaw detection enabled. Something we don't have when we run the prod builds.

[2021-02-01 18:26] Aayushap1 commented on #1712
Thanks sir

[2021-02-01 18:27] Ryuno-Ki commented on #1831
This is a „meta issue” which is used to keep check on all open issues with respect to a certain topic.
Those will be then closed with several PRs.

[2021-02-01 18:29] Ryuno-Ki commented on #1899
As mentioned in the other ticket, #1943 will be reviewed by Rachel.

[2021-02-01 18:37] Ryuno-Ki commented on #1904
Good to know. I'm sorry, @scenaristeur.
Must have missed a memo.

[2021-02-01 18:52] ifrh commented on #1915
@hamishwillee Thanks for your pointers :)

Just now I found https://stackoverflow.com/a/54799934 and https://stackoverflow.com/a/29027215  which are answers to "Testing custom admin actions in django".

There (https://stackoverflow.com/a/29027215) it is written:
`change_url = urlresolvers.reverse('admin:app_model_changelist')`
Just pass the parameter `action` with the action name.
`response = clie

[2021-02-01 19:09] musalehad opened #1956 "CA Suffixed to French Currency Numberformat in Chrome"
Using Intl.Numberformat for french currency causes the number to be suffixed with CA in chrome but not in firefox, safari or IE.
For examples, to format `123.456` i would get `123.456 $ CA` in chrome but `123.456 $` everywhere else.

This issue can be recreated with the below code

[code]
Im not sure if this is the right location to post this issue but if possible please provide a workaround for t

[2021-02-01 19:10] jpmedley commented on #1948
I also prefer 3, granting that it, like #1940 also argues for a reuse or inclusion mechanism. The poster child for this is the Payment APIs. The data used in a transaction has similar structures in different places. To even get a handle on this when documenting it, I printed all the structures, taped them into one sheet of paper, and drew lines to indicate, which properties pointed to which child

[2021-02-01 20:04] Anmepod44 commented on #1820
Thank you very much @hamishwillee  below is the full track trace

Environment:

Request Method: GET
Request URL: http://localhost:8000/admin/login/?next=/admin/

Django Version: 3.1.5
Python Version: 3.8.3
Installed Applications:
['django.contrib.admin',
 'django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'django.contrib.messages',
 'django.contrib.staticfiles',
 '

[2021-02-01 20:08] Ryuno-Ki commented on #1820
I've took the liberty to add syntax highlighting :)

[2021-02-01 21:26] hamishwillee commented on #1820
:-). Thanks. I think I need to look at running code. Can you please upload your source to github.

[2021-02-01 22:08] scenaristeur commented on #1904
No worry for me, just want to help some other devs to find doc, and admins to find memos ;-)

[2021-02-01 22:11] hamishwillee commented on #1831
1. What's the trigger/timing for this work? Firefox still uses Feature Policy.
1. While I know that Feature Policy is entirely replaced (at least in FF) the APIs are different, and presumably some people might still need to understand the old version? Does this mean we have separate docs and deprecate/archive the Feature policy ones?

[2021-02-01 22:22] jpmedley commented on #1831
We need to discuss how to handle these changes. Because the policy names are changing per the spec, FF and all the other browsers will eventually, need to follow. At that point, MDN should use the then current names instead of the old ones. That means redirects and notes in the BCD.

None of this is ideal, but it's the kind of thing that happens from time to time with cutting edge web features.

[2021-02-01 22:27] hamishwillee commented on #1940
So `requestAnimationFrame` and `cancelAnimationFrame` used to be `Window` only methods, but it were recently been added to `DedicatedWorkerGlobalScope` (well both really) via the mixin:
[code]
Other cases I've seen document this in the mixin and then refer to it in `Window` say as "methods documented in other classes". What is it you see happening here - it gets documented in both places.

For ref

[2021-02-01 22:33] jpmedley commented on #1940
In the short term, yes. (I know. 😞). In the long term we need some kind of inclusion mechanism. This is the only way to keep information out of MDN that has no relevance to writing an actual script.

[2021-02-01 22:39] hamishwillee commented on #1940
Thanks @jpmedley. We do "kind of" have page inclusion now via a macro - that might be able to pull specific sections for methods from mixin docs into relevant pages? That mechanism feels fragile to me though.

[2021-02-01 22:42] caitmuenster commented on #1909
@rpl Yes, let's open a new issue for that! Let me dig up the archived page for https://developer.mozilla.org/en-US/docs/Toolkit_version_format and see what we're dealing with.

[2021-02-01 22:46] caitmuenster opened #1959 "Need content about WebExtensions versions formatting"
Related to #1909. On https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/version, we write, "For the details of the version format, see the [Version format page](https://developer.mozilla.org/en-US/docs/Toolkit_version_format)." `version format page` is a deadlink to https://developer.mozilla.org/en-US/docs/Toolkit_version_format.

We should either restore the dead

[2021-02-02 00:34] caitmuenster commented on #1959
Did some digging and it looks like the archived page can be found at https://github.com/mdn/archived-content/blob/main/files/en-us/mozilla/toolkit_version_format/index.html.

It looks like the relevant part is captured in lines 21 - 77.

@rpl, if that looks right to you, I can submit a PR to re-add this content.

[2021-02-02 01:09] joshjohnson opened #1964 "Issue with "Content-Encoding": "identity" is not a valid value for the Content-Encoding header"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encoding

#### What information was incorrect, unhelpful, or incomplete?

The documentation provides examples with token values of "identity" for the Content-Encoding header, and a statement that the identity token, except if explicitly specified, is always deemed acceptable.

However, I believe the identity token is disall

[2021-02-02 02:18] hamishwillee commented on #551
This should be closed by https://github.com/mdn/content/pull/1966

[2021-02-02 04:38] myakura commented on #1956
I don't have a workaround for you (sorry), but you might want to file a bug against Chrome from https://crbug.com/new .

[2021-02-02 04:48] myakura commented on #1882
good catch. it looks like the documentation hasn't been updated to take account of the current spec (and implementation). `read()` returns a Promise object which resolves to an array of `ClipboardItem` objects.

https://web.dev/async-clipboard/
https://webkit.org/blog/10855/

[2021-02-02 04:56] myakura commented on #1882
looks like a dupe of #1036

[2021-02-02 05:05] JeevanSadalge2020 opened #1976 "Issue with "Express/Node introduction": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/Introduction

#### What information was incorrect, unhelpful, or incomplete?
The external link to a site namely "http://hotframeworks.com/" is insecure and not related.

#### Specific section or headline?
HOW POPULAR ARE NODE AND EXPRESS

#### What did you expect to see?
another link or change in content

#### Did y

[2021-02-02 05:25] Anmepod44 commented on #1820
Thanks

Here is a link to my code
https://github.com/Anmepod44/first-django-site.git

[2021-02-02 05:32] alpesh230 opened #10255 "Set Custom Validity Work"
In Firefox Browser we use set Custom message on input field using setCustomValidity('invalid input') its work perfectly first time. after second click its not working properly please check below link
https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5/Constraint_validation#constraint_combining_several_fields_postal_code_validation
In this section one form which is input field please chec

[2021-02-02 05:38] Aayushap1 commented on #1712
@rachelandrew I fixed #1899 .  Please review my PR #1943.

[2021-02-02 06:13] hamishwillee commented on #1729
@chrisdavidmills All the bits of this are now done. When you've reviewed can you please go to the but and update dev-doc-complete?

[2021-02-02 06:15] rachelandrew commented on #1940
It would be lovely for a mixin to also be able to be a mixin in the docs :)

For now it would just be good to have a way forward that works for the majority of cases and that doesn't close the door on being able to address it in a better way in future. At least if we know where all the examples are, and they have been documented in a consistent way that should make it easier to convert them to som

[2021-02-02 06:37] nardog opened #1983 "Issue with "String.prototype.replace()": (section link broken)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/replace

#### What information was incorrect, unhelpful, or incomplete?
The link to the section "Specifying a function as a parameter" does not lead to the section as seemingly intended. The anchor needs to be lowercase.

#### Specific section or headline?
Parameters > function (replacement)

#### What

[2021-02-02 06:40] hamishwillee commented on #1976
Thanks very much @JeevanSadalge2020. This link used to be valid but the business that ran it has obviously shut down. I've removed the link in #1984.

[2021-02-02 07:03] Ryuno-Ki commented on #1983
@nardog Thank you for filling.
This was already reported in https://github.com/mdn/content/issues/1854
A fix is in the works at https://github.com/mdn/yari/issues/2763

I'm going to close this as duplicate.
Thanks again.

[2021-02-02 07:03] #1983 closed

[2021-02-02 07:06] Ryuno-Ki commented on #1712
@Aayushap1 Please be patient. Rachel will take a look at it when she got time.

[2021-02-02 07:07] sideshowbarker commented on #1629
Thanks for reporting this — I’ve opened https://github.com/mdn/content/pull/1985 with a fix.

[2021-02-02 07:08] Aayushap1 commented on #1712
Ok sir

On Tue, 2 Feb 2021 at 12:36 PM, André Jaenisch <notifications@github.com>
wrote:

[2021-02-02 07:11] sideshowbarker commented on #1733
The specification table is correct here. We intentionally link to the latest, actively maintained version of the spec, at https://drafts.csswg.org/resize-observer/. We intentionally do not link to the https://www.w3.org/TR/resize-observer/ document, which is out of date and obsoleted by the https://drafts.csswg.org/resize-observer/ version.

[2021-02-02 07:44] ydaniv commented on #1733
@sideshowbarker OK, now it shows a proper spec doc, before that it was something broken and useless, perhaps on CSSWG's side 🤷

[2021-02-02 08:12] sideshowbarker commented on #1733
Ah yes, sorry, that happens sometimes with the https://drafts.csswg.org/ server. I also ran into that problem recently. Maybe @plinss can comment here with some guidance for us about what we should do if/when we run into that problem again.

(Meanwhile I’m gonna go ahead and close this for now, but we can all still comment here.)

[2021-02-02 08:12] #1733 closed

[2021-02-02 08:23] annevk opened #1996 "Separate out upload streams in fetch()"
It's an unsupported feature at the moment, `ReadableStream` will be stringified instead which is rather useless. Hopefully it'll be improved later this year.

[2021-02-02 09:03] arturcarvalho commented on #1309
The points brought by @sorawee are very interesting.

 I was investigating the [Object.is](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/is#using_object.is) and the [Equality Comparison table](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Equality_comparisons_and_sameness#a_model_for_understanding_equality_comparisons) trying to find more informa

[2021-02-02 09:04] rachelandrew opened #1997 "Archive flexbox mixins page"
While searching MDN for references to interface mixins, I came across this page: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Mixins

This is pretty irrelevant information at this point, if a person really needs to support very old browsers they are probably better to use Autoprefixer, we also document fallback techniques here https://developer.mozilla.org/en-US/docs/We

[2021-02-02 09:25] AleksanderBodurri opened #1998 "Issue with "Web Periodic Background Synchronization API": Typo in example"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Web_Periodic_Background_Synchronization_API

#### What information was incorrect, unhelpful, or incomplete?
The example for the use of this api registers a tag as "fetch-news" and later refers to it as "get-latest-news". I believe these names should be the same. If necessary I can open a PR to fix this.

#### Specific section or headline?
h

[2021-02-02 09:26] rachelandrew commented on #1940
So ... if I am adding ARIAMixin, which was AriaAttributes to Element, for BCD does that mean adding all of these to the 9000+ line long Element BCD file?

[2021-02-02 09:32] chrisdavidmills commented on #1998
I think you're right, @AleksanderBodurri . Opening a PR would be much appreciated!

[2021-02-02 09:35] chrisdavidmills commented on #1997
I'd be happy for you to remove it outright, and then add a redirect to the backwards compat section you cite.

[2021-02-02 10:07] 552020 opened #2000 "Issue with "Introduction to HTML": Escaping HTML tags (lacking information)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML

#### What information was incorrect, unhelpful, or incomplete?

Being a HTML/CSS/Javascript lerner I was wondering how the topic is presented in MDN. But I couldn't find nothing in the tutorial. I first googled it  ("MDN html tags escape"). The most relevant page that show up is this one.:https://developer.mozilla.o

[2021-02-02 10:17] chrisdavidmills commented on #2000
Hi there @552020 !

When you say "tags", am I right in thinking that you are talking about reserved syntax characters, like `<` being escaped to "&lt;"? In which case, you are talking about entity references, which we cover here: https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Getting_started#entity_references_including_special_characters_in_html

If you are talking about

[2021-02-02 10:19] #1629 closed

[2021-02-02 10:33] #1998 closed

[2021-02-02 10:35] #1976 closed

[2021-02-02 11:06] Elchi3 commented on #1940
I've proposed a solution for BCD in https://github.com/mdn/browser-compat-data/issues/8929

[2021-02-02 11:20] tanishqdaiya opened #2002 "Video player styling basics"
There's an Incorrect Code in there. The player doesn't even show up and the JS shows some errors like videoControl is not defined kind of thing.

[2021-02-02 11:21] chrisdavidmills commented on #2002
@tanishqdaiya what page, or example are you talking about? Can you give me the URL?

Thanks!

[2021-02-02 11:30] foolip commented on #1948
I don't think my opinion should count for much when it comes to what's best for web developer documentation, but @dontcallmedom's comments in https://github.com/mdn/content/issues/1948#issuecomment-770980090 match my own views.

Because dictionaries are just plain objects in JS their names are invisible, but I'm not sure how to describe common shapes of objects with giving them a name. I would als

[2021-02-02 11:48] peaktemplate opened #2004 "Issue with "Test your skills: Strings": (Strings 1 exercise)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/Test_your_skills:_Strings

#### What information was incorrect, unhelpful, or incomplete?
para1   displays a SyntaxError: Unexpected identifier

#### Specific section or headline?
Problem is the declaration of the string variable.

let quoteStart = 'Don't judge each day by the harvest you reap ';

The word Don't creates

[2021-02-02 12:16] tanishqdaiya commented on #2002
https://developer.mozilla.org/en-US/docs/Web/Guide/Audio_and_video_delivery/Video_player_styling_basics

[2021-02-02 12:20] foolip opened #2005 "Document Atomics.waitAsync"
`Atomics.waitAsync` was [shipped in Chrome 87](https://groups.google.com/a/chromium.org/g/blink-dev/c/Kprh_FIyj74/m/ZG58hpO1AwAJ). It needs to be [added to BCD](https://github.com/mdn/browser-compat-data/issues/8930) and documented on MDN.

cc @jpmedley

MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript

[2021-02-02 12:21] tanishqdaiya commented on #2002
Actually the given code is not working. The live demo and all is ok.

[2021-02-02 12:56] Aayushap1 opened #2006 "Link from "accept-charset" is dead"
In attributes accept-charset link  is dead

[2021-02-02 12:56] chrisdavidmills commented on #2002
OK, so it sounds like you are saying that the code listing as it appears on the page doesn't work, but the live example does.

Have you got any idea what part of the code is not working? Or to put it another way, what bit of code started to cause problems?

Maybe you could go through your version and compare it to the source of the live version to see if you can see where it differs?

Have you got

[2021-02-02 13:01] chrisdavidmills commented on #2004
Hi @peaktemplate !

You are right that there is an error with `quoteStart`. This is part of the exercise.

There is a line in the exercise that says "You'll find that you get an error at this point. Can you fix the problem with `quoteStart`, so that the full quote displays correctly?" This is the error that the line is referring to.

I think we can close this one now, but feel free to reach out if

[2021-02-02 13:01] #2004 closed

[2021-02-02 13:04] Aayushap1 commented on #2006
I solved this issue @Ryuno-Ki @rachelandrew.
PR is #2007

[2021-02-02 13:23] chrisdavidmills commented on #1996
Affected page: https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/fetch (possibly others too)

Other info: We should probably update this content to separate out "upload streams" as currently no browser implements that but the documentation somewhat suggests they do (if you pass a ReadableStream object to fetch() today it'll stringify to [Object ReadableStream] or some such

[2021-02-02 13:35] Aayushap1 commented on #1712
I send a PR #2007 it is getting an error.
When anyone is free, please help in resolving that.
I created a file for accept-charset

[2021-02-02 13:47] 552020 commented on #2000
Hello @chrisdavidmills, yes! You're right! I meant what you say. Probably I was misled by the high (but proper) register of the title of the section while looking more for strategies to 'escape' these "entities" while citing html in html. My bad! At the end I found an online HTML _entity_ encoder/decoder. But I also understand that these entities are not 'escaped' the way they are escaped in JS bu

[2021-02-02 14:29] sideshowbarker commented on #1309
Both of those changes look great to me, so a PR would be very much welcome.

[2021-02-02 14:57] gorankami opened #2010 "Issue with "AbortController.abort()": Misleading error description caused by abort()"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/AbortController/abort

#### What information was incorrect, unhelpful, or incomplete?

At the bottom of Examples, a note is stated:
"Note: When abort() is called, the fetch() promise rejects with an AbortError."

This was a bit misleading for me because `abort()` throws `DOMException` and the `name` property is indeed `AbortError`, therefor

[2021-02-02 16:12] Aayushap1 commented on #1712
#2007 just need to reviewed. Please review @rachelandrew when you are free.

[2021-02-02 16:21] Aayushap1 opened #2012 "Link from "action" is dead"

[2021-02-02 16:21] chrisdavidmills commented on #2000
@552020 I dunno, I still think it is quite similar — in both cases you need to escape certain characters to avoid making the code error. In JS the errors are more explicit, whereas often in HTML you'll get a silent failure but the rendering might not turn out like you expected.

Glad we figured out this one anyway; good luck with your further study!

[2021-02-02 16:21] #2000 closed

[2021-02-02 16:22] Aayushap1 commented on #2012
I fixed this issue PR is #2013 .

[2021-02-02 16:30] chrisdavidmills commented on #1882
Yup, this is a dupe, so closing; thanks for taking the time to submit this one @tomOgn

[2021-02-02 16:30] #1882 closed

[2021-02-02 16:32] Aayushap1 commented on #1712
I solved

- [ ] action                     PR #2013
- [ ] accept-charset        PR #2007
- [ ] async  - [ ] defer      PR #1943

[2021-02-02 16:41] Rumyra commented on #1721
BCD PR https://github.com/mdn/browser-compat-data/pull/8935

[2021-02-02 16:58] Ryuno-Ki commented on #1996
@DannyMoerkerke Would you take a look at it?
I recall your demo at https://github.com/DannyMoerkerke/instant-multi-page-app
I _think_ it utilised ReadableStreams …

[2021-02-02 17:01] Rumyra commented on #1721
Release note: https://github.com/mdn/content/pull/2014

[2021-02-02 17:29] mcdevv opened #2015 "Issue with "Operator precedence": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Operator_Precedence

#### What information was incorrect, unhelpful, or incomplete?

I'm unsure about the purpose of the function echo() in the tables in section: Precedence and Associativity

#### Specific section or headline?

the "Output" column in the tables found in section: Precedence and Associativity

####

[2021-02-02 18:13] jpmedley commented on #1761
I agree. Look to the future. What I'm objecting to is abandoning the past before the replacement is ready to use.

[2021-02-02 18:47] jpmedley opened #2019 "[Intent to Document] Web NFC"
This ships in Chrome 89 (in beta at the time of writing).

https://www.chromestatus.com/features/6261030015467520
https://w3c.github.io/web-nfc/

[2021-02-02 18:59] mcdevv commented on #2015
More specifically,
I can see that the tables correctly demonstrate that the **order of evaluation** of
sub-expressions, i.e., the expressions that constitute the operands, ex: `echo("right", 2)`
is always left-to-right regardless of associativity and precedence.

However, I found it unclear that, in the second table, the **order of evaluation** is shown via echo(), and the paragraph following the

[2021-02-02 20:02] anhawtros opened #2022 "Issue with "switch": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/switch

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/javascript/reference/statements/switch`
* MDN URL: h

[2021-02-02 20:24] plinss commented on #1733
Yes, the CSSWG draft server is routinely getting hit by very aggressive crawlers these days (generally trying to scrape email addresses). It has several defenses, but the bots are getting smarter. Sometimes under heavy load (like hundreds of hits/second) the DB server runs out of connections and a rebuild process crashes leaving the DB in a bad state until I kick it.

It's a known issue and while

[2021-02-02 20:52] jpmedley commented on #1948
And sometimes other names or actually visible within script or its reference. I don't know how many function have an argument simply named `options` defined as a dictionary with a name like `WidgetParameters` or some such thing.

[2021-02-02 20:59] Ryuno-Ki opened #2024 "Accessible button using ARIA"
The other day, @weboverhauls [tweeted](https://mobile.twitter.com/dennisl/status/1356322656006492160)

I consider this important information and would like to see it on MDN web docs somewhere.

My first attempt was to look at https://developer.mozilla.org/en-us/docs/Web/Accessibility/ARIA/Roles/button_role but that already documents it (and does not mention `aria-checked` or `aria-selected`). We d

[2021-02-02 21:18] Ryuno-Ki commented on #1948
In ye olden days, this was called the „Configuration Object Pattern” and used to „trim down” the number of arguments (and define sane defaults etc).

[2021-02-02 21:20] Ryuno-Ki commented on #2022
@anhawtros What is the concrete issue here?
Did you open it by accident? If so, please close it :-)

[2021-02-02 21:21] morgaan opened #2025 "Issue with "Using the alert role": Example links lead to 404 pages"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_alert_role

#### What information was incorrect, unhelpful, or incomplete?
Working Examples links lead to Page Not Found pages

#### Specific section or headline?
https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_alert_role#Working_Examples

#### What did you e

[2021-02-02 21:30] Ryuno-Ki commented on #2025
@morgaan Thank you for reporting this.

@peterbe I assumed, this would have been caught by https://github.com/mdn/yari/pull/2604 - so perhaps the flaws didn't catch it?

The faulty line is

https://github.com/mdn/content/blob/72a31d9626a392f6a8ac178d93573c76a1a81bbf/files/en-us/web/accessibility/aria/aria_techniques/using_the_alert_role/index.html#L105

(I think, I spotted some more instances).

[2021-02-02 21:33] hamishwillee commented on #1761
Yes. Blanket removal of this markup without looking at why it was added is wrong. That said, I have given up hope of a supported HTML method appearing so have moved on to chasing this for markdown.

[2021-02-02 22:01] hamishwillee commented on #1997
@rachelandrew Awesome.

FWI only I had a chat about archiving with Chris last night. I'm pushing for:
1. Archive-specific link markup
1. Deletion of archive links if possible.
1. Deletion rather than archive if possible. If archive, "reason" added to doc metadata so that someone later can work out whether it is reasonable to delete.

I hate throwing away information, but unless there is a certain

[2021-02-02 22:03] TheCowMooooo opened #2026 "Subtitle link color issue"
[Page](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions), Advanced searching with flags.

[2021-02-02 22:21] DannyMoerkerke commented on #1996
@Ryuno-Ki yes the demo uses ReadableStream.
But what is your question?

[2021-02-03 07:59] rachelandrew commented on #1997
@hamishwillee yeah I think deleting it is probably the way to go, it is probably more of a distraction than a help to anyone who finds it.

[2021-02-03 08:33] sutangu opened #2038 "Issue with "Intl.DateTimeFormat.prototype.formatRangeToParts()": (the supported language disappears)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat/formatRangeToParts

#### What information was incorrect, unhelpful, or incomplete?
When change to Japanese language, [language-] select doesn't contain Français language, but when selected English, it contains. And when change to Français, it doesn't contains Japanese.

#### Specific secti

[2021-02-03 08:38] rachelandrew commented on #2024
@Ryuno-Ki the mixins issue isn't related, that is the Interface and not the HTML attributes. We don't, as you say, have individual attributes listed but that is unrelated to the work on the API side of things.

@ericwbailey do you have any thoughts on the issue raised?

[2021-02-03 09:07] Ryuno-Ki commented on #2038
Dear @sutangu,

thanks for reporting this. Right now, this is by design. There are technical reasons, @peterbe might describe, but it boils down to this is a somewhat workable state and the developer capacity is limited right now.

The team is aware of it, but other things have a higher priority right now.
If you're okay with it, I'd close this issue.

[2021-02-03 09:11] Ryuno-Ki commented on #1997
Given you are using git now, that information isn't lost even if „thrown away” (you can dig up the git history to look up what it was).

So … for developers, there's the recommendation to _delete_ code instead of comment it. Because version control.

[2021-02-03 09:29] Ryuno-Ki commented on #1996
Can you confirm this? I haven't had a chance to test your code myself, yet.
But I'd doubt it would work if the ReadableStream gets stringified in this way …

[2021-02-03 09:33] Ryuno-Ki commented on #2026
Wow, thanks for catching it!

It looks like this on https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions#Advanced_searching_with_flags

![advanced-search-with-flags](https://user-images.githubusercontent.com/3097194/106726646-ea354d80-660a-11eb-900c-425857d44da9.png)

The markup looks broken, too:

[code]

Source code at

https://github.com/mdn/content/blob/842e4e614cd

[2021-02-03 09:35] Ryuno-Ki commented on #2026
@schalkneethling Could you check, whether it's a design issue (next to a content fix)?
I couldn't tell where the pink comes from.
The black is normal background colour of a h3.

[2021-02-03 09:41] schalkneethling commented on #2026
What I can see in the HTML here is the following:

[code]

That is something that needs to be fixed in the content itself.

[2021-02-03 09:42] schalkneethling commented on #2026
Yup, the markup needs fixing. I did not see the pink color though. Thanks for looking into it @Ryuno-Ki

[2021-02-03 09:42] sutangu commented on #2038
@Ryuno-Ki, no problems if so. But I think I can do it. Or can I help with something else from Issues tab?

[2021-02-03 10:01] #1997 closed

[2021-02-03 10:39] DannyMoerkerke commented on #1996
This is about upload stream whereas I use the `ReadableStream` that is part of the `Response` object, not the `Request` object.

[2021-02-03 10:40] rachelandrew commented on #1725
I've updated the bugs, added to release notes. BCD is pending merge.

This isn't really a candidate for an Interactive Example.

[2021-02-03 12:45] pmrotule opened #2042 "Issue with "Intl.NumberFormat() constructor": currencyDisplay 'narrowSymbol' throw an error on Safari"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat/NumberFormat

#### What information was incorrect, unhelpful, or incomplete?

We recently added the option `currencyDisplay: 'narrowSymbol'` in our code and as soon as it went live, we had a big wave of errors coming in from Safari users.

Basically, our prices got removed all over our site

[2021-02-03 13:41] rachelandrew commented on #1728
@chrisdavidmills I've tested this in other browsers and it looks like everything else has supported this for a long time IE10/Chrome 26/ Safari 6.2.

Do we want to add a whole line about image support just to flag it is gone into Firefox or add a note saying that prior to 86 `<image>` wasn't supported?

[2021-02-03 14:03] chrisdavidmills commented on #1728
I'm assuming you're talking about adding the note into the `list-style-type` BCD? If so, then yes, I agree. But maybe also added a note into the `<image>` BCD to say that prior to 86, this wasn't supported as a value of `list-stytle-type`? Just in cae, so you get the info whichever page you end up on?

[2021-02-03 15:04] eladkarako opened #2045 "slow to load and slow to render page"
I've switched off JavaScript to prevent codemirror code-highlighting,
and blocked web-fonts to fallback to default ones for the <code>developer.mozilla.org</code> domain,
the pages are still very slow to load (network) and to render (blank page, and relatively non-responsive <del>browser's-tab</del> <strong>entire window</strong>(including other, non-related tabs!).

Something is seriously wrong w

[2021-02-03 15:19] Elchi3 commented on #1940
I've made a proof of concept using `HTMLHyperlinkElementUtils`: https://github.com/mdn/content/pull/2046

[2021-02-03 16:01] rachelandrew commented on #1728
I'm not sure this really adds value in the `<image>` type. I don't think someone would be looking at `<image>` if they were trying to use a gradient in an older version of Firefox, they would look at the `list-style-type` page. Do we normally flag this up on type pages if a property changes what it accepts?

[2021-02-03 16:09] ericwbailey commented on #2024
This feels like it could be a subsection for [Accessibility concerns for the button element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#accessibility_concerns) to me.

[2021-02-03 16:10] Aayushap1 commented on #1712
@rachelandrew @Ryuno-Ki  . Mam, I request you please review last time  #1943 #2007 #2013 .
I want to make lot of contributions as much as I can to your repo .
Please help me by reviewing my PR.

[2021-02-03 16:18] Aayushap1 opened #2050 "Link from "align" is dead"

[2021-02-03 16:19] Aayushap1 commented on #2050
I fixed this issue and I will send the PR.

[2021-02-03 16:19] Aayushap1 opened #2051 "Link from "allow" is dead"

[2021-02-03 16:21] Aayushap1 commented on #2051
I fixed this issue. Please accept my PR #1943
so that I can send PR for this also.

[2021-02-03 16:21] Aayushap1 opened #2052 "Link from "alt" is dead"

[2021-02-03 16:22] Aayushap1 commented on #2052
I fixed this issue. Please accept my PR #1943
So that I can send PR for this issue.

[2021-02-03 16:31] Aayushap1 commented on #1712
@rachelandrew Please review my PR #1943

[2021-02-03 16:33] TheCowMooooo commented on #2026
I did not see the pink as well, only the blue on black.

[2021-02-03 17:15] #782 closed

[2021-02-03 17:54] Ryuno-Ki commented on #2026
Okay, perhaps a flaw on my end. I submitted a PR with a fix of the markup.

[2021-02-03 18:00] Rob--W commented on #1732
I decided to not update the BCD because this change affects many APIs. I mentioned the version where the behavior changed in two articles in my PR at #2057.

[2021-02-03 18:21] Ryuno-Ki commented on #1996
Oh, okay.

[2021-02-03 18:23] Ryuno-Ki commented on #2038
Okay, I'm closing it now.

Feel free to browse through the open issues. We can welcome additional hands.
If something is unclear, please ask.

[2021-02-03 18:23] #2038 closed

[2021-02-03 19:03] chrisdavidmills commented on #1712
@Aayushap1 Hello there. I must first say thank you for your interest in contributing to our project. This is much appreciated.

I do however have a couple of points to bring to your attention:

1. @rachelandrew and I reviewed your pull requests (#1943 #2007 #2013) and found that in all three cases, the content contained passages copied from W3Schools. It is not acceptable to copy content from othe

[2021-02-03 19:09] chrisdavidmills commented on #2052
You don't need separate issues to record the fixing of an issue — this just makes it more confusing. You just comment in the existing issue.

[2021-02-03 19:09] #2052 closed

[2021-02-03 19:09] chrisdavidmills commented on #2051
You don't need separate issues to record the fixing of an issue — this just makes it more confusing. You just comment in the existing issue.

[2021-02-03 19:09] #2051 closed

[2021-02-03 19:11] chrisdavidmills commented on #2050
You don't need separate issues to record the fixing of an issue — this just makes it more confusing. You just comment in the existing issue.

In fact, when you raise a PR and say that it "fixes bug number #whatever" , when that PR is merged, the issue with automatically be closed in a lot of cases, and it will automatically reference the PR that fixed it.

[2021-02-03 19:11] #2050 closed

[2021-02-03 21:21] #2012 closed

[2021-02-03 21:21] #2006 closed

[2021-02-03 21:33] peterbe commented on #1854
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/replace now works. Yay! If, at the time of writing/reading this, you still see the old behavior, mess with the casing of the URL pathname so the CDN serves you a "cold" hit rather than something from our 24h caching.

[2021-02-03 21:33] #1854 closed

[2021-02-03 21:53] aliko-str opened #2059 "Issue with "Native messaging": current example flushes all data after one message has been read - even if there are left-over data/messages in the buffer array."
MDN URL: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Native_messaging

#### What information was incorrect, unhelpful, or incomplete?
The nodejs example of the native app processing messages from FF.

The current example flushes all data ("chunks.splice(0);") after one message has been read - even if there are left-over data/messages in the buffer array.

#### Specific s

[2021-02-04 01:00] pshar7 opened #2060 "Issue with "Flexbox": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox

#### What information was incorrect, unhelpful, or incomplete?
Spelling ( When elements are laid out as flex items, they are laid out along two axes: )

#### Specific section or headline?
The flex model

#### What did you expect to see?
When elements are laid out as flex items, they are laid out along two axis:

#### D

[2021-02-04 03:07] samihibrahim opened #2064 "Page not Found for Code_snippets/QuerySelector"
On this page: https://developer.mozilla.org/en-US/docs/Web/API/Document_object_model/Locating_DOM_elements_using_selectors

![original_page](https://user-images.githubusercontent.com/559181/106839393-1cc36280-666c-11eb-9516-5879124fc88f.png)

both links to *Code_snippets/QuerySelector* are broken (404)
![page_not_found](https://user-images.githubusercontent.com/559181/106839402-1f25bc80-666c-11eb-

[2021-02-04 03:43] jamespfluger commented on #1909
I have a pull request draft (#2065), but if @caitmuenster has a better, long-term fix almost ready for #1959 then that would be a better solution than the draft I have

[2021-02-04 05:59] rachelandrew commented on #2060
Axes is the plural of axis https://www.dictionary.com/browse/axes so I don't think there is something to change here as we are talking about two axes.

[2021-02-04 05:59] #2060 closed

[2021-02-04 07:06] navjotjsingh opened #2066 "Issue with "CSS first steps": Outdated link"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/CSS/First_steps

#### What information was incorrect, unhelpful, or incomplete?
Intermediate Web Literacy 1: Intro to CSS is no longer available so it makes no sense to link to it anymore.

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/learn/css/first_steps`
* MDN URL: https://developer.mozilla.org/en-US/docs/

[2021-02-04 08:24] nicolasfaurereboot opened #2067 "Issue with "Time to first byte" Calculation"
MDN URL: https://developer.mozilla.org/en-US/docs/Glossary/time_to_first_byte

#### What information was incorrect, unhelpful, or incomplete?

it says Time to First Byte (TTFB) "includes DNS lookup and establishing the connection using a TCP handshake and SSL handshake if the request is made over https." and it defines TTFB as : "TTFB = responseStart - requestStart".

requestStart happens after do

[2021-02-04 09:37] chrisdavidmills commented on #2067
Thanks for reporting this, @nicolasfaurereboot !

Would you be interested in submitting a PR to the repo to fix this content?

[2021-02-04 09:48] JohnyL opened #2068 "Issue with "Array.prototype.at()": "at" fails to work"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/at

#### What information was incorrect, unhelpful, or incomplete?
`Browser compatibility` section says that Google Chrome 89 supports `at`. However, I have tried in 90.0.4400.8 (Official Build) dev (64-bit), and it fails to work. I get the error:

#### Specific section or headline?
`Browser compatibili

[2021-02-04 09:49] nicolasfaurereboot commented on #2067
I am very recent github user. I don't know what "submitting a PR to the repo to fix this content" implies and incase how to do it

[2021-02-04 09:59] chrisdavidmills commented on #2066
Hi @navjotjsingh !

Yes, I agree with you, completely; thanks for reporting this.

I've removed the obsolete link; see https://github.com/mdn/content/commit/d30011c59287cf40d0a6b72ce534086c9a90f227

[2021-02-04 09:59] #2066 closed

[2021-02-04 10:10] chrisdavidmills commented on #2067
OK, no worries. Basically, this content is all stored on a GitHub repo. There is a link at the bottom of every MDN page — "Source on GitHub", which links through to the source code for that page of content. In the case of the page we are discussing, the source is at https://github.com/mdn/content/commit/d30011c59287cf40d0a6b72ce534086c9a90f227

To make changes to that page, you need fork our repo

[2021-02-04 10:12] chrisdavidmills commented on #2068
Hrm, I'm pretty sure this is supported, but only behind a browser preference. The compat data should reflect that, and I believe it was updated recently. The updated data should show on the page very soon.

[2021-02-04 10:41] nicolasfaurereboot commented on #2067
@chrisdavidmills : thanks for the explanations. As you wrote about fork and I am a French food lover, I have to try this submission.

[2021-02-04 10:43] chrisdavidmills commented on #2067
Ha — I knew I could appeal to your passions somehow ;-)

Please poing me if you need any help; I'm happy to review your PR too.

[2021-02-04 12:39] Aayushap1 commented on #1712
@rachelandrew @Ryuno-Ki
I solved :
- [x] async  and defer      PR #2070
- [x] accept-charset         PR #2072
- [ ] action                     PR

[2021-02-04 13:10] Aditya-1804078 commented on #2067
I am a beginner in open source community, can you please assign this issue to me?? Solving this issue would be great start for me.

[2021-02-04 14:18] ljharb opened #2073 "old URLs have broken"
https://developer.mozilla.org/en-US/DOM/element.addEventListener 404s but should probably 301 to https://developer.mozilla.org/en-us/docs/Web/API/EventTarget/addEventListener

I’m not sure when it broke; the old URL has been in an IRC factoid for the better part of a decade.

[2021-02-04 14:30] myakura commented on #2042
Looks like the support has landed on trunk.
https://trac.webkit.org/changeset/266031/webkit

and available in Safari Technology Preview (114 and above).
https://webkit.org/blog/11300/release-notes-for-safari-technology-preview-114/

So I guess it'll be supported in the coming version of Safari (14.1).

[2021-02-04 14:32] myakura commented on #2042
Perhaps someone could transfer this issue to mdn/browser-compat-data ?

[2021-02-04 15:15] chrisdavidmills commented on #2042
Good idea. Transferring.

[2021-02-04 15:41] #1723 closed

[2021-02-04 16:35] Aayushap1 commented on #1476
Hello @benschwarz @chrisdavidmills
I fixed this issue PR is  #2077

[2021-02-04 17:50] peterbe commented on #2025
No, it has nothing to do with flaws. It's the fact that two external links are 404'ing. It's just that the content needs love. ...in the form of some new URLs there or perhaps removal of the links in the first place.

Checking for broken links is hard.

[2021-02-04 17:55] yaneyard opened #2078 "Russian translation in guides."
Hello! You have a problem with the Russian guide on your site. When you go to the next part by pressing the "Next" button. For example it redirects to the address "/ru/docs/Learn/HTML/Introduction_to_HTML/Debugging_HTML" instead of "/ru/docs/Learn/HTML/Введение_в_HTML/Структура_документа_и_веб-сайта". Therefore, you have to switch the language again.

[2021-02-04 18:52] himanshugsn opened #2080 "Issue with "Hoisting": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Glossary/Hoisting

#### What information was incorrect, unhelpful, or incomplete?
// Example with let:
a = 1; // initialization.
let a; // Throws ReferenceError: Cannot access 'a' before initialization

#### Specific section or headline?
Initializations using let and const are also not hoisted.

#### What did you expect to see?
a = 1; // initializa

[2021-02-04 18:54] himanshugsn opened #2081 "Issue with "Hoisting": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Glossary/Hoisting

#### What information was incorrect, unhelpful, or incomplete?
a = 'Cran'; // Initialize a
b = 'berry'; // Initialize b

console.log(a + "" + b); // 'Cranberry'

#### Specific section or headline?
last section

#### What did you expect to see?
a = 'Cran'; // Initialize a
b = 'berry'; // Initialize b

console.log(a + "" + b); //

[2021-02-04 18:55] himanshugsn commented on #2081
Please assign me this issue I will be able to resolve it!

[2021-02-04 19:10] rpl commented on #1959
@caitmuenster :+1: yep, that looks right to me

[2021-02-04 19:14] rpl commented on #1909
I'm fine with both solutions, I'm going to leave to @caitmuenster the final choice.

[2021-02-04 19:35] musalehad commented on #1956
No worries. I found one way to fix this for now.
Using `currencyDisplay: 'narrowSymbol',` in the options removes any country codes.

[2021-02-04 19:36] #1956 closed

[2021-02-04 20:01] barcadams0 opened #2082 ""Black screen" video playing on Slack"
Dear Firefox community,
I faced an issue today.  I uploaded a video to a Slack forum thread, it is embededd , I can see the videos' "screen" but  when I press play, i got only a black screen with audio. I've already checked the forums considering this issue, in any case disabling hardware accelaration and disabling extension were advised, I tried this disabling these, but nothing happened.
Of cour

[2021-02-04 21:46] ekr opened #2084 "Broken link on XPath page"
https://developer.mozilla.org/en-US/docs/Web/XPath has a link under XSLT/XPath Reference to https://developer.mozilla.org/en-US/docs/Transforming_XML_with_XSLT/The_Netscape_XSLT%2f%2fXPath_Reference

But this does not exist.

[2021-02-04 21:51] JustinWebDev opened #2085 "bad link in HTTP logging page"
https://developer.mozilla.org/en-US/docs/Mozilla/Debugging/HTTP_logging
click the link for "Necko" (https://developer.mozilla.org/en-US/docs/Necko) -> page not found

[2021-02-04 21:52] Dmole opened #2086 "Callback syntax for RTCPeerConnection: setRemoteDescription isn’t listed in the deprecated-JavaScript features index"
Currently the list
    https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Deprecated_and_obsolete_features
is incomplete, eg it's missing
    https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/setRemoteDescription#deprecated_syntax
.
If there were a Standardized Deprecated format like better use of the {{deprecated_inline}}
the Deprecated_and_obsolete_features list c

[2021-02-04 22:12] JustinWebDev opened #2087 "instructions in HTTP logging page don't work"
https://developer.mozilla.org/en-US/docs/Mozilla/Debugging/HTTP_logging#Windows
-> no log file is produced
I had to use the above 12-step instructions to get a log file.

The page says it is not maintained, but Fx devs still point people to it for debugging.

[2021-02-04 22:36] hamishwillee commented on #2087
@JustinWebDev
- Who/where is pointing to it for debugging? Essentially I want to talk to them about whether this should be unarchived, and what might no longer be relevant.
- Did you try the command line options: https://developer.mozilla.org/en-US/docs/Mozilla/Debugging/HTTP_logging#Start_logging_using_command_line_arguments ?

[2021-02-04 22:38] hamishwillee commented on #2085
@JustinWebDev We don't fix links in archived pages - that's part of what archived means.

[2021-02-04 22:38] #2085 closed

[2021-02-04 23:47] hamishwillee commented on #1820
Hi @Anmepod44

What you have shown in https://github.com/Anmepod44/first-django-site.git looks nothing like the final project: https://github.com/mdn/django-locallibrary-tutorial

For a start you don't have a catalog "app" as part of your application as you import here https://github.com/Anmepod44/first-django-site/blob/main/apps.py - which is probably why we see this failure.

That tells me that

[2021-02-04 23:47] #1820 closed

[2021-02-05 00:41] escattone commented on #2084
This is a bug within the [`XsltRef.ejs` macro](https://github.com/mdn/yari/blob/master/kumascript/macros/XsltRef.ejs). Transferring this issue to the Yari repo.

[2021-02-05 01:41] RyanTheNerd opened #2091 "Issue with "CanvasRenderingContext2D.globalCompositeOperation": Examples box is too small"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/globalCompositeOperation

#### What information was incorrect, unhelpful, or incomplete?
The height of the box with all the types is very short, it makes it hard to read the examples.

#### Specific section or headline?
Syntax -> Types

#### What did you expect to see?
At least enough height to see one whole example

[2021-02-05 05:24] hamishwillee commented on #1662
Fixed by #2094

[2021-02-05 08:29] CreaTorAlexander opened #2100 "Misstake in German Version of Destructing Assignment"
var [a, ...b,] = [1, 2, 3];
// SyntaxError: rest element may not have a trailing comma

It should be on the right-hand side and not on the left-hand side or in german " [..] auf der rechten Seite"  anstelle "[..]auf der linken Seite"
https://developer.mozilla.org/de/docs/Web/JavaScript/Reference/Operators/Destrukturierende_Zuweisung

In the english version it is also on the right-hand side.

I als

[2021-02-05 08:47] chrisdavidmills commented on #2100
Apologies, but we're not currently accepting changes to translations. Read https://hacks.mozilla.org/2020/12/an-update-on-mdn-web-docs-localization-strategy/ for an explanation.

[2021-02-05 08:47] #2100 closed

[2021-02-05 09:08] CreaTorAlexander opened #2102 "Misstake in German Version of Destructing Assignment #115"
var [a, ...b,] = [1, 2, 3];
// SyntaxError: rest element may not have a trailing comma

It should be on the right-hand side and not on the left-hand side or in german " [..] auf der rechten Seite"  anstelle "[..]auf der linken Seite"
https://developer.mozilla.org/de/docs/Web/JavaScript/Reference/Operators/Destrukturierende_Zuweisung

In the english version it is also on the right-hand side.

[2021-02-05 09:09] chrisdavidmills commented on #2102
Apologies, but we're not currently accepting changes to translations. Read https://hacks.mozilla.org/2020/12/an-update-on-mdn-web-docs-localization-strategy/ for an explanation.

[2021-02-05 09:09] #2102 closed

[2021-02-05 09:09] CreaTorAlexander commented on #2102
Oh sorry than I posted it I thought I forgot to create the issue

[2021-02-05 10:43] verhovsky opened #2104 "Issue with "URLSearchParams": should mention duplicate parameters and if conversion is lossless"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams

Questions which I came to the documentation for:

1) How does URLSearchParams handle the same parameter appearing more than once, for example

[code]

Edit: nevermind, this second line is documented in `.get()` "Returns the first value", I was unsure about the first because I've seen a [different javascript library](https:/

[2021-02-05 11:55] wolobi opened #2106 "Typo issue - Spanish"
Hi,

At this link

https://developer.mozilla.org/es/docs/Web/API/Element/attributes#notes

Have to change:
Enumerando atributos de **elemtentos**
for
Enumerando atributos de **elementos**

Thanks

[2021-02-05 12:29] foolip opened #2107 "Browser Compatibility tables are unclear when support for an item has been removed"
This is https://bugzilla.mozilla.org/show_bug.cgi?id=1417902 filed again for the new MDN setup.

The problem is clearly illustrated by things that were in EdgeHTML (Edge 12-18) but are not in new Chromium-based Edge 79+:
https://developer.mozilla.org/en-US/docs/Web/API/DocumentType#browser_compatibility

It looks as though support was in Edge 12-79, but it was in Edge 12-18.

cc @Elchi3 @ddbeck

[2021-02-05 12:53] chrisdavidmills commented on #2106
Apologies, but we're not currently accepting changes to translations. Read https://hacks.mozilla.org/2020/12/an-update-on-mdn-web-docs-localization-strategy/ for an explanation.

[2021-02-05 12:53] #2106 closed

[2021-02-05 13:00] chrisdavidmills commented on #2091
Hrm, this is an interesting one. Changing the `height` of the embedding `<iframe>` no longer seems to increase the display height of the example, and I'm not sure why.

Paging @schalkneethling — has anything changed recently on the front-end that might cause this to break?

[2021-02-05 14:05] evilpie opened #2109 "Compatibility table background for disabled-by-default features is too positive"
Currently for features that are implemented, but require a setting a flag, the background is green. In reality such a feature can not be used in production in that browser, because the the majority of people will not have this flag set.

I think MDN should use a different color. For example "Partial" uses orange/yellow from what I remember.

[2021-02-05 14:15] TerryMooreII opened #2110 "Issue with "Object.defineProperty()": Link leads to Page Not Found"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/defineProperty

#### What information was incorrect, unhelpful, or incomplete?
There is a link to this page that navigates to `https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/defineProperty/Additional_examples` but this results in a Page Not Found

#### Specific

[2021-02-05 17:08] chylu opened #2113 "Issue with "WebGL best practices": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/WebGL_API/WebGL_best_practices

#### What information was incorrect, unhelpful, or incomplete?
This page advises you to call WEBGL_lose_context.loseContext() to free up memory. However, that API is for SIMULATING loss of context. As far as I can tell from hours of research on the internet, there is currently NO way for a JavaScript develope

[2021-02-05 17:37] schalkneethling commented on #2091
Yup, we have an issue about this, soon to be resolved. Thanks for bringing this to my attention @chrisdavidmills

[2021-02-05 18:04] senocular opened #2115 "Issue with "mask-image": CORS error blocking image in example (mdn.mozillademos.org)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/mask-image

#### What information was incorrect, unhelpful, or incomplete?

The result in the example is empty not showing the masked image

#### Specific section or headline?

https://developer.mozilla.org/en-US/docs/Web/CSS/mask-image#Result

#### What did you expect to see?

A light green star

#### Did you test this? If so, how?

Chrome

[2021-02-05 18:10] chrisdavidmills commented on #2091
Great stuff, cheers mate.

[2021-02-05 18:50] Ryuno-Ki commented on #2025
:eyes:

External links? To me, it looks like pointing to anchors on MDN.

[2021-02-05 21:02] misha-grigorov opened #2124 ""Django introduction" contains link to expired domain"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Introduction#how_popular_is_django

#### What information was incorrect, unhelpful, or incomplete?
"Django introduction" contains link to expired domain of Hot Frameworks. This might posses some security risks to readers of this course in case someone with malisious intentions obtains this domain.

#### Specific section or

[2021-02-05 23:13] JustinWebDev commented on #2087
See Kershaw's comments on bugzilla, https://bugzilla.mozilla.org/show_bug.cgi?id=1686847#c6

Yes, I had to use the CLI.

[2021-02-05 23:14] JustinWebDev commented on #2085
Sorry - that registered with me after I filed the issue.

[2021-02-06 02:26] DI-john opened #2127 "Issue with "Object.defineProperty()": (broken link to additional examples)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/defineProperty

#### What information was incorrect, unhelpful, or incomplete?

At the beginning of the [examples section](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/defineProperty#examples) there is a [broken link](https://developer.mozilla.org/en-US/docs/W

[2021-02-06 08:27] Arittra opened #2128 "Issue with "Positioning": (live example is not what it claimed to be)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Positioning

#### What information was incorrect, unhelpful, or incomplete?
The live example (https://mdn.github.io/learning-area/css/css-layout/positioning/3_absolute-positioning.html) doesn't contain the resize elements it was supposed to have.

#### Specific section or headline?
Absolute positioning.

#### What did you expec

[2021-02-06 08:38] pershyk opened #2130 "Issue with "tabs.captureVisibleTab()": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/tabs/captureVisibleTab

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/mozilla/add-ons/webextensions/api/tabs/cap

[2021-02-06 09:11] JafarAkhondali opened #2131 "[web-extension] Incompatible parameter in browser.tab.onUpdated.addListener"
In chrome, the [onUpdated](https://developer.chrome.com/docs/extensions/reference/tabs/#event-onUpdated) method only accepts the event function. However Firefox [accepts an optional parameter](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/tabs/onUpdated) called `extraParameters` which can be used for filtering. There is no mention of about this incompatibility in Firef

[2021-02-06 12:14] #2026 closed

[2021-02-06 12:22] #2130 closed

[2021-02-06 13:07] chrisdavidmills commented on #2127
Hrm, this section is definitely no longer on the page. Is there another example on the page that seems to demostrate what is being described, or an external example we could link to instead?

[2021-02-06 13:16] chrisdavidmills commented on #2124
Hrm, I thought we'd gotten rid of this already; @hamishwillee, are you happy to remove this line?

[2021-02-06 13:29] danny-laa commented on #184
@escattone Any news?

[2021-02-06 13:54] avivmu commented on #2110
Looks like link was never part of the repository.
I used `git whatchanged | grep -i additional` and it's not listed there
Maybe it was lost in a migration. @chrisdavidmills did you exprience similar issues like this?

[2021-02-06 17:00] danielskg opened #2132 "Issue with "<input type="checkbox">": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/checkbox

#### What information was incorrect, unhelpful, or incomplete?
"checked" note: a checkboxes value -> a checkbox's value
"indeterminate": "...meaning that it's state" -> "...meaning that its state"

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<s

[2021-02-06 17:03] Ryuno-Ki commented on #2132
Thanks for flagging it!

The changes would happen in

https://github.com/mdn/content/blob/8cf25f9ab473748bf7d130d14c75b6daa67d6f37/files/en-us/web/html/element/input/checkbox/index.html#L107

and

https://github.com/mdn/content/blob/8cf25f9ab473748bf7d130d14c75b6daa67d6f37/files/en-us/web/html/element/input/checkbox/index.html#L114

You can edit them directly via GitHub's web UI.

[2021-02-06 18:20] muthu-1812 opened #2135 "Issue with "Setting up a Django development environment": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/development_environment

#### What information was incorrect, unhelpful, or incomplete?
for installation in windows these commands for not working for newer versions of python
mkvirtualenv my_django_environment
and also for entering the environment
as well as the commands
#### Specific section or headline?

Creating a virtu

[2021-02-06 19:53] Alien426 commented on #1898
Some observations:
In the Kumascript macro at https://github.com/mdn/yari/blob/master/kumascript/macros/CSS_Ref.ejs the .urlPath is generated for every item; to be used at &lt;a href="${url}"&gt; ... I don't know why the property "mdn_url" (from /mdn/data/ JSONs) isn't used instead. One could avoid generating a link to a dead page and instead add the URL to the JSON once the page was created.

I'm

[2021-02-06 20:27] CreaTorAlexander commented on #2132
I can update it.

[2021-02-06 22:45] avivmu commented on #2080
Try to write
[code]
together and not line by line. When you write them line by line then you define a property `a` on the global object. See [this SO answer](https://stackoverflow.com/questions/6888570/declaring-variables-without-var-keyword) for more information
Please close this issue

[2021-02-06 22:45] morgaan commented on #2025
@Ryuno-Ki, @peterbe
Indeed the issue are these 2 external links:
- [Alert role example using an ARIA alert box](http://www.oaa-accessibility.org/example/1/)
- [Alert example using a modal ARIA dialog box](http://www.oaa-accessibility.org/examplep/alertdialog1/)
They lead to 404s

Thank you for checking this out. Cheers 🌞

[2021-02-06 22:50] avivmu commented on #2081
No problem here. Paste this as one block and run it:
`a = 'Cran'; // Initialize a
b = 'berry'; // Initialize b
console.log(a + "" + b); // 'Cranberry'`
It prints `Cranberry` as expected. Please close the issue

[2021-02-06 22:57] avivmu commented on #2068
It's fixed already.
This was fixed `https://github.com/mdn/browser-compat-data/commit/3b5c4d1ebab922bd305c9fdf96a90a56b3f839ad`
Please close the issue

[2021-02-07 04:58] #2132 closed

[2021-02-07 06:47] riccardoscalco opened #2141 "Issue with "Matrix math for the web": Rotation matrices do not follow the matrix-vector product convention"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/WebGL_API/Matrix_math_for_the_web

#### What information was incorrect, unhelpful, or incomplete?

Rotation matrices do not follow the matrix-vector product convention defined section **Multiplying a matrix and a point**.

#### Specific section or headline?

Section "Rotation Matrix". In particular the definition of `rotateAroundXAxis`, `ro

[2021-02-07 07:05] CreaTorAlexander commented on #2067
I would like to do it.

Which of them is prefered?

[2021-02-07 07:20] nicolasfaurereboot commented on #2067
TTFB = responseStart -navigationStart
- [ ] because navigationStart does not always equal zero

[2021-02-07 07:35] CreaTorAlexander commented on #2067
Alright, now I just have to find the file where the content is  😆

[2021-02-07 07:39] CreaTorAlexander commented on #2067
@nicolasfaurereboot is just the equation/formula changing or also the text before?

[2021-02-07 07:41] nicolasfaurereboot commented on #2067
which texte before ?

[2021-02-07 07:44] CreaTorAlexander commented on #2067
This text

Also there is a hyperlink for responseStart and requestStart, but I haven't found one for navigationStart https://developer.mozilla.org/en-US/docs/Web/API/PerformanceResourceTiming/navigationStart
<img width="1663" alt="Bildschirmfoto 2021-02-07 um 08 42 08" src="https://user-images.githubusercontent.com/44900696/107140181-aac77380-6920-11eb-97e1-5eaa87a5c036.png">

[2021-02-07 07:54] nicolasfaurereboot commented on #2067
sorry but I don' understand what you want to edit or do ?
if it's to review the suggestion I made related to the calculation of TTFB, i can't help you, because I am a very recent github user, and don't know how it works yet. But I think I followed all the steps recommended by @chrisdavidmills to submit this suggestion

[2021-02-07 08:00] CreaTorAlexander commented on #2067
@nicolasfaurereboot The formula which I would like to update here
  https://developer.mozilla.org/en-US/docs/Glossary/time_to_first_byte

`TTFB = responseStart - requestStart`
There are hyperlinks on responseStart and requestStart, when you click on one of them then you will redirected to their pages.

My problem now is when I update the text, to

`TTFB = responseStart -navigationStart
`
as you su

[2021-02-07 08:05] CreaTorAlexander commented on #2010
I can update this

[2021-02-07 08:15] CreaTorAlexander commented on #2067
Well I have found it the hyperlink for navigationStart is `/en-US/docs/Web/API/PerformanceTiming/navigationStart`

[2021-02-07 08:37] nicolasfaurereboot commented on #2067
the hyperlink I referred for the navigationStart's definition is here :
https://developer.mozilla.org/en-US/docs/Web/API/PerformanceTiming/navigationStart
"navigationStart" is a property from the interface "PerformanceTiming" (URL: https://developer.mozilla.org/en-US/docs/Web/API/PerformanceTiming) from "Navigation Timing API" (Level 1).

at the top of all these pages, there is a warning saying th

[2021-02-07 09:18] avivmu commented on #2141
Good catch. Wikipedia lists the [basic rotation matrix](https://en.wikipedia.org/wiki/Rotation_matrix#Basic_rotations) and they are in accordance with how the current article is. The problem stems from the fact that the CSS specs define [matrix3d to be specified in **column-major order**](https://drafts.csswg.org/css-transforms-2/#three-d-transform-functions):

specifies a 3D transformation as a 4

[2021-02-07 10:06] Aayushap1 opened #2145 "wrong indentation in Example of accept"
Link of Example: https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/accept#examples
Indentation was given in Example which was not expected.

[2021-02-07 10:09] Aayushap1 commented on #2145
I fixed this issue.
PR is #2146

[2021-02-07 11:26] pushkine opened #2147 "Issue with "Window.devicePixelRatio": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Window/devicePixelRatio

Section "Monitoring screen resolution or zoom level changes"

The intent of the snippet is to "check the value of devicePixelRatio any time it changes", however the snippet fails to update whenever the MediaQueryList does not match twice in a row, the example must update the query on every call in order to respect t

[2021-02-07 13:28] CreaTorAlexander commented on #2147
I can update the snippet 👍

[2021-02-07 13:58] CreaTorAlexander commented on #2113
I can update it. Does it mean to remove the whole part about WEBGL_lose_context.loseContext() to free up memory?

[2021-02-07 13:59] CreaTorAlexander commented on #1631
I can update it 👍

[2021-02-07 15:17] CreaTorAlexander commented on #1422
Is this issue free? I can update it

[2021-02-07 16:57] solutayo opened #2152 "Issue with "Object prototypes": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/Object_prototypes

#### What information was incorrect, unhelpful, or incomplete?

      Lack of adequate punctuation, that will eliminate ambiguity from the content

#### Specific section or headline?

   The prototype property: Where inherited members are defined

Object.is(), Object.keys(), and other members not defined

[2021-02-07 17:45] sanket2000sonavane commented on #2124
can I work work on this issue @chrisdavidmills ? can you tell me which link should I add instead of expired domain of Hot Frameworks.

[2021-02-07 19:25] chylu commented on #2113
I think that would be an acceptable minimal solution.

[2021-02-07 19:27] Ryuno-Ki commented on #1631
Take it away! (I already noticed the commit).
I assigned you in hope nobody else feel inclined to pick it up then.

[2021-02-07 20:58] Ryuno-Ki commented on #2067
You could open

https://github.com/mdn/content/blob/958c4d5be9beeceb04629cb8495a13d0667e120b/files/en-us/glossary/time_to_first_byte/index.html

and pick the pen icon in the upper right corner of the file.
That will switch you to edit mode on GitHub.

From there, make the edits as suggested.

Then, at the bottom, you can write a summary of what changed (helpful to mention `#2067` in it to make it

[2021-02-07 21:06] #2068 closed

[2021-02-07 21:08] Ryuno-Ki commented on #2081
Confirmed.

[code]
is printing `Cranberry` to me. Closing.

[2021-02-07 21:08] #2081 closed

[2021-02-07 22:28] tannerdolby commented on #1422
@CreaTorAlexander It seems to be fixed already by some other commit/PR.

<img width="894" alt="Screen Shot 2021-02-07 at 2 20 11 PM" src="https://user-images.githubusercontent.com/48612525/107161159-abc3c980-694f-11eb-9342-19d7759abc61.png">

@chrisdavidmills I think this issue can be closed now.

[2021-02-07 23:07] hamishwillee commented on #2124
I'll fix this (thanks for the offer @sanket2000sonavane but I just fixed one the same in the Express docs).

[2021-02-08 00:04] mushmelty commented on #1422
The correction has been made and incorporated into the documentation.

[2021-02-08 00:04] #1422 closed

[2021-02-08 00:07] hamishwillee commented on #991
OK, it went into BCD (but BCD has not yet gone live). In https://github.com/mdn/content/pull/2158 I have also added the Secure context header to the top of the page.

I decided not to update "Features restricted to secure contexts". This header didn't feel like a "feature" per-se.

[2021-02-08 01:16] hamishwillee commented on #1937
Thanks very much. This will be fixed by #2159

[2021-02-08 01:38] hamishwillee commented on #2135
Hi @muthu-1812
This works with Python 3.8.5 which is the supported version in Ubuntu 20.04 LTS (the supported version of Ubuntu). The documentation is for Django 3.1.2 and Python 3.8 is the highest version that works with that. This might not work with higher versions of Python, but I question the need.

That said, would be good to verify.

So, can you please confirm:
1. What OS, OS version and Py

[2021-02-08 06:18] SphinxKnight opened #2160 "Typo in French article #l10n-fr"
A user reported a typo in the French l10n Matrix channel regarding the semicolon used in https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Op%C3%A9rateurs/Affecter_par_d%C3%A9composition#valeurs_par_d%C3%A9faut_2

This is a trivial typo which could be fixed whenever the localization will be opened.

In the meantime, could you please triage it with the relevant label (#l10n-fr) please?

[2021-02-08 07:38] rachelandrew commented on #2128
@Arittra I think this is correct, unless I'm looking at the wrong thing. The instructions say to try adding those values, but also to remove them again. They don't say that is what the example demonstrates.

[2021-02-08 07:47] rachelandrew commented on #1901
This has been updated, thanks for the report @joezimdelta !

[2021-02-08 07:47] #1901 closed

[2021-02-08 08:35] CreaTorAlexander commented on #1675
I thought it is about the message in the console on this site https://mdn.github.io/learning-area/html/multimedia-and-embedding/other-embedding-technologies/iframe-detail.html
Which is
`9Blocked script execution in '<URL>' because the document's frame is sandboxed and the 'allow-scripts' permission is not set.
`
But it is missleading that it says

But you indeed see the glossary page inside the iF

[2021-02-08 09:35] #1937 closed

[2021-02-08 10:45] #2010 closed

[2021-02-08 10:45] #2113 closed

[2021-02-08 10:47] chrisdavidmills commented on #2067
Fixed by https://github.com/mdn/content/pull/2154

[2021-02-08 10:47] #2067 closed

[2021-02-08 11:10] CreaTorAlexander commented on #2059
I can update this :+1:

[2021-02-08 11:55] Rumyra commented on #297
I believe all PRs are in for this now - should just need flag set to dev-doc-complete @chrisdavidmills 👍

[2021-02-08 11:59] andrewjlawson30 commented on #1675
Thank you for the response and taking time to review the issue reported.

[2021-02-08 12:03] CreaTorAlexander commented on #1675
@andrewjlawson30 why did you close it? I think the issue is still there.

[2021-02-08 14:07] andrewjlawson30 commented on #1675
Apologies, I did not mean to close this. I merely meant to add comment to thank you for looking at this.

[2021-02-08 15:15] DI-john commented on #2127
I'm not sure what it's referring to, to be honest, perhaps using some kind of bitmask configuration approach?  If it were up to me, I'd probably just remove that small paragraph, seems out of place, in my opinion.

[2021-02-08 15:19] chrisdavidmills commented on #2127
Yeah, I think you're right: see https://github.com/mdn/content/commit/c34105059b008d9911807e52775cca4772220190 for the update.

Thanks for reporting this @DI-john

[2021-02-08 15:19] #2127 closed

[2021-02-08 15:39] chrisdavidmills commented on #2078
Apologies, but we're not currently accepting changes to translations. Read https://hacks.mozilla.org/2020/12/an-update-on-mdn-web-docs-localization-strategy/ for an explanation.

[2021-02-08 15:39] #2078 closed

[2021-02-08 15:43] chrisdavidmills commented on #2082
Hi @barcadams0 !

This repo is for filing issues specifically about the content of https://developer.mozilla.org/en-US/. For general Firefox issues, I'd recommed filing a bug on https://developer.mozilla.org/en-US/, or asking about it in an appropriate Matrix room: https://wiki.mozilla.org/Matrix

[2021-02-08 15:43] #2082 closed

[2021-02-08 16:09] Ryuno-Ki commented on #2059
Take it away, Alexander!

[2021-02-08 16:36] Rumyra commented on #1730
OK I've spent a fair bit of time checking any other pages which might need this info, but haven't found any that are really relevant apart from Window.name updates. Wondering if @hamishwillee has any thoughts on this (are there any pages you're more familiar with where this might be worth a mention)?

As far as BCD goes - there is a note referring to this under FF specifying Window.name is set to

[2021-02-08 17:03] saaadel opened #2172 "Misunderstanding of parameter use - Array.prototype.flat"
https://github.com/mdn/content/blob/c34105059b008d9911807e52775cca4772220190/files/en-us/web/javascript/reference/global_objects/array/flat/index.html#L22

`var newArray = arr.flat([depth]);`

`[depth]` - in this context it looks like an array element than an optional parameter. Could we replace it for:
`var newArray = arr.flat(depth);`

[2021-02-08 17:16] mera-pakistani-mera-fakhat opened #2173 "faithdiciplinunity"
MDN URL: https://developer.mozilla.org/en-US/docs/Glossary/Browser

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/glossary/browser`
* MDN URL: https://developer.mozilla.org/en-US/docs/Glossary/Bro

[2021-02-08 17:22] #2173 closed

[2021-02-08 17:36] CreaTorAlexander commented on #2172
I can update it 👍

[2021-02-08 17:55] CreaTorAlexander commented on #2059
@aliko-str would this be the right example?
[code]

[2021-02-08 17:59] chrisdavidmills commented on #1730
@Rumyra Ah, so you're thinking of including a note that say something like "Previous to version 86, window.name persists when..." kind of thing? Hrm, I'm not sure if there is a standard for this...

[2021-02-08 20:23] #2115 closed

[2021-02-08 20:25] #1534 closed

[2021-02-08 20:40] Betalord opened #2181 "Links to Rhino examples are dead"
Rhino documentation no longer links to examples (links are dead). Here is the Rhino documentation:
https://developer.mozilla.org/en-US/docs/Mozilla/Projects/Rhino/Documentation
And here are the missing examples:
https://developer.mozilla.org/en-US/docs/Rhino/Examples

[2021-02-08 20:54] CreaTorAlexander commented on #2181
I can remove the links

[2021-02-08 23:16] hamishwillee commented on #1730
Hi @Rumyra

When I did the [edits on windows.name in FF82](https://github.com/mdn/sprints/issues/3731#issuecomment-704017095) the only relevant page I could find was `Windows.name` too.

I'm confused about what this delivers. My "guess" is that this is exactly the change that was supposed to be released in FF82, but  that [this did not happen](https://bugzilla.mozilla.org/show_bug.cgi?id=444222#c1

[2021-02-08 23:31] mykohsu opened #2183 "Issue with "KeyboardEvent.initKeyboardEvent()": Parameters incorrect"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/initKeyboardEvent

#### What information was incorrect, unhelpful, or incomplete?

Parameters for deprecated initKeyboardEvent is incorrect.

This was changed when the method was [removed](https://bugzilla.mozilla.org/show_bug.cgi?id=999645) and then [reintroduced](https://bugzilla.mozilla.org/show_bug.cgi?id=1387828).

#### S

[2021-02-09 00:44] hamishwillee commented on #1515
OK, so BCD is updated to make it clear where different service workers are updated. I also added a note up top in #2185.

Closing now. Once those goes live this will be fixed.

[2021-02-09 00:44] #1515 closed

[2021-02-09 00:53] hamishwillee commented on #2087
@chrisdavidmills Some advice please.

The page  https://developer.mozilla.org/en-US/docs/Mozilla/Debugging/HTTP_logging  is archived and at least one section doesn't work. BUT, this is being pointed to as a reference in [bugs](https://bugzilla.mozilla.org/show_bug.cgi?id=1686847#c6) and in Firefox itself if you go to `about:networking#logging`.

I asked on chat.mozilla.org and it was suggested tha

[2021-02-09 01:15] keithxemi opened #2186 "Issue with "URLSearchParams.get()": should warn that "+" as used in base64 parameters returns " ""
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams/get

#### What information was incorrect, unhelpful, or incomplete?
Common character in URL parameter is changed.

#### Specific section or headline?
Example should include this case or similar https://example.com/?name=Jonathan&bintoa=E+AXQB+A&age=18
let bin = params.get("bintoa"); // is the string "E AXQB A" notice the sur

[2021-02-09 01:24] mohitdmak commented on #1917
can I finish this up @chrisdavidmills

[2021-02-09 01:24] sideshowbarker commented on #1910
Closing, given that #2175 is now closed

[2021-02-09 03:16] hamishwillee commented on #1856
OK, so I'm now pretty much "set in motion" the simple things that can be done with this - better links at bottom of every page, improvements to the "what docs should I fix", and cross linking between readme and the MDN docs. I haven't created a CONTRIBUTING.md because all of the contributing docs are in the README of this repo - it does not make sense to have both.

@chrisdavidmills There is a lot

[2021-02-09 03:21] anastasiavyalt opened #2190 "Issue with "Animation performance and frame rate": steps of a canvas animation missing"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/Performance/Animation_performance_and_frame_rate

#### What information was incorrect, unhelpful, or incomplete?
In [the rendering waterfall](https://developer.mozilla.org/en-US/docs/Web/Performance/Animation_performance_and_frame_rate#the_rendering_waterfall) section after the following sentence:

There is no image or text specifying the steps

[2021-02-09 03:36] georgi0u opened #2191 "Issue with "Cache": Not obvious that `Cache` objects persist."
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Cache

#### What information was incorrect, unhelpful, or incomplete?

tl;dr: it wasn't obvious to me that `Cache` objects persist in local storage.

It'd be clearer if the first line read "The Cache interface provides a **persistent** storage mechanism for Request / Response object pairs that are cached, for example as part of the ServiceW

[2021-02-09 04:15] anhawtros commented on #2022
[Eula.txt](https://github.com/mdn/content/files/5948846/Eula.txt)

[2021-02-09 06:28] tomari opened #2194 "Issue with "SVG as an Image": Hyperlink to HTML5 specification is broken"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/SVG/SVG_as_an_Image

#### What information was incorrect, unhelpful, or incomplete?

The hyperlink that says `HTML5 - The definition of 'SVG within <img> element' in that specification.` is broken.
The broken link destination is `https://www.w3.org/TR/html52/embedded-content-0.html#the-img-element` .

#### Specific section or headline?

The fir

[2021-02-09 07:15] Ryuno-Ki commented on #2194
Thanks for catching this!

As soon as I find out how to untangle the macro in

https://github.com/mdn/content/blob/de994daa19735be7153638b2987d54bb9059e7cd/files/en-us/web/svg/svg_as_an_image/index.html#L53

I can fix the link. @peterbe Would that be a change in Yari? Or an opportunity to replace the macro with the generated HTML?

[2021-02-09 07:17] Ryuno-Ki commented on #2022
That looks suspicious. I'm going to close this issue as invalid. Please reopen if you have more details.

[2021-02-09 07:17] #2022 closed

[2021-02-09 07:20] HectorCastelli opened #2195 "Issue with "Compiling from Rust to WebAssembly": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/WebAssembly/Rust_to_wasm

#### What information was incorrect, unhelpful, or incomplete?
One sentence is meaningless since the code examples do not have an @ sign.

#### Specific section or headline?

Under the "Using the package on the web" section

#### What did you expect to see?

Either this phrase removed or the code block before it containing

[2021-02-09 07:28] CreaTorAlexander commented on #2195
Maybe it is correlate to the example *Compiling our code to webassembly*

Compiling our code to WebAssembly
To compile our code correctly, we first need to configure it with Cargo.toml. Open this file, and change its contents to look like this:

[code]

But then the note should be below this exaple.

[2021-02-09 07:30] Ryuno-Ki commented on #2186
Hm, [both are valid encodings for space but in different contexts](https://stackoverflow.com/a/2678602).

[2021-02-09 07:31] HectorCastelli commented on #2195
@CreaTorAlexander I find that hard to believe.

As far as I understand it, the Cargo dependencies would not have to be named with a username (requiring a @) for the tutorial to work. The NPM dependencies should follow the name of the package from Cargo, so `hello-wasm`, without an @ sign.

I think it makes more sense to remove the sentence after all.

[2021-02-09 07:49] CreaTorAlexander commented on #2195
@HectorCastelli Okay, I also realized it would not make so much sense. Then the note would be missleading because it says after the @ sign and in the example it would be before the @sign

[2021-02-09 07:58] chrisdavidmills commented on #2194
@Ryuno-Ki This doesn't need a Yari change. The base spec URL is still the same, but the slug has changed since we first wrote this page.

Looking at the HTML 5.2 spec, the `<img>` element definition is now at https://www.w3.org/TR/html52/semantics-embedded-content.html#the-img-element

So the first argument of the `SpecName` macro needs to be changed to `semantics-embedded-content.html#the-img-ele

[2021-02-09 08:05] Ryuno-Ki commented on #2194
I opened #2197 with a fix.

[2021-02-09 08:07] #2194 closed

[2021-02-09 08:09] #2195 closed

[2021-02-09 08:52] anantakrroy opened #2198 "Issue with "Array.prototype.sort()": wrong logic of `compareFunction`"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort

#### What information was incorrect, unhelpful, or incomplete?
The logic of working for the `compareFunction` is incorrect

#### Specific section or headline?
The logic is present in the **Description** section.

#### What did you expect to see?
The `compareFunction` works like this:
- If the retu

[2021-02-09 09:07] CreaTorAlexander commented on #2198
I can update it 👍

[2021-02-09 09:08] Ryuno-Ki commented on #2198
Take it away, @CreaTorAlexander!

[2021-02-09 09:27] areberuto opened #2200 "Issue with "Object prototypes": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/Object_prototypes

#### What information was incorrect, unhelpful, or incomplete?

"Note: It's important to understand that there is a distinction between an object's prototype (available via Object.getPrototypeOf(obj), or via the deprecated __proto__ property) and the prototype property on constructor functions.

The forme

[2021-02-09 09:32] chrisdavidmills commented on #2190
I'm a little confused here. After the sentence you've quoted, I can see the following diagram:

![css-rendering-waterfall](https://user-images.githubusercontent.com/47647/107343835-aa161500-6ab9-11eb-8547-350b6051831a.png)

Do you not see this?

[2021-02-09 09:46] chrisdavidmills commented on #1917
The PR is assigned to someone else to review, and they will get to it as soon as they can find the time. Thanks for your contribution @mohitdmak .

[2021-02-09 09:55] Elchi3 opened #2202 "Beginner friendly docs: the syntax notation for optional parameters"
On 30.10.2016, 18:44:36, I wrote to dev-mdc
https://groups.google.com/g/mozilla.dev.mdc/c/eS12O5mAI-A/m/J1Qd-HajBgAJ

Sadly, given MDN was a wiki, the square bracket notation is back on pages like slice and friends. Opening this issue to restart the discussion and advocating again for using multiple lines instead. This came up in https://github.com/mdn/content/pull/2176 where folks seem to be posi

[2021-02-09 09:55] myakura opened #2203 "Element.toggleAttribute() example could use other attribute than `readonly`"
https://developer.mozilla.org/en-US/docs/Web/API/Element/toggleAttribute

Currently the example uses the `readonly` attribute on input elements to demonstrate how the method works.

https://github.com/mdn/content/blob/9917bf17a97973166bb3cb3812a496e4117a778f/files/en-us/web/api/element/toggleattribute/index.html#L47-L65

The demo works, but there's hardly a visible change on the element when the a

[2021-02-09 10:35] Elchi3 commented on #2109
I agree. See previous discussions on this:

- https://github.com/mdn/kumascript/issues/1346
- https://github.com/mdn/kumascript/pull/701
- https://bugzilla.mozilla.org/show_bug.cgi?id=1449340

[2021-02-09 10:54] syldeville opened #2205 "Issue with "URLSearchParams": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams

#### What information was incorrect, unhelpful, or incomplete?
In Examples, it uses a `for x of [] loop`, when it should be `for x **in** {}` since URLSearchParams returns an object, not an array.

#### Specific section or headline?
In the first Examples headline

#### What did you expect to see?
//Iterate the search parame

[2021-02-09 11:10] Rumyra commented on #2205
Hi @syldeville thanks for the issue, however the code in the page is correct to use `of` as it's iterating over the values within the object (of works with array like objects) - if you were to use `in` you iterate over the properties within that object:

Using `of` would log `foo 1, bar 1`

Using `in` would log `append, delete, get, getAll` etc

[2021-02-09 11:10] #2205 closed

[2021-02-09 11:18] Rumyra commented on #2203
Thanks @myakura - pull request is in for this change #2206 👍

[2021-02-09 11:29] anastasiavyalt commented on #2190
This diagram is describing the browser's rendering process, I meant the next paragraph which talks about canvas.
![image](https://user-images.githubusercontent.com/31649464/107356866-ef5f3480-6b03-11eb-884a-aeabe4767247.png)

[2021-02-09 11:29] Rumyra commented on #2202
🙏 I've been considering this too @Elchi3 as it seems to be repeatedly coming up in issues.

I like the multiple line solution.

Clarifying:
[code]

I'm assuming (and it's not at all common but) if you have two optional params where you use one and the other is required it would go something like:
[code]

[2021-02-09 11:50] barcadams0 opened #2207 ""Black screen" video playing on Slack"
Dear Firefox community,
I faced an issue today. I uploaded a video to a Slack forum thread, it is embededd , I can see the videos' "screen" but when I press play, i got only a black screen with audio. I've already checked the forums considering this issue, in any case disabling hardware accelaration and disabling extension were advised, I tried this disabling these, but nothing happened.
Of course

[2021-02-09 12:42] rachelandrew commented on #2202
I'd agree with this as a solution. Expecting people to understand the square bracket notation is really just adding an extra layer of complexity for them to understand. In the CSS docs we have syntax (which is equivalent to this approach) and then formal syntax (which is useful if you know how to read specs). Can we do the same sort of thing here?

Example: https://developer.mozilla.org/en-US/docs

[2021-02-09 12:59] chrisdavidmills commented on #2190
@anastasiavyalt ah, ok, thanks for the clarification. Yup, that's definitely a missing diagram, and we'll have to find someone to create it.

[2021-02-09 13:04] chrisdavidmills commented on #2202
For what it's worth, I complete agreely with this solution.

[2021-02-09 13:05] mohitdmak commented on #1917
Oh, I am a newcomer actually and didn't know that it is automatically sent for review.
Thanks though.

[2021-02-09 13:07] chrisdavidmills commented on #1917
No worries at all. Yes, we do have a system to assign reviewers based on what docs area is being changed. If in doubt, check the reviewers list after you have created the PR.

[2021-02-09 13:09] chrisdavidmills commented on #2207
See https://github.com/mdn/content/issues/2082#issuecomment-775239514

[2021-02-09 13:09] #2207 closed

[2021-02-09 13:10] mohitdmak commented on #1917
Hmm ya I can see that now 👍

[2021-02-09 13:26] mohitdmak commented on #2191
I would like to fix this 👍

[2021-02-09 13:27] #1660 closed

[2021-02-09 13:27] chrisdavidmills commented on #2191
@mohitdmak sure thing. I've assigned you.

[2021-02-09 13:28] #1917 closed

[2021-02-09 13:53] mohitdmak commented on #2198
#2191

[2021-02-09 14:32] #2124 closed

[2021-02-09 14:36] chrisdavidmills commented on #2191
No worries at all. The best thing to do is, somewhere in your PR description, include the text `fixes #2191`. If you do this, it will automatically mention the PR here, and then when the PR is reviewed and merged, this issue will automatically be closed.

[2021-02-09 14:38] chrisdavidmills commented on #2191
Ah great, I see you've done it already — perfect!

[2021-02-09 14:44] mohitdmak commented on #2191
Oh alright.
Thanks for the explanation👍

[2021-02-09 15:31] jpmedley commented on #297
It made it into beta. Certainty for Chrome 89 now at 99.9%.

[2021-02-09 15:32] Rumyra commented on #2200
Agree this isn't worded correctly, however I am trying to decide at the moment a better way to explain it 👍 bear with

[2021-02-09 16:00] CreaTorAlexander commented on #2198
@anantakrroy I checked this article at w3schools about the compare function and I would say talking about the explicit elements would be easier to understand.

At the w3schools site sections *The Compare Function* https://www.w3schools.com/js/js_array_sort.asp

In the mdn article US/docs/Web/JavaScript/Refereqnce/Global_Objects/Array/sort

Besides that as you said > If compareFunction(a, b) return

[2021-02-09 16:05] #2152 closed

[2021-02-09 16:27] Ryuno-Ki commented on #1917
…aaaand it's in! :confetti_ball:

Thanks for your help, @mohitdmak!

[2021-02-09 16:29] Ryuno-Ki commented on #2202
Okay, given we seem to be on the same page …
can we make Yari does this for us in bulk? Or would it require a manual tweak on those pages?

[2021-02-09 16:36] Rumyra commented on #2080
Closing as the in page code is correct

[2021-02-09 16:36] #2080 closed

[2021-02-09 16:44] anantakrroy commented on #2198
@CreaTorAlexander Yes, I find this statement more appropriate too
*a comes before b*. In fact, using a [visualizer](http://pythontutor.com/visualize.html#code=let%20list%20%3D%20%5B2,6,13,-10,18,9%5D%3B%0A%0Aconsole.log%28list.sort%28%28a,b%29%20%3D%3E%20a%20-%20b%29%29%3B&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=js&rawInputLstJSON=%5B%5D&textRefe

[2021-02-09 16:44] #2198 closed

[2021-02-09 16:59] #1732 closed

[2021-02-09 17:02] areberuto commented on #2200
Thanks for dealing with it! I'll give it a try, if it sheds some light:

"A constructor's *prototype* property (for example, Foobar.prototype) is the object that will be used as the **[[Prototype]]** (that is, the returned value of calling `Object.getPrototypeOf(new Foobar()` ) for the instances created from said constructor.

We can assert it ourselves:

`
console.log(Foobar.prototype == new Foob

[2021-02-09 17:09] Rumyra commented on #1797
Examples were added with page updates - closing this

[2021-02-09 17:09] #1797 closed

[2021-02-09 17:10] Rumyra commented on #1798
Same as before - already included

[2021-02-09 17:10] #1798 closed

[2021-02-09 17:12] Ryuno-Ki commented on #1476
@rachelandrew Since you closed #2077 - is @Aayushap1 meant to submit another PR (with previous testing locally)?
Or is the issue not worth getting fixed? (In this case, shall we close it?)

[2021-02-09 17:15] rachelandrew commented on #1476
@Ryuno-Ki I closed it because - as explained - it was an incorrect fix and unrelated to the main issue. So no, you should leave this issue as is.

[2021-02-09 17:18] Rumyra commented on #1730
Thank you so much @hamishwillee 🙏 I noticed the window.name page already had info on this. I wish I had asked earlier 😆 I'll go through the BCD as thinking about it the way it's noted is probably the right way at the moment 👍

[2021-02-09 17:23] CreaTorAlexander commented on #2198
In my updated version as you can see in the PR above Fixes #2198 #2215

I wrote
` returns greater than 0, sort b before a`

[2021-02-09 17:23] Ryuno-Ki commented on #2073
In case you want to take it on

https://github.com/mdn/content/blob/df5700486afefcf0f130b5fd78aff475d51c274a/files/en-us/_redirects.txt

will need a new entry.

There's a run-script for it. If I recall correctly, it's syntax is `yarn content add-redirect <old_url> <new_url>`.
That means, you'll need a local setup if you want to fix it: https://github.com/mdn/content#more-substantial-changes descri

[2021-02-09 17:23] Rumyra commented on #1740
+1 in favour of giving web apis a taxonomy and probably moving the interfaces under the apis themselves. /Web/API is so useful and also can be difficult to navigate. Let me know if you need a hand @rachelandrew

[2021-02-09 17:25] Betalord commented on #2181
@CreaTorAlexander No, you should fix the links, not remove them.

For example:
https://developer.mozilla.org/en-US/docs/Rhino/Examples
is a link that doesn't work, but this link does:
https://developer.mozilla.org/en-US/docs/Mozilla/Projects/Rhino/Examples
same goes for many other links.

[2021-02-09 17:26] Rumyra commented on #1296
Is this an oscillator node page thing or a 'using the web audio api' thing - or both?

[2021-02-09 17:31] chrisdavidmills commented on #1940
I really like this proposal. I think it does what we've needed to do for a long time now. I also agree with the BCD approach outlined in mdn/browser-compat-data#8929. Having a separate file for the stuff defined in a mixin really does help make sense of it all in terms of the compat data.

For quite some time I've thought that we should define mixins in separate page sets, and then have some kind

[2021-02-09 17:32] Aayushap1 commented on #1476
Okay,........
And my other PR which I send you that was correct. You found irrelevant
issues in PR. Sorry to say but I can’t change the definition of attribute.I
researched content on 4 sites w3c w3school whatwg and gfg and still you are
saying I just codied everything I sent PR first no reviews by rachel and
then just closed by saying it is copied content and you just reworded the
content Mam I c

[2021-02-09 17:38] ljharb commented on #2073
While I can do that, the implication is that a *bunch* of old links broke under `https://developer.mozilla.org/en-US/DOM/`, and possibly many more. Are no audits done prior to changing a URL to prevent breaking the fundamental principle of the web that cool URLs don't change?

[2021-02-09 17:40] Ryuno-Ki commented on #2181
Okay, so that would require a change on https://github.com/mdn/content/blob/df5700486afefcf0f130b5fd78aff475d51c274a/files/en-us/_redirects.txt if I understand that correctly.

I think, the command for it is `yarn content add-redirect <old_url> <new_url>`.
You'll need a local setup for this: https://github.com/mdn/content#more-substantial-changes

[2021-02-09 17:40] CreaTorAlexander commented on #2181
@Betalord on which page have you found the dead link? I greped for it inside the project but haven't found anything.
![Bildschirmfoto 2021-02-09 um 18 38 53](https://user-images.githubusercontent.com/44900696/107404154-46660900-6b06-11eb-825f-d77018defd88.png)

[2021-02-09 17:42] Ryuno-Ki commented on #2073
Could you make a list of them?

I _think_ @peterbe implemented some link checks for internal references, but that's an ongoing effort.

The implication would be, that you'll need to get everything right on the first shot. As I learned last weekend, MDN web docs underwent several migrations already. This could be the first major effort to get the structure „right” once and for all.

Strictly speaki

[2021-02-09 17:47] Ryuno-Ki commented on #2181
There's a chance, that the link exists on some external documentation page which weren't updated …

[2021-02-09 17:51] ljharb commented on #2073
I don't have a list - i'm simply assuming that links are likely to have broken.

Yes, that is how websites work - you need to get everything right on the first shot, and if you didn't, you have to exhaustively redirect all old URLs for eternity.

[2021-02-09 17:52] Ryuno-Ki commented on #2073
There's logic for „short-circuiting redirects” in the tool already to skip some redirect chains.

[2021-02-09 17:55] CreaTorAlexander commented on #2181
@Ryuno-Ki inside the _redirects.txt is no entr

I did this now I am not sure if it worked as expexted. When I run git diff it shows me this
![Bildschirmfoto 2021-02-09 um 18 55 35](https://user-images.githubusercontent.com/44900696/107406156-6a2a4e80-6b08-11eb-9999-4a65de9f427b.png)

[2021-02-09 17:56] anantakrroy commented on #2198
@CreaTorAlexander Yes , I have seen that and it's good to be merged.

[2021-02-09 18:06] Betalord commented on #2181
Well links on the front page don't work, for example:
https://developer.mozilla.org/en-US/docs/Mozilla/Projects/Rhino/Documentation
Pretty much any link you click is a dead link, try it! Not sure if this is
due to some recent changes?
Anyway, even within specific documentation pages, where there is a link to
various examples - those links don't work either.

On Tue, Feb 9, 2021 at 6:56 PM Alexande

[2021-02-09 18:23] chrisdavidmills commented on #1948
I would also prefer 3, with an option for 2 if the dictionary definition gets particularly long and troublesome. In fact, a useful half-way-house approach might be to provide a really quick description of each property inside the object, and then point to a separate page for the full information if you need it, e.g.

---

### Parameters

options

A dictionary object containing the following proper

[2021-02-09 18:48] spanezz opened #2223 "Issue with "Document.cookie": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Document/cookie

#### What information was incorrect, unhelpful, or incomplete?

The code sample to extract a cookie matches on cookie name prefixes, not on full cookie names

This is the current sample:

[code]

As it is, it would happily match a cookie named `test20`. Using ``.find(row => row.startsWith('test2='))`` would match the exact

[2021-02-09 18:56] ccchapman opened #2224 "Issue with "Element.classList": Polyfill no longer working on IE 11"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Element/classList

#### What information was incorrect, unhelpful, or incomplete?

I am experiencing a problem with `Element.classList.toggle`'s polyfill not working. The second argument, `force`, is ignored on IE 11. It seems like the polyfill may not be applied in this situation. I believe the example has worked in the past.

This can als

[2021-02-09 19:12] Rumyra commented on #2200
I am yet to read the link :) But yes this is great - thank you - I've been down a little rabbit hole today with this and trying to find a good way to explain it - thank you @areberuto

[2021-02-09 19:24] amrishpatidar96 opened #2225 "if a program goes in to infinite loop than . than i loose my code that i write in mdn javascript online editor ."
because my computer memory get filled up by that infinite loop and browser say not responding . and there is not button in your editor for stopping it . so even it stuck in infinite loop we can stop the program. and over code persist in editor . there is reset button but in this case i loose whatever the code that i have written in editor.

[2021-02-09 19:43] chrisdavidmills commented on #1476
@Aayushap1 Hi there.

I would like to try to address a few things here, to avoid any problems in the future.

For a start, we do really appreciate your attempts to contribute to open source and to MDN, even if they have been mostly unsuccessful so far.

There are a few things to unpick here:

1. The closing of https://github.com/mdn/content/pull/2077 was unfortunate — the problem encountered was p

[2021-02-09 20:14] peterbe commented on #2073
I'm surprised https://developer.mozilla.org/en-US/DOM/element.addEventListener doesn't redirect to https://developer.mozilla.org/en-US/docs/DOM/element.addEventListener (note the injection of `/docs` after the en-US).

CC'ing @fiji-flo

Thing is, not everything that lacks a `$locale/docs/` part should have a `/docs`. For example, `/en-US/search` should *not* redirect to `/en-US/docs/search`.

We c

[2021-02-09 20:23] peterbe commented on #2073
@ljharb If you have energy, perhaps come and join in on https://github.com/mdn/yari/issues/2863 and see if we can try out that idea to make things a little bit better when our redirects aren't able to do what they're supposed to.

PS. It's not an excuse but we have over 12k redirects just for `en-US` alone and without actually reading the code you can appreciate the fact that our [regex redirects

[2021-02-09 21:00] Ryuno-Ki commented on #2225
Dear @amrishpatidar96,

we're sorry to hear this.

May I ask some clarifying questions?

1. Does that happen on a specific page? Or do you have that on several pages?
2. Were are you entering your code? Like, what do you mean by „javascript online editor”? (A screenshot is fine here also)
3. Can you share the code that caused the infinite loop?

I'm thinking about how we could stop an infinite loo

[2021-02-09 21:06] Ryuno-Ki commented on #2181
@peterbe As you have most likely the deepest knowledge in this: Does the above diff look legit to you?

[2021-02-09 21:23] ljharb commented on #2073
@peterbe thanks, I'll take a look. fwiw i do understand that MDN likely has this problem on a far larger scale than most other sites, and i do empathize, and i hope a holistic solution can be found that's not imposing a burden on users _or_ maintainers :-)

[2021-02-09 21:44] peterbe commented on #2073
We appreciate that!
We want all links to continue to work and we appreciate your help!

[2021-02-09 21:54] hamishwillee commented on #1730
Glad to finally be able to help :-)

[2021-02-09 22:20] Leolik opened #2227 "Issue with "Element.classList": The wrong attribute "dir" is set for the Examples"
MDN URL: https://developer.mozilla.org/ru/docs/Web/API/Element/classList

**What information was incorrect, unhelpful, or incomplete?**

For the Russian translation, there is an incorrect attribute `dir="rtl"` for the "Examples" section.

![image](https://user-images.githubusercontent.com/273519/107435877-ce1b3a00-6b3d-11eb-812a-5ad4958921c0.png)

**What did you expect to see?**

correct attribute

[2021-02-09 22:42] peterbe opened #2228 "Hidden paragraph BCD data still exists in content and in code"
In https://github.com/mdn/yari/issues/1191 we made the text:
[code]
be something that's part of the `<BrowserCompatibilityTable>` component. So every appearance of it in the content is redundant. This issue is about cleaning this up from the content.

[2021-02-09 22:43] peterbe commented on #2228
@nschonni Let's tackle this one once we've taken care of all the excess `class="external"` on all external links.

[2021-02-09 22:43] peterbe commented on #2228
It's clearly still there a lot:

[code]

[2021-02-10 02:03] mohitdmak commented on #2227
I can rectify 👍

[2021-02-10 02:25] mohitdmak commented on #2223
I have added a commit to a previous open PR.

[2021-02-10 02:38] toshkv opened #2231 "Issue with "Fetch API": strikethrough in content is confusing"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API#differences_from_jquery

#### What information was incorrect, unhelpful, or incomplete?
This text containing multiple strikethroughs is confusing:

fetch() won't can receive cross-site cookies; you can’t can establish a cross site session using fetch. Set-Cookie headers from other sites are silently ignored.

#### Specific section

[2021-02-10 03:30] GarrettS opened #2232 "Object.create — Polyfill Mistake"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/create#polyfill
Polyfill strategy has _**_always_**_ been a bad idea.

The strategy is to see if `Object.create` exists and if it doesn't, add it, but with different functionality. This creates wrong expectations where other code with the same global global context might have a check as:
[code]

And that will h

[2021-02-10 06:58] ansidev opened #2234 "Language problem"
- Link: https://developer.mozilla.org/vi/docs/Web/JavaScript/Reference/Global_Objects/Array/flat

- Problem: Language menu only shows 2 langs: Vietnamese and English (compare with https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/flat)

[2021-02-10 07:34] Ryuno-Ki commented on #2234
Hey @ansidev,

this is currently by design.

[2021-02-10 07:37] Ryuno-Ki commented on #2232
So … your suggestion is to replace the polyfill code?

[2021-02-10 07:39] Ryuno-Ki commented on #2231
Thanks for reporting.

If you want to take on it yourself, the file to edit is

https://github.com/mdn/content/blob/91d2f42aa3eef88a18be47c6cdb099e5b338dc21/files/en-us/web/api/fetch_api/index.html#L39-L40

[2021-02-10 07:51] Adriegh opened #2235 "Code mirroring in "function*""
Hello!
As said in title, I found that one of div's with code in article "function*" has a reversed or mirrored state.
Problem with article in russian language. Div right below "yield*" example. Pre element inside it has attribute "dir="rtl"" wich cause mirroring.
Link to the page: [function*](https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Statements/function*)

[2021-02-10 08:15] chrisdavidmills commented on #2227
Apologies, but we're not currently accepting changes to translations. Read https://hacks.mozilla.org/2020/12/an-update-on-mdn-web-docs-localization-strategy/ for an explanation.

[2021-02-10 08:15] #2227 closed

[2021-02-10 08:29] fiji-flo commented on #2073
https://github.com/mdn/yari/pull/2872 would be an example how solve this via our fundamental redirects. We can use this for now and expand if we find more?

[2021-02-10 08:36] chrisdavidmills commented on #2231
I've just fixed this; see https://github.com/mdn/content/commit/86bb421e7c11c261442d15ca765e36d9f96f5cbf

Thanks for reporting it @toshkv ; I agree that it was a bit confusing.

[2021-02-10 08:36] #2231 closed

[2021-02-10 09:12] mohitdmak commented on #2235
Hey @Adriegh , the very same issue which you found was raised in issue #2227  and I had made a PR for rectifying it.
But mdn is not currently making changes to translated contents.
You can refer to https://hacks.mozilla.org/2020/12/an-update-on-mdn-web-docs-localization-strategy/ for more details
So @chrisdavidmills  I guess this issue would have to be closed right ?

[2021-02-10 09:20] chrisdavidmills commented on #2235
Yes. Thank you @mohitdmak

[2021-02-10 09:20] #2235 closed

[2021-02-10 09:25] chrisdavidmills commented on #2087
This sounds like something that should be moved to the firefox source docs. It is already on the list of things to migrate that the Fx engineers are working through. I've ping those involved in that to bring it to their attention.

[2021-02-10 10:11] yukulele opened #2237 "add BigInt on lazy equal table"
BigInt should be added to this table:\
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Equality_comparisons_and_sameness#loose_equality_using

Specification:\
https://tc39.es/ecma262/#sec-abstract-equality-comparison

[2021-02-10 10:48] SeaView1 opened #2239 "Issue with "What is a URL?": possible issue with description of Authority portion of URL"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Common_questions/What_is_a_URL

#### What information was incorrect, unhelpful, or incomplete?
Text "Therefore, the colon is not **preceded** by two slashes and only acts as a delimiter between the scheme and mail address."

#### Specific section or headline?
Authority
[https://developer.mozilla.org/en-US/docs/Learn/Common_questions/What_is_a

[2021-02-10 10:59] CreaTorAlexander commented on #2239
I can update it 👍

[2021-02-10 11:09] SeaView1 commented on #2239
Thank you @CreaTorAlexander  :+1:

[2021-02-10 11:23] chrisdavidmills commented on #2239
Assigned; thanks @CreaTorAlexander !

[2021-02-10 11:26] jonkri commented on #2240
Thank you, @chrisdavidmills! :slightly_smiling_face:

I appreciate you help, and I'm looking forward to hearing your thoughts about the element usage, if you find the time!

[2021-02-10 11:32] rachelandrew commented on #1706
Seems to work fine with an image, so I'm not sure why not with the SVG.

https://codepen.io/rachelandrew/pen/cb98439b1f485cd33c55a582da973dd4

[2021-02-10 11:39] rachelandrew commented on #1706
Oh. I just had a thought.

You need `preserveAspectRatio="none" on your SVG.

https://codepen.io/rachelandrew/pen/6be905fc1f68875f5d8ac64c5ce06c0a

@chrisdavidmills @WDGroll

[2021-02-10 12:03] SeaView1 commented on #2239
Thank you @chrisdavidmills  :+1:

[2021-02-10 12:48] chrisdavidmills commented on #1706
@rachelandrew nice, thanks Rachel!

[2021-02-10 12:49] #2239 closed

[2021-02-10 12:50] rachelandrew commented on #1706
I was trying to see where this info could be added, and found this: https://developer.mozilla.org/en-US/docs/Web/CSS/Scaling_of_SVG_backgrounds

So maybe I'll add it as a note.

[2021-02-10 12:54] trcat opened #2242 "Issue with "background-attachment": "local" and "fixed" doesn't work in Safari 14"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/background-attachment

#### What information was incorrect, unhelpful, or incomplete?
`background-attachment: local` and `background-attachment: fixed` doesn't work in Safari 14

#### Specific section or headline?
Browser compatibility

#### What did you expect to see?
`background-attachment: local` and `background-attachment: fixed` should

[2021-02-10 13:21] chrisdavidmills commented on #2245
@hamishwillee this is an oldie but goldie, and related to the events ref stuff you are currently doing. Maybe you could grab this one once you are done with the other bit?

[2021-02-10 13:23] chrisdavidmills opened #2247 "Update the "Localizations and character sets" guide"
Cross-filed from https://bugzilla.mozilla.org/show_bug.cgi?id=1480455

https://developer.mozilla.org/en-US/docs/Web/Guide/Localizations_and_character_encodings

This article should be really useful but actually contains vast amounts of Firefox-only trivia that belong in an internals document at best. It needs to be updated to be a general guide to dealing with different character sets, etc.

[2021-02-10 13:26] chrisdavidmills commented on #2248
Did this one ever get finished? @jahzielv @Elchi3

[2021-02-10 13:43] duongdominhchau opened #2251 "Low constrast link in heading"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Expressions_and_Operators

Here is what I see on my computer:

![image](https://user-images.githubusercontent.com/56427890/107517501-69fd8200-6be0-11eb-9d98-e04a60244b6e.png)

The dark background seem out of place, other heading levels don't have dark background. I'm using dark theme, if that helps.

[2021-02-10 13:48] avivmu commented on #2239
@SeaView1 Thanks for opening this.
I just want to add a small remark; while encountering small problems like this I prefer to submit a PR directly (instead of opening an issue) - it will save a little bit of time. If you are unfamiliar with the process, [this repo README](https://github.com/mdn/content#simple-changes) provides a guide for doing it.

[2021-02-10 13:50] rachelandrew commented on #2242
@trcat is this in iOS Safari or desktop?

[2021-02-10 14:12] rachelandrew commented on #1476
@benschwarz thanks for reporting this and sorry you got all the extra discussion in here!

I've just submitted a PR to simplify the example. The height issue on the iframe @chrisdavidmills mentioned is being fixed elsewhere as it is happening to all examples and is a CSS issue, so that should soon resolve.

[2021-02-10 14:23] foolip commented on #1940
I'm very happy to see mixins being phased out, but want to quote what I said about `WindowOrWorkerGlobalScope` in the BCD issue:

[2021-02-10 14:26] SeaView1 commented on #2239
@CreaTorAlexander and @chrisdavidmills - thanks again for your swift response on this.

[2021-02-10 14:33] SeaView1 commented on #2239
Good point @avivmu , thanks for that suggestion and the link. I hadn't seen this README (as you correctly guessed!) and will bear this in mind next time.

[2021-02-10 14:37] CreaTorAlexander commented on #2239
You're welcome  @SeaView1

[2021-02-10 14:41] Elchi3 commented on #1940
Thanks @foolip, I agree to leave this out for now and worry about it later. I also assume there will be exceptions to our new mixin documentation convention because the Web is not defined very consistently :)

[2021-02-10 15:11] #2024 closed

[2021-02-10 15:19] NegiAkash890 commented on #2251
I would like to help here .

[2021-02-10 15:19] #1476 closed

[2021-02-10 15:33] peterbe commented on #2181
The links were wrong within the HTML and have been for ages. When we migrated from the Wiki to the new system (Yari) we migrated the archived content into a separate repo, but we didn't include its redirects.
So there...
- active content
  - redirects
- translated content
  - redirects
- archived content
  - NO redirects

:(

The quickest and simplest solution is unfortunately to make a PR on the

[2021-02-10 15:42] chrisdavidmills commented on #2251
@NegiAkash890 I've assigned you to the issue, thanks for your interest!

Please ask questions if you need any help. Start by having a look at this repo's README file, which included information to get you started, including how to set up and run Yari/MDN locally, so you cna test your changes before filing a PR.

[2021-02-10 15:42] keithxemi commented on #2186
To follow up, https://developers.google.com/web/updates/2016/01/urlsearchparams has this example parameter q=search+string&version=1&person=Eric clearly showing the + replacement.

The spec has this comment "This can be especially surprising when using searchParams to operate on a URL’s query." highlighted in a Note https://url.spec.whatwg.org/#dom-urlsearchparams-get

This MDN page https://develo

[2021-02-10 15:49] CreaTorAlexander commented on #2181
@peterbe that's it only fix this one link? I mean all the links on https://developer.mozilla.org/en-US/docs/Mozilla/Projects/Rhino/Documentation are broken

[2021-02-10 15:51] peterbe commented on #2181
No. Sorry. I implied that you'd make multiple edits like the above-demonstrated diff all across that page.

[2021-02-10 15:53] peterbe commented on #2181
I chatted to @chrisdavidmills about this today.

The fact that we didn't port the archived-content's redirects was most likely a mistake. *This* issue isn't the first and won't be the last that would be a non-issue if we had ported the redirects.
So I'm going to try to dig up the old migration code and see if I can produce a `_redirects.txt` file specifically for URLs that are considered archived.

[2021-02-10 15:57] steggald commented on #2251
Hello, I am new to this I have started to work on this but have just realized it has been assigned to someone else, can I still commit my changes?
what I have done is removed the <a></> sections from the <h3></h3> headings in the html.
Regards
David

[2021-02-10 16:20] mera-pakistani-mera-fakhat opened #2255 "Coonection"

[2021-02-10 16:22] mera-pakistani-mera-fakhat commented on #2255
App creating problem

[2021-02-10 16:23] #2255 closed

[2021-02-10 16:32] jeremycook opened #2256 "Issue with "Document.readyState": Are sub-resources like scripts still loading when readyState is "interactive""
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Document/readyState#different_states_of_readiness

#### What information was incorrect, unhelpful, or incomplete?
The example code has the following comment that does not indicate if scripts are still loading when readyState is "interactive".

[code]

#### Specific section or headline?
Different states of readiness

#### What did you expect

[2021-02-10 16:46] tejohnso opened #2258 "Issue with "FetchEvent.respondWith()": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/FetchEvent/respondWith

#### What information was incorrect, unhelpful, or incomplete?

The Browser Compatibility indicates no support in Safari (Desktop) which is contradicted in [Is ServiceWorker Ready](https://jakearchibald.github.io/isserviceworkerready/index.html#fetchevent.respondwith()) referenced in the See Also section.

#### Speci

[2021-02-10 16:53] Ryuno-Ki commented on #2258
You might need to fill the ticket with https://github.com/mdn/browser-compat-data/issues - a new release there will be catched in other parts of MDN and then trigger an update of the table.

[2021-02-10 16:57] avivmu opened #2260 "Issue with "Document.cookie": document.cookie is empty which causes an Exception"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Document/cookie#example_2_get_a_sample_cookie_named_test2

#### What information was incorrect, unhelpful, or incomplete?
Looking at the DevTools I saw that `document.cookie` was empty (`""`) (**after** adding the `test1` and `test2` cookies), which caused the `TypeError`:

    at Example_2_Get_a_sample_cookie_named_test2:52

#### Specific

[2021-02-10 16:59] Ryuno-Ki commented on #2260
Hm, it works for me. Let's see, whether someone else has an idea.

[2021-02-10 17:07] CreaTorAlexander commented on #2181
Would it help when I do it for this site manually? I mean these are 15-20 links this will be fixed fast.

[2021-02-10 17:14] #2258 closed

[2021-02-10 17:18] Ryuno-Ki commented on #2186
@chrisdavidmills Would those examples go into interactive repo or be plain-text in MDN?

[2021-02-10 17:18] duongdominhchau commented on #2251
@NegiAkash890 If you have not started yet, please wait for my PR #2261 or pull from my fork. I apologize for the inconvenience. I didn't see the notification of the assignment, so I have done some work after you are assigned to the issue.

By the way, there is a related problem in <https://developer.mozilla.org/en-US/docs/mozilla/projects/nss/ssl_functions/sslfnc> and nearby pages. This page is fi

[2021-02-10 17:19] amrishpatidar96 commented on #2225
![Screenshot (8)](https://user-images.githubusercontent.com/52349963/107542273-07ab7e00-6bee-11eb-9ac2-f773f3358c77.png)
after few minutes of running . onthing works on that component(online editor).
![Screenshot (9)](https://user-images.githubusercontent.com/52349963/107542283-09754180-6bee-11eb-9f83-abc262714d38.png)

why do we not have button for handling such scenarios . because i use this edi

[2021-02-10 17:22] Ryuno-Ki commented on #2225
Ah, okay. So you're learning with an interactive example. That's cool!

The infinite-loop bug should likely be reported in https://github.com/mdn/interactive-examples/issues as well.
I haven't looked into how they set up the execution.

[2021-02-10 17:23] Ryuno-Ki commented on #2181
:crossed_fingers:

[2021-02-10 17:42] Ryuno-Ki commented on #2087
Would it make sense to have a label for Firefox engineers?
This way, they can filter for what's relevant to them.

[2021-02-10 17:45] NegiAkash890 opened #2262 "Issue with "sslfnc": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Mozilla/Projects/NSS/SSL_functions/sslfnc

#### What information was incorrect, unhelpful, or incomplete?
Some links are broken and as well as few  <a> ( anchor tags ) are'nt displayed incorrectly .

#### Specific section or headline?
Links below
Chapter 4
SSL Functions

This chapter describes the core SSL functions.

Some <a> tags styling like

In

[2021-02-10 17:46] NegiAkash890 commented on #2262
I would like to fix the same issue .

[2021-02-10 17:47] peterbe commented on #2181
Truth is, we don't really accept pull requests on the archived content. There's nobody to review them. But we've made exceptions in the past.

I'm already on the way to fix this wholesome by re-migrating all the archived content redirects. It'll take a couple of days from coding to deployment until it's all there.
But progress is good. I logged all the URLs that it would pick up and all the `/Rhin

[2021-02-10 18:01] peterbe commented on #2181
If you look at https://github.com/mdn/archived-content/pull/6 you'll see that the `en-us/_redirects.txt` file has things like this:
<img width="798" alt="Screen Shot 2021-02-10 at 1 01 03 PM" src="https://user-images.githubusercontent.com/26739/107551286-123f2680-6ba0-11eb-9329-8dd3020b1d3c.png">

Which makes me confident that the links in pages like https://developer.mozilla.org/en-US/docs/Mozill

[2021-02-10 18:04] peterbe commented on #2251
@chrisdavidmills is right. The headings shouldn't have `<a>` tags in them.
Soon, this will be automatically [flagged as a flaw](https://github.com/mdn/yari/issues/2593).

[2021-02-10 18:07] chrisdavidmills commented on #2251
Apologies @NegiAkash890  (and @steggald ). @duongdominhchau enthusiatically went ahead and fixed the issue that they filed.

This is fine — it is most important that we get these issues fixed. We can always find you some other issues to work on — please ping me in any other issues that interest you.

[2021-02-10 18:07] #2251 closed

[2021-02-10 18:09] chrisdavidmills commented on #2262
OK, assigned!

[2021-02-10 18:11] chrisdavidmills commented on #2186
@Ryuno-Ki These would go into the document directly, as static or live examples. We don't currently have the ability to add interactive examples to WebAPI pages.

[2021-02-10 18:19] Ctrl-Alt-Zen opened #2263 "Issue with "Set": Demo code throws unexpected errors due to variable declarations"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set

#### What information was incorrect, unhelpful, or incomplete?

The demonstration code threw uncaught errors. Variables were undeclared or referenced inconsistently.

#### Specific section or headline?

/*demo code quoted below throws several errors, mySet2  and set1, set2 are not declared */

mySet2 = n

[2021-02-10 18:28] CreaTorAlexander commented on #2263
I can update it 👍

[2021-02-10 18:35] Ctrl-Alt-Zen commented on #2263
The rest of the tutorial was super helpful, thanks for quick response 🙂

[2021-02-10 18:41] CreaTorAlexander commented on #2263
I know it throws an error, but I think the console.logs shouldn't be in the example. @chrisdavidmills will console.logs() placed in examples?

[2021-02-10 18:45] Ctrl-Alt-Zen commented on #2263
console.log(mySet)

... is used earlier in the same Set tutorial code. Not really a concern of mine one way or other, just following the example above from the same article.

Also not personally opinionated about mySet vs mySet1 etc but the code MUST compile

[2021-02-10 19:19] Dmole commented on #2086
Another example;

https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Interact_with_the_clipboard

recommends usage of a deprecated API without saying so;

https://developer.mozilla.org/en-US/docs/Web/API/Document/execCommand

[2021-02-10 19:48] CreaTorAlexander commented on #2263
Well, in my PR I put it inside console.log()`s. I named it now mySet1 and mySet2. I think it is not a good name scheme to call the variables mySet and mySet2.

[2021-02-10 20:13] Ctrl-Alt-Zen commented on #2263
Good fix, and you're right that "mySet, mySet2" isn't very intuitive

[2021-02-10 20:44] Ryuno-Ki commented on #2086
Not quite. I asked Chris the same a while ago: https://github.com/mdn/content/issues/1807#issuecomment-768971712

[2021-02-10 20:55] Ryuno-Ki commented on #2186
Nice!

@keithxemi Would you be willing to cook some examples and add them to the docs?

https://github.com/mdn/content/blob/89b781abf1093d108f0fba926286c5b9eac59923/files/en-us/web/api/urlsearchparams/get/index.html#L34-L47

[2021-02-10 20:58] nschonni opened #2269 "Issue with "Sizing": stub page from wiki migration"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/SVG/Sizing

#### What information was incorrect, unhelpful, or incomplete?

Looks like a stub generated from the old Wiki setup. Not sure if it should just be deleted till content is added

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report detail

[2021-02-10 21:00] Ryuno-Ki commented on #2064
@samihibrahim Thanks for filling this issue!

I think, it's best to simply delete the link:

https://github.com/mdn/content/blob/89b781abf1093d108f0fba926286c5b9eac59923/files/en-us/web/api/document_object_model/locating_dom_elements_using_selectors/index.html#L48

Do you want to do it?

[2021-02-10 21:03] nschonni opened #2270 "Issue with "Replaced Element": stub page from wiki migration"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/SVG/Replaced_Element

#### What information was incorrect, unhelpful, or incomplete?

Looks like a stub generated from the old Wiki setup. Not sure if it should just be deleted till content is added

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page rep

[2021-02-10 21:11] Ryuno-Ki commented on #2269
@nschonni Thanks for pointing this out.

If I get the spec right: https://svgwg.org/specs/integration/#svg-css-sizing
`sizing` refers to `height` and `width` attribute.

I could also imagine some cross-referencing to https://developer.mozilla.org/en-US/docs/Web/CSS/Scaling_of_SVG_backgrounds#automatic_sizing_using_auto_for_both_dimensions

That being said, I couldn't find a reference to this page,

[2021-02-10 21:15] Ryuno-Ki commented on #2270
This page actually is referenced in the `_wikihistory.json` with a list of contributors:

* kscarfone => @kscarfone
* Jeremie => 1.521 results, so I'm not tagging.
* ethertank => @ethertank
* Anonymous

Do you remember what you did on 16th January 2019 when this page was created?

[2021-02-10 21:15] Ryuno-Ki commented on #1916
Meh, still haven't found time yet.

[2021-02-10 21:23] peterbe commented on #2269
Someone just created this page so that they can create a sub-page. I think in Yari you can have sub-folders without a "parent" index.html.
But it's not even possible to test that since there are no sub-folders in https://github.com/mdn/content/tree/main/files/en-us/web/svg/sizing

I think this page can simply be deleted. I'm not familiar with [that macro](https://github.com/mdn/content/blob/89b781

[2021-02-10 21:24] peterbe commented on #2269
The other page to scrutinize is files/en-us/web/svg/replaced_element/index.html if someone wants to take a look.

Perhaps @escattone has some better/stronger opinions of what to do with pages like this.

[2021-02-10 21:26] Ryuno-Ki commented on #2269
=> #2270

I'm going to delete this one tomorrow morning (CET).

[2021-02-10 22:05] b0risfen opened #2274 "Misprint in https://developer.mozilla.org/ru/docs/Web/Guide/CSS/Visual_formatting_model page"
In the link (and chapter title) https://developer.mozilla.org/ru/docs/Web/Guide/CSS/Visual_formatting_model#%D0%B1%D0%BB%D0%BE%D1%87%D0%BD%D1%8B%D0%B5_%D1%8D%D0%BA%D0%BB%D0%B5%D0%BC%D0%B5%D0%BD%D1%82%D1%8B_%D0%B8_%D0%B1%D0%BB%D0%BE%D0%BA-%D0%B1%D0%BE%D0%BA%D1%81%D1%8B
wrote "эклементы" instead of correct "элементы
![Screenshot](https://user-images.githubusercontent.com/77898301/107578572-94f5cf00-

[2021-02-11 01:08] keithxemi commented on #2186
I'll give it a try. Not familiar with the process but I will read up on it.

[2021-02-11 02:12] JustinWebDev commented on #2087
Just make sure you change the link in Fx about:networking#logging page!  I think this might re-enforce the need to keep the page current.

[2021-02-11 05:49] wealthyamagre opened #2278 "Hello world guide.sue with "HTTP Messages": (short summary here please)"
My name is Priscilla Akpevwe Amagre. I recieve a inbox message from you. I was ask to type my BVN, if i type the bvn is showing  invalid. Please help me. This are my information. Name, priscilla Akpevwe Amagre, email, amagrepriscilla1@gmail.com. phone number, 08100351266.if there is any information u need from me you can reach me. Sir i will be very gratfull if my reguest is granted.Thanks. MDN UR

[2021-02-11 07:57] CreaTorAlexander commented on #2263
@Ctrl-Alt-Zen I have updated the commit and I decided now to remove the `console.log's` from the example. The reason was at the mySet1 example there weren't any logs when showing has or size.
[code]
It is probably because it looks cleaner in the examples and th // indicates that here is a console.log.

But it is a good question when to use logs in the examples and when not but to answer this we ha

[2021-02-11 08:17] Ryuno-Ki commented on #2263
I think, I've seen `// => 5` as a notation to demark expected console outputs a few years ago.

[2021-02-11 08:31] #2278 closed

[2021-02-11 08:34] Ryuno-Ki commented on #2186
Great!

Let us know if something is unclear or you need help.

[2021-02-11 08:41] Ryuno-Ki commented on #2274
Thank you for reporting. Sadly, Russian translations aren't updated for now.
See https://hacks.mozilla.org/2020/12/an-update-on-mdn-web-docs-localization-strategy/ for an explanation.

[2021-02-11 08:41] #2274 closed

[2021-02-11 08:45] Ryuno-Ki commented on #1089
Hey @ynn1k,
thanks for reporting. Right now, translated content won't be touched.
See https://hacks.mozilla.org/2020/12/an-update-on-mdn-web-docs-localization-strategy/ for an explanation.

@peterbe Does that effect localised URLs like https://developer.mozilla.org/de/docs/HTML/Global_attributes in this case, too?
I _think_ you had something cooking along harmonising those URLs.

https://www.w3.or

[2021-02-11 08:50] riccardoscalco commented on #2141
Summing up:

In the [jsfiddle](https://jsfiddle.net/tatumcreative/9vr2dorz/) we are passing to **matrix3d** a matrix stored in array `rotateZMatrix` in column-major order

[code]

The same matrix stored in a row-major order array would be

[code]

The current article specifies matrices in row-major order arrays and defines `rotateZMatrix = [cos(a), -sin(a),  ...]`, in contrast with `rotateZMatrixR

[2021-02-11 08:50] Ryuno-Ki commented on #2269
#2280 is going to delete this page.

@nschonni catched some more in #2271

[2021-02-11 09:01] #2269 closed

[2021-02-11 09:02] avivmu commented on #2225
[It was discussed](https://github.com/mdn/interactive-examples/issues/50) and they decided it's not worth implementing something to tackle this

[2021-02-11 09:06] chrisdavidmills commented on #1089
That's correct, thanks for reporting this @Ryuno-Ki

We are soon enforcing a "en-US slugs only" policy to give tier 1 locales the same structure as the en-US content. But this doesn't include de, as it isn't a tier 1 locale (it has no active maintenance community). We'll be annouceing this in a blog post later today.

[2021-02-11 09:13] #2263 closed

[2021-02-11 10:09] Aayushap1 commented on #1476
https://github.com/mdn/content/issues/1476#issuecomment-776109342
@chrisdavidmills I was talking about PR #2070

[2021-02-11 10:32] Elchi3 commented on #2263
I've avoided `console.log` in pure JS code blocks as well. I think the comments are sufficient enough as you say.
Only when showing code in an HTML code example (so JS inside `<script>`), I've made sure to use `console.log`.

[2021-02-11 11:07] #1749 closed

[2021-02-11 11:10] CreaTorAlexander commented on #2256
I would consider scripts as sub-resources like images, stylesheets and frames.
I can update it :+1:

[2021-02-11 11:12] chrisdavidmills commented on #1303
Fixed by https://github.com/mdn/content/pull/1524

[2021-02-11 11:12] #1303 closed

[2021-02-11 11:14] chrisdavidmills commented on #2242
Hi @rachelandrew ! Did you start work on this yet? If not, can I please steal it for use with onboarding a new contributor?

[2021-02-11 11:14] Rumyra commented on #1724
Seems all prs for this are in - should just need 'dev-doc-complete'

[2021-02-11 11:16] Rumyra commented on #1721
Believe all prs for this are in and only needs 'dev-doc-complete'

[2021-02-11 11:20] chrisdavidmills commented on #2260
This worked for for me too. I'm closing this as "works for me"

[2021-02-11 11:33] ansidev commented on #2234
@Ryuno-Ki As a user, I think it's inconsistence design. It's not a good practice. To me, it should be changed! :)

[2021-02-11 11:33] rachelandrew commented on #2242
@chrisdavidmills no, other than asking the question above, go for it!

[2021-02-11 11:52] CreaTorAlexander commented on #2234
@ansidev have you tried to go back to english? When you change to english then it will show all the other available languages.

[2021-02-11 11:55] CreaTorAlexander commented on #1887
@chrisdavidmills I can update it to const or maybe open it up as *Good first issue.*

[2021-02-11 11:56] ansidev commented on #2234
@CreaTorAlexander Of course I know, but I don't know about that until I created this issue. That's a workaround so it's a bad practice, bad design.

[2021-02-11 12:12] Ryuno-Ki commented on #2234
@schalkneethling Can you pick this up for https://github.com/mdn/yari/issues/1486 ?

[2021-02-11 12:19] Ryuno-Ki commented on #2256
Give it a shot, @CreaTorAlexander!

[2021-02-11 12:24] Ryuno-Ki commented on #2225
Thanks for the link, @avivmu.
I'm closing this as Won't Fix then.
I'm sorry, @amrishpatidar96

[2021-02-11 12:24] #2225 closed

[2021-02-11 12:31] avivmu commented on #2141
Since the matrices are represented by a one dimensional array, listing the values using `array.join(',')` will output them in row major order:
[code]
while when calling [matrix3d](https://drafts.csswg.org/css-transforms-2/#three-d-transform-functions) you should really pass `a,c,b,d` as the input, if you want to use `illustration`.
Why not make the same changes in the fiddles?
And  update the resu

[2021-02-11 12:32] chrisdavidmills commented on #1887
@CreaTorAlexander ok, happy for you to have a go at it.

[2021-02-11 12:45] Kim-R2O commented on #2237
I will work on it :)

[2021-02-11 13:19] schalkneethling commented on #2234
That particular issue is about the UI only, what is displayed in the dropdown I think would be more @peterbe domain.

[2021-02-11 13:27] peterbe commented on #2234
@ansidev You landed on that Vietnamese page and you wanted to switch to what other non-English locale?

The old MDN (when it was a Wiki) used to have all *other* translations for a document. But the new MDN you have switch to English and from there switch to some other locale.
The original reason for the change was technical. Chicken-and-egg problem when you're building the whole site from scratch

[2021-02-11 13:37] #2234 closed

[2021-02-11 13:47] chrisdavidmills commented on #2237
@Kim-R2O Assigned; thanks for your interest in helping out!

[2021-02-11 13:54] Simbiat opened #2283 "http.headers.Sec-Fetch-User - Values Description"
#### What information was incorrect, unhelpful, or incomplete?
Values for the header have incorrect (switched) descriptions

#### What did you expect to see?
As per https://www.w3.org/TR/fetch-metadata/#sec-fetch-user-header if user activated requested, the header should report `?1`, but description says, that this is the case for `?0`

#### Did you test this? If so, how?
Did not test this specifi

[2021-02-11 14:05] riccardoscalco commented on #2141
I agree that we should pass `[a, c, b, d]` to matrix3D in order to pass matrix `illustration`, because matrix3D expect array in column-major order.

I try to explain why I am suggesting to not make the same changes (i.e. the changes introduced in the PR) in the fiddles.

In the current article we define the array `rotateZMatrix = [cos(a), -sin(a), ...]`, that array is in row-major order therefore

[2021-02-11 14:08] kazuhitonakayama commented on #876
@chrisdavidmills
Thank you for your reply and reopening this issue!!🙇‍♂️
I got it !
Looking forward to it !

[2021-02-11 14:45] Simbiat commented on #2283
It is, yes, but I did not find the link to report it that way on the page, so used the one clearly available (=  Sorry for any inconvenience.