[2021-02-11 14:47] Rumyra commented on #1812
This page has a few flaws & broken links, I'm fixing it up now...

[2021-02-11 15:17] CreaTorAlexander commented on #2283
I can update it 👍

[2021-02-11 15:25] avivmu commented on #2141
Both arrays are the same - one dimension - there is no row-major\column-major ordering whatsoever. When we use `rotateZMatrix.join(',')` the output is specified in row-major order - which is incorrect both for the article and for fiddle.

[2021-02-11 15:38] aardrian opened #2286 "Issue with all content: Missing link underlines"
MDN URL: https://developer.mozilla.org/en-US/docs/ (and all pages below)

#### Issue

None of the links within the content have an underline. They are difficult to distinguish from the surrounding content and require interaction to identify them in some cases.

The page content is dark gray (`#212121`) and the link color is dark blue (`#00458b`). with a contrast ratio of 1.7:1, it is fair to assum

[2021-02-11 16:07] chrisdavidmills commented on #2286
@aardrian , you are a saint ;-)

I have tried to get link underlines added to MDN a couple of times, and it seems good to revisit this.

The person to talk to about this would be @schalkneethling , our front-end dev. What do you think man? What is the usual procedure for making such sweeping changes, and where would be best to file this issue?

[2021-02-11 16:31] #1812 closed

[2021-02-11 16:49] tamccullough opened #2289 "Issue with "<dialog>: The Dialog element": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog

#### What information was incorrect, unhelpful, or incomplete?
I am running Firefox 85.0.1 (64-bit)
Ubuntu 20.02.2 LTS

`The <dialog> API is not supported by this browser`

#### Specific section or headline?
Doesn't function

#### What did you expect to see?
I expected to see the dialog popup

#### Did you test this? If so,

[2021-02-11 17:04] chrisdavidmills commented on #2289
Hi @tamccullough !

The browser compat table Firefox section includes a dropdown arrow — if you click that, it reveals the full information. Basically, we've supported it for a long time, but behind a flag in release (it's on by default in Nightly).

I'm closing this now, but feel free to chime in again if you've got more thoughts aobout this.

[2021-02-11 17:04] #2289 closed

[2021-02-11 17:17] trcat commented on #2242
is desktop

[2021-02-11 17:34] Ryuno-Ki commented on #2286
I'd say, this issue should be transferred from mdn/content to mdn/mdn-minimalist, since it's a styling issue.
(Do we need to respect mozilla.design branding guidelines?)

[2021-02-11 17:36] Ryuno-Ki commented on #2283
@CreaTorAlexander it's yours!

[2021-02-11 18:19] nessthehero opened #2295 "Issue with ":visited": Needs to mention background-color only works with a default color."
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/:visited

#### What information was incorrect, unhelpful, or incomplete?

Article mentions that background-color is a supported style of :visited, but this is partially true. The style only works if the anchor tag already has a background color property. Otherwise, it is ignored.

#### Specific section or headline?

Privacy restrictions

##

[2021-02-11 18:23] CreaTorAlexander commented on #2295
I can update this 👍

[2021-02-11 18:34] CreaTorAlexander commented on #2295
What would be the best? Shall I put a paragraph below the enumeration of the css properties
`Allowable CSS properties are color, background-color, border-color, border-bottom-color, border-left-color, border-right-color, border-top-color, column-rule-color, outline-color, text-decoration-color, and text-emphasis-color.`
*Note: background-color will only be applicable if the anchor tag already has

[2021-02-11 20:07] dhananjayd1729 commented on #2286
Hello @chrisdavidmills and @aardrian, since this is an easy fix, I would like to work on this. This would be my first bug fix. Can I start working on the same?

[2021-02-11 20:08] tamccullough commented on #2289
Hi. Thanks!

Sorry, I just discovered that I needed to set - dom.dialog_element.enabled - to true.

[2021-02-11 20:29] aardrian commented on #2286
@dhananjayd1729 I have no say in whether you can jump on this.

However, as I note in the issue:

So there is a risk your PR will be rejected if it enables underlines in navigation, footer, etc.

[2021-02-11 20:42] Ryuno-Ki commented on #2295
@CreaTorAlexander I assigned it to you.

Perhaps start with the note and then add additional properties once it's in?
The commit message then could have a „relates to #<Issue_ID>” instead of „fixes #<Issue_ID>”.

[2021-02-11 20:48] simevidas commented on #2286
A quick reminder that underlines can also be styled now, e.g.,

[code]

[2021-02-11 20:56] dhananjayd1729 commented on #2286
@aardrian I will try to underline only those links which are actually in the body of the HTML page(i.e apart from the footer and navigation). Will that work?

[2021-02-11 20:58] Ryuno-Ki commented on #2286
To avoid duplicated efforts on this, I assigned this issue to @dhananjayd1729 in the meantime.

[2021-02-11 21:02] rachelandrew commented on #2295
This is actually covered in the examples and the info above them: https://developer.mozilla.org/en-US/docs/Web/CSS/:visited#examples

[2021-02-11 21:07] dhananjayd1729 commented on #2211
Hey @chrisdavidmills, I would like to know more about this issue(what information should we put there?)

[2021-02-11 21:21] dhananjayd1729 commented on #2286
Thank you, @Ryuno-Ki

[2021-02-11 22:51] peterbe commented on #2181
See https://github.com/mdn/yari/pull/2880#issuecomment-777808063
This is going to help all old legacy archive URLs that became broken in the Yari migration.

[2021-02-11 22:51] #2181 closed

[2021-02-11 23:20] hamishwillee commented on #2202
My understanding of this proposal is that
1. **globally** (not just arrays) we move towards the syntax section having the options "spelled out".
1. an optional heading **Formal syntax** section can be added that still uses the brackets, if this is seen as useful.

Yes to "1".

I don't really like throwing away the more compact BNF syntax (because I personally find it useful) and the inconsistency

[2021-02-11 23:53] raisen opened #2302 "Issue with "await": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/await

#### What information was incorrect, unhelpful, or incomplete?
...however it can be used on it's own with JavaScript modules

#### Specific section or headline?
Above syntax

#### What did you expect to see?
...however it can be used on its own with JavaScript modules

#### Did you test this? If so, how?

<

[2021-02-12 00:44] hamishwillee commented on #2086
@chrisdavidmills I agree with the sentiment here. It is much more scalable and reliable to dynamically generate these kinds of lists from "tagged" content than to try to manually keep them up to date. In this case the "tag" might be use of the `{{deprecated_inline}}` macro.

If you agree we should open a discussion on yari for this.

Note: This is basically the same approach I am proposing we use

[2021-02-12 00:51] hamishwillee commented on #2087
@chrisdavidmills Thanks. Is there an issue we can link for the migration to the firefox source docs? What I'd like to do is file an issue  against firefox to update about:networking#logging when the doc is migrated and ensure that the version in archive ends up being deleted.

That would allow me to close this issue :-)

[2021-02-12 01:14] randycasburn opened #2303 "Issue with "Promise": Code used to demonstrate Chaining is misleading for new coders"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise

#### What information was incorrect, unhelpful, or incomplete?

The code sample for Chained Promises.

 creates a new Promise on the fly and then uses direct call back functions for both resolve and reject handlers. That code sample was read by an new coder who completely misunderstood the intent and

[2021-02-12 03:31] samihibrahim commented on #2064
Sure @Ryuno-Ki, PR (#2304) submitted.

[2021-02-12 04:30] hamishwillee commented on #1727
The [svg example file in our doc](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feComposite#svg) is copied from the spec. I have modified this to include a test of `lighter` ([svg_example.zip](https://github.com/mdn/content/files/5969521/svg_example.zip)) but as you can see from tests on Firefox, Chrome, Inkscape it doesn't work as expected on any of them.

A [bit of research](https://s

[2021-02-12 04:41] hamishwillee commented on #1727
PS Yes, the SVG story really is a mess/unclear. BCD is a mess. Docs are spread out. I'll start working on the BCD and getting a better example, then think about what else needs to be done for this.

[2021-02-12 04:41] sizvix opened #2305 "Issue with "Installing and uninstalling web apps": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/Progressive_web_apps/Developer_guide/Installing

#### What information was incorrect, unhelpful, or incomplete?
iOs image icon is full width size , insteed of a little icon. Size are removed ...

#### Specific section or headline?
iOs part

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content pag

[2021-02-12 06:10] hamishwillee commented on #1727
Tracking
- [ ] [BCD](https://github.com/mdn/browser-compat-data/pull/9074) - in progress.

[2021-02-12 06:21] CreaTorAlexander commented on #2302
I can update it

[2021-02-12 06:25] hamishwillee commented on #2245
Yes I can :-). Ping me if you get back here again and I have not taken it up.

[2021-02-12 07:12] CreaTorAlexander commented on #2303
I can update it :+1:

[2021-02-12 07:47] NegiAkash890 commented on #2262
@chrisdavidmills I am working on this issue and  I just want to ask for few things before I make any major Changes .
1 ) All the headings and even the paragraph are inside the <a> tags which  are not currently being used ( leads to 404 page ) .
     I just want to ask whether I should remove all the anchors tags ( wherever necessary  from heading and paragraph) .
2 ) Some of links leads to 404 pag

[2021-02-12 07:49] NegiAkash890 commented on #2262
@chrisdavidmills I am working on this issue and I just want to ask for few things before I make any major Changes .

1 ) All the headings and even the paragraph are inside the <a> tags which are not currently being used ( leads to 404 page or some random number ) . I just want to ask whether I should remove all the anchors tags ( wherever necessary from heading and paragraph) .
2 ) Some of links l

[2021-02-12 07:52] chrisdavidmills commented on #2087
No; they're already handling this in a different way

[2021-02-12 07:53] NegiAkash890 commented on #2262
Hi , @chrisdavidmills  I am working on this issue and I just want to ask for few things before I make any major Changes .
1 ) All the headings and even the paragraph are inside the <a> tags which are not currently being used ( leads to 404 page ) .
    Some just like : <a id="1202784"> </a>  (which leads to nowhere in the page)
    I just want to ask whether I should remove all the anchors tags (

[2021-02-12 07:54] NegiAkash890 commented on #2262
Hi , @chrisdavidmills  I am working on this issue and I just want to ask for few things before I make any major Changes .
1 ) All the headings and even the paragraph are inside the `<a>` tags which are not currently being used ( leads to 404 page ) .
    Some just like :` <a id="1202784"> </a> ` (which leads to nowhere in the page)
    I just want to ask whether I should remove all the anchors tag

[2021-02-12 07:54] chrisdavidmills commented on #2087
There isn't really an issue to link; there's just a spreadsheet that all the stuff to migrate is recorded on. It is basically implicit that once migrated, we'll redirect to the new location and delete the old page.

[2021-02-12 07:56] NegiAkash890 commented on #2262
Hi , @chrisdavidmills  I am working on this issue and I just want to ask for few things before I make any major Changes .

1)  All the headings and even the paragraph are inside the `<a>` tags which are not currently being used ( leads to 404 page ) .
     Something  just like : `<a id="1202784"> </a>`  (which leads to nowhere in the page)
     I just want to ask whether I should remove all the an

[2021-02-12 07:57] NegiAkash890 commented on #2262
Hi , @chrisdavidmills I am working on this issue and I just want to ask for few things before I make any major Changes .

1) All the headings and even the paragraph are inside the `<a> ` tags which are not currently being used ( leads to 404 page ) .
    Something just like : `<a id="1202784"> </a>` (which leads to nowhere in the page)
    I just want to ask whether I should remove all the anchors

[2021-02-12 07:58] chrisdavidmills commented on #2202
I don't really see the point of this. I think we should just stick to one way of doing it. We get so many bugs filed by people not understanding this syntax, and PRs filed to remove the brackets because people think they are a mistake...

[2021-02-12 08:07] chrisdavidmills commented on #2295
Thanks @rachelandrew ; yeah, looks like we can close this.

[2021-02-12 08:07] #2295 closed

[2021-02-12 08:13] chrisdavidmills commented on #2262
@NegiAkash890 Looking at this in a bit more detail, I'd actually suggest that you work on something else. This isn't an important part of the docs, from an MDN perspective (we are waiting for the Firefox engineers to migrate this off MDN, as it is not relevant to our core mission)

We have planty of API issues in our list that are way more useful to work on.

If you really want to work on this, th

[2021-02-12 08:22] Ryuno-Ki commented on #2262
That being said, removing the anchors alone is worth submitting a PR.

[2021-02-12 08:23] Ryuno-Ki commented on #2202
`arr.slice(); // Note sure what this means` => copy the whole array (shallow)

[2021-02-12 08:33] Ryuno-Ki commented on #2064
Merged.
Thank you and welcome to mdn/content :tada:

[2021-02-12 08:33] #2064 closed

[2021-02-12 08:37] Ryuno-Ki commented on #2086
I've opened https://github.com/mdn/yari/issues/2903 as issue and will fill a discussion (looks like Referencing feature of GitHub does not support this right now).

[2021-02-12 08:52] Ryuno-Ki commented on #941
@manngo If you want to pick this up, please edit

https://github.com/mdn/content/blob/6d93334d29b5771389f39c19b0b2e8ce7df01931/files/en-us/web/javascript/reference/global_objects/string/slice/index.html#L40-L56

(While at it, the `<var>` elements can be dropped at the very least).

@theonlypwner already made some changes in https://github.com/mdn/content/commit/d4ee7cef94566b023c633e5332e1173d5244

[2021-02-12 08:57] CreaTorAlexander commented on #2307
I can update this :+1:

[2021-02-12 09:29] Simbiat opened #2308 "Issue with "Save-Data": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Save-Data

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?
Description of `<sd-token>`

#### What did you expect to see?
Do not know, but certainly not `numerical`, since `On` and `Off` are not numerical values.

#### Did you test this? If so, how?
I've tied PHP `is_numeric` agains

[2021-02-12 09:30] #2240 closed

[2021-02-12 11:09] robsco-git opened #2310 "Issue with "Advanced techniques: Creating and sequencing audio": oscillators/buffers starts are not scheduled"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API/Advanced_techniques

#### What information was incorrect, unhelpful, or incomplete?
`time` needs to be passed as an argument to `playSweep`, `playPulse`, `playNoise`, and `playSourceNode` so that these functions can start the relevant oscillators/buffers at the correctly scheduled time. Please see https://github.com/cwilso/met

[2021-02-12 11:45] chrisdavidmills commented on #2310
Thanks for reporting, @robsco-git .

@Rumyra knows this area very well, so I've assigned her to this one, and requested that she reviews the PR.

[2021-02-12 12:19] CreaTorAlexander commented on #2313
I can update this :+1:

[2021-02-12 12:28] chrisdavidmills commented on #2313
@CreaTorAlexander assigned; thanks!

[2021-02-12 13:43] ddomen opened #2315 "Issue with "Promise.prototype.then()": Incorrect parameters explaination"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/then

#### What information was incorrect, unhelpful, or incomplete?
In the parameters section there is written

which is incorrcect

#### Specific section or headline?
[Paragraph](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/then#parameters)

#### What did

[2021-02-12 13:49] CreaTorAlexander commented on #2315
I can update this 👍

[2021-02-12 14:26] dhscratch opened #2317 "Issue with "Document Object Model (DOM)": (The parenthetical aside/qualification interrupts complete sentence?)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model

#### What information was incorrect, unhelpful, or incomplete?
**From the opening paragraph, second sentence**:

I think the syntax is off here. The above is basically stating: "That means JavaScript [...] are not part of the core JavaScript language," which of course doesn't make any sense.

#### Specific section or

[2021-02-12 14:43] rachelandrew commented on #1653
The change has now been made to the CSS so iframes are not tiny any more, therefore closing this.

[2021-02-12 14:43] #1653 closed

[2021-02-12 15:45] evilpie commented on #2315
The comment seem correct. The identity function is `a => a`.

[2021-02-12 15:55] ddomen commented on #2315
I see what you state, but it is not clear. In the sentence `(it returns the received argument)` is unclear if the argument is just that of the "identity function" or if it is the argument of the `then` method. I could expect to be `.then(22)` equals to `.then(() => 22)` from that sentence, which is not (`.then(22)` equals `.then(a => a)`).

Maybe the correction at this point could be

[2021-02-12 17:23] Ryuno-Ki commented on #2307
Assigned it to you, @CreaTorAlexander

[2021-02-12 17:28] CreaTorAlexander commented on #2307
Or maybe unassign me I don't understand the issue. @apasov in the list on the site you have shared I can neither find text-combine-upright nor notAnimatable. What should be updated on this site?

[2021-02-12 17:28] #1959 closed

[2021-02-12 17:30] caitmuenster commented on #1909
This has been closed in #2268. :)

[2021-02-12 17:30] #1909 closed

[2021-02-12 17:38] Ryuno-Ki commented on #2307
https://github.com/mdn/content/blob/a7af6d344bdc50b39a17c4c0328d580199d612b4/files/en-us/web/css/css_animated_properties/index.html#L17

Hm, perhaps worth to move Yari as the macro resides in

https://github.com/mdn/yari/blob/9e3e569ce8df374a50e343da791eb245420106e4/kumascript/macros/CSSAnimatedProperties.ejs

I cannot tell, which version of `@mdn/data` is loaded there, though.

[2021-02-12 17:47] apasov commented on #2307
@CreaTorAlexander  you cannot find text-combine-upright because it was already fixed in `mdn/yari`

https://github.com/mdn/yari/commit/d9cd44c5abffb0f9c0d32d7a94e995dd844b112e#diff-982726822c448ae241ef1e2eba35739cde84008c9c9fe5954b5a06e977cc7d5bR16

and notAnimatable is not intended to be there at all.

`CSSAnimatedProperties.ejs` should be updated.

@Ryuno-Ki I believe the latest version of `mdn/

[2021-02-12 18:07] CreaTorAlexander commented on #2303
@randycasburn I agree that it is hard to understand in the current example but what I think what is good in it is to show the purpose with *handleFullfiled* and *handleReject* this would get lost when I update it with your suggestion.
Maybe there is a way to make clear that you shall not pass it to the then's arguments list and also to show the promise behavior with the fullfilled or rejected func

[2021-02-12 18:13] CreaTorAlexander commented on #2313
On the first site the information is just redundant. I would prefer to remove the second paragraph and let it stay in the *Parameters* Section.

[2021-02-12 18:21] theonlypwner commented on #941
#1868 fixed #1838 by updating the `endIndex` description to

I also fixed the original issue, by simply saying

because if `endIndex` (after adding `str.length` if needed) is 0 or negative or NaN or -Infinity, the result will be an empty string.

---

However, I did not edit `startIndex`. The current text is

I would edit it to

because if `beginIndex` (after adding `str.length` if needed) is 0 or

[2021-02-12 18:28] randycasburn commented on #2303
I’ll take a look at a better way to put it together. A bit later today.

[2021-02-12 19:13] shikharcodes commented on #2211
Hey @chrisdavidmills, I'm interested to know a bit more in detail about what changes have to be made to this page. Can you please guide me? Also, I'm interested to try and resolve this issue.

[2021-02-12 20:43] Ryuno-Ki commented on #2307
@apasov So is there something to do _here_?
If not, could you close the issue?

[2021-02-12 22:58] bovidiu opened #2326 "Issue with "Navigation and resource timings": Equation of Load event duration is incorrect."
MDN URL: https://developer.mozilla.org/en-US/docs/Web/Performance/Navigation_and_resource_timings

#### What information was incorrect, unhelpful, or incomplete?

`load = timing.loadEventEnd - timing.loadEventEnd`

The above equation results in 0 and it doesn't measure the load time.

#### Specific section or headline?
Section: [Load Event Duration](https://developer.mozilla.org/en-US/docs/Web/Per

[2021-02-12 23:03] bovidiu commented on #2326
If what i've expected to see is correct, i can do the change and submit a PR.

[2021-02-13 00:06] flaugher opened #2328 "Issue with "UI pseudo-classes": Typo in a sentence and additional information would be helpful"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Forms/UI_pseudo-classes

#### What information was incorrect, unhelpful, or incomplete?
There is a typo in a sentence.  See below.

Also, further down in the same section referenced below, you show the following code:

content: '✖';
content: '✓';

It would be helpful to the reader to add a note that describes how to enter the "x" and checkmar

[2021-02-13 00:38] randycasburn commented on #2303
So I completely agree with you. My suggestion was not meant to be complete. But to correct that, let me offer a more complete version to address your valid concern:

Chained Promises
-------
The methods `promise.then()`,` promise.catch()`, and `promise.finally()` are used to associate further action with a promise that becomes settled.

The [.then](https://developer.mozilla.org/en-US/docs/Web/Java

[2021-02-13 02:52] nschonni opened #2329 "Issue with "Visual-js game engine": Broken images"
MDN URL: https://developer.mozilla.org/en-US/docs/Games/Visual-js_game_engine

#### What information was incorrect, unhelpful, or incomplete?

Running fixes from the commanline flags a few images that look like there were from a LinkedIn CDN that no longer exists
[code]

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MD

[2021-02-13 04:04] ALEXdiver0 opened #2330 "Issue with "Insecure passwords": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/Security/Insecure_passwords

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/security/insecure_passwords`
* MDN URL: https://developer.mozil

[2021-02-13 06:48] CreaTorAlexander commented on #2328
I can update this 👍

[2021-02-13 07:38] CreaTorAlexander commented on #2330
@ALEXdiver0  What is the issue on the provided site?

[2021-02-13 07:48] CreaTorAlexander commented on #2328
I did a PR for the grammar misstakes.

I don't believe a note is neccessary. I think it is just some content and you can replace it for everything else like *right* or *wrong* as text.

And when you really interested how to do this then you can google it.

[2021-02-13 10:40] hochan222 opened #2332 "Issue with "HTTP range requests": The response to a web server URL request for the http/1.1 range specified in the current example is incorrect."
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Range_requests

#### What information was incorrect, unhelpful, or incomplete?

Incomplete now.

An example server specified in [mdn: developer.mozilla.org/en-US/docs/Web/HTTP/Range_requests's Multipart ranges](https://developer.mozilla.org/en-US/docs/Web/HTTP/Range_requests).
In the curl request below I was able to get the following respo

[2021-02-13 11:03] #2307 closed

[2021-02-13 11:04] dantclee opened #2333 "Issue with "Cross-Origin Resource Sharing (CORS)": URL to the article "cross-origin sharing from a server perspective (with PHP code snippets)" Incorrect"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS

#### What information was incorrect, unhelpful, or incomplete?
The URL to the article "cross-origin sharing from a server perspective (with PHP code snippets)" is the same URL as above.  This is incorrect.

#### Specific section or headline?
"Who should read this article?"

#### What did you expect to see?
When I click the link, I ex

[2021-02-13 14:11] LordManta opened #2334 "missing link in French doc (Response/ok in Fetch API)"
Not a huge one but this one :
 https://developer.mozilla.org/fr/docs/Web/API/Response/ok

[2021-02-13 16:58] loilo opened #2336 "Use correct lang attribute in <html> tag"
The `lang` attribute on the `<html>` tag seems to always be set to `en`, regardless of the actual language of the page. This is a regression bug, it possibly has been there since the recent technological reboot of the page.

Example: [`Array.prototype.forEach` in German](https://developer.mozilla.org/de/docs/Web/JavaScript/Reference/Global_Objects/Array/forEach). In the language switcher dropdown,

[2021-02-13 17:01] somebody1234 opened #2337 "Issue with "Window.showOpenFilePicker()": spec link appears to be broken"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Window/showOpenFilePicker

#### What information was incorrect, unhelpful, or incomplete?
AFAICT, the spec should point [here](https://wicg.github.io/file-system-access/#api-showopenfilepicker). Currently, it appears to point to an invalid page with the title "Unknown"

#### Specific section or headline?
Specifications

#### What did you ex

[2021-02-13 17:04] Ryuno-Ki commented on #2336
@peterbe Can you move this to Yari?

[2021-02-13 17:07] CreaTorAlexander commented on #2337
I can update it 👍

[2021-02-13 17:52] mera-pakistani-mera-fakhat opened #2339 "Coonection"

[2021-02-13 18:09] Ryuno-Ki commented on #2339
@mera-pakistani-mera-fakhat Did you meant to report an issue?
If not, no worries. Please close it and everything's fine :-)

[2021-02-13 20:00] CreaTorAlexander commented on #2303
Sounds good :) As you did the whole work would you like to do the changes and submit a PR?

[2021-02-14 00:29] randycasburn commented on #2303
I’ll give it a shot. You’ll see the PR, but will let you know here when I’ve made it. Might be a little while, but I’ll get to it.

[2021-02-14 04:56] GarrettS commented on #2232
Yes. I propose polyfills be removed; possibly supplanted by adapter functions.

[2021-02-14 05:42] angelinama opened #2341 "Issue with "ParentNode.append()": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/ParentNode/append

#### What information was incorrect, unhelpful, or incomplete?
append() has return value and it returns the parentNode

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?
Yes. Use chrome dev tools and tried on a jquery object

<details>
<summary>MDN Content page repor

[2021-02-14 07:19] CreaTorAlexander commented on #2341
I tried in Chrome dev tools and I received just undefined
![Bildschirmfoto 2021-02-14 um 08 17 08](https://user-images.githubusercontent.com/44900696/107870915-313e0100-6e9d-11eb-8d11-849f4be3b148.png)

[2021-02-14 09:45] rachelandrew commented on #2341
According to the spec it returns undefined: https://dom.spec.whatwg.org/#dom-parentnode-append

Can you show us the code you used to test this @angelinama

[2021-02-14 10:23] NegiAkash890 commented on #2262
Thanks  @chrisdavidmills and @Ryuno-Ki  for helping me out here . As @chrisdavidmills  mentioned that it will be a good idea
to let  Firefox engineers handle this issue as there are many things that need to be considered before making any major changes to the page . So I only fixed the anchors tags at the top of the page that were broken .

[2021-02-14 12:52] Ryuno-Ki commented on #2232
Gotcha.
@mdn/yari-content-js will look into it, I guess:
https://github.com/mdn/content/blob/main/REVIEWING.md#topic-review-owners

[2021-02-14 14:05] Ryuno-Ki commented on #356
This appears to be fixed.

[2021-02-14 14:09] Ryuno-Ki commented on #224
Since #280 was merged, does that imply, that this issue is resolved?

[2021-02-14 14:12] Ryuno-Ki commented on #342
@ajvincent As a starting point, you could look for Best Practices regarding „isomorphic JavaScript”. That is, JavaScript that can run both, on a server as well as inside a browser.

Some bundlers might convert code into „UMD” (Universal Module Definition), so it can be loaded via `require` (= CommonJS), `define` (= AMD) or `import (ES module).

[2021-02-14 14:16] Ryuno-Ki commented on #328
This might be related by #1712 and https://github.com/mdn/yari/issues/2065 by now.

[2021-02-14 14:30] #224 closed

[2021-02-14 16:13] randycasburn commented on #2303
[PR](https://github.com/mdn/content/pull/2348#issue-573112980) created.

[2021-02-14 20:08] JohnyL opened #2350 "Issue with "String.prototype.replaceAll()": captures of named groups are not mentioned as argument to function"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/replaceAll

#### What information was incorrect, unhelpful, or incomplete?
Captures of named groups are not mentioned as the argument to the function. It is the last argument, which comes after "string" (The whole string being examined). Also (maybe it's not important to mention), named groups _also_ a

[2021-02-14 20:56] aliko-str commented on #2059
I'm not sure you've attached the code that you meant...

I think I'd do smth like the code below, though it could probably be improved (MDN shouldn't show imperfection..): sizeHasBeenRead seems unnecessary (I don't think it has a practically smaller overhead than re-reading payloadSize; if anything, repeating Buffer.concat every time is worse), flushing and then putting data back in 'chunks' feels

[2021-02-14 21:34] angelinama commented on #2341
@rachelandrew Thanks for quick response, Rachel! So what I did is something like comparing a jquery node and the return value of node.append(), they are the same node:
`var testEl = $("<ul>");
var newEl = testEl.append("<li>coffee</li>");
console.log(testEl === newEl);`

Also, the other thing is you can chain multiple append(), i.e. `testEl.append("<li>latte</li>").append("<li>milk teat</li>")`.
I

[2021-02-14 21:39] angelinama commented on #2341
I think we are referring to different append() function here, I am referring to JQuery but this is vanilla JS. Sorry I should clarify on the description that I am referring to JQuery

[2021-02-14 23:04] hamishwillee commented on #2329
Images not on wayback machine. These would have to be regenerated (if someone thinks topic is still useful).

[2021-02-14 23:13] #2302 closed

[2021-02-14 23:45] hamishwillee commented on #2202
What's the general feeling on commenting the syntax itself or leaving that to the description (I decided to test this with https://github.com/mdn/content/pull/2351).
[code]
OR
[code]

I very slightly lean towards "no comments". I like the "at a glance" nature of having them, but then this does omit some detail from the docs that people might then not read.

[2021-02-15 03:14] hamishwillee commented on #1450
See https://github.com/mdn/content/issues/1727 - I'm working on the BCD. The example depends on an element that doesn't work on anything except pre-Blink Edge.

[2021-02-15 03:47] hamishwillee commented on #1450
@Ryuno-Ki You're an SVG expert right? I'm working on (and not too concerned about) the BCD. However I'm not sure sure of a good example for feComposite - can you help?

Specifically I think the concept showing of showing how you might combine each of the types of image is pretty good to show the various types - over, in, automatic etc. However I don't know SVG well enough to create a good example

[2021-02-15 06:22] CreaTorAlexander commented on #2341
@angelinama maybe I am wrong here but shouldn't you then check the JQuery's documentation?
https://api.jquery.com/append/

[2021-02-15 06:46] CreaTorAlexander commented on #2059
@aliko-str would you like to submit a PR with you changes? :smile:

[2021-02-15 07:21] rachelandrew commented on #2341
Yes, I think we are talking about jQuery here and not the standard function. I'm going to close this as I don't think we need to change MDN docs.

[2021-02-15 07:21] #2341 closed

[2021-02-15 08:16] mamipl opened #2354 "Firma"

[2021-02-15 08:18] CreaTorAlexander commented on #2354
@mamipl have you forgot to write the question?

[2021-02-15 08:25] riccardoscalco commented on #2141
Are you suggesting to change, in the jsfiddle, both function `matrixArrayToCssMatrix`(so to output in column-major order) and array `rotateZMatrix`?

[2021-02-15 09:44] #2326 closed

[2021-02-15 09:45] #1644 closed

[2021-02-15 09:46] chrisdavidmills commented on #2326
@bovidiu thanks for the offer to fix this, however @NegiAkash890 already fixed it. Thanks also for reporting this in the first place.

@NegiAkash890 thanks for the fix!

[2021-02-15 09:48] #2354 closed

[2021-02-15 10:43] #2339 closed

[2021-02-15 10:44] avivmu commented on #2141
Since the article snippets are an **exact copy** of fiddle they should be in sync, which means whatever changes happen to one should also be in the other (and vice versa).
Now regarding _what_ should be changed, the specs make it clear what it expects as input to `matrix3d()` and what is the positive rotation direction. I'm okay with your [current PR](https://github.com/riccardoscalco/content/comm

[2021-02-15 10:54] CreaTorAlexander commented on #2350
I can update this :+1:

[2021-02-15 10:57] chrisdavidmills commented on #2337
@CreaTorAlexander the spec information is pulled from the SpecData file inside Yari: https://github.com/mdn/yari/blob/master/kumascript/macros/SpecData.json

It looks like this spec has not been added to the spec data, hence it is not finding it, and it is coming up as "Unknown". Looks like the correct spec to be added is this: https://wicg.github.io/file-system-access/

Before you have a go at ad

[2021-02-15 11:03] #2330 closed

[2021-02-15 11:08] Elchi3 commented on #2202
I'm also leaning towards no comments. (Ideally this would be something to user test if we had the capacities like we used to 😞.)

In my view the syntax box is really just meant to lookup how to use the function if you need a reminder about the parameters. If you then see "start" and "end" and don't know what these are, well, then you need to go on reading the page, specifically the "Parameters" se

[2021-02-15 11:16] #2172 closed

[2021-02-15 11:52] Rumyra commented on #1730
Release notes: https://github.com/mdn/content/pull/2359

BCD: https://github.com/mdn/browser-compat-data/pull/9129

[2021-02-15 12:31] chrisdavidmills commented on #2211
@shikharcodes Sure thing.

The page linked to above talks about a `format-detection` value of the `<meta name>` attribute. If I were working on this, I would:

* Test it to see if it actually does result in the described behavior
* If so, add an entry for it in a suitable place on https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta/name. I highly suspect it is a non-standard Apple exten

[2021-02-15 13:02] #1817 closed

[2021-02-15 13:15] #2203 closed

[2021-02-15 14:45] Rumyra commented on #1651
This all appears to be correct and I'll go ahead and modify the info on min & max decibel pages 👍 thanks @ssangervasi

[2021-02-15 14:57] niexiaofei1988 commented on #356
Looks like it's alright, Thanks for your hard word

[2021-02-15 15:04] solutayo opened #2367 "Issue with "The JavaScript input interpreter": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Tools/Web_Console/The_command_line_interpreter

#### What information was incorrect, unhelpful, or incomplete?
"You can also select a range of lines in the editing pane, and run just the code on those lines."

#### Specific section or headline?
    Multi-line mode

#### What did you expect to see?
I expected that only the lines I selected will be e

[2021-02-15 15:34] Rumyra commented on #1453
PR to fix is here https://github.com/mdn/content/pull/2369

[2021-02-15 15:44] Elchi3 commented on #1940
I've sent https://github.com/mdn/content/pull/2366 to update mixins in the MDN contribution docs according to the discussion here.

To-Do list for existing docs that need updates/refactoring/moving/deletion:

- [ ] AbstractWorker
- [ ] Body
- [ ] ChildNode
- [ ] DocumentOrShadowRoot
- [ ] GeometryUtils
- [ ] GlobalEventHandlers
- [x] HTMLHyperlinkElementUtils (#2046)
- [ ] LinkStyle
- [ ] Navigato

[2021-02-15 16:38] #2262 closed

[2021-02-15 16:38] chrisdavidmills commented on #2367
@solutayo yes, looks like you are right here. I've tested it, and it doesn't seem to work for me either.

I've removed that line — see https://github.com/mdn/content/commit/7529c9923e0f47c32d405f79dffdf0a22d57153e

Thanks for reporting this, much appreciated!

[2021-02-15 16:38] #2367 closed

[2021-02-15 17:00] CreaTorAlexander commented on #2337
@chrisdavidmills what is the best way to check if there is a existing PR? It would be very uncomfortable checking 73 PR's manually.

[2021-02-15 17:33] solutayo commented on #2367
But, that capability will be of great value

[2021-02-15 17:36] chrisdavidmills commented on #2367
I agree that it would be useful, but this is not the right place to suggest new Firefox features. I'm not sure where the right place is, to be honest.

[2021-02-15 17:44] chrisdavidmills commented on #2337
@CreaTorAlexander I was going to say go to https://github.com/mdn/yari/pulls and use the filters bar to search for obvious keywords like "file system access"...

...but then I found it ;-)

https://github.com/mdn/yari/pull/2151

Looks like this was already added: https://github.com/mdn/yari/blob/master/kumascript/macros/SpecData.json#L837

But as "File System Access API", not "File System Access",

[2021-02-15 18:52] CreaTorAlexander commented on #2372
I can update it 👍

[2021-02-15 18:54] Gregoor commented on #1494
Looks like I was too radical in my unsubscribing and now I don't even get notifications for lovely replies. Miss all of you too!

[2021-02-15 19:13] jho1965us opened #2373 "Issue with "display": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/display

#### What information was incorrect, unhelpful, or incomplete? The bnf in the syntax sections shows:

    .container {
      display:  [ <display-outside> | <display-inside> ] | <display-listitem> | <display-internal> | <display-box> | <display-legacy> ;
    }

#### Specific section or headline? "Syntax"

#### What did you expect t

[2021-02-15 19:53] Ryuno-Ki commented on #1450
Well, I got invited as SVG expert (but realised, that there is way more to learn!).
Please, do request a review by me.

Thanks for picking it up :heart:

[2021-02-15 20:14] #356 closed

[2021-02-15 20:18] Ryuno-Ki commented on #2202
No comments.
This increases the likelihood, that it will remain readable even on smaller viewports.

[2021-02-15 23:17] Rumyra commented on #1296
OK I made this https://codepen.io/Rumyra/full/VwmpXdj - will integrate into a demo repo & then pages

[2021-02-15 23:36] hamishwillee commented on #2202
OK, that all makes sense. I am thinking that perhaps we should still show the return type -ie
`Array slice()` rather than just `slice()`. Any opinion?

I've tried to capture this in https://github.com/mdn/content/pull/2376

[2021-02-16 01:33] steveja42 opened #2377 "Issue with "Using Promises": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Using_promises

#### What information was incorrect, unhelpful, or incomplete?
Instead of running immediately, the passed-in function is put on a microtask queue, which means it runs later when the queue is emptied at the end of the current run of the JavaScript event loop, i.e. pretty soon:

#### Specific section or headline?

[2021-02-16 02:31] infinite-light opened #2378 "Issue with "Django Tutorial Part 8: User authentication and pe…": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Authentication

#### What information was incorrect, unhelpful, or incomplete?

topic : project urls.
where and how to enter:
accounts/ login/ [name='login']
accounts/ logout/ [name='logout']
accounts/ password_change/ [name='password_change']
accounts/ password_change/done/ [name='password_change_done']
accounts/ password_

[2021-02-16 02:41] steggald commented on #2333
Hello
I would be happy to work on this however I'm not sure which article the link is supposed to go to instead, does the correct page exist? If so where would I find it?
Regards
David

[2021-02-16 03:29] hamishwillee commented on #1727
@chrisdavidmills The release note is done for this, and in theory this might all be that was needed because both the BCD and docs were (incorrectly) stating that this was already supported.

Improved the docs such that now it is a bit more obvious from feComposite docs what the different operations do. That's ready for review. BCD also ready for review.

[2021-02-16 03:31] bulk88 opened #2380 "Issue with "Base64": tons of deleted content"
MDN URL: https://developer.mozilla.org/en-US/docs/Glossary/Base64

#### What information was incorrect, unhelpful, or incomplete?

Many links online on MDN and SO and around the web hard link to

https://web.archive.org/web/20200223114419/https://developer.mozilla.org/en-US/docs/Web/API/WindowBase64/Base64_encoding_and_decoding

that describes binary vs utf8 vs base64 vs strings vs array buffers.

[2021-02-16 04:16] Master613 opened #2381 "Issue with "Document.exitFullscreen()": Minor spelling mistake"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Document/exitFullscreen

#### What information was incorrect, unhelpful, or incomplete? It says, "Document Exited _form_ Full screen mode"

#### Specific section or headline? The 'Example' section, in the code example

#### What did you expect to see? "Document Exited _from_ Full screen mode"

#### Did you test this? If so, how? No

<detail

[2021-02-16 06:06] PageErrorPete opened #2382 "Issue with "Ordering Flex Items": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Ordering_Flex_Items

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/css/css_flexible_box_layout/ordering_flex_i

[2021-02-16 06:10] PageErrorPete commented on #2382
i think the first coding example should be where the second coding example is, basically the two are swapped around

[2021-02-16 06:10] #2382 closed

[2021-02-16 06:13] PageErrorPete opened #2383 "Issue with "Ordering Flex Items": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Ordering_Flex_Items

#### What information was incorrect, unhelpful, or incomplete?
i think the first coding example should be where the second coding example is, basically the two are swapped around
(sory nwe user, last one automatically closed, or i did something)
#### Specific section or headline?

#### What did y

[2021-02-16 06:40] hamishwillee commented on #2378
Hi, I'll try look at this Friday.

[2021-02-16 07:25] CreaTorAlexander commented on #2381
Where is the spelling misstake?

[2021-02-16 07:35] #1453 closed

[2021-02-16 07:46] CreaTorAlexander commented on #2383
I can update this 👍

[2021-02-16 09:03] CreaTorAlexander opened #2384 "Improving README.md mdn/content"
I was reading the README.md (maybe a bit late since I am contributing for a week 😄 )

And I was a bit confused about the step 6 inside *More substantial changes*

I think it would be helpful to tell the prospective contributor in which directory the .env should be.
From my point of view I would assume it will be in the /Users/username directory because there are also the files .zshrc .bash .bashrc

[2021-02-16 09:46] Ryuno-Ki commented on #2384
The project directory.
The „global” environment variables for all projects would be put in your $HOME (either as `.profile`, which would also be respected on SSH into that machine, or in .bashrc/.zshrc as export).

[2021-02-16 09:53] chrisdavidmills commented on #2381
@CreaTorAlexander  "Document Exited form Full screen mode" should be "Document Exited from Full screen mode"

[2021-02-16 10:01] danieltroger opened #2385 "why is ChildNode.remove() experimental and "should not be used in production code"?"
https://github.com/mdn/content/blob/main/files/en-us/web/api/childnode/remove/index.html#L8

and here in the left sidebar: https://developer.mozilla.org/en-US/docs/Web/API/ChildNode/remove

IMO it has been around way too long to be considered experimental

[2021-02-16 10:12] Elchi3 commented on #2202
I think it is an interesting idea to add return types. It adds essential information to the syntax box which wants to be a useful, quick look-up. However, if we do this, it should be as readable as possible. I looked at Python, Rust, PHP docs, and I guess there are a at least two different ways how people do this:

Add the return type in front (with or without colon, like you proposed).

![Bildsch

[2021-02-16 10:20] Ryuno-Ki commented on #2202
The second version would lean more towards TypeScript.

[2021-02-16 10:22] CreaTorAlexander commented on #2381
@chrisdavidmills okay, didn't see 😄  I can update it 👍

[2021-02-16 10:26] chrisdavidmills commented on #2381
cool, assigning you now

[2021-02-16 10:31] chrisdavidmills commented on #2202
I agree that this is interesting. My main concern here is that it might confuse beginners more, as they might think that the return type is part of the syntax. Surely putting the return type in a separate section like we do already is a safer bet?

But yes, let's proceed with multiple lines now, and discuss this more later.

[2021-02-16 10:33] infinite-light commented on #2378
Thanks

On Tue, Feb 16, 2021, 1:40 AM Hamish Willee <notifications@github.com>
wrote:

[2021-02-16 10:49] Elchi3 commented on #1250
So, in many PRs, I now see authors removing `notranslate`. It adds a lot of noise to the PR reviews. (cc @hamishwillee).

Is there a way to batch-remove this once and for all? @nschonni?

[2021-02-16 10:52] Ryuno-Ki commented on #2202
Since we agreed upon multiple-lines, I feel like another issue for type annotations might be apt.

[2021-02-16 10:56] CreaTorAlexander commented on #2383
I think there is also another misstake shouldn't be the indice of the value 3 be 0?

`        .box :nth-child(3) { order: 1; }
`
And also here

`Source item 3: order: 1
`

[2021-02-16 11:16] roy-tian commented on #1512
Looking forward to that day.:)

[2021-02-16 11:17] chrisdavidmills commented on #2384
I agree that this could be clearer, so I've created a PR to add this in: https://github.com/mdn/content/pull/2388

[2021-02-16 11:39] NegiAkash890 opened #2389 "Issue with "Writing style guide": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/MDN/Guidelines/Writing_style_guide

#### What information was incorrect, unhelpful, or incomplete?
There are some heading with black background as well as these headings are inside links   (`<a>`tags)  which  are not used .

#### Specific section or headline?
Examples like : Page title in basic section , General article content guidelines , Heading

[2021-02-16 11:39] NegiAkash890 commented on #2389
I can help fixing the same . Also please let me know some other things that can done to make tidy .

[2021-02-16 11:40] NegiAkash890 commented on #2389
I can help fixing the same . Also please let me know some other changes that can be done to make page  tidy and clean  .
Thank You

[2021-02-16 11:43] Rumyra commented on #1651
https://github.com/mdn/content/pull/2390
&
https://github.com/mdn/content/pull/2391

[2021-02-16 11:48] chrisdavidmills commented on #2389
Hi @NegiAkash890 !

These headings are actually like this by design — they link to themselves, but the idea is that if you want to share a link to that heading, you click on it and then copy the resulting URL from the address bar. It's the same style as GitHub README files, and it is really useful when trying to share specific sections with friends, or ask for help with debugging problems, etc.

I

[2021-02-16 11:48] #2389 closed

[2021-02-16 12:01] Rumyra commented on #2317
See https://github.com/mdn/content/pull/2392

[2021-02-16 12:03] PageErrorPete commented on #2383
Awesome, thank -you, Alexander.
I probably should have picked a more meaningful user name, my name's not actually Pete but i do have a bad sense of humor, cheers Shaun

[2021-02-16 12:05] #2283 closed

[2021-02-16 12:08] #2381 closed

[2021-02-16 12:23] CreaTorAlexander commented on #2383
You're welcome Shaun 😃

[2021-02-16 12:34] dantclee commented on #2333
I don't know the correct link.  I suggest that you ask the author.

[2021-02-16 13:14] #2383 closed

[2021-02-16 14:15] #2256 closed

[2021-02-16 14:48] nschonni commented on #1250
Aside I'm not sure it makes sense to globally remove `notranslate` on all PREs. Maybe i'm misunderstanding the usage, but I would think it's for signalling that some blocks do (not) need translation when copied for other langauages.
EX:

Doesn't need translation because it is a pure code
[code]

Might need a translation because it uses English strings:
[code]

[2021-02-16 15:25] Elchi3 commented on #1250
hmm, good point @nschonni.

I don't understand why https://github.com/mdn/content/pull/1124 made sure we have `notranslate` on all pre elements. @schalkneethling?

[2021-02-16 15:44] chrisdavidmills commented on #297
@Rumyra sorry for taking so long to check this out! This work looks amazing, thank you so much.

I've set the bug to DDC, and now we can close this.

[2021-02-16 15:44] #297 closed

[2021-02-16 15:44] Elchi3 opened #2396 "Document CharacterData"
https://developer.mozilla.org/en-US/docs/Web/API/CharacterData is incomplete. None of the sub pages exist but they should. CharacterData is a core DOM API that is well supported and that should have proper docs.

This came up in https://github.com/mdn/content/pull/2394 where I removed the weird NonDocumentTypeChildNode mixin, so don't worry about that anymore.

CharacterData is the parent interfac

[2021-02-16 16:03] chrisdavidmills commented on #1732
Thanks a lot for the documentation, @Rob--W ! As a small FYI, in future, can you also add a rel note to the relevant rel notes for this release (https://developer.mozilla.org/en-US/docs/Mozilla/Firefox/Releases/86 in this case)?

You don't need to worry about this one; I'm about to file a PR that fixes up these rel notes.

[2021-02-16 16:07] #2317 closed

[2021-02-16 16:17] chrisdavidmills commented on #1727
@hamishwillee Nice work here Hamish. I've had a good look, and it looks like the BCD just needs to be finalized now.

After that's done, I'll set it to DDC, and we can bump it to done.

[2021-02-16 16:31] chrisdavidmills commented on #1724
DDC set on bug, and all ready to go!

Thanks @Rumyra ! Closing now.

[2021-02-16 16:31] #1724 closed

[2021-02-16 16:52] chrisdavidmills commented on #1730
@Rumyra I've reviewed your browser compat data, and I'll set the bug to DDC, as I think we are close enough.

Nice work!

[2021-02-16 16:52] #1730 closed

[2021-02-16 17:20] chrisdavidmills commented on #1722
I think this looks done; having `at` as part of unscopables is kind of a symptom of its addition to the platform, rather than something that needs specific attention, so I don't think the experimental features entry needs updating.

I'll set the bug to DDC.

Thanks @Rumyra !

[2021-02-16 17:20] #1722 closed

[2021-02-16 17:24] Ryuno-Ki commented on #2396
Is there a list of all pages that are missing?

[2021-02-16 17:26] peterbe commented on #1250
There is little doubt that every `<pre>` tag should have the `notranslate` class. But it's always automatically injected in build-time.

If you see a PR whose only update is to remove the `notranslate`, close the PR. But that's "painful" because you have to *explain* the author why it's a useless PR (so their feelings aren't hurt).

I (or @nschonni ) can write a monster batch thing that removes it

[2021-02-16 17:37] Rumyra commented on #1632
https://github.com/mdn/content/pull/2398

[2021-02-16 17:47] chrisdavidmills commented on #1721
Changes reviewed, bug set to DDC, all ready to close.

Thanks again @Rumyra !

[2021-02-16 17:47] #1721 closed

[2021-02-16 18:03] chrisdavidmills commented on #1729
Bug set to DDC, and issue ready to close. Nice work @hamishwillee !

[2021-02-16 18:03] #1729 closed

[2021-02-16 19:21] chrisdavidmills commented on #1728
Sorry, missed this until now. I'm not sure that we have a best practice for this, to be honest. But I think you are right that people are unlikely to look at data type pages and more likely to look at the relevant property page.

[2021-02-16 19:25] chrisdavidmills commented on #1728
OK, checked this out, and data, BCD, doc, rel note, and bug look perfect. Awesome work @rachelandrew !

[2021-02-16 19:25] #1728 closed

[2021-02-16 19:30] chrisdavidmills commented on #1725
This is all looking good; thanks @rachelandrew !

[2021-02-16 19:30] #1725 closed

[2021-02-16 19:41] NimrodRak opened #2401 "Issue with "Document": misspeled the word "create""
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Document

#### In the specifications of Document, there is a misspelling of one of the methods, namely `Document.createRangeFromPoint` (which is currently spelled as `Document.caretRangeFromPoint`

#### This happens in the Methods section of the page, and the title of the specifications of the method itself, but not in the content of the sp

[2021-02-16 19:43] #2401 closed

[2021-02-16 19:48] chrisdavidmills commented on #1726
DDC set, all work reviewed, outstanding PRs merged. This is an outstanding set of work; thanks @hamishwillee !

[2021-02-16 20:11] chrisdavidmills commented on #1720
Rel notes updated: https://github.com/mdn/content/pull/2402

[2021-02-16 20:31] gregtatum commented on #2141
I feel like some of this representation is somewhat arbitrary, although it's good to be consistent. I haven't reviewed what I did in the article exactly, but I would say make sure the data structure, and rotation direction match the CSS conventions, rather than other conventions. The purpose of the article was to demonstrate matrix math in a web-first context.

[2021-02-16 21:14] jpmedley commented on #1940
That would resolve to a path like /api/fetch. Since I can call fetch() without reference to a global or instantiated object, that would work. But is that generally true of everything with WindowOrWorkerGlobalScope? I don't want to replace one thing that looks like a real code reference but isn't with another thing that looks like a real code reference but isn't.

[2021-02-16 21:16] chrisdavidmills commented on #1720
Hacks blog post written (not shared until release).

[2021-02-17 03:40] cakoose opened #2409 "Issue with "WindowOrWorkerGlobalScope.fetch()": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/fetch

#### What information was incorrect, unhelpful, or incomplete?

The documentation for the "credentials" init parameter says that it affects whether credentials are set.

It also seems to control whether cookies in the response are accepted, at least in Chrome.  I personally observed this behavior and so did

[2021-02-17 06:06] NegiAkash890 commented on #2377
According to `https://developer.mozilla.org/en-US/docs/Web/API/HTML_DOM_API/Microtask_guide` .

It says as follows :
" A micro- task is a short function which is executed after the function or program which created it exits and only if the JavaScript execution stack is empty, but before returning control to the event loop ..."

I think if above statement is correct then it should be JavaScript exe

[2021-02-17 08:01] #1706 closed

[2021-02-17 08:26] riccardoscalco commented on #2141
The article does not explicitly say if the coordinate system is right or left-handed.  The image in section **Rotation Matrix** shows a counterclockwise rotation, this fact caused me to _assume_ a right-handed system. Therefore my reasoning is under the assumption of a right-handed system. Anyway, this assumption is arbitrary.

The article defines the vector-matrix product as **vM** (function `mul

[2021-02-17 08:37] BonyBloke opened #2414 "Issue with "Client-side storage": mismatch in variable names?"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Client-side_web_APIs/Client-side_storage

#### What information was incorrect, unhelpful, or incomplete?
In line 14 in note storage source code, the database is called `notes_db`. But the subsequent codes specify it as `notes_os`. This causes a DOMException error "`notes_os` is not a known object store name".
[https://github.com/md

[2021-02-17 09:05] CreaTorAlexander commented on #2414
I can update it 👍

[2021-02-17 09:10] rachelandrew commented on #2396
@Ryuno-Ki yup, just look at the page, the ones highlighted in red are not written. Usually with these interface pages, whoever documented the interface will add all of the links to the missing property pages.

BCD will also expose this to you if the BCD has been completed for everything in the API, or ideally take a look at the spec to check. There are a lot of interfaces that are like this.

[2021-02-17 09:21] Elchi3 commented on #2396
Yep, what Rachel says. BCD is already complete for this one.

[2021-02-17 09:23] foolip commented on #1940
This is the right question to ask! For all of the methods on `WindowOrWorkerGlobalScope`, I believe invoking them directly as `fetch()` rather than `self.fetch()` is idiomatic. They are: `atob()`, `btoa()`, `clearInterval()`, `clearTimeout()`, `createImageBitmap()`, `fetch()`, `queueMicrotask()`, `setInterval()`, `setTimeout()`.

For attributes, while they can be accessed directly, I think for at

[2021-02-17 09:42] chrisdavidmills commented on #2414
I'm not convinced that our code is wrong. `notes_db` specifies the notes database, whereas `notes_os` refers to the notes object store inside the database.

You can see our finished version here:

* Live example: https://mdn.github.io/learning-area/javascript/apis/client-side-storage/indexeddb/notes/
* Source code: https://github.com/mdn/learning-area/blob/master/javascript/apis/client-side-storag

[2021-02-17 09:46] chrisdavidmills commented on #2377
Thanks for the input, @NegiAkash890 — do you fancy raising a PR for this? ;-)

[2021-02-17 09:50] Abhishek01039 commented on #1493
should we remove while `note` section @chrisdavidmills ?

[2021-02-17 09:53] chrisdavidmills commented on #1493
It sounds like the first should just be deleted, but someone needs to test it.

[2021-02-17 11:18] #1632 closed

[2021-02-17 14:33] steggald commented on #2333
Ok, how would I find the author and not just a contributor?

[2021-02-17 15:34] gregtatum commented on #2141
Clarifying the system would be great. When I originally wrote this I wasn't thinking about it explicitly, I was only focusing on getting working code. I've found matrix documentation online to be very hand-wavy, and it sounds like you have some expertise here that you can add.

[2021-02-17 16:09] schalkneethling commented on #1250
So, the reason I added `notranslate` manually, was because I misunderstood the intent of the scripting we do. My understanding was that we have the scripting in place until the content has made the required changes and we will then drop the scripting.

Turns out that is not the case so, that manual work was largely wasted effort. Ah well 😄

[2021-02-17 16:45] AnandBIT commented on #2110
The text "additional examples" above is a link that results in a 404
Looks like there is not any such text on the webpage https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/defineProperty
@TerryMooreII could you please provide a screenshot here, with which link you found the issue

[2021-02-17 17:15] TerryMooreII commented on #2110
It looks like it was removed 9 days ago.
https://github.com/mdn/content/commit/c34105059b008d9911807e52775cca4772220190#diff-521799e17d123028832347975ea3bd2792338a741bd5b2bed7d3589dd0d43207

[2021-02-17 18:23] jpmedley opened #2427 "Make sure pages for features on WindowOrWorkerGlobalScope describe the correct means of accessing"
Best described with Philip's quote from #1940. This issue is about making soure the descriptions are clear. It takes no position on the suggestion to put the referenced items under `Global_Obects/`.

Here's the start of a list. I do not claim it is complete.

- [ ] atob()
- [ ] btoa()
- [ ] clearInterval()
- [ ] clearTimeout()
- [ ] createImageBitmap()
- [ ] fetch()
- [ ] queueMicrotask()
- [ ] se

[2021-02-17 18:25] jpmedley commented on #1940
That sounds like problems with how we need to explain them on actual pages. I've created [an issue capture this](#2427).

FWIW, I think it would be a good idea to move these under `Global_Obects`.

[2021-02-17 18:35] chrisdavidmills commented on #2110
Ah yes, I removed this, so this can be closed.

[2021-02-17 18:35] #2110 closed

[2021-02-17 18:53] peterbe commented on #2202
I personally prefer the multi-line format instead of the cryptic `[brac [kets]]`.
I hope we can pull off a mass-edit quite quickly (not "soon" but at a high rate) so we don't leave some documentation in the old format.

Go get 'em folks!

[2021-02-17 19:15] Ryuno-Ki commented on #2396
Oh, okay. I thought we would have a meta-issue for tracking them.

[2021-02-17 19:24] #1493 closed

[2021-02-17 20:08] sophiebits opened #2430 "Issue with "List of default Accept values": wrong Accept header info for Firefox 66+"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Content_negotiation/List_of_default_Accept_values

#### What information was incorrect, unhelpful, or incomplete?

The "Default values" section says that Firefox uses `*/*` starting with Firefox 66, but I just tested in Firefox 79 and in the network devtools I see the header used:

`Accept: text/html,application/xhtml+xml,application/xml;q

[2021-02-17 20:37] sjagoori opened #2432 "Issue with "CSS Functional Notation": links in the index lead to nowhere"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Functions

#### What information was incorrect, unhelpful, or incomplete?
The links listed in the index lead to nowhere,

#### Specific section or headline?
Section, the index.

#### What did you expect to see?
Information regarding the selected CSS function.

#### Did you test this? If so, how?
Tried several links, it always returns `S

[2021-02-17 23:11] DamianPereira opened #2434 "Issue with "grid-template-rows": Auto value is not sufficiently explained."
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-rows

#### What information was incorrect, unhelpful, or incomplete?

The current explanation for auto is the following:
[code]

I wanted to know what a column/row of size auto meant, for example while doing

[code]

The official w3 spec is a bit more helpful, it explains:

[code]

The key part is `When appearing outside a min

[2021-02-17 23:14] 20kdc opened #2435 "Issue with "WebGLRenderingContext.bindFramebuffer()": No description of behavior when framebuffer is null"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/WebGLRenderingContext/bindFramebuffer

#### What information was incorrect, unhelpful, or incomplete?

Does not describe that `framebuffer` is optional, and that passing null returns the target to being the canvas.

#### Specific section or headline?

Parameters, primarily (though an example may be of use)

#### What did you expect to see?

[2021-02-18 01:50] keithxemi commented on #2186
@Ryuno-Ki Did I do this correctly? I see my commit here but no response.

[2021-02-18 02:35] jpmedley commented on #1878
Is the spec up to date? It's not unheard of for implementations get ahead of specs. Eventually one of the implementation will need to change to match the spec. MDN should match the most up-to-date spec.

[2021-02-18 04:35] wbamberg commented on #2385
I agree, it shouldn't be marked experimental. The fix I think is to remove the "Experimental" tag at https://github.com/mdn/content/blob/3b4fbae4677601eaa72441a0010c7906a4f9aed6/files/en-us/web/api/childnode/remove/index.html#L8. I'll do it tomorrow unless you or someone else would like to.

(Note that the BCD table also indicates experimental-ness (e.g. https://developer.mozilla.org/en-US/docs/We

[2021-02-18 04:44] YuJianrong opened #2436 "Issue with "HTMLScriptElement.referrerPolicy": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/HTMLScriptElement/referrerPolicy

#### What information was incorrect, unhelpful, or incomplete?
The code in the `Examples` section is incorrect

#### Specific section or headline?
`Examples`

[code]

#### What did you expect to see?
[code]

Diff:
`document.body.appendChild(script);` change to `document.body.appendChild(scriptElem);`

####

[2021-02-18 04:45] CreaTorAlexander commented on #2430
I can work on it. 👍

[2021-02-18 05:24] wbamberg commented on #2432
Some of these pages do exist and the links work: some and perhaps even all of the `transform` and `filter` ones, for example. The complete list of pages that are tagged "CSS Function":

[code]

Others, like `hsl()`, [are documented](https://developer.mozilla.org/en-US/docs/Web/CSS/color_value#hsl_colors) but not as separate pages. They should probably be split into separate pages. Then there are o

[2021-02-18 05:27] rachelandrew commented on #2432
I'll take a look at this.

[2021-02-18 05:47] tannerdolby commented on #1471
@hamishwillee Is there a reason this PR still isn't merged? I understand you all are probably quite busy, just wanted to check in on this one.

[2021-02-18 05:58] CreaTorAlexander commented on #2186
Now you have the commit in your forked repository. When you go inside this repo there should be something appear with the text *Compare and pull*. Click on it to create a pull request. Then your commit gets reviewed and probably merged :)

[2021-02-18 06:29] chrisdavidmills commented on #1471
@tannerdolby looking at the page, the described typo looks like it has been fixed; see https://github.com/mdn/content/commit/6e59a90eb7186b03ed9491871f52a2d89867bff9 for the commit that does this.

In which case, I think we can close this now.

Feel free to chime in if you still have concerns.

[2021-02-18 06:29] #1471 closed

[2021-02-18 06:32] tannerdolby commented on #1471
@chrisdavidmills Thanks for the heads up. Your right, it looks to have been fixed. I agree with closing and I don't have any further concerns.

[2021-02-18 07:22] CreaTorAlexander commented on #2186
@keithxemi it looks like you have only commit your changes to your forked repository.
Now you have to submit a Pull Request. You can do this by going inside your forked repository and there should appear a button with the text *Compare and Pull*. Click on this button to submit you changes.

[2021-02-18 07:26] chrisdavidmills commented on #2430
Thanks for offering to help with this, @CreaTorAlexander. Feel free ask if you need any help.

[2021-02-18 07:29] sideshowbarker commented on #2436
Fixed in #2437

[2021-02-18 07:29] #2436 closed

[2021-02-18 07:36] CreaTorAlexander commented on #2430
I will check it later on my own in Firefox but before

wouldn't it be easier to ask someone of the Firefox team about this?

[2021-02-18 07:45] CreaTorAlexander commented on #2435
I can work on it :+1:

[2021-02-18 08:08] sophiebits commented on #2430
I guess I don't care (I'm not the one you'd be asking), but my default is to try to avoid taking up people's time with questions that I can find the answer to myself! Plus, the source code is more authoritative for what actually happened (although it may have less context about _why_).

[2021-02-18 08:21] Ryuno-Ki commented on #2435
@CreaTorAlexander Do it!

[2021-02-18 08:25] Ryuno-Ki commented on #2186
What Alexander says.
The button should show up on https://github.com/mdn/content/compare/main...keithxemi:keithxemi-patch-1
(Right now, I can see a PR against your fork. Instead, make sure to integrate against mdn/content :-) )

[2021-02-18 08:28] chrisdavidmills commented on #2430
Yup, I'd agree with this entirely.

Plus it is often challenging to figure out who to ask ;-)

[2021-02-18 09:05] foolip commented on #1878
The Gecko developers didn't push back against the spec in https://bugzilla.mozilla.org/show_bug.cgi?id=1689560, so I think MDN should treat this as a dictionary. Which probably means not documenting it as its own thing at all, but rather as part of https://developer.mozilla.org/en-US/docs/Web/API/MediaCapabilities/encodingInfo and https://developer.mozilla.org/en-US/docs/Web/API/MediaCapabilities/

[2021-02-18 10:06] NegiAkash890 commented on #2305
I think here issue can be fixed by making use of inline CSS . Because if we directly target the `<img>` then it will affect all the other images on the page .  Please correct me if i am wrong .

[2021-02-18 10:47] Elchi3 commented on #1250
Thanks for elaborating @schalkneethling!

The only annoying thing for me is when PR authors "taint" the review with extra changes like removing `notranslate` all over a document.
I haven't seen PRs that have been opened to only remove `notranslate`, but yes, these should probably be closed and be pointed to this issue then.

[2021-02-18 11:24] sasan89 opened #2443 "Issue with "Positioning": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Positioning

#### What information was incorrect, unhelpful, or incomplete?
The example shown (iframe) for absolute positioning is wrong. It includes z-index and other stuff. The linked file below (at the note card) is pointing to the correct file, but the shown example in the section is wrong.

#### Specific section or headlin

[2021-02-18 12:25] chrisdavidmills commented on #2443
Argh, that was a mess! Thanks for reporting ;-)

So this happened because the embedding macro call was embedding all code found beneath the "Absolute positioning" H2, including the code under the H3s.

I've fixed it by adding in a hidden H3 above the basic abs pos code, and referencing that in the macro call instead, so it only embeds the code from under that H3.

[2021-02-18 12:25] #2443 closed

[2021-02-18 12:26] chrisdavidmills commented on #2443
See https://github.com/mdn/content/commit/1993848b2ab85e24cc09c876f770389fa4f048ba for the fix. This should be live in a day or so.

[2021-02-18 12:31] Rumyra commented on #2310
This PR deals with this issue https://github.com/mdn/content/pull/2445 - I'll close once this has merged.

Thank you @robsco-git hope this helps 🙏

[2021-02-18 12:39] Rumyra commented on #1448
Would it be ok to take this on and give it a bit of a re-write (inc touch events) and also move it into the webaudio-examples repo @chrisdavidmills ?

[2021-02-18 13:20] chrisdavidmills commented on #1448
@Rumyra yes, I'm fine with that. It is mentioned a few times on MDN, so make sure there is some kind of redirect in place.

[2021-02-18 13:28] xpe opened #2446 "Issue with ":nth-of-type()": cannot be used with an arbitrary selector"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-of-type

#### What information was incorrect, unhelpful, or incomplete?

The page does not clarify that `nth-of-type` cannot be used with an arbitrary selector. This is an easy mistake to make.

Read more at https://stackoverflow.com/questions/5545649/can-i-combine-nth-child-or-nth-of-type-with-an-arbitrary-selector

#### Specific sect

[2021-02-18 13:29] dantclee commented on #2333
I do not know.

[2021-02-18 13:29] #2333 closed

[2021-02-18 13:48] CreaTorAlexander commented on #2446
I can work on this :+1:

[2021-02-18 13:52] AmyAmy opened #2447 "Issue with "Pseudo-classes": `autofill` missing."
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes

#### What information was incorrect, unhelpful, or incomplete?
The `:autofill` pseudo-class isn't listed on the page: neither under "The input pseudo-classes" nor under the Alphabetical index.

The `:autofill` pseudo-class also isn't listed in the "Related topics" for this page and all other pseudo-class pages.

The page for

[2021-02-18 14:14] Rumyra commented on #1448
Thank you! Yep I think I'm going to roll it into a bigger task of auditing audio, so I'm hoping that won't be too much of a problem 👍

[2021-02-18 14:38] jpmedley commented on #1905
This is a fact of web development. There's often a newer version created because it's safer or more performant. To be interoperable, a script using a particular capability has to feature detect for the new version and provide a fallback for older browsers. Here's another article that covers clipboards, including feature detection. https://web.dev/async-clipboard/

[2021-02-18 14:43] sasan89 commented on #2443
Thanks for your rapid response. 🙏

[2021-02-18 14:58] chrisdavidmills commented on #2443
You are most welcome.

[2021-02-18 16:01] danieltroger commented on #2385
Thanks for your input @wbamberg. I made a PR, don't want to let the opportunity of being listed as MDN contributor slide 😄

Yeah, good question. Would be nice to have removal of experimental status automated somehow…

[2021-02-18 16:26] infinite-light commented on #2378
Hi, Sorry sir.
I got the point. it is not the code, I have to enter some where. it is the error I see in browser. now i got the point. thanks for reaching me out.

[2021-02-18 16:31] peterbe opened #2454 "Lots of hardcoded sidebars"
[code]

For example: https://github.com/mdn/content/blob/1993848b2ab85e24cc09c876f770389fa4f048ba/files/en-us/web/css/minmax()/index.html#L158

[2021-02-18 16:32] peterbe commented on #2454
For `web/css/**/index.html` can we just remove the `<section id="Quick_links">` with `<div>{{CSSRef}}</div>`?

[2021-02-18 16:34] peterbe commented on #2454
On thing I can imagine is that these got missed because they're `<section id="Quick_links">` which is different from `<section id="Quick_Links">` (note the lowercase `l` in `links`).

[2021-02-18 16:55] solutayo commented on #2367
Well, I think the feature was probably implemented and working, when the documentation was put in place, if not, why will it be documented! So, it is not a new feature, it is probably broken

[2021-02-18 18:21] shanesc opened #2456 "Issue with "Classes": typo "classalike""
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes

#### What information was incorrect, unhelpful, or incomplete?
Typo, "classalike" should be "class-like" or "class like".

#### Specific section or headline?
FIrst paragraph at the beginning of the article.

#### What did you expect to see?
N/A

#### Did you test this? If so, how?
N/A

<details>
<summary>MDN Conten

[2021-02-18 19:28] swilliamsui opened #2460 "CSP sources no URL scheme is specified note"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/frame-src#sources

#### What information was incorrect, unhelpful, or incomplete?
How protocols without a scheme are treated is unclear. The [frame-ancestors#sources](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/frame-ancestors#sources) note in yellow is much more clear.

[2021-02-18 22:19] J4ku8 opened #2462 "Issue with "CSSUnparsedValue.forEach()": syntax clarifications"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/CSSUnparsedValue/forEach

#### What information was incorrect, unhelpful, or incomplete?
Are you sure about this syntax?
"
CSSUnparsedValue.forEach(function callback(currentValue[, index[, array]]) {
    // your iterator
}[, thisArg]);
"

#### Specific section or headline?
CSSUnparsedValue.forEach(function callback(currentValue[, index[, ar

[2021-02-18 22:46] hamishwillee commented on #2202
FWIW I would prefer to resolve whether we want type annotations in the syntax before we go forth and mass edit. Otherwise I fear we will end up with documentation with multiple formats.

This is not like confusing beginners by mixing BNF and legitimate programming language syntax. The return type and types of the arguments **are** part of the programming language syntax.

Many docs provide a full

[2021-02-18 23:00] hamishwillee commented on #2378
I think you're saying you no longer need help on this? I'll close then - reopen if I am incorrect.

[2021-02-18 23:00] #2378 closed

[2021-02-18 23:20] hamishwillee commented on #2333
Thanks for posting this. The fix in this case is to just remove the problem sentence, which I have done in #2464.

[2021-02-18 23:43] jakseb commented on #1126
The links I complained about now work. However, the sidebar has stopped displaying links to `devtools.panels` and the other two namespaces and their members.

If I could suggest something, it seems that the sidebar issue would not have been introduced if one had not moved the files and had only added appropriate redirects (from 'all-slash' URLs to ones with a dot).

[2021-02-18 23:59] hamishwillee commented on #2430
I have fixed this in #2465

Reason being that the default updated in FF86 and while I had updated the image accept value, missed this one. I am pretty sure */* was just an error (that I made).

[2021-02-19 00:18] j-driller opened #2466 "Issue with "Django Tutorial Part 11: Deploying Django to produ…": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Deployment

#### What information was incorrect, unhelpful, or incomplete?
on https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Deployment

#### Specific section or headline?
"We can then push our app to the Heroku repository as shown below. This will upload the app, package it in a dyno, run collectstatic,

[2021-02-19 00:19] j-driller commented on #2466
Github deprecated master to main and you have corrected an earlier reference, but not this one.... hope it helps someone...

[2021-02-19 00:23] hamishwillee commented on #2202
Just to confirm, the intent is to also follow the same model for single lines too right? So
[code]
would become
[code]
+ whatever we end up doing for type notation.

[2021-02-19 00:46] hamishwillee commented on #1250
So was the resolution that we batch fix these or that I stop fixing them as I go along (because while they are unnecessary they also do no harm)?

[2021-02-19 00:52] hamishwillee commented on #2466
Thanks. Hmmm, Heroku say they support both: https://devcenter.heroku.com/articles/git#deploying-code

I'll tidy.

[2021-02-19 02:25] peterbe commented on #1250
I vote we do nothing. If you happen to be in there touching the near-by lines, then go ahead and remove it.
If you see someone making a tiny PR just to remove the `notranslate`, close it.

There are over 18k occurrences of `notranslate` in the en-US content across 6,853 files.
So a batch fix would be quite disruptive and would probably require to be broken up into multiple PRs which each could cau

[2021-02-19 09:34] #2430 closed

[2021-02-19 11:03] Elchi3 commented on #1250
I agree the changes do no harm, but they add noise to the review diff. Also, if one wants to revert a PR, then you also revert these unrelated changes, and so on. It just feels unclean to me.

I vote to batch fix, too, also given Schalk initially batch introduced these, so looks like that is in fact possible.

[2021-02-19 11:28] rachelandrew commented on #2328
Closing as fixing PR is merged.

[2021-02-19 11:28] #2328 closed

[2021-02-19 11:34] rachelandrew commented on #2128
Closing as I don't think there is an issue here and original commenter didn't get back - please reopen if you have some other info for me.

[2021-02-19 11:34] #2128 closed

[2021-02-19 11:35] Ryuno-Ki commented on #1250
We had other occurences of batch fixes in chunks (e.g. limited to a subtree), so it's better to get to a clean state quickly.

[2021-02-19 11:40] rachelandrew commented on #1884
We actually don't have any of the `@property` descriptors documented, I'll do these.

[2021-02-19 11:46] rachelandrew commented on #1898
These are just properties that need researching and documenting, in the same way as any other CSS properties. On MDN it is fairly customary to have links that lead to 404s when the property isn't documented yet as at least we can see it needs doing.

I'm working through missing CSS properties.

[2021-02-19 11:56] Ryuno-Ki commented on #2462
Just in case you got confused: `[, index]`, `[, array]` and `[, thisArg]` demark optional arguments to the function.

In #2202 we're discussing on phrasing them differently going forward.

[2021-02-19 12:00] Ryuno-Ki commented on #2446
Take it away, @CreaTorAlexander!

[2021-02-19 12:02] peterbe commented on #1898
I think there's two problems going on here. Yes, as @rachelandrew said we just haven't had time to write all to documentation yet. It makes sense to list the properties (or methods or whatever the appropriate nomenclature) and then slowly work on filling the stories for each one.
However, the `CSS_Ref` macro shouldn't link to things it should know *will 404*.
Other macros that list links knows to

[2021-02-19 12:56] Rumyra commented on #2200
New _perfect_ info in this PR https://github.com/mdn/content/pull/2476 ☺️

[2021-02-19 13:05] #2456 closed

[2021-02-19 13:23] CreaTorAlexander commented on #2462
Could you share this classic forEach? I suppose you just got confused by the notation

[code]
Also you could apply the other optional arguments

[2021-02-19 13:23] areberuto commented on #2200
thank you Rumyra :)

[2021-02-19 13:30] Rumyra commented on #2186
Just a note - PR for this is in https://github.com/mdn/content/pull/2449 but I think the example would be really good on the main URLSearchParams page as well, under the Gotchas heading

https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams#gotchas

Just holding off merging whilst that query is resolved 👍

[2021-02-19 13:34] Rumyra commented on #1651
Both pages changed - thanks @ssangervasi

[2021-02-19 13:34] #1651 closed

[2021-02-19 13:53] NegiAkash890 commented on #2460
Can someone please explain the issue further ? I think that I can fix the issue .

[2021-02-19 14:17] J4ku8 commented on #2462
Hi Alexander,
 Thank you for responding.

This is forEach I ended with, actually it is standart JS forEach seems to me.
And I’ do not know why it is mentioned as a part of CSSUnparsedValue.
let values = new CSSUnparsedValue(['30', '60'])
    console.log(values.keys())
    values.forEach(el => {
      console.log(el)
    })

Best regards,
JT

[2021-02-19 14:39] vitaly-zdanevich opened #2479 "tr heigh is works in Firefox but not in Chrmium, and this is not mentioned"
on this [page](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tr)

I tried [Pull Request](https://github.com/mdn/content/pull/2404#event-4351689994), but looks like some expert needed.

[2021-02-19 14:41] #2434 closed

[2021-02-19 14:44] alvinhui opened #2480 "Page not found"
Content: https://github.com/mdn/content/blob/main/files/en-us/web/media/formats/index.html#L34
Link: /en-US/docs/Web/Media/Formats/Images_for_web_designers

And I will suggest move "Image file type and format guide" section belongs to "Media file types and codecs".

[2021-02-19 15:11] #2313 closed

[2021-02-19 15:36] #2409 closed

[2021-02-19 15:53] Rumyra commented on #2200
Thank _you_ @areberuto :D

[2021-02-19 15:53] #2200 closed

[2021-02-19 16:03] CreaTorAlexander commented on #2460
@swilliamsui what would you expect to have as relevant locations?

[2021-02-19 16:06] CreaTorAlexander commented on #2462
@J4ku8 ah okay I understand.
Yes, I agree I also don't understand why it is explicit say *CSSUnparsedValue.forEach()* with the *forEach()* explicit in it.

[2021-02-19 16:43] shades-7 commented on #1438
If once can you explain in detail what is needed to be fixed, I would like to take up this issue but?

[2021-02-19 16:50] pmpinto opened #2483 "Issue with "Intl.NumberFormat": Units + quotes inconsistency"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat

#### What information was incorrect, unhelpful, or incomplete?
Both points under `#using_style_and_unit`:

Point 1:
The first example uses `pt-PT` for the locale and `mile-per-hour` for the `unit`. We don't really use mph in Portugal. It's just odd to see these 2 things together. We use kph

[2021-02-19 16:53] peterbe commented on #1250
Let's do it then. I'll get it started.

[2021-02-19 17:25] sophiebits commented on #2430
Wow thanks!

[2021-02-19 17:26] jpmedley opened #2496 "Difference in how method parameters are marked"
We have two different ways of marking up argument names in `<dl>` lists. Some pages do this:

[code]

While some pages do this:

[code]

For several years now, I've been under the impression that the first version was the preferred way, but I can't find any instructions that say that.

My preference is to use the first one since:

- Formatting in HTML is actually an antipattern because it usurps t

[2021-02-19 18:21] chrisdavidmills commented on #2430
You are most welcome; thanks a lot for reporting it in the first place.

[2021-02-19 19:19] chrisdavidmills opened #2499 "Firefox 87 release notes (March 23)"
## Acceptance criteria

1. - [x] Firefox 87 release notes are updated with all DDN and DDC bugs.
2. - [x] Experimental Features page is updated.
3. - [x] Hacks blogpost written about Fx 87 new features
4. - [x] Hacks blog post shared with Melissa, Mike Conca, Caitlin Neiman, Asa Dotzler, Jen Boscacci, Alice Fleischmann, and Mei Loo.
5. - [x] After release, a link to the Fx hacks blog post is added

[2021-02-19 19:22] chrisdavidmills opened #2500 "[HTTP] Fetch client certificates workaround"
## Acceptance criteria

1. - [ ] The listed features are documented sufficiently on MDN
2. - [x] BCD is updated
3. - [x] Interactive example and data repos are updated if appropriate
4. - [ ] The content has been reviewed as needed

## Features to document

1. Add a preference to enable sending client certificates when Fetch's credentials mode would exclude them, even though the spec says not to

[2021-02-19 19:25] chrisdavidmills opened #2501 "[Devtools] Enable color scheme simulation on all channels"
## Acceptance criteria

1. - [x] The listed features are documented sufficiently on MDN
2. - [x] BCD is updated
3. - [x] Interactive example and data repos are updated if appropriate
4. - [x] The content has been reviewed as needed

## Features to document

1. color scheme simulation in devtools. This needs a rel note. The feature is already documented here — https://developer.mozilla.org/en-US/do

[2021-02-19 19:27] chrisdavidmills opened #2502 "[CSS] Remove non-standard caption-side values"
## Acceptance criteria

1. - [x] The listed features are documented sufficiently on MDN
2. - [x] BCD is updated
3. - [x] Interactive example and data repos are updated if appropriate
4. - [x] The content has been reviewed as needed

## Features to document

1. Removal of non-standard `caption-side` values.

## Related Gecko bugs

1. - [x] [Remove the support of non-standard value of 'caption-side'

[2021-02-19 19:29] chrisdavidmills opened #2503 "[HTTP] Fetch: content-length header is being added to the safe-list"
## Acceptance criteria

1. - [x] The listed features are documented sufficiently on MDN
2. - [x] BCD is updated
3. - [x] Interactive example and data repos are updated if appropriate
4. - [x] The content has been reviewed as needed

## Features to document

1. `content-length` header is being added to the safe-list

## Related Gecko bugs

1. - [x] [Fetch: content-length header is being added to th

[2021-02-19 19:31] chrisdavidmills opened #2505 "[DevTools/CSS] New inactive CSS warnings in the rules view"
## Acceptance criteria

1. - [ ] The listed features are documented sufficiently on MDN
2. - [x] BCD is updated
3. - [x] Interactive example and data repos are updated if appropriate
4. - [ ] The content has been reviewed as needed

## Features to document

1. New warnings for inactive CSS properties in rules view

## Related Gecko bugs

1. - [ ] [[Inactive CSS] Display a warning when table-layout

[2021-02-19 19:34] chrisdavidmills opened #2506 "[CSS] activation behavior and :link/:visited/:any-link matching for <link>s"
## Acceptance criteria

1. - [x] The listed features are documented sufficiently on MDN
2. - [x] BCD is updated
3. - [x] Interactive example and data repos are updated if appropriate
4. - [x] The content has been reviewed as needed

## Features to document

1. activation behavior and :link/:visited/:any-link matching for `<link>`s

## Related Gecko bugs

1. - [x] [Remove activation behavior and :l

[2021-02-19 19:35] chrisdavidmills opened #2507 "[CSS] remove -moz-outline-radius"
## Acceptance criteria

1. - [ ] The listed features are documented sufficiently on MDN
2. - [ ] BCD is updated
3. - [ ] Interactive example and data repos are updated if appropriate
4. - [ ] The content has been reviewed as needed

## Features to document

1. removal of -moz-outline-radius

## Related Gecko bugs

1. - [ ] [outline should follow shape of border-radius (remove -moz-outline-radius)]

[2021-02-19 19:37] chrisdavidmills opened #2508 "[DevTools] Allow devtools to toggle the :target pseudo-class"
## Acceptance criteria

1. - [x] The listed features are documented sufficiently on MDN
2. - [x] BCD is updated
3. - [x] Interactive example and data repos are updated if appropriate
4. - [x] The content has been reviewed as needed

## Features to document

1. Allow devtools to toggle the :target pseudo-class

## Related Gecko bugs

1. - [x] [Allow devtools to toggle the :target pseudo-class](http

[2021-02-19 19:39] chrisdavidmills opened #2511 "[WebAPI] ship beforeinput event and InputEvent.getTargetRanges()"
## Acceptance criteria

1. - [x] The listed features are documented sufficiently on MDN
2. - [x] BCD is updated
3. - [x] Interactive example and data repos are updated if appropriate
4. - [ ] The content has been reviewed as needed

## Features to document

1. `beforeinput` event and `InputEvent.getTargetRanges()`

## Related Gecko bugs

1. - [ ] [[UI Events][Input Events] Ship `beforeinput` event

[2021-02-19 19:40] chrisdavidmills opened #2512 "[CSS] ::first-letter pseudo-element should consider both characters within letter combinations like the Dutch "ij""
## Acceptance criteria

1. - [x] The listed features are documented sufficiently on MDN
2. - [x] BCD is updated
3. - [ ] Interactive example and data repos are updated if appropriate
4. - [ ] The content has been reviewed as needed

## Features to document

1. ::first-letter pseudo-element should consider both characters within letter combinations like the Dutch "ij"

## Related Gecko bugs

1. - [

[2021-02-19 19:42] chrisdavidmills opened #2514 "[WebAPI] ClipboardItem"
## Acceptance criteria

1. - [x] The listed features are documented sufficiently on MDN
2. - [x] BCD is updated
3. - [x] Interactive example and data repos are updated if appropriate
4. - [x] The content has been reviewed as needed

## Features to document

1. `ClipboardItem`

## Related Gecko bugs

1. - [x] [Implement ClipboardItem](https://bugzilla.mozilla.org/show_bug.cgi?id=1619947)

This is a

[2021-02-19 19:43] chrisdavidmills opened #2515 "[CSS] Disable theme-related CSS media queries features when not in chrome context"
## Acceptance criteria

1. - [x] The listed features are documented sufficiently on MDN
2. - [x] BCD is updated
3. - [x] Interactive example and data repos are updated if appropriate
4. - [x] The content has been reviewed as needed

## Features to document

1. Disable theme-related CSS media queries features when not in chrome context

## Related Gecko bugs

1. - [x] [Disable theme-related CSS med

[2021-02-19 19:46] chrisdavidmills opened #2516 "[HTTP] Set referrer policy default to strict-origin-when-cross-origin"
## Acceptance criteria

1. - [x] The listed features are documented sufficiently on MDN
2. - [x] BCD is updated
3. - [x] Interactive example and data repos are updated if appropriate - NA
4. - [x] The content has been reviewed as needed

## Features to document

1. Set referrer policy default to strict-origin-when-cross-origin

## Related Gecko bugs

1. - [x] [Set referrer policy default to strict

[2021-02-19 20:10] peterbe commented on #1250
https://github.com/mdn/content/pulls?q=is%3Apr+is%3Aclosed+notranslate+author%3Apeterbe

[2021-02-19 20:10] #1250 closed

[2021-02-19 20:13] escattone commented on #184
@danny-laa Sorry for the delayed response! Thanks for the reminder. We had started this discssion, but in the rush of everything else going on, never finished it. We'll get it rolling again.

[2021-02-19 21:50] cakoose commented on #2409
Thanks; I really like the new wording!

[2021-02-19 23:11] jakseb opened #2521 "Various issues with "instanceof": a weird claim, typos..."
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/instanceof

### Description > [instanceof and multiple context (e.g. frames or windows)](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/instanceof#instanceof_and_multiple_context_e.g._frames_or_windows)

I believe the inequality should be `Array.prototype !== window.frames[0].Array.pro

[2021-02-20 00:15] stephenlindauer opened #2522 "Issue with "MediaStreamTrack: mute event": onunmute example has typo"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/MediaStreamTrack/mute_event

#### What information was incorrect, unhelpful, or incomplete?
The second half of the second example looks to be attempting to demonstrate the `onunmute` event handler property, however instead of `unmute`, it says `mute`.

[code]

#### Specific section or headline?
[Examples](https://developer.mozilla.org/en-US

[2021-02-20 00:17] sideshowbarker commented on #2409
@cakoose Thank you very much for having taken time to report this. It really was in need of being changed.

Note that I also updated the corresponding section of the Fetch spec —

* https://github.com/mdn/content/commit/24dade#diff-fdb3058c581d609c8df4123526d5b4185e211ffd2a1bc68fe6471d468c5bc81bR86
* https://fetch.spec.whatwg.org/#concept-request-credentials-mode

So by raising this issue — result

[2021-02-20 06:03] danny-laa commented on #184
@escattone Is there any estimated date when will this issue be resolved?

[2021-02-20 07:22] CreaTorAlexander commented on #2521
I can update this 👍

[2021-02-20 07:25] CreaTorAlexander commented on #2522
I can update this 👍

[2021-02-20 08:59] paras-jft opened #2525 "Issue with "Using Promises": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Using_promises

#### What information was incorrect, unhelpful, or incomplete?
While explaining the timing concept with Promises, "Wait" function is called with no argument,

#### Specific section or headline?

Timing

#### What did you expect to see?
 Wait (1000)

#### Did you test this? If so, how?

<details>
<summary>MDN Con

[2021-02-20 09:08] CreaTorAlexander commented on #2525
I will take a look at it 👍

[2021-02-20 09:59] chrisdavidmills commented on #2521
Happy to let you give it a go; thanks a lot for all your enthusiasm, @CreaTorAlexander !

[2021-02-20 11:46] CreaTorAlexander commented on #2521
@chrisdavidmills I enjoy contributing to mdn/content 😄

[2021-02-20 13:37] divesham opened #2529 "slice create deep copy or shallow copy?"
in this link https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array

let shallowCopy = fruits.slice() // this is how to make a copy
// ["Strawberry", "Mango"]

name shoud be deepCopy

explnation :-
let arr1 = [-12, 12, 23, 1, 0, 3]
let arr2= arr1.slice();
console.log(arr1 === arr2) will print false because both are pointing to different reference

[2021-02-20 13:59] CreaTorAlexander commented on #2529
@divesham the name is correct. It is a shallow copy because  when it would contain other objects it will only copy the references and not the referenced objects key values.

[2021-02-20 14:45] divesham commented on #2529
let arr1 = [-12, 12, 23, 1, 0, 3]
let arr2= arr1.slice();
arr1 and arr2 pointing to same reference?
if yes then console.log(arr1 === arr2) should print false

[2021-02-20 15:12] CreaTorAlexander commented on #2529
No they don't point to the same reference

Slice returns a new array

And this new array you are assigning to arr2. That is why consoloe log shows false.

[2021-02-20 15:22] riccardoscalco commented on #2141
I updated the [PR](https://github.com/mdn/content/pull/2142/files). Let me know if there is something else to add.

[2021-02-20 16:31] Ryuno-Ki commented on #2525
@CreaTorAlexander Let me know when you feel confident in resolving it.

[2021-02-20 16:58] Ryuno-Ki commented on #1438
@mattiapontonio Brought this up originally. Do you happen to recall the context, Mattia?

[2021-02-20 17:08] Ryuno-Ki commented on #2245
*pings @hamishwillee

[2021-02-20 17:16] Ryuno-Ki commented on #1319
@chrisdavidmills Do you use a macBook? Can you check with Safari to at least confirm the issue? I can add a note under the live example then to denote the requirement to define those attributes for Safari.

[2021-02-20 19:06] eamc317 opened #2533 "Issue with "Advanced text formatting": affirmations for positive thinking website no longer exists"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Advanced_text_formatting

The "Active Learning: Who Said That?" exercise uses a link to http://www.affirmationsforpositivethinking.com, which no longer exists and is for sale.

(This link isn't vital for the exercise, just that it might link to something inappropriate later on.)

<details>
<summary>MDN Content page r

[2021-02-20 19:53] pahlers opened #2535 "Issue with "Client-side form validation": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation

#### What information was incorrect, unhelpful, or incomplete?

The link [https://www.webfx.com/blog/web-design/best-practices-for-hints-and-validation-in-web-forms/](https://www.webfx.com/blog/web-design/best-practices-for-hints-and-validation-in-web-forms/) used in the article doesn't give information about form valid

[2021-02-20 20:19] AndySky21 opened #2537 "Issue with "How to structure a web form": (providing unlocalized instructions for date formatting)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Forms/How_to_structure_a_web_form

#### What information was incorrect, unhelpful, or incomplete?
In step 6, example code, you inserted a `<em>formatted as mm/dd/yyyy</em>` element. Apart from the fact that you might offer the same instruction with a `placeholder` or a `title` attribute, this is bad for 2 reasons:
- Card expiry date usually c

[2021-02-20 23:38] hamirmahal opened #2539 "Issue with "AnalyserNode.getFloatFrequencyData()": a couple of clarifying words could help"
One of the sentences in the first three paragraphs at the top of the [`AnalyserNode.getFloatFrequencyData()` page](https://developer.mozilla.org/en-US/docs/Web/API/AnalyserNode/getFloatFrequencyData) says, "For example, for 48000 sample rate, the last item of the array will represent the decibel value for 24000 Hz."

I think it would be more clear if the sentence said, "For example, for **a** 4800

[2021-02-21 01:22] sideshowbarker commented on #1319
@Ryuno-Ki I have a macbook. Do we have a ready-made test case for this somewhere?

[2021-02-21 10:11] CreaTorAlexander commented on #2525
@Ryuno-Ki yes I feel confident.

Which amount of MS should I pass to the example or can I just take 1000?

`wait(1000).then(() => console.log(4));`

To wait 1 second?

[2021-02-21 11:36] Ryuno-Ki commented on #2525
The original suggestion was 1s, so `1000` sounds reasonable.

[2021-02-21 11:38] Ryuno-Ki commented on #1319
[code]

I could extend this to a test case (or even go with Vanilla JS). Where would I place the test case and allow you to commit on top of it, @sideshowbarker?

[2021-02-21 13:11] avivmu commented on #2525
What is the problem with `wait()` without arguments? It will call [setTimeout](https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/setTimeout) with 0 which will be executed the next event loop

[2021-02-21 13:32] CreaTorAlexander commented on #2525
@avivmu because it makes no sense

`const wait = ms => new Promise(resolve => setTimeout(resolve, ms));
`
Here we explicit define the parameter *ms* for wait and then we are not using it.

[2021-02-21 13:59] dh94 opened #2541 "Issue with "Proxy Auto-Configuration (PAC) file": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Proxy_servers_and_tunneling/Proxy_Auto-Configuration_PAC_file

#### What information was incorrect, unhelpful, or incomplete?

typo in api usage in examples

#### Specific section or headline?

https://developer.mozilla.org/en-US/docs/Web/HTTP/Proxy_servers_and_tunneling/Proxy_Auto-Configuration_PAC_file#example_2_2

#### What did you expe

[2021-02-21 14:01] avivmu commented on #2525
I read the mentioned section. I agree that explicit is better. Lets change it to `wait(0)` (not 1000) because we want to show that even though we run the `setTimeout()` immediately, `console.log(4)` gets called last ([As this article explains](https://developer.mozilla.org/en-US/docs/Web/API/HTML_DOM_API/Microtask_guide#tasks_vs_microtasks))

[2021-02-21 14:04] CreaTorAlexander commented on #2525
Okay, I will update it 👍

[2021-02-21 14:07] CreaTorAlexander commented on #2541
@dh94 good eyes :) I will update it 👍

[2021-02-21 14:39] chrisdavidmills commented on #1438
Mattia unfortunately got blocked from our repos last week.

I think this is referring to creating a decent solution for a responsive table stlying, so that the table works well on wide and narrow screens. I'm not 100% sure where that would be put. In the examples on the `<table>` element page maybe?

[2021-02-21 15:44] CreaTorAlexander commented on #2535
I can work on it 👍  @Ryuno-Ki do you think we should remove the link or replace it by a good ressource?

[2021-02-21 15:46] CreaTorAlexander commented on #2533
I can remove the link 👍

[2021-02-21 15:50] Ryuno-Ki commented on #1438
Ouch.

Okay, that would be https://developer.mozilla.org/en-US/docs/Web/HTML/Element/table ?
Could confuse from the subject on hand.

The only other widespread use of tables I'm aware of are BCD (Browser Compatibility Data) ones.
That is already discussed in https://github.com/mdn/yari/issues/2502 though

[2021-02-21 15:51] Ryuno-Ki commented on #2533
Do it!

[2021-02-21 15:53] Ryuno-Ki commented on #2535
If you can find a good resource, replace it. Otherwise remove (to avoid causing confusion).
Pay attention to pick a relevant source:
https://developer.mozilla.org/en-US/docs/MDN/Guidelines/Editorial#relevance

[2021-02-21 16:50] Ryuno-Ki commented on #1521
So … what are the next best actions?
Adjusting the note regarding `unload` event?
Or at least _mention_ the other two events (`pagehide` and `visibilitychange`) to allow developers to do more research?

[2021-02-21 17:47] Ryuno-Ki opened #2545 "Banging heads"
Our writing guidelines recommend not to use banging heads:
https://developer.mozilla.org/en-US/docs/MDN/Guidelines/Writing_style_guide#Heading_dos_and_donts

These are headlines (of different levels) which follow directly on each other.
I could find one example in #2532 and have seen some others.

In fact, `ack -A2 \<h2 files/en-us/ | ack \<h3 | wc -l` reports 3491 occurences.

What shall we do wi

[2021-02-21 19:50] Ryuno-Ki commented on #1916
Finally came around to open https://github.com/mdn/content/pull/2547

[2021-02-21 20:10] unkn0wn3rr0r opened #2549 "Issue with "Promise.any()": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/any

#### What information was incorrect, unhelpful, or incomplete?
When i click on the Run button it outputs incorrect data.

#### Specific section or headline?
 - JavaScript Demo: Promise.any()

#### What did you expect to see?
- // expected output: "quick"
- but got: Error: Promise.any is not a fun

[2021-02-21 20:16] CreaTorAlexander commented on #2549
I can update this 👍

[2021-02-21 20:17] KaliszAd opened #2550 "Issue with "History API": Documentation more concerned with adding to history and changing the present instead actually working with history"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/History_API

#### What information was incorrect, unhelpful, or incomplete?

This should document working with the history but it really only scratches the top of the iceberg and seems to be more concerned with the current state than the window history actually. E.g. if I want to replace the last URL - that the back button would point to, t

[2021-02-21 20:57] avivmu commented on #2550
Can you submit a PR?

[2021-02-21 20:59] avivmu commented on #2549
Make sure your browser [supports this feature](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/any#browser_compatibility)

[2021-02-21 21:21] #2522 closed

[2021-02-21 22:10] KaliszAd commented on #2550
I am not sure, I have the needed insight - otherwise I wouldn't search for documentation. I sketched up what, in my opinion, needs to be changed to make the documentation more useful. Perhaps the original author will recognize this point of view?

[2021-02-21 22:22] pocockcb opened #2555 "Issue with "Django Tutorial Part 8: User authentication and pe…": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Authentication

#### What information was incorrect, unhelpful, or incomplete?

This is such a small problem and it may be of my own making but in part 8  of the tutoria when I updated
 'DIRS': [os.path.join(BASE_DIR, 'templates')], in  setting .py. I got an error because I had not included  "import os".

This was quickly r

[2021-02-21 22:23] hamishwillee commented on #2508
The work for this was done by the developer in https://github.com/mdn/content/pull/2020. I've removed the draft on that and it is ready to go in.

[2021-02-22 01:52] hamishwillee commented on #2500
Overview of what needs to be done following review:
- [ ] Add release note
- [ ] Add dev-doc-complete
- [ ] BCD - Not required
- [ ] Interactive example - note required
- [ ] Docs updates
- - [ ]  Add a section or note in [Cross-Origin Resource Sharing (CORS) > Requests with credentials](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#requests_with_credentials) to outline the exception here

[2021-02-22 04:16] hamishwillee commented on #2505
@rachelandrew This is really "devtools". Feel free to take it, but if you wanted to hand something over this would be it.

[2021-02-22 04:59] 4172580636 opened #2561 "Hello World"
: 227695

[2021-02-22 05:59] hamishwillee commented on #2501
Quick review
- [ ] BCD - NA
- [ ] Interactive example - NA
- [ ] Docs
   - [ ] [How_to/Examine_and_edit_CSS > View @media rules for color-scheme-preference  ](https://developer.mozilla.org/en-US/docs/Tools/Page_Inspector/How_to/Examine_and_edit_CSS#view_media_rules_for_color-scheme-preference) - Update the UI and screenshots. Needs a bit of clarification.
   - [ ] [@media/prefers-color-scheme](htt

[2021-02-22 06:21] rachelandrew commented on #2505
Ah sorry - I just batched assigned all the ones marked CSS to me to look at this week, feel free to grab it!

[2021-02-22 07:58] thdoan opened #2565 "Issue with "accesskey": (Chrome for Linux keyboard combo incorrect)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/accesskey

#### What information was incorrect, unhelpful, or incomplete?
I think the accesskey table is incorrect. According to https://en.wikipedia.org/wiki/Access_key, Chrome for Linux accesskey combo is `Alt + key`, not `Shift + Alt + key`.

#### Specific section or headline?

#### What did you expect to see?

#### Di

[2021-02-22 08:41] #2561 closed

[2021-02-22 10:03] rachelandrew commented on #2515
I think this is done in the above PRs.

[2021-02-22 10:07] chrisdavidmills commented on #2549
I've tried this on both Chrome and Firefox, and it works in both places. We've had a few reports of problems with this example recently, so it'd be good to get to the bottom of this problem.

[2021-02-22 10:17] rachelandrew commented on #2512
I feel we should just take a moment to celebrate the fact that bug was opened 20 years ago.

[2021-02-22 10:25] chrisdavidmills commented on #2545
There are a lot of them about, and in some cases they are probably unavoidable.

I think you should take the recommendation to mean "don't do this where possible", rather than "don't do this ever". It is more important for guides/tutorials than reference articles, although I'd prefer to avoid it if we can.

I don't think we need to do anything here. It is a still a recommendation that we want to m

[2021-02-22 10:25] #2545 closed

[2021-02-22 10:26] Elchi3 commented on #1250
Thanks for cleaning this up, Peter! :)

[2021-02-22 10:35] jlamasfripp opened #2570 "Issue with code demo: Code demo of snippets disappears in Firefos Developer Edition"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/gradient

#### What information was incorrect, unhelpful, or incomplete?
Code demos loads but disappears after load is complete when using the web with FireFox DEveloper Edition. It does not happens only in gradients page, but everywhere.

#### Specific section or headline?
All code demos

#### What did you expect to see?
The gradient demo

[2021-02-22 10:48] avivmu commented on #2565
Well according to Wikipedia:

So we should update the docs accordingly

[2021-02-22 10:48] #2539 closed

[2021-02-22 10:59] chrisdavidmills commented on #2483
Some good points here, thanks for reporting these problems @pmpinto !

I've fixed these issues in https://github.com/mdn/content/commit/c267fd1ace913dd72a3351eea8cad93a7cf9c99a

[2021-02-22 10:59] #2483 closed

[2021-02-22 11:11] avivmu commented on #2535
I found [this article from the same author](https://www.webfx.com/blog/web-design/10-tips-for-optimizing-web-form-submission-usability/), on the same website, so maybe replace instead of remove?

[2021-02-22 11:41] CreaTorAlexander commented on #2535
Yes, sounds good I will replace it.

[2021-02-22 12:04] #2533 closed

[2021-02-22 12:21] lusoftware commented on #1428
And same on this page https://developer.mozilla.org/zh-CN/docs/Web/API/WheelEvent.
1. current: https://developer.mozilla.org/zh-CN/docs/Web/Reference/Events/scroll
    actual: https://developer.mozilla.org/zh-CN/docs/Web/API/Document/scroll_event

[2021-02-22 12:22] chrisdavidmills commented on #2512
Indeed ;-)

[2021-02-22 12:35] chrisdavidmills commented on #2570
I just tried this page specifically in Firefox developer edition, and I can see the examples absolutely fine.

I did notice that the heights on the examples were too small and had vertical scroll bars, so I filed https://github.com/mdn/content/commit/95b02ba8004a86b259cec61905821663522cda14 to fix that.

Is that what you mean? Or can't you see the examples at all?

[2021-02-22 12:48] #2535 closed

[2021-02-22 13:31] sideshowbarker commented on #2541
Closed by https://github.com/mdn/content/commit/0ef83fb47c9a12cad9dffe2dc5b54a08d8fcdc7a

[2021-02-22 13:32] #2525 closed

[2021-02-22 13:56] rachelandrew commented on #2507
@chrisdavidmills I think this is only enabled in Nightly right now. By the looks of it the pre checks for a Nightly build - and comments on the bug mention "when it ships", I have asked. If so it is probably too soon to do the BCD for the removal etc.

[2021-02-22 14:02] rachelandrew commented on #2507
Answered immediately - not in release 87 but here is the bug to enable it https://bugzilla.mozilla.org/show_bug.cgi?id=1694146

[2021-02-22 14:31] chrisdavidmills commented on #2507
Perfect. I was just about to jump on here and make you aware of this (I just found out!), but you beat me to it ;-)

[2021-02-22 15:27] rachelandrew commented on #2507
So not sure there is anything to do here, a note on experimental features?

[2021-02-22 16:44] wbamberg commented on #2529
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/slice#description talks a bit about this but it might be worth expanding it and making it more explicit? (for example, it mentions shallow copy, and it describes the copy behavior, but it doesn't explicitly link the described behavior to the term "shallow copy".

Or, maybe better, having an example under https:/

[2021-02-22 17:14] shuhei opened #2577 "Issue with "Inheritance and the prototype chain": "delete Operator with Object.create and new operator" is mixing up prototypal inheritance and direct assignment"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Inheritance_and_the_prototype_chain

#### What information was incorrect, unhelpful, or incomplete?

The section "`delete` Operator with Object.create and new operator" shows different behaviors of `delete` with `Object.create()` and `new`. However, the difference is coming from the fact that the `new` example is directly setting a p

[2021-02-22 17:18] chrisdavidmills commented on #2507
Sounds like it.

[2021-02-22 17:30] chrisdavidmills commented on #1726
@hamishwillee Hi Hamish, sorry to land this on you at the 11th hour, but AVIF support has been pulled from 86: https://bugzilla.mozilla.org/show_bug.cgi?id=1682995#c31

As a priority in your next working day, can you revert the changes in this bug as much makes sense? I.e. I don't think you need to revert everything, just explicit mentions of Fx version support in 86.

[2021-02-22 17:36] mian-lu opened #2578 "Issue with "Tutorial: Set a breakpoint": Obsolete info on this page about Scratchpad"
MDN URL: https://developer.mozilla.org/en-US/docs/Tools/Debugger-API/Tutorial-Breakpoint

#### What information was incorrect, unhelpful, or incomplete?
The section about "enabling Scratchpad" are obsolete, since Firefox 70 deprecated, and 72 removed the "Scratchpad" functionality.
https://developer.mozilla.org/en-US/docs/Tools/Deprecated_tools
This page above mentions that the new alternative is

[2021-02-22 17:37] chrisdavidmills commented on #1726
OK, removed from rel notes: https://github.com/mdn/content/commit/f4b133613b01bbf5e700d42317ece3fd6dceeac2

[2021-02-22 17:38] Ryuno-Ki commented on #2578
Lesson learned: GitHub cannot handle multiple people assigning labels m(

[2021-02-22 17:39] Ryuno-Ki commented on #2578
The edit would happen on

https://github.com/mdn/content/blob/f4b133613b01bbf5e700d42317ece3fd6dceeac2/files/en-us/tools/debugger-api/tutorial-breakpoint/index.html

[2021-02-22 17:41] Ryuno-Ki commented on #2570
@jlamasfripp Would you be able to record a screencast showing it? Or take a picture once the code demo disappeared?
(Ideally with the Console of DevTools open)

[2021-02-22 17:41] mian-lu commented on #2578
Good one 😂

[2021-02-22 17:46] Ryuno-Ki commented on #2565
https://github.com/mdn/content/blob/f4b133613b01bbf5e700d42317ece3fd6dceeac2/files/en-us/web/html/global_attributes/accesskey/index.html#L55

would be the line in need of an update.

[2021-02-22 17:57] CreaTorAlexander commented on #2529
I would say this site is about the method slice and about copying, shallow- and deep Copys are a topic in their own right. I would suggest doing a link to a website which explains shallor-deep copy.

[2021-02-22 19:04] mannion opened #2579 "Issue with "MediaRecorder.requestData()": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/MediaRecorder/requestData

#### What information was incorrect, unhelpful, or incomplete?
If MediaRecorder.state is not "recording", raise a DOM InvalidState error and terminate these steps. If MediaRecorder.state is "recording", continue to the next step.

#### Specific section or headline?

#### What did you expect to see?
If MediaRecorde

[2021-02-22 20:17] thdoan commented on #2565
If Chrome for Linux works like Chrome for Windows, then reserved keyboard shortcuts would require `Shift+Alt`. From my testing these are currently four reserved keyboard shortcuts in Chrome for Windows, so `accesskey` assigned to these letters require `Shift+Alt`:

- `Alt+D` - Jump to the address bar
- `Alt+E` - Open the menu
- `Alt+F` - Open the menu
- `Alt+S` - ???

I don't have access to Chrome

[2021-02-22 20:23] Ryuno-Ki commented on #2565
*fires up Chromium on Sabayon Linux

<kbd>Alt</kbd>+<kbd>D</kbd> jumps to address bar
<kbd>Alt</kbd>+<kbd>E</kbd> opens the menu
<kbd>Alt</kbd>+<kbd>F</kbd> opens the menu

I couldn't get <kbd>Alt</kbd>+<kbd>1</kbd> up to <kbd>9</kbd> to do anything (with or without <kbd>Shift</kbd>)
Plus, most special characters are placed awkward on a German keyboard layout (I could get some, like <kbd>.</kbd>,

[2021-02-22 20:28] thdoan commented on #2565
Eeek.... no wonder MDN says "Because of these issues, it is generally advised not to use accesskeys for most general-purpose websites and web apps." ^_^

[2021-02-22 21:13] mofojed opened #2589 "Issue with "WebSocket.send()": Exceptions thrown listed is incorrect"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/WebSocket/send

#### What information was incorrect, unhelpful, or incomplete?
In the Exceptions Thrown section, it says the `INVALID_STATE_ERR` exception is thrown when `send` is called while the connection is not `OPEN`. That is incorrect, as an exception is only called in the `CONNECTING` state; if `CLOSING` or `CLOSED`, send just discar

[2021-02-22 22:22] hamishwillee commented on #2581
Will be fixed by https://github.com/mdn/content/pull/2590

[2021-02-22 22:35] hamishwillee commented on #2580
@chrisdavidmills This is a valid criticism. I suggest that:-
- By default we use searchfox for FF links. If nothing hits, then the link is deleted.
- Any broken link to old code on other browsers just gets deleted.

My reasoning is that actually source links are of limited use to the main audience, and they are worse than useless if broken.

OK?

[2021-02-22 23:07] hamishwillee commented on #1250
Yes, thanks very much.

[2021-02-22 23:10] 4172580636 opened #2591 "Steps on fixing null error message on iPhone"

[2021-02-22 23:12] 4172580636 commented on #2591
How to fix error message " null" from mail and from iPhone

[2021-02-22 23:23] hamishwillee commented on #2505
@rachelandrew Never a problem if you grab something I might otherwise have to work on :-). It's just that I think your queue is bigger than mine.

[2021-02-22 23:47] hamishwillee commented on #2245
Thanks. I have taken this up. On my queue after FF87 stuff.

[2021-02-23 00:06] hamishwillee commented on #2430
Yes, thanks. PS I had to do a further update on this today in https://github.com/mdn/content/pull/2590 - that cleans up a missing bit of the picture between FF66 and FF72

[2021-02-23 00:35] hamishwillee commented on #2480
That file does not exist but the  material is covered in the image file format guide - so I removed the section and merged the info in https://github.com/mdn/content/pull/2592

This is a perfectly reasonable suggestion, but I am still not going to do it. In my opinion images are still the most important topic covered here. So even though it is just "another media type", having it separate makes th

[2021-02-23 00:47] pshar7 opened #2593 "Issue with "Drawing graphics": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Client-side_web_APIs/Drawing_graphics

#### What information was incorrect, unhelpful, or incomplete?

Link on Scene() leads to 404.
#### Specific section or headline?

Recreating our cube
#### What did you expect to see?
Link in three.js about Scene()

#### Did you test this? If so, how?
Yes. I think this is correct link. https://

[2021-02-23 00:49] pshar7 commented on #2593
Also same with PerspectiveCamera()  https://threejs.org/docs/index.html#api/en/cameras/PerspectiveCamera

[2021-02-23 02:49] alvinhui commented on #2480
Image as the basis of multimedia, a single chapter is reasonable. I don't think it's too controversial.

[2021-02-23 03:34] hamishwillee commented on #2480
Then make your own PR :-)

[2021-02-23 03:40] randycasburn opened #2599 "Issue with "Function": There no longer seems to be any treatment for constructor functions"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function

#### What information was incorrect, unhelpful, or incomplete?
Where did the description of constructor functions go? I'm not referring to Class constructors, I'm referring to function declarations used as constructor functions for creating objects.

#### Specific section or headline?
Constructor Fu

[2021-02-23 04:36] hamishwillee commented on #1726
Yoiks. OK
- Removal of the accept header avifs in FF86: https://github.com/mdn/content/pull/2590
- Revert the experimental features and the image guide docs: https://github.com/mdn/content/pull/2601
Think we're all "good" once those are merged.

[2021-02-23 05:51] CreaTorAlexander commented on #2589
I can take a look at it 👍

[2021-02-23 06:54] #2581 closed

[2021-02-23 07:02] chrisdavidmills commented on #1726
Yup, agreed. All reviewed and merged. Thanks!

[2021-02-23 07:04] chrisdavidmills commented on #2589
@CreaTorAlexander assigned, thanks!

And thanks to @mofojed for reporting this.

[2021-02-23 07:12] hamishwillee commented on #1726
Excellent. Closing this again then. Unless we're getting avif back in FF87 of course :-)

[2021-02-23 07:35] CreaTorAlexander commented on #2579
I can update this :+1:

[2021-02-23 07:40] #2480 closed

[2021-02-23 07:41] chrisdavidmills commented on #1726
I'd actually like to keep it open; we wll definitely be getting it back at some point.

[2021-02-23 07:44] #2591 closed

[2021-02-23 07:46] chrisdavidmills commented on #2580
@hamishwillee yes, WFM!

[2021-02-23 07:59] sweetwoa opened #2605 "Issue with "FileSystemDirectoryReader": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/FileSystemDirectoryReader

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/api/filesystemdirectoryreader`
* MDN URL: https://developer.m

[2021-02-23 08:04] #2605 closed

[2021-02-23 08:28] #1662 closed

[2021-02-23 09:19] bartek-szymanski opened #2606 "Issue with "Using the Web Animations API": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Web_Animations_API/Using_the_Web_Animations_API

#### What information was incorrect, unhelpful, or incomplete?

Animation of the "Alice falling down the rabbit hole" has a color change that is not visible well enough on the screen in case of a lot of light in the room.

It's an example, and as such should show very clearly what's happening

[2021-02-23 09:55] vinyldarkscratch opened #2609 "Add documentation for TextDecoderStream and TextEncoderStream"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [x] New documentation
- [ ] Correction or update

# Details

A user requested the addition of both interfaces into the BCD (see https://github.com/mdn/browser-compat-data/issues/3447), although it appears that we're missing [TextDecoderStream](https://encoding.spec.whatwg.org/#interface-textdeco

[2021-02-23 10:07] CreaTorAlexander commented on #2606
I can update it. Which color would you suggest?

[2021-02-23 10:18] chrisdavidmills commented on #2606
I don't think we need to update this. I appreciate the concern here, but the color change is supposed to be subtle, and updating all the examples would be a pain.

[2021-02-23 10:18] #2606 closed

[2021-02-23 10:28] planeth44 opened #2612 "Issue with "Using files from web applications": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/File/Using_files_from_web_applications

#### What information was incorrect, unhelpful, or incomplete?
The function createThrobber(img) is not documented

#### Specific section or headline?
https://developer.mozilla.org/en-US/docs/Web/API/File/Using_files_from_web_applications#handling_the_upload_process_for_a_file

#### What did you expect

[2021-02-23 10:48] #2308 closed

[2021-02-23 10:48] #1964 closed

[2021-02-23 13:20] Dmole opened #2615 "Notification"
The demo on

https://github.com/mdn/content/blob/main/files/en-us/web/api/notification/notification/index.html

https://developer.mozilla.org/en-US/docs/Web/API/Notification/Notification

throws the following error;

Chromium on Android reports:

and ServiceWorkerRegistration.showNotification only works if google services is installed.

[2021-02-23 14:43] alvinhui opened #2616 "Issue with "Search on MDN""
MDN URL: https://developer.mozilla.org/en-US/docs/MDN/Tools/Search

**What information was incorrect, unhelpful, or incomplete?**

Filtering results is not work.

**Specific section or headline?**

https://developer.mozilla.org/en-US/docs/MDN/Tools/Search#filtering_results

**What did you expect to see?**

If do not have this function, please delete the relevant content.

**Did you test this? If s

[2021-02-23 15:24] peterbe commented on #2616
CC'ing @Chris Mills
Interesting. We dropped the “topic filtering” when we moved to React (~2 years ago?) but it stuck around on the Wiki. Now the Wiki is gone too.
I think the answer to this issue is to remove a bunch of mentions of advanced search options. Is that something you can help with? I think it’s also a bit of a mistake to try to explain every little detail the site-search can do. For ex

[2021-02-23 17:42] #2579 closed

[2021-02-23 17:43] isaacbatst opened #2621 "Image links broken"
Hello guys! The image links on [theses](https://developer.mozilla.org/pt-BR/docs/Web/HTML/Element/figura#exemplos) examples are broken.

![Captura de tela de 2021-02-23 14-43-36](https://user-images.githubusercontent.com/18752045/108884689-a4561e80-75e5-11eb-8166-3cd5fdc92243.png)

[2021-02-23 17:59] Rumyra commented on #2514
OK so... 😅 ClipboardItem...

The spec has changed since I last published the initial docs in June-ish time. There are a few extra properties and methods. These are:

- ClipboardItem.createDelayed()
- item.presentationStyle
- item.lastModified
- item.delayed

However these are not implemented in either FF or Chrome, apart from item.presentationStyle in FF. Now I'm happy to whip up a page for this,

[2021-02-23 18:47] fcmatteo opened #2622 "Why MDN says Beacon API is experimental?"
Hi there, I had a discussion with my team arguing whether we should or should not use `sendBeacon`, and one of my teammates sent this link that says that the API is experimental https://developer.mozilla.org/en-us/docs/Web/API/Beacon_API/Using_the_Beacon_API

But it doesn't say that in the repo https://github.com/mdn/content/blob/main/files/en-us/web/api/beacon_api/using_the_beacon_api/index.html

[2021-02-23 19:25] wbamberg commented on #2622
It's because the page includes the [`{{SeeCompatTable}}`](https://github.com/mdn/yari/blob/main/kumascript/macros/SeeCompatTable.ejs) macro. I think we should just remove that macro call.

For experimental-ness, it's usually better to check the compat table, which will give you more detail and be more likely to be up to date: https://developer.mozilla.org/en-US/docs/Web/API/Navigator/sendBeacon#br

[2021-02-23 19:39] wbamberg commented on #2621
It looks like the `src` in the example needs to be updated. See the [en-US version](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figure#examples) (which does work):

[code]

-> https://developer.mozilla.org/static/img/favicon144.png exists, https://developer.cdn.mozilla.net/media/img/mdn-logo-sm.png does not.

[2021-02-23 19:41] Ryuno-Ki commented on #2621
This is the pt-BR version. I'm assuming, it's frozen for now and won't be fixed anywhen soon.
https://hacks.mozilla.org/2021/02/mdn-localization-update-february-2021/ shares the latest public plans about MDN web docs.

[2021-02-23 19:43] Ryuno-Ki commented on #2622
Perhaps related to #1521

[2021-02-23 19:47] M1k3Mullins opened #2624 "Issue with "Network monitor toolbar": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Tools/Network_Monitor/toolbar

#### What information was incorrect, unhelpful, or incomplete?
the dropdown menu to throttle speeds is no longer present

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?
i hit Ctrl+Shift+E to bring up the Network Monitor frame, and on the right side of ''Disabl

[2021-02-23 20:09] dsuedholt opened #2625 "Issue with "Using IIR filters": Broken link"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API/Using_IIR_filters

#### What information was incorrect, unhelpful, or incomplete?
The link with the text "information about the maths behind IIR filters here" (http://www.eas.uccs.edu/~mwickert/ece2610/lecture_notes/ece2610_chap8.pdf) leads to a 404.

#### Specific section or headline?
Section "The IIRFilterNode".

#### What d

[2021-02-23 22:04] mjbmon opened #2634 "Issue with "Working with JSON": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/JSON

#### What information was incorrect, unhelpful, or incomplete?
Your examples are fine except for one major error: they are surrounded by single quotes (') which make them invalid JSON.

#### Specific section or headline?
"JSON structure" and "Arrays as JSON"

#### What did you expect to see?
Valid JSON.

#### Did you

[2021-02-23 22:59] acer21 opened #2635 "Error in Document.querySelectorAll () examples"
The first two examples of how "**Document.querySelector ()**" works are reversed

[2021-02-24 01:25] polarathene opened #2636 "FF86 Release notes missing WebGL improvements?"
Several articles on this release mention WebGL performance improvements, one claiming them to be quite notable because of moving the logic to it's own thread, when viewing the release notes this information is lacking.

I looked at the source [here](https://github.com/mdn/content/blob/main/files/en-us/mozilla/firefox/releases/86/index.html) and went through commit history and there seems to never

[2021-02-24 01:32] 4172580636 opened #2637 "-----BEGIN PGP SIGNED MESSAGE----- Hash: SHA256 > > 57:2f:28:39:41:42:b7:3a:b7:fb:9e:db:03:4e:3c:76 > -----BEGIN PGP SIGNATURE----- iF4EARMIAAYFAmA1qxIACgkQy1ZrZurz89J7/gD8DrmFXknw+tVqdWf6kClzvww2Hj0njj1zhJ22 I2V8KpoA/3rCsLnE+AitfUFH9y9YYW4o4rL4ElmGKFzfjcRDCD/V =r1OM -----END PGP SIGNATURE-----"
- > ``

[2021-02-24 01:51] myfonj opened #2638 "Discourage "color: transparent" for "background-clip: text""
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/background-clip

#### TL;DR:
- `color: transparent` is dangerous, maybe mention feature detection or propose text-fill-color instead;
- where is `background-image:`, there should be `background-color:`;
- especially when clipped into text.

#### What information was incorrect, unhelpful, or incomplete?

Code snippets use `color: transparent

[2021-02-24 02:28] #2435 closed

[2021-02-24 02:54] #2385 closed

[2021-02-24 02:59] #2447 closed

[2021-02-24 03:37] #2466 closed

[2021-02-24 03:43] #2565 closed

[2021-02-24 04:41] #2637 closed

[2021-02-24 06:28] sideshowbarker commented on #322
Closing this, as the current state of things doesn’t seem to be causing any real problems for us

[2021-02-24 06:28] #322 closed

[2021-02-24 07:05] CreaTorAlexander commented on #2634
So you mean

[code]

[2021-02-24 07:07] CreaTorAlexander commented on #2635
Do you mean on this site? https://developer.mozilla.org/de/docs/Web/API/Document/querySelector

[2021-02-24 07:10] rachelandrew commented on #2638
@ericwbailey do you have any thoughts on this? Seems a potential a11y issue with regard to contrast.

[2021-02-24 07:21] chrisdavidmills commented on #2635
Which page are you finding this problem with, and what headlines are the examples under that you are claming are reversed?

[2021-02-24 07:21] #2373 closed

[2021-02-24 07:26] chrisdavidmills commented on #2634
That is really strange. I don't know how they got there, and I wrote this article originally...I've fixed it : https://github.com/mdn/content/commit/8a74912fd92a0e0e4f09fba7408ef4bee1f966ca

Thanks for reporting!

[2021-02-24 07:26] #2634 closed

[2021-02-24 07:39] #1048 closed

[2021-02-24 07:54] chrisdavidmills commented on #2636
@polarathene I try to report all notable web platform changes in the release notes, based on the information I am given or can find, but I didn't see anything about this.

I've just had a look in the Firefox engineering team internal tracking tool, and can see an entry related to WebGL drawing to the GPU Process / out-of-process WebGL— I guess this is what you are talking about.

It looks like it

[2021-02-24 08:05] Ryuno-Ki commented on #2648
Remember? We had a bugfix the other day, that was reported 20 years ago …!

[2021-02-24 09:11] #1916 closed

[2021-02-24 09:15] chrisdavidmills commented on #2625
Above referenced PR fixes this, so closing; thanks for reporting this, @dsuedholt !

[2021-02-24 09:15] #2625 closed

[2021-02-24 09:37] chrisdavidmills commented on #2624
The article is correct for recent versions of Firefox. On the page, it says "Prior to Firefox 77, this toolbar was arranged somewhat differently."

If you are using an old ESR version, then you might just have to accept that the docs won't match your exact experience. It would be too difficult for us to arrange the docs in a way that would mirror everyone's experience, regardless of Firefox versio

[2021-02-24 09:37] #2624 closed

[2021-02-24 09:41] chrisdavidmills commented on #2616
@peterbe ah right yes, I must've missed this page wen I went through and updated the MDN meta-docs. Is any of it worth keeping, or should I just delete the entire page for now?

[2021-02-24 09:59] rachelandrew commented on #2507
@chrisdavidmills done, and looks like I'll be revisiting it for the 88 release.

[2021-02-24 10:56] polarathene commented on #2636
I'm alright, I was just seeking confirmation that it did make it to through to the release unlike the AVIF feature that got pulled/delayed for a future release.

[Phoronix](https://www.phoronix.com/scan.php?page=news_item&px=Firefox-86-Released) briefly touched on it and is my main news source for linux related news.

[Linux Reviews](https://linuxreviews.org/Firefox_86_Is_Released_With_Drastically

[2021-02-24 11:56] Rumyra commented on #2511
Personal todo:

- [ ] Check docs
- [ ] BCD
- [ ] Release notes

[2021-02-24 12:03] codetalker7 opened #2655 "Navigation Buttons Missing"
It looks like the "Previous" and "Next" navigation buttons are missing at the bottom of [this](https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Asynchronous/Concepts) page.

[2021-02-24 12:12] chrisdavidmills commented on #2655
Well spotted, thanks for erporting this @codetalker7 !

I've added them in; see https://github.com/mdn/content/commit/9ac92e59230ba51bd3212e8976fd36e0d431a372

[2021-02-24 12:12] #2655 closed

[2021-02-24 12:31] peterbe commented on #2616
I can't imagine anything in there being useful. At least not until we have the time and energy to support a JSON API fully. For now, all a user needs to know is that you reach for search in the upper right-hand and type something and results show :)

[2021-02-24 13:07] chrisdavidmills commented on #2616
PR filed: https://github.com/mdn/content/pull/2657 feel free to merge it if you like ;-)

[2021-02-24 13:19] chrisdavidmills commented on #2636
Yeah, that totally makes sense. I can see AVIF was mis-reported at one of the URL you included. Although you can't blame them too much. It was on our release notes until 24 hours before the actual release.

I'm going to do some digging with the engineering teams to ask about this further. I'm pretty sure the GPU thread improvements for WebGL were put into 86, but Canvas on GPU is not yet enabled i

[2021-02-24 13:32] chrisdavidmills commented on #2636
I've checked it out, and yes, it was enabled in release for Windows and macOS. the Linux rollout will be slightly later, AIUI.

I don't think I'm going to add this to MDN rel notes, at least not for now. We don't usually report on performance improvements for existing features, just new web platform features.

[2021-02-24 13:32] #2636 closed

[2021-02-24 13:52] martian1431 opened #2658 "Issue with "Document and website structure": (Typo)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Document_and_website_structure

#### What information was incorrect, unhelpful, or incomplete?
aformentioned

#### Specific section or headline?
HTML layout elements in more detail

#### What did you expect to see?
aforementioned

#### Did you test this? If so, how?
I googled the word but couldn't matching results

<

[2021-02-24 14:03] CreaTorAlexander commented on #2658
I can update this 👍

[2021-02-24 14:11] martian1431 commented on #2658
Okay cool.

[2021-02-24 14:26] damhonglinh opened #2660 "Issue with "Forbidden header name": `Referer` header (in the Forbidden list) is actually modifiable in Fetch API"
MDN URL: https://developer.mozilla.org/en-US/docs/Glossary/Forbidden_header_name

#### What information was incorrect, unhelpful, or incomplete?

`Referer` shouldn't in the list of forbidden headers in this document article.

If I understand correctly, this document article lists the forbidden headers that cannot be modified by normal JavaScript in browsers.

`Referer` is in the list of forbidden

[2021-02-24 14:31] alvinhui opened #2661 "Issue with "Page types""
MDN URL: https://developer.mozilla.org/en-US/docs/MDN/Structures/Page_types

**What information was incorrect, unhelpful, or incomplete?**

I think "**There are three broad categories of page types on MDN**" is incomplete.

**Specific section or headline?**

The summary paragraph.

**What did you expect to see?**

I think there should be another type, that is **Tutorial**. So how is it different f

[2021-02-24 15:02] #2658 closed

[2021-02-24 15:20] rachelandrew opened #2664 "CSS Houdini overview page"
The CSSRef macro on the @property page https://developer.mozilla.org/en-US/docs/Web/CSS/@property shows a flaw as it expects there to be a CSS Houdini page at /en-US/docs/Web/CSS/CSS_Houdini

We do have an overview page at: https://developer.mozilla.org/en-US/docs/Web/Houdini which lists the APIs.

Wondering how to deal with this as there is probably more crossover with CSS and APIs than is usual.

[2021-02-24 15:23] #2616 closed

[2021-02-24 15:32] stirwl opened #2665 "site report "Page not found" for zh-CN after click "next page", but "change language" can change to zh-CN in next page"
https://developer.mozilla.org/zh-CN/docs/Learn/CSS/Building_blocks/Backgrounds_and_borders
get this issue, when click "next page" in above page.

well, this probably because "next page" is using english url, while "change language" is using chinese url.
there probably be other pages which have this issue, you may kindly check it.

english url:
/zh-CN/docs/Learn/CSS/Building_blocks/Handling_differe

[2021-02-24 16:06] Rumyra commented on #2511
Ha - so... I have BCD all ready to go, however this is still behind the pref for me in both 87 & 88. Have I misunderstood and it's still behind a pref, it will just be released in 87?

[2021-02-24 16:41] ddbeck opened #2667 "Document PerformanceObserver.supportedEntryTypes"
## Summary

`PerformanceObserver.supportedEntryTypes` is undocumented. It'd solve a lot of compat-related problems if it were.

## Details

`PerformanceObserver.supportedEntryTypes` is undocumented, which makes it difficult to understand browser compatibility for various parts of the Performance Timeline API. The [`PerformanceObserver`](https://developer.mozilla.org/en-US/docs/Web/API/PerformanceO

[2021-02-24 18:13] chrisdavidmills opened #2669 "(Preparing to) move NSS docs off MDN"
We need to help the Mozilla NSS team move their documentation off MDN. To be clear, we are talking about everything underneath https://developer.mozilla.org/en-US/docs/Mozilla/Projects/NSS.

The goal is to get to the stage where all of the documentation under /NSS is available as static, standalone HTML files that are free from KumaScript macros, have links fixed up as much as is possible, and can

[2021-02-24 18:30] automatedbugreportingfacility opened #2670 "Issue with "Sharing objects with page scripts": syntax error in the example"
MDN URL: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Sharing_objects_with_page_scripts

#### What information was incorrect, unhelpful, or incomplete?

[code]

This code throws a syntax error. The call to `exportFunction` is missing the second argument and the closing bracket.

#### Specific section or headline?

`Constructors from the page context`

<details>
<summary>M

[2021-02-24 18:45] wbamberg commented on #2622
Thanks, that's a really interesting thread. But I don't think it's connected to this issue.

`{{SeeCompatTable}}` asks people to look at the compat for the item: although the link the macro adds is broken (because that page doesn't contain a table) [the compat for the API](https://developer.mozilla.org/en-US/docs/Web/API/Navigator/sendBeacon#browser_compatibility) looks pretty good.

https://githu

[2021-02-24 19:26] sideshowbarker commented on #2660
`Referer` is in the list of forbidden headers because the Fetch spec defines it as being a forbidden header — https://fetch.spec.whatwg.org/#forbidden-header-name

[2021-02-24 19:27] sideshowbarker commented on #2622
Yes please — that’d be great

[2021-02-24 19:48] polarathene commented on #2636
Oh.... so the improvement didn't make it to the linux release? That Linux Reviews link is reporting on improvements in WebGL performance from something different in FF86? Or was it in linux beta perhaps?

It seemed to be a notable improvement of 2x in their results which I'd think would be worth reporting in release notes if that were the case, I think that may have been covered in the past for ma

[2021-02-25 00:39] #1884 closed

[2021-02-25 02:01] ericwbailey commented on #2638
I tested [this pen](https://codepen.io/ericwbailey/pen/LYbejwK) with NVDA/Firefox. It was able to identify/read out the heading correctly, same `p` and other text elements. This is not a comprehensive test, but the Accessibility Inspector seems to be reporting it correctly.

The other issues I could see with this from an a11y perspective:

- The background image does not grant sufficient contrast

[2021-02-25 08:08] jricca opened #2682 "Sorry, the page /en-US/docs/Glossary/device_pixels could not be found."
Hey,

I was reading about [CSS pixel](https://developer.mozilla.org/en-US/docs/Glossary/CSS_pixel) and one of the hyperlinks didn't work. The one is named in the title: https://developer.mozilla.org/en-US/docs/Glossary/device_pixels

You guys are doing amazing work!

Wishing best,
Rando

[2021-02-25 08:20] CreaTorAlexander commented on #2682
@Ryuno-Ki shall we remove the link?

[2021-02-25 08:56] chrisdavidmills commented on #2682
The "device pixels" page hasn't been written yet (it should really be "device pixel" for consistency); the ideal fix here would be to add it into the glossary section. Would you be interrested in taking that work on, @CreaTorAlexander or @jricca ?

The "CSS Length Explained" link at the bottom of the CSS pixel page has good source material to learn from, when writing the page.

[2021-02-25 09:14] CreaTorAlexander commented on #2682
@chrisdavidmills does it mean to create a new directory device pixels and inside an empty index.html file inside the glossary directory?

[2021-02-25 09:24] chrisdavidmills commented on #2682
@CreaTorAlexander yes, you've basically got this right; there is further guidance at https://github.com/mdn/content#adding-a-new-document

The new page doesn't need to be really in-depth,a s this is just a glssary article, not a full tutorial. It should just aim to define the term, describe it a bit, and then give further links for more details. You could use https://developer.mozilla.org/en-US/do

[2021-02-25 09:30] chrisdavidmills commented on #2683
@flowl OK, reopened, and moved to the new content repo ;-)

Are you interested in submitting a pull request to fix this?

[2021-02-25 09:54] CreaTorAlexander commented on #2682
Okay perfect, I will work on this :+1:

[2021-02-25 09:59] Ryuno-Ki commented on #2682
Looking forward to it, @CreaTorAlexander

[2021-02-25 10:27] DirkRedeker opened #2684 "Issue with "Date.prototype.valueOf()": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/valueOf

#### What information was incorrect, unhelpful, or incomplete?
The code example is wrong

#### Specific section or headline?

Code snippet

#### What did you expect to see?

const date1 = new Date(Date.UTC(96, **_1, 2,_** 3, 4, 5));

console.log(date1.valueOf());
// expected output: 823230245000

[2021-02-25 10:30] jricca commented on #2682
@CreaTorAlexander, love the taking of initiative! You're definitely going to do a good job.

[2021-02-25 11:36] annevk opened #2685 "Firefox does not support Feature-Policy HTTP header"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1694922 for context. While we did implement this, we never shipped it. We plan on eventually shipping the `Permissions-Policy` HTTP header, which is the new name of this header (Feature Policy got renamed to Permissions Policy).

[2021-02-25 11:40] chrisdavidmills commented on #2685
Thanks @annevk .

@hamishwillee , can you investigate this one? I think for now it is probably a matter of fixing the BCD for `Feature-Policy`, as we wrongly say it was shipped in 74.

Then once `Permissions-Policy` is actually shipped, we can update the docs accordingly in a DDN cycle.

[2021-02-25 11:56] evilpie commented on #2685
I had also opened https://github.com/mdn/browser-compat-data/issues/9264

[2021-02-25 12:49] #848 closed

[2021-02-25 14:29] #2310 closed

[2021-02-25 14:34] #1070 closed

[2021-02-25 14:48] clhjoburg opened #2688 "Django virtual environment set up .zshrc not mentioned"
On the page: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/development_environment

The documentation only discusses bash files but on MacOS Catalina and later the .zshrc file needs to be used. Furthermore this file isn't present in the home directory by default and in my case needed to be created.

Othewise, thanks for the great documentation!

[2021-02-25 15:23] Andrew-Cottrell opened #2690 "Issue with "Headers()": the term "inherits" is misleading"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Headers/Headers

#### What information was incorrect, unhelpful, or incomplete?

The term *inherits* — in a JavaScript context — implies that a change to a parent _thing_ (e.g. a prototype object) affects a child _thing_.

The above sentence, in the MDN article, incorrectly implies a change to the existing Headers object affects the new Hea

[2021-02-25 15:59] CreaTorAlexander commented on #2690
I can update this 👍

[2021-02-25 16:10] Ryuno-Ki commented on #2690
Take it away, @CreaTorAlexander

[2021-02-25 17:13] #1521 closed

[2021-02-25 17:16] NegiAkash890 commented on #1441
Hi @chrisdavidmills , I think it  would be great  to include the negative index case for the slice array method so that one can get a clear understanding of  how it works different when we  pass a positive index or a range as argument to the method . Let me know If I can help here : ) .

[2021-02-25 17:42] automatedbugreportingfacility commented on #2670
@sideshowbarker: please re-open this issue -- the updated example still throws an error because the second argument (`targetScope`, according to https://developer.mozilla.org/en-US/docs/Mozilla/Tech/XPCOM/Language_Bindings/Components.utils.exportFunction) is required in the call to `exportFunction`:

`Error: Function requires at least 2 arguments`

[2021-02-25 18:16] CreaTorAlexander commented on #2589
@mofojed when will the INVALID_STATE_ERR be thrown? I found a disscusion on GitHub where they talked about this, is it thrown when it has no readyState?

[2021-02-25 18:16] chrisdavidmills commented on #1441
Sure thing @NegiAkash890 , we'd be glad of your help. I've assigned you. Thanks!

[2021-02-25 18:17] CreaTorAlexander commented on #2682
Thank's a lot @jricca :)

[2021-02-25 18:26] #2305 closed

[2021-02-25 18:56] kball opened #2696 "Migration guides for deprecated apis"
It came up in a JSParty conversation with @Elchi3 that MDN does not currently systematically include migration guides for deprecated APIs, and that this would be a great addition.

For example, as the Temporal proposal becomes widely supported, a migration guide for migrating from Date to Temporal

[2021-02-25 19:45] wbamberg commented on #1521
Close in favour of https://github.com/mdn/content/issues/2692.

[2021-02-25 21:32] hamishwillee commented on #2688
@clhjoburg Could you please create a PR to fix this? I have no mac to test any such change on.

[2021-02-25 22:22] #2690 closed

[2021-02-25 23:42] jpmedley commented on #2260
What browsers are all of you using? Older APIs can have implementation variations that aren't intended by the spec. This is why specs switched from descriptive paragraphs to algorithms a few years ago. This could indicate a problem with a single browser's implementation that needs to be referred to an appropriate spec committee.

[2021-02-26 01:42] hamishwillee commented on #2685
Yes.
- [ ] [BCD update](https://github.com/mdn/browser-compat-data/pull/9280)
- [ ] Release note removal from FF74 - done in #2702
  - I assume [Cross-Origin-Resource-Policy](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cross-Origin-Resource-Policy) enabled in that release was enabled.
- [ ] Experimental features addition - done in #2702 too

Note that the BCD is the main thing. It mi

[2021-02-26 04:54] sideshowbarker commented on #2670
#2678 added the closing bracket but not the missing second argument.

@NegiAkash890 was it your intention to only partially fix this, or did you somehow misread the issue description?

Regardless, do you plan to raise another PR to fix the problem with the missing second argument?

@automatedbugreportingfacility — Thanks for the heads-up on this, and sorry for having failed to catch this myself wh

[2021-02-26 05:38] hamishwillee commented on #2501
FYI, done, but I'm checking that I understand how this works in https://github.com/mdn/content/pull/2562#issuecomment-786420642

[2021-02-26 06:49] jculver050 commented on #2667
Close

[2021-02-26 06:50] jculver050 commented on #2667
!fix

[2021-02-26 06:51] jculver050 commented on #2667
!fix

[2021-02-26 07:47] CreaTorAlexander commented on #2635
Checked this page https://developer.mozilla.org/en-US/docs/Web/API/Document/querySelectorAll

But I can not found reversed examples.

[2021-02-26 07:50] CreaTorAlexander commented on #2665
@chrisdavidmills what would be the steps here to solve this issue? For me it looks like doing adjustments inside the _redirects.txt is this corrrect?

[2021-02-26 07:54] CreaTorAlexander commented on #2684
I can update this :+1:

[2021-02-26 08:27] chrisdavidmills commented on #2684
@CreaTorAlexander go for it! ;-)

[2021-02-26 08:30] chrisdavidmills commented on #2665
I'm not really what the problem is here, it seems to work OK to me...

[2021-02-26 08:31] chrisdavidmills commented on #2635
@CreaTorAlexander if you can't find the problem either, let's just close this. Thanks for checking it out.

[2021-02-26 08:31] #2635 closed

[2021-02-26 09:04] NegiAkash890 commented on #2670
@sideshowbarker  Sure , I will try my best to fix the issue .

[2021-02-26 09:21] stirwl commented on #2665
@CreaTorAlexander @chrisdavidmills
It works to me now, too.
The page is requesting english url when I click "next page" button now.

Maybe the url is also translated to chinese before?
The browser address show english url now, even I click the chinese url. So it works.
The browser address show chinese url(https://developer.mozilla.org/zh-CN/docs/Learn/CSS/Building_blocks/处理_不同_方向的_文本) when I got t

[2021-02-26 10:06] #2580 closed

[2021-02-26 10:12] alvinhui opened #2707 "Issue with "Guide to streaming audio and video""
MDN URL: https://developer.mozilla.org/en-US/docs/Web/Media/Streaming

#### What information was incorrect, unhelpful, or incomplete?

This page is not complete? If so, Please add **Draft** mode.

#### Specific section or headline?

none.

#### What did you expect to see?

Some content like https://developer.mozilla.org/en-US/docs/Web/Guide/Audio_and_video_delivery/Live_streaming_web_audio_and_vid

[2021-02-26 11:14] cpcallen opened #2708 "Issue with "RegExp": lastIndex is not a static property of RegExp"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp

#### What information was incorrect, unhelpful, or incomplete?

The Static Properties section suggests the existence of a property, `RegExp.lastIndex`, that does not exist.

#### Specific section or headline?

[Static Properties](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global

[2021-02-26 14:08] shaunbruno opened #2710 "Issue with "Global attributes": (`translate` experimental status)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes

#### What information was incorrect, unhelpful, or incomplete?
Term `translate` was marked as experimental (flask) on the index page, but clicking into the `translate` page makes no mention of it being an experimental attribute. Also, the topic page mentions production systems such as Google Translate currently use it -

[2021-02-26 15:50] ozanmuyes opened #2716 "Issue with "Object.is()": Wrong correlation between sections"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/is

#### What information was incorrect, unhelpful, or incomplete?
On the [Polyfill](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/is#polyfill) section mentioned steps doesn't correspond the "steps" on the previous ([`Using Object.is`](https://developer.mozilla

[2021-02-26 15:52] ozanmuyes commented on #2716
Also it's not clear to see which steps in question at a first glance, it would be good to have mentioned steps in the former section (i.e. what is `// Step 6.a: NaN == NaN`). Thanks in advance.

[2021-02-26 15:54] #362 closed

[2021-02-26 16:07] #278 closed

[2021-02-26 16:41] n0099 opened #2719 "Issue with "ScrollToOptions.behavior": Description of `auto` value is wrong, lacking historical `instant` value"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/ScrollToOptions/behavior

#### What information was incorrect, unhelpful, or incomplete?
The `behavior: 'auto'` will not always do an instant scroll that jumps to the element as described in the doc.

#### Specific section or headline?
https://developer.mozilla.org/en-US/docs/Web/API/ScrollToOptions/behavior#value

#### What did you expect

[2021-02-26 17:37] n0099 commented on #2719
I've [noticed](https://github.com/Norserium/react-indiana-drag-scroll/issues/53#issuecomment-786780193) there's also an undocumented `instant` value available in firefox and chrome ([demo](https://jsfiddle.net/fr7m40kw/)), it will always jumpy scroll to element no matter how the `scroll-behavior` style is set.

In [this email list](https://lists.w3.org/Archives/Public/www-style/2013Mar/0315.html),

[2021-02-26 18:07] CreaTorAlexander commented on #2684
@chrisdavidmills where can I find the interactive exmaples?

I tried to search with find in content for *pages/js/date-valueof.html"* as specified in the html document *<div>{{EmbedInteractiveExample("pages/js/date-valueof.html")}}</div>*

But I wasn't able to find it.

[2021-02-26 18:13] sideshowbarker commented on #2710
Thanks for catching this and reporting it — I’ve opened https://github.com/mdn/content/pull/2722 with a fix that drops the "experimental" flag from the index page.

[2021-02-26 18:20] #2710 closed

[2021-02-26 18:32] chrisdavidmills commented on #2684
Interactive examples are found in https://github.com/mdn/interactive-examples

[2021-02-26 18:43] CreaTorAlexander commented on #2684
@chrisdavidmills ah okay, ty 😄 ,  I have even contributed to interactive-examples last year :D

[2021-02-26 18:56] CreaTorAlexander commented on #2684
@chrisdavidmills now I have updated in the other repository the file *date-valueof.js*

But the changes are not made when I run it by yarn start.

Here I changed the second parameter to a *2*
![Bildschirmfoto 2021-02-26 um 19 54 28](https://user-images.githubusercontent.com/44900696/109342643-71718c00-786c-11eb-92ad-709491005bd4.png)

but runnning on localhost with yarn it will not be affected.

!

[2021-02-26 18:58] sideshowbarker commented on #2708
Thanks for catching this and reporting it — I’ve opened https://github.com/mdn/content/pull/2725 with a fix.

[2021-02-26 21:28] Ryuno-Ki opened #2729 "Reference to Mozilla SVG Project"
I figured to clean up the SVG section of MDN and ran into broken reference to „Mozilla SVG Project” on `/en-US/docs/Web/SVG`.

Since it's marked as archived on https://www-archive.mozilla.org/projects/svg/index.html I guess, it's purged from MDN Web Docs?
(I couldn't even find it on the production search as a result).

[2021-02-26 21:43] Ryuno-Ki opened #2730 "CSS @font-face/baseline semantics"
There's a reference from https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/alphabetic to `@font-face/baseline` which is currently broken.

I checked the `@font-face` page on the CSS section and could not find any reference to `baseline` there.
Since the context is

a simple removal is not an option either.
Where can I find the semantics defined nowadays?

[2021-02-26 22:14] felipecalvo opened #2732 "Issue with "float": Embedded result demo can't be opened in Firefox"
MDN URL: https://developer.mozilla.org/es/docs/Web/CSS/float

#### What information was incorrect, unhelpful, or incomplete?
![image](https://user-images.githubusercontent.com/11304439/109360864-ada1ee00-7866-11eb-959f-28aad184b627.png)

#### Specific section or headline?
Ejemplos / Resultado

#### What did you expect to see?
The demo.

#### Did you test this? If so, how?
Yes, just loading the pag

[2021-02-26 22:22] jchimene commented on #1673
I'll pick this up.
For context, see [this msg on MDN web docs](https://matrix.to/#/!cGYYDEJwjktUBMSTQT:mozilla.org/$nbCDNh0i9llo_6nwuFlT8v_Kj-ADJtQK6PFkttFWY64?via=mozilla.org&via=matrix.org&via=resisty.com)

[2021-02-26 22:29] sideshowbarker commented on #2707
Thanks for reporting this — I’ve opened https://github.com/mdn/content/pull/2733 with a change that adds a prominent *”Draft: This is not complete“* notice to the top of the article.

[2021-02-26 22:35] sideshowbarker commented on #2660
I’m gonna go ahead and close this as resolved by https://github.com/mdn/content/issues/2660#issuecomment-785317168 — but if you feel something more should still be done, please comment and we can considering re-opening it.

[2021-02-26 22:35] #2660 closed

[2021-02-26 22:37] Ryuno-Ki commented on #1673
Thank you, @jchimene

[2021-02-27 02:24] sideshowbarker commented on #80
@dontcallmedom Does this issue need to remain open? Are there further changes needed?

[2021-02-27 02:34] sideshowbarker commented on #149
Yes, it’s true that the rules in the HTML spec allow a table to have more than one `colgroup`.

* At https://html.spec.whatwg.org/multipage/#table-examples, see the “operating expenses table” example.

* Just after https://html.spec.whatwg.org/multipage/#the-table-element:dom-table-rows-11, see the “Sudoku puzzle” example.

Both of those examples have multiple `colgroup` elements.

[2021-02-27 02:34] #149 closed

[2021-02-27 02:35] sideshowbarker commented on #157
Closing for lack of response, and resolved by https://github.com/mdn/content/issues/157#issuecomment-740437041

[2021-02-27 02:35] #157 closed

[2021-02-27 02:50] sideshowbarker commented on #279
There are other instances of `<<<--- markers like this --->>>` in the source — but unlike the `<<<--- add content here --->>>` ones that were removed in #276 and #277, the remaining ones all look to me like informationally-signifigant TODOs that can’t just be removed; instead they’d need to be replaced with actual content:

[code]
So I’m going ahead and closing this.

[2021-02-27 02:50] #279 closed

[2021-02-27 02:52] sideshowbarker commented on #462
Taking this one off my plate. @leonard-9500, if you’re interested in submitting a pull request for this yourself, we’d welcome that.

[2021-02-27 02:53] sideshowbarker commented on #458
Closing as duplicate of #253

[2021-02-27 02:53] #458 closed

[2021-02-27 02:57] sideshowbarker commented on #779
Closing as duplicate of #635 (and now fixed, I believe)

[2021-02-27 02:57] #779 closed

[2021-02-27 02:58] sideshowbarker commented on #758
Resolved by #818

[2021-02-27 02:58] #758 closed

[2021-02-27 03:39] sideshowbarker commented on #1336
Closing for lack of response

[2021-02-27 03:39] #1336 closed

[2021-02-27 03:41] sideshowbarker commented on #870
Fixed by eb56bd9 / #1376

[2021-02-27 03:41] #870 closed

[2021-02-27 04:26] mfaridw opened #2736 "The Indonesian translated content does not match the original page"
![Screenshot at 2021-02-27 11-10-17](https://user-images.githubusercontent.com/20721671/109375082-8a218680-78ec-11eb-8e4d-b800380343fb.png)

[2021-02-27 04:35] sideshowbarker commented on #2541
(Re)closing this. (I can’t remember why I had reopened it…)

[2021-02-27 04:35] #2541 closed

[2021-02-27 05:29] kavi1990 opened #2738 "Issue with "CSP: block-all-mixed-content": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/block-all-mixed-content

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/http/headers/content-security-

[2021-02-27 05:53] greggman opened #2739 "Use async/await in examples as often as possible?"
MDN URL: to many to list

#### What information was incorrect, unhelpful, or incomplete?

I'm curious in general if there is a policy on async/await vs then/catch?

#### What did you expect to see?

I expect to see pretty much every MDN article the uses async features (fetch, service workers, etc...) to show mainly or even only async/await based code. For example I expect this

[code]

not this

[

[2021-02-27 06:26] sideshowbarker commented on #1319
jsfiddle or codepen?

Maybe this is already a known issue. I found some possibly-related Stack Overflow questions:

* https://stackoverflow.com/questions/51313873/svg-foreignobject-not-working-properly-on-safari
* https://stackoverflow.com/questions/38624603/svg-foreignobject-doesnt-display-in-safari
* https://stackoverflow.com/questions/8185845/svg-foreignobject-behaves-as-though-absolutely-posit

[2021-02-27 06:27] #2738 closed

[2021-02-27 07:29] CreaTorAlexander commented on #2736
As far as I know the mdn/content doesn't tackle translation issues at the moment @mfaridw

[2021-02-27 07:30] CreaTorAlexander commented on #2739
I agree to use async / await consistently.

[2021-02-27 08:33] richajak opened #2742 "Issue with "Installing LocalLibrary on PWS/Cloud Foundry": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/Installing_on_PWS_Cloud_Foundry

#### What information was incorrect, unhelpful, or incomplete?
The guideline is not relevant anymore as Pivotal (the company) has stopped its service as of Sep 17 2020

https://blog.run.pivotal.io/pivotal-web-services-end-of-availability-announcement-and-timeline/

#### Specific sect

[2021-02-27 08:34] richajak commented on #2742
also the link at https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs

Installing LocalLibrary on PWS/Cloud Foundry
This article provides a practical demonstration of how to install LocalLibrary on the Pivotal Web Services PaaS cloud — this is a full-featured, open source alternative to Heroku, the PaaS cloud service used in Part 7 of the tutorial, listed above. PWS/Cloud Foun

[2021-02-27 09:35] #2242 closed

[2021-02-27 09:52] sideshowbarker commented on #2742
Thanks for the heads-up — I’ve opened https://github.com/mdn/content/pull/2743 with a change which removes that article, as well as the links to it from other articles.

[2021-02-27 12:55] Felix-Puetz opened #2745 "german page "Logische Operatoren" has a broken iframe"
![image](https://user-images.githubusercontent.com/50131232/109387727-59991700-7903-11eb-9860-10ad6cc1ab58.png)

The embeded iframe calling the url `https://interactive-examples.mdn.mozilla.net/pages/js/expressions-logicaloperator.html` seems to be broken

Im was using the following browser:
Google Chrome - Version 88.0.4324.190 (Official Build) (64-Bit)

[2021-02-27 16:43] KisaragiEffective opened #2750 "Web/HTTP/Browser_detection_using_the_user_agent/ja: typo"
https://developer.mozilla.org/ja/docs/Web/HTTP/Browser_detection_using_the_user_agent
It is:

It should be:

[2021-02-27 19:05] chrisdavidmills commented on #2736
Apologies, but we are not currently making changes to translations. See https://hacks.mozilla.org/2020/12/an-update-on-mdn-web-docs-localization-strategy/ for an explanation.

[2021-02-27 19:05] #2736 closed

[2021-02-27 19:06] chrisdavidmills commented on #2745
Apologies, but we are not currently making changes to translations. See https://hacks.mozilla.org/2020/12/an-update-on-mdn-web-docs-localization-strategy/ for an explanation.

[2021-02-27 19:06] #2745 closed

[2021-02-27 19:21] #2707 closed

[2021-02-27 19:22] chrisdavidmills commented on #2732
Apologies, but we are not currently making changes to translations. See https://hacks.mozilla.org/2020/12/an-update-on-mdn-web-docs-localization-strategy/ for an explanation.

[2021-02-27 19:22] #2732 closed

[2021-02-27 20:14] shaunbruno opened #2751 "Issue with "data-*": ('semicolon' does not match presented unicode value)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/data-*

#### What information was incorrect, unhelpful, or incomplete?
"the name must not contain any semicolon (U+003A);"

'semicolon' does not match unicode value (it matches the 'colon' value)

#### Specific section or headline?
data-* top level content

#### What did you expect to see?
Either
"the name must not contai

[2021-02-27 20:22] CodeByLine opened #2752 "Issue with "Django Tutorial Part 7: Sessions framework": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Sessions

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/learn/server-side/django/sessions`
* MDN URL: https://developer.m

[2021-02-27 20:22] CodeByLine commented on #2752
The session count goes up by 2 each time.

[2021-02-27 20:24] shaunbruno opened #2753 "Issue with "Global attributes": “exportparts” needs to be properly documented"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes

#### What information was incorrect, unhelpful, or incomplete?
Global attribute `exportparts` has a link to url:
https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/exportparts

That links to a not found page (see attached screenshot)
![Screen Shot 2021-02-27 at 12 22 57 PM](https://user-images.githubuser

[2021-02-27 20:37] CreaTorAlexander commented on #2751
Can update this 👍

[2021-02-27 20:51] CreaTorAlexander commented on #2751
Thanks for reporting this.

I created PR https://github.com/mdn/content/pull/2754 to fix this

[2021-02-27 21:01] tshinnic opened #2755 "Issue with "Array": nav left sidebar bad link for 'Array' - /Global_Objects//Array ('//' !)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array

#### What information was incorrect, unhelpful, or incomplete?

In the left sidebar, under "**Related Topics**" - "Standard built-in objects", the next link "Array" says
    https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects//Array
but when clicked goes to
    https://deve

[2021-02-28 03:54] tshinnic commented on #2755
Situation also seen elsewhere, like
    https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map/has
has in the left sidebar, under "**Related Topics**" - "Standard built-in objects", the next link "Map" as
    https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects//Map
which again gives page not found

[2021-02-28 10:05] #2751 closed

[2021-02-28 12:40] RamiroPastor opened #2760 "Issue with "Basic Transformations": mathematical formula does not render correctly"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Basic_Transformations

#### What information was incorrect, unhelpful, or incomplete?
[code]

#### Specific section or headline?
https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Basic_Transformations#complex_transformations_with_matrix()

#### What did you expect to see?
The correct matrix product for a matrix transformati

[2021-02-28 13:03] RamiroPastor commented on #2760
Should i file this a bug in google chrome?

[2021-02-28 14:50] NegiAkash890 commented on #2753
![Screenshot from 2021-02-28 20-12-31](https://user-images.githubusercontent.com/55234838/109422450-8c293980-7a01-11eb-9b3b-9fe431ab0a65.png)

Hi , on hovering over the "exportparts" section it clearly starts that "This is an experimental that should not be used in the production code" implies that it's not written yet  . For confirmation  I also searched up for the file , but it wasn't there :) .

[2021-02-28 15:36] jchimene commented on #1673
onward thru the fog!

[2021-02-28 16:09] shaunbruno commented on #2753
I agree that messaging is useful. From my perspective (a user perspective), the issue is the dead link. It's OK if the page isn't written => just remove the link.

Or else I would expect the linked page to, at minimum, provide a skeleton page related to `exportparts`, confirming it's an experimental feature, and sharing what content is available.

[2021-02-28 16:59] NegiAkash890 commented on #2753
Thanks @shaunbruno . I absolutely agree with you . I believe that mdn will soon add the missing page and the issue will be fixed : )

[2021-02-28 17:50] myfonj commented on #2638
Good to have verified `color: transparent` does not affect screen readers.  I didn't expect there will be problem there -- it's just a colour anyway -- but nice to be sure nonetheless.

Anyway, I see I expressed my concerns really bad and mangled several loosely related aspects into single undecipherable report, sorry for that.  To untangle:

## First (main) concern: Graceful degradation for *non-

[2021-02-28 19:05] Ryuno-Ki commented on #1319
@sideshowbarker Created https://codepen.io/Ryuno-Ki/pen/ZEBxrmj?editors=1100

Interestingly, I cannot see the div on the right hand side either (the one without height / dimension attributes). That being said, if I add the height attribute (via Inspector) and remove it again (via the checkbox their) the div remains visible.

[2021-02-28 19:58] Ryuno-Ki commented on #2638
@myfonj Your English was not bad at all (but I'm not a native speaker as well).
In fact, I learned something new from it! :rocket:

[2021-02-28 22:08] hamishwillee commented on #2753
Actually all that "experimental" tells you is that the feature is either still in a draft spec, or has only been implemented in a very small number of browsers. Or to put it another way, we typically remove that tag when the feature is in 2 or more browsers and the spec if approved.

The fact that it is missing just means that no one has had time to do the work yet. We'd welcome a PR with the miss

[2021-02-28 22:20] hamishwillee commented on #2685
All the bits of this are done, so closing.

[2021-02-28 22:20] #2685 closed

[2021-03-01 02:32] hamishwillee commented on #2505
1. - [x] BCD is updated - NA
1. - [x] Interactive example and data repos are updated if appropriate - NA
1. - [x] Docs - NA no actual "specific" docs required
1. - [x] [Release note](https://github.com/mdn/content/pull/2763)

@chrisdavidmills  We don't document the inactive rules individually in the Page Inspector - we just say that if they are inactive they are greyed out maybe with a warning (wh

[2021-03-01 02:45] sideshowbarker commented on #1319
OK, thanks — what I get for that in Safari is this:

![image](https://user-images.githubusercontent.com/194984/109445682-7bb9a300-7a83-11eb-8b87-12d69d49dfb5.png)

…that is, nothing seems to be rendered at all

[2021-03-01 02:52] h1z1 opened #2764 "Issue with "Demos of open web technologies": (Old links)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/Demos_of_open_web_technologies

#### What information was incorrect, unhelpful, or incomplete?

Many of the links are either outdated, insecure (no SSL), or have SSL related errors (self-signed certs, etc).

Examples:

http://www.double.co.nz/video_test/video.svg

Redirects to blushcoder.co.nz

blushicoder.nz appears to have been reorganized as

[2021-03-01 02:52] hamishwillee commented on #2503
1. - [ ] BCD is updated
    - Need to add info about versions that this was added to safelisted.
1. - [ ] Interactive example and data repos are updated if appropriate - NA
1. - [ ] Release note
1.  Docs:
    - [ ]  [HTTP headers > Content-Length](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Length)
        - Need to add that it is safelisted to table up the top
    - [ ] [Glo

[2021-03-01 03:45] cgarrovillo opened #2765 "Issue with "Intl.NumberFormat() constructor": (narrowSymbol not supported on Safari)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat/NumberFormat

#### What information was incorrect, unhelpful, or incomplete?
The incompatibility table does not warn that narrowSymbol is not a valid option for Intl.NumberFormat

#### Specific section or headline?
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Obje

[2021-03-01 03:49] chengjieyun59 commented on #2755
I noticed the same thing today. This is seen in all Global_Objects, but I'm having a hard time pinpointing which file the issue lives in. I've searched for these in the cloned repo in VScode to no avail:
`Reference/Global_Objects/`
`Reference/Global_Objects_`
`Reference/Global_Objects//`
`Related Topics`
`Standard built-in objects`

We need to find the file that generates the left navigation sideb

[2021-03-01 04:15] sideshowbarker commented on #2765
Do you have a test case that demonstrates the problem?

`narrowSymbol` can’t be used directly as a key/parameter-name in the options object you give to the `Intl.NumberFormat()` constructor, right? Instead `narrowSymbol` is a possible value for the `currencyDisplay` option — like this:
[code]
The relevant Test262 test at https://test262.report/browse/intl402/NumberFormat/currencyDisplay-unit.js sh

[2021-03-01 04:18] chengjieyun59 commented on #2716
I can take this 👍 I'll submit a PR in a few days.

[2021-03-01 05:10] kaycebasques opened #2767 "Issue with "URL()": No mention of creating URLs from anchors?"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/URL/URL

#### What information was incorrect, unhelpful, or incomplete?

I just stumbled upon this. I'm not sure if I'm understanding this correctly. But it seems like you can create URL objects from anchor elements. This doesn't appear to be mentioned in the URL constructor reference.

#### Specific section or headline?

https://developer.

[2021-03-01 05:26] sideshowbarker commented on #2767
Thanks for raising.

The behavior described in the issue description is due to fact that anchor element objects have a special stringifier — such that if you pass them as an object to a method that expects a string, the value of the `href` attribute is used.

https://html.spec.whatwg.org/multipage/links.html#api-for-a-and-area-elements

I’ll raise a PR with an update to the https://developer.mozil

[2021-03-01 05:31] whizkydee commented on #2767
Yeah, I find that interesting. Contrary to most interfaces that extend `HTMLElement`, `HTMLAnchorElement#toString()` seems to return the `href` of the anchor element in question. Pretty neat.

[2021-03-01 05:45] sideshowbarker commented on #2767
OK, raised https://github.com/mdn/content/pull/2768 for this

[2021-03-01 05:53] NegiAkash890 commented on #2670
![Screenshot from 2021-03-01 11-03-08](https://user-images.githubusercontent.com/55234838/109456073-08f9f900-7a7e-11eb-9f79-fb01c9939a13.png)

Hi @sideshowbarker , I am on way to fix the  issue . So I started by creating objects objA and objB
and using console for the same . I noticed that the  result of the log is different in logger and as stated in the documentation .

### Output in testing con

[2021-03-01 06:01] NegiAkash890 commented on #1441
Hi @chrisdavidmills , I have added the required examples in the  **mdn /interactive-examples**  : )  .

[2021-03-01 06:04] sideshowbarker commented on #2670
No, I can’t, actually. I don’t have the bandwidth to assist on testing and investigation related to preparation of patches. But I can review any patch you do end up putting together.

[2021-03-01 06:07] hamishwillee commented on #2516
- [ ] BCD is updated
- [ ] Release note
- [ ] Dev-doc-complete
- [ ] Docs
  - [ ] [HTTP/Headers/Referer](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referer)
      - [ ] Needs a bit of a tidy. Doesn't really talk about the Referrer-Policy, and has text that talks about one aspect of that.
  - [ ] [Referer header: privacy and security concerns](https://developer.mozilla.org/en-US/docs

[2021-03-01 06:44] CreaTorAlexander commented on #2755
Do we have to update the link inside *_redirects.txt*?

[2021-03-01 06:48] CreaTorAlexander commented on #2752
Thanks for reporting this. I will take a look at it :+1:

[2021-03-01 06:52] CreaTorAlexander commented on #2750
@chrisdavidmills what is the way to fix a localisation issue?

[2021-03-01 07:03] CreaTorAlexander commented on #2688
I can update it with an alternative solution for users of zsh.

[2021-03-01 07:16] JoshuvaGeorge03 opened #2769 "Issue with "Array.prototype.sort()": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort#description

#### What information was incorrect, unhelpful, or incomplete?

The below statement is incorrect.

If compareFunction(a, b) returns less than 0, leave a and b unchanged.

#### Specific section or headline?
In the **description** section of the sort, you can find this.

#### What did yo

[2021-03-01 07:20] Ryuno-Ki commented on #2688
Thanks, @CreaTorAlexander

[2021-03-01 07:21] Ryuno-Ki commented on #2752
Looking forward to it, @CreaTorAlexander

[2021-03-01 07:22] CreaTorAlexander commented on #2769
But to sort a before b when a is before b means that it will leave it unchanged

[2021-03-01 07:23] Ryuno-Ki commented on #1441
@NegiAkash890 Did you mean to add a reference here?

[2021-03-01 07:28] Ryuno-Ki commented on #1319
That's less than I saw :-(
Most likely something wrong with the code …
I'll try to investigate.

[2021-03-01 07:49] NegiAkash890 commented on #1441
Should I edit the above comment and attach link to the PR in the repo  ( mdn/ interactive examples )?

[2021-03-01 08:16] hamishwillee commented on #2752
Please leave this one for me :-)

[2021-03-01 08:31] dontcallmedom commented on #80
I didn't get to marking the following pages:
* VRDisplayCapabilities → deprecated
* VRDisplayEvent → deprecated
* VRDisplay → deprecated
* VREyeParameters → deprecated
* VRFrameData → deprecated
* VRLayerInit → deprecated
* VRPose → deprecated
* VRStageParameters → deprecated
* WEBGL_compressed_texture_atc → obsolete
* XPathException → obsolete

so unless someone else did, that's what remains to b

[2021-03-01 08:40] JoshuvaGeorge03 commented on #2769
Thanks for the explanation.

Yes, I do understand your explanation.

But As a novice developer, when someone sees this explanation and Then can easily be get confused with the returning 0.

`
If compareFunction(a, b) returns less than 0, leave a and b unchanged.
If compareFunction(a, b) returns 0, leave a and b unchanged with respect to each other
`

Please correct me if I am wrong.

[2021-03-01 08:49] CreaTorAlexander commented on #2752
Sure, go for it @hamishwillee

[2021-03-01 09:09] chrisdavidmills commented on #2664
Yes, please do; this is a really good idea.

[2021-03-01 09:17] CreaTorAlexander commented on #2769
Yes I understand this point and I agree. On the other hand when we will update it there will probably be people getting confused why we don't just write that it will leave unchanged.

It is worth to discuss what the better choice here is.

[2021-03-01 09:23] rachelandrew commented on #2506
@chrisdavidmills not sure we need to do much more than the updates I made, this was already the behaviour in Chrome, I'm not sure anyone was using this behaviour so it probably doesn't warrant a BCD update. It's really a spec simplification.

[2021-03-01 09:35] chrisdavidmills commented on #2506
@rachelandrew it does seem very weird and unlikely that anyone would want to style `<link>` elements full stop. But you never know. Do you think it'd be good to add a simple note to the existing data points, just in case? Something like "From version 87 onwards, `:link` no longer matches `<link>` elements"?

[2021-03-01 09:37] chrisdavidmills commented on #1441
Yes, please do. And in the PR you should include a line "Fixes #1441"

[2021-03-01 09:39] chrisdavidmills commented on #2750
@CreaTorAlexander there should be soon, for tier 1 locales at least (which includes ja) — we are soon unfreezing them so that people can edit them again. But we have a Japanese community at the ready to fix such bugs.

[2021-03-01 09:50] chrisdavidmills commented on #2755
I think I know what's wrong here. The macro that generates this left hand sidebar is https://github.com/mdn/yari/blob/main/kumascript/macros/JSRef.ejs, and it should just be come kind of simple path building issue. I'll give it a go.

[2021-03-01 10:04] rachelandrew commented on #2506
@chrisdavidmills so :visited already has this as a separate line mentioning Chrome https://developer.mozilla.org/en-US/docs/Web/CSS/:visited

Do we want to unify them at this point? Either by adding the same line for the others mentioning Firefox as well, or making it a note on all?

[2021-03-01 10:17] chrisdavidmills commented on #2506
Hrm, it looks like that is kind of the "standard" or "expected" behavior, so I'd instead remove the Chrome note, and add notes just on Firefox for when that behavior is deviated from. It'd be a lot easier that way, IMO. Unless of course Safari, IE, etc. used to behave like that. Sounds like potentially a lot of work for something so minor, which I guess is why you were questioning it in the first

[2021-03-01 10:29] chrisdavidmills commented on #2716
@chengjieyun59 that's great, thank you for your offer of help! Don't hesitate to shout if you have any questions.

[2021-03-01 10:55] #2505 closed

[2021-03-01 10:55] rachelandrew commented on #2506
I think this was an interop thing where it had to be decided one way or another and actually put into the spec. Looks like Safari need to update too https://github.com/whatwg/html/pull/6269

[2021-03-01 10:59] chrisdavidmills commented on #2506
OK, cool. Let's go with my plan then, just adding notes for Fx/Safari? We shouldn't need to add notes for older stuff like IE...

[2021-03-01 11:29] rachelandrew commented on #2506
ok, I have had a go at that in https://github.com/mdn/browser-compat-data/pull/9305

[2021-03-01 12:10] tshinnic commented on #2755
You had mentioned JSRef. I looked and 4 days ago change https://github.com/mdn/yari/commit/80df68cc04ef3f1782dd46ca50bb55f7d2f066a4#diff-768ca40d7ee2c26f2e17fbfe07ee535a5b812b83f989fa9ba9b729492c7c4b7e
updated line 35 https://github.com/mdn/yari/blob/main/kumascript/macros/JSRef.ejs#L35

Looking at that makes me wonder if that didn't *add* an extra '/' at the end - compare number of slashes before

[2021-03-01 12:13] chrisdavidmills commented on #2755
Ah, good investigating! I wouldn't say suspicious, but it does like a bug was possibly introduced.

[2021-03-01 12:15] #2742 closed

[2021-03-01 12:17] #1283 closed

[2021-03-01 12:36] chrisdavidmills commented on #2684
@CreaTorAlexander The trouble here is that the `yari` and `content` repos are not connected to the `interactive-examples` repo in any way. If you've made a change to `interactive-examples` locally and/or remotely, it won't show up in your local Yari test server. It won't show up on MDN at all until it is merged, and then a build step is done to compile all the updated examples.

Fortunately, the `

[2021-03-01 14:57] golemarms opened #2776 "Issue with "<input type="text">": Misleading info on id attribute in HTML form"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/text

#### What information was incorrect, unhelpful, or incomplete?
HTML form example implies that that `id` attribute, rather than `name` attribute will be sent to the server as data key

#### Specific section or headline?
[Basic Example](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/text#basic_example)

[

[2021-03-01 15:08] chrisdavidmills commented on #2776
Yes, this is a typo and should be fixed. Thanks for reporting this @golemarms !

[2021-03-01 15:23] #2776 closed

[2021-03-01 15:54] ddbeck commented on #2667
From https://github.com/mdn/browser-compat-data/issues/9128#issuecomment-785949746, @jakub-g rightly noted:

[2021-03-01 17:05] NegiAkash890 commented on #1441
Done !

[2021-03-01 17:32] peterbe commented on #2755
Fixed by https://github.com/mdn/yari/pull/3077

[2021-03-01 17:32] #2755 closed

[2021-03-01 18:10] sideshowbarker commented on #80
OK, I’ve raised #2781, #2782, and #2783. Once those are merged, that should resolve this issue

[2021-03-01 18:41] avivmu commented on #2260
I'm using Chrome Version 88.0.4324.96 (Official Build) (64-bit).
When I start the page I see this error:

    at Example_2_Get_a_sample_cookie_named_test2:52

And `document.cookie` is

"lux_uid=161462363048649720; _ga=GA1.2.1034672815.1614623635; _gid=GA1.2.2027093868.1614623635; _gat=1"

Running the example throws:

    at alertCookieValue (Example_2_Get_a_sample_cookie_named_test2:55)
    at HTM

[2021-03-01 21:50] BjornMoren opened #2785 "Issue with "Response": Response.ok seems to be defined for Chrome and Firefox on Android"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Response

#### What information was incorrect, unhelpful, or incomplete?

The docs say Response.ok is not defined for Chrome and Firefox on Android. Some tests indicate otherwise. Please respond to this thread with the correct information so I know if I can use it in my code.

#### Specific section or headline?

#### What did you expect to

[2021-03-01 22:52] mehulkar opened #2787 "Show version of spec that introduces feature"
It would be nice for MDN not just to link to the spec for a JS feature, but to note which version of the spec it was approved in. The reason is that sometimes tools will say that they are compatible with a spec version, but I can't tell what features that includes.

Real world example:

SonarQube's JS plugin says it supports ES 2019: https://github.com/SonarSource/SonarJS/tree/6.5.0.13383#features

[2021-03-01 23:19] gadhdhds opened #2788 "Little correction for isolation"
https://developer.mozilla.org/en-US/docs/Web/CSS/isolation

Right after the Demo, it says: _This property is especially helpful when used in conjunction with mix-blend-mode._

I would add that it is often used in conjunction with [z-index](https://developer.mozilla.org/en-US/docs/Web/CSS/z-index) too, since it creates a new [stacking context](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Po

[2021-03-01 23:57] davidelrizzo opened #2789 "Issue with "border-color": (horizontal and vertical syntax wrong way around)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/border-color

#### What information was incorrect, unhelpful, or incomplete?
/* horizontal | vertical */
border-color: red #f015ca;

/* top | vertical | bottom */
border-color: red rgb(240,30,50,.7) green;

Here "horizontal" would need to equate to "top & bottom" to match browser behaviour which is the opposite of what horizontal means. And

[2021-03-02 00:38] hamishwillee commented on #2503
Reopening, as still discussing [BCD](https://github.com/mdn/browser-compat-data/issues/9300).

While above is only open item, I will also address this note based on what happens with BCD: https://github.com/mdn/content/pull/2766#discussion_r584448526

[2021-03-02 00:39] vitaly-zdanevich opened #2791 "Issue with "Inheritance in JavaScript": outdated statemend that classess are not yet supported widely"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/Inheritance

#### What information was incorrect, unhelpful, or incomplete?
`You might also be interested in checking out some of the new ECMAScript features that allow us to do inheritance more cleanly in JavaScript (see Classes). We didn't cover those here, as they are not yet supported very widely across browsers.` - loo

[2021-03-02 01:35] bboyle opened #2794 "Issue with "FileSystemHandle": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/FileSystemHandle

#### What information was incorrect, unhelpful, or incomplete?

I'm confused about `FileSystemFileHandle` vs `FileSystemFileEntry` on this page.

#### Specific section or headline?

- top introduction
- Interfaces based on FileSystemHandle

#### What did you expect to see?

The API for `FileSystemHandle`, `FileSystemFileHa

[2021-03-02 01:35] sideshowbarker commented on #2788
Fixed by https://github.com/mdn/content/commit/d55d6fc72a5b1ca3447cb71716ae6f94d7f023d1

[2021-03-02 01:35] #2788 closed

[2021-03-02 01:38] chengjieyun59 commented on #2716
@ozanmuyes Submitted a fix #2793. Let me know if you have any questions, or would like me to clarify any concepts further.

[2021-03-02 01:58] sideshowbarker commented on #2791
Thanks for raising this — agreed, and opened https://github.com/mdn/content/pull/2795 with a change that drops that whole paragraph.

[2021-03-02 02:06] sideshowbarker commented on #2789
Thanks for raising this — agreed, and made it so in https://github.com/mdn/content/pull/2796

[2021-03-02 02:54] thanatos opened #2797 "Related pages links on WebAssembly pages are broken"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/WebAssembly/Instance/Instance

#### What information was incorrect, unhelpful, or incomplete?

On the sidebar, there is a section, "Related pages". All of the links under this section are broken.

![image](https://user-images.githubusercontent.com/90853/109589580-89e5de80-7ad8-11eb-9a70-8c4c2ab6e426.png)

I'v

[2021-03-02 03:01] sideshowbarker commented on #2797
I can’t reproduce this. For me, clicking on any of those links navigates me to what I’d expect; for example, https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/WebAssembly/Module

What do you get navigated to instead?

[2021-03-02 03:52] CodeByLine commented on #2752
Not sure what to make of it, but the issue got resolved after restarting the computer. My apologies if this was on my end.

[2021-03-02 04:18] NegiAkash890 commented on #2797
Hi , @sideshowbarker ,  I tested  all the above links by clicking and they all are leading to "Page Not Found" page .

[2021-03-02 04:23] sideshowbarker commented on #2797
Hi @NegiAkash890 — that’s really odd, because I don’t get a 404 for any of them

Maybe @mdn/core-yari-content may know what might be going on here

[2021-03-02 04:26] NegiAkash890 commented on #1442
I can update the description for Array.some()  . Please assign me the above task .

[2021-03-02 04:57] #2789 closed

[2021-03-02 05:22] #2716 closed

[2021-03-02 06:41] hamishwillee commented on #2752
I think it probably was. I tested and reviewed the code and it looks fine. Not a problem though - had this been an error we needed to know. Thanks :-)

[2021-03-02 06:41] #2752 closed

[2021-03-02 06:47] CreaTorAlexander commented on #2797
I tested it in Chrome *Version 87.0.4280.141 (Offizieller Build) (64-Bit)* and it works fine.

[2021-03-02 07:38] chrisdavidmills commented on #2797
I've tested all the links in Firefox, Chrome, and Safari, and they work fine for me. This is a really strange one.

[2021-03-02 07:41] avivmu commented on #2260
Feel free to close

On Tue, Mar 2, 2021, 00:44 Joe Medley <notifications@github.com> wrote:

[2021-03-02 07:49] #2260 closed

[2021-03-02 07:51] chrisdavidmills commented on #1442
Assigned; thanks @NegiAkash890 !

[2021-03-02 07:52] #2791 closed

[2021-03-02 08:38] Ryuno-Ki commented on #2797
@thanatos Can you share the link you end up on when clicking WebAssembly.Instance?
(Also, does a private window / Incognito mode reproduces this behaviour for you?)

Works for me on Firefox for Linux.

[2021-03-02 09:32] #2500 closed

[2021-03-02 11:46] Rumyra commented on #80
All last 3 PRs merged, so closing 👍

[2021-03-02 11:46] #80 closed

[2021-03-02 12:34] DerekNonGeneric opened #2803 "[JavaScript] Document “AsyncGenerator” & “AsyncGeneratorFunction”"
# 📒 JavaScript Reference Docs Problem

## Location

_Section of the site where the content exists_

Affected URL(s):

- [RED] https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference#control_abstraction
- [RED] https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects#control_abstraction_objects
- [404] https://developer.mozilla.org/en-US/docs/Web/JavaScript/Referen

[2021-03-02 13:49] foooomio opened #2804 "Date.prototype.getUTCDate() incorrect (l10n-ja)"
https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Date/getUTCDate

The content of `Date.prototype.getUTCDate()` is entirely `Date.prototype.getUTCDay()`.

[2021-03-02 14:50] #1442 closed

[2021-03-02 15:43] ezice opened #2809 "Broken Link"
On page https://developer.mozilla.org/en-US/docs/Mozilla/Thunderbird/Thunderbird_extensions

The link underlying " build a Thunderbird extension." is broken.

[2021-03-02 15:52] ezice commented on #2809
Sorry, I didn't see that this page is no longer maintained.

[2021-03-02 15:52] #2809 closed

[2021-03-02 17:38] chrisdavidmills opened #2810 "Update Addons/WebExtensions docs section on MDN"
We are currently in the middle of trying to move non-web platform docs off MDN, and this issue serves as a record of what is needed for webextensions. We have the add-ons landing page — https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons — but since Firefox (and other browsers) moved to WebExtensions APIs for building add-ons, the only real active part of this section (i.e not archived) is ht

[2021-03-02 17:53] jamster10 opened #2811 "Issue with "Report": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Report

#### What information was incorrect, unhelpful, or incomplete?
Bad URL: By sending requests to the endpoints defined via the Report-To HTTP header.
Report-To is not a header but a directive for CSP. The link should be:
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/report-to

#### Specific section

[2021-03-02 18:09] #2811 closed

[2021-03-02 19:35] itskitto opened #2812 "Issue with "Perceived performance": Wording in paragraph is difficult to understand"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Performance/Perceived_performance

#### What information was incorrect, unhelpful, or incomplete?
Reading through this article, there was a particular sentence that was a bit harder to comprehend. Not something I could easily PR to suggest changes.

#### Specific section or headline?
The last paragraph of the "Perceived performance" subsectio

[2021-03-02 20:18] cgarrovillo commented on #2765
I can drum up something end of day today. Not sure why test262 is reporting it that way.

[2021-03-02 20:31] Ryuno-Ki commented on #2765
Preliminary assigned this issue to you, then, @cgarrovillo

[2021-03-02 20:33] Ryuno-Ki commented on #2811
@jamster10 Mind sharing what made you close this issue?

[2021-03-02 20:34] jchimene commented on #1584
I'd like to propose adding a sentence that contains something like
"**Each of these methods uses the `{{APIRef(Microtask_guide)}}`**" in #instance_method section.

[2021-03-02 20:36] Ryuno-Ki commented on #1584
@jchimene Take it away!

[2021-03-02 21:12] jamster10 commented on #2811
I came across this document,

 https://www.w3.org/TR/reporting/#examples

Which implied that this was a way to set things up, with Report-To being
used as a header. So while the link is dead, and does need to link
somewhere, I wasn't sure if it was to link to the CSP directive page like I
suggested, or I misunderstood the initial writers intent, and it should
link to a page for the actual Report-T

[2021-03-02 22:37] nodenineinc opened #2816 "Issue with "Python binding for NSS": (maintainer & bug repo invalid)"
MDN URL: https://developer.mozilla.org/en-US/docs/Mozilla/Projects/NSS/Python_binding_for_NSS

#### What information was incorrect, unhelpful, or incomplete?
Hello.  I recently filed a bug for this package via the listed bugzilla link and was informed by the new package maintainer that the bug repo is incorrect as well as the contact info you still have listed for this project.  Apparently the pri