[2022-07-13 06:59] teoli2003 commented on #18103
We fixed one of these `for...in` followed by `hasOwnProperties` yesterday (with a `for...of`). There were others, but they needed the index, so we kept the `for...in`, although we likely could do a larger rewrite to get rid of it too.

[2022-07-13 11:03] sideshowbarker commented on #1802
That sounds great to me

100% agreed

[2022-07-13 11:14] sideshowbarker commented on #18277
The scope if this issue tracker is limited to changes needed to existing MDN articles.

The question in the issue description here doesn’t fall within that scope. That question seems better suited for asking at a site such as Stack Overflow.

Given that, I’m going ahead and closing this.

[2022-07-13 11:14] #18277 closed

[2022-07-13 11:17] sideshowbarker commented on #18293
I guess this should be added as a note in the BCD data for this feature — so I’m going ahead and transferring it to the BCD tracker.

[2022-07-13 11:40] #15999 closed

[2022-07-13 11:47] VAggrippino opened #18310 "Vue tutorial: Incorrect instructions for generating a unique component ID"
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Vue_first_component

### What specific section or headline is this issue about?

Giving Todos a unique id

### What information was incorrect, unhelpful, or incomplete?

The recommended method of generating unique IDs for components doesn't work.

It doesn't give the HTML elements `id` p

[2022-07-13 13:47] adriancuadrado opened #18317 "Some keywords don't have enough contrast in some interactive examples"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/CSS/calc

### What specific section or headline is this issue about?

https://developer.mozilla.org/en-US/docs/Web/CSS/calc#try_it

### What information was incorrect, unhelpful, or incomplete?

In dark mode it's hard to see the `calc` and `var` keywords.

![image](https://user-images.githubusercontent.com/29214635/178748982-6792c2d5-8ce0-4

[2022-07-13 15:51] 93401 opened #18322 "MapQuest "finished" example does not seem to work"
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Client-side_web_APIs/Third_party_APIs

### What specific section or headline is this issue about?

MapQuest "finished" example does not seem to work

### What information was incorrect, unhelpful, or incomplete?

The map tiles do not load when visiting

(https://mdn.github.io/learning-area/javascript/apis/third-party-apis/mapqu

[2022-07-13 16:09] szalonna opened #18323 "Missing info of copying sessionStorage on creating new context"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/Window/sessionStorage

### What specific section or headline is this issue about?

_No response_

### What information was incorrect, unhelpful, or incomplete?

In the [HTML Living standard - webstorage under sessionStorage getter](https://html.spec.whatwg.org/multipage/webstorage.html#the-sessionstorage-attribute) there is a note menti

[2022-07-13 19:29] MrBrain295 commented on #18285
I will work on this.

[2022-07-13 20:17] esdnm opened #18329 "Add Notes for combining <sup> and <a> for reference"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/sup

### What specific section or headline is this issue about?

Notes

### What information was incorrect, unhelpful, or incomplete?

Add a Notes section that provides guideline on using `<sup>` and `<a>` for pointing to a reference. A general question comes up about which one should warp which one.

Like for `<code>` there is

[2022-07-14 00:41] #18285 closed, assigned to nobody

[2022-07-14 01:01] sideshowbarker commented on #18322
Thanks for raising this.

The cause is, that https://www.mapquestapi.com/logger/v1/transaction endpoint requires and API key but in our example code at https://github.com/mdn/learning-area/blob/main/javascript/apis/third-party-apis/mapquest/finished/script.js#L1, we’re just doing `L.mapquest.key = 'YOUR-API-KEY-HERE'` — that is, not passing it a real API key.

Given that there’s no way to make it

[2022-07-14 03:33] theres-waldo opened #18342 "Document the ability to preventDefault() a pinch-zoom gesture on a touchpad"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/Element/wheel_event

### What specific section or headline is this issue about?

_No response_

### What information was incorrect, unhelpful, or incomplete?

Firefox and Chrome (and maybe other browsers) allow websites to opt out of the browser's default handling of a touchpad pinch gesture (which is to zoom the page, either in a reflo

[2022-07-14 04:32] kamote-man opened #18344 "The youtube Api example in Third-party APIs article is not working"
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Client-side_web_APIs/Third_party_APIs

### What specific section or headline is this issue about?

YouTube example

### What information was incorrect, unhelpful, or incomplete?

The searched items are not showing after the submit button has clicked.

### What did you expect to see?

To see the Items i input into the searchbar

[2022-07-14 06:37] sideshowbarker commented on #13126
As far as I can tell, this is completed. But if I’ve missed anything, please let me know

[2022-07-14 06:37] #13126 closed

[2022-07-14 06:44] erosman opened #18348 "Content suggestion: Mark MV2/MV3 API with an icon"
It would be useful to have an icon or a marker on top of the page for the APIs that are only available in MV3 (and also MV2 only).

A small visual indicator would make it easier to differentiate, without having to scroll down and read the [Browser compatibility](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/scripting#browser_compatibility).

[tabs.executeScript()](http

[2022-07-14 06:45] #13286 closed

[2022-07-14 06:50] sideshowbarker commented on #13020
@Josh-Cena Given the discussion here, it’s not clear to me whether there are any changes needed to resolve this. So I’ve gone ahead and unassigned myself from it.

If in fact nothing further is needed here, please feel free to close it. Or otherwise, I guess minimally we should probably update the issue title to more precisely state what change might be needed.

[2022-07-14 06:50] Josh-Cena commented on #13020
I think the resolution is to change "class" to "type"? I don't have objection to making that change.

[2022-07-14 06:57] sideshowbarker commented on #13020
OK, thanks — opened #18349 with that change

[2022-07-14 06:58] #13020 closed

[2022-07-14 07:10] SeyedAmirHs00 opened #18350 "Problem in running JavaScript in code editor in “Test your skills: HTML5 controls”"
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/Forms/Test_your_skills:_HTML5_controls

### What specific section or headline is this issue about?

_No response_

### What information was incorrect, unhelpful, or incomplete?

In Test 2 I wrote a code that works in my compute very well but in the Test area the output didn't change when I change range input.

[code]
[code]

### What did

[2022-07-14 07:12] sideshowbarker commented on #13341
I’ve opened #18351 with a change that add specification citations to the https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types article to make it crystal clear that `text/javascript` is the correct MIME type.

[2022-07-14 07:17] #13341 closed

[2022-07-14 07:40] Josh-Cena commented on #18350
The problem statement said:

Changing `id="invite-outout"` to `class="invite-output"` will fix it.

[2022-07-14 07:41] #18350 closed

[2022-07-14 08:05] #14987 closed

[2022-07-14 08:17] Josh-Cena commented on #4724
This is not a bug with the content itself, but the fact that the Firefox console doesn't allow variable redeclarations across REPL inputs, which IMO is hugely inconvenient. However we can't reiterate on basic grammar everywhere so we have to trust that you have a right testing environment. Since it's been open for more than a year and people seem to find it hard to approach and fix, I'm going to c

[2022-07-14 08:17] #4724 closed

[2022-07-14 08:31] teoli2003 commented on #4724
Note that it may be interesting to report this as a problem in the Firefox dev tools.

[2022-07-14 09:45] teoli2003 opened #18354 "onXYZ hard to search after event refactoring"
Extracted of #18363

"Also want to mention that, with the recent GlobalEventHandlers demixing effort, the onxxx handlers are becoming increasingly hard to search. I literally searched for onclick and the only thing that came up was SVG onclick attribute which is not useful—even misleading—to users. I don't even know what to link to in these pages."

cc/ @queengooborg @elchi3 (something to look at

[2022-07-14 10:06] #18275 closed

[2022-07-14 12:35] #8414 closed

[2022-07-14 12:53] queengooborg commented on #18354
@Josh-Cena This actually seems to be an issue beyond the removal of GEH, as we're combining event and event handler pages in general, but I can see how GEH's removal worsens the situation.

I wonder if we can somehow tweak the search so that any searches for `onXXX` will also include results for `XXX event`?

[2022-07-14 13:06] jcubic opened #18359 "The speechSynthesis example doesn't work in Chrome"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/SpeechSynthesisUtterance

### What specific section or headline is this issue about?

Code snippet

### What information was incorrect, unhelpful, or incomplete?

See those SO questions and solutions:

* [Getting the list of voices in speechSynthesis (Web Speech API)](https://stackoverflow.com/q/21513706/387194)
* [speechSynthesis.getVo

[2022-07-14 13:55] teoli2003 commented on #18359
Thanks! Wanna try to make a PR?

[2022-07-14 14:23] jcubic commented on #18359
Sure, when I started writing this I was not sure what was the right fix. But it seems that the same code is in the example linked on the page.

[2022-07-14 14:39] David263 commented on #18237
I have achieved success in displaying a video stream to the user, including handling range requests. Wow. Some interesting complications are involved. I could write a description of what is needed, or provide my code, but I don't think I can write an MDN page using correct formatting. Either someone could work with me on this task, or I'll just abandon it. The thing is, that properly documenting h

[2022-07-14 17:33] #14626 closed

[2022-07-14 18:56] Stokestack opened #18366 "Broken link in WebMIDI doc"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/Web_MIDI_API#browser_compatibility

### What specific section or headline is this issue about?

Browser compatibility

### What information was incorrect, unhelpful, or incomplete?

There's a "supporting browsers" link in this article that goes nowhere.

### What did you expect to see?

A list of supporting browsers.

### Do you have an

[2022-07-14 19:54] 93401 commented on #18322
How long does it take for this to be reflected on the live MDN site?

As of 7/14/22 at ~12:50pm PDT, the problem still exists.

The label of the bad hyperlink is "Simple Mapquest API example" .

FYI.

[2022-07-14 19:56] teoli2003 commented on #18322
The production Web site is usually built once a day; read this [section](https://mdn-contributor-docs.mozilla.org/legacy/deployment-timeline/) for more information.

[2022-07-14 20:14] teoli2003 commented on #18366
Thanks, good catch!

I opened a PR to get this fixed. When it is merged, this issue will be automatically closed.

[2022-07-15 00:37] sideshowbarker commented on #18322
ah, the change I made only removed the the _“also <ins>see it running live here</ins>”_ link further down. We’ll need to open a follow-up PR to un-link the _“Let's look at a <ins>Simple Mapquest API example</ins>”_ link in the intro section.

[2022-07-15 01:06] hamishwillee commented on #18237
@David263 Could this go in a guide topic? Then the formatting is is then not so important as telling a good story, and you could instead link to/from the references.

@teoli2003 I know little about this topic, is it something you could comment on?

[2022-07-15 01:11] David263 commented on #18237
Good. Please give me a link to the tutorial for creating a Guide Topic, and I'll do it.

[2022-07-15 02:12] hamishwillee commented on #6117
I could create a community discussion if you like? But you're doing such a fine job on the modernization thread I figure you might want to?

[2022-07-15 04:12] hamishwillee commented on #18208
Status:

- [ ] BCD - https://github.com/mdn/browser-compat-data/pull/17008
- [ ] Docs
- [ ] Release notes
- [ ] dev-docs-complete

[2022-07-15 04:42] #13318 closed

[2022-07-15 06:53] VAggrippino commented on #18310
While some parts of this report may still be relevant, the majority of it is not. I was putting my component data inside of the props and that's what was causing the error referenced.

[2022-07-15 06:53] #18310 closed

[2022-07-15 10:27] #18188 closed

[2022-07-15 13:27] schalkneethling opened #18390 "[chore][experiment] experiment to set up a deploy of a specific branch on demand"
As we work on the contribution docs we would like to have the ability to deploy a specific branch on demand. It seems like we can reuse parts of the PR review companion to do this. This is merely an experiment :) If successful we can determine whether it is worth keeping, improving, and documenting,

[2022-07-15 14:21] AlokMishra051298 opened #18395 "Intl.NumberFormat formatting same currency in different way"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat/NumberFormat

### What specific section or headline is this issue about?

_No response_

### What information was incorrect, unhelpful, or incomplete?

It is not about content issue is with format api. I'm not sure where to raise it.

### What did you expect to see?

Currency format shou

[2022-07-15 14:42] #1449 closed

[2022-07-15 14:54] Josh-Cena commented on #18395
In general, you should not care about what the _actual_ formatted text is—only its semantics is guaranteed.

Please give your `locales` and `options`. It's not what I got:

[code]

[2022-07-15 15:05] AlokMishra051298 commented on #18395
Try for 'es-MX' locale and MXN currency

[2022-07-15 15:08] Josh-Cena commented on #18395
<img width="918" alt="image" src="https://user-images.githubusercontent.com/55398995/179251709-8521a550-fcb0-4945-b425-1a61621cea68.png">

[2022-07-15 16:12] Josh-Cena commented on #18395
Ah, I misread `es-MX` as `en-MX`. However, the fact that `es` and `en` format it differently means it's a locale-specific thing. It means in Spanish the unit is canonically put at the end if it has a quantity like `k` or `M`. Unless you have proof otherwise it's not convincing that it's a bug.

[2022-07-15 16:12] #18395 closed

[2022-07-16 03:44] #18366 closed

[2022-07-16 03:52] #18359 closed

[2022-07-16 05:54] #18322 closed

[2022-07-16 07:33] franckbleyer1 opened #18410 "I'm creating a test with `const` `Widget` list."
I'm creating a test with `const` `Widget` list.
[code]
But test fails. I found out that items are non `const`! Their `hashCode`s are different as if they are `(new)`. Why?

[![enter image description here][1]][1]

[![enter image description here][2]][2]

  [1]: https://i.stack.imgur.com/L0sRi.png
  [2]: https://i.stack.imgur.com/y8sPV.png

### Reproducing
[code]

__Originally posted by @ChaserVasy

[2022-07-16 07:34] franckbleyer1 opened #18411 "I'm creating a test with `const` `Widget` list."
I'm creating a test with `const` `Widget` list.
[code]
But test fails. I found out that items are non `const`! Their `hashCode`s are different as if they are `(new)`. Why?

[![enter image description here][1]][1]

[![enter image description here][2]][2]

  [1]: https://i.stack.imgur.com/L0sRi.png
  [2]: https://i.stack.imgur.com/y8sPV.png

### Reproducing
[code]

__Originally posted by @ChaserVasy

[2022-07-16 07:34] #18411 closed

[2022-07-16 08:59] #18410 closed

[2022-07-16 09:09] awxiaoxian2020 opened #18412 "The CI failed when I fetch this repo"
`PR review companion workflow run failed for main branch`

The stack trace:
[code]

[2022-07-16 11:24] tari-w opened #18414 "Probably a wrong Statement that confused me."
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Understanding_client-side_tools/Package_management

### What specific section or headline is this issue about?

Using the package ecosystem

### What information was incorrect, unhelpful, or incomplete?

Third paragraph after heading "Using the package ecosystem" goes like this:

Im quite new to the topic, but as far as

[2022-07-16 11:42] Josh-Cena commented on #18414
Indeed, it became outdated as a consequence of https://github.com/mdn/content/pull/14673. PRs welcome to remove that paragraph.

[2022-07-16 11:44] tari-w opened #18417 "incomplete command"
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Understanding_client-side_tools/Package_management

### What specific section or headline is this issue about?

Building our code for production

### What information was incorrect, unhelpful, or incomplete?

### What did you expect to see?

npx parcel build index.html

### Do you have any supporting links, references, o

[2022-07-16 11:49] #18417 closed

[2022-07-16 11:49] Josh-Cena commented on #18417
There's already a note:

The tutorial kind of assumes you have a global installation of the parcel CLI, which is a fair assumption (you'll sooner or later find it very convenient). I'm okay to remove that assumption and use `npx parcel` everywhere. Better still, is to add a `"build": "parcel"` to your package.json's `scripts` and invoke it with `npm run build`. (This is recommended because it buil

[2022-07-16 11:52] tari-w commented on #18417
@Josh-Cena My mistake I accidentally skipped a few lines in the tutorial. Don't know how that happened.

[2022-07-16 12:02] #17827 closed

[2022-07-16 12:28] tari-w opened #18418 "Function not up to date?"
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Understanding_client-side_tools/Package_management

### What specific section or headline is this issue about?

Having fun with Parcel

### What information was incorrect, unhelpful, or incomplete?

First of all  I am new to this kind of world, so most likely it's my mistake, anyway:

I followed the tutorial along and go

[2022-07-16 12:49] cagatay-y opened #18419 "Testing on different browsers suggestion can lead to testing with the same engine"
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/Installing_basic_software

### What specific section or headline is this issue about?

Installing modern web browsers

### What information was incorrect, unhelpful, or incomplete?

The guide suggests "install[ing] at least two of these browsers and have them ready for testing." I assume it is to check for com

[2022-07-16 13:12] Josh-Cena commented on #18418
What does "work" refer to when you say "this only worked"? You are converting it to a `Date` first, at which step it's a pure JS API.

[2022-07-16 13:46] tari-w commented on #18418
While using `const date = '1996-09-13 10:00:00';` server returns an empty html file. To be more precise, the browser shows a blank page. As soon as I'm changing the value of the const data to `'1996-09-13'` the browser shows "26 years ago". (Something like that, I don't have it in front of me now.) By that I conclude, that the function can't make sense of the value '1996-09-13 10:00:00'.

[2022-07-16 13:53] Josh-Cena commented on #18418
I cannot reproduce that on my end. Here's my package.json:

[code]

Everything's working as described with the `index.html` and `index.js` provided.

[2022-07-16 14:17] ericmutta commented on #17827
Thanks @joel-hamilton for the fix and @sideshowbarker for merging it 👍

[2022-07-16 14:20] rosahbruno commented on #17327
@sideshowbarker @Andrew-Cottrell @Worldwidebrine
I created a pull request to address the issue discussed above, let me know if there are any issues or anything else that may be helpful to add

[2022-07-16 14:30] wgrlogin opened #18421 "Replace recommendation for VSCode with recommendation for VSCodium in the beginners section"
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/Installing_basic_software

### What specific section or headline is this issue about?

Installing a text editor

### What information was incorrect, unhelpful, or incomplete?

"We recommend starting with [**Visual Studio Code]**(https://code.visualstudio.com/), which is a free editor, that offers live previews

[2022-07-16 14:53] #1459 closed

[2022-07-16 14:53] #2248 closed

[2022-07-16 14:53] #2803 closed

[2022-07-16 15:16] #17327 closed

[2022-07-16 20:08] #18291 closed

[2022-07-17 01:54] arnuphong opened #18431 "Content suggestion: <TITLE OF SUGGESTION>"
## What is the new suggestion?

## Why is it important or useful?

## Other supporting information

[2022-07-17 02:10] #18431 closed

[2022-07-17 03:43] awxiaoxian2020 commented on #18421
I don't think it's like an ad for Microsoft product. Because it's open source and used by many people. Our Internet is built by everyone and we should respect who contribute for these.
Sure, we can add other editors. It's a good idea.

[2022-07-17 04:28] awxiaoxian2020 commented on #18414
removed in #18437.

[2022-07-17 04:42] #18414 closed

[2022-07-17 04:52] awxiaoxian2020 commented on #18344
This issue should be transfered to https://github.com/mdn/learning-area . I think.

[2022-07-17 05:03] awxiaoxian2020 commented on #18158
I think this issue should be transfered to https://github.com/mdn/todo-vue

[2022-07-17 05:07] awxiaoxian2020 commented on #17999
I think this issue should be transfered to https://github.com/mdn/css-examples

[2022-07-17 05:25] awxiaoxian2020 commented on #17881
I think this issue should be transfered to https://github.com/mdn/css-examples

[2022-07-17 06:12] teoli2003 commented on #17881
No, _live samples_ are stored directly on the page. Only _interactive examples_ (the boxes at the top) are at mdn/css-examples.

[2022-07-17 07:33] arnuphong opened #18438 "Content suggestion: <TITLE OF SUGGESTION>"
## What is the new suggestion?

## Why is it important or useful?

## Other supporting information

[2022-07-17 07:58] #18438 closed

[2022-07-17 07:59] teoli2003 commented on #18438
Hi!

Unfortunately, you didn't provide any information about the issue you are reporting. We cannot act on it.

I'm closing it. If you return and provide more information, you are welcome to re-open it (or fill a separate issue).

Thanks a lot for your interest!

[2022-07-17 08:08] tari-w opened #18439 "“Introducing a complete toolchain”: Problem with starting the server"
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Understanding_client-side_tools/Introducing_complete_toolchain

### What specific section or headline is this issue about?

Using future features

### What information was incorrect, unhelpful, or incomplete?

I followed the tutorial along and got stuck with starting up the server. First it got stuck in the building proc

[2022-07-17 08:13] tari-w commented on #18418
Here is my js-code:

`import { formatDistanceToNow } from 'date-fns'

const date = '1996-09-13 20:00:00';
document.body.textContent = formatDistanceToNow(new Date(date)) + ' ago';`

and here is my package.json:

`{
  "name": "parcel-experiment",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1",
    "dev": "par

[2022-07-17 11:20] SweetBoySavage opened #18443 "Inconsistencies with "Test your skills: The Cascade" page."
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Cascade_tasks

### What specific section or headline is this issue about?

Inconsistencies among the code provided in the interactive editor and the HTML template and the solution on GitHub.

### What information was incorrect, unhelpful, or incomplete?

It seems that the [task](https://developer.mozilla.org/en-US/docs

[2022-07-17 11:53] STHunCoder opened #18444 "Problem with Method definitions"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Method_definitions

### What specific section or headline is this issue about?

Description section

### What information was incorrect, unhelpful, or incomplete?

At the beginning of the Description section, the two codes are the same, the first one is also the shortened one.

### What did you expect to see?

[2022-07-17 12:01] Josh-Cena commented on #18444
Haha, good catch, PRs welcome 😄

[2022-07-17 15:41] AnsBdran opened #18446 "Colgroup and col elements."

[2022-07-17 16:34] teoli2003 commented on #18443
cc/ @estelle

[2022-07-17 19:41] WebMechanic commented on #18278
Why has this been closed "as completed"?
Neither the link **to the current draft** nor any of the props in the specification table are corrected.
I have provided the URLs.

[2022-07-17 22:06] awxiaoxian2020 commented on #17881
My fault. I found it now. Thanks!

[2022-07-18 00:08] yin1999 commented on #18412
[AWS S3 credentials](https://boto3.amazonaws.com/v1/documentation/api/latest/guide/credentials.html#environment-variables) are required for this workflow

[2022-07-18 00:54] hamishwillee commented on #18237
Hi @David263.

The guide instructions can only be described as "rudimentary": https://developer.mozilla.org/en-US/docs/MDN/Structures/Page_types#conceptual_page

Essentially they say "copy the pattern of some other guide page that does similar things". We're fairly free-form on the structure, though I'd say "use lots of headings and examples".

[2022-07-18 01:23] awxiaoxian2020 commented on #17204
Is this issue closed by #17845 ?

[2022-07-18 01:50] #18444 closed

[2022-07-18 02:51] franckbleyer1 opened #18460 "Eldeloro"
## Use case

- If `--dart-define` has many definitions, the startup command can be very long and error-prone
- It is especially difficult to maintain if there are multiple packages to switch
- Also I want these definitions to be available directly in android and iOS

We counted, our project package includes countries: Brazil, Singapore, Europe, we have a total of 36 configuration items in each reg

[2022-07-18 02:53] Josh-Cena commented on #18460
This doesn't look relevant to MDN content.

[2022-07-18 02:53] #18460 closed

[2022-07-18 06:07] teoli2003 commented on #17204
Yes, it is. Reopen if I'm mistaken.

[2022-07-18 06:07] #17204 closed

[2022-07-18 06:12] #17881 closed

[2022-07-18 06:53] Techi-Dev commented on #18323
To open a new window try
window.open('http://example.com/redirect/path);

[2022-07-18 08:57] szalonna commented on #18323
@Techi-Dev how is this relevant to this issue?

[2022-07-18 09:09] zhalice2011 opened #18469 "Content bug: <THE WEBRTC REFERECE HAS A TYPO ERROR>"
### MDN URL

https://developer.mozilla.org/zh-CN/docs/Web/HTML/Element/video

### What specific section or headline is this issue about?

TYPO ERROR

### What information was incorrect, unhelpful, or incomplete?

<img width="852" alt="image" src="https://user-images.githubusercontent.com/24289349/179479718-7663880c-4395-4fd3-b930-751501d4d46b.png">

`auto: 表示可以下载整个视频文件，计时用户不希望使用它。` to `auto: 表示可以下

[2022-07-18 09:17] Josh-Cena commented on #18469
Please report this on the localization repo: https://github.com/mdn/translated-content

/cc @yin1999

[2022-07-18 09:19] yin1999 commented on #18469
@sideshowbarker could you transfer this issue to mdn/translated-content

[2022-07-18 09:20] ygoe opened #18470 "break-after is not supported although long indicated"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/CSS/break-after

### What specific section or headline is this issue about?

Browser compatibility

### What information was incorrect, unhelpful, or incomplete?

The compat table claims that Firefox 65 supports `break-after: avoid-page`. [This Firefox bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1779887) that I created suggests that t

[2022-07-18 09:21] Josh-Cena commented on #16703
Should have been fixed by #17285

[2022-07-18 09:21] #16703 closed

[2022-07-18 09:42] jub0bs opened #18471 "CORS: image for simple request shows an Origin header value lacking a scheme"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS

### What specific section or headline is this issue about?

https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#simple_requests

### What information was incorrect, unhelpful, or incomplete?

The [image illustrating an example of a _simple_ request](https://github.com/mdn/content/blob/main/files/en-us/web/http/cors/simple-req.

[2022-07-18 14:35] franckbleyer1 opened #18481 "[Cauldron](https://cauldron.io/) is an analysis tool to understand a public software and its community. It is possible to make use of cauldron here."
[Cauldron](https://cauldron.io/) is an analysis tool to understand a public software and its community. It is possible to make use of cauldron here.

__Originally posted by @OrkoHunter in https://github.com/twitter/metrics/issues/7__

[2022-07-18 14:55] Josh-Cena commented on #18481
Judging from past behaviors like https://github.com/mdn/content/issues/18460, this is another spam attempt.

[2022-07-18 14:55] #18481 closed

[2022-07-19 01:44] paulmillr opened #18494 "BigInt: clarify cryptography usage"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt#usage_recommendations

### What specific section or headline is this issue about?

Cryptography

### What information was incorrect, unhelpful, or incomplete?

### What did you expect to see?

Something like this

### Do you have any supporting links, references, or citations?

There are tons of li

[2022-07-19 02:08] Josh-Cena commented on #18494
The alternative to "using bigints" is not "using some random binary distributed on npm / GitHub". Uint8Array, AFAICT, can be made safer than BigInts because of its lower level of abstraction. You can guarantee a more constant-time operation. Of course you can still write everything yourself; it's just a little caveat that you should not use BigInts as your underlying implementation.

[2022-07-19 02:42] paulmillr commented on #18494
Everyone is using npm and github nowadays. To be precise, i'm talking about cases when a popular package by a trusted maintainer gets backdoored and malwared because their pc gets infected. GitHub and NPM were hacked quite a few times and people would still download the wasm binaries

"More constant time" in relation to what, and why? Any real tests showing this? Overall that's false: there are no

[2022-07-19 02:57] Josh-Cena commented on #18494
_Sigh_ I think you're right. Time complexity in JS is mostly bananas.

[2022-07-19 02:58] estelle commented on #18443
[PR for examples](https://github.com/mdn/css-examples/pull/78)

[2022-07-19 05:22] #17945 closed

[2022-07-19 07:18] SphinxKnight commented on #4583
I guess the PR is kind of ready. I checked the last edits on this page during conflict merge and I think I got them all.

[2022-07-19 08:14] #4583 closed

[2022-07-19 08:50] sideshowbarker commented on #18421
I think we should seriously consider deleting the entire “Installing basic software” page.

This issue reminds me of https://github.com/mdn/content/issues/7048, where we have a similar article that will forever require somebody to actively work to try to ensure it stays up to date. But I don’t think the cost of doing that’d be justified by the limited benefits MDN readers would get from somebody d

[2022-07-19 08:56] #18446 closed

[2022-07-19 08:59] awxiaoxian2020 commented on #18421
I agree that replacing the section with a brief text instead of a particular editor.
deleting whole the page may be unfriendly for beginners.

[2022-07-19 09:14] thuan-nmt opened #18506 "Code block lost three backticks at ending"
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/Basics

### What specific section or headline is this issue about?

Bracket notation

### What information was incorrect, unhelpful, or incomplete?

The code block below lost three backticks at ending -> format broken
[code]

### What did you expect to see?

[code]
....

### Do you have any supporting links, references,

[2022-07-19 09:21] #18506 closed

[2022-07-19 09:54] hamishwillee commented on #14783
The statement is correct for all current implementations, because none of them support `roundingPriority` - though this is now present in Firefox Nightly (FF104).

But as you say, this will be incorrect for `roundingPriority` options other than `auto`. I'll update that as part of https://github.com/mdn/content/pull/18505

Just FYI, the expected behaviour here has recently changed and will be as id

[2022-07-19 10:40] wgrlogin commented on #18421
In my eyes deleting the whole page would be a pitty.
The WWW is full of pages titled "Web Development for Beginners" and compared to others the MDN page is one of the really, really good ones!
Don't drop it! That is definitely not what I wanted to achieve.

My only concern was that VSCode is just not open source and the article explicitly states it instead of pointing to the open source VSCodium.

[2022-07-19 10:43] Josh-Cena commented on #12400
Considering it resolved through https://github.com/mdn/content/pull/13689. I can observe a difference on my phone and desktop.

[2022-07-19 10:43] #12400 closed

[2022-07-19 10:55] Josh-Cena commented on #18421
For what it's worth, despite being a huge advocate of open-source, I have to say the sentiment that "non-open-source is bad; proprietary is bad; telemetry is bad" is highly subjective. For a beginner tutorial I'll definitely go with recommending VSCode as default—it has richer support and is backed by a strong organization. Sure, VSCodium is almost a clean fork of VSCode, but there's no guarantee

[2022-07-19 11:38] stuartlangridge opened #18512 "Add Web Share API to this list of secure-context-only APIs?"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/Security/Secure_Contexts/features_restricted_to_secure_contexts

### What specific section or headline is this issue about?

Current features available only in secure contexts

### What information was incorrect, unhelpful, or incomplete?

I think that the Web Share API is only available on secure contexts too; https://developer.mozilla.org

[2022-07-19 16:59] TheDirigible opened #18520 "information missing"
### MDN URL

https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/runtime/onMessage

### What specific section or headline is this issue about?

_No response_

### What information was incorrect, unhelpful, or incomplete?

I was sent here by this runtime message, which is the first I've heard of it:
Returning a Promise is the preferred way to send a reply from an onMessage/on

[2022-07-19 19:59] szmarczak opened #18525 "How to set private window permission?"
### MDN URL

https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/proxy/settings

### What specific section or headline is this issue about?

Note

### What information was incorrect, unhelpful, or incomplete?

The information is not complete. It's missing how to set the private window permission.

### What did you expect to see?

It should contain information how to set the

[2022-07-19 20:16] szmarczak commented on #18525
When I set the `incognito` permission it gave this weird warning in the about:debugging page

[code]

[2022-07-19 20:40] szmarczak commented on #18525
I just noticed this in `about:addons`

![image](https://user-images.githubusercontent.com/36894700/179844047-13a7dfb4-333c-4f17-afeb-414f588a972e.png)

Having `browser.proxy` affect both contexts extremely degrades DX.

[2022-07-19 21:07] jeanpaulc opened #18527 "Dead links in CSS image-rendering browser compatibility note"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/CSS/image-rendering

### What specific section or headline is this issue about?

Note card after "Browser Compatibility" section

### What information was incorrect, unhelpful, or incomplete?

- Url in the "Firefox" [link](https://searchfox.org/mozilla-central/rev/5fd4cfacc90ddd975c82ba27fdc56f4187b3f180/gfx/wr/webrender/src/resource_cache.

[2022-07-19 22:34] #18289 closed

[2022-07-19 23:21] #11153 closed

[2022-07-20 02:26] estelle opened #18533 "Learn Accessibilty: HTML needs a rewrite"
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Accessibility/HTML

### What specific section or headline is this issue about?

Content is so old it's not relevant

### What information was incorrect, unhelpful, or incomplete?

Explainations of bad code include table layout and font tag. These are not issues you see anymore.

### What did you expect to see?

Use bu

[2022-07-20 06:51] rachelandrew commented on #7586
@sideshowbarker our docs are now live so I've created a PR to update that link: https://github.com/mdn/content/pull/18541

[2022-07-20 09:43] MandarDevarshi opened #18544 "Seeking clarification on accessing browser namespace for web-extension development."
### MDN URL

https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API

### What specific section or headline is this issue about?

Examples

### What information was incorrect, unhelpful, or incomplete?

In the [Examples](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API#examples) section it is stated that, "You can experiment using these examples—**witho

[2022-07-20 11:13] MrBrain295 opened #18547 "Outdated web audio example code"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/AudioContext/createMediaElementSource

### What specific section or headline is this issue about?

Examples

### What information was incorrect, unhelpful, or incomplete?

The example code has been updated but this hasn’t.

### What did you expect to see?

Up-to-date code.

### Do you have any supporting links, references, or citations?

[2022-07-20 11:17] teoli2003 commented on #18547
Yes, I've updated the webaudio-examples in the directory, I need to update the MDN articles now. That's the next step.

I can use this issue to track the work.

[2022-07-20 13:52] bernardobelchior opened #18551 "`position: fixed` docs do not mention `will-change` also affects the choice of containing block"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/CSS/position

### What specific section or headline is this issue about?

The `position: fixed` part

### What information was incorrect, unhelpful, or incomplete?

The description reads:

However, it seems that `will-change: transform` also causes the `position: fixed` to choose the ancestor, instead of the viewport as the containing block

[2022-07-20 15:18] nickshanks opened #18555 "Add example to page for the “tablist” role identical to the example on the page for the “tab” role"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/tablist_role

### What specific section or headline is this issue about?

_No response_

### What information was incorrect, unhelpful, or incomplete?

The page does not make it clear if tabpanel elements need to be within the tablist or outside of it (or whether that matters at all).

For example, is either of thes

[2022-07-20 15:23] ikeallison990 opened #18556 "Getting error in payload on Hangup for WebRTC call"
### MDN URL

https://developer.mozilla.org/en-US/docs/Glossary/WebRTC

### What specific section or headline is this issue about?

Getting error in payload on Hangup for WebRTC call

### What information was incorrect, unhelpful, or incomplete?

Getting error in payload on Hangup for WebRTC call

### What did you expect to see?

Getting error in payload on Hangup for WebRTC call

### Do you have a

[2022-07-20 15:48] mattbear75 opened #18557 "Duplicated content in "Import Statements""
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/React_getting_started

### What specific section or headline is this issue about?

Import statements

### What information was incorrect, unhelpful, or incomplete?

Line 256 is redundant, as its content is included in line 248.

### What did you expect to see?

It was strange to have the

[2022-07-20 22:28] estelle commented on #18443
https://github.com/mdn/content/pull/18564 - this reverts the task instructions and adds a second task. (will be adding the second task in a different PR)

[2022-07-21 00:17] #9730 closed

[2022-07-21 00:22] sideshowbarker commented on #18556
This seems like a question that’s better suited to a site such as Stack Overflow. But anyway it does not seem like there are sufficient details in the issue description for anybody to be able to try to help with it.

[2022-07-21 00:22] #18556 closed

[2022-07-21 10:00] CyrilleB79 opened #18580 "Fix French keyboard information on the aria-keyshortcuts page"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Attributes/aria-keyshortcuts

### What specific section or headline is this issue about?

Consider language and keyboard differences

### What information was incorrect, unhelpful, or incomplete?

The following sentence is wrong:

### What did you expect to see?

The sentence should be corrected as follows:

I.e. "Control

[2022-07-21 10:03] #18557 closed

[2022-07-21 10:57] teoli2003 commented on #18580
Yes, Azerty uses Shift, but how does it relate to the French language itself?

For example, Swiss french people don't use the French keyboard, but a QWERTZ one with accented letters. On it, you don't need to press <kbd>Shift</kbd> for the digits.

So setting, or considering, the _language_ only is not enough.

[2022-07-21 11:12] #17799 closed

[2022-07-21 11:28] ashleedawg opened #18585 "broken link"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/rel

### What specific section or headline is this issue about?

table row "preload"

### What information was incorrect, unhelpful, or incomplete?

broken link for `as` pointing at https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/as

### What did you expect to see?

valid page

### Do you have any supporting lin

[2022-07-21 12:06] CyrilleB79 commented on #18580
The goal of this paragraph is to indicate that for some locale of keyboard layout, numbers are not typed by a single keypress but with the help of a modifier. Unfortunately, the example was mentioning "Control" whereas "Shift" is used instead, in the French (France) keyboard layout.

In accordance with your comment, I have updated the initial description to indicate "Franch (France)" instead of "F

[2022-07-21 12:30] #7586 closed

[2022-07-21 13:30] dipikabh commented on #17469
Task list:

Documentation for the property exists as mentioned in the issue description.

- [ ] Update the Examples section on [scroll-snap-stop](https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-snap-stop) property page
- [ ] Update BCD
- [ ] Add a release note
- [ ] Update the [scroll-snap-stop](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scroll_Snap/Basic_concepts#the_scroll-snap

[2022-07-21 14:52] #18208 closed

[2022-07-21 14:52] #16816 closed

[2022-07-21 14:52] #17473 closed

[2022-07-21 15:53] #18580 closed

[2022-07-21 16:17] v1nce opened #18601 "The documentation should link to a doc about the event structure"
### MDN URL

https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/webRequest/StreamFilter/ondata

### What specific section or headline is this issue about?

_No response_

### What information was incorrect, unhelpful, or incomplete?

There's no doc about the event structure except for 'The handler is passed an event object containing a data property'.
Is this the only prope

[2022-07-21 19:06] luwes commented on #2753
should be

see https://drafts.csswg.org/css-shadow-parts/#exportparts-attr

[2022-07-21 19:29] JustinWebDev opened #18609 "Need more info on 'permitted parents'"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script

### What specific section or headline is this issue about?

top, description table

### What information was incorrect, unhelpful, or incomplete?

This is not specific to the script tag page, but any tag description page.
The "Permitted parents" says "Any element that accepts [metadata content], or any element that acce

[2022-07-21 21:12] David263 opened #18614 "PUT is like GET, not POST"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/PUT

### What specific section or headline is this issue about?

2nd paragraph

### What information was incorrect, unhelpful, or incomplete?

The article says, "The difference between PUT and [POST](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/POST) is that PUT is idempotent..."

An experiment done on a local Apac

[2022-07-21 21:24] #18585 closed

[2022-07-21 22:07] rubiesonthesky opened #18616 "[Tools] using npx does not guarantee correct version or library"
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Understanding_client-side_tools/Introducing_complete_toolchain

### What specific section or headline is this issue about?

Running the transformation

### What information was incorrect, unhelpful, or incomplete?

Running parcel with `npx` may be use different version than locally installed depending on the npm version

[2022-07-22 03:09] hamishwillee commented on #18512
Cheers, added in https://github.com/mdn/content/pull/18621

Its a relatively recent API and AFAIK requires secure context in all browsers that support it. If this was "different" across browsers it would go in the browser compatibility information - but because it is the same there is no note there.

[2022-07-22 03:38] Josh-Cena commented on #18616
The first thing the page asks you to do is

[code]

And then `npx` is only used to invoke the local script, not to download remote packages on-the-fly.

[2022-07-22 04:05] hamishwillee commented on #14783
Fixed  - see this comment on the changed line: https://github.com/mdn/content/pull/18505/files#r927269273

[2022-07-22 06:06] Abhiram-Gullapalli opened #18628 "Broken link"
### MDN URL

https://github.com/mdn/content/blob/main/files/en-us/web/api/vreyeparameters/fieldofview/index.md

### What specific section or headline is this issue about?

Examples

### What information was incorrect, unhelpful, or incomplete?

There is a broken link present under the examples section.

### What did you expect to see?

A fully functional link

### Do you have any supporting links,

[2022-07-22 06:37] TheBicPen opened #18631 "Content suggestion: Mention which ES version a feature was introduced in"
## What is the new suggestion?
For a given ES feature, there should be a clear label saying which ES specification it was introduced in, e.g. ES2015, ES2020, etc.

## Why is it important or useful?
Knowing the corresponding minimum target ES version for a feature informs developers whether they can use it in a project that targets a specific ES version, or whether a polyfill or other solution is r

[2022-07-22 06:52] Josh-Cena commented on #18631
I don't have strong opinions about this, but I'm very much against TS's approach of cutting by ES versions. The ES versions are pretty arbitrary and don't correspond to any semantics. Babel's approach of syntax plugins + present-env is much saner.

Should this be in BCD instead? @queengooborg thoughts about how this could work?

[2022-07-22 07:07] queengooborg commented on #18631
Technically speaking, both BCD and MDN already do this. While there isn't a specific label or tag or otherwise to indicate the ES version, it is shown in the specifications table, right above the compatibility tables.

In regards to requiring a poly fill to enable certain functionality, the ES version is not a good representation. Browsers and JavaScript engines will not typically implement an ent

[2022-07-22 07:08] Josh-Cena commented on #18631
Yes, [SWC](https://swc.rs/docs/configuration/compilation#jsctarget) does this as well, although SWC also has an option for browserslist.

[2022-07-22 07:08] ayyubnurumi opened #18632 "incorrect output"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Text_formatting

### What specific section or headline is this issue about?

date and time formating

### What information was incorrect, unhelpful, or incomplete?

this is the exemple in date and time formating section

[code]

17 july 2014 should be 07/17/14

### What did you expect to see?

07/17/14, 7:00 AM GMT+7

### D

[2022-07-22 07:14] Josh-Cena commented on #18631
The specification table doesn't point to the ES version it's introduced in. e.g. for https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/async_function, if we are to implement this suggestion, I would expect to see "ES2019" mentioned somewhere.

[2022-07-22 07:15] teoli2003 commented on #18632
No, that's the date below that is wrong (not the top comment). PR incoming.

[2022-07-22 07:17] teoli2003 commented on #18632
In fact it was correct, for PDT :-D
Anyway, it is clearer with the new comment.

[2022-07-22 07:23] TheBicPen commented on #18631
This information used to be present under the `Specifications` header. e.g. http://web.archive.org/web/20190819021042/https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise

[2022-07-22 07:37] teoli2003 commented on #18631
cc/ @schalkneethling Can you convert this into a discussion on mdn/mdn-community ? This needs a broader audience.

[2022-07-22 07:39] #18632 closed

[2022-07-22 08:25] VladimirMorozov opened #18637 "Document.requestStorageAccess() article has incorrect conditions for granting storage access"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/Document/requestStorageAccess

### What specific section or headline is this issue about?

Conditions for granting storage access

### What information was incorrect, unhelpful, or incomplete?

Step 6 "If the sub frame is not sandboxed, skip to step 7." should probably say "skip to step 8". It seems that a new step was added and previou

[2022-07-22 08:37] Josh-Cena commented on #18494
@paulmillr I trust your expertise on security, so if you have any ideas about how to improve, feel free to send a PR. I'll assign this to you for now.

[2022-07-22 09:19] fred-wang opened #18641 "Formal syntax of math-style is missing"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/CSS/math-style

### What specific section or headline is this issue about?

https://developer.mozilla.org/en-US/docs/Web/CSS/math-style#formal_syntax

### What information was incorrect, unhelpful, or incomplete?

Section only contains `Error: could not find syntax for this item`

### What did you expect to see?

The formal syntax.

### Do

[2022-07-22 10:13] Josh-Cena commented on #18631
I realized this is also proposed in mdn/browser-compat-data#14835—we should discuss in one centralized place.

[2022-07-22 12:33] teoli2003 commented on #18641
Since the end of June, we don't use the outdated data we had at mdn/data for the formal syntax, but we extract it now from w3c/webref. It is likely that the MathML Core is missing from the spec read to generate the data. I opened w3c/webref#681 to get this fixed.

[2022-07-22 12:35] lionralfs commented on #18614
It sounds like you're trying to use `method="put"` on a `form`, which is [not supported](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/form#attr-method) ([spec](https://html.spec.whatwg.org/multipage/form-control-infrastructure.html#attr-fs-method)), causing the browser to fall back to a `GET`.

[2022-07-22 12:39] teoli2003 commented on #18614
Yes, this is likely the problem. Closing.

[2022-07-22 12:39] #18614 closed

[2022-07-22 12:46] Rumyra commented on #9451
Resolved via recent webaudio-examples updates

[2022-07-22 12:47] #9451 closed

[2022-07-22 13:16] Josh-Cena commented on #18628
Which link are you referring to? All links on https://developer.mozilla.org/en-US/docs/Web/API/VREyeParameters/fieldOfView seem functional.

[2022-07-22 13:17] Jefferson-HSL opened #18651 "Erro de sintaxe"
### MDN URL

https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/Reference/Global_Objects/Math/random

### What specific section or headline is this issue about?

Com o "+ min" fora do Math.floor() o número gerado vai sempre ser maior que max.

### What information was incorrect, unhelpful, or incomplete?

`
function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  r

[2022-07-22 13:20] Abhiram-Gullapalli commented on #18628
https://github.com/mdn/content/blob/main/en-US/docs/Web/API/VRFieldOfView
Under the Examples section of the page, "VRFieldOfView" is hyperlinked to a different page, which is actually broken(gives out a page missing error when tried to access it)

[2022-07-22 13:23] teoli2003 commented on #18628
You can't navigate through links via GitHub. You need to go to the actual site: https://developer.mozilla.org/en-US/docs/Web/API/VREyeParameters/fieldOfView

[2022-07-22 13:26] Josh-Cena commented on #18628
Closing per https://github.com/mdn/content/issues/18628#issuecomment-1192570195. The Markdown files should be seen as source code and should not be used for proper reading.

[2022-07-22 13:45] teoli2003 commented on #16187
Note that this a common pattern around promises and is used in several examples.

[2022-07-22 13:45] #16187 closed

[2022-07-22 14:51] NiedziolkaMichal commented on #17470
On chrome it's shipping in 103: [https://chromestatus.com/feature/5192833009975296](https://chromestatus.com/feature/5192833009975296)
On safari it's available since 15.6: [https://developer.apple.com/documentation/safari-release-notes/safari-15_6-release-notes](https://developer.apple.com/documentation/safari-release-notes/safari-15_6-release-notes)

[2022-07-22 15:54] mbourd opened #18655 "initialValue not used"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/reduce

### What specific section or headline is this issue about?

Write map using reduce

### What information was incorrect, unhelpful, or incomplete?

The initialValue variable is not used, even with
`[1, 2, , 3].mapUsingReduce(
  (currentValue, currentIndex, array) => currentValue + currentInde

[2022-07-22 17:50] jpmedley opened #18660 "Compat Macros Shows Misleading Information"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/Push_API#browser_compatibility

### What specific section or headline is this issue about?

Browser Compatibility

### What information was incorrect, unhelpful, or incomplete?

The compat section shows multiple tables to cover each of the interfaces that are part of the push api. However, the autogenerated heading includes the interfac

[2022-07-22 18:52] teoli2003 commented on #18660
@schalkneethling Can you transfer this to mdn/yari?

[2022-07-22 19:31] David263 commented on #18614
Thank you! Makes sense. So we are stuck with only GET and POST, and POST is stuck with no way to eliminate the resubmission error, enforced by the browsers. Perhaps something similar to that statement could be added to MDN, to save people some confusion.

[2022-07-22 19:36] lionralfs commented on #18614
I don't know exactly what you're trying to achieve but you could redirect after a `POST` (see [this](https://en.wikipedia.org/wiki/Post/Redirect/Get) for example) or write some JavaScript that captures the form submission and implement custom logic.

[2022-07-23 01:37] #18655 closed

[2022-07-23 02:10] sideshowbarker commented on #10594
@tannerdolby From the issue description, it’s not clear to me at least what problem is being described here, or how we might be able to resolve this. Maybe @wbamberg remembers something about the context

[2022-07-23 02:24] tannerdolby commented on #10594
@sideshowbarker I think this was related to the `{{ Draft }}` macro removal that was going on which is now completed. Looking back at my issue description above, its not entirely clear what the problem was but from what I remember this issue should be resolved. Just to be safe, probably best to wait for @wbamberg for the final say.

[2022-07-23 09:58] bambitheone82112 opened #18680 "e"
### MDN URL

e

### What specific section or headline is this issue about?

e

### What information was incorrect, unhelpful, or incomplete?

e

### What did you expect to see?

e

### Do you have any supporting links, references, or citations?

e

### Do you have anything more you want to share?

e

[2022-07-23 09:58] bambitheone82112 commented on #18680
joke

[2022-07-23 09:58] #18680 closed

[2022-07-23 10:29] teoli2003 commented on #18680
@bambitheone82112 Can you please make your discovery in your own sandbox repository?

This is a production repository and dozen of people get unwanted notifications when you do this.

[2022-07-23 19:17] Phosra commented on #18196
Personally, I'd support an example that handles this, and uses the API that the article is about?

[2022-07-23 23:30] queengooborg opened #18700 "Remove event properties sections from event pages"
I remember talking about this at one point, but I don't recall what PR that was on.

As a part of the new event page template, we have an "event properties" section that is a copy-paste from the event interface's page.  However, now that the `{{page}}` macro is not to be used, this causes us to duplicate a lot of the same content.  I feel that this is not the right way to go about adding this sect

[2022-07-24 01:09] sideshowbarker commented on #18196
@husnulhamidiah I’ve gone ahead and assigned this one to you

[2022-07-24 01:16] sideshowbarker commented on #10035
The `:checked` problem in the Syntax section has been fixed, I think.

But the article still lacks content in the Specifications and Browser Compatibility sections — and that’s because there is not yet any data in BCD for the `:playing` selector.

[2022-07-24 01:25] sideshowbarker commented on #9808
It’s not really in scope for MDN to document, for each feature where something requires a secure context, why that feature requires a secure context. “Why” questions of that kind are best addressed to the editors/group who wrote the spec. So https://github.com/WebAudio/web-audio-api/issues is the right place to ask.

So I’m closing this. But I guess it’s also worth having some info in the record h

[2022-07-24 01:25] #9808 closed

[2022-07-24 05:46] nick-chesterton opened #18722 "Broken GitHub link for live code editor in Task 2 under "Test your skills: The Cascade - Learn web development | MDN""
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Cascade_tasks

### What specific section or headline is this issue about?

Task 2

### What information was incorrect, unhelpful, or incomplete?

The live code box for Task 2 did not appear, but instead gave a 404 error saying, "404 File Not Found: The site configured at this address does not contain the requested file

[2022-07-24 07:40] deepug9787 commented on #16975
How about we rewrite it to something like this:

Reads more clearer to me.

[2022-07-24 08:25] sideshowbarker commented on #16975
Me too. Would be great if you could put together a PR with that change.

[2022-07-24 08:51] sideshowbarker commented on #18722
Thanks for catching this and reporting it — I’ve opened #18726 with a fix.

After that fix is merged, this issue will automatically be marked as resolved, and closed.

[2022-07-24 08:58] #18722 closed

[2022-07-24 10:37] HyunseungLee-Travis opened #18729 "Make switch lqnguagr feature"
There are no methods of swithcing language.

Please make one.

[2022-07-24 11:10] Josh-Cena commented on #18729
cc @schalkneethling Could you transfer this to Yari?

Also @HyunseungLee-Travis nice to see you here as well😃

[2022-07-24 12:45] nathnolt opened #18733 "HTMLFormControlsCollection page has some unclear / incorrect information"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/HTMLFormControlsCollection

### What specific section or headline is this issue about?

section 1

### What information was incorrect, unhelpful, or incomplete?

I think it states that the property elements on HTMLFieldSetElement will return HTMLFormControlsCollection but instead it returns HTMLCollection. It's only the HTMLFormElement

[2022-07-24 13:22] sideshowbarker commented on #18733
Thanks for catching this and reporting it. The MDN article is wrong, and what the issue description states is right.

So the page needs to be corrected to state that  the `elements` property of `HTMLFieldSetElement` objects returns an `HTMLCollection` object.

For the record here, this is what the HTML spec has to say:

At https://html.spec.whatwg.org/multipage/form-elements.html#htmlfieldseteleme

[2022-07-24 13:47] hilbix opened #18735 "False claim: window.pageYOffset === window.scrollY; // always true"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/Window/scrollY

### What specific section or headline is this issue about?

Notes

### What information was incorrect, unhelpful, or incomplete?

The `pageYOffset` property is an alias for the `scrollY` property:

`window.pageYOffset === window.scrollY; // always true`

### What did you expect to see?

If not redefined, the `scrollY` pr

[2022-07-24 16:09] krzysztof-tokarski opened #18739 "Inconsistent file/dir naming"
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/routes

### What specific section or headline is this issue about?

Create the route-handler callback functions and post that

### What information was incorrect, unhelpful, or incomplete?

The snippets (and further citations) use both kebabcase and camelcase for naming of dirs and files, instead of following on

[2022-07-24 16:16] edbaafi commented on #16975
@deepug9787 @sideshowbarker Sorry but this is not correct.  Please revert this change.

In the example you listed, there is nothing that causes this selector to exclude `only the links that are direct children of table`.  The issue that seems to be tripping people up (including how you explained your example) is that `:not()` never really "excludes" anything from the final resulting matched elemen

[2022-07-24 16:26] edbaafi commented on #16975
@estelle see incorrect logic/explanation in merged PR ^

[2022-07-24 16:33] edbaafi commented on #17313
@estelle @sideshowbarker what do I need to do to get this fixed?  Submit a PR with the bullet point removed?

[2022-07-24 23:46] hamishwillee commented on #18700
Example event that you would like to change?

[2022-07-25 00:19] hamishwillee commented on #18739
Thanks. I'm happy enough that these could be changed to kebab case, but I don't see it as any kind of priority. IF this is done, then the https://github.com/mdn/express-locallibrary-tutorial/ would need to be updated in sync and tested.

Would you like to do this?
The set of files in the project are:

[code]

[2022-07-25 00:35] hamishwillee commented on #18614
@lionralfs I'm a little confused too, but perhaps the suggestion/solution would be to add a note  explicitly stating that `put` can't be used in the form at https://developer.mozilla.org/en-US/docs/Web/HTML/Element/form#attr-method

You might reasonably argue that the text explicitly lists the supported options so we don't need one. I'd accept that. But also I know that people might just assume it

[2022-07-25 00:37] sideshowbarker commented on #17313
Yes, please

[2022-07-25 00:47] sideshowbarker commented on #18733
Thanks again for catching this and reporting it. I’ve opened #18749 with a fix.

After that fix is merged, this issue will automatically be marked as resolved, and closed.

[2022-07-25 00:54] queengooborg commented on #18700
Well, pretty much all of the events, but I'll mention `Web/API/Element/transitioncancel_event` as an example.  I would like to change the overall structure of the event pages to remove the duplicated `Event properties` content, or somehow de-duplicate it.

[2022-07-25 00:55] emilio commented on #18735
They are real aliases, but these properties are `readonly` and `[Replaceable]` (https://webidl.spec.whatwg.org/#Replaceable), which means that you can redefine them by setting the property, which is what you're seeing.

[2022-07-25 02:09] deepug9787 commented on #16975
I think I moved a little too quickly on this one. Seeing that there was already a discussion going on around this issue, I should've waited for everyone's feedback before I issued the PR. My apologies.

[2022-07-25 02:16] sideshowbarker commented on #16975
No worries — it’s under version control and nothing’s destructive, and it didn’t break a build or somethng. If anything, it helped make clear we all care about getting it right

[2022-07-25 02:18] sideshowbarker commented on #16975
That part I can’t answer because it’s not clear to me either what it’s currently intending to accomplish

[2022-07-25 02:37] hamishwillee commented on #18700
IMO it is awesome "as a user" to have the properties there, especially as you're about to have examples of how they are used. In fact, generally they are more useful here than they are in the actual Event interface - and I'd argue they be even better if they included the inherited ones as well.

I can see it is a maintenance burden, so perhaps we have to be pragmatic. In that case I lean towards "

[2022-07-25 02:52] #18512 closed

[2022-07-25 03:06] mattbrannon opened #18752 "Hydration errors reported in the console"
If you go to [this page](https://developer.mozilla.org/en-US/docs/Web/API/PerformanceNavigationTiming) and open the console you'll see some errors reported by React. I've noticed it happens on some other pages as well but it doesn't happen on every page.

Specifically these are the errors reported:

https://reactjs.org/docs/error-decoder.html/?invariant=425
https://reactjs.org/docs/error-decoder.h

[2022-07-25 03:07] queengooborg commented on #18700
I actually tried to use the {{page}} macro while initially converting events to the new template, but I was asked not to use it because the macro is planning to be removed.  I agree this would be a great use case for it, though!

[2022-07-25 03:43] Seirdy opened #18758 "Mention inline-size containment"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/CSS/contain

### What specific section or headline is this issue about?

Values

### What information was incorrect, unhelpful, or incomplete?

The page does not mention the `inline-size` value.

### What did you expect to see?

I expected to see the `inline-size` value listed as a possible value for the `contain` CSS property.

### Do you

[2022-07-25 06:56] Phosra opened #18762 "TypedArray - ES6 note is duplicated"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/TypedArray

### What specific section or headline is this issue about?

Examples

### What information was incorrect, unhelpful, or incomplete?

This very well may be a non-issue, but I observed that the first example is duplicated in each subclass constructors' documentation, e.g. see [/docs/Web/JavaScri

[2022-07-25 06:59] #18733 closed

[2022-07-25 07:01] sideshowbarker commented on #18758
Thanks for raising this. I believe https://drafts.csswg.org/css-contain-3/#contain-property is the specific spec section that’s relevant. For the record here, quoting that:

[2022-07-25 07:16] sideshowbarker commented on #18758
Fixing this also needs to include:

* updating the syntax definition in https://github.com/mdn/data/blob/ed1833d1ba4f6bbd037e9a9b5e6017e1177568cf/css/properties.json#L4191-L4192
* updating the in-article syntax block at: https://github.com/mdn/content/blob/40c173c51db62c5ec00ad69c7dca5be965cb8978/files/en-us/web/css/contain/index.md?plain=1#L31-L45
* adding the value and a prose description for it

[2022-07-25 07:30] Phosra opened #18764 "TypedArray - Undocumented constructor errors"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/TypedArray

### What specific section or headline is this issue about?

_No response_

### What information was incorrect, unhelpful, or incomplete?

There are a few errors that can be thrown from the TypedArray constructors, that remain undocumented.

### What did you expect to see?

The following are do

[2022-07-25 08:35] teoli2003 commented on #10035
Is there any web browser implementing this, or is this an example of a feature documented too early?

[2022-07-25 08:46] teoli2003 commented on #18700
So the reasons why we do this like this are:

- It is (very) useful to the web dev going to this page. If they go to this page, they want to use this event and likely access the properties on it (we assume that the properties on `Event` are enough known not to be repeated, but not the specific ones.
- The `{{page}}` macro is a complexity nightmare for the platform. It means building all the pages

[2022-07-25 10:26] Rumyra opened #18769 "[Not released] [WebAPI] Support the CSS Font Loading API in workers"
## Acceptance Criteria

- [x] The listed features are documented sufficiently on MDN
- [x] BCD is updated
- [ ] Interactive example and data repos are updated if appropriate
- [x] The content has been reviewed as needed

### For folks helping with Firefox related documentation

- [x] Set bugs to `dev-doc-complete`
- [ ] Add entry to Firefox release notes if feature is enabled in release
or
- [x] A

[2022-07-25 10:29] Rumyra opened #18771 "[CSS] Implement CSS animation-composition"
## Acceptance Criteria

- [X] The listed features are documented sufficiently on MDN
      https://github.com/mdn/content/pull/19848
      https://github.com/mdn/content/pull/19940
- [X] BCD is updated
      https://github.com/mdn/browser-compat-data/pull/17518
- [ ] Interactive example and data repos are updated if appropriate
    https://github.com/mdn/data/pull/601
- [X] The content has been re

[2022-07-25 10:34] Rumyra opened #18772 "[Web API] Implement the fontKerning attribute for Canvas2D text"
## Acceptance Criteria

- [x] The listed features are documented sufficiently on MDN
- [x] BCD is updated
- [ ] Interactive example and data repos are updated if appropriate
- [ ] The content has been reviewed as needed

### For folks helping with Firefox related documentation

- [x] Set bugs to `dev-doc-complete`
- [x] Add entry to Firefox release notes if feature is enabled in release
or
- [ ] A

[2022-07-25 10:49] Rumyra opened #18774 "[JS] Ship Array.{findLast,findLastIndex}"
## Acceptance Criteria

- [x] The listed features are documented sufficiently on MDN
- [x] BCD is updated
- [x] Interactive example and data repos are updated if appropriate
- [x] The content has been reviewed as needed

### For folks helping with Firefox related documentation

- [x] Set bugs to `dev-doc-complete`
- [x] Add entry to Firefox release notes if feature is enabled in release
or
- [x] A

[2022-07-25 10:55] Rumyra opened #18775 "[WebAPI] Add disabled property to SVGStyleElement"
## Acceptance Criteria

- [x] The listed features are documented sufficiently on MDN
- [x] BCD is updated
- [x] Interactive example and data repos are updated if appropriate
- [x] The content has been reviewed as needed

### For folks helping with Firefox related documentation

- [x] Set bugs to `dev-doc-complete`
- [x] Add entry to Firefox release notes if feature is enabled in release
or
- [ ] A

[2022-07-25 11:45] David263 commented on #18614
I agree. If the page is going to mention PUT at all, it should say that PUT is not supported (by browsers? by servers?) as an alternative to POST. This could save readers time or misunderstanding.

[2022-07-25 12:53] lionralfs commented on #18614
@hamishwillee At that point you might have to add all other HTTP verbs, which adds a bit too much noise in my opinion. I'd rather emphasize on the listed methods being the **only** valid ones.

@David263 I can't find any explicit mention of `PUT` on the [form page](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/form). `PUT` itself is a valid HTTP method that is widely used (and supporte

[2022-07-25 13:27] NiedziolkaMichal commented on #10035
@teoli2003 Safari does. I am not sure since which version though, as I couldn't find it in [release notes](https://developer.apple.com/documentation/safari-release-notes).

[2022-07-25 13:28] NiedziolkaMichal commented on #10035
[:paused](https://developer.mozilla.org/en-US/docs/Web/CSS/:paused) is implemented on Safari too

[2022-07-25 13:34] teoli2003 commented on #10035
So the solution here is to add both entries to mdn/browser-compatibility-data, and this issue will (about one week after the PR will be merged)

[2022-07-25 14:01] edent opened #18780 "CSS pages missing formal syntax"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient

### What specific section or headline is this issue about?

https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient#formal_syntax

### What information was incorrect, unhelpful, or incomplete?

[Formal syntax](https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient#formal_syn

[2022-07-25 14:05] David263 commented on #18614
"|PUT|  itself is a valid HTTP method that is widely used (and supported), it's just not a suitable value for the |method| attribute of a |<form>|."

This is an important point. If neither the MDN Form or PUT article mentions it, then others will likely do as I did: try out PUT and discover that it is implemented as GET. The fact that PUT is a valid method makes it imperative that MDN state that i

[2022-07-25 14:30] lionralfs commented on #18614
I believe this is what @hamishwillee was trying to explain. In the form article under the `method` attribute you can find the supported options: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/form#attr-method
The question remains whether it should be further highlighted that these are the *only* two options.

You're not seeing an actual `PUT`, the browser is using `GET` as a fallback wh

[2022-07-25 14:37] David263 commented on #18614
My response is that I understand everything that has been said here, and I have offered no objection to the facts.

Yes, the reason I filed this Issue is that I feel strongly that it should be further highlighted that GET and POST are the only two options supported. And it should be explained why and how. The why is that only GET and POST are used to display a page in the browser (the other method

[2022-07-25 16:06] Seirdy commented on #18758
Perhaps an update to the BCD would also be necessary.

None of the browsers I tested seem to allow combining `inline-size` with other forms of containment; i.e., `contain: content inline-size` is considered invalid. This doesn't seem clearly documented in the spec, but it should probably be mentioned on MDN if it isn't a bug.

--
Seirdy

[2022-07-25 16:48] estelle opened #18783 "Content suggestion: everything but the code"
## What is the new suggestion?

Add some content that developers need to know to get started that few teach, such as:

- How (and why) to select an IDE
- basic command line (git) commands for committing to MDN
- basic command line commands (cd, pwd, history | grep) to navigate to help with the above.
- bash file:
   - creating a bash file;
   - changing permissions
   - accepting user input, like

[2022-07-25 18:02] MarjaE2 opened #18785 ""While it is not always possible to maintain 60fps, it is important to maintain a high and steady frame rate for all animations.""
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/Performance/Animation_performance_and_frame_rate

### What specific section or headline is this issue about?

Animation performance and frame rate

### What information was incorrect, unhelpful, or incomplete?

"Users expect all interface interactions to be smooth and all user interfaces to be responsive."

Just because users may *expect* m

[2022-07-25 22:44] hamishwillee commented on #18614
@lionralfs @David263 We are now in "violent agreement". Fix proposed in https://github.com/mdn/content/pull/18789

[2022-07-25 23:48] #17975 closed

[2022-07-26 01:40] hamishwillee commented on #18774
This follows on from #17473, which added the feature behind a flag. Just is just BCD, release note, and remove from experimental features.

- [ ] BCD
- [ ] Docs
- [ ] Release Note
- [ ] Remove experimental features
- [ ] dev-doc-complete

[2022-07-26 05:20] sideshowbarker commented on #18785
If you have a specific suggestion for how the current statements could be reworded or supplemented with additional wording, please open a pull request with a patch.

[2022-07-26 05:20] #18785 closed

[2022-07-26 05:26] Josh-Cena commented on #16975
We can consider this done via https://github.com/mdn/content/pull/18748?

[2022-07-26 05:28] Josh-Cena commented on #18785
(Also note that FPS is different from animation speed / reduced motion. It's usually dramatic animation combined with low FPS that causes motion sickness. High FPS is AFAICT always desirable.)

[2022-07-26 05:29] #16975 closed

[2022-07-26 05:29] estelle commented on #2753
https://github.com/mdn/content/pull/18799

[2022-07-26 05:30] #2753 closed

[2022-07-26 05:31] #18443 closed

[2022-07-26 05:33] roVer169 opened #18800 "UN CER/EZO"
juang lin vivia para cuidar su jardin...ya su compañera habia partido hace tiempo. lo unico que mantenia firme el cordon entre las dos dimensiones, donde estaba ella con la que estaba el, era ese rimbombante jardin.
su favorito era ese cerezo. el primer verde habitante de aquel terreno que pronto rebalzaria de vecinos de los mas bellos que la naturaleza puede brindar. aquel hermoso jardin cumplia

[2022-07-26 05:35] #18800 closed

[2022-07-26 05:35] estelle commented on #17313
done.

[2022-07-26 05:36] sideshowbarker commented on #17313
Fixed in https://github.com/mdn/content/pull/18801

[2022-07-26 05:36] #17313 closed

[2022-07-26 05:49] teoli2003 commented on #18758
cc/ @Rumyra. This looks like it was in Firefox 101 and was missed. Maybe you can help here?

[2022-07-26 11:12] sideshowbarker commented on #10035
@RolandHeinze Thanks for raising this. I’ve opened https://github.com/mdn/browser-compat-data/pull/17136 with a fix that adds the necessary data to BCD.

After that fix is merged, this issue will automatically be marked as resolved, and closed.

@NiedziolkaMichal

Thanks for confirming that. Per https://github.com/WebKit/WebKit/commit/b64b4d1 it seems this shipped in Safari 15.4.

I tested with th

[2022-07-26 12:21] #10035 closed

[2022-07-26 13:55] kalesandhya opened #18814 "iOS older versions not supporting the custom Intl.NumberFormat implementation for global number format"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat

### What specific section or headline is this issue about?

Older version of iOS 11.x, 12.x & 13.x not compatible with Intl.numberformat custom implemnetation

### What information was incorrect, unhelpful, or incomplete?

[code]

This code snippet raising a console error as, _RangeErro

[2022-07-26 13:56] alattalatta opened #18815 "Broken syntax macro"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/CSS/font-style

### What specific section or headline is this issue about?

Formal syntax

### What information was incorrect, unhelpful, or incomplete?

<img width="120" alt="image" src="https://user-images.githubusercontent.com/9212605/181023704-f95ecd3b-8930-4eef-b11f-263e94fb18e8.png">

I can see the raw macro.

### What did you expect

[2022-07-26 14:19] MarjaE2 commented on #18785
In my experience, *both* flashing *and* smooth animation make me sick. So no, smoother is not better. I have to disable smooth scrolling, and I still get sick from a lot of sites which inflict smooth zooming, or ease in-out, or their own special smooth scrolling via Javascript, and so on.

In addition, the page has a number of non-scrolling elements protruding into the upper right corner, which ar

[2022-07-26 14:19] Josh-Cena commented on #18814
According to the browser compatibility table, `options.currencyDisplay` is only supported in Safari >14.1 and Safari iOS >14.5.

[2022-07-26 14:35] angelayanpan opened #18817 "Hierarchy of the example is not ordered correctly? or suppose to be not ordered?"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context

### What specific section or headline is this issue about?

The stacking context

### What information was incorrect, unhelpful, or incomplete?

Reading below bullet points:

and then reading the later part:

So if both of these are correct,  then "hierarchy" and the "rendering

[2022-07-26 14:39] queengooborg commented on #18814
Actually, the option is _fully_ supported since Safari 14.1 -- if you click on the table cell, you can see that the feature was supported since Safari 10, however the `narrowSymbol` value was not supported.  That seems to be what is confirmed here by the issue author based upon the code sample provide, so there isn't any action to take on this issue.

[2022-07-26 14:39] #18814 closed

[2022-07-26 14:43] Josh-Cena commented on #18814
Oooh yeah I see that now :D

[2022-07-26 16:56] prideout opened #18818 "ResizeObserverOptions is not an array"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/ResizeObserverEntry/devicePixelContentBoxSize

### What specific section or headline is this issue about?

ResizeObserverEntry

### What information was incorrect, unhelpful, or incomplete?

The example shown on this page is incorrect and inconsistent with the spec and other examples at MDN, because the box options should not be an arra

[2022-07-26 17:21] teoli2003 commented on #18818
The spec says it is a `FrozenArray` so it looks correct to me.

[2022-07-26 18:20] prideout commented on #18818
Link?  I don't see the box options represented as a `FrozenArray` in either the November or February drafts:
- https://drafts.csswg.org/resize-observer/#resize-observer-interface
- https://www.w3.org/TR/resize-observer/#resize-observer-interface

(However some of the `ResizeObserverEntry` fields are indeed arrays.)

Here are the relevant snippets from the first of the above links:

[code]

[code]

[2022-07-26 20:00] teoli2003 commented on #18818
I read the wrong entry. You are right.

Fix incoming in #18821.

[2022-07-26 23:12] Sethsg7 opened #18823 "HTML Cheatsheet doc is missing an explanation of <div> element"
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/HTML/Cheatsheet

### What specific section or headline is this issue about?

The HTML Cheatsheet.

### What information was incorrect, unhelpful, or incomplete?

There is no explanation of `<div>` whatsoever.

### What did you expect to see?

An example of how `<div>` is used.

### Do you have any supporting links, references, or citation

[2022-07-27 01:10] Jack-Zhang-1314 opened #18824 "errors about the bottom of the URL_Pattern_API page"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/URL_Pattern_API

### What specific section or headline is this issue about?

NO. At the bottom It has something that it should not have.

### What information was incorrect, unhelpful, or incomplete?

![Web capture_27-7-2022_9427_developer mozilla org](https://user-images.githubusercontent.com/82551626/181138696-56fc6aa4-851d-4b15-bdb9-

[2022-07-27 02:01] sideshowbarker commented on #18815
Thanks much for raising this and investigating and finding the https://github.com/csstree/csstree/issues/192 connection

For the record here, pasting in the stack trace:

[code]

And the syntax statement it’s attempting to parse is:

https://drafts.csswg.org/css-fonts/#font-style-prop

And `<angle [−90deg,90deg]>` is specifically mentioned in https://github.com/csstree/csstree/issues/192 as an exa

[2022-07-27 02:49] #18818 closed

[2022-07-27 03:06] sideshowbarker commented on #6277
@MatsPalmgren This is waiting on your response to https://github.com/mdn/content/issues/6277#issuecomment-1092440864

[2022-07-27 07:27] Andrew-Cottrell commented on #18555
The following examples place the `<div role="tabpanel">` elements after the `<div role="tablist">` element — as in your second sample — so I assume that is the recommended approach.

- https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/tab_role#example
- https://w3c.github.io/aria-practices/examples/tabs/tabs-automatic.html#sc1_label
- https://w3c.github.io/aria-practices/exampl

[2022-07-27 08:05] Andrew-Cottrell commented on #18823
The [HTML Cheatsheet](https://developer.mozilla.org/en-US/docs/Learn/HTML/Cheatsheet) appears to focus on elements that are useful for creating accessible rich text snippets.

It specifically calls out the requirement that HTML tags be used for their semantics.

The `div` element is devoid of semantics and those who are aware of it can always refer to its page

I suggest `div` not be added to the

[2022-07-27 08:44] Britnell opened #18843 "onscroll performance optimization"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/Document/scroll_event

### What specific section or headline is this issue about?

"the optimization below is often unnecessary"

### What information was incorrect, unhelpful, or incomplete?

I think giving the example while saying it is often unnecessary is confusing, there should be a  little more information on when and why it is ne

[2022-07-27 10:11] #17474 closed

[2022-07-27 12:02] #18774 closed

[2022-07-27 12:04] #18823 closed

[2022-07-27 12:04] sideshowbarker commented on #18823
@Andrew-Cottrell Thank, agreed

@Sethsg7 Thanks for raising this — as alluded to in https://github.com/mdn/content/issues/18823#issuecomment-1196396290, it seems that the `div` element is intentionally not included in the cheatsheet , because it’s not an element that  represents a specific structure or that has special semantics.

Given that, I’ve opened #18849 for adding a note with an explanatio

[2022-07-27 12:07] #6586 closed

[2022-07-27 13:08] Josh-Cena commented on #18762
I'm okay with duplicating it in both places, or removing it from the `TypedArray` page, but I don't have great ideas about how to do this before #18002 either.

[2022-07-27 14:05] kalesandhya commented on #18814
Thanks for updates on this thread & providing all the details.
Going ahead with the 'symbol' as currencyDisplay option so that is now compatible with older versions of iOS.

[2022-07-27 15:26] JackHowa opened #18853 "Srcset doc has contradictory info for srcset string"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/picture

### What specific section or headline is this issue about?

srcset attribute https://developer.mozilla.org/en-US/docs/Web/HTML/Element/picture#the_srcset_attribute

### What information was incorrect, unhelpful, or incomplete?

The list of srcset should include a density pixel or a width -- not both for within a string

[2022-07-27 15:37] AnsBdran opened #18855 "A mistake in the provided example."
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Loops_and_iteration

### What specific section or headline is this issue about?

while statement, example one

### What information was incorrect, unhelpful, or incomplete?

the changing in the value of "x" as you describe it is false, after the first pass: the value of n is 1, that's true, BUT; if you look at the MDN docum

[2022-07-27 15:42] Josh-Cena commented on #18855
<img width="198" alt="image" src="https://user-images.githubusercontent.com/55398995/181290312-dc938767-046a-42e2-b546-f35d1039c335.png">

Doing some quick experiment will help.

Postfix increment means the _value_ is returned before it's incremented. It's desugared to:

[code]

So if `n++;` appears on its own, it has the same effect as `n = n + 1`.

[2022-07-27 15:42] #18855 closed

[2022-07-27 15:50] AnsBdran commented on #18855
![image](https://user-images.githubusercontent.com/83476254/181292142-e0d69390-067b-4ab2-b072-acabb7d50246.png)
you are right, I forget that i edited the syntax of the loop example.
sorry for that.

[2022-07-28 02:10] #18853 closed

[2022-07-28 02:19] sideshowbarker commented on #18196
see https://github.com/mdn/content/pull/18847#issuecomment-1197571660

[2022-07-28 09:56] joekingTheThird3 opened #18888 "Description of @layer"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/CSS/@layer

### What specific section or headline is this issue about?

description

### What information was incorrect, unhelpful, or incomplete?

'Rules within a cascade layer cascade together, giving more control over the cascade to web developers. Any styles not in a layer are gathered together and placed into a single anonymous layer t

[2022-07-28 10:35] #17469 closed

[2022-07-28 11:06] Rumyra commented on #18758
Thanks @teoli2003 - yes the original bug didn't have `dev-doc-needed` so it was unfortunately missed, I've added it to out release project and we should be able to tackle it 👍

[2022-07-28 11:19] Rumyra commented on #18421
This is a page for beginners and pointing them to a popular ide to get them started is within the scope of content. Agree with @Josh-Cena here

As such I'm closing this issue, but thanks for raising it @wgrlogin - further to the other comments this raised I've open a discussion about the 'Getting started with the web' area https://github.com/mdn/mdn-community/discussions/161

[2022-07-28 11:20] #18421 closed

[2022-07-28 11:28] Rob--W commented on #15059
The limitations are documented: the section mentions that cloneInto "... uses the [structured clone algorithm](https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Structured_clone_algorithm) to clone the object", and that link lists all supported types.

The error "Encountered unsupported value type" is self-explanatory: the type is not supported; a Promise cannot be cloned.

In the s

[2022-07-28 17:00] vmeet24 opened #18901 "Hoisting of let and const"
### MDN URL

https://developer.mozilla.org/en-US/docs/Glossary/Hoisting

### What specific section or headline is this issue about?

_No response_

### What information was incorrect, unhelpful, or incomplete?

![Screenshot 2022-07-28 125439](https://user-images.githubusercontent.com/47553376/181594659-58c0a3e8-9b9d-4545-8c05-2dd507a2f1ac.png)

### What did you expect to see?

Although the accessi

[2022-07-28 17:06] najmiehsa commented on #18551
I take this issue.

[2022-07-28 21:29] Marcela-Riveros opened #18908 "Problema con imágenes que no se muestran en la pagina, en idioma Español"
### MDN URL

https://developer.mozilla.org/es/docs/Learn/Getting_started_with_the_web/What_will_your_website_look_like

### What specific section or headline is this issue about?

Complete beginners start here!

### What information was incorrect, unhelpful, or incomplete?

Las imágenes como tal, no se muestran correctamente cuando se elige el lenguaje Español, con los otros idiomas se muestran bi

[2022-07-28 23:49] hamishwillee commented on #18901
No, the information is correct. When you run the code you get the reference error.

![image](https://user-images.githubusercontent.com/5368500/181655051-340c99e4-f32d-409b-bd47-b4c84e8135a6.png)

I don't know why the script variable x is shown as `undefined`. Perhaps @Josh-Cena might know.

[2022-07-29 00:01] Seirdy commented on #18758
On Mon, Jul 25, 2022 at 09:06:05AM -0700, Rohan Kumar wrote:

Correction: `inline-size` can in fact be combined with other values, but not `content`.

`contain: layout paint inline-size` should be equivalent to strict containment with the exception of the block axis. `contain: content inline-size` is invalid.

--
Seirdy (https://seirdy.one)

[2022-07-29 00:15] vmeet24 commented on #18901
I am not saying that it won't throw an error, but they are also initialized with the default `undefined` value just like the `var` variable it's just `let` and `const` are created in a different scope.

[2022-07-29 00:56] hamishwillee commented on #18901
@vmeet24 If the value was initialized to `undefined` you would not get _any_ error, as `undefined` is a valid value to log or access.

The fact you get a `ReferenceError` tells you that the value is uninitialized or does not exist. That's what [ReferenceError](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/ReferenceError) means.

Are you basing your thinking on an

[2022-07-29 01:40] Josh-Cena commented on #18901
Hi @vmeet24

It's often unclear to me what "hoisting" means. It's only meant to be a mental model, not rigorous terms used in the spec. I've expressed the same concern here: https://github.com/mdn/content/pull/18571

Basically, you are right: lexical declarations are hoisted. If they aren't hoisted, there's no way to implement temporal dead zone at all! Consider this code:

[code]

If `let x` is n

[2022-07-29 02:10] vmeet24 commented on #18901
ahh, maybe I missed this part from the docs.

When we say "hoisting", we really mean that "a variable can be safely used anywhere in this scope because the interpreter has already declared it as undefined". Otherwise, if accessing a variable always throws a reference error, I personally wouldn't care if it's because I'm in the TDZ, or because it's undeclared at all.

From the pragmatic point of vi

[2022-07-29 02:12] Josh-Cena commented on #18901
As I said, it largely depends on how you interpret "hoist". If accessing it always throws a `ReferenceError` I personally don't feel like it's hoisted.

[2022-07-29 02:28] hamishwillee commented on #18901
MDN has wasted endless time on this point. I am pretty sure that whatever we do someone will complain.

I _think_ the right way to address this might be to remove almost all mentions of hoisting in the docs and replace them with explicit explanation of the declaration being moved to global scope vs where initialization happens.

Then the hoisting article could be updated to explain that it was his

[2022-07-29 03:03] sideshowbarker commented on #18888
Sounds to me like it would be, yes

If that diagram is licensed in a way that’d allow us to re-use it, then I think it would be great to include it in the https://developer.mozilla.org/en-US/docs/Web/CSS/@layer article

Can you put a PR together?

[2022-07-29 05:02] #14783 closed

[2022-07-29 08:00] hamishwillee commented on #8617
All done!

[2022-07-29 10:47] Rumyra commented on #8617
Great! Thanks @hamishwillee \o/

[2022-07-29 10:47] #8617 closed

[2022-07-29 12:04] travisricks opened #18934 "Page refers to images that aren't visible"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial

### What specific section or headline is this issue about?

Canvas tutorial - introduction

### What information was incorrect, unhelpful, or incomplete?

### What did you expect to see?

There don't seem to be any images on this page. Should there be a link to another page?

### Do you have any supporting links, re

[2022-07-29 12:10] erosman opened #18936 "Background scripts: Snippet requires correction"
### MDN URL

https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Background_scripts

### What specific section or headline is this issue about?

Filter events

### What information was incorrect, unhelpful, or incomplete?

[code]

Above Code snippet (transferred from [Filter events](https://developer.chrome.com/docs/extensions/mv2/background_pages/#filters)) includes `alert()` w

[2022-07-29 12:34] teoli2003 commented on #18936
A simple log to the console, like `console.log()` should work.

[2022-07-29 16:39] ckundo opened #18943 "correction: `disabled` does not remove DOM nodes from the a11y tree"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Attributes/aria-disabled

### What specific section or headline is this issue about?

Description

### What information was incorrect, unhelpful, or incomplete?

the article states the `disabled` attribute removes the node from the accessibility tree when it does not. discouraging people to use native attributes with inco

[2022-07-29 16:46] scottaohara commented on #18943
FYI: i'm in the process of revising this article to help mitigate misunderstandings like these, among other elaborations/revisions to the page.

[2022-07-29 17:52] najmiehsa commented on #18817
I take this issue.

[2022-07-29 18:16] angelayanpan commented on #18817
thanks!

I was reading the issue again.  just want to point out the main confusion was .... I read the first bullet points, I was like "why is Div3 not ordered in between 1 and 2?"
I wondered about that for a while.  then I read more further down the page, and then I saw the second list.

[2022-07-29 18:20] najmiehsa commented on #18817
This is actually a good point because I had forgotten about the difference between hierarchy and rendering order.

[2022-07-29 20:21] bramus commented on #18888
What license does it need to be?

[2022-07-29 21:32] slim-codes opened #18949 "Missing distinction between a class and a component in Angular"
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Angular_getting_started

### What specific section or headline is this issue about?

The class under The structure of an Angular application

### What information was incorrect, unhelpful, or incomplete?

I find the **class** subsection under [The structure of an Angular application](htt

[2022-07-30 00:12] sideshowbarker commented on #18888
For MDN purposes any license that allows the work to be reused is fine. Otherwise it’s up to you — with the main choice you need to make being whether or not you want to require attribution.

If you don’t want to require attribution, then [CC0](https://creativecommons.org/publicdomain/zero/1.0/) is good, and the [MIT license](https://choosealicense.com/licenses/mit/) is also good.

If you do want

[2022-07-30 08:13] sideshowbarker commented on #18934
Thanks for catching this — I’ve opened #18962 with a change that drops the entire sentence.

After that fix is merged, this issue will automatically be marked as resolved, and closed.

[2022-07-30 17:38] dodo-the-dev opened #18970 "Same image, different resolution demo page missing other image file sizes"
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images

### What specific section or headline is this issue about?

https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images#resolution_switching_same_size_different_resolutions

### What information was incorrect, unhelpful, or incomplete?

In the section abou

[2022-07-30 18:27] #18934 closed

[2022-07-30 19:14] de-oz opened #18971 "Empty embedded live samples"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/DOMTokenList

### What specific section or headline is this issue about?

_No response_

### What information was incorrect, unhelpful, or incomplete?

DOMTokenList API page has empty space under the "The output looks like this:" statement. The same issue is present on many other pages of different methods of this API (some of which are

[2022-07-31 00:15] sideshowbarker commented on #18971
I can’t reproduce the problem described. Instead, I see output there as expected:

![image](https://user-images.githubusercontent.com/194984/182004246-02534502-c521-48bd-8fb4-c48af3965c00.png)

I tested in Safari, Chrome, and Firefox, and in all of them the output is shown as expected.

Which browsers have you tested in, and is the output missing in all browsers you’ve tried?

When you open browse

[2022-07-31 01:32] Overlandcoder opened #18972 "Confusion about "Test your skills" section"
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/Forms/UI_pseudo-classes

### What specific section or headline is this issue about?

_No response_

### What information was incorrect, unhelpful, or incomplete?

https://developer.mozilla.org/en-US/docs/Learn/Forms/Advanced_form_styling
https://developer.mozilla.org/en-US/docs/Learn/Forms/UI_pseudo-classes

The "Test your skills" section

[2022-07-31 05:23] teoli2003 commented on #18971
This also looks good for me. Maybe you have some extension interfering? These examples are in `<iframe>` elements.

[2022-07-31 05:58] de-oz commented on #18971
You're right and I'm sorry, indeed it was an extension that caused this problem for me. I should've thought about this.

[2022-07-31 05:58] #18971 closed

[2022-07-31 14:22] shubham-y opened #18986 "Incorrect Hyperlink to a section on a page"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date

### What specific section or headline is this issue about?

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date#value

### What information was incorrect, unhelpful, or incomplete?

The [hyperlink ](https://developer.mozilla.org/en-US/docs/Web/HTML/Date_and_time_formats#format_of_a_valid_date_string

[2022-07-31 18:00] najmiehsa commented on #18551
@bernardobelchior Would you please check the PR to see if everything is done accordingly?

[2022-07-31 23:11] FuNNyGuYz69 opened #18993 "Firefox"
## Acceptance Criteria

- [x] The listed features are documented sufficiently on MDN
- [x] BCD is updated
- [x] Interactive example and data repos are updated if appropriate
- [ ] The content has been reviewed as needed

### For folks helping with Firefox related documentation

- [ ] Set bugs to `dev-doc-complete`
- [ ] Add entry to Firefox release notes if feature is enabled in release
or
- [ ] A

[2022-08-01 00:15] hamishwillee commented on #18993
Please don't create sandbox issues on this repository. This wastes time for the review team

[2022-08-01 00:15] #18993 closed

[2022-08-01 02:26] hamishwillee opened #18998 "FF104 should support serialisation and cloning of stack in error classes"
## Acceptance Criteria

- [x] The listed features are documented sufficiently on MDN
- [x] BCD is updated
- [x] Interactive example and data repos are updated if appropriate
- [x] The content has been reviewed as needed

### For folks helping with Firefox related documentation

- [x] Set bugs to `dev-doc-complete`
- [x] Add entry to Firefox release notes if feature is enabled in release
or
- [ ] A

[2022-08-01 02:27] WhiteN9 commented on #18986
Hello, I would like to attempt this one!

[2022-08-01 02:40] hamishwillee commented on #18986
Sure @WhiteN9 - thanks!

[2022-08-01 02:58] mzguilhermecarvalho opened #19002 "Compatibility issue."
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/Navigator/share

### What specific section or headline is this issue about?

Compatibility

### What information was incorrect, unhelpful, or incomplete?

I'm using Chrome version 103 on Linux, and still not supporting this feature. But in the compatibility table, shows that it is compatible.

### What did you expect to see?

That in th

[2022-08-01 03:15] ixcw opened #19005 "Error: array1.findLast is not a function"
In the JavaScript document, the findLast function of the array, when run the example test, console printed the error message:
`Error: array1.findLast is not a function`
Please fix this issue.

[2022-08-01 03:17] WhiteN9 commented on #18986
I've opened [19033](https://github.com/mdn/content/pull/19003) with a change to the hyperlink. Please take a look and let me know if it is fine.
Also, if you don't mind, can you guide me a bit on how to run this locally? I tried to follow the readme up to `local preview service is available at http://localhost:5042/` but after I ran `yarn start`, I got `Folder contains whitespace which is not allo

[2022-08-01 03:30] Josh-Cena commented on #19005
Please check your browser version. According to https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/findLast#browser_compatibility, it's only supported in recent versions of modern browsers.

[2022-08-01 03:39] hamishwillee commented on #18775
Yes, there is quite a lot missing in this area. I'll have a look.

Status:

- [ ] BCD
- [ ] Docs
- [ ] Release notes
- [ ] dev-doc-complete

[2022-08-01 04:24] sideshowbarker commented on #18949
Fixed in https://github.com/mdn/content/pull/18992

[2022-08-01 04:24] #18949 closed

[2022-08-01 04:38] sideshowbarker commented on #19002
Thanks for catching this and reporting it. In Chromium-based browsers, `navigator.share` is not yet supported on any platforms other than Windows or ChromeOS. See https://caniuse.com/web-share

So we need to update the compatibility data in BCD with a note, and therefore I’m transferring this to the BCD issue tracker.

[2022-08-01 05:26] teoli2003 commented on #19005
![Capture d’écran 2022-08-01 à 07 26 20](https://user-images.githubusercontent.com/1466293/182078074-53dd5bf5-c02f-4273-92a7-6b4ffbc0e711.png)

[2022-08-01 05:38] zloirock commented on #19005
@teoli2003
- Node.js: 18.0
- Opera Android: 68
- Samsung Internet: 18.0

[2022-08-01 06:01] teoli2003 commented on #19005
@zloirock Can you open an issue in mdn/browser-compat-data ? Thanks!

[2022-08-01 06:10] zloirock commented on #19005
@teoli2003 I regularly see the problem with compat data mirroring, so I think that makes no sense to open an issue only about it. I think that it should be fixed fundamentally and you know better than me where it can be fixed.

[2022-08-01 06:13] teoli2003 commented on #19005
cc/ @queengooborg

[2022-08-01 06:22] zloirock commented on #19005
For example, how it works in `core-js`: it has similar data about used engine versions. On building compact data, it's copied from the base engine if it's not set directly and follows some condition - for example, for Chrome -> NodeJS it's ECMAScript only.

[2022-08-01 06:22] hamishwillee commented on #18775
My test code for .disabled (a note)
[test_svgstyleelement.zip](https://github.com/mdn/content/files/9231434/test_svgstyleelement.zip)

[2022-08-01 06:34] najmiehsa commented on #18970
I take this issue ^^

[2022-08-01 06:42] #18986 closed

[2022-08-01 07:22] ixcw commented on #19005
thanks guys, I don't have this issue with chrome browser. it should be a browser compatibility issue, but i do hope you guys can fix it with all the different browser editions, I guess the test code is running on the local browser, is this right?  so i think maybe you guys can build a cloud server to run the code? of course, it's just my little advise, if it costs too much or it's difficult to imp

[2022-08-01 07:29] hamishwillee commented on #19005
@teoli2003 I don't understand the problem.
- The docs are correct.
- The BCD is correct. It works on the versions that it says it work on.
- The interactive example does fail on FF, exactly as you would expect based on the BCD.

So this is all the MDN "standard". Yes we could make the interactive example check for support, but that would be pretty messy, and unnecessary IMO.

[2022-08-01 07:49] teoli2003 commented on #19005
Yes, there is no problem with the page. The only potential problem (and I don't know if it is the case) is that it could, eventually, work on Samsung Internet, Node.js, and Opera Android, which is what Denis is saying. (And why I copied Vinyl). The BCD may be incomplete.

But there is no problem with the page itself: it is a new feature, the example will work only on browsers where the feature is

[2022-08-01 07:50] teoli2003 commented on #19005
We don't plan to build a cloud server to run the code, the goal is for the reader to have an easy way to verify if a feature work on a specific browser.

[2022-08-01 07:50] #19005 closed

[2022-08-01 11:34] alirezahs1 opened #19018 "“see the source code too” link in “From object to iframe” doc is 404 (the “gh-pages” branch part of the URL should be “main”)"
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Other_embedding_technologies

### What specific section or headline is this issue about?

Security Concerns

### What information was incorrect, unhelpful, or incomplete?

A quick example first though — try loading the previous example we showed above into your browser — you can [find it live on GitHub](https

[2022-08-01 13:46] sideshowbarker commented on #19018
There’s no 404 response shown when I follow the _“you can [find it live on GitHub](https://mdn.github.io/learning-area/html/multimedia-and-embedding/other-embedding-technologies/iframe-detail.html)”_ link indicated in the issue description.

Instead a page is shown; and in Firefox at least there’s a message similar to what the paragraph in the MDN article that link’s in states will be shown — whic

[2022-08-01 14:04] Josh-Cena commented on #19018
@sideshowbarker The link the OP is referring to is the GitHub source link: https://github.com/mdn/learning-area/blob/gh-pages/html/multimedia-and-embedding/other-embedding-technologies/iframe-detail.html

[2022-08-01 14:17] sideshowbarker commented on #19018
Ah, OK yeah, I see now I didn’t read the issue description carefully enough. Thanks for catching it

[2022-08-01 14:57] novellac opened #19023 "Reference to HTMLInputElement.files needs documentation"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/capture

### What specific section or headline is this issue about?

See Also section (https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/capture#see_also)

### What information was incorrect, unhelpful, or incomplete?

Under the [See Also](https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/capture#see_al

[2022-08-01 15:38] Rumyra commented on #18775
FWIW SVG docs update is on my content strategy, as I agree the whole area could do with a good update 👍

[2022-08-01 17:06] Gogolix opened #19028 "Content suggestion: <TITLE OF SUGGESTION>"
## What is the new suggestion?

## Why is it important or useful?

## Other supporting information

[2022-08-01 18:32] Gogolix opened #19031 "I'd approve, but I can't, since I authored."
I'd approve, but I can't, since I authored.

_Publicado originalmente por @ekpyron en https://github.com/ethereum/solc-js/pull/542#issuecomment-899569816_

[2022-08-01 20:07] dcht00 opened #19032 "Indicate origin needs to include PROTOCOL"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSAllowOriginNotMatchingOrigin

### What specific section or headline is this issue about?

Please add a new warning section

### What information was incorrect, unhelpful, or incomplete?

A warning that including the protocol is needed!

Apparently:

Bad↓
[code]
Good↓
[code]

### What did you expect to see?

As above

##

[2022-08-01 20:08] AshkanArabim opened #19033 "Code line numbers overlap with line content."
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign

### What specific section or headline is this issue about?

"Try it"

### What information was incorrect, unhelpful, or incomplete?

Nothing was incorrect.
There is a problem with the layout of the editable code box under "Try it" where line numbers overlap code and make code hard to read.

[2022-08-01 20:10] #19018 closed

[2022-08-01 23:00] estelle commented on #5022
fixed in https://github.com/mdn/content/pull/19035

[2022-08-01 23:00] #5022 closed

[2022-08-01 23:16] hamishwillee commented on #19031
Closing, as this has nothing to do with MDN.

[2022-08-01 23:16] #19031 closed

[2022-08-01 23:17] hamishwillee commented on #19028
@Gogolix Please stop using MDN as a sandbox. The messages waste the review team's time.

[2022-08-01 23:17] #19028 closed

[2022-08-01 23:23] Gogolix commented on #19028
No lo entiendo

[2022-08-01 23:41] hamishwillee commented on #19028
por favor deja de publicar basura en este repositorio

[2022-08-02 00:30] hamishwillee commented on #18998
Status

- [ ] BCD - done but fix typo https://github.com/mdn/browser-compat-data/pull/17176
- [ ] Docs - no actual docs
- [ ] Release notes - https://github.com/mdn/content/pull/19038
- [ ] dev-doc-complete - not doing - more updates will follow on this same bug.

This is done bar reviews

[2022-08-02 02:04] #18943 closed

[2022-08-02 02:08] #18551 closed

[2022-08-02 03:24] Josh-Cena commented on #19033
I've also hit it in the past, and there are duplicate issues: https://github.com/mdn/content/issues/13531

This isn't reproduced consistently in my browser—in fact, probably once every 100 visits—and usually works after a refresh. But I have a feeling this has something to do with wrong hydration order. @mdn/core-dev it's probably a pain but could you investigate?

[2022-08-02 08:50] GHNewbiee opened #19051 "Array article should have guidance on how to avoid use of negative indices"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array

### What specific section or headline is this issue about?

Notes

### What information was incorrect, unhelpful, or incomplete?

Instructions how to overcome the need of using **negative indices**.

**1st Example**
I have the consecutive numbers: `x: -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5` and a fun

[2022-08-02 10:35] Josh-Cena commented on #19051
You seem to have realized yourself that `result[-5] = f(-5);` is functionally equivalent to `result["-5"] = f(-5);`, i.e. it sets a normal property on the array without actually changing the length. It seems like a weird intuition to set the `-5` index and expect it to magically become the first element (or... the "-5th element"?) of the array. Does it work like that in any language? I'll admit I

[2022-08-02 11:18] chrimez commented on #14018
seems my input has not been of much help...

[2022-08-02 11:40] #17470 closed

[2022-08-02 11:51] GHNewbiee commented on #19051
Please, have a look at the [Comparison of programming languages (array)](https://en.wikipedia.org/wiki/Comparison_of_programming_languages_(array)).

[2022-08-02 11:56] Josh-Cena commented on #19051
I was not asking "does any language allow you to index with negative numbers" because I know quite a few that do. I'm asking if there's any language where `arr[-1] = 1` sets "the element before index 0" rather than "the last element of the array"—assuming that's what your desired effect is. The only one I know is C, but C arrays aren't arrays anyway. What do you intend to accomplish when you do `a

[2022-08-02 17:22] najmiehsa commented on #18970
@dodo-the-dev Have you checked this https://mdn.github.io/learning-area/html/multimedia-and-embedding/responsive-images/responsive.html ? because this image has two different sizes:

` <picture>
          <source media="(max-width: 799px)" srcset="elva-480w-close-portrait.jpg">
          <source media="(min-width: 800px)" srcset="elva-800w.jpg">
          <img src="elva-800w.jpg" alt="Chris standi

[2022-08-02 17:46] victoriacheng15 opened #19065 "Incorrect capitalized title and side menu link for radiogroup role"
### MDN URL

https://developer.mozilla.org/en-US/docs/web/accessibility/aria/roles/radiogroup_role

### What specific section or headline is this issue about?

incorrect capitalized title and side menu link

### What information was incorrect, unhelpful, or incomplete?

All titles are started with `ARIA:`  in uppercase while this radiogroup role title started with `aria:` in lowercase

### What di

[2022-08-02 18:20] Josh-Cena commented on #16813
The boxes seem all ticked. We can reopen if there's work not done yet.

[2022-08-02 18:20] #16813 closed

[2022-08-02 18:36] Josh-Cena commented on #16614
@teoli2003 did you get to do the last run-down? Judging from the recent unsuccessful attempts to change more vars to consts, I'm pretty confident it's all done.

[2022-08-02 18:40] Josh-Cena commented on #16766
Fixed by https://github.com/mdn/content/pull/17433

[2022-08-02 18:40] #16766 closed

[2022-08-02 21:38] briancodes opened #19071 "Confusing description of Worker message event"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/Worker/message_event

### What specific section or headline is this issue about?

Top level description

### What information was incorrect, unhelpful, or incomplete?

### What did you expect to see?

A clearer description of the event

### Do you have any supporting links, references, or citations?

_No response_

### Do you have anyth

[2022-08-02 23:01] SebastianZ opened #19075 "Add `inert` attribute"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes

### What specific section or headline is this issue about?

List of global attributes

### What information was incorrect, unhelpful, or incomplete?

The specifications list and the browser compat table already include the global `inert` attribute but the list of attributes is still missing it.

### What did you expe

[2022-08-03 02:57] Isaac108 commented on #18762
I don't believe this is an issue. I believe this was done for the sake of clarification or a cordial reminder.

[2022-08-03 03:17] #16668 closed

[2022-08-03 03:24] Isaac108 commented on #19075
Looking into it.

[2022-08-03 03:44] sideshowbarker commented on #19065
Thanks much for catching this and reporting it — I’ve opened #19088 with a fix.

After that fix is merged, this issue will automatically be marked as resolved, and closed.

[2022-08-03 04:14] Josh-Cena commented on #19051
@GHNewbiee would be great if you can elaborate, else it's not really actionable

[2022-08-03 04:23] Isaac108 commented on #19075
Submitted a pull that gave a general overview of the inert attribute.

[2022-08-03 04:25] #19065 closed

[2022-08-03 04:47] #19032 closed

[2022-08-03 05:31] Josh-Cena commented on #18762
It doesn't have to be duplicated everywhere now—ES6 has been 7 years and I doubt a lot of people even know that you used to be able to construct typed arrays without `new`. Since we have a BCD entry already, it may even make sense to remove it from all places except the generic TypedArray page.

[2022-08-03 06:35] teoli2003 commented on #16614
LGTM, let's close this one. \o/

[2022-08-03 06:35] #16614 closed

[2022-08-03 06:51] SukumarSV opened #19093 "aria-sort - Is not identifiable by the assistive tools."
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Attributes/aria-sort

### What specific section or headline is this issue about?

aria-sort - Is not identifiable by the assistive tools.

### What information was incorrect, unhelpful, or incomplete?

Ive gone through the example of sortable table, the change occurred on sorting is not announced to the user. So the sorti

[2022-08-03 06:55] #17860 closed

[2022-08-03 07:21] GHNewbiee commented on #19051
@Josh-Cena Take it easy! My mobile phone it is not an ear-ring; my laptop is not a finger-ring, too; the internet connection is not a head-cap; and my time is not `Infinite`!

[2022-08-03 07:47] GHNewbiee commented on #19051
I have the following table:
[code]
For each pair (x, y) a number is calculated by means of function f(x, y).

I would like the most **natural** (in a point of making sense) way to store the calculated numbers. For example:

`array[x][y] = f(x, y)` ie `array[-2][3] = f(-2, 3) = 6`

*Tia*

[2022-08-03 07:49] sideshowbarker commented on #11610
Thanks for raising this. I finally got around to writing up and fix, and opened https://github.com/mdn/content/pull/19096.

After that fix is merged, this issue will automatically be marked as resolved, and closed.

[2022-08-03 07:53] Josh-Cena commented on #19051
I see what you mean. I think we can make an "interesting" example with that—it would not be an array but would be fun to demonstrate anyway.

[2022-08-03 08:20] #11610 closed

[2022-08-03 08:42] sideshowbarker commented on #17459
Thanks for raising this — I’ve opened #19099 with a fix that un-links all the pages that are 404. That’s of course not an ideal fix — but I’m not aware of anyone at this point who plans on actually going in and creating any of those pages. So unless/until somebody does start to work on doing that, there’s no point in having the links.

After #19099 is merged, this issue will automatically be marke

[2022-08-03 08:47] #17459 closed

[2022-08-03 11:08] rogtheman opened #19104 "Content suggestion: <TITLE OF SUGGESTION>"
## What is the new suggestion?

## Why is it important or useful?

## Other supporting information

[2022-08-03 11:56] teoli2003 commented on #19104
Hi!

Unfortunately, you didn't provide any information about the issue you are reporting. We cannot act on it.

I'm closing it. If you return and provide more information, you are welcome to re-open it (or fill a separate issue).

Thanks a lot for your interest!

[2022-08-03 11:56] #19104 closed

[2022-08-03 14:25] etc-crontab opened #19114 "Document.title page contains a broken "Notes" link"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/Document/title

### What specific section or headline is this issue about?

The first paragraph of the "Value" section

### What information was incorrect, unhelpful, or incomplete?

At the end of the 1st paragraph of the "Value" section, there is:
"Otherwise, it contains the title specified in the markup (see the [Notes](https://develo

[2022-08-03 15:08] teoli2003 commented on #19114
Thanks, good catch!

I opened a PR to get this fixed. When it is merged, this issue will be automatically closed.

[2022-08-03 16:02] Chaitanya7666 commented on #19071
Hey @sideshowbarker , Could you please tell me that with `help wanted` tag, are you asking the creator of the issue to elaborate more on the issue or does it mean that you are looking for someone to work on the issue? If it means the later, I would like to take it up.

[2022-08-03 16:02] Chaitanya7666 commented on #19071
Hey @sideshowbarker , Could you please tell me that with `help wanted` tag, are you asking the creator of the issue to elaborate more on the issue or does it mean that you are looking for someone to work on the issue? If it means the later, I would like to take it up.

[2022-08-03 17:03] #19114 closed

[2022-08-03 17:09] Guignome01 opened #19118 "Radiogroup role: Incorrect opening tag in the semantic example"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/roles/radiogroup_role

### What specific section or headline is this issue about?

Line 15 of the second code block in the semantic example

### What information was incorrect, unhelpful, or incomplete?

The opening tag is an `<li>` HTML element  while the closing tag is `<p>`.

![](https://user-images.githubusercontent.c

[2022-08-03 17:20] Josh-Cena commented on #18329
Waiting for someone to comment on this. My personal feeling is it doesn't matter since they are both phrasing content in whichever order. `code` cannot have `pre` as children because `pre` is not phrasing content. `sup` and `a` doesn't constitute a special combination unlike `pre` + `code`, so I personally don't see the point in documenting this. But I'm not HTML expert either.

[2022-08-03 17:30] rebloor commented on #18520
@TheDirigible it appears that this message is coming from the polyfill and there is an outstanding ticket https://github.com/mozilla/webextension-polyfill/issues/386 to address this.

[2022-08-03 17:30] #18520 closed

[2022-08-03 17:44] rebloor commented on #18525
@szmarczak while we do need to clarify the issue you've identified, I wanted to let you know that we have recently added a clarification to the [incognito ](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/incognito)manifest key to explain that permission for an extension to access private windows is under user control.

[2022-08-03 18:57] najmiehsa commented on #18780
@sideshowbarker hi, this requires over 10,000 changes and it is time-consuming for me.
I did the first 7 ones of this issue. Is it possible to merge this only?

[2022-08-03 19:56] teoli2003 commented on #18780
Can we wait before trying to solve this issue? @wbamberg will know what the best course of action is.

[2022-08-03 21:26] briancodes commented on #19071
Would it be an idea to have a standardized way of describing events - maybe using the terms like trigger, [dispatch](https://dom.spec.whatwg.org/#dispatching-events) and [listen](https://dom.spec.whatwg.org/#concept-event-listener)

For example with [mouseup](https://developer.mozilla.org/en-US/docs/Web/API/Element/mouseup_event) it says the `event is fired at an Element`

[2022-08-04 00:16] sideshowbarker commented on #19071
It means we are looking for someone to work on the issue

[2022-08-04 00:21] sideshowbarker commented on #19118
Thanks for catching this and reporting it — I’ve opened #19126 with a fix.

After that fix is merged, this issue will automatically be marked as resolved, and closed.

[2022-08-04 02:32] #15825 closed

[2022-08-04 04:03] najmiehsa commented on #18780
Ok.

[2022-08-04 04:44] #19118 closed

[2022-08-04 05:43] Chaitanya7666 commented on #19071
@briancodes, you have linked to [mouseup](https://developer.mozilla.org/en-US/docs/Web/API/Element/mouseup_event) & [Worker: message event](https://developer.mozilla.org/en-US/docs/Web/API/Worker/message_event). I see in the _top heading_ of both these events—we have used `fired` to describe the `firing up` of an event.

Could you please tell me what do you mean by **different terms** as I see tha

[2022-08-04 06:31] sideshowbarker commented on #12314
Closing per https://github.com/mdn/content/issues/12314#issuecomment-1018792695

[2022-08-04 06:31] #12314 closed

[2022-08-04 06:32] mhenr18 opened #19139 "Storage access documentation is misleading"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/Storage_Access_API/Using

### What specific section or headline is this issue about?

Accessing a user's cookies in an embedded cross-origin iframe

### What information was incorrect, unhelpful, or incomplete?

This section:

Seems to imply that the following code would work:
[code]

However that doesn't work properly in Safari - the `

[2022-08-04 06:36] sideshowbarker commented on #11674
The relevant document has since moved to https://firefox-source-docs.mozilla.org/devtools-user/about_colon_debugging/, so please re-raise this issue at https://bugzilla.mozilla.org/enter_bug.cgi?product=Developer+Infrastructure&component=Firefox+Source+Docs%3A+Content&short_desc=Documentation+issue+on+devtools-user/about_colon_debugging/index&comment=URL+=+https://firefox-source-docs.mozilla.org/d

[2022-08-04 06:36] #11674 closed

[2022-08-04 06:39] sideshowbarker commented on #11690
@padenot Is there any suggested replacement for the old `setOrientation()` and `setPosition()` methods of `PannerNode`? Or for the old `dopplerFactor` property of `AudioListener`?

[2022-08-04 06:44] sideshowbarker commented on #13616
I’m going ahead and closing this, given that per the comments above, there doesn’t seem to be any problem in the live samples in the https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation document itself, nor any problems with the other content of https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation itself.

As far as getting troubleshooting help in general in the cas

[2022-08-04 06:44] #13616 closed

[2022-08-04 06:48] teoli2003 commented on #11690
From the spec:
![Capture d’écran 2022-08-04 à 08 47 58](https://user-images.githubusercontent.com/1466293/182781868-78c055fe-2e3b-414b-bf71-c63f36200235.png)
![Capture d’écran 2022-08-04 à 08 48 07](https://user-images.githubusercontent.com/1466293/182781875-cd182387-1b4b-4be6-aad0-181b98937a16.png)

[2022-08-04 08:20] briancodes commented on #19071
@Chaitanya7666 You're right about the `fired` and `firing` terms - they're pretty consistent throughout the site

I guess it was more the _"fired on an object"_ vs _"fired at an element"_, but it's probably fine as is

[2022-08-04 08:53] sideshowbarker commented on #11690
@erikthysell Thanks for raising this — I’ve opened #19142 with updates to the docs that suggest replacements.

After that fix is merged, this issue will automatically be marked as resolved, and closed.

[2022-08-04 09:11] sideshowbarker commented on #13775
I tried setting `playsinline` on the `video` element but it didn’t make any difference — still no video is textured over the WebGL cube in the live sample.

[2022-08-04 09:19] keduhoutian opened #19144 "Is there an error in ’... ({ a, b } = { a: 1, b: 2 }) is valid, as is const { a, b } = { a: 1, b: 2 }.‘ ?"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment

### What specific section or headline is this issue about?

Binding and assignment => Note

### What information was incorrect, unhelpful, or incomplete?

{ a, b } = { a: 1, b: 2 } is not valid stand-alone syntax, as the {a, b} on the left-hand side is considered a block and not an ob

[2022-08-04 09:49] Chaitanya7666 commented on #19071
@sideshowbarker Requesting your thoughts on this. Could you please give me any suggestions on how to take this issue further?

[2022-08-04 09:57] Josh-Cena commented on #19144
We are talking about the _syntax_ here, not what happens afterwards. We are saying that if you want to assign, you have to wrap it in brackets; but if you are declaring fresh variables, there's no need to add the parens, hence `const { a, b } = { a: 1, b : 2 }`. "As is" does not mean "which is the same as"; it means "similarly".

[2022-08-04 09:57] #19144 closed

[2022-08-04 10:22] GHNewbiee opened #19147 "JavaScript design mistakes and weaknesses - Controversial features"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/JavaScript

### What specific section or headline is this issue about?

New section

### What information was incorrect, unhelpful, or incomplete?

Poor design decisions taken in the past have introduced a number of mistakes (logical or not) and weaknesses in the language.

A new section gathering and listing those ones would be pioneer (si

[2022-08-04 10:26] That-Guy977 opened #19149 "Several CSS Reference pages lack "Formal syntax""
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient#formal_syntax

### What specific section or headline is this issue about?

Format syntax, Formal definition

### What information was incorrect, unhelpful, or incomplete?

`{{csssyntax}}` tags break and yield "Error: could not find syntax for this item" on several pages. Case doesn't seem to matter, as I've foun

[2022-08-04 10:48] GHNewbiee commented on #19051
@Josh-Cena Try to be an array, because the workaround being asked is on array and not for fun.

[2022-08-04 11:29] islami00 opened #19153 "Include solution to checking if content is overflown in clientHeight page"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollHeight

### What specific section or headline is this issue about?

Problems and Solutions

### What information was incorrect, unhelpful, or incomplete?

N/A

### What did you expect to see?

A solution to the problem: How to know if an element is overflown vertically/horizontally

### Do you have any supporting links, re

[2022-08-04 11:45] Josh-Cena commented on #19149
Let's call it a duplicate of https://github.com/mdn/content/issues/18641 and https://github.com/mdn/content/issues/18780. They'll likely be fixed together anyway.

[2022-08-04 11:45] #19149 closed

[2022-08-04 12:29] Josh-Cena commented on #19051
The idea is to proxify an array. Arrays are exotic objects that observe assignments to `length` and indices. We just need to observe assignments to negative indices as well, and increment `length` accordingly. The "interesting" part is that `Array.isArray()` is the only method known to tear proxies apart, so even that would work with our array proxy.

[2022-08-04 12:39] sideshowbarker commented on #13775
https://stackoverflow.com/questions/73236080/texturing-webgl-with-frames-from-video-element-not-working-in-ios-safari is a Stack Overflow question I just now raised in the hope of getting some additional help with this.

[2022-08-04 12:51] MrBrain295 opened #19157 "Remove information about the event macro"
### MDN URL

https://developer.mozilla.org/en-US/docs/MDN/Writing_guidelines/Page_structures/Macros/Commonly_used_macros

### What specific section or headline is this issue about?

https://developer.mozilla.org/en-US/docs/MDN/Writing_guidelines/Page_structures/Macros/Commonly_used_macros#linking_to_pages_in_references

### What information was incorrect, unhelpful, or incomplete?

The event macro

[2022-08-04 12:54] Josh-Cena commented on #19157
`{{InterWiki}}` needs to be removed as well.

[2022-08-04 13:57] MrBrain295 commented on #19157
@Josh-Cena I would be happy to remove info about the Interwiki macro but I can’t find  any information about it.

[2022-08-04 14:00] Josh-Cena commented on #19157
Oh, apparently it's already removed in https://github.com/mdn/content/pull/18974. Sorry for the false alarm!

[2022-08-04 15:04] #11690 closed

[2022-08-04 22:46] timsartoris opened #19167 "I love the people that work(ed) on the accessibility pages."
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/Accessibility

### What specific section or headline is this issue about?

The Entire <main> content

### What information was incorrect, unhelpful, or incomplete?

Sorry to do this here but I really wanted to just thank the people responsible for providing all the GREAT content about accessibility on the MDN web pages.  I am fascinated by

[2022-08-04 22:59] hamishwillee commented on #19147
Who is the audience? What would they _do_ with the information?

My instinctive reaction is that this information might be interesting, but it would be of little use. Time could be better spent.

[2022-08-04 23:32] hamishwillee commented on #18901
Option one would be desirable to me if I thought it would work. Essentially it relegates hoisting to be "a useful way of describing a particular set of behaviours for functions". But the fact is that this won't work. If we define it this way we will be back where we started.

I lean towards the second, in particular if the "all" is true. Separating the declaration from the initialization part of t

[2022-08-04 23:45] hamishwillee commented on #16813
Thanks @Josh-Cena .

FYI only, I leave these open so @Rumyra can close them when she approves the work is done. They are tracked in https://github.com/orgs/mdn/projects/12/views/6
Doing this for released versions where the boxes are ticked is good.

[2022-08-05 01:44] Josh-Cena commented on #19147
I agree the audience would be really niche and it would basically be one of the "depths of MDN" pages.

[2022-08-05 05:22] sideshowbarker commented on #13775
After some trial-and-error, I discovered that the following combination causes the demo to work in all browsers:

* omit the `autoplay` attribute
* set the `playsInline` attribute

Specifically:

* On iOS, the demo will not work as expected if the `autoplay` attribute, but will work as expected if the the `playsInline` attribute is specified (as long as the `autoplay` attribute is _not_ specified)

[2022-08-05 07:01] #13775 closed

[2022-08-05 07:04] #19157 closed

[2022-08-05 07:07] GHNewbiee commented on #19051
Could be feasible for this to be implemented behind the scene as `Array.prototype.bound(x)` where x a negative number from which `Array.length` starts the count?

[2022-08-05 07:09] teoli2003 commented on #19147
I have a "red alert" alarm blinking here:
- lots of the choices here will be controversial
- only niche people will find this article
- beginners and intermediate people will continue to use the problematic features anyway.

I see risks but no positive outcome for the developers.

I would prefer to have (good) alternative suggested on actual problematic patterns/features documented. Somebody wante

[2022-08-05 07:13] teoli2003 commented on #19167
Thank you! I want to tag a few of these people (and I'm apologizing for the numerous people I forgot): @estelle @scottaohara @mdn/yari-content-accessibility, and many more over the years!

I will mark this issue as closed as it has been acted upon.

[2022-08-05 07:13] #19167 closed

[2022-08-05 07:22] Josh-Cena commented on #19147
Okay, maintainers seem to have a unanimous stance to close this ^^ 3/3, would close as wontfix. Thanks for your suggestion @GHNewbiee! If you want to summarize some of these, feel free to ask in ES discourse and I'm sure the tc39 delegates would have _strong_ opinions about what are mistakes.

[2022-08-05 07:22] #19147 closed

[2022-08-05 07:34] Josh-Cena opened #19180 "Atomics.waitAsync() return type is wrong"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Atomics/waitAsync

### What specific section or headline is this issue about?

[Return value](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Atomics/waitAsync#return_value)

### What information was incorrect, unhelpful, or incomplete?

### What did you expect to see?

Fr

[2022-08-05 07:52] GHNewbiee commented on #19147
- Maybe the most important thing for MDN folks is to avoid acting as ES/JS religious gate guards.
- Maybe other non-commercial projects adopt the culture of presenting their weaknesses, too.

@Josh-Cena

Whatever behaves/implement in an unnatural way, out of common sense, restrict the freedom to be used could be a candidate. Some general examples out of ES implementation:

- Unbound code blocks wh

[2022-08-05 08:14] Josh-Cena commented on #19147
To be fair, many observable inconsistencies in the language design signal tc39's opinion of "mistakes". For example, `Array.prototype.{find,group,includes}` et al. all visit empty slots in sparse arrays, because they think the ES5 behavior for `{map,forEach,indexOf}` et al. is "wrong". Similarly, new copying methods like `{toReversed,toSorted}` no longer consult `@@species`, because the committee

[2022-08-05 08:21] #10132 closed

[2022-08-05 08:31] Smiley278 opened #19182 "Just vibing"
## Acceptance Criteria

- [x] The listed features are documented sufficiently on MDN
- [x] BCD is updated
- [x] Interactive example and data repos are updated if appropriate
- [x] The content has been reviewed as needed

### For folks helping with Firefox related documentation

- [x] Set bugs to `dev-doc-complete`
- [x] Add entry to Firefox release notes if feature is enabled in release
or
- [x] A

[2022-08-05 08:33] Smiley278 opened #19184 "Tv"
## Acceptance Criteria

- [x] The listed features are documented sufficiently on MDN
- [x] BCD is updated
- [x] Interactive example and data repos are updated if appropriate
- [x] The content has been reviewed as needed

### For folks helping with Firefox related documentation

- [x] Set bugs to `dev-doc-complete`
- [x] Add entry to Firefox release notes if feature is enabled in release
or
- [x] A

[2022-08-05 08:34] #19182 closed

[2022-08-05 08:34] #19184 closed

[2022-08-05 08:50] sideshowbarker commented on #14148
I’m going ahead and closing this issue because we are very intentionally using glMatrix and we have no plan to re-write all the WebGL tutorial code to do vector and matrix operations manually without using that library.

---

The “Adding 2D content to a WebGL context” page — at the very top of the page — explicitly states:

So the page makes it clear from the beginning that the code examples rely

[2022-08-05 08:50] #14148 closed

[2022-08-05 09:18] GHNewbiee commented on #19147
@Josh-Cena I hope one day, someone who has the **knowledge** and **time** to start an ES **anti-mandate** documentation project which will include this kind of info **in a good will** and help people/organization who wants to start a new project to consider them. Also, to be a good example to other "great" projects which try to hide the poor choices made in the past.
再一次，谢谢您的时间。

[2022-08-05 11:00] sideshowbarker commented on #19071
I don’t really have any specific thoughts on this, and no particular suggestions to give. Part of the work of resolving an issue — maybe the main work involved — is evaluating the issue on one’s own and making decisions about how to proceed.

[2022-08-05 17:48] Chaitanya7666 commented on #18237
I would like to write a guide for `HTTP range request`. I don't have any prior knowledge about this topic. But, I can research about this topic and try to deliver the best I can. I would be happy to take the help of @David263 & @hamishwillee, if I am stuck somewhere.  Could you please assign it to me, @sideshowbarker ?

[2022-08-05 18:33] estelle commented on #19167
Thank you! Also want to tag @ericwbailey. He and @scottaohara did a wonderful job editing all the ARIA roles and attributes and have done so much to ensure the accessibility content is accurate.

[2022-08-05 18:34] teoli2003 commented on #19167
_Mea maxima culpa_. I forgot the amazing Eric!

[2022-08-05 20:33] BearCooder opened #19201 "Intersection Observer v2 delay and trackVisibility properties missing in Browser compatibility and are not described - plus no support in Firefox"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API

### What specific section or headline is this issue about?

Intersection Observer API

### What information was incorrect, unhelpful, or incomplete?

The information about the two additional properties is missing: `delay` and `trackVisibility`. Looking through the documentation its not mentioned anywhere and n

[2022-08-05 20:39] BearCooder opened #19202 "The linked website from https://mozilla.github.io/ shows a 404"
### MDN URL

https://mozilla.github.io/webdev

### What specific section or headline is this issue about?

_No response_

### What information was incorrect, unhelpful, or incomplete?

When I click on Web development it forwards me to a dead page with a 404 error.
From https://mozilla.github.io/ to https://mozilla.github.io/webdev

![grafik](https://user-images.githubusercontent.com/104575503/1831

[2022-08-05 20:59] cw118 commented on #19202
FWIW it looks like this is an issue for the [`mozilla/webdev` repo](https://github.com/mozilla/webdev) which is archived (thus the GitHub Pages site does not "exist" anymore), and not here (MDN). This was also reported on the [`mozilla.github.io` repo](https://github.com/mozilla/mozilla.github.io) here: https://github.com/mozilla/mozilla.github.io/issues/22

[2022-08-05 21:24] sashoism opened #19203 "from_address_bar qualifier is supported on firefox, but that's not indicated in the doc"
### MDN URL

https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/webNavigation/TransitionQualifier

### What specific section or headline is this issue about?

Transition qualifiers

### What information was incorrect, unhelpful, or incomplete?

the `from_address_bar` qualifier is in fact supported on Firefox 102 or possibly earlier

### What did you expect to see?

The lowe

[2022-08-05 21:30] jamesaucode commented on #18021
Regarding the `isTrusted` property, I believe it's from the `Event` interface and it did mention on the page that `In addition to the properties listed below, properties from the parent interface, [Event](https://developer.mozilla.org/en-US/docs/Web/API/Event), are available.`

[2022-08-05 23:01] estelle opened #19208 "Privacy: Page title and location of document misleading."
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/Privacy/Tracking_Protection

### What specific section or headline is this issue about?

Topic is browser specific

### What information was incorrect, unhelpful, or incomplete?

Title and location of document indicate that this page should be about privacy in general, but it is firefox specific. It should be in FF docs, not privacy docs.

[2022-08-05 23:21] estelle commented on #19208
I did not change the link to the doc on https://developer.mozilla.org/en-US/docs/Web/Privacy#new_privacy_technology should read "Firefox tracking protection" because I think the content and location should be changed, and there should be a doc on tracking protection in general.

[2022-08-06 01:54] sideshowbarker commented on #19202
Closing per https://github.com/mdn/content/issues/19202#issuecomment-1206859295

[2022-08-06 01:54] #19202 closed

[2022-08-06 03:37] Isaac108 commented on #19203
I'll be on it.

[2022-08-06 03:50] Chaitanya7666 commented on #19071
@briancodes I get what you are saying. Let me read about `Workers` once—to see if it's non-intuitive for people to understand the _difference between the statements that you have mentioned_ before I jump to a conclusion.

[2022-08-06 04:37] Seirdy opened #19218 "Add "webrtc" CSP directive"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy

### What specific section or headline is this issue about?

"Other directives"

### What information was incorrect, unhelpful, or incomplete?

The section does not list the new "webrtc" CSP directive.

### What did you expect to see?

Expected to see the "webrtc" directive, which takes a `'block'` or `'

[2022-08-06 04:42] teoli2003 commented on #19218
Is this already implemented in a browser? If not, we should probably wait until one browser ships it (Firefox or another).

[2022-08-06 05:08] Josh-Cena opened #19220 "Document import assertions"
## What is the new suggestion?

Document [import assertions](https://github.com/tc39/proposal-import-assertions).

## Why is it important or useful?

[Already shipped in V8 for over a year.](https://v8.dev/features/import-assertions) JSON modules have been unflagged in Node so a lot of people are starting to rely on it. Need more information on its syntax and semantics.

Very importantly, import a

[2022-08-06 05:33] ibrahim-301 commented on #13315
This was mentioned again in https://github.com/mdn/content/issues/14318 and appears to be handled in https://github.com/mdn/content/pull/15736

[2022-08-06 05:34] teoli2003 commented on #19220
Will this needs some mdn/browser-compat-data updates, or is it already listed there? (If so, under what key?)

[2022-08-06 05:35] Josh-Cena commented on #19220
I don't think there's BCD for this either, no.

[2022-08-06 08:39] zhowan2020 opened #19224 "Content suggestion: <TITLE OF SUGGESTION>"
## What is the new suggestion?

## Why is it important or useful?

## Other supporting information

[2022-08-06 08:42] teoli2003 commented on #19224
Hi!

Unfortunately, you didn't provide any information about the issue you are reporting. We cannot act on it.

I'm closing it. If you return and provide more information, you are welcome to re-open it (or fill a separate issue).

Thanks a lot for your interest!

[2022-08-06 08:42] #19224 closed

[2022-08-06 08:48] 2bad2furious opened #19225 "CSS Syntax not shown on Transition-duration t"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/CSS/transition-duration

### What specific section or headline is this issue about?

formal_syntax

### What information was incorrect, unhelpful, or incomplete?

Displays {{csssyntax}} instead of the desired css syntax.

### What did you expect to see?

Formatted formal syntax

### Do you have any supporting links, references, or citations

[2022-08-06 09:37] Andrew-Cottrell opened #19226 "Document.requestStorageAccess - Conditions for granting storage access - step 6"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/Document/requestStorageAccess

### What specific section or headline is this issue about?

Conditions for granting storage access

### What information was incorrect, unhelpful, or incomplete?

Step 6 has

But step 7 is the following step so there are no intermediate steps skipped; and step 7 is clearly not the intended destination.

##

[2022-08-06 09:43] Andrew-Cottrell commented on #19226
Closing as duplicate of https://github.com/mdn/content/issues/18637

[2022-08-06 09:43] #19226 closed

[2022-08-06 11:23] willdurand commented on #18348
FWIW, scripting is also available in MV2 for Firefox

[2022-08-06 12:59] Josh-Cena opened #19228 "Add guide for memory sharing in JS"
## What is the new suggestion?

A new guide section introducing `Atomics`, `SharedArrayBuffer`, and possibly workers/`postMessage`.

## Why is it important or useful?

We have pages like `SharedArrayBuffer` and `Atomics` that kind of assume you have the background knowledge of how memory sharing works, what a "JavaScript thread" is (Is it its own realm? Does it have its own event loop? etc.), or w

[2022-08-06 20:37] cw118 commented on #13172
I believe this was fixed in #16732, the links work now (at least for me).

[2022-08-07 03:02] #19023 closed

[2022-08-07 14:31] MubashirWaheed opened #19261 "Add example in Promise.all section which indicates to use parentheses when using function inside Promise.all"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/all

### What specific section or headline is this issue about?

Add example showing you are supposed to add parenthesis with function inside promise.all()

### What information was incorrect, unhelpful, or incomplete?

In the `promise.all()` section there is no example which indicates that you ar

[2022-08-08 00:21] hamishwillee commented on #19228
Yes, excellent idea.
As and aside, it might also be good to have docs on how to move buffers and other resources efficiently. Specifically cooperative sharing of resources by transferring ownership rather than mediating ownership via a mutex/semaphore. The sort of thing you see when you call postMessage or structuredClone() with transfer of a view buffer. This would have been useful when I was lea

[2022-08-08 02:40] hamishwillee commented on #18637
I have removed the "good first issue" (FYI @sideshowbarker) as IMO the job here is non trivial.

The page was written (as far as I can tell) based on https://webkit.org/blog/8124/introducing-storage-access-api/, which was based on an early draft. The [current spec](https://privacycg.github.io/storage-access/#dom-document-requeststorageaccess) seems quite different. For example, item 2 is "If the d

[2022-08-08 03:59] hochuldev opened #19269 "Incorrect information on 'DomContentLoaded_event' page"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/Document/DOMContentLoaded_event

### What specific section or headline is this issue about?

The first paragraph of the page.

### What information was incorrect, unhelpful, or incomplete?

The first paragraph of the page states that "The DOMContentLoaded event fires when the initial HTML document has been completely loaded and parsed,

[2022-08-08 06:39] SphinxKnight opened #19273 "Circular / dead link for contributor doc / how to write documentation"
### MDN URL

https://developer.mozilla.org/en-US/docs/MDN/Community/Issues

### What specific section or headline is this issue about?

https://developer.mozilla.org/en-US/docs/MDN/Community/Issues#make_progress_not_noise

### What information was incorrect, unhelpful, or incomplete?

Two links are actually empty: https://github.com/mdn/content/blob/main/files/en-us/mdn/community/issues/index.md?p

[2022-08-08 08:30] sideshowbarker commented on #18637
Certainly @johnwilander, @johannhof, and @hober have the necessary familiarity with the spec…

Yeah I don’t think we can expect anybody else to work on that part — so in the interest of having a better chance to get somebody in to help with the parts that are documented what’s actually in the spec, it might make sense to first cleanly separate out the Firefox-specific parts (either into a separate

[2022-08-08 12:02] AJamesPhillips opened #19285 "spellcheck attribute example does not work"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/spellcheck

### What specific section or headline is this issue about?

Try it

### What information was incorrect, unhelpful, or incomplete?

The example does not work.  No spell checking error is shown:

<img width="791" alt="image" src="https://user-images.githubusercontent.com/526509/183413259-3fc6f510-985b-49d4-a

[2022-08-08 13:44] teoli2003 commented on #19285
Note that the article explicitly says that browsers are "free" to choose to allow it on some elements or not.

It would be nice to have:
1. Examples that work everywhere (with `<textarea>`?)
2. In the article, a list of elements it works on.

[2022-08-08 15:59] muchafm opened #19290 "Font-stretch examples"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/CSS/font-stretch

### What specific section or headline is this issue about?

Font-face selection

### What information was incorrect, unhelpful, or incomplete?

The 62.5% font-stretch images example seems incorrect. Maybe we can use live code for this example ? As it was suggested by @estelle in this [pr comment](https://github.com/mdn/con

[2022-08-08 17:12] rbryx opened #19291 "example doesn’t work"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/CSS/@media/aspect-ratio

### What specific section or headline is this issue about?

the example

### What information was incorrect, unhelpful, or incomplete?

the example should switch between three colors depending on aspect ratio of iframe but it becomes only cyan or red, no blue at all.
I’m on safari for iOS 15.

### What did you expec

[2022-08-08 17:15] #19291 closed

[2022-08-08 17:15] rbryx commented on #19291
my error, sorry

[2022-08-08 17:58] Ccccccccccccccccccccccccc opened #19292 "Difference in Firefox/Chrome in behavior concerning the favicon in the new open window"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/Document/hasFocus

### What specific section or headline is this issue about?

The Examples Section

### What information was incorrect, unhelpful, or incomplete?

Hello MDN team.

When testing this example,
I just noticed a different behavior in the favicon appearing in the title bar according to the browser I'm using.
I click on the *

[2022-08-08 18:16] francis-ohara opened #19293 "Inaccurate example for implicit type conversion"
### MDN URL

https://developer.mozilla.org/en-US/docs/Glossary/Type_Conversion

### What specific section or headline is this issue about?

Type Conversion

### What information was incorrect, unhelpful, or incomplete?

The above example given for implicit type conversion is not accurate. The number 5 and 2.0 are both of type Number in JavaScript. Therefore, there is technically no conversion from

[2022-08-08 19:13] estelle commented on #19290
As all the browsers, with the exception of IE, support this feature, we can ditch the images and just render the example with CSS.

[2022-08-08 19:45] jho1965us opened #19295 "``onerror = (event) => { };`` seems in correct"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/Window/error_event

### What specific section or headline is this issue about?

Syntax

### What information was incorrect, unhelpful, or incomplete?

``addEventListener('error', (event) => {});`` and ``onerror = (event) => { };`` are not the same

this are the signature that works in Chrome

	window.onerror = function(errorMsg,url,line

[2022-08-08 20:14] jvanderen1 opened #19296 "Broken link for `<svg>` element"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/img_role

### What specific section or headline is this issue about?

_No response_

### What information was incorrect, unhelpful, or incomplete?

The link for "The `<svg>` element" is broken.

### What did you expect to see?

The link to work.

### Do you have any supporting links, references, or citations?

_No r

[2022-08-08 22:14] wbamberg commented on #19225
This looks like another instance of https://github.com/mdn/yari/issues/6779, and should be fixed when we update to the new version of CSSTree.

[2022-08-08 22:25] wbamberg commented on #19261
Thanks for filing, @MubashirWaheed !

Promise.all doesn't take an array of functions as parameters. It takes an array of promises. So by doing something like `Promise.all([addItems(), addCategories()])`, you're not "add[ing] parenthesis to the function that is passed". You're calling the functions yourself, and then passing the promises that they return into the function.

So I don't think this cl

[2022-08-08 23:56] estelle opened #19299 "Different image would improve understanding."
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout

### What specific section or headline is this issue about?

Grid tracks

### What information was incorrect, unhelpful, or incomplete?

1_grid_track.png is supposed to be a hilighted grid track. It doesn't look like anything. A better screen shot would help.

### What did you expect to see?

[2022-08-09 00:32] youngjaeahn1995 opened #19300 "Setting paddleX as const freezes the DOM as it doesn't allow for re-declaration"
### MDN URL

https://developer.mozilla.org/en-US/docs/Games/Tutorials/2D_Breakout_game_pure_JavaScript/Paddle_and_keyboard_controls

### What specific section or headline is this issue about?

Defining a paddle to hit the ball

### What information was incorrect, unhelpful, or incomplete?

[code]
It sets the paddleX as const but it should be let as paddleX is re-declared and updated in The Paddle

[2022-08-09 01:07] hamishwillee opened #19302 "[WebAPI] Show focus indication on elements when focus set programmatically"
## Acceptance Criteria

- [x] The listed features are documented sufficiently on MDN
- [x] BCD is updated
- [x] Interactive example and data repos are updated if appropriate
- [x] The content has been reviewed as needed

### For folks helping with Firefox related documentation

- [x] Set bugs to `dev-doc-complete`
- [x] Add entry to Firefox release notes if feature is enabled in release
or
- [ ] A

[2022-08-09 01:27] wbamberg commented on #18780
For CSS functions, we should update the CSSSyntax macro so it can find the formal syntax for those. From a quick look I think this is a really simple change, but I'm not sure whether it would be better to add it to https://github.com/mdn/yari/pull/6618 or to wait for that to be merged, so as to keep PRs simpler and more focused.

For nonstandard things like https://developer.mozilla.org/en-US/docs

[2022-08-09 01:36] #13315 closed

[2022-08-09 01:37] hamishwillee commented on #19302
Status

- [ ] BCD - https://github.com/mdn/browser-compat-data/pull/17278
- [ ] Docs
- [ ] Release note
- [ ] dev-docs-complete
- [ ]

[2022-08-09 02:14] Josh-Cena commented on #19293
I think this is talking about C-family languages, not JavaScript. But let's find something more web-relevant.

[2022-08-09 04:34] najmiehsa commented on #18780
@wbamberg Hi,

- How can I track which documentation has the formal syntax and which one doesnt? (This can become confusing after couple of corrections)
- Can I submit 5 formal syntax replacement per PR? (meaning I submit multip PRs for this issue)

[2022-08-09 05:14] #19300 closed

[2022-08-09 05:32] #19293 closed

[2022-08-09 05:49] sideshowbarker commented on #19218
@jan-ivar, do you know if we have implementations of the `webrtc` CSP directive yet?

[2022-08-09 05:52] teoli2003 commented on #19296
Thanks, good catch!

I opened a PR to get this fixed. When it is merged, this issue will be automatically closed.

[2022-08-09 06:11] Omid-Heidarzadeh opened #19312 "api.CSSStyleDeclaration.setProperty - <Buttons in provided example doesn't work>"
### What type of issue is this?

Other

### What information was incorrect, unhelpful, or incomplete?

Three buttons in the example are supposed to change text color, background color, and border attributes of a sample box to random values. Clicking on each of which, on the latest versions of chrome, firefox, and edge throws this error:

"**Uncaught TypeError: Cannot read properties of undefined (

[2022-08-09 06:21] Abhiram-Gullapalli commented on #19273
Is the issue resolved because I didn't observe any such behavior as stated, if yes please consider closing this issue to overlapping of work/confusion.

[2022-08-09 06:25] Seirdy commented on #19218
Like the documented `navigate-to`, this isn't yet implemented. Unlike `navigate-to`, this was a highly-demanded feature that closes a major hole in the CSP so there's a good chance that it'll get implemented.

[2022-08-09 06:25] #19296 closed

[2022-08-09 06:36] SphinxKnight commented on #19273
@Abhiram-Gullapalli this is still valid as of `main` now (4f14847593f9de215d3d90bf8e78844e4f2534e0) :
![image](https://user-images.githubusercontent.com/2413436/183580956-33674527-06bb-43a7-b328-d8cc060da7f0.png)

[2022-08-09 06:38] Abhiram-Gullapalli commented on #19273
Ooh! I'll just fix it right away

[2022-08-09 07:42] teoli2003 commented on #19312
The example works for me on:
- Chrome Version 104.0.5112.79 (Build officiel) (arm64)
- Safari Version 15.4 (17613.1.17.1.13)
- Firefox Nightly Version 105.0a1 (2022-08-02) (64 bits)

I suggest something is interfering with the page on your side.

[2022-08-09 08:25] Omid-Heidarzadeh commented on #19312
Thanks for your suggestion. It seems my antivirus has some interference with the page on specific browsers and when I disable it and refresh the page the example works.
In addition to the error mentioned above, there are 3 errors logged in the console every time the page loads, which is not the case on other MDN pages. They are as follows:

- react-dom.production.min.js:118 Uncaught Error: Minifie

[2022-08-09 08:25] #19312 closed

[2022-08-09 11:00] mattezell commented on #11225
FWIW, I arrived at this issue out of my confusion surrounding connectedCallback after reading the MDN "Using Custom Elements" - specifically, the PopUpInfo example.

https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_custom_elements

The doc says "Inside the method connectedCallback, we define all the functionality the element will have when the element is connected to the DOM... We

[2022-08-09 11:35] davido242 opened #19322 "scrollIntoView: how to control the top margin"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollIntoView

### What specific section or headline is this issue about?

margins between elements and its relation to the desired position on the page

### What information was incorrect, unhelpful, or incomplete?

Not adding the top margin to control the Y-axis in relation to the position of the section in View

### What did

[2022-08-09 12:39] bramus commented on #18888
@sideshowbarker I’ve added a license statement to all [Original Content posts on my blog](https://www.bram.us/category/original-content/)

This includes the post on [Cascade Layers](https://brm.us/cascade-layers).

[2022-08-09 14:06] Chaitanya7666 commented on #18237
@hamishwillee , I am currently assigned the task to write the guide for `HTTP range requests`. Then I realised that there is already a very good explanation for `HTTP range requests` in the reference section of MDN docs and the link to it is [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Range_requests). I think that this topic doesn't need a separate guide as it is already so good.

If

[2022-08-09 14:08] Chaitanya7666 commented on #19071
@sideshowbarker, I think that the current description is good and it doesn't look like it needs more improvements and so I think that it can be closed.

[2022-08-09 14:09] #19273 closed

[2022-08-09 14:39] Chaitanya7666 commented on #19299
@estelle What do you think about this [image](https://css-tricks.com/wp-content/uploads/2021/08/terms-grid-track.svg). Isn't it clear?

[2022-08-09 17:42] wbamberg commented on #18780
I've filed https://github.com/mdn/mdn-community/discussions/175 to decide how to proceed wrt nonstandard properties.

@najmiehsa , I think it would be best to wait until we have a resolution there.

[2022-08-09 18:27] dmausner commented on #11225
Agreed.  If the component class has a constructor, all necessary element
setup should be available in that constructor.

If that's not the intention, then the UA should hold off calling it until
conditions are met.

As an aside, explain why a component must extend only HTMLElement and not
some other extension like div or span.  But a component can extend another
component; I tried it.

dave mausne

[2022-08-09 19:42] WinterSilence opened #19331 "`https://developer.mozilla.org/api/v1/settings/` return 404"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/rest_parameters

### What specific section or headline is this issue about?

external script

### What information was incorrect, unhelpful, or incomplete?

file not found

### What did you expect to see?

-

### Do you have any supporting links, references, or citations?

`curl 'https://developer.mozilla.org/

[2022-08-09 19:48] teoli2003 commented on #19331
Not sure to understand: where do you find this link on the page you gave?

[2022-08-09 19:50] WinterSilence commented on #19331
@teoli2003 yes, this script load in doc pages

[2022-08-09 20:01] teoli2003 commented on #19331
I don't see this. Do you have an extension or something similar?

[2022-08-09 20:22] WinterSilence commented on #19331
@teoli2003 nope, I'm disable all extensions
![изображение](https://user-images.githubusercontent.com/3521094/183753371-58fb6a5b-1acb-4c03-8a24-44df814dcbf0.png)

[2022-08-09 20:23] estelle opened #19334 "Ensure no missing `alt` attributes"
### MDN URL

https://developer.mozilla.org/en-us/learn/css/css_layout/flexbox/

### What specific section or headline is this issue about?

All of MDN content

### What information was incorrect, unhelpful, or incomplete?

333 `alt` attributes are missing. 29 have alt attributes that are the image file name. Untold others have unhelpful alt attributes.

### What did you expect to see?

Every image

[2022-08-09 20:25] teoli2003 commented on #19331
@mdn/core-dev I think this belongs to mdn/yari, can you transfer it? Thank you!

[2022-08-09 22:06] wbamberg commented on #10594
I asked for this bug because in https://github.com/mdn/content/pull/10504#issuecomment-970624479, @estelle asked to keep `{{draft}}` for https://developer.mozilla.org/en-US/docs/Learn/Common_questions/HTML_features_for_accessibility. because the page needs updating.

In a case like that I thought it would be better to have a bug on file to update the page. I don't know exactly what updates are nee

[2022-08-10 00:11] estelle commented on #10594
That page should be deleted and point to the accessibilty section. It's kind of all worst practices: tabindex other than 1 or 0 should never be used, title attributes don't make anything more accessible for screen reader users.

OK, so I started a rewrite. Still want to add labels, aria-* attributes, viewport meta tag, and links to a11y information, but https://github.com/mdn/content/pull/19338 is

[2022-08-10 02:32] sideshowbarker commented on #19071
@briancodes What do you think?

[2022-08-10 03:23] Chaitanya7666 commented on #19334
Hey @estelle , I just took a look at the spreadsheet. Most of the URL's to the MDN pages seem to be modified. However, I can manage to find them. I would be able to take up this issue and finish it. Could you please assign this to me?

[2022-08-10 05:55] estelle commented on #19334
Thank you. I fixed all the links.

While this issue is a "good first issue", it's a 40+ hour issue so is a good first issue for lots of people. Feel free to claim some sub-ssues by changing the status in the spreadsheet from "not done" to in progress. I don't want to assign it to any individual person because it is a very large task to do them all.

Thank you for volunteering.

[2022-08-10 06:07] Chaitanya7666 commented on #19334
I have picked up the items from the **glossary** section for now. I will pick up a few more after the PR that I would raise for the current ones gets merged.

[2022-08-10 07:50] #16662 closed

[2022-08-10 08:01] #19139 closed

[2022-08-10 08:44] mb opened #19353 "Content suggestion: http content-type multipart/*"
## What is the new suggestion?
I couldn't find any content related to the `Content-Type: multipart/x-mixed-replace` or other `multipart/...` headers except for [`multipart/byteranges` in the 206 status code](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/206)

## Why is it important or useful?

It is supported by firefox, chrome and safari:
* https://en.wikipedia.org/w/index.php?title=MI

[2022-08-10 09:57] David263 commented on #18237
The simple answer is that MDN doesn't explain what media players actually do to interact with the server in serving a large media file.

There are many possible interactions permitted by the design, but few are actually used, those that are used are different between different browsers and operating systems (MacOS/Safari is an oddball) and there are significant pitfalls in programming for this des

[2022-08-10 13:00] Abhiram-Gullapalli commented on #19334
Can I contribute too 😄

[2022-08-10 13:16] Chaitanya7666 commented on #19334
@Abhiram-Gullapalli , why not? Please change the status of the items that you would like to pick up from the spreadsheet from `Not done` to `In progress` add your name to the `volunteer` column of the corresponding items.

[2022-08-10 13:25] cdot opened #19363 "Example broken"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/CSS/@media/aspect-ratio

### What specific section or headline is this issue about?

Examples

### What information was incorrect, unhelpful, or incomplete?

Coding error in the example Javascript; should be

outer.style.width = `${w.value}px`

### What did you expect to see?

A working example

### Do you have any supporting links, referen

[2022-08-10 13:36] teoli2003 commented on #19363
Thanks, good catch!

I opened a PR to get this fixed. When it is merged, this issue will be automatically closed.

[2022-08-10 13:39] Chaitanya7666 commented on #19334
@estelle [Here is the PR for the items that I have picked](https://github.com/mdn/content/pull/19366)

[2022-08-10 14:09] #19363 closed

[2022-08-10 14:39] fritjofbuettner opened #19369 "Emitted blobs do not always exactly adhere to the timeslice value"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/MediaRecorder/dataavailable_event

### What specific section or headline is this issue about?

First section, fourth bullet point about the timeslice parameter

### What information was incorrect, unhelpful, or incomplete?

The documentation currently says this:

However, I used to record videos with a MediaRecorder like this (in vuejs)

[2022-08-10 15:35] Chaitanya7666 commented on #19334
#19366

[2022-08-10 15:36] Chaitanya7666 commented on #19334
#19366

[2022-08-10 18:13] jakemadash opened #19375 "box-shadow on 'ugly' styled example — specifically mentioned for the text, datetime-local, and color inputs but it doesn't appear and dev tools states “invalid property value” with a line through the entry"
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/Forms/Advanced_form_styling

### What specific section or headline is this issue about?

What can be done about the "ugly" elements?

### What information was incorrect, unhelpful, or incomplete?

Box shadow is applied and specifically mentioned for the text, datetime-local, and color inputs in this section, but it doesn't appear and dev

[2022-08-10 18:51] davebrogan opened #19378 "Attempting to assign guessField.value to a string throws error."
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/A_first_splash

### What specific section or headline is this issue about?

Playing With Browser Objects

### What information was incorrect, unhelpful, or incomplete?

The instruction in Step 4 to change the value of guessField to a string returns an error in the console and does not edit the input field on the pag

[2022-08-10 22:41] MarkFarmiloe opened #19387 "Operator precedence and short circuiting"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Logical_AND

### What specific section or headline is this issue about?

Operator precedence

### What information was incorrect, unhelpful, or incomplete?

I don't see how the stated order preference can ever be achieved, due to the short-circuiting.
This code:
[code]
gives the output of
[code]
which demonstr

[2022-08-10 23:06] wbamberg commented on #19378
Yes, agreed with your bug report and the suggested fix:

e.g.

[code]

[2022-08-11 01:35] Josh-Cena commented on #19387
"Operator precedence" is a technical term directly derived from the formal syntax. See https://tc39.es/ecma262/#sec-binary-logical-operators:

[code]

This production tells you that the right operand of `||` can be a `&&`, but neither operand of `&&` can be `||`. This means:

[code]

It will be parsed as `true || (false && false)` and thus evaluate to `true`, instead of `(true || false) && false`,

[2022-08-11 01:45] Josh-Cena commented on #19387
Short circuiting would be interesting to explain in tandem with operator precedence. Let's see how to demonstrate it better.

[2022-08-11 02:18] Josh-Cena commented on #19261
For context: we had been discussing this on another Discord server. I think there are several reasons why we should add this:

- `Promise.all()` is a good way to parallel several async functions. With async functions becoming the new standard, it's far too common for people to `await` everything and cause unnecessary blocking time.
- We don't demonstrate how async functions are used with `Promise.

[2022-08-11 02:26] #19180 closed

[2022-08-11 06:32] estelle opened #19400 "Missing sectioning root content"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Content_categories

### What specific section or headline is this issue about?

the note has a bad link and the other content models should link somewhere but doesn't

### What information was incorrect, unhelpful, or incomplete?

the note reads:

There is no sectioning root section on the headers page, and I don't believe a head

[2022-08-11 08:25] Chaitanya7666 commented on #19334
#19404

[2022-08-11 09:17] MarkFarmiloe commented on #19387
Thanks for that explanation.

I was indeed mixing operator precedence in with evaluation order.

That’s probably why my perpetual machine appears to have stopped for no reason.

Best regards

Mark

--

Mark Farmiloe

Churchill Computer Solutions Ltd

T: 0121 648 2398

M: 0777 339 1046

From: Joshua Chen ***@***.***>
Sent: 11 August 2022 02:35
To: mdn/content ***@***.***>
Cc: Mark Farmiloe ***@***.

[2022-08-11 13:30] sgbeal opened #19410 "Invalid example code in docs/Web/JavaScript/Reference/Global_Objects/Atomics/load"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Atomics/load

### What specific section or headline is this issue about?

The "Try It" block at the top

### What information was incorrect, unhelpful, or incomplete?

The Try It code block contains:

[code]

Tapping "run" for that code block simply produces:

[code]

in both Firefox v103 and Chrome v104

[2022-08-11 13:52] Josh-Cena commented on #19410
Duplicate of #15169

[2022-08-11 13:52] #19410 closed

[2022-08-11 14:54] zhowan2020 opened #19413 "Content suggestion: <TITLE OF SUGGESTION>"
## What is the new suggestion?

## Why is it important or useful?

## Other supporting information

[2022-08-11 16:36] teoli2003 commented on #19413
Hi!

Unfortunately, you didn't provide any information about the issue you are reporting. We cannot act on it.

I'm closing it. If you return and provide more information, you are welcome to re-open it (or fill a separate issue).

Thanks a lot for your interest!

[2022-08-11 16:36] #19413 closed

[2022-08-11 18:04] rebloor commented on #13172
Confirmed all links working as expected

[2022-08-11 18:04] #13172 closed

[2022-08-11 18:23] #11961 closed

[2022-08-11 19:24] sproket opened #19424 "browser object undefined"
### MDN URL

https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/tabs/get

### What specific section or headline is this issue about?

_No response_

### What information was incorrect, unhelpful, or incomplete?

Uncaught ReferenceError: browser is not defined

### What did you expect to see?

The code to work.

### Do you have any supporting links, references, or citations?

[2022-08-11 20:12] ralphorteza opened #19425 "Fontsquirrel font no longer downloadable"
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/Forms/Styling_web_forms

### What specific section or headline is this issue about?

A specific styling example

### What information was incorrect, unhelpful, or incomplete?

The linked site, https://www.fontsquirrel.com/fonts/Secret-Typewriter, no longer has the font "Secret-Typewriter" downloadable for use.

### What did you expect to

[2022-08-12 01:30] sydneypemberton1986 opened #19436 "Broken Image Links in SVG pages"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/SVG/Element/fePointLight

### What specific section or headline is this issue about?

SVG images are broken in several examples throughout SVG section.

### What information was incorrect, unhelpful, or incomplete?

Sample SVG images show a broken image link when trying to link to a file

For example:
[code]

Renders like this
<img width="6

[2022-08-12 01:55] hamishwillee commented on #19436
Thanks @sydneypemberton1986

Yes, this depends on `mdn_logo_only_color.png` which used to be the site logo. I've proposed a fix in #19437 - if it is considered OK I'll fix up the other cases.

[2022-08-12 02:21] #19436 closed

[2022-08-12 02:33] estelle opened #19441 "Feature detection: Too old to be useful"
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Cross_browser_testing/Feature_detection

### What specific section or headline is this issue about?

feature detection

### What information was incorrect, unhelpful, or incomplete?

includes html5 shiv, targeting IE8 and earlier.
includes feature support for browsers that don't support flexbox.

get rid of shiv
add @ su

[2022-08-12 03:17] lp177 opened #19798 "Issue with "Date()" docs: Array syntax of Chromium/Chrome/Edge/Opera..."
MDN URL: https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Global_Objects/Date/Date
and also https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/Date but it's probably not the good place for this page ?

#### What information was incorrect, unhelpful, or incomplete?

I've see today an unexpected difference between Date constructor of Firefox/Safari vs

[2022-08-12 03:17] #15059 closed

[2022-08-12 05:26] hamishwillee opened #19449 "[CSS] `prefers-color-scheme` reflects the `color-scheme` on the embedding element"
## Acceptance Criteria

- [x] The listed features are documented sufficiently on MDN
- [x] BCD is updated
- [x] Interactive example and data repos are updated if appropriate
- [x] The content has been reviewed as needed

### For folks helping with Firefox related documentation

- [x] Set bugs to `dev-doc-complete`
- [x] Add entry to Firefox release notes if feature is enabled in release
or
- [ ] A

[2022-08-12 05:30] hamishwillee commented on #19449
@Rumyra @dipikabh This was one of the draft items in the project to investigate. I have done the initial investigation. It doesn't happen until FF105 so parking for now. I can take it, or someone else with more CSS skill at that point.

[2022-08-12 05:34] hamishwillee opened #19450 "[CSS] Needs investigation https://bugzilla.mozilla.org/show_bug.cgi?id=1779457 and https://bugzilla.mozilla.org/show_bug.cgi?id=1764354"
This is complicated.

The original bug [1764354](https://bugzilla.mozilla.org/show_bug.cgi?id=1764354) (FF101) is pretty much "should [https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme] media query on an SVG in a favicon respect the browser theme or the device theme (as set by an override). It isn't clear whether that override has been changed to be ignored by things in

[2022-08-12 06:19] hamishwillee opened #19452 "[CSS] contain: style"
https://bugzilla.mozilla.org/show_bug.cgi?id=1463600

[2022-08-12 06:38] EWLameijer opened #19453 "error in example"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise

### What specific section or headline is this issue about?

Code for 'Example with diverse situations'

### What information was incorrect, unhelpful, or incomplete?

  .then((info) => {
    console.log("Got: ", info.theNumber, " , ", info.wordEvenOdd);
    return info;
  })
// this gives info.th

[2022-08-12 06:46] hamishwillee commented on #19452
Howdy @dipikabh , this was a draft project item assigned to you. I'm trying to turn the drafts into evaluated items so we have  some view on what is work and what is not.

Point is, I've done BCD here: https://github.com/mdn/browser-compat-data/pull/17326. This still needs a release note and maybe an example, since I don't really understand what the option name description implies.

I assume you w

[2022-08-12 06:59] awxiaoxian2020 opened #19455 "Specifications about `javascript.operators.spread` Not Found"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_syntax

### What specific section or headline is this issue about?

Specifications

### What information was incorrect, unhelpful, or incomplete?

Specifications not found

### What did you expect to see?

display correctly.

### Do you have any supporting links, references, or citations?

_No response_

[2022-08-12 07:08] awxiaoxian2020 commented on #19424
Could you please tell us where you use it?

[2022-08-12 07:44] Josh-Cena commented on #19455
Let's say it's a duplicate of https://github.com/mdn/browser-compat-data/issues/14392. Some work has been done to the `spread` data but it seems the spec URL isn't added yet.

[2022-08-12 07:44] #19455 closed

[2022-08-12 07:44] #19453 closed

[2022-08-12 07:52] sssrgo-dev opened #19458 "Example needs to be corrected"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener

### What specific section or headline is this issue about?

Event listener with anonymous function

### What information was incorrect, unhelpful, or incomplete?

This section has example of an arrow function, while it should illustrate anonymous function

### What did you expect to see?

Example with anony

[2022-08-12 08:09] teoli2003 commented on #19458
Thanks, good catch!

I opened a PR to get this fixed. When it is merged, this issue will be automatically closed.

[2022-08-12 08:31] #19458 closed

[2022-08-12 10:13] #10868 closed

[2022-08-12 11:44] dipikabh commented on #19452
Thank you so much, @hamishwillee for doing this groundwork of finding whats needed 🙏!

I'll tackle the rest 👍.

[2022-08-12 11:47] sproket commented on #19424
Sorry you can remove this. I realized that you can only use this with extensions.

[2022-08-12 13:48] sydneypemberton1986 commented on #19436
Amazing turnaround time! Thank you!

[2022-08-12 13:52] sydneypemberton1986 commented on #19436
Actually the PR looks like it will only fix the one page. Look through the other pages as well.
One other [example](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feTile).

I would be surprised if there weren't more.

[2022-08-12 15:21] wbamberg commented on #18780
I've taken a look at this, made a sheet listing all the pages under CSS that have the error message "Error: could not find syntax for this item": https://docs.google.com/spreadsheets/d/1tNRrwtG_Kx2JWROeTQhqVGKoJQxfHHxp8on0OtQXp9g/edit#gid=0 .

They seem to fall into three main categories:
1. the item is nonstandard (or deprecated and (presumably) removed from the standard)
2. the page is badly tag

[2022-08-12 15:25] wbamberg commented on #18780
## Nonstandard items

For these items, according to the discussion in https://github.com/orgs/mdn/discussions/175, we should hardcode the formal syntax:

https://developer.mozilla.org/en-US/docs/Web/CSS/-moz-float-edge
https://developer.mozilla.org/en-US/docs/Web/CSS/-moz-force-broken-image-icon
https://developer.mozilla.org/en-US/docs/Web/CSS/-moz-image-region
https://developer.mozilla.org/en-US/

[2022-08-12 15:29] najmiehsa commented on #18780
Thanks, @wbamberg  I continue with the [google doc](https://docs.google.com/spreadsheets/d/1tNRrwtG_Kx2JWROeTQhqVGKoJQxfHHxp8on0OtQXp9g/edit#gid=0 ) list and the second list mentioned here https://github.com/mdn/content/issues/18780#issuecomment-1213231721
Then I can check for any other instances that needs an edit.

[2022-08-12 15:36] wbamberg commented on #18780
Thank you @najmiehsa , that would be great! You should be able to find the syntax in https://github.com/mdn/data/blob/main/css/properties.json , and just copy it into a Markdown `<pre>` block, like:

[code]

If you want to start with just one, to get the general idea, then do the rest, that might be a good plan.

[2022-08-12 15:47] wbamberg commented on #18780
## Badly tagged pages

(or other content-side problems)

Badly tagged pages:

https://developer.mozilla.org/en-US/docs/Web/CSS/align-tracks
https://developer.mozilla.org/en-US/docs/Web/CSS/justify-tracks
https://developer.mozilla.org/en-US/docs/Web/CSS/masonry-auto-flow
https://developer.mozilla.org/en-US/docs/Web/CSS/padding-block
https://developer.mozilla.org/en-US/docs/Web/CSS/padding-inline
ht

[2022-08-12 16:49] #19424 closed

[2022-08-12 17:16] wbamberg commented on #18780
## Syntax not in webref

This includes the following syntaxes that aren't given in webref:

https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/repeating-conic-gradient
https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/repeating-linear-gradient
https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/repeating-radial-gradient
https://developer.mozilla.org/en-US/docs/Web/CSS/math-dep

[2022-08-12 18:15] teoli2003 commented on #18780
It should, see w3c/webref#681 for how to fix it (I was waiting for an answer from @fred-wang to know if he wanted to do it or not)

[2022-08-12 18:29] najmiehsa commented on #18780
https://github.com/mdn/content/pull/19473#issuecomment-1213389638 I am a bit confused about how to do this properly. I need to review this issue again.

[2022-08-12 18:44] wbamberg commented on #18780
## Custom CSS property

I forgot, there is one left over: https://developer.mozilla.org/en-US/docs/Web/CSS/--_star_ .

I'm not sure this should be a CSS property page at all. It isn't describing a specific CSS property, it's describing the syntax for a CSS feature (custom properties).

[2022-08-12 19:06] fred-wang commented on #18780
@teoli2003 Sorry I forgot about that issue. I plan to take a look indeed.

[2022-08-12 19:20] Octota-GitHub opened #19475 "F"
## Acceptance Criteria

- [ ] The listed features are documented sufficiently on MDN
- [ ] BCD is updated
- [ ] Interactive example and data repos are updated if appropriate
- [ ] The content has been reviewed as needed

### For folks helping with Firefox related documentation

- [ ] Set bugs to `dev-doc-complete`
- [ ] Add entry to Firefox release notes if feature is enabled in release
or
- [ ] A

[2022-08-12 21:02] #19475 closed

[2022-08-12 23:16] wbamberg commented on #19292
This looks like an MDN platform issue/question, so I'm going to transfer it there.

[2022-08-12 23:17] wbamberg commented on #19225
Fixed now, thanks for filing!

[2022-08-12 23:17] #19225 closed

[2022-08-13 07:01] alirezahs1 opened #19495 "Extra comma in code example"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient

### What specific section or headline is this issue about?

Syntax

### What information was incorrect, unhelpful, or incomplete?

linear-gradient(.25turn, red, 10%, blue);

### What did you expect to see?

`linear-gradient(.25turn, red 10%, blue);`

there is extra comma after 'red'.

### Do you have any suppor

[2022-08-13 07:19] teoli2003 commented on #19495
Thanks, good catch!

I opened a PR to get this fixed. When it is merged, this issue will be automatically closed.

[2022-08-13 07:43] Chaitanya7666 commented on #19334
#19497

[2022-08-13 08:36] alieldeba opened #19499 "Error: Unexpected token '{' in Code Example"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/static#try_it

### What specific section or headline is this issue about?

Try it section

### The code that has the error

[code]

### What information was incorrect, unhelpful, or incomplete?

The output was having an Unexpecting Error saying

[code]

### What did you expect to see?

I Expected the output of t

[2022-08-13 08:48] Josh-Cena commented on #19499
Please give your browser version. Static blocks are a very new feature.

[2022-08-13 12:06] najmiehsa commented on #18780
@wbamberg hi, here is an example I attempted to cover:
![1](https://user-images.githubusercontent.com/98463228/184492983-bad72f47-7996-4125-9389-b9d827be9c11.png)
This should be hardcoded but in the JSON file we have the same exact syntax:

https://github.com/mdn/data/blob/80aedce42a7f3a523a17e54ba87b0680ee171daf/css/properties.json#L936

Still, this shows **formal syntax not found** on the page.

[2022-08-13 12:16] schalkneethling opened #19507 "chore: update links to sw-test"
The `sw-test` repository is being moved into `dom-examples` - https://github.com/mdn/dom-examples/pull/148
We need to update all links in the content so it points to its new location. This depends on the above pull request being merged.

[2022-08-13 13:24] Chaitanya7666 commented on #19334
#19508

[2022-08-13 13:34] ryanorlando92 opened #19510 "Am i missing something?"
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/Strings

### What specific section or headline is this issue about?

Concatenation using +

### What information was incorrect, unhelpful, or incomplete?

the "concatenation using +" section shows two lines of code comparing using a comma to add the strings inside of template literals. it seems like the first exampl

[2022-08-13 14:36] Josh-Cena commented on #19510
No, you did not miss anything! Apparently we keep messing up when trying to refactor our code examples. Feel free to send a patch.

[2022-08-13 15:52] teoli2003 commented on #19510
Thanks, good catch!

I opened a PR to get this fixed. When it is merged, this issue will be automatically closed.

[2022-08-13 15:54] #19510 closed

[2022-08-13 16:11] Aeolusw opened #19515 "The example before improvement is the same as after improvement"
### MDN URL

https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/Strings

### What specific section or headline is this issue about?

Concatenation using "+"

### What information was incorrect, unhelpful, or incomplete?

![image](https://user-images.githubusercontent.com/32787759/184501486-c1ad4da3-0322-40d0-a421-a336dd497e45.png)
The example before improvement is the same as af

[2022-08-13 17:59] rubiesonthesky opened #19517 "exslt syntax blocks tagged as "js""
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/EXSLT/exsl/object-type

### What specific section or headline is this issue about?

Syntax

### What information was incorrect, unhelpful, or incomplete?

Syntax code blocks are tagged as "js".

Should they be tagged as "plain" or with some other supported language? There are total 13 of pages which are using "js" tag for code blocks.

- [o

[2022-08-13 18:14] Josh-Cena commented on #19515
Duplicate of #19510

[2022-08-13 18:14] #19515 closed

[2022-08-13 18:20] Josh-Cena commented on #19499
I will preemtively close this as a question. You can check the compatibility data on https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/Class_static_initialization_blocks: I can confirm that it works in Chrome but not in Safari.

[2022-08-13 18:20] #19499 closed

[2022-08-13 18:41] #19495 closed

[2022-08-13 22:55] MasterInQuestion commented on #19285
What about linking this issue in the original page?

[2022-08-14 00:41] rounakcodes opened #19522 "The term *(a)synchronous callback* is used to suggest the execution of a callback function after a (a)synchronous operation"
### MDN URL

https://developer.mozilla.org/en-US/docs/Glossary/Callback_function

### What specific section or headline is this issue about?

Callback function

### What information was incorrect, unhelpful, or incomplete?

The above example is a [synchronous](https://developer.mozilla.org/en-US/docs/Glossary/Synchronous) callback, as it is executed immediately.
...
Note, however, that callbacks a

[2022-08-14 01:47] Phosra opened #19524 "RegExp - accessors are mis-documented as (own) properties"
For example, see <https://tc39.es/ecma262/multipage/text-processing.html#sec-get-regexp.prototype.flags>.

MDN documents `RegExp` instance properties, that are actually accessor functions. They also seem to all lack setters, but this is mistakenly documented by calling them "read-only," and giving a property descriptor, which shouldn't exist.

[2022-08-14 02:43] Phosra opened #19526 "Function#{caller, arguments} are consider not non-standard?"
https://tc39.es/ecma262/multipage/ordinary-and-exotic-objects-behaviours.html#sec-addrestrictedfunctionproperties

The above part of the spec defines both `caller` and `arguments` as setters/getters on `%Function.prototype%`.
Currently, the appropriate MDN documentation calls both items "nonstandard;" Their "specifications" sections are empty.

[2022-08-14 03:43] Josh-Cena commented on #19526
Needs BCD update, indeed

[2022-08-14 03:44] Josh-Cena commented on #19524
I've just been recently updating regex-related pages. I'll change those as well.

[2022-08-14 03:48] Phosra commented on #19526
Oops, sure I should've opened there. As it is a purely BCD issue, may someone move this issue?

[2022-08-14 03:55] Chaitanya7666 commented on #18237
@David263, You are saying that it would be a good thing to have a  _guide_ on how media players interact with Web servers to stream the content to the user. From my research, I was able to find out that HTTP range request is only a concept that is helpful for streaming video content and it is not **everything** in video streaming. I don't think that HTTP range requests section of the documentation

[2022-08-14 04:04] Josh-Cena commented on #19522
I think you're right. `prompt` is a terrible example because it's actually blocking so it's synchronous after all. `setTimeout` would be much better.

[2022-08-14 04:44] teoli2003 commented on #19517
Thank you! Let's use `plain`! I'll happily review a PR.

[2022-08-14 04:56] ArchivingToolsForWBM opened #19533 "What do you mean "environment""
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/console/clear

### What specific section or headline is this issue about?

Text saying "if the environment allows it"

### What information was incorrect, unhelpful, or incomplete?

First of all, what do you mean "Environment"?

Second of all. does firefox have the option to disable executing ``console.clear()`` on the ``about:config``?

[2022-08-14 05:12] teoli2003 commented on #19533
Thanks, good catch!

I opened a PR to get this fixed. When it is merged, this issue will be automatically closed.

[2022-08-14 05:14] teoli2003 commented on #19285
Not sure, what is the original page?

[2022-08-14 05:28] ArchivingToolsForWBM commented on #19533
Sites should not be able to forcibly clear the console log against the user's will, just like that JS cannot disable or affect the browser's toolbar, devtools, and many other features in any way. I could be using an extension, that prints out useful information. A browser is a user agent, not a site's agent.

I notice this: https://greasyfork.org/en/scripts/440060-anti-anti-debugger that someone m

[2022-08-14 05:40] rounakcodes commented on #19522
@Josh-Cena Seems like I have not been able to express myself correctly. I will try again.

The document starts with *A callback function is a function passed into another function as an argument.*
In the example, *greeting* is the function passed into another function. So, *greeting* is the callback function.

*The above example is a [synchronous](https://developer.mozilla.org/en-US/docs/Glossary/

[2022-08-14 05:50] Josh-Cena commented on #19522
Ah. There are two kinds of callbacks: _synchronous_ and _asynchronous_. Whether the callback is synchronously and asynchronously called depends on the caller, not the user. For example:

[code]

Can you tell me what the value of `i` is when `console.log()` happens? You generally can't without `doSomething` telling you if it's synchronously or asynchronously calling the `() => i = 1` callback. If i

[2022-08-14 05:56] rounakcodes commented on #19522
Thanks for the explanation. I guess this issue can be closed as far as the original intention of opening it is concerned.
You (or someone) can decide whether the discussion for your suggestion needs to be continued here or in a new issue.

[2022-08-14 05:58] Josh-Cena commented on #19522
I think we need to improve that glossary entry here, since it's hand-wavy about what async and sync callbacks actually are.

[2022-08-14 06:52] teoli2003 commented on #19533
We have no impact on what browsers do or allow. We merely document it.

[2022-08-14 07:30] isatveersingh commented on #3937
**Hey folks, I want to work on it. Can any one please help me how to get started?**
I want to write documentation of **_Headers.forEach_** method.

[2022-08-14 07:30] isatveersingh commented on #3937
I am working on it.

[2022-08-14 09:56] #19517 closed

[2022-08-14 12:24] jespertheend opened #19551 "`updateViaCache` is not a function"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/API/ServiceWorkerContainer/register

### What specific section or headline is this issue about?

updateViaCache

### What information was incorrect, unhelpful, or incomplete?

This section states

but [`ServiceWorkerRegistration.updateViaCache`](https://developer.mozilla.org/en-US/docs/Web/API/ServiceWorkerRegistration/updateViaCache) is no

[2022-08-14 12:59] teoli2003 commented on #19551
Thanks, good catch!

I opened a PR to get this fixed. When it is merged, this issue will be automatically closed.

[2022-08-14 15:20] jho1965us opened #19554 "group missing in RegExp. exec return value description"
### MDN URL

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp/exec

### What specific section or headline is this issue about?

Description

### What information was incorrect, unhelpful, or incomplete?

the table following: "The following table shows the state of result after running this script:"

is missing the "group" entry

### What did you expect to see

[2022-08-14 15:22] David263 commented on #18237
You seem to be getting a bit theoretical. That is fine, and I will respond to your thoughtful comment in kind, as software theory is one of my interests.

I'm afraid I can't agree with you. Most major aspects of Web programming are covered in MDN currently, which makes it **the** best single source of Web programming information. I can't agree that good and relevant information should be omitted f

[2022-08-14 15:24] Josh-Cena commented on #19554
What great timing! This has just been fixed earlier today via https://github.com/mdn/content/pull/19514. You should be able to see the new content within a few hours.

[2022-08-14 15:24] #19554 closed

[2022-08-14 23:15] MasterInQuestion commented on #19285
    I mean adding the link of this issue [ [https://github<i>.</i>com/mdn/content/issues/19285](https://github.com/mdn/content/issues/19285) ] in [ [https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/spellcheck](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/spellcheck) ] (the original page).

    Also, please review this [ [https://github<i>.</i>com/mdn/conte