[2021-04-22 06:43] #4347 closed

[2021-04-22 06:58] chrisdavidmills commented on #4367
My vote is for the "Extend GFM" option. My main concerns with this are:

1. How well it displays on GitHub. I'm expecting it to be OK; the colon at start of sentence is quite distinctive.
2. How well it works when nesting other content inside of dd/dt. If this is an issue, would it be an option to see how many complex dls we have, and look to convert them to something else, or just constain usage

[2021-04-22 07:53] Elchi3 commented on #4355
Below Property accessors under Left-hand-side expressions makes sense to. Thanks for the PR @fedgrant 👍

[2021-04-22 08:33] Elchi3 commented on #4320
Yes, we are indeed redoing all of the Specification section because as this issue nicely demonstrate the current way of doing things is ... complicated. :)

`{{SpecName("ARIA Authoring Practices","#alert","Alert")}}` is trying to look up a spec called "ARIA Authoring Practices" in https://github.com/mdn/yari/blob/main/kumascript/macros/SpecData.json but in there you only have "ARIA Authoring Pract

[2021-04-22 09:18] jamestthompson3 opened #4376 "MDN Web Docs no longer prompts to install as a custom search engine"
It was previously possible to get the prompt to add the MDN Web Docs site as a custom search engine in Firefox. The cause of this seems to be that the [Open Search](https://developer.mozilla.org/en-US/docs/Web/OpenSearch) link is no longer present in the `<head>` elements of the MDN Web Docs pages.

[2021-04-22 11:09] Serchlord opened #4378 "Dead link - AJAX Getting started"
Hola! estuve revisando hoy su contenido de ajax y es muy interesante!
lo unico... no pude realizar la prueba porque el archivo test que mencionan en el ejersicio, esta con un enlace que me lleva a una pagina de "not found" ;(

saludos !

[2021-04-22 13:57] rachelandrew commented on #4366
This API needs an overview page written, that is what should be linked to here.

cc: @jpmedley as I think this was one we were going to do. I'll assign it to me for now.

[2021-04-22 14:24] BulletToothTony opened #4382 "Issue with "Client-side form validation": Link to validate.js is outdated"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation

#### What information was incorrect, unhelpful, or incomplete?

Link to validate.js is incorrect - link goes to https://rickharrison.github.com/validate.js/

#### Specific section or headline?

Under section 'Validating forms without a built-in API'

#### What did you expect to see?

https://rickharrison.github.io/valid

[2021-04-22 14:38] peaBerberian opened #4383 "Issue with "HTMLMediaElement.playbackRate": a negative playback SHOULD result in playing backwards"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/playbackRate

#### What information was incorrect, unhelpful, or incomplete?

In the MDN documentation for the `playbackRate` attribute, the following sentence is written (I kept the empasized "not"):

This is not true as per the WHATWG HTML living standard and we know at least one implementation (Safari on the two tested M

[2021-04-22 15:29] techsin commented on #4178
how do I find out who works on that?

[2021-04-22 16:49] longm89 commented on #2958
@ankit9607 You have a wonderful remark!
@chrisdavidmills Could I work on fixing this?

[2021-04-22 16:57] chrisdavidmills commented on #2958
@longm89 you certainly can. Thanks for the help!

[2021-04-22 18:03] Ryuno-Ki opened #4387 "Replacing wikihistory file with SQLite database?"
Reading https://github.com/mdn/content/pull/4338#issuecomment-825059298 I was wondering, whether it would make sense to use a SQLite3 database instead of a JSON file.

After all, it still gets tracked as a file (even when in binary format), but compresses content better.

(GitHub made me have to choose one issue type).

[2021-04-22 18:06] Ryuno-Ki commented on #4318
It's ugly.
It confuses me, since the values are not marked as links.
Being bars / pipes, they get hard to touch with a finger.

I can accept if it is on purpose, though.
(Would like to read through the PR that introduced them to understand the rationale)

[2021-04-22 18:10] Ryuno-Ki commented on #3144
Just noticed the mention here today.
Depending on my day-to-day job I spent sometimes one or two hours (per day) or skip other days entirely.
Still have ~1k unread GitHub notifications (with ~80 % of them being either content or yari).
It's fine. Don't worry about me.
I'm working my way backwards with focussing on closed issues and PRs first, then checking opened ones and issues with a mention on

[2021-04-22 18:11] Ryuno-Ki commented on #3144
I mean, we could also have a Markdown file in the repo with links like in https://github.com/11ty/eleventy/#major-roadmapped-features - which are essentially issue filters on GitHub. That could be part of the topic owners, for example.

[2021-04-22 18:15] tristantheb commented on #4351
Hello,

Thanks for your report @LudivineSa, you can contribute to the MDN by following this article: https://tech.mozfr.org/post/2021/03/16/MDN-sur-GitHub-comment-contribuer
Otherwise, a contributor will take care of this issue ;)

(@SphinxKnight ping for transfert 😉)

[2021-04-22 18:23] Ryuno-Ki commented on #4320
Would it make sense to submit a PR that adds the version numbers to the call of the macro to remedy the issue at hand?
Or would it be more beneficial to leave it as-is to have a page to test the new macro against?

[2021-04-22 18:45] peterbe commented on #4387
The JSON file is 3.2MB. If it was a binary blob (probably a bit smaller) and you make 1 single character change, it would mean another 3.2MB added to the git history instead of 1 byte.

[2021-04-22 18:45] #4387 closed

[2021-04-22 19:05] caitmuenster opened #4390 "Content bug: Update supported themes properties for Firefox 89"
We list and describe supported theming properties on https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/theme.

There are a couple of updates we'll need to make as a result of changes incoming from Firefox 89:

1. `tab_background_separator` will not be supported
2. `toolbar_field_separator` will not be supported
3. `tab_line` will behave differently (it will apply

[2021-04-22 19:36] #4355 closed

[2021-04-22 20:12] Gregoor commented on #4367
Here is a mad idea, how about we re-use markdown tables for definition lists? We could turn 2-columned tables with headers like in the example into definition lists.

Example:

$dt | $dd
-- | --
`variable` | On each iteration a value of a different property is assigned to `variable`. `variable` may be declared with `const`, `let`, or `var`.
`iterable` | Object whose iterable properties are iterate

[2021-04-22 20:30] Ryuno-Ki commented on #4367
Extending GFM feels a bit like going towards a MediaWiki-esque syntax in my opinion.

Nesting is an interesting point. Even if we went into the table variant @Gregoor described, that wouldn't save us completely (think of nested tables).

Ideally, I'd like to see some generated.
But that requires either a macro (we want to get away from them) to demark the position where the `<dl>` shall be injecte

[2021-04-22 20:36] Ryuno-Ki commented on #3694
Since #3512 is closed now, it might be worth looking at this again.

For the code block comments, I assume, it contains content we want to keep. Perhaps worth already converting them to HTML comments (via the element that got hidden?) and fill a PR so we can omit them from the consideration here.

[2021-04-22 20:40] mclr47 opened #4394 "Intersection Observer API"
## What page(s) did you find the problem on?

[https://stackblitz.com/edit/intobs]
(https://stackblitz.com/edit/intobs)

Please look at app.component.ts lines 56- 60

The example is taken from :

 https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API

.....and adapted for Angular

## What is the problem?

entry.target.style.backgroundColor
not working , but only
 entry.target.

[2021-04-22 22:18] mariyan-borisov opened #4395 "Issue with "Building a cross-browser extension": Firefox account two-factor authentication requirement"
MDN URL: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Build_a_cross_browser_extension

#### What information was incorrect, unhelpful, or incomplete?
According to [a blog post](https://blog.mozilla.org/addons/2021/03/11/two-factor-authentication-required-for-extension-developers/), the two-factor authentication is now required for publishing a Firefox extension. The MDN a

[2021-04-22 22:20] andrehora opened #4396 "Issue with "Django Tutorial Part 9: Working with forms": http://127.0.0.1:8000/catalog/author/10"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Forms

#### What information was incorrect, unhelpful, or incomplete?

This URL...
`http://127.0.0.1:8000/catalog/authors/10`

... should be:
`http://127.0.0.1:8000/catalog/author/10`

authors => author

#### Specific section or headline?

Generic editing views>>Testing the page

#### What did you expect to see?

"Enter val

[2021-04-22 22:48] mariyan-borisov opened #4397 "Issue with "Web audio codec guide": Broken anchors"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/Media/Formats/Audio_codecs

#### What information was incorrect, unhelpful, or incomplete?
Nothing happens when some of the anchors in the "Common codecs" is clicked.

#### Specific section or headline?
Common codecs:
* AAC
* ALAC
* AMR
* FLAC
* G.711
* G.722
* MP3

Opus and Vorbis don't seem to be affected.

#### What did you expect to see?
Fo

[2021-04-22 22:56] mariyan-borisov commented on #4397
["Web video codec guide"](https://developer.mozilla.org/en-US/docs/Web/Media/Formats/Video_codecs) seems to have the same issue as well: ["HEVC (H.265)"](https://developer.mozilla.org/en-US/docs/Web/Media/Formats/Video_codecs#hevc).

[2021-04-23 00:02] wbamberg commented on #3694
I think there are a couple of things we need before this is closed.

(1) a resolution on what this means for our our "MDN Markdown" spec. I think this part is done in https://github.com/mdn/content/issues/3512, and recorded at https://developer.mozilla.org/en-US/docs/MDN/Contribute/Markdown_in_MDN#example_code_blocks

(2) a resolution on what our conversion process from HTML to Markdown should loo

[2021-04-23 00:12] hamishwillee commented on #4397
This occurs because the content is included into the page, and the links in that included content are local anchors. I'm working on removing the page macro so I'll fix this up.

[2021-04-23 01:09] hamishwillee commented on #4367
I'm with extending GFM. For your edification, below is HTML, Kramdown and table version taken from a page in the docs.

- The Kramdown syntax is pretty well understood and works OK in github. It also can support nested markdown so you can convert everything.
- I really like Gregoor's suggestion too. It would work for **almost every table**. However it is not quite as flexible because:
  - you can'

[2021-04-23 01:36] hamishwillee commented on #4178
@techsin This is open source, so it could be anyone - you're most welcome to take it on. At some point if my list of things got small enough I might take it on.

[2021-04-23 01:55] hamishwillee commented on #4370
@mohetti - it turns out that your English is fine ;-). Fixed in #4399. Thanks very much for taking the time to let us know.

[2021-04-23 02:03] hamishwillee commented on #4373
Hi @mohetti
What this tells you is that `author.first_name` and `author.family_name` are defined in your code, but `author.name` is not. However if you look at [the documentation of the Author model](https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/mongoose#author_model) you can see that we do define `author.name` (as a virtual method):
[code]
I am closing, as this is is a

[2021-04-23 02:03] #4373 closed

[2021-04-23 02:31] hamishwillee commented on #4325
This is going to give you/us some headaches long term. Because I can almost guarantee that people will use this kind of approach to do tables once we support markdown ("if you build this we will come").

This is the minimal syntax (you can also use colons on the second line to control column alignment)

[code]

This is the fullest syntax
[code]

I should note that in the full syntax you don't need

[2021-04-23 02:35] hamishwillee commented on #2245
This is complete. Well, in fact I might do a little more on orientation change (as discussed here: https://github.com/mdn/content/issues/2245#issuecomment-822971334) but that is orthogonal to the whole event guide question.

[2021-04-23 02:35] #2245 closed

[2021-04-23 02:57] hamishwillee opened #4400 "Content bug: Improve device/screen orientation event doc"
## What page(s) did you find the problem on?

A number of docs related to device orientation

[Orientation and motion data explained](https://developer.mozilla.org/en-US/docs/Web/Events/Orientation_and_motion_data_explained)
- Still marked as draft
- Does not cover DeviceMotion frame.
- Explains only the absolute frame, not the relative frame.

[Web APIs > Detecting device orientation](https://dev

[2021-04-23 03:43] wbamberg commented on #4367
Thanks for all the thoughts, and thanks Hamish for showing the different syntaxes!

I think this would be OK too. I think it's not strictly true to say "no new syntax" though, there is a new syntax, just one based on tables. I think as Hamish says, the Kramdown option seems quite commonly understood, and yes, it looks all right in the source.

About nesting: it is a thing. I count 57 pages in the

[2021-04-23 04:59] mohetti commented on #4370
I have to thank you for the overall great content you guys have put together here :) . I find this a really tough subject to get into. But you make it so comfortable for beginners to dive in and understand it bit by bit :). So thanks a lot!

[2021-04-23 04:59] AnaJessica15 opened #4402 "Issue with "<head>: The Document Metadata (Header) element": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/head

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/html/element/head`
* MDN URL: https://developer.mozilla.org/en-US/docs/We

[2021-04-23 05:05] grahamperrin commented on #3761
Thank you

[2021-04-23 05:08] hamishwillee commented on #4367
I was careless when I said this would all just work - needs a bit more thought for this case. While you can express a nested list  kind of unambiguously you can't do so with this definition list syntax. That's because the first line has no marker. To markdown "ordinary rules" the new definition list looks like line continuations. Here is an example showing it failing:

`locales`
:A string with a B

[2021-04-23 05:12] hamishwillee commented on #4370
You're very welcome!

[2021-04-23 06:57] #4397 closed

[2021-04-23 07:00] #4402 closed

[2021-04-23 07:11] hamishwillee commented on #4314
- pref for this is `javascript.options.large_arraybuffers`. It is not documented in [Experimental features](https://developer.mozilla.org/en-US/docs/Mozilla/Firefox/Experimental_features)
- [ArrayBuffer](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/ArrayBuffer) docs.
- [Reference/Errors/Invalid_array_length](https://developer.mozilla.org/en-US/docs/Web/JavaScrip

[2021-04-23 07:50] Elchi3 commented on #4320
Yes, this makes sense. I don't know how quickly we will roll out the new spec approach. I might test it first with JS docs (given we want to convert these to markdown first) and then expand further. So, yes, PR welcome to add the version numbers to the current macro call.

[2021-04-23 09:00] CreaTorAlexander commented on #4382
Thanks for coming up with this, I have raised PR https://github.com/mdn/content/pull/4408 to fix this issue.

[2021-04-23 13:59] peterbe opened #4414 "Content bug: 2,178 distinct http:// URLs"
When working on https://github.com/mdn/yari/issues/3565 I logged every time the flaw checker discovered a link to a `http://` URL.  Then I analyzed that a bit.

- 2,178 distinct `<a href=http://...>` links in all of en-US
- 989 distinct MDN docs that have one or more of these
- 1,030 distinct domains of these 2,178 URLs
  - 73.4% will work if you just replace `http://` with `https://`
  - 26.6% wi

[2021-04-23 14:01] peterbe commented on #4414
Here's my log file after testing each (unique by domain) URL to see what happens if you do `url.replace('http://', 'https://')`
https://gist.github.com/peterbe/d898addf6b76b906ef3a71d5d7618b6c

[2021-04-23 14:17] chrisribe opened #4417 "Issue with "NavigatorID.platform": (Marked as deprecated by mistake ?)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/NavigatorID/platform

#### What information was incorrect, unhelpful, or incomplete?
This is marked as deprecated and should not be

#### Specific section or headline?
Deprecated banner seen on the English version of the site.

#### What did you expect to see?
No banner based on this previous conversation about the issue.
https://groups.goo

[2021-04-23 14:38] keiya01 commented on #1667
I want to take on this issue.

[2021-04-23 15:33] machineghost opened #4421 "Issue with "<option>: The HTML Option element": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/option

#### What information was incorrect, unhelpful, or incomplete?
There is no mention of the fact that major browsers (eg. Chrome and Internet Explorer) do not respect a variety of styles (eg. `text-decoration: line-through`) on `<option>` elements.  Ideally there would be a mention of this fact on the `<option>` page and/or o

[2021-04-23 17:47] #4382 closed

[2021-04-23 18:31] Jobtye opened #4424 "Content bug: Outdated image for Responsive Design Button"
## What page(s) did you find the problem on?

https://developer.mozilla.org/en-US/docs/Tools

## Specific page section or heading?

![Capture](https://user-images.githubusercontent.com/82216675/115914595-73258d80-a472-11eb-9878-5dfdc4607fce.PNG)

## What is the problem?

Responsive Design Mode button is out of date in the article.

## What did you expect to see?

![Capture2](https://user-images.gi

[2021-04-23 18:31] chrisdavidmills commented on #1667
@keiya01 assigned! Thank you for your offer of help, and please feel free to ask if you have any questions.

[2021-04-23 18:34] Ryuno-Ki commented on #4320
Alright. Filled #4425 with a fix.

[2021-04-23 18:45] Ryuno-Ki opened #4426 "Issue with "Accessibility": Broken link to AT dev"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/Accessibility

#### What information was incorrect, unhelpful, or incomplete?

The link to „Assistive technology (AT) development” is broken.

#### Specific section or headline?

https://developer.mozilla.org/en-US/docs/Web/Accessibility#other_documentation

„Assistive technology (AT) development” is a dead end.

https://github.com/mdn/content/

[2021-04-23 19:13] kwhatmough opened #4427 "Issue with "Number.MIN_VALUE": Incorrect value mentioned in Description"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/MIN_VALUE

#### What information was incorrect, unhelpful, or incomplete?
The excerpt below is incorrect since the value of `Number.MIN_VALUE` is 2<sup>-1074</sup>:

#### Specific section or headline?
The Description section.

#### What did you expect to see?
`Number.MIN_VALUE` is 2<sup>-1074</sup> or

[2021-04-23 19:39] jobowo opened #4428 "Issue with SVG generally"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/SVG

#### What information was incorrect, unhelpful, or incomplete?

Am trying to grasp the basics for SVG.  A general problem here is that the documenters seem keen to show "tricky" details  before the simple elements are clear. Here's what I believe would be helpful:

#### What did you expect to see?
1. <svg ....>Is this a requisite for all S

[2021-04-23 20:45] c8b opened #4429 "Issue with "HTTP Messages": `Accept-Type` link broken"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Messages

#### What information was incorrect, unhelpful, or incomplete?
Under the `Headers` section, the `Accept-Type` link is broken.

#### Specific section or headline?
`Headers` section

#### What did you expect to see?
A page referring to `Accept-Type`

#### Did you test this? If so, how?
Yes I clicked on the link and I was brought to

[2021-04-23 22:45] eatmorepies-dev opened #4431 "Issue with "<input type="datetime">": No compatibility table"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/datetime

#### What information was incorrect, unhelpful, or incomplete?
The Deprecated section makes reference to a nonexistent "Compatibility table".

#### Specific section or headline?
Deprecated

#### What did you expect to see?
An associated Compatibility table

#### Did you test this? If so, how?
Clicking the compatibil

[2021-04-24 03:39] #4320 closed

[2021-04-24 08:54] grahamperrin opened #4434 "Issue with "Storage Inspector": storage type Extension Storage is missing from the opening list"
MDN URL: https://developer.mozilla.org/en-US/docs/Tools/Storage_Inspector

#### What information was incorrect, unhelpful, or incomplete?

One of six storage types is not listed.

#### Specific section or headline?

https://github.com/mdn/content/blob/main/files/en-us/tools/storage_inspector/index.html#L19

#### What did you expect to see?

– as the third of six bullet points (in alphabetical orde

[2021-04-24 08:55] jadjoubran commented on #798
This can be closed now 👍🏼 The PR was merged successfully

[2021-04-24 09:39] rachelandrew commented on #4431
@eatmorepies-dev thanks for raising this, I don't think there is support for this feature and so we don't have a compat table for it. I'll update the note at the top.

[2021-04-24 09:41] #4371 closed

[2021-04-24 10:02] Jasko231 opened #4435 "Issue with "SpeechSynthesis.pending": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/SpeechSynthesis/pending

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/api/speechsynthesis/pending`
* MDN URL: https://developer.mozil

[2021-04-24 14:45] rettimo opened #4438 "Issue with "Array.prototype.fill()": (short summary here please)"
Duplicate of the string `[1, 2, 3].fill(4, 3, 3); // [1, 2, 3]` in the Russian version

[2021-04-24 16:28] wbamberg commented on #4428
I agree that the SVG docs could use some more attention. Out of interest, did you find https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial ? It looks good to me although the "advanced" sections are missing. But it's not clearly linked from https://developer.mozilla.org/en-US/docs/Web/SVG.

[2021-04-24 17:19] Kaniee opened #4440 "Issue with "BigInt": Modulo operator not listed"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt

#### What information was incorrect, unhelpful, or incomplete?
There is no clear information on the use of the modulo operator on BigInts

#### Specific section or headline?
Operators

#### What did you expect to see?
I expected to see the modulo operator in the list of supported operations:
`+ * - **

[2021-04-24 17:33] wbamberg commented on #4378
The only thing ... I could not perform the test because the test file mentioned in the exercise, is with a link that takes me to a "not found" page; (

Thanks for filing, @Serchlord . Can you provide a link to the page that contained the broken link?

[2021-04-24 17:41] wbamberg commented on #1667
Fixed: https://github.com/mdn/content/pull/4432

[2021-04-24 17:41] #1667 closed

[2021-04-24 17:47] Shinyaigeek commented on #4390
Can I pick this issue?

[2021-04-24 18:02] Frontend-io opened #4441 "Issue with "<input type="time">": Incorrect grammar"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/time

#### What information was incorrect, unhelpful, or incomplete?
The word 'are' is missing from the line; "... and there multiple ways in which people write times, such as: ..."

#### Specific section or headline?
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/time#handling_browser_support
Last line in th

[2021-04-24 18:08] jobowo commented on #4428
Thank you for the response and the link. I will examine that more closely.
However, after about a day's research and experimentation I have managed to
come up with the following basics (below) that I believed could have saved
me (or anyone else) several hours.

I do realize that SVG can and is used for a wide variety of problems far
more exotic than what I want it for. However, I suspect that many

[2021-04-24 18:08] wbamberg commented on #4438
Thanks for filing! I think this should perhaps be filed at https://github.com/mdn/translated-content .

[2021-04-24 19:52] Jobtye commented on #4441
Sorted #4443

[2021-04-24 23:06] jlorenzoC opened #4444 "Content issue: Orthographic errors"
- There are extra spaces before punctuation marks _(signposted in the photo below with the red lines and arrows)_. This extra space shouldn't exist before any punctuation mark, only after.
- Instead ~pudera~, write _pudiera_. The i letter is missing.
- I think there should exist a comma where i mark in the photo below comma with the arrow,  after the word _estilo_

![image](https://user-images.git

[2021-04-25 02:50] wbamberg commented on #4444
Thanks for filing! I think this should perhaps be filed at https://github.com/mdn/translated-content .

[2021-04-25 02:58] Leokuma opened #4446 "Issue with "HTMLSlotElement.assignedNodes()": misleading phrasing"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/HTMLSlotElement/assignedNodes

#### What information was incorrect, unhelpful, or incomplete?
The article states that, if no assigned nodes are found, the function returns the slot's fallback content.

I believe that is only true if the `options` parameter is passed the value `{flatten: true}`. I think the article doesn't make that clear en

[2021-04-25 06:02] SphinxKnight commented on #4444
@wbamberg, don't hesitate to ping me for transferring.

[2021-04-25 06:04] SphinxKnight commented on #4441
Thanks @Jobtye for the fix :)

[2021-04-25 06:04] #4441 closed

[2021-04-25 11:36] #4370 closed

[2021-04-25 11:49] Ryuno-Ki commented on #4428
@jobowo Thank you for opening this issue.
I'm listed as topic owner for SVG and will use this feedback once I find the time to care more for SVG (since I work on MDN in my spare time).

SVG is often controlled via a library such as d3.js, since it can have some tricky parts.
For example, the origin is in top-left (you might think of bottom left corner from a math standpoint) with x going towards t

[2021-04-25 12:01] Ryuno-Ki commented on #2688
Ping @hamishwillee

[2021-04-25 14:55] rahuld7219 opened #4449 "Issue with "Array.prototype.reduce()": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/Reduce

#### What information was incorrect, unhelpful, or incomplete?

// Inline reducer function
reduce(function reducerFn(accumulator, currentValue, index, array) { ... }, thisArg)

#### Specific section or headline?
In the syntax of the reduce method

#### What did you expect to see?
The second argu

[2021-04-25 14:58] Serchlord commented on #4378
hey!
this would be the broken link 404 Not Found (w3clubs.com)
<https://www.w3clubs.com/mozdev/test.html>
thanks for answering me! Im trying to improve my ajax skills so I drop by
this exercise but i couldnt make it...hehehe

El sáb, 24 abr 2021 a las 14:33, wbamberg ***@***.***>)
escribió:

[2021-04-25 15:48] Gulyy1406 opened #4450 "Issue with "Constraint validation": (short summary here please)"
MDN URL: https://developer.mozilla.org/ru/docs/Web/Guide/HTML/HTML5/Constraint_validation

#### What information was incorrect, unhelpful, or incomplete?
Input without attributes.
![изображение](https://user-images.githubusercontent.com/77209532/115999923-a133da80-a5f6-11eb-8de1-250d6ff738d1.png)

#### Specific section or headline?
Limiting the size of a file before its upload

#### What did you e

[2021-04-25 17:41] ayushi19031 commented on #3197
I want to work on this. Thank you!!

[2021-04-25 17:42] ayushi19031 commented on #2578
I want to work on this. Thank you!!

[2021-04-25 18:41] Ryuno-Ki commented on #2578
Great to hear!

Assigned this issue to @ayushi19031.
Let us know if you need help with something.

[2021-04-25 18:42] jobowo commented on #4428
Hi André

Thanks for the reply and clarifications, and for providing what you do for
MDN. Very much appreciated. At the bottom of this is a brief resume, so
that you can more easily anticipate what is within my range and what is
not.

It is becoming increasingly clear to me that SVG has diverse application,
but that creates some of this problem of murkiness. I want my simple
concept-space explaine

[2021-04-25 20:00] longm89 commented on #2958
@chrisdavidmills Thanks a lot, I added some use cases of IIFE.

[2021-04-25 20:47] #798 closed

[2021-04-25 20:47] chrisdavidmills commented on #798
@jadjoubran done!

[2021-04-25 21:05] RobertRodes opened #4461 "Issue with "Date() constructor": minor documentation improvement to `day` parameter"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/Date

#### What information was incorrect, unhelpful, or incomplete?
`day` parameter

#### Specific section or headline?
Individual date and time component values

#### What did you expect to see?
It would be useful to point out that `0` references the last day of the previous month, e.g.:
[code]

#### D

[2021-04-25 21:35] gojanedoe opened #4462 "Issue with "Writing style guide": Incorrect link and spelling"
MDN URL: https://developer.mozilla.org/en-US/docs/MDN/Guidelines/Writing_style_guide

#### What information was incorrect, unhelpful, or incomplete?
This sentence: "For example, if you [look up "behavior"](http://www.dictionary.com/browse/behavior), you find the phrase "Chiefly British" followed by a link to the American standard form, "[behavior](http://dictionary.reference.com/browse/behavior)".

[2021-04-25 22:32] gustavopi opened #4463 "The CSS transform function rotate() have wrong spin example"
In the example of the rotate(45deg) the square is in fact rotated by -45deg
[https://developer.mozilla.org/pt-BR/docs/Web/CSS/transform-function/rotate()](url)

[2021-04-25 23:50] hamishwillee commented on #4462
Thanks very much. This will be fixed by #4465.

[2021-04-26 00:03] #755 closed

[2021-04-26 00:09] hamishwillee commented on #2688
Thanks, I haven't forgotten. Just not a priority IMO.

[2021-04-26 00:30] hamishwillee commented on #4417
Hi @chrisribe I recently added this back to match the browser compatibility data - which is more "canonical" than the MDN. The discussion here says why: https://github.com/mdn/browser-compat-data/commit/e7e3be9744f23d41cbc673a90f22d5f872ab44e7

@sideshowbarker you made that BCD change - do you have an opinion on this?

[2021-04-26 00:47] chrisribe commented on #4417
I was looking at other sources describing the api and they do not mark it as deprecated... confused.

https://microsoft.github.io/PowerBI-JavaScript/interfaces/_node_modules_typedoc_node_modules_typescript_lib_lib_dom_d_.navigator.html#platform

https://developer.apple.com/documentation/webkitjs/navigatorid/2528123-platform

https://docs.w3cub.com/dom/navigatorid/platform

https://www.w3.org/TR/20

[2021-04-26 00:48] sideshowbarker commented on #4417
It’s right to keep it marked as deprecated in MDN, just as it is in BCD.

And that reason it’s deprecated is that developers actually have on assurance that the browser is trying to return anything accurate or useful for it. That’s because the spec allows browsers to return the empty string for it if they choose to.

So by marking this as deprecated, the message we’re giving to developers is: Don’

[2021-04-26 01:02] sideshowbarker commented on #4417
None of those are authoritative. They rightly should all be updated to match MDN and BCD.

That spec and any other HTML spec is https://www.w3.org/TR is long obsolete. At this point, no HTML specs in https://www.w3.org/TR should ever be used, by anybody, for anything. They are all either years out of date at best, or at worst contain information that conflicts with the actual HTML standard.

https

[2021-04-26 01:12] sideshowbarker commented on #4417
Note also in the spec the following big red warning:

https://html.spec.whatwg.org/multipage/system-state.html#client-identification:tracking-vector

Notice especially the *“implementers are strongly urged to include as little information in this API as possible”* part. What that’s essentially saying to browser vendors is: *Despite whatever details you may now have NavigatorID providing, consideri

[2021-04-26 01:31] hamishwillee commented on #4417
Thanks @sideshowbarker - appreciate the response. I'm convinced.

@chrisribe
- I am closing this.
- For future reference, if you come up with things like this then best place to post them is browser compatibility repo, as MDN will attempt to follow that (and may well auto-populate from it in future).
- Thanks for posting. Good for me to have clarification too.

[2021-04-26 01:31] #4417 closed

[2021-04-26 02:03] hamishwillee commented on #4396
Thanks for reporting. Fixed in #4466

[2021-04-26 03:22] hamishwillee opened #4468 "Content bug: AudioListener and attributes need better examples."
https://developer.mozilla.org/en-US/docs/Web/API/AudioListener

As discussed in https://github.com/mdn/content/pull/4401#discussion_r619372451 `AudioListener` and all the attributes link to the same example https://developer.mozilla.org/en-US/docs/Web/API/PannerNode#examples

This is not actually all that relevant to all the attributes, and is probably more comprehensive than required at this leve

[2021-04-26 03:43] jonathanmayer opened #4469 "Issue with "webNavigation.onHistoryStateUpdated": incorrect timeStamp semantics"
MDN URL: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/webNavigation/onHistoryStateUpdated

#### What information was incorrect, unhelpful, or incomplete?

On the page for the `webNavigation.onHistoryStateUpdated` event, the documentation for the `timeStamp` property of the event details reads:
[code]

The [Chrome documentation](https://developer.chrome.com/docs/extens

[2021-04-26 05:10] ayushi19031 commented on #2578
Okayy thank you so much ! Have started working on it.

[2021-04-26 05:37] hamishwillee commented on #4308
- [ ] [BCD for DeviceProximityEvent](https://github.com/mdn/browser-compat-data/pull/10082) - in review
- [ ] BCD for UserProximityEvent - not created, waiting on https://bugzilla.mozilla.org/show_bug.cgi?id=1699707#c14
- [ ] [DeviceProximityEvent](https://developer.mozilla.org/en-US/docs/Web/API/DeviceProximityEvent) docs  - propose to keep the parent but delete the attributes.

[2021-04-26 07:00] ayushi19031 commented on #2578
Hello! I realised that the JS code given on this link:
https://developer.mozilla.org/en-US/docs/Tools/Debugger-API/Tutorial-Breakpoint
for using the debugger API is broken because Components object is deprecated.

I searched a lot for the alternatives to Component, but I am not able to find any working solution for a web browser.

I am a newbie here, so it will be really helpful if you can give me

[2021-04-26 07:23] #4396 closed

[2021-04-26 07:26] #4462 closed

[2021-04-26 07:46] hamishwillee commented on #4315
FWIW I think it is important to have one canonical source for information. So if everything is documented somewhere in webdriver itself then all you would have on MDN would be an overview of what you can do/what it is for, and then instructions on how to get any other information you need. What isn't clear is whether you're just documenting part of what is needed elsewhere or everything.

If it is

[2021-04-26 08:01] Elchi3 opened #4476 "API structure conventions: syntax sections for properties?"
This came up in https://github.com/mdn/content/pull/4401#discussion_r618936284

@hamishwillee and I are wondering what to with property pages with regards to syntax sections.

It is a bit weird that many property reference pages have a syntax section that try to demonstrate syntax. Unlike methods or constructors, there isn't really a signature or the like to show.

There have been a few strategies

[2021-04-26 08:11] #4440 closed

[2021-04-26 08:27] chrisdavidmills commented on #4476
I prefer option 2 as well. It is short and to the point, it clearly demonstrates the read-only status and what the different forms look like (more friendly to beginners that just saying "it's read-only" or whatever and expecting them to know what that entails), and it is in less danger of duplicating parts found in Examples sections. Works for me.

[2021-04-26 09:19] chrisdavidmills commented on #3197
@ayushi19031 thanks for your interrest. First of all we'll check whether the current assignee is still interested in working on it.

@CreaTorAlexander this one has been with you for a while now. Do you think you will get to it in the next few days? I think I'd prefer to assign it to Ayushi to have a go at, if that's OK with you.

[2021-04-26 09:29] FlorianKirmaier opened #4478 "Issue with "Window.devicePixelRatio": snippet to detect changes only detects when the initial value changes but doesn't detect further changes"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Window/devicePixelRatio

#### What information was incorrect, unhelpful, or incomplete?

The JavaScript snippet to detect changes only detects when the initial value changes but doesn't detect further changes. This can easily be tested on Chrome with zoom.

#### Specific section or headline?

JavaScript

#### What did you expect to see?

A

[2021-04-26 09:37] chrisdavidmills commented on #4390
Thanks @caitmuenster ; I've added it to the Firefox 89 project board. Did you have someone already working on this, or can @Shinyaigeek help with doing the work?

[2021-04-26 09:57] #3453 closed

[2021-04-26 11:01] rachelandrew commented on #4476
I'd also opt for option 2, I've written a load of these recently and agree they often end up similar to the examples, or just not very useful.

cc: @jpmedley who may have input on this.

[2021-04-26 11:05] Elchi3 opened #4482 "Decide how to render new specification section"
I'm filing this issue to decide what we want to render (for now) in the new Specification section that gets data from [mdn/browser-combat-data](https://github.com/mdn/browser-compat-data) and [w3c/browser-specs](https://github.com/w3c/browser-specs). See https://github.com/mdn/yari/pull/3518 for the Yari implementation PR.

The idea is that authors provide a front matter

[code]

and a specificati

[2021-04-26 11:22] #4304 closed

[2021-04-26 11:22] #4310 closed

[2021-04-26 12:28] Elchi3 commented on #4482
# Option 2
Switch to an unordered list. (Probably rename `{{SpecificationTable}}` to `{{Specifications}}` if we do this.)

Could be one line or two lines per spec (or something else, let me know)

![Bildschirmfoto 2021-04-26 um 14 18 53](https://user-images.githubusercontent.com/349114/116081898-1658eb80-a69b-11eb-8552-5b083d474a23.png)
![Bildschirmfoto 2021-04-26 um 14 19 54](https://user-images.

[2021-04-26 13:18] chrisribe commented on #4417
Thanks @sideshowbarker and @hamishwillee for taking the time to document and explain all of this in a clear fashion.

[2021-04-26 13:28] rachelandrew commented on #4463
@gustavopi the example is a live rendering of the code, so the CSS as written is what is giving the output you are seeing. Therefore I think it's correct.

[2021-04-26 13:41] rachelandrew commented on #4169
@DerKoun I'm a bit confused by this. None of the blockquotes have an 8px margin.

This first example shows the default margin the browser gives to a blockquote, which I think is worth mentioning. But the margin on the body element isn't relevant in so far as the example goes.

[2021-04-26 13:44] chrisdavidmills commented on #4482
I feel like the table looks a bit neater, but maybe that's just because that's the look I'm used to?

One more point — the "A feature with no specifications:" warning box needs a heading, maybe "No specification found"?

[2021-04-26 14:34] Elchi3 commented on #4482
Thanks Chris, that makes sense! I'll include it.

# Option 3
Use a table but make it more rich by using data points the browser-specs data has to offer. (see the spec object for what's there). Example: Include links to spec repo and tests.
![Bildschirmfoto 2021-04-26 um 16 31 39](https://user-images.githubusercontent.com/349114/116100307-1235c980-a6ad-11eb-9a13-c03bc25f0c2a.png)

[2021-04-26 14:36] Elchi3 commented on #4482
I think I'm leaning towards option 1 (which is a bit lame given it is what we have now), but for the moment it could at least help us test this new approach and then we could follow-up with a project to make the rendering more useful and better.

Thoughts? :)

[2021-04-26 14:38] chrisdavidmills commented on #4482
I like it. We can then easily change the rendering if we want to improve it later on.

[2021-04-26 14:50] liambolling opened #4490 "Issue with "MediaRecorder.ondataavailable": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/MediaRecorder/ondataavailable

#### What information was incorrect, unhelpful, or incomplete?
"ondataavailable" is only fired once (not in slices) on mobile safari as of iOS 14.4 when stop is called. All other browsers (including desktop Safari) support recording in slices.

#### Specific section or headline?
Browser compatibility

#### Wha

[2021-04-26 16:24] dontcallmedom commented on #4482
in https://github.com/w3c/webref/ we export data about [extracted headings](https://github.com/w3c/webref/tree/master/ed/headings) from browser-specs, so the currently cryptic `#sec-array.prototype.tolocalestring` could be replaced by the name of the section.

(it so happens that the extraction right now doesn't work correctly for the ecmascript spec, but that's just an easy fix away)

It would ad

[2021-04-26 16:42] jjspace opened #4493 "Issue with Constraint validation related pages: Not obvious only works on user input"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation
Also applies to: https://developer.mozilla.org/en-US/docs/Web/HTML/Constraint_validation
and maybe other related validation pages

#### What information was incorrect, unhelpful, or incomplete?

There is no mention that the methods `.validity`, `.checkValidity()` and `.reportValidity()` and HTML5 validation in general on

[2021-04-26 16:51] #2958 closed

[2021-04-26 17:28] Gregoor commented on #4482
out of curiosity (and for my understanding): So we have pages with compat data but without specifications? Or converserly, if we do not, we could add these sections automatically?

[2021-04-26 17:33] SphinxKnight commented on #4378
https://github.com/mdn/content/blob/0e531ce3b42eebfb041583f2428c68b3eb2a1048/files/en-us/web/guide/ajax/getting_started/index.html#L216 is the only en-US file which point to the w3clubs domain (which seems dead).

The exact link exists in some localized docs (all of them being frozen at the time (except zh-tw)).

[2021-04-26 17:39] Xebozone opened #4495 "UML for Django Models tutorial is out of date"
URL:
https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Models

Issue:
The UML at the top is not the same as the model.
The BookInstance model has a field for "imprint", for example.

[2021-04-26 18:28] mars3812 opened #4497 "Issue with "Looping code": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Building_blocks/Looping_code

#### What information was incorrect, unhelpful, or incomplete?
let output = document.querySelector('.output');
output.innerHTML = '';

let i = 10;
while(i >= 0) {
 **let para** = document.createElement('p');
 if(i === 10) {
 para.textContent = 'Countdown ' + i;
 } else if(i === 0) {
  para.textContent

[2021-04-26 18:43] wbamberg commented on #4476
FWIW I think option 0 is best. It looks like option 2 really conveys only one bit of information, which is whether the property is read-only.

If so this is a lot of words to say that and it harder to read, I think, that just "This property is read-only." (which we already say in the page, so it's duplicated in option 2). What would be awesome would be to represent "read-only" as a front matter pr

[2021-04-26 19:44] migraineman opened #4499 "Issue with "Test your skills: HTML text basics": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Test_your_skills:_HTML_text_basics

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/learn/html/introduction_to_html/

[2021-04-26 19:46] migraineman commented on #4499
In html text basics 1, 2, and 3 you keep saying to make it like the finished example, but there is no finished example.

[2021-04-26 21:16] caitmuenster commented on #4390
Hi @Shinyaigeek, thank you for your willingness to help! 🙏 Here are a couple of expectations for the update:

- When updating the properties that will no longer be supported in the Colors table, add the "thumbs down" emoji next to the property name, and add a note about the deprecation timeline in the "Description" column. See example:

<img width="861" alt="Screen Shot 2021-04-26 at 2 09 42 PM" s

[2021-04-26 21:23] kp2017 opened #4502 "Issue with "CustomElementRegistry.whenDefined()": Missing Then"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/CustomElementRegistry/whenDefined

**Current**
await Promise.all(promises);
container.removeChild(placeholder);

**should be:**
await Promise.all(promises)
.then(
container.removeChild(placeholder);)

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/api/customelementregistry/whendefined`
* MDN URL: https://

[2021-04-26 21:41] hamishwillee commented on #4476
I am also interested in the type of the object. I like the idea of this stuff being in metadata because then you can more easily run checkers to confirm the needed information is present, and later on decide how to render.

Upshot - I lean towards option 0 for syntax, but we need some way to capture this.

[2021-04-26 23:00] duke33 opened #4503 "Issue with "Express Tutorial Part 7: Deploying to production": (short summary here please)"
So here https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/deployment#setting_configuration_variables

In this code:

[code]
MONGODB_URI should not be set in-between single quotation marks, at least, it did not work for me that way. I had to delete them to make it work. I think it is the way you are supposed to define variables in an .env file, but since I'm new to this stuf

[2021-04-26 23:14] DerKoun commented on #4169
@rachelandrew all:inhert makes the blockquote inherit the display value of the body. So far the description is right and the demonstration is correct. However it also means blockquote inherits the margin of the body. And in browsers that, by default, is 8px. The only reason it's not like that in the demonstration is that it's explicitly overridden. So copying the sample code into the body of an em

[2021-04-26 23:50] hamishwillee commented on #4495
Thanks! Fixed by #4505.

[2021-04-27 00:19] hamishwillee commented on #4503
Thanks @duke33. Annoyingly I've changed this back and forth a few times - so I think that perhaps heroku are messing with us.
I'll add a note that if one way doesn't work, try another.

[2021-04-27 00:39] hamishwillee commented on #4482
1. I like the table more than the list. It feels like a good way to insert "formal" information. So "1"
2. If compat data exists and specification exists in that, should yari auto-insert the spec data and heading even if these are not present?

[2021-04-27 01:07] jonathanmayer opened #4507 "Issue with "webNavigation.onCreatedNavigationTarget": regression for target="_blank" links"
MDN URL: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/webNavigation/onCreatedNavigationTarget

#### What information was incorrect, unhelpful, or incomplete?

The documentation for `webNavigation.onCreatedNavigationTarget` does not reflect that, since Firefox 65, there has been a regression where the event does not fire when clicking on an anchor element with a `targe

[2021-04-27 03:29] pietrop opened #4510 "Content bug: broken image in "Media Object" section, under "Typical use cases of Flexbox" guide"
## What page(s) did you find the problem on?

https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Typical_Use_Cases_of_Flexbox#media_objects

## Specific page section or heading?

Typical use cases of Flexbox --> Media objects

## What is the problem?

 broken image in media Object flex box example, see screenshot below:

<img width="797" alt="Screen Shot 2021-04-26 at 11 24 4

[2021-04-27 04:36] frontendDevNat opened #4511 "Issue with "MediaStreamTrack": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/MediaStreamTrack

#### What information was incorrect, unhelpful, or incomplete?
Note: You can implement standard "mute" functionality by setting enabled to false, and unmute the media by setting it back to true again.

#### Specific section or headline?
MediaStreamTrack.muted

#### What did you expect to see?
Note: You can implement standa

[2021-04-27 07:19] chrisdavidmills commented on #4499
This is a good point — we were saying "recreate", but really we mean "create". I've updated the wording in https://github.com/mdn/content/commit/c317bc0196ebd8b0e618b6e74e94e97728a2d372.

thanks for reporting this.

[2021-04-27 07:19] #4499 closed

[2021-04-27 07:28] duke33 commented on #4503
Thank you @hamishwillee !

[2021-04-27 11:00] lipei2017 opened #4517 "Issue with "EventTarget.addEventListener()": (short summary here please)"
MDN URL: https://developer.mozilla.org/zh-CN/docs/Web/API/EventTarget/addEventListener

#### What information was incorrect, unhelpful, or incomplete?
'prevebt ' maybe incorrect

#### Specific section or headline?
使用 passive 改善的滚屏性能

#### What did you expect to see?
prevent

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `zh-cn/web/api/

[2021-04-27 11:37] ekashida opened #4518 "Content bug: ShadowRoot.delegatesFocus was recently incorrectly marked as deprecated"
## What page(s) did you find the problem on?

https://developer.mozilla.org/en-US/docs/Web/API/ShadowRoot/delegatesFocus

## Specific page section or heading?

https://developer.mozilla.org/en-US/docs/Web/API/ShadowRoot/delegatesFocus#deprecated

## What is the problem?

This feature was marked as deprecated:
https://github.com/mdn/content/pull/4226/files#diff-255787f14b4dfc03561fb12d48a7118a69788

[2021-04-27 12:04] ddbeck commented on #4367
I know there's at least one partial implementation of the definition list: https://github.com/Symbitic/remark-plugins/tree/master/packages/remark-deflist. It has a limitation of only supporting single-paragraph definitions. Looking at the implementation, I'd guess that generalizing it to any sort of block is rather more complex. I'm not quite sure if _can_ be done without actually implementing a n

[2021-04-27 12:26] ddbeck commented on #4325
I wanted to endorse the "use GFM syntax when we can, and HTML tables the rest of the time" option. 👍

For the table source appearance problem, the ideal thing would be to use Prettier (or similar) to automatically format and enforce the full syntax. Whether we can do that in practice depends on us not adopting any Prettier-unfriendly changes to CommonMark/GFM (e.g., adopting kramdown-style block a

[2021-04-27 12:36] Elchi3 commented on #4518
Thanks for your issue report! This was already un-deprecated in https://github.com/mdn/content/pull/4508. Should be live on the site soon

[2021-04-27 12:36] #4518 closed

[2021-04-27 12:56] mkuehn opened #4520 "Issue with "Using the Web Storage API": Broken External Link"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Web_Storage_API/Using_the_Web_Storage_API

#### What information was incorrect, unhelpful, or incomplete?

Broken link to external content.

#### Specific section or headline?

"Here is a detailed rundown of all the storage capacities for various browsers." at the bottom of the page.

#### What did you expect to see?

The external website l

[2021-04-27 12:58] gustavopi commented on #4463
The page in my language (ptBR) is not running the example anymore, FireFox is blocking the example from being executed. The page in english is ok, the box is rotating clockwise. Will see later in another browser about ptBR example...

[2021-04-27 13:39] Elchi3 commented on #4482
Thanks for the feedback all! One thing seems clear: It can be a table or something else in the future, so in the implementation I changed the macro call to avoid the term "table". So, now you get the magic section when writing:

[code]

[2021-04-27 13:46] Elchi3 commented on #4482
This is really cool! Thanks for sharing. I'm excited to see there are even more possibilities with this approach.

Right, I think I would like to get to this after the initial landing. We should probably have a follow-up issue to investigate integration of webref.

Yes, I think we want something semantically correct, so a list seems preferable.

These are good points. I think calling it "Feedback"

[2021-04-27 13:51] Elchi3 commented on #4482
I think in the future, we could auto-insert sections depending on the page type, but for now we haven't defined page types, so the idea is to rely on front matter and "markers" where to load BCD and Specifications sections.
[code]

[2021-04-27 14:09] Elchi3 commented on #4476
This is very true and maybe there are better ways to represent this clearly. Happy to conclude this with option 0.

[2021-04-27 14:49] scottaohara opened #4525 "Issue with "ARIA: Mark role": “mark” is not a landmark role"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Mark_role

#### What information was incorrect, unhelpful, or incomplete?
`mark` is not a landmark role

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/accessibility/aria/roles/mark_role`
* MDN URL: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Mark_role
* GitH

[2021-04-27 15:04] karastras opened #4526 "Issue with "Intersection Observer API": (short summary here please)"
MDN URL: https://developer.mozilla.org/fr/docs/Web/API/Intersection_Observer_API

#### What information was incorrect, unhelpful, or incomplete?

At the end of the docs, the last exemple, "the Result" don't work correctly, I scroll the box but there is not changes.

<details>
<summary>MDN Content page report details</summary>

* Folder: `fr/web/api/intersection_observer_api`
* MDN URL: https://dev

[2021-04-27 15:07] jpmedley commented on #4476
I like option 2, but I'm not fond of using the terms 'getter' and 'setter'.
Those are IDL specific terms. Anyone new to web programming, whether
they're an experienced coder or not, is more likely to know the terms
'read' and 'write'. Option 2 also allows for conveying what the data type
takes or returns (string, number, etc.). I've always tried to give the
setting or returning value a name that c

[2021-04-27 15:08] junjunjunk commented on #3140
Hi. I'll take this issue.

[2021-04-27 15:38] xgqfrms opened #4529 "Issue with "History.state": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/History/state

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/api/history/state`
* MDN URL: https://developer.mozilla.org/en-US/docs/We

[2021-04-27 15:41] xgqfrms commented on #4529
# error examples ❌

[code]

![image](https://user-images.githubusercontent.com/7291672/116270756-f49e5800-a7b1-11eb-9e98-83bb8a41d890.png)

# correct examples ✅

[code]

## refs

https://developer.mozilla.org/en-US/docs/Web/API/History/state#examples

[2021-04-27 18:49] wbamberg commented on #4325
That's interesting, I was talking about using Prettier with @Gregoor today. I agree that being able to use it would be a big advantage.

Yes.

[2021-04-27 19:44] #4529 closed

[2021-04-27 20:40] joeashcraft opened #4536 "Issue with "<input type="date">": broken link to "date and time picker tutorial""
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date

#### What information was incorrect, unhelpful, or incomplete?
in *See Also*, the [Date and Time picker tutorial](https://developer.mozilla.org/en-US/docs/Learn/Forms/Basic_native_form_controls#date_and_time_picker) link leads to a page which does not contain the datetime picker.

The link should probably lead to `https

[2021-04-27 22:44] gustavopi commented on #4463
Here is:
[https://media.prod.mdn.mozit.cloud/attachments/2015/12/14/12113/784a3c80827009d3fca248745bf64129/rotate.png](url)
This image is not showing correctly what is a 19.5deg rotation.
The example is blank in safari, in Chrome the connection with "yari-demos.prod.mdn.mozit.cloud" is refused. Thought the programmer will quickly find the right way to use rotate(), but will be nice to fix the page

[2021-04-27 22:45] Leokuma commented on #4502
Well, it's not exactly "wrong", but it could be more clear.

The problem is that the code snippet uses `await` outside of an `async` function, which is currently not supported.

It could either wrap the code in an async function or use `then()` instead of `await`.

[2021-04-27 22:56] hamishwillee commented on #4367
What I like about @ddbeck suggestion of overloading lists https://github.com/mdn/content/issues/4367#issuecomment-827553513  is that it allows nested deflists, which is something that we do have in our sources. If we went this approach would be good to have a more visible keyword/list marker.

What I like about using the extended GFM is that it is clearly NOT an ordinary list. But that only suppor

[2021-04-27 23:33] wbamberg commented on #4367
By "extended GFM" do you mean what Kramdown does or something else? Because Kramdown does allow nesting (although the Unified implementation Daniel linked to above does not).

I'm not happy about it but I do think it will be difficult to live without nesting in our current docs.

[2021-04-27 23:56] hamishwillee commented on #4367
I meant Kramdown. How does that do nesting?

[2021-04-28 00:09] wbamberg commented on #4367
According to https://kramdown-sandbox.herokuapp.com/ , this markup:

[code]

...gives us this HTML:

[code]

[2021-04-28 05:05] imadr opened #4539 "Issue with "WebGL2RenderingContext.getBufferSubData()": Argument 3 does not implement interface ArrayBufferView"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/WebGL2RenderingContext/getBufferSubData

#### What information was incorrect, unhelpful, or incomplete?

The `dstData` argument of type `ArrayBuffer` doesn't work and results in this error:

    Uncaught TypeError: WebGL2RenderingContext.getBufferSubData: Argument 3 does not implement interface ArrayBufferView.

#### Specific section or hea

[2021-04-28 05:50] ghost opened #4541 "Issue with "Test your skills: Math": (short summary here please)"
...

[2021-04-28 06:24] chrisdavidmills commented on #4541
To solve Math 3, you need to use comparison operators, which are taught at https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/Math#comparison_operators, in the article before the quiz.

What, for providing a full-featured course to allow you to learn JavaScript, FOR FREE? I know, I'm behaving terribly.

[2021-04-28 08:01] sideshowbarker commented on #4342
The wording that’s currently in that MDN article in essentially verbatim from the wording in the spec.

At https://html.spec.whatwg.org/multipage/custom-elements.html#dom-customelementregistry-whendefined-dev, the spec has this:

And at https://developer.mozilla.org/en-US/docs/Web/API/CustomElementRegistry/whenDefined#syntax MDN has this:

[2021-04-28 08:20] masha-padalko opened #4544 "Issue with "Как использовать GitHub Pages?": (short summary here please)"
MDN URL: https://developer.mozilla.org/ru/docs/Learn/Common_questions/Using_Github_pages

#### What information was incorrect, unhelpful, or incomplete?
Page has name Using_Github_pages(Как использовать GitHub Pages?), but there is no info regarding GitHub pages, just flow how to push your code to github account

#### Specific section or headline?

#### What did you expect to see?

#### Did you te

[2021-04-28 08:25] sideshowbarker commented on #4348
Thanks for catching this — I’ve opened https://github.com/mdn/content/pull/4545 with a fix.

[2021-04-28 08:35] sideshowbarker commented on #4340
Thanks for raising this (and thanks @wbamberg for the spec citation) — I’ve opened https://github.com/mdn/content/pull/4546 with a fix.

[2021-04-28 08:37] sideshowbarker commented on #4363
Is that *"On Firefox and Chrome (at least), this only works from the same parent, ie. if the current window is the opener of the window you try to get an handle on"* sentence the only part that needs to be changed (completely removed, I guess?), or instead do the first two sentences in that paragraph also need changing?

[2021-04-28 08:54] sideshowbarker commented on #4394
I suggest posting a question about this to a site such as Stack Overflow. We only work on the documentation here. If/when you have a proposal for a specific change to the https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API article, we could revisit this.

[2021-04-28 08:54] #4394 closed

[2021-04-28 09:13] sideshowbarker commented on #4427
I get `5e-324` for `Number.MIN_VALUE` in every browser I’ve tested with — as well as in Node:
[code]
So I don’t understand what should be changed in article.

[2021-04-28 09:20] dontcallmedom commented on #4511
I don't think the document is wrong - as the [spec explains](https://w3c.github.io/mediacapture-main/getusermedia.html#track-enabled), `enabled` is indeed what a developer would use to mute a track, `muted` reflects the read-only user-agent state of the track.

It may be useful to repeat the note that "The muted property refers to a condition in which there's no media because of a technical issue"

[2021-04-28 09:21] dontcallmedom commented on #4490
should this be moved as an issue to https://github.com/mdn/browser-compat-data/ instead?

[2021-04-28 09:25] #4348 closed

[2021-04-28 09:26] #4340 closed

[2021-04-28 09:26] dontcallmedom commented on #3317
The error message (from Firefox) is confusing but the problem is not that the browser is trying to record video, but rather that the MIME type is not supported - the code above works with `audio/webm`.

[2021-04-28 09:29] dontcallmedom commented on #1628
The issue should be retitled s/WebXR/WebRTC/.

There is an ongoing project to explain the WebRTC stack in general being developed in https://github.com/webrtc-for-the-curious/webrtc-for-the-curious - RTP is covered in the networking piece in https://webrtcforthecurious.com/docs/05-real-time-networking/ (available under CC0)

[2021-04-28 09:37] dontcallmedom commented on #1830
[Constrainable properties have a different behavior in `getDisplayMedia`](https://w3c.github.io/mediacapture-screen-share/#constrainable-properties):

In particular, it is [not possible to set the `displaySurface` constraint](https://w3c.github.io/mediacapture-screen-share/#dfn-displaysurface) at all (for security reasons) and the cursor constraint would need to be applied after the fact with `app

[2021-04-28 09:51] dontcallmedom commented on #3317
I've filed https://bugzilla.mozilla.org/show_bug.cgi?id=1708123 for the confusing Firefox error message

[2021-04-28 09:58] #4449 closed

[2021-04-28 10:33] matkoniecz commented on #4541
This kind of insults is neither helpful nor needed nor increasing chance of being treated seriously. Please avoid this.

[2021-04-28 10:42] rachelandrew commented on #4510
This is now fixed, I updated the example to use a local image. Thanks for the report @pietrop

[2021-04-28 10:42] #4510 closed

[2021-04-28 10:45] #4536 closed

[2021-04-28 11:25] B-meet commented on #4068
Awesome, thanks! I will check it out later thank you once again buddy

On Tue, Apr 20, 2021 at 1:26 PM Chris Mills ***@***.***>
wrote:

[2021-04-28 12:00] rachelandrew opened #4549 "deprecated_header macro mentions the BCD table which doesn't always exist"
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/datetime

I was working on issue #4431 and intended to amend the note to not refer to BCD. However on taking a proper look realised this note is entered via the deprecated_header macro. In the case of features with no browser implementation, we usually don't have BCD and therefore a note referring to the compat table is unhelpful.

Th

[2021-04-28 12:04] 552020 opened #4551 "'Issue' with "HTML attribute reference": it would be nice to have at least short overview on all possible types of attributes you can find in HTML elements."
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes

#### What information was incorrect, unhelpful, or incomplete?

I was looking for an exact explanation from an HTML point of view of the attribute 'onclick' and I was not able to find anything in MDN. I guess this page is the page, where I think I should have founded the information I was looking for.

I'm aware of the two arti

[2021-04-28 12:20] 552020 commented on #4551
I found now this content in MDN: https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes, cause the Wikipedia article mention it. From the page I raised the issue for is impossible to react that page. You have to click on one of the global attributes listed on the menu on the left and then click back.

[2021-04-28 13:28] #4431 closed

[2021-04-28 13:33] dekaskas opened #4555 "Issue with "Ordering Flex Items": Live examples order is mixed up"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Ordering_Flex_Items

#### What information was incorrect, unhelpful, or incomplete?
Live examples order is mixed up

#### Specific section or headline?
The 1st example is the 3rd

The 2nd is 1st

and 3rd is second

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content p

[2021-04-28 16:05] norricorp opened #4565 "Content suggestion: <TITLE OF SUGGESTION>"
## What is the new suggestion?
Extend the svelte tutorial to swap out localstorage for a rest api based storage

## Why is it important or useful?
The tutorial mentions that this would be relatively straight forward to do and maintain the existing structure and layers.
I am new to svelte and am struggling to see how this is done. I have a backend todo and I can convert that todo record to the one

[2021-04-28 16:05] dontcallmedom commented on #1704
I've checked that `srcObject = blob` still fails in both Firefox and Chrome, although it works in Safari and fixed the WPT test that allows to verify it https://github.com/web-platform-tests/wpt/pull/28727

I've filed a pull request to link to the relevant Chromium and Firefox bugs from the BCD data https://github.com/mdn/browser-compat-data/pull/10147

I believe this issue can be fixed as no chan

[2021-04-28 16:05] meyerweb commented on #4476
Having recently done a bunch of these while working on the Temporal API, I lean toward option 0, especially since just about property in Temporal is read-only.  I could live with Option 2.

[2021-04-28 17:02] #4429 closed

[2021-04-28 17:07] Rumyra commented on #4482
I'm very onboard with a link to the specification _and_ one to give feedback. Agreed 'Repository' made need alteration, but given I've noticed issues coming through on MDN that are issues peeps have with specs and not MDN info, it would be really nice to have an easy way to point them in the right direction when the spec is the appropriate place.

[2021-04-28 17:54] LadislavSzolik opened #4567 "Issue with "JavaScript": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Glossary/JavaScript

#### What information was incorrect, unhelpful, or incomplete?
The following web site is not existing anymore:
https://ejohn.org/apps/learn/

#### Specific section or headline?
https://developer.mozilla.org/en-US/docs/Glossary/JavaScript#learning_javascript

#### What did you expect to see?
the page from John

#### Did you test

[2021-04-28 18:30] KingJulienN-ai opened #4568 "Cannot read property 'getContext' of null"
MDN URL: https://developer.mozilla.org/en-US/docs/Games/Tutorials/2D_Breakout_game_pure_JavaScript/Create_the_Canvas_and_draw_on_it

#### What information was incorrect, unhelpful, or incomplete?
From line 2 below the getContext

#### Specific section or headline?
var canvas = document.getElementById("myCanvas");
var ctx = canvas.getContext("2d");

ctx.beginPath();
ctx.rect(20, 40, 50, 50);
ctx.fi

[2021-04-28 18:34] anforowicz commented on #4363
Yes, I think this is the only problematic sentence.  I think that completely removing this sentence should help.  (OTOH, please note that 1) I didn't test the behavior in Firefox and other non-Chromium-based browsers and 2) I haven't tried tracing (e.g. via `git blame` the origins of the problematic sentence.)

The first two sentences look correct to me: "If a window with the name already exists,

[2021-04-28 19:01] TheosAnthropos commented on #4541
No. They're not "taught" they are mentioned. There's a difference...

[2021-04-28 19:02] TheosAnthropos commented on #4541
No. They're not "taught" they are mentioned. There's a difference...

[2021-04-28 19:20] kwhatmough commented on #4427
@sideshowbarker The value you are seeing is only an approximation of the actual value. When JavaScript converts a number to a string, the value printed is not always the actual value. This illustrates what I mean:
![image](https://user-images.githubusercontent.com/649721/116459485-ded17700-a833-11eb-959d-8889f166cbeb.png)

The MDN page says "`Number.MIN_VALUE` is `5e-324`" which is wrong. The real

[2021-04-28 19:28] Ryuno-Ki opened #4570 "Content suggestion: InputDeviceInfo, MediaDeviceKind, MediaTrackCapabilities, NavigatorUserMedia, NavigatorUserMediaError"
## What is the new suggestion?

It looks like, there are some missing documents:

- /en-US/docs/Web/API/InputDeviceInfo does not exist
- /en-US/docs/Web/API/MediaDeviceKind does not exist
- /en-US/docs/Web/API/MediaTrackCapabilities does not exist
- /en-US/docs/Web/API/NavigatorUserMedia does not exist
- /en-US/docs/Web/API/NavigatorUserMediaError does not exist

## Why is it important or useful?

[2021-04-28 19:34] Ryuno-Ki commented on #4541
I am wondering, whether the OP read https://github.com/mdn/content#code-of-conduct

Find them at https://www.mozilla.org/en-US/about/governance/policies/participation/

Although edited, GitHub allows for seeing the original text, which does not conform to these CoC in my opinion.

[2021-04-28 19:34] Ryuno-Ki commented on #4541
@chrisdavidmills I believe we can close (and perhaps lock) this issue.

[2021-04-28 19:44] Ryuno-Ki commented on #4567
I tried to pull up an old version in the Wayback Machine at archive.org, but even going back to 2015, I can only see 503 or 504 errors.
I'm afraid, it will be hard to restore the link. Perhaps @jeresig has ported its content? (New domain at https://johnresig.com/ )

Otherwise, we should delete this line:

https://github.com/mdn/content/blob/95d888ea5c6202662c709880e47596f1d3466c52/files/en-us/glos

[2021-04-28 19:53] LadislavSzolik commented on #4567
I thought I raise it to keep the page up to date and yes, delete if the content does not exist. 👍

[2021-04-28 19:59] Ryuno-Ki opened #4571 "Content suggestion: IDBVersionChangeRequest and IDBDatabase/setVersion"
## What is the new suggestion?

/en-US/docs/Web/API/IDBVersionChangeRequest does not exist
/en-US/docs/Web/API/IDBDatabase/setVersion does not exist

## Why is it important or useful?

This will prevent first-time contributors from seeing unrelated reports to their contribution.

## Other supporting information

This came up in https://github.com/mdn/content/pull/4538#issuecomment-828736382

[2021-04-28 20:01] Ryuno-Ki commented on #4567
You did good.

I'd like to wait for John to react and otherwise go and delete the link by the end of the week.
Would be great if we could update the link instead of throwing it away!

[2021-04-28 20:05] Ryuno-Ki commented on #4525
It's not having any implicit ARIA role at all according to https://w3c.github.io/html-aria/#el-mark

@ericwbailey What now? Deleting the page?

[2021-04-28 20:39] wbamberg commented on #3140
Fixed by https://github.com/mdn/content/pull/4527  - thanks @junjunjunk !

[2021-04-28 20:39] #3140 closed

[2021-04-28 20:58] Ryuno-Ki opened #4573 "Content suggestion: Flexbox gap"
## What is the new suggestion?

Our Flexbox pages seem not to refer to the `gap` property:
https://developer.mozilla.org/en-US/docs/Glossary/Flexbox (neither on the Flex container page).
`gap` seem to be associated with CSS Grid only.

## Why is it important or useful?

It's interesting, as it would avoid applying workarounds as described in
https://www.falldowngoboone.com/blog/the-curious-case-of

[2021-04-28 21:24] wbamberg opened #4574 "Revert (some) bcd front matter items."
Yesterday I filed https://github.com/mdn/content/pull/4537 to move BCD queries from {{Compat}} arguments into the front matter. I used a really simple heuristic: if a page had one and only one {{Compat}} call, move the BCD query.

But in retrospect this was a bit too keen. In JS we have:

* "reference pages" that describe some language feature (like an operator, or an object, or a method) in a qui

[2021-04-28 21:25] wbamberg commented on #4574
Here's a list of all the pages that got modified in https://github.com/mdn/content/pull/4537:

[code]

[2021-04-28 21:52] wbamberg commented on #4574
Of the pages above, I think all the pages under the following are reference pages:

[code]

The following pages are the root pages for those trees, and maybe should not be considered reference pages, and maybe should be reverted?

[code]

(note that "global_objects" does not contain a BCD table, so isn't included in the big list above)

Leaving the following:

[code]

Of these I think maybe "templ

[2021-04-28 22:08] scottaohara commented on #4525
@Ryuno-Ki `mark` isn't even slated to officially be part of ARIA until 1.3 is released.

it's only in the current [working draft](https://w3c.github.io/aria/#mark) and only has implementations in some browsers, if i recall correctly.

FYI: ARIA in HTML is behind on indicating the implicit ARIA roles for some HTML elements while we wait for ARIA 1.2 to leave CR.

[2021-04-28 22:20] ddziara opened #4576 "Possible mistake in documentation"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Document/embeds

There is:
[The embeds read-only property of the Document interface returns a list of the embedded \<object> elements within the current document.]

shouldn't it be?
[The embeds read-only property of the Document interface returns a list of the embedded \<embeds> elements within the current document.]

[2021-04-28 22:47] mark-at-tusksoft opened #4577 "Issue with "ArrayBuffer": base64 reference material missing on linked page"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/ArrayBuffer

#### What information was incorrect, unhelpful, or incomplete?
[code]
The link hash route does not appear to exist on the target page.

#### What did you expect to see?
The section of the article actually demonstrating base64 conversion to an arraybuffer.

<details>
<summary>MDN Content page repo

[2021-04-28 23:20] escattone commented on #3548
Just wanted to provide some brief comments after long conversations with @wbamberg and @Gregoor about this topic.

- I think option 1 above should be ruled out because of the localization problem. It should be a general rule I think that localizers never touch macro calls.
- Both options 2 and 3 are viable (from a development perspective). Option 2 is more challenging in the one-time conversion ph

[2021-04-28 23:46] farhan443 commented on #4576
I can't see any difference between the text under "There is" and the text under "shouldn't it be?". Did you write the suggestion correctly?

[2021-04-29 00:12] ericwbailey commented on #4525
@Ryuno-Ki I don't think we should delete, but I do think we should strongly communicate that this is not ready for production use.

[2021-04-29 00:58] wbamberg opened #4578 "[Markdown] Decide what to do about <sup> and <sub>"
In the JS docs we use [`<sup>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/sup) and [`<sub>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/sub). There isn't an equivalent of these in GFM.

## How much is it used?

* `<sup>`: 127 occurrences across 44 files:

https://developer.mozilla.org/en-us/web/javascript/a_re-introduction_to_javascript
https://developer.mozilla.org/

[2021-04-29 01:11] sideshowbarker commented on #4427
Thanks for the clarifications.

After looking at the ECMAScript spec, I think we can’t actually state in MDN that there’s a precise value which all implementations a required to support — because as far as I can tell from reading the ECMAScript spec, the value is actually implementation-dependent:

https://tc39.es/ecma262/#sec-number.min_value

Emphasis added — the main points being that the ES sp

[2021-04-29 01:28] sideshowbarker commented on #4427
OK, I’ve opened https://github.com/mdn/content/pull/4579 for this.

[2021-04-29 01:30] ddziara commented on #4576
Hello,

difference should <object> and <embeds>. At least that was my intention.

For instance here is <embeds>: HTML DOM embeds <https://www.w3schools.com/jsref/coll_doc_embeds.asp>  Collection (w3schools.com)

And also document.embeds.length is 0 when there are embedded <object> elements.

Best Regards
Dariusz Dziara

From: farhan443 ***@***.***
Sent: 29 April 2021 01:46
To: mdn/content
Cc: Dari

[2021-04-29 01:30] kwhatmough commented on #4427
Thank you very much. That is good to know, and is very helpful.

[2021-04-29 02:30] sideshowbarker commented on #4363
OK, I’ve opened https://github.com/mdn/content/pull/4580 with a change which does tha.

(OTOH, please note that 1) I didn't test the behavior in Firefox and other non-Chromium-based browsers and 2) I haven't tried tracing (e.g. via `git blame` the origins of the problematic sentence.)

We anyway don’t actually have detailed revision history for the sources before 2020-12-15 — because when we reall

[2021-04-29 03:07] hamad1212KFN11 opened #4581 "Content bug: <TITLE OF PROBLEM>"
## What page(s) did you find the problem on?

## Specific page section or heading?

## What is the problem?

## What did you expect to see?

## Did you test this? If so, how?

[2021-04-29 03:12] LiuYuHui opened #4582 "Issue with "HTMLAnchorElement.toString()": Wrong behavior in IE11"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/HTMLAnchorElement/toString

#### What information was incorrect, unhelpful, or incomplete?
In browser compatibility table of MDN, the `toString` function don't supported by IE11, but in my test, the `toString` function works in IE11.
#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?
[c

[2021-04-29 03:20] hamad1212KFN11 commented on #4581
H

[2021-04-29 03:22] #4427 closed

[2021-04-29 03:56] #4363 closed

[2021-04-29 04:14] wbamberg commented on #3350
## Specifying MDN to Markdown conversion

This document describes how we'll convert MDN's HTML content into Markdown. It's focused on the JavaScript docs (https://developer.mozilla.org/en-US/docs/Web/JavaScript) because converting that is our immediate goal: however, it should be useful for converting more doc sets in the future.

It tries to take a systematic approach to conversion by listing:

*

[2021-04-29 05:03] wbamberg opened #4583 "Window.open() needs an overhaul"
https://developer.mozilla.org/en-US/docs/Web/API/Window/open is long, rambling, and very out of date. It needs a brave person to work out what a page on this feature should contain in <strike>2021</strike> 2022.

[2021-04-29 06:08] KhooHaoYit commented on #4568
Is your `canvas` exists and loaded before you run `document.getElementById("myCanvas");`??
Because the reason you got that error is that [`document.getElementById`](https://developer.mozilla.org/en-US/docs/Web/API/Document/getElementById) returns `null` if it can't find the element.
You can try running the code when the DOM is loaded by listening to [`DOMContentLoaded`](https://developer.mozilla.o

[2021-04-29 06:15] jamesaucode commented on #4583
This seems interesting, if you don't mind a newbie contributor taking a look, I can try to take this !

[2021-04-29 06:19] flywxc opened #4585 "Issue with "类": (short summary here please)"
static function
`Point.displayName` => `Point.name`

[2021-04-29 06:20] chrisdavidmills commented on #4583
Sure thing @jamesaucode , happy for you to give it a try. Assigned.

Don't hesitate to shout if you need help or want any feedback.

[2021-04-29 06:23] #4581 closed

[2021-04-29 06:35] chrisdavidmills commented on #4571
I really don't undetstand what you're suggesting here. Can you elaborate?

[2021-04-29 07:04] rachelandrew commented on #4573
It's mentioned on the `gap` pages https://developer.mozilla.org/en-US/docs/Web/CSS/gap#flex_layout which imo is the right place for it to be mentioned as it isn't a flexbox specific property.

A big PR (https://github.com/mdn/browser-compat-data/pull/10129#discussion_r621883867) has been made to update BCD with a load of new features, otherwise I'd have made a PR for gap in flexbox.

I'll probably

[2021-04-29 07:11] FreePhoenix888 opened #4587 "Content bug: Iframe height in the Enlish version"
## What page(s) did you find the problem on?

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img

## Specific page section or heading?

Iframe example at the beginning.

## What is the problem?

Height is less than needed.

## What did you expect to see?

Full view of example.

[2021-04-29 07:24] sideshowbarker commented on #4577
Thanks for catching this. I’ve opened https://github.com/mdn/content/pull/4588 with a change that just drops the fragment part from the link URL — because we don’t currently have any content in MDN that demonstrates base64 conversion to an ArrayBuffer, so we have nothing to link to for that.

If you think MDN *should* (again) have that content, please open a separate issue for that.

[2021-04-29 07:37] sideshowbarker commented on #4568
Along with what @KhooHaoYit wrote, note also that regarding this code:

[code]
… if there’s no `<canvas id=myCanvas>` element in the document, then that `canvas` variable will be null. So, for example, paste that code won’t work as-is if you just paste it into the console.

Anyway, that code example in that article will work as expected if the browser finds a `<canvas id=myCanvas>` element in the

[2021-04-29 07:37] #4568 closed

[2021-04-29 07:39] sideshowbarker commented on #1704
Closing per https://github.com/mdn/content/issues/1704#issuecomment-828578541

[2021-04-29 07:39] #1704 closed

[2021-04-29 08:03] RizwanAhmad365 opened #4589 "Issue with "Getting started with HTML": (HTML tags mistakenly written to be "case sensitive")"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Getting_started

#### What information was incorrect, unhelpful, or incomplete?
HTML tags were mistakenly written to be "case sensitive"

#### Specific section or headline?
What is HTML > Note

#### What did you expect to see?
HTML tags are not "case sensitive"

#### Did you test this? If so, how?

<details>
<summary

[2021-04-29 08:21] SDP190 opened #4590 "Issue with "Fullscreen API": False statement about Document.onfullscreenchange"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Fullscreen_API

#### What information was incorrect, unhelpful, or incomplete?
Documentation says:
**Document.onfullscreenchange**

However, the last statement in bold which states that `document.onfullscreenchange` is only raised when entire document is presented in fullscreen, **is wrong and is simply not true**, cause the `window.documen

[2021-04-29 08:47] saulofalcao opened #4591 "Content issue in PT-BR translation"
URL:
https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/Reference/Statements/if...else

![screenshot-developer mozilla org-2021 04 29-10_43_18 (1)](https://user-images.githubusercontent.com/1717262/116524989-535df180-a8d8-11eb-86f7-9bacf81d029e.jpg)

[2021-04-29 08:55] saulofalcao commented on #4591
Submitted this pull request: [](https://github.com/mdn/translated-content/pull/688)

[2021-04-29 09:10] Elchi3 commented on #4476
Another thing I forgot but that supports option 0: In the JS docs, we actually have a table made especially for properties only.
See e.g. https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/E where it presents if the property is writable, enumerable, configurable.
That said, there are alternative ways to represent read-onliness and the like and a syntax section li

[2021-04-29 09:21] longm89 commented on #1445
@chrisdavidmills Hi Chris, could I work on this?

[2021-04-29 10:09] chrisdavidmills commented on #1445
@longm89 sure, that'd be great! I'll assign you now.

[2021-04-29 10:30] Elchi3 commented on #4574
These two are for sure guide pages and I opened a PR to remove the BCD and spec sections. I think we don't need them there.

As you say, these are reference pages and I think keeping the front matter is okay. The lexical grammar page is also a reference page but it documents many features at once. I kept the front matter there for the moment and I'm thinking what to do about this page with regards

[2021-04-29 12:00] Ryuno-Ki commented on #4573
Thank you.

[2021-04-29 12:04] Ryuno-Ki commented on #4571
https://github.com/mdn/content/pull/4538#issuecomment-828736382 shows flaws for links, for which the target page does not exist.

Namely, domxref references in

https://github.com/mdn/content/blob/e36a7213f866fd96f3da87312232d2dbcb668cdb/files/en-us/web/api/indexeddb_api/index.html#L97-L98

Either these documents need to be written or the references deleted. Either way, both were not in scope of t

[2021-04-29 12:06] Ryuno-Ki commented on #4525
@scottaohara Do you want to give it a try?

The file in question can be found here:
https://github.com/mdn/content/blob/e36a7213f866fd96f3da87312232d2dbcb668cdb/files/en-us/web/accessibility/aria/roles/mark_role/index.html

[2021-04-29 15:13] #4574 closed

[2021-04-29 15:52] wbamberg commented on #4574
Maybe https://developer.mozilla.org/en-US/docs/Web/JavaScript/Typed_arrays should live under https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide ?

[2021-04-29 16:27] wbamberg commented on #4583
That sounds great! As Chris says, please don't hesitate to ask for feedback. Personally in a case like this I'd recommend being bold when it comes to making changes :).

And consider the way we try to have pages organized at the top level  - there's some meta-documentation about this here: https://developer.mozilla.org/en-US/docs/MDN/Structures/Page_types#api_reference_subpage . I'm not sure offha

[2021-04-29 16:59] NegiAkash890 commented on #4589
![Screenshot from 2021-04-29 22-26-28](https://user-images.githubusercontent.com/55234838/116589282-1de9f000-a93a-11eb-8c7b-e9629d1b26a1.png)

Hi @RizwanAhmad365 , I think you made a mistake while reading.I have attached the screenshot ;).

[2021-04-29 17:37] yshavit opened #4601 "Issue with "Browser Toolbox": link to "Add-on Debugger" is broken"
MDN URL: https://developer.mozilla.org/en-US/docs/Tools/Browser_Toolbox

#### What information was incorrect, unhelpful, or incomplete?

Near the top of the page, it says:

That link points to a missing page.

#### Specific section or headline?

"Browser Toolbox" (first, introductory paragraph)

#### What did you expect to see?

A link to an add-on extension's landing page, which would let me add

[2021-04-29 17:55] SDP190 commented on #4590
Hi @chrisdavidmills
Can you comment on this issue?

[2021-04-29 19:29] acarlstein opened #4604 ":target doesn't work within shadow roots"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/:target

#### What information was incorrect, unhelpful, or incomplete?
Let's assume you have this Web Component:
[code]
This code fails to work because the event `:target` is missing in the root of the shadow.

#### Specific section or headline?

#### What did you expect to see?
I expected that  `:target` would work inside the web componen

[2021-04-29 19:45] nicoabie opened #4605 "Issue with "The box model": inline vertical margin"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/The_box_model

#### What information was incorrect, unhelpful, or incomplete?
The vertical margin is not respected as it says and I cannot understand why.
I've tried with the developer tools changing its value but nothing happens.

#### Specific section or headline?
[The box model and inline boxes](https://developer.mozill

[2021-04-29 19:47] Ryuno-Ki opened #4606 "Content bug: Debugging_JavaScript#dump.28.29"
## What page(s) did you find the problem on?

https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Using_web_workers#performing_computations_in_the_background

## Specific page section or heading?

The very link before the next heading.

## What is the problem?

`dump` is pointing towards https://developer.mozilla.org/en-US/docs/Debugging_JavaScript#dump.28.29 - that feels wrong. The `

[2021-04-29 20:17] nicoabie opened #4607 "Issue with "Test your skills: The Box Model": Duplicated task"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Box_Model_Tasks

#### What information was incorrect, unhelpful, or incomplete?

There is a duplicated task between
[Box_Model_Tasks the_box_model_one](https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Box_Model_Tasks#the_box_model_one)
and
[The_box_model playing_with_box_models](https://developer.mozilla.

[2021-04-29 21:47] wbamberg commented on #4367
For authoring, I think I like the Kramdown syntax better, but @ddbeck 's would be OK too, I'm . And I agree that we should consider how hard it is to implement extensions.

I was going to say that as far as I know we almost never use multiple definitions for a single term, so it would probably be fine not to support this. But then I looked.... and we do things like this:

https://github.com/mdn/co

[2021-04-29 23:03] jamesaucode commented on #4583
Thank you! Will start working on this after work today :) Will let you all know if I have any questions.

[2021-04-29 23:55] #4495 closed

[2021-04-30 00:22] hamishwillee commented on #4367
Thanks @wbamberg

Yes, we use nested lists a bit, mainly for options of arguments. I have a slight leaning towards Kramdown syntax too (for the same reason). As shown below, neither is awesome in github.

---

One
: a thing

    A
    : another thing

    B
    : a different thing

Two
: back to the outer list

---

* deflist
* One
  * deflist
  * A
    * another thing
  * B
    * a differentthing

[2021-04-30 02:13] hamishwillee commented on #4476
I agree. (though I think a separate issue might be opened to agree properties documentation like in Math/E).

[2021-04-30 02:20] hailey99 opened #4611 "Content bug: <TITLE OF PROBLEM>"
## What page(s) did you find the problem on?

https://developer.mozilla.org/ko/docs/Learn/Server-side/Django/Forms

## Specific page section or heading?

![스크린샷 2021-04-30 오전 11 15 02](https://user-images.githubusercontent.com/50111853/116640211-52df5c80-a9a5-11eb-92f1-4f479bcb7b34.png)

![스크린샷 2021-04-30 오전 11 13 20](https://user-images.githubusercontent.com/50111853/116640125-1

[2021-04-30 04:02] hamishwillee commented on #4578
I have also seen ^ used as a superscript operator in a flavour of markdown. This is a case where I'd be happy with either or both of your options - because as  you say the occurrence is low.

[2021-04-30 04:21] hamishwillee commented on #4570
FWIW I have no problem with creating lists of things we need, but you could point at many many many other cases. I'm not sure creating this one in particular helps.

I think that the right solution for being less confusing to first time users is letting them know that the missing flaws are an opportunity, and not necessarily injected by their change. Comment on this here https://github.com/mdn/con

[2021-04-30 04:58] sunilk7213 opened #4613 "Accessination of mdn content accessible all web applications"
To the mdn content on github, I am Sunil Sharma from Jammu(India) I am requested to the all content authoring of all mdn content that have to use for all web applications through my android phone device-(GalaxyJ7 2016) running on all web browsers, I am urgently request to the mdn content for web applications directly that include all work on mdn content, screen reader, accessibility of all content

[2021-04-30 06:57] chrisdavidmills commented on #4613
Hi @sunilk7213 !

I'm not 100% sure what you are asking for, but it sounds like you want some help with learning how to create accessible, responsive, web sites/applications.

We have a lot of learning material about how to use HTML, CSS, and JavaScript to build we sites at https://developer.mozilla.org/en-US/docs/Learn

And more specifically on accessibility: https://developer.mozilla.org/en-US/d

[2021-04-30 07:20] VincCampbel opened #4618 "Issue with "The Firefox JavaScript Debugger": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Tools/Debugger

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/tools/debugger`
* MDN URL: https://developer.mozilla.org/en-US/docs/Tools/Debugger
*

[2021-04-30 07:21] #4618 closed

[2021-04-30 07:28] chrisdavidmills commented on #4590
@SDP190 sure; reviewed

[2021-04-30 08:01] sunilk7213 commented on #4613
Dear Sir Chris Mills  I am Sunil Shrma recieved your reply about Mdn
Content, I am hardly speak to you that I can,t wish to have learn about who
to accessible Mdn Content features that is used for wor with Mdn Content
like installation of features, installation of Mozilla, firefox or
installation on my android device, because there are one device -(GalaxyJ7
2016) are available in present time, Dea

[2021-04-30 09:02] chrisdavidmills commented on #4613
I'm sorry, but I don't understand what you are asking for.

[2021-04-30 10:02] wenmin92 opened #4619 "Content bug: The Index page of JavaScript and CSS is missing"
## What page(s) did you find the problem on?
- https://developer.mozilla.org/en-US/docs/Web/JavaScript/Index
- https://developer.mozilla.org/en-US/docs/Web/CSS/Index

## What is the problem?
There are /topic/Index pages for other main topics(like HTML, HTTP, SVG, API etc.), but JavaScript and CSS does not.

## What did you expect to see?
Please add those Index page.

[2021-04-30 10:27] sunilk7213 commented on #4613
Dear Sir  Chris & all the Mdn Content team unfortunately I am just saying
to that request please review previous email again, again & again for
better understand what can I am doing with accessination of all features on
my hand for working automatically & all working features is on my
fingertips and all the time 24×7 I am free to use Mdn Content framework
directly. I have to say that means suppose

[2021-04-30 10:47] Gregoor commented on #4578
Oh wow, I thought unicode superscript was a thing for latin characters but it turns out there is only a cursed version of the alphabet, e.g. 2ᵇᶦᵗˢ
Well, at least we won't have tools in english then, that localizers wouldn't be able to use.

[2021-04-30 13:56] nicoabie opened #4623 "Issue with "Handling different text directions": Instructions aren't working"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Handling_different_text_directions

#### What information was incorrect, unhelpful, or incomplete?

In one of the demonstrations, the code does not work as intended following the instructions

#### Specific section or headline?

https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Handling_different_text_dire

[2021-04-30 15:23] jpmedley commented on #4476
I thought we were trying to avoid tables because of the move to markdown.

Also, this is reference material. Option 2 is scannable. Option 0 requires
reading.
Joe Medley | Technical Writer, Chrome DevRel | ***@***.*** |
 816-678-7195
*If an API's not documented it doesn't exist.*

On Thu, Apr 29, 2021 at 7:13 PM Hamish Willee ***@***.***>
wrote:

[2021-04-30 15:46] sideshowbarker commented on #4482
I think a tests link that went to https://wpt.fyi/results/css/css-color would be something that most developers would understand. It gives a visual representation of the tests results, from which developers could quickly get a sense of the state of how complete the support is for a particular feature in each browser — is it mostly green? or is there a lot of red?

That wouldn’t require them to kno

[2021-04-30 16:19] wbamberg commented on #4578
Yeah, for authoring I agree that either of these choices is OK. From a conversion point of view, it would probably be best to leave them as HTML.

[2021-04-30 17:03] wbamberg commented on #4619
Is there something in particular you need this for? As far as I can recall these pages were built to be used internally by some template code in the old Wiki version of MDN, and were never really intended for users.

[2021-04-30 17:14] wbamberg commented on #4578
In fact since Yari, `<sup>` doesn't work in code, as reported in https://github.com/mdn/content/pull/858 , and using ^ was suggested as an alternative there. But I'm happier with that in code comments than in general prose.

[2021-04-30 17:16] jpmedley commented on #4267
@sideshowbarker If you can't get to this, it's under the umbrella of what Google has hired @rachelandrew.

[2021-04-30 18:23] wbamberg commented on #4576
I thought the same thing! But they looked the same because if you write HTML tags in GitHub comments, without escaping, they are interpreted as HTML. I just edited the original post to escape the tags, so you can see the difference now.

And it looks like you are right. From the [spec](https://html.spec.whatwg.org/multipage/dom.html#dom-document-embeds):

[2021-04-30 18:41] slk333 opened #4628 "Issue with "Same-origin policy": same origin policy is not explained, only vaguely described"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/Security/Same-origin_policy

#### What information was incorrect, unhelpful, or incomplete?
The page doesn't explain what is the Same-origin_policy. It starts with a vague paragraph, that is an introduction but not an explanation. It then proceeds to explain what is an origin, but this is not the topic of the page. If you imagine yourself as so

[2021-04-30 20:53] sideshowbarker commented on #4267
Cool — I’ve unassigned it from myself

[2021-04-30 23:14] wenmin92 commented on #4619
There's a tool, named [utTools](https://u.tools/), it used the Index page to [build the local verson of the MDN](https://github.com/in3102/utools-mdn-doc), maybe there are other methods to do this, but using the Index page is the simplest.

[2021-05-01 02:34] RizwanAhmad365 commented on #4589
I didn't make a mistake,
Read it once again,

Here's what should have been written there: Tags in HTML are not
case-sensitive. This means they can be written in uppercase or lowercase

On Thu, Apr 29, 2021 at 10:44 PM Akash Negi ***@***.***>
wrote:

[2021-05-01 04:07] wbamberg commented on #3483
https://github.com/mdn/content/pull/4352, which updates the Markdown spec, is closed, and I've also updated https://github.com/mdn/content/issues/3350#issuecomment-828927586, which describes how to convert HTML notes/warnings/callouts into the Markdown format. So I'm closing this one.

[2021-05-01 04:08] wbamberg commented on #3927
https://github.com/mdn/content/pull/4352, which updates the Markdown spec for callouts, is closed, and I've also updated https://github.com/mdn/content/issues/3350#issuecomment-828927586, which describes how to convert HTML callouts into the Markdown format.

I've also replaced `button` in our docs with links, so we will treat `class="button"` as an error in future.

So I'm closing this issue.

[2021-05-01 04:08] #3927 closed

[2021-05-01 04:21] DiriectorDoc opened #4635 "Issue with "BigInt": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt

#### What information was incorrect, unhelpful, or incomplete?
When talking about BigInt division, the variable name implies the number is rounded when this is not the case.

#### Specific section or headline?
Under the **Operators** section

#### What did you expect to see?
[code]

#### Did you test

[2021-05-01 05:14] sunilk7213 commented on #4613
To the Mdn Content ,please refer another expert If Mdn Content is not
liable to underestimate for processing any accessination of Api,s and
converting procedure of Mdn Content regarding  to my case of accelration
,Conversion, accesination of all Api,a  etc etc directly to my mobile
device -(Galaxy J7 2016)  regarding to Mdn Content Content  like-
acceleration  of all Mdn Content web Api,s for inst

[2021-05-01 06:11] benkaday3218 opened #4636 "Content bug: <TITLE OF PROBLEM>"
## What page(s) did you find the problem on?

## Specific page section or heading?

## What is the problem?

## What did you expect to see?

## Did you test this? If so, how?

[2021-05-01 06:11] benkaday3218 opened #4637 "Content suggestion: <TITLE OF SUGGESTION>"
## What is the new suggestion?

## Why is it important or useful?

## Other supporting information

[2021-05-01 06:16] #3483 closed

[2021-05-01 07:20] #4637 closed

[2021-05-01 07:20] #4636 closed

[2021-05-01 08:18] sideshowbarker commented on #4635
Thanks for catching this — I’ve opened https://github.com/mdn/content/pull/4639 with a fix.

[2021-05-01 08:22] sideshowbarker commented on #4589
@RizwanAhmad365 The article says “case-insensitive”, not “case-sensitive”, right?

As in the screenshot @NegiAkash890 posted:

![image](https://user-images.githubusercontent.com/194984/116776082-c23a7680-aaa1-11eb-9617-75e84f6c2c6d.png)

[2021-05-01 08:29] sideshowbarker commented on #4576
Thanks for catching this — I’ve opened https://github.com/mdn/content/pull/4640 with a fix.

[2021-05-01 08:31] sideshowbarker commented on #4590
Fixed in https://github.com/mdn/content/commit/202f8fa6c5c6d471b27d2030710db0fb800613af.

[2021-05-01 08:31] #4590 closed

[2021-05-01 08:50] sideshowbarker commented on #4367
I like @ddbeck’s suggestion in https://github.com/mdn/content/issues/4367#issuecomment-827553513 best. I think that’s the easiest thing for authors/contributors — it doesn’t require them to learn a new syntax. That along with the other advantages it has (ability to nest, ability to contain block content) seems to make it a pretty neat solution.

I think the "Extend GFM" option could also be a viab

[2021-05-01 09:07] RizwanAhmad365 commented on #4589
wooosh
sorry my bad,
my mind was not expecting insensitive, was totally blind to it

On Sat, May 1, 2021 at 2:07 PM Michael[tm] Smith ***@***.***>
wrote:

[2021-05-01 09:09] sideshowbarker commented on #4589
No worries — I’ve actually had the same experience elsewhere of reading it that way. I think it happens pretty commonly.

[2021-05-01 09:09] #4589 closed

[2021-05-01 09:12] kirichkov opened #4641 "Issue with "DataTransfer()": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/DataTransfer/DataTransfer

#### What information was incorrect, unhelpful, or incomplete?

The page says that Safari does not support `new DataTransfer()`, which is in correct. Safari, as of version 14.1 on Desktop, supports the DataTransfer constructor. According to [Can I Use?](https://caniuse.com/mdn-api_datatransfer_datatransfer) the co

[2021-05-01 10:21] sideshowbarker commented on #4578
Grepping in the JavaScript docs reports `<sup>` in 99 lines, of which 63 are using it for indicating exponentiation.

For those cases, I think we could eliminate the need to use superscript at all by adopting a practice of instead using the JavaScript `**` exponentiation operator for those cases. That is, `2**53` rather than `2<sup>53</sup>`.

Using the JavaScript `**` exponentiation operator for

[2021-05-01 12:04] jadjoubran commented on #4585
@sideshowbarker I'd like to take this one please. The `static displayName = "Point";` is missing (compared it to en-US locale)

[2021-05-01 12:12] jadjoubran commented on #4244
@sideshowbarker happy to take this one, I think we should do one of the following options:
A. Rename it to showFullClass + default it to false (default parameter) + update the code so that it only works for objects, it doesn't make sense to show `[object Number]` for `type(42, true)`
B. Remove `fullClass` altogether and keep the `if (obj === null)` check

[2021-05-01 12:14] jadjoubran commented on #3947
✋ I can take this one
@sideshowbarker I hope I'm not spamming you with notifications, let me know if you prefer that I batch the issues that I'd like to be assigned to

[2021-05-01 12:47] mtloper opened #4642 "Issue with "A simple RTCDataChannel sample": link is dead in this page"
Hi
This Link is dead :
https://mdn-samples.mozilla.org/s/webrtc-simple-datachannel

Thanks and have a nice day

MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_API/Simple_RTCDataChannel_sample

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary

[2021-05-01 13:29] wbamberg commented on #4206
Fixed by https://github.com/mdn/content/pull/4634 . Thanks for filing, David! In the end I scrapped all the stuff describing the bits of the UI.

[2021-05-01 15:37] marmyr opened #4643 "Issue with "Writing a WebSocket server in C#": example code has race condition"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API/Writing_WebSocket_server

#### What information was incorrect, unhelpful, or incomplete?
Bug in code

#### Specific section or headline?
C# code example

#### What did you expect to see?
Code without a race condition

#### Did you test this? If so, how?
Yes, try spamming the websocket with data:

            byte[] bytes = ne

[2021-05-01 19:40] #4635 closed

[2021-05-01 19:56] #3298 closed

[2021-05-01 20:13] Ryuno-Ki commented on #4570
@peterbe Is it possible to update the text shown by the PR companion?
If so, where would I need to open an issue to track this? (Namely, to encourage people to help write documents for broken internal links).

My understanding from #1712 etc. was, that having issues with unwritten documents were the way to go to keep track on what's needed.
Yes, we have topic owners. Yes, we need more hands to get

[2021-05-01 20:39] Ryuno-Ki opened #4644 "Issue with "The WebSocket API (WebSockets)": Mentioning CSWSH"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API

#### What information was incorrect, unhelpful, or incomplete?

I was thinking about mentioning [Cross-Site WebSocket Hijacking](https://christian-schneider.net/CrossSiteWebSocketHijacking.html) as I only learned about it the other day.

#### Specific section or headline?

I'm not sure. Perhaps under Guides?

#### What did y

[2021-05-01 22:13] #4576 closed

[2021-05-01 22:14] wbamberg commented on #4642
See https://github.com/mdn/content/issues/4263 . I'll look into this next week.

[2021-05-01 22:53] sideshowbarker commented on #3947
It’s just fine the way you’ve been doing them — it’s not spamming. Thanks much for taking these on.

[2021-05-02 01:17] sideshowbarker commented on #4578
Grepping across the docs as a whole, I count 444 lines with `<sup>`, and of those, 196 are for exponentiation.

345 of the total `<sup>` lines are in docs outside the JavaScript tree, and of those 133 are for exponentiation.

From looking through those cases, I think they all could be unambiguously replaced with a `^` caret.

I think in the context of the goals we’re trying achieve by moving to ma

[2021-05-02 05:54] Shinyaigeek commented on #4390
@caitmuenster Thank you for very helpfull instruction for updates!! I sent pull request to solve this issue!! (#4648 )

[2021-05-02 08:45] sunilk7213 commented on #4613
To the Mdn Content, I have to send several emails to the Mdn Content Team
but I can,t recieved any confirmation on my email ***@***.***)
or on my cell phone Numbers In India-(919055314316) 2-(919149884972)
because I do so hard work for the accessination of Mdn Content probe for
use of work with Mdn Content . So I am urgently request to The Mdn Content
team  If any facility are available for my fut

[2021-05-02 09:13] Body87 opened #4650 "Issue with "HTML": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Glossary/HTML

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/glossary/html`
* MDN URL: https://developer.mozilla.org/en-US/docs/Glossary/HTML
* Gi

[2021-05-02 09:23] zereight opened #4651 "Content bug: [KR] Primitive, Some contents reversed"
## What page(s) did you find the problem on?
[https://developer.mozilla.org/ko/docs/Glossary/Primitive](https://developer.mozilla.org/ko/docs/Glossary/Primitive)

## Specific page section or heading?
예제
다음 예제는 원시 값이 불변함을 이해할 때 도움이 됩니다.
JavaScript

## What is the problem?
Contents is reversed

images.githubusercontent.com/42544600/116808401-807a0080-ab73-11eb-9f33-67cbbed3ec40.png">

## What did yo

[2021-05-02 10:52] dekaskas opened #4652 "Issue with "Ordering Flex Items": Live examples order is mixed up"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Ordering_Flex_Items

#### What information was incorrect, unhelpful, or incomplete?

The 3rd code example is talking about .active class but the live example doesn't contain
such class, but the 1st live example does. It looks like the order of the live examples is wrong

3rd Example:
![image](https://user-images.gith

[2021-05-02 11:09] Ryuno-Ki commented on #4578
Regarding the footnotes, I think, there is an extension to render endnotes, which could be adopted.
I agree with not putting them in `<sup>` for the stated reason.

[2021-05-02 12:32] WainPetopia opened #4653 "Issue with "Handling content breaks in multicol": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Columns/Handling_content_breaks_in_multicol

#### What information was incorrect, unhelpful, or incomplete?
Your own break-before example isn't working in the demonstration on the page (in Firefox, latest release)

#### Specific section or headline?
"Breaks before and after boxes" section

#### What did you expect to see?
There was supp

[2021-05-02 12:57] #4650 closed

[2021-05-02 13:05] Brazuca228 commented on #4650
𝙍𝙚𝙢𝙚𝙣𝙗𝙚𝙧 𝙖𝙨 𝙡𝙤𝙣𝙜𝙚𝙧 𝙬𝙚 𝘾𝙖𝙣 𝙥𝙧𝙤𝙫𝙞𝙙𝙚 𝙩𝙝𝙚 𝙥𝙧𝙚𝙫𝙞𝙤𝙪𝙨, 𝙪𝙨𝙚𝙧 𝙣𝙖𝙢𝙚 𝙬𝙚 𝙘𝙖𝙣 𝙧𝙚𝙨𝙤𝙡𝙫𝙚𝙧 𝙩𝙝𝙚 𝙥𝙧𝙤𝙗𝙠𝙚𝙢 𝙪𝙣𝙛𝙪𝙭𝙚𝙙 𝙚𝙭𝙚𝙢𝙥𝙡𝙤
𝙒𝙝𝙚𝙣 𝙞 𝙎𝙩𝙖𝙨𝙩𝙖𝙧𝙩 𝙖𝙩 𝙜𝙞𝙩𝙫𝙝𝙪𝙗 𝙞 𝙬𝙖𝙨 𝙠𝙣𝙤𝙬 𝙖𝙨 𝘼𝙢𝙖𝙯𝙤𝙣𝙗𝙤𝙮228 𝙤𝙧 𝘼𝙢𝙖𝙯𝙤𝙣𝙗𝙤𝙮 22
𝙏𝙝𝙚𝙢 𝙤𝙫𝙚𝙧 𝙩𝙝𝙚 𝙩𝙞𝙢𝙚 𝙞 𝙗𝙚𝙘𝙖𝙢𝙚 𝘽𝙧𝙖𝙯𝙪𝙘𝙖228 𝙤𝙧  𝘼𝙣𝙙 𝙢𝙮 𝙤𝙡𝙙𝙚𝙨𝙩 𝙚𝙢𝙖𝙞𝙡 𝘾𝙖𝙣𝙖𝙧𝙮, 𝙜𝙞𝙫𝙚 𝙨𝙤𝙢𝙚 𝙩𝙧𝙖𝙘𝙠  𝙖𝙣𝙙 𝙩𝙧𝙖𝙘𝙠 𝙞𝙨 𝙨𝙤𝙡𝙪𝙩𝙞𝙤𝙣

[2021-05-02 13:48] Blakelist7 commented on #1416
@chrisdavidmills if no one is working of this a newbie like me could give it a shot?

[2021-05-02 14:07] Tilie opened #4654 "Issue with "对象模型的细节": wrong hyperlink"
MDN URL: https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Guide/Details_of_the_Object_Model

#### What information was incorrect, unhelpful, or incomplete?
When I click the next page button at the end of the Chinese page "对象模型的细节"(Details of the object model),The page was redirected to [https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Inheritance_and_the_prototype_chain](url) .Howeve

[2021-05-02 22:35] Jorge231 opened #4658 "Issue with "Strict-Transport-Security": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Strict-Transport-Security

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/http/headers/strict-transport-security`
* MDN URL: h

[2021-05-02 23:41] hamishwillee commented on #4658
Closing - no error description

[2021-05-02 23:41] #4658 closed

[2021-05-02 23:57] hamishwillee commented on #4578
@sideshowbarker Good analysis above.
- I think we're better off being consistent and using ^ everywhere than doing something different for JavaScript (`**`).
- Not a fan of footnotes in Web docs. They could be dealt with differently.

My vote is that we strongly encourage use of ^ and first, second, whatever, but we still support `<sup>`.

Is there an equivalent for `<sub>`? I see 409 hits in 26 f

[2021-05-03 00:10] BrianSmall opened #4659 "Issue with "Validators": bad URL"
MDN URL: https://developer.mozilla.org/en-US/docs/Tools/Validators

#### What information was incorrect, unhelpful, or incomplete?
Bad url: https://html.validator.pro/

#### Specific section or headline?
HTML Validator Pro

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/tools/validators`
* MDN UR

[2021-05-03 00:10] hamishwillee commented on #4613
@sunilk7213 What I think you are asking is that you should be able to access all information from MDN on your phone (Galaxy J7 2016).

If so, the short answer is no.

The longer answer is that while we make "best effort" to ensure that MDN content is usable on mobile devices, please keep in mind that almost all web developers work on desktop computers (even those targeting mobile devices). That me

[2021-05-03 00:10] #4613 closed

[2021-05-03 00:18] hamishwillee commented on #4659
The site has an expired certificate, which is why it reports as a privacy risk. However it is the correct link for the site, and is widely linked to across the internet.

@chrisdavidmills Does MDN have a link policy? It is a crap experience to get to a "this is a risky link" page, but on the other hand, that's on the vendor, not on MDN.

[2021-05-03 00:33] hamishwillee commented on #4570
@Ryuno-Ki FYI @peterbe is working on a method to highlight new URLs added to PR. I think it useful to have info on links you inject **separate** from pre-existing links. Perhaps in different sections.

Peter, for context there is the suggestion that all the flaw links are "scary" for new users, in particular those links they did not create. I am opposed to the idea of deleting "desired links". The

[2021-05-03 00:36] BrianSmall commented on #4659
Sorry: new to the game. I was thinking that link should be https://www.htmlvalidator.com/
But now that I look more closely at the website being pointed to by https://html.validator.pro/ it seems to be an unrelated and a dead site.

[2021-05-03 00:49] hamishwillee commented on #4659
@BrianSmall Odd - that site doesn't seem dead to me. Page renders OK

![image](https://user-images.githubusercontent.com/5368500/116833544-27ef4580-abfd-11eb-982e-057719c875ca.png)

then when I click link it takes me to http://app.validator.pro/

![image](https://user-images.githubusercontent.com/5368500/116833538-1b6aed00-abfd-11eb-873c-3ffe366c4c65.png)

[2021-05-03 01:00] hamishwillee commented on #4367
I can live with either, and I keep changing my mind about which I prefer - right now it's the @ddbeck solution because I value github rendering. But if we did that I would prefer a much more obvious deflist identifier string.

I think there is clear leaning towards the two discussed above ^^^. Are we at the point of a vote?

[2021-05-03 01:09] hamishwillee commented on #4308
@chrisdavidmills This is all done and merged now except for removing dev-doc complete in https://bugzilla.mozilla.org/show_bug.cgi?id=1699707 and https://bugzilla.mozilla.org/show_bug.cgi?id=1701824#c6

[Note the BCD stuff only went in a few days ago, so not yet reflected in compatibility table flaws]

[2021-05-03 01:12] hamishwillee commented on #4314
@chrisdavidmills I think this is all done and merged except for marking the dev-doc complete https://bugzilla.mozilla.org/show_bug.cgi?id=1703505#c6

[2021-05-03 01:16] mfuji09 opened #4660 "Content bug: There are several link flaws in "Using Web Workers""
## What page(s) did you find the problem on?

https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Using_web_workers

## Specific page section or heading?

Further examples - Performing web I/O in the background
Other types of worker

## What is the problem?

There are several links to missing pages.

/en-US/docs/Using_workers_in_extensions
/en-US/js-ctypes
{{domxref("ChromeWorker")}}

[2021-05-03 01:45] hamishwillee commented on #4315
@whimboo @chrisdavidmills So is there a resolution on what we do with this? (just looking at unassigned items to see which I should take).

As per https://github.com/mdn/content/issues/4315#issuecomment-826594183 it isn't clear to me what the docs story is for web driver.

[2021-05-03 05:43] hamishwillee commented on #3573
Hi @jmronco

I think you are saying that using `Ctrl + B` on a JSF file does not toggle breakpoint on and off. Is that correct?
Can you provide a URL on the Internet that we can use to replicate this, ideally with the line where you couldn't set the breakpoint? (that's what we really want in the issue template when we say "Did you test this? If so, how?" - otherwise we have to set up our own envir

[2021-05-03 08:36] billredwood62 opened #4667 "Issue with "Forbidden header name": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Glossary/Forbidden_header_name

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/glossary/forbidden_header_name`
* MDN URL: https://developer.mozilla

[2021-05-03 10:13] rachelandrew commented on #4653
Hi @WainPetopia it's not supported in Firefox, the compat table on the `break-before` page shows current support https://developer.mozilla.org/en-US/docs/Web/CSS/break-before we don't tend to also spread that info around the docs because otherwise it gets really out of date.

[2021-05-03 12:40] #4667 closed

[2021-05-03 13:05] #4555 closed

[2021-05-03 13:24] nicoabie opened #4672 "Issue with "Floats": Crearing boxes wrapped around a float"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Floats

#### What information was incorrect, unhelpful, or incomplete?

I can't understand the example

#### Specific section or headline?

https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Floats#clearing_boxes_wrapped_around_a_float

#### What did you expect to see?

A clearer example

#### Did you test this? If s

[2021-05-03 14:06] hackademix opened #4674 "Issue with "WindowOrWorkerGlobalScope.queueMicrotask()": Firefox for Android should be reported compatible"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/queueMicrotask

#### What information was incorrect, unhelpful, or incomplete?

Firefox Android does, in facts, support window.queueMicrotask()

#### Specific section or headline?

The "Browser compatibility" section

#### What did you expect to see?

Firefox for Android reported as compatible.

#### Did you test t

[2021-05-03 15:50] jimjdm opened #4679 "Issue with "What is a web server?": "Typo" (probably bad choice by spellchecker)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Common_questions/What_is_a_web_server

#### What information was incorrect, unhelpful, or incomplete?
Excusing downtime and systems troubles, a dedicated web server is always connected to the Internet.

#### Specific section or headline?
Hosting files

#### What did you expect to see?
Excluding downtime...

#### Did you test this? If so, how?

[2021-05-03 18:36] havajsky opened #4682 ""Destructuring assignment" needs an example where the left-hand side has more variables than there are values on the right-hand side"
const foo = ['one', 'two'];

const [red, yellow, orange, pink] = foo;
console.log(red); // "one"
console.log(yellow); //
console.log(orange); // undefined
console.log(pink); // undefined

[2021-05-03 18:46] havajsky commented on #4682
PS: It's not completely obvious what happens in such case given that it could possibly result in a runtime error.
PSS: I made an error (sorry); it should be:

const foo = ['one', 'two'];

const [red, yellow, orange, pink] = foo;
console.log(red); // "one"
console.log(yellow); // "two"
console.log(orange); // undefined
console.log(pink); // undefined

[2021-05-03 18:52] kocvrek commented on #495
I would like to work on this issue.

[2021-05-03 19:58] peterbe commented on #4570
The broken links are scary. It's a problem. But not a huge problem. It can hopefully encourage contributors to help tighten up links.
I too prefer the red links over no links at all. From a user point-of-view it's more interesting to know that a certain method/property *exists* rather than saying nothing. Because sometimes the method/property's name is helpful in its own. E.g. `myStream.close()`.

[2021-05-03 20:01] Ryuno-Ki commented on #4570
You could „vote” (:+1:) on issues about creating pages.
I'm fine with closing this issue. At least, it's „discoverable” via search now.

[2021-05-03 20:32] #4503 closed

[2021-05-03 20:34] Ryuno-Ki commented on #4578
In ASCIImath you would use `_`: http://asciimath.org/

[2021-05-03 20:38] Ryuno-Ki commented on #4567
@LadislavSzolik Filled #4684 with a removal of the link.

[2021-05-03 21:26] jmronco commented on #3573
Hi @hamishwillee I figured it out how to do it, so thank you so much for answer me anyway. Regards!

[2021-05-03 22:58] #3573 closed

[2021-05-03 23:03] hamishwillee commented on #4567
I added a note to the PR. Link is probably https://johnresig.com/apps/learn/ . Just not sure how useful it really is.

[2021-05-03 23:05] hamishwillee commented on #4578
Unfortunately that's italic in markdown. I suspect we could use mathjax or similar to do sub in equations.

[2021-05-03 23:30] hamishwillee commented on #4570
Sounds like we're good to close this, so I will.

For example, for the links that are broken because we don't have them, we could link to a page about contributing to MDN instead.

Without any supporting data, my feeling is that you can better infer the most needed pages from the most popular APIs by view hits - and that even if people used this feature it wouldn't tell us any more than the occasi

[2021-05-03 23:30] #4570 closed

[2021-05-03 23:31] hamishwillee commented on #4570
PS @peterbe Is it only _macro_ generated broken links that get tagged in red, or all internal links?

[2021-05-03 23:40] hamishwillee commented on #4679
Thank you. Fixed by https://github.com/mdn/content/pull/4685

[2021-05-04 04:10] Getnets opened #4692 "Content bug: <TITLE OF PROBLEM>"
## What page(s) did you find the problem on?

## Specific page section or heading?

## What is the problem?

## What did you expect to see?

## Did you test this? If so, how?

[2021-05-04 05:40] havajsky commented on #4682
Similarly:

const user = {
    id: 42
}

const {id, is_verified} = user;

console.log(id); // 42
console.log(is_verified); // undefined

(At least it's 'undefined' in Chrome.)

[2021-05-04 05:46] CreaTorAlexander commented on #3197
@chrisdavidmills I am not so active at the moment. You can reassign it 👍

[2021-05-04 05:51] hamishwillee commented on #4692
Closing - invalid bug report

[2021-05-04 05:51] #4692 closed

[2021-05-04 06:51] #4567 closed

[2021-05-04 06:57] chrisdavidmills commented on #495
@kocvrek assigned; thanks a lot for the offer of help!

[2021-05-04 08:21] #4679 closed

[2021-05-04 08:59] chrisdavidmills commented on #3197
OK, thanks @CreaTorAlexander !

@ayushi19031 , I'll assign you now.

[2021-05-04 09:08] chrisdavidmills commented on #4314
Yup, agreed. Bug marked as DDC, and closed!

[2021-05-04 09:08] #4314 closed

[2021-05-04 09:12] chrisdavidmills commented on #4315
@whimboo can you clarify for us — are the WebDriver docs on MDN helpful, or should we just provide a single overview page and link to the in tree docs? I'm happy either way, but if it would be better to just link to the in tree docs, we should probably close this issue, and open a new issue for cleaning up what is on MDN. Thanks!

[2021-05-04 09:15] chrisdavidmills commented on #4308
Agreed, set to DDC, and closing!

[2021-05-04 09:15] #4308 closed

[2021-05-04 09:25] 1r00t opened #4695 "Spelling error: double "had""
But the new syntax `had` still `had` one drawback: it allowed only vertical and horizontal gradients.  Finally, the syntax below was proposed to the W3C.  Following two more changes to solve the limitation on the direction of gradients, it was added to the CSS Images Values and Content Replacement Level 3 draft in 2011.

[2021-05-04 09:27] #4695 closed

[2021-05-04 10:21] NegiAkash890 commented on #4682
I can help with this , Please let me know if the above two examples are sufficient .

[2021-05-04 10:25] chrisdavidmills commented on #4682
@NegiAkash890 assigned!

I think the first example looks fine.

For the second one, maybe it'd be more effective to show the destructuring being used during the invocation of a function, to provide the function's arguments? Then you could even add a further example to show how this can be combined with a default parameter value...?

[2021-05-04 11:18] learningtech4everyone opened #4697 "Error in the <ul> Html demo"
There is an error in the output of the unordered list element html demo.
<ul>
    <li>Milk</li>
    <li>Cheese
        <ul>
            <li>Blue cheese</li>
            <li>Feta</li>
        </ul>
    </li>
</ul>

[2021-05-04 11:29] chrisdavidmills commented on #4697
@learningtech4everyone what page and page section did you find this demo in?

[2021-05-04 12:24] natak0 opened #4700 "Issue with "<datalist>: The HTML Data List element": Customizing datalist styles example is incorrect"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/datalist

#### What information was incorrect, unhelpful, or incomplete?
The result in the last example is not displaying the selected option.

#### Specific section or headline?
[code]

#### What did you expect to see?
in my test code this solves the issue -> adding event to the function
[code]

#### Did you test this? If so, how?

[2021-05-04 12:31] BehdadEs opened #4701 "Issue with "Math.sqrt()": Math is not showing correctly"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/sqrt

#### What information was incorrect, unhelpful, or incomplete?
Second line where math is located is not showing math symbols correctly

#### What did you expect to see?
Correct math symbols!

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/javascript/reference/glo

[2021-05-04 13:16] ddbeck commented on #4367
Something to think about for any choice here: I suspect that, longer-term, there will be a lot of interest in giving structure to the things that we typically use definition lists for. For instance, it might be really nice to have separate files for object properties, with a more structured format (that we can check against IDL and the like), that can be used as source data for generating definiti

[2021-05-04 13:38] peterbe commented on #4570
Macro only.

[2021-05-04 14:40] VincentTam opened #4708 "Issue with "Opérateurs logiques": (short summary here please)"
MDN URL: https://developer.mozilla.org/fr/docs/conflicting/Web/JavaScript/Reference/Operators_d0fb75b0fac950a91a017a1f497c6a1f

#### What information was incorrect, unhelpful, or incomplete?

404 error shown in the block after the first paragraph of the page :fr: « Opérateurs logiques ».

#### Specific section or headline?
Error shown

![image](https://user-images.githubusercontent.com/5748535/117

[2021-05-04 14:53] SteeveDroz opened #4709 "Issue with "background-clip": Non-working example on third-party website"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/background-clip

#### What information was incorrect, unhelpful, or incomplete?

A link points to a non-working example.

#### Specific section or headline?

In "Browser compatibility", if you display the additionnal informations about the partial support for webkit-based browsers, there is a link to [https://webkit.org/blog/164/background-

[2021-05-04 15:10] audreyality opened #4710 "Issue with "IntersectionObserver()": needs description/example of how rootMargin works"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/IntersectionObserver/IntersectionObserver

#### What information was incorrect, unhelpful, or incomplete?
The description for `rootMargin` should indicate whether positive margins increase or decrease the threshold for intersection detection. This is particularly important because I can use margins to change the relative position of a box i

[2021-05-04 15:30] jpmedley commented on #4325
My vote is for option 1.

[2021-05-04 16:35] namit-piriya opened #4712 "Content suggestion: Can we add Internal data structure used by set?"
## What is the new suggestion?
Internal data structure used by set.

## Why is it important or useful?
Useful to know what would be the tradeoffs when a programmer uses an inbuilt set in the code. What are the time complexity and space complexity of the data structure?
How many pages are likely to be needed? 1 paragraphs on the set page.
How much time do you think this work should take? A few hour

[2021-05-04 16:49] #2688 closed

[2021-05-04 17:33] Ryuno-Ki commented on #4578
[Escape it](https://stackoverflow.com/a/35829104)?

[2021-05-04 17:33] Ryuno-Ki commented on #4578
Oh, and MathJax can use ASCIImath, too :-)

[2021-05-04 18:23] jonathanmayer opened #4713 "Issue with "performance.now()": Chrome, Firefox, and Safari are not spec compliant on certain platforms"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Performance/now

I've edited this issue a number of times, because monotonic timing in browsers is a _deep_ rabbit hole of standards, implementations, operating system clock APIs, and clock hardware (see https://github.com/w3c/hr-time/issues/115). The material below attempts to accurately and concisely document current browser behavior.

##

[2021-05-04 18:30] kevinwr opened #4714 "Issue with "CSS values and units": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Values_and_Units

#### What information was incorrect, unhelpful, or incomplete?
I may be wrong, but it's showing:

1. "1% of viewport's width." for the `vw` length unit
2. "1% of viewport's height." for the `vh` length unit
3. "1% of viewport's smaller dimension." for the `vmin` length unit.
4. "1% of viewport's larger dimension." for

[2021-05-04 21:40] mtcarvalho opened #4716 "Issue with "Introduction to events": reference to deprecated method"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Building_blocks/Events

#### What information was incorrect, unhelpful, or incomplete?
On [Event handler properties](https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Building_blocks/Events#event_handler_properties) section, there is a reference to [`onkeypress`](https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventH

[2021-05-04 22:23] hamishwillee commented on #4325
Sounds like we're all in agreement. Worth updating the spec and closing this?

[2021-05-04 22:24] hamishwillee commented on #4570
@peterbe

Can we get it for all internal broken links? My understanding is that we're discouraged from using macros going forward and having the red link is always a useful hint.

[2021-05-04 22:31] wbamberg commented on #4325
Yeah, I'm working on it, this will be the next one to close.

[2021-05-04 23:03] peterbe commented on #4570
No because it's impossible to distinguish between if it's a typo or something that should work.
A lot of KS macros do things like looping over all properties or methods and can only assume that a page will exist.

Ideally, all flaws should be resolved. Writers should address every broken link. Either correct it or remove the link.
But the "red links" can be useful in places like the sidebar where

[2021-05-05 02:35] migraineman opened #4717 "Issue with "Introduction to HTML": Broken link"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML

#### What information was incorrect, unhelpful, or incomplete?
The  Web literacy basics 1 link under See also produces a Server Not Found message.

#### Specific section or headline?
See also
Web literacy basics 1

#### What did you expect to see?
The web page for Web literacy basics 1.

#### Did you test this? If s

[2021-05-05 03:55] sideshowbarker opened #4719 "Update JS “Trailing commas” article to cover more cases"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Trailing_commas currently covers the use of trailing commas in object literals, array literals, and function parameters. But there are other cases where trailing commas are allowed in JavaScript — including in named imports and named exports.

In the ES spec, the set of productions that allow a trailing comma are these:

* https://t

[2021-05-05 05:51] rachelandrew commented on #4714
@kevinwr this seems correct to me, each of those is describing a single unit. 1vw is 1% of the viewport width, just as 1ch is the character advance of 1 `0`.

[2021-05-05 05:53] rachelandrew commented on #4672
@nicoabie I'd need a bit more info as to what is unclear about the example. Did you try to use the code and it didn't work because of something you misunderstood?

[2021-05-05 05:54] #4653 closed

[2021-05-05 05:57] rachelandrew commented on #4623
@nicoabie are you using Firefox? There is a note in the example that this demo only works in a browser supporting logical values for float, which is I believe only Firefox right now.

I have tested the demo in Firefox and it is working.

[2021-05-05 07:16] rachelandrew commented on #4717
@chrisdavidmills has this site gone? https://teach.mozilla.org/activities/web-lit-basics/

[2021-05-05 07:41] sideshowbarker commented on #4578
At that point, seems like it’s getting ugly enough that it’s time to give up and just use `<sub></sub>`.

Regardless, I think unlike the `^` caret notation for indicating exponentiation — which I think we can expect many MDN authors/contributors to likely be familiar with — I wouldn’t expect nearly as many MDN authors/contributors to be familiar with the `_` underscore notation for subscript.

So

[2021-05-05 07:59] whimboo commented on #4315
Hey and sorry for the delay with my response. So this issue has been actually extended to all topics regarding WebDriver, compared to the initial creation for just the Android activities and intents.

Let me start with the Android topic. Originally we wanted to show a list of default `androidActivity`, and `androidIntentArguments` on MDN so that users can correctly start Firefox (including Nightly

[2021-05-05 08:17] sideshowbarker commented on #4367
So that would be something like what we do with https://github.com/mdn/data for CSS syntax now, right?

I can imagine that as the basis for object properties, we could maintain copies of the IDL blocks, and use an IDL parser and some code to generate the documentation stubs that we then populate.

I think that unlike the CSS syntax case, we would need something more complicated like that in this c

[2021-05-05 08:38] chrisdavidmills commented on #4315
Makes perfect sense, thanks for the clarification, and yes, I agree entirely. I'll close this and create a new opportunity assessment issue for the general WebDriver work

[2021-05-05 08:38] #4315 closed

[2021-05-05 08:40] chrisdavidmills opened #4721 "Add content to MDN WebDriver section"
Quoting @whimboo:

As such should we close this issue, and create a new one for the general WebDriver documentation on MDN?

_Originally posted by @whimboo in https://github.com/mdn/content/issues/4315#issuecomment-832492962_

[2021-05-05 08:50] #4717 closed

[2021-05-05 09:25] chrisdavidmills commented on #4712
To clarify, you are talking about putting this new content on https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set?

[2021-05-05 09:29] namit-piriya commented on #4712
Yes, The page has no info about the underlying data structure used in set.

[2021-05-05 11:17] leandrojl opened #4724 "Issue with "Basic math in JavaScript — numbers and operators": expected to see in the Mozilla Developers Tools Console the result of typeof myInt but got an error while using MZF console"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/Math

#### What information was incorrect, unhelpful, or incomplete?
Declaration of variable `let myInt, let myFloat"` in the Mozilla Firefox Developer Tools console.

#### Specific section or headline?
"It's all numbers to me"

#### What did you expect to see?
I expected to see in the Mozilla Developers Tools Console t

[2021-05-05 12:44] RaptorX opened #4728 "Issue with "JavaScript guidelines": the guide doesn't follow its own standards"
MDN URL: https://developer.mozilla.org/en-US/docs/MDN/Guidelines/Code_guidelines/JavaScript

#### What information was incorrect, unhelpful, or incomplete?
[code]

#### Specific section or headline?
[Switch Statements](https://developer.mozilla.org/en-US/docs/MDN/Guidelines/Code_guidelines/JavaScript#switch_statements)

#### What did you expect to see?
As per the own style guide on section: [Use t

[2021-05-05 13:07] RHONDAKNOWLES commented on #3060
islandluckaccount

[2021-05-05 13:07] RHONDAKNOWLES commented on #3060
loginme in  free games

[2021-05-05 14:07] ddbeck commented on #4367
@sideshowbarker I don't want to get too far off-topic here, but in this case, I'm talking about revisiting some of the ideas that came out of Stumptown. For content about things which are themselves highly structured, I think there's the possibility of doing stuff like tightly controlling the form and sequence of Markdown headings to describe named parts of interfaces. It decouples authorship a bi

[2021-05-05 14:55] nicoabie commented on #4623
You are completely right, I didn't read the disclaimer, sorry for that. I'm closing this issue.

[2021-05-05 14:55] #4623 closed

[2021-05-05 15:30] wbamberg commented on #4367
I think this is the same thing I talked about upthread: https://github.com/mdn/content/issues/4367#issuecomment-825364512.

But two things, as noted in https://github.com/mdn/content/issues/4367#issuecomment-825364512:

* that is some way off still
* although that will reduce the number of `<dl>` elements we need, many such lists will be difficult to structure ever.

So we still need a way to repr

[2021-05-05 17:07] WesleyBranton opened #4733 "Issue with "Internationalization": Testing information no longer accurate"
MDN URL: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Internationalization

#### What information was incorrect, unhelpful, or incomplete?
The steps for testing internationalization are no longer accurate because the `intl.locale.requested` only translates what's in the manifest, not anything accessed using the `browser.i18n.getMessage()` API. I assume that's probably cha

[2021-05-05 17:17] kirandcunha opened #4737 "Issue with "DOMParser.parseFromString()": Error handling mentions that if parsing fails, the DOMParser does not throw an exception, but firefox throws and exception"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/DOMParser/parseFromString

#### What information was incorrect, unhelpful, or incomplete?
Error handling mentions that if parsing fails, the DOMParser does not throw an exception, but firefox throws and exception

#### Specific section or headline?
Error handling

#### What did you expect to see?
According to the documentation

But when the

[2021-05-05 18:14] WainPetopia commented on #4653
Thanks for the explanation :) The wording just read to me as though the reader should expect it to work (especially when viewed with the company’s own browser product!) but I’ve clearly misinterpreted it.

[2021-05-05 19:43] jpmedley commented on #4482
I think you should start with option 1 and save the enhancements for later.
(This is not a veiled argument against changing the spec sections. I have
assumed all along there would be enhancements.) I'm not sure how easily
conversion to the new macro can be automated. Option 1 lets you update the
source at your own pace. Then when you introduce an improvement, it will be
on the whole site instead o

[2021-05-05 21:34] Yug34 opened #4745 "Issue with "Book detail page": (Typo in bookController.js code)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/Displaying_data/Book_detail_page

#### What information was incorrect, unhelpful, or incomplete?
A minor mistake in the code for bookController.js

#### Specific section or headline?
`
Book.findById(req.params.id)
  .populate('author')
  .populate('genre')
  .exec(callback);
`

Should have been
`
Book.findById(req.p

[2021-05-05 23:51] franquil opened #4747 "Content bug: external links on "Types of attacks" page are broken"
## What page(s) did you find the problem on?

https://developer.mozilla.org/en-US/docs/Web/Security/Types_of_attacks

## Specific page section or heading?

Cross-site scripting (XSS)

## What is the problem?

An external link of "seventh most common Web app vulnerability" is broken.

## What did you expect to see?

The external page should show relevant content instead of a 404 page.

## Did you t

[2021-05-06 02:38] #4577 closed

[2021-05-06 04:32] wbamberg commented on #3548
Thanks for the comment @escattone !

One thing to say here is that this is not much of a problem for the JS docs, which only have three live samples, and which are our immediate goal. But it is going to be a problem for our docs as a whole, and especially CSS, Learn, and Web APIs.

For reference pages, which constitute about 80-90% of the total pages in MDN, I think we could (and should) go with a

[2021-05-06 04:48] rjwu95 opened #4751 "Issue with "CSS 란 무엇인가?": (short summary here please)"
MDN URL: https://developer.mozilla.org/ko/docs/Learn/CSS/First_steps/What_is_CSS

#### What information was incorrect, unhelpful, or incomplete?
There is an incorrect word

#### Specific section or headline?
On the second line of the first blue box. The headline is 'CSS란 무엇입니까?'

#### What did you expect to see?
유일한 브라우저 -> 유일한 user agent

#### Did you test this? If so, how?
No

<details>
<summary

[2021-05-06 06:42] merciermk opened #4753 "Issue with "Utilisation du rôle button": (short summary here please)"
MDN URL: https://developer.mozilla.org/fr/docs/Web/Accessibility/ARIA/Roles/button_role

#### What information was incorrect, unhelpful, or incomplete?
in french layout, both links send to 404 pages :

#### Specific section or headline?
section 'Exemples Concrets'

#### What did you expect to see?

A new page with exemple ;p

#### Did you test this? If so, how?

click on link

<details>
<summary>M

[2021-05-06 07:04] #4728 closed

[2021-05-06 07:35] 1002237913 opened #4754 "Float64Array And Foat32Array ValueRange is incorrect"
MDN URL: https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/TypedArray

#### What information was incorrect, unhelpful, or incomplete?
The minimum value of Float64Array is the negative number of the maximum value (Number.MAX_VALUE). Number.MIN_VALUE (5.0×10-324) is the minimum value of a positive number.

[2021-05-06 09:37] Elchi3 commented on #4482
To give an update here: We'e went with option 1 for now and rolled this out to all reference pages under the JavaScript/ page tree. We will likely expand it to more sections of the site soon.
Iterating on the rendering of the specification section is not off the table, though. Feedback welcome on where to take this in a second phase.

[2021-05-06 10:32] Elchi3 commented on #2202
I'm closing this issue. We've agreed on new guidelines and updated the MDN contribution docs.
Further, I've updated all JavaScript pages to use the improved and more beginner friendly syntax blocks.
For the API/ page tree, updates to syntaxes can happen as we see them. New pages should use this new convention.

Thanks all! 🎉

[2021-05-06 10:32] #2202 closed

[2021-05-06 11:13] omaliachenyo14 opened #4756 "Issue with "Web Console": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Tools/Web_Console

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/tools/web_console`
* MDN URL: https://developer.mozilla.org/en-US/docs/Tools/Web_

[2021-05-06 11:29] tarasBilobran opened #4758 "Issue with "DELETE": Documentation of DELETE method."
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/DELETE

#### What information was incorrect, unhelpful, or incomplete?
An example of DELETE request is incomplete.

#### Specific section or headline?
Headline "Example"

#### What did you expect to see?
I guess that header "Host" is missing in that example.
Instead of
[code]
I expect to see something like
[code]

#### Did you test

[2021-05-06 15:22] user670 opened #4761 "Issue with "CRLF": (short summary here please)"
MDN URL: https://developer.mozilla.org/zh-CN/docs/Glossary/CRLF

#### What information was incorrect, unhelpful, or incomplete?
in the `<h2>` there is a blue square thing, not sure what that was supposed to be.

Also under the "general knowledge" section the links aren't working.

(If it matters: I'm viewing the page on Chrome beta 91 on Windows 10)

#### Specific section or headline?
^

#### What

[2021-05-06 15:28] #4267 closed

[2021-05-06 20:01] jpmedley commented on #4644
Actually, if this is an API overview page, it should have a heading 2 named "Concepts and Usage". ([Example](https://github.com/mdn/content/pull/4711/files)) Make it a heading 3 under that, and we'll try to backfill this some how.

[2021-05-06 22:02] dns2utf8 opened #4770 "Issue with "scroll-margin": Firefox (at least) 70 to 89 have a bug"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-margin

#### What information was incorrect, unhelpful, or incomplete?
The calculation of wether to jump or not and how far is not correct in the current firefox desktop and android.

#### Specific section or headline?
Calling element.focus() on an element that is near the viewbox yields wrong results.

#### What did you expect to se

[2021-05-06 23:21] zapappa opened #4773 "textarea brackets causing new line"
I have a problem with textarea where a line break suddenly appears as I'm typing. I'm using:
    resize: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;

with
    size="1920" maxlength="1920" rows="24" cols="80"

in an attempt to create a fixed number of rows with fixed length and no unwanted wrapping.  This is working fine except for a couple of character combinations that force a

[2021-05-06 23:55] hamishwillee commented on #4758
Thanks @tarasBilobran. You're absolutely right - the host header is mandatory for HTTP/1.1 requests. Fixed in #4774

[2021-05-06 23:56] #4756 closed

[2021-05-06 23:56] hamishwillee commented on #4756
Invalid - no actual problem reported.

[2021-05-06 23:57] hamishwillee commented on #2202
Amazing job @Elchi3. I love consistency. Now we just need to get someone to do the web api docs ....

[2021-05-07 00:09] hamishwillee commented on #4747
Thanks. Fixed in #4775 - link was on the owasp site

[2021-05-07 00:13] mfrancis33 opened #4776 "Issue with "WAI-ARIA Roles": incomplete section"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles

#### What information was incorrect, unhelpful, or incomplete?
A section's content is incomplete, stopping mid-sentence.

#### Specific section or headline?

#### What did you expect to see?
I expected to see an explanation on the `tabpanel` role of ARIA roles, but the content was missing.
Here is what is currently the

[2021-05-07 00:21] hamishwillee commented on #4745
@Yug34 Thank you for reporting. I think this reflects an error in your code, not the tutorial. The `populate()` call takes the name of the field to be populated, which in this case is `genre` (lower case) - you can see this defined in the book model here: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/mongoose#book_model

My guess is that you have copied the book model i

[2021-05-07 00:21] #4745 closed

[2021-05-07 00:34] hamishwillee commented on #4570
But the "red links" can be useful in places like the sidebar where we know, in advance, what all Web API properties are before we've had a chance to write about them all.

What you're saying makes me think I should always be using the macro for links to API items.

FWIW As a reader I prefer **all** broken links to be red/highlighted in some way. Why? Well because then I don't waste my time clickin

[2021-05-07 02:23] #4747 closed

[2021-05-07 03:09] #4758 closed

[2021-05-07 03:16] karlcow opened #4779 "Issue with "Firefox user agent string reference": Firefox iOS string for iPad"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent/Firefox

#### What information was incorrect, unhelpful, or incomplete?

Currently the pattern for the iPad is:
[code]

#### Specific section or headline?
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent/Firefox#firefox_for_ios

#### What did you expect to see?

[code]

#### Did you test this? If so,

[2021-05-07 07:01] rachelandrew commented on #4770
@dns2utf8 thanks for reporting this, I think if we are going to cover this in the docs then BCD is the correct place especially given this has been fixed, so I'll close this here.

[2021-05-07 07:01] #4770 closed

[2021-05-07 07:04] rachelandrew commented on #4605
@nicoabie I have just tested this and it is working as described. If I set the margin to say 70px, I get a larger margin to the left and right of the element and no margin above and below. So I need some more information about what you changed, and what you expected to see.

[2021-05-07 07:11] rachelandrew commented on #4607
The example inline is to highlight the learning, the second time is part of a check to see what people have remembered. So this seems not to be an issue. If folk remember how it works then it has achieved what it is supposed to be achieving!

[2021-05-07 07:11] #4607 closed

[2021-05-07 07:18] hamishwillee commented on #3851
I don't see this as really useful for the broad community, or particularly a security risk. It is useful if the BCD and the MDN content match in this respect.

[2021-05-07 09:01] nochill-1 opened #4784 "Issue with "Functions — reusable blocks of code": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Building_blocks/Functions

#### What information was incorrect, unhelpful, or incomplete?
Active learning: Playing with scope doesnt bring the results/ it doesnt work like the article say

#### Specific section or headline?
see above

#### What did you expect to see?
the results like in the article

#### Did you test this? If so, h

[2021-05-07 09:05] nochill-1 commented on #4784
Re: It seems the issue comes from bad wording. Please make it clear that the output we should see isnt in the console but printed to the page. The text makes it seems like its being output to the browser console, which is false. it outputs undefined to the console and Value:N to the page.

[2021-05-07 09:22] WidePeepoHappy opened #4785 "Issue with "Модель коробки": link to "Проверка своих навыков: блочная модель" leads to a non existing page."
MDN URL: https://developer.mozilla.org/ru/docs/Learn/CSS/Building_blocks/The_box_model

#### What information was incorrect, unhelpful, or incomplete?
https://developer.mozilla.org/ru/docs/Learn/CSS/Building_blocks/Selectors/Box_Model_Tasks does not exist. Should probably replace it with a link to English version.

#### Specific section or headline?
https://developer.mozilla.org/ru/docs/Learn/CSS/

[2021-05-07 09:32] nochill-1 opened #4786 "Issue with "Function return values": Now it's your turn!"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Building_blocks/Return_values

#### What information was incorrect, unhelpful, or incomplete?
Now it's your turn!

#### Specific section or headline?
Now it's your turn!

#### What did you expect to see?
How I am supposed to do this? I tried using tips from other sites and it doesnt work. It doesnt even throw up any errors, adding

[2021-05-07 09:41] nochill-1 opened #4788 "Issue with "Function return values": How to add instructions to make it clearer?"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Building_blocks/Return_values

I want to fix the last segment and add some instructions to make it clearer, how do I go about this?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/learn/javascript/building_blocks/return_values`
* MDN URL: https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Buil

[2021-05-07 09:44] whimboo commented on #4721
The current start page for WebDriver on MDN is: https://developer.mozilla.org/en-US/docs/Web/WebDriver

As such starting to getting the [capabilities page](https://developer.mozilla.org/en-US/docs/Web/WebDriver/Capabilities) fully documented might be a good first step.

[2021-05-07 14:24] chrisdavidmills commented on #4784
@nochill-1 I can see how this could be a little confusing. I've updated the wording so it is clearer where the different bits are printed to: https://github.com/mdn/content/commit/d13e75c929200d2383381eb378511491469c890c

[2021-05-07 14:24] #4784 closed

[2021-05-07 14:55] dns2utf8 commented on #4770
Well, it is still broken now. It took me hours to find the solution and when I checked on https://caniuse.com/?search=scroll-margin it displays it as fully functional which is not true.
Bugs in other browsers are listed too. And I was hoping to use scroll-margin now since apple fixed the safaris, but firefox is still blocking the feature.

[2021-05-07 16:21] alDuncanson commented on #2350
Hi, is anyone assigned to this?

I was looking for a good first issue to help with

[2021-05-07 16:47] chrisdavidmills commented on #2350
@alDuncanson thanks for the offer of help. You are now assigned!

[2021-05-07 16:48] JohnyL commented on #2350
@alDuncanson Taking into account that this is _30 minute task_ and today is May, I do _hope_ someone is assigned. 😆

[2021-05-07 16:54] peterbe commented on #4570
Semi-side-note; if you use `jsxref()` for example, you'll get the link automatically corrected for the locale.
If you instead typed `<a href="/en-US/docs/Foo/bar">` a potential translator might miss that and now they accidentally link to the English content. And `jsxref()` uses `web.smartLink()` which makes sure it tries the current locale first and able to automatically fall back on en-US at buil

[2021-05-07 17:01] dns2utf8 commented on #4770
Forgive me, I am not 100% sure I understand.
Are you saying that my PR https://github.com/mdn/browser-compat-data/pull/10346 or somebody else will add that information to the BCD (I assume it is the repo I opened a PR to) and add the information?

[2021-05-07 18:33] wbamberg commented on #4606
Note that the actual code this example refers to: https://github.com/mdn/fibonacci-worker/blob/master/index.html is using console.log, so it would probably be best to update the page to match.

In fact I wonder if it would be possible/better to make this a live sample, so the code won't get out of sync.

[2021-05-07 18:38] Ryuno-Ki opened #4799 "Issue with "Locating DOM elements using selectors": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Document_object_model/Locating_DOM_elements_using_selectors

#### What information was incorrect, unhelpful, or incomplete?

Code snippets with `var`.

#### Specific section or headline?

Selectors

#### What did you expect to see?

Usage of `const`.

#### Did you test this? If so, how?

N/A

<details>
<summary>MDN Content page report detai

[2021-05-07 18:42] Ryuno-Ki commented on #4799
These lines need an update:

https://github.com/mdn/content/blob/56d9a678477f0e79232caa8169114519bf02a44a/files/en-us/web/api/document_object_model/locating_dom_elements_using_selectors/index.html#L30-L34

[2021-05-07 19:41] Vaveal opened #4800 "Issue with "Selectors": (short summary here please)"
MDN URL: https://developer.mozilla.org/ru/docs/conflicting/Learn/CSS/Building_blocks/Selectors_918fb6c37a4d06789bc062c48d591992

#### What information was incorrect, unhelpful, or incomplete?
https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_Started/Readable_CSS
\\\\the link does not work

#### Specific section or headline?
https://developer.mozilla.org/ru/docs/conflicting/Learn/CSS/B

[2021-05-07 21:46] longm89 commented on #1445
@chrisdavidmills Dear Chris, thanks a lot for assigning this issue to me. I fixed the issues pointed out by @RussianCryptid. I modified the example in fast-async-await.html, adding a rejected promise to show that one could get an unhandled promise and fix this problem using Promise.all() as said above.

[2021-05-08 01:01] sideshowbarker commented on #4367
I agree that’s a pretty compelling reason (the possibility for forward compatibility).

I wonder what instances (if any) of existing documents using using more than one consecutive `<dt>`or more than one consecutive `<dd>`.

At least outside of MDN, it’s not hard to find quite legitimate cases of it — for example, I know it’s used in the markup for some specs (I think even in the HTML spec). It’s

[2021-05-08 01:18] sideshowbarker commented on #4367
Here’s one example of adjacent-sibling `<dt>` from the HTML spec:

https://html.spec.whatwg.org/multipage/common-dom-interfaces.html#the-htmlallcollection-interface%3Adom-htmlallcollection-item-2

But that’s just one example among many such cases in the HTML spec — if you go to https://html.spec.whatwg.org and open the devtools console and do this:

[code]
…that returns 425 nodes.

[2021-05-08 02:12] sideshowbarker commented on #4367
As far as instances of adjacent-sibling `<dt>` in existing MDN content, I ran this:

[code]
…and that returns around 94 instances — though those are all concentrated in just 15 files:

[code]

https://github.com/mdn/content/blob/main/files/en-us/web/html/inline_elements/index.html#L102 has the largest number of them — but that’s an anomaly markup abuse. Not sure why it’s being used there, but it s

[2021-05-08 02:41] wbamberg commented on #4578
I like this, and have opened https://github.com/mdn/content/pull/4804 to say it.

[2021-05-08 04:56] himanshu007-creator commented on #4799
HI , i would like to work on this issue. Just have to change <code>var</code> to <code>const</code> on line 30, 34 right?

[2021-05-08 07:39] Shakil-Shahadat commented on #4786
You need Math.sqrt() & Math.cbrt(). Circumference one is pretty straight forward.

Just writing a function will not do anything. Try calling them and then console.log() or alert() the return value.

[2021-05-08 07:56] teferimekonen2 opened #4810 "simple project using html, css and php code program"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/learn/html/introduction_to_html`
* MDN URL: https://developer.mozil

[2021-05-08 07:57] rachelandrew commented on #4770
@dns2utf8 that's right. I don't review those PRs but once that is merged the info will be included in the compat table at the bottom of the page (and anywhere else that uses that compat info). There is no need to do anything to the docs as they include those tables.

[2021-05-08 09:25] tao1874 opened #4811 "Issue with "export": (export from)"
MDN URL: https://developer.mozilla.org/en-US/docs/web/javascript/reference/statements/export#re-exporting_aggregating

#### What information was incorrect, unhelpful, or incomplete?
This can be achieved with the "export from" syntax:
[code]
Which is comparable to a combination of import and export:
[code]
#### Specific section or headline?
re-exporting_aggregating

#### What did you expect to see?

[2021-05-08 10:00] #4810 closed

[2021-05-08 10:28] k0n34 opened #4812 "Content bug: <remoce acess telemetry related"
## Specific page section or heading?

all the place

## What is the problem?

remote access via chrome shutting a thread before logs being marionette

## Did you test this? If so, how?
https://firefoxci.taskcluster-artifacts.net/ElX2HcBWR1G3f-AJTyiQYg/0/public/logs/live_backing.log

https://firefoxci.taskcluster-artifacts.net/ElX2HcBWR1G3f-AJTyiQYg/0/public/test_info//system-info.log

http://www.w

[2021-05-08 13:15] Hatsukoi-42 opened #4813 "Issue with "flex": (flex with one value)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/flex

#### What information was incorrect, unhelpful, or incomplete?
/* One value, unitless number: flex-grow */
flex: 2;

#### Specific section or headline?
Syntax section

#### What did you expect to see?
/* One value, unitless number: flex-grow */
/* flex-basis is then equal to 0 */
flex: 2;

#### Did you test this? If so, how?
I've test

[2021-05-08 14:16] wbamberg commented on #495
Fixed by https://github.com/mdn/content/pull/4741, thanks @kocvrek !

[2021-05-08 14:16] #495 closed

[2021-05-08 15:30] aronbeal opened #4817 "Issue with "Date() constructor": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/Date

#### What information was incorrect, unhelpful, or incomplete?
No information on what is returned if an invalid string is passed to the Date constructor.

#### Specific section or headline?
Wherever is appropriate.

#### What did you expect to see?
A description of what is returned when an invalid

[2021-05-08 15:42] RahulAgrawal885 opened #4818 "Issue with "grid-template-columns": (instead of ----->"min-content"((min-content, max-content) it should have been minmax((min-content ,max-content) )"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns

#### What information was incorrect, unhelpful, or incomplete?
If used outside of minmax() notation, auto represents the range between the minimum and maxium described above. This behaves similarly to "min-content" (min-content,max-content) in most cases.

#### Specific section or headline?
auto

#### What did you exp

[2021-05-08 15:48] Johnrobmiller opened #4819 "Issue with "line-height": no mention of rem"
You guys never mention rem in this page, which is very misleading.  It made me think that you couldn't use rem for line-height.

MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/css/line-height`
* MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height
* GitHub URL: https://github

[2021-05-08 17:07] Fawile opened #4822 "Issue with "bloc": Missing ":" in the example"
MDN URL: https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Statements/block

#### What information was incorrect, unhelpful, or incomplete?
in the example with the label, its missing the ":" after the label

#### Specific section or headline?
https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Statements/block#instruction_de_bloc_%C3%A9tiquet%C3%A9e

#### What did you expec

[2021-05-08 17:11] xja opened #4823 "Issue with "Creating our first Vue component": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Vue_first_component

#### What information was incorrect, unhelpful, or incomplete?
the following same code appears in all language version

#### Specific section or headline?
[Creating a ToDoItem component](https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScr

[2021-05-08 18:04] tristantheb commented on #4822
(@SphinxKnight petit ping pour transfert)

[2021-05-08 18:55] kocvrek commented on #961
I would like to work on this issue.

[2021-05-08 22:47] hamirmahal opened #4825 "consider adding links to Node and Npm in section above "Creating a ToDoItem component" section of "Creating our first Vue component" page"
# Current behavior

The "Prerequisites" section immediately above the ["Creating a ToDoItem component" section](https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Vue_first_component#creating_a_todoitem_component) of the ["Creating our first Vue component" page](https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_f

[2021-05-09 00:57] NerdyDeedsLLC opened #4830 "In the <input type="range"> article, the “screenshot” example images of controls don’t look like the actual controls in current browsers"
#### What information was incorrect, unhelpful, or incomplete?
In the API description illustrating how to add both tickmarks and labelled tickmarks in conjunction with the HTML `range` subtype of the `<input>` tag, the following is what displays (on a Mac, anyway):

#### What did you expect to see?
Output vaguely-consistent with the screenshot "control" portion of the sample, or an update to the C

[2021-05-09 01:52] nandanraj56 opened #4826 "Issue with "Firefox": Issue with Developer guide pages"
MDN URL: https://developer.mozilla.org/en-US/docs/Mozilla/Firefox

#### What information was incorrect, unhelpful, or incomplete?
Developer guide link in side developers guide section is redirecting to achieved GitHub repo page.
This link has links to everything related to "how to get and compile the Firefox source code, how to find your way around, and how to contribute to the project".
Now how c

[2021-05-09 02:04] Blakelist7 commented on #1416
@chrisdavidmills please Review my PR

[2021-05-09 04:37] norstbox opened #4828 "Issue with "Object.prototype.constructor": mistake in the example"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/constructor

#### What information was incorrect, unhelpful, or incomplete?
The following line in the example code ([link](https://github.com/mdn/content/blob/13360cbad46b4ce6457f80492d73d2efd252e8a9/files/en-us/web/javascript/reference/global_objects/object/constructor/index.html#L158)):
`Child = Obje

[2021-05-09 07:08] sideshowbarker commented on #4830
@NerdyDeedsLLC So is the issue that the control which Chrome displays looks different from the **Screenshot** image?

[2021-05-09 10:19] SukaiNDure opened #4831 "Issue with "line-height": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/css/line-height`
* MDN URL: https://developer.mozilla.org/en-US/docs/Web/CS

[2021-05-09 10:21] SukaiNDure opened #4832 "Issue with "line-height": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height

#### What information was incorrect, unhelpful, or incomplete?
where is the 15px from?

#### Specific section or headline?

Prefer unitless numbers for line-height values
#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/css/

[2021-05-09 11:08] ManlyElectronics opened #4833 "Issue with "Cascade and inheritance": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Cascade_and_inheritance

#### What information was incorrect, unhelpful, or incomplete?
the paragraph '.. CSS stands for Cascading Style Sheets, and that first word cascading is incredibly important .... As you get more practice writing CSS, however, the way it works will become more obvious to you.'
is unhelpful and objec

[2021-05-09 11:43] swelarsson opened #4834 "Issue with "Finishing up": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Games/Tutorials/2D_Breakout_game_pure_JavaScript/Finishing_up

#### What information was incorrect, unhelpful, or incomplete?
When the ball hits the floor it moves the paddle so you never die.

#### Specific section or headline?

#### What did you expect to see?
When the ball hits the floor, you loose a life and at the end it´s game over

#### Did

[2021-05-09 12:06] Soumyafc commented on #4833
can you please tell me what do you exactly want to see in that paragraph?

[2021-05-09 17:10] F4R4N opened #4837 "add django channels to tools to write server side websocket"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API

I want to request adding channels framework to the list of server-side WebSocket.

in tools headline

expect to see Channels framework in the list. It's a popular and good project to write server-side WebSockets based on Django.

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/api/websocket

[2021-05-09 19:21] #4831 closed

[2021-05-09 22:27] ManlyElectronics commented on #4833
I expected to see definitions of the cascading and inheritance. What are differences? Plus I want to see which css elements cascading which are not. As I found out positioning doesn’t cascade, for example. What other properties do not? And the list of properties which inherit and which do not by default too.

The good explanation of Cascading Order I found at https://www.w3schools.com/whatis/whati

[2021-05-09 23:26] hamishwillee commented on #4837
Thanks, I agree. Fixed by #4840.
For changes like this, feel free to add a PR yourself :-)

[2021-05-09 23:27] NerdyDeedsLLC commented on #4830
@sideshowbarker Really depends. I was offering 3 different solutions to the potential issue.

## Problem
Both the screenshot imagery and the functionality as described (and corroborated by the compatibility data at the bottom of the article) are erroneous in the context of Chrome for MacOs.

## Suggested Resolutions
This suggests that either:
1. A notation needs to be made describing the exception

[2021-05-09 23:37] #4830 closed

[2021-05-10 00:01] hamishwillee commented on #961
@kocvrek Thanks very much - that would be great! I agree with both points above - the text and the need to link to a good explanation. The one provided is good, but you could additionally link to https://rob.conery.io/2018/08/21/mod-and-remainder-are-not-the-same/

[2021-05-10 00:34] erkutkoc opened #4843 "Issue with "<ul>": (short summary here please)"
MDN URL: https://developer.mozilla.org/fr/docs/Web/HTML/Element/ul

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `fr/web/html/element/ul`
* MDN URL: https://developer.mozilla.org/fr/docs/Web/HTML/Elemen

[2021-05-10 00:34] #4843 closed

[2021-05-10 00:47] hamishwillee commented on #4570
Well, if you can tell that it's a flaw then you can tell it is a valid JS link. At that point you can make it red whether or not it is **marked up** as a KS macro. Ha!

But yes, what we need here is canonical direction about whether we should use xref macros or not. Then there should be flaw checking for whatever the non-supported option is. @chrisdavidmills Do you have any broader view on whether

[2021-05-10 01:48] wenfangdu opened #4848 "Issue with ":is() (:matches(), :any())": can't target pseudo-elements"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/:is

#### What information was incorrect, unhelpful, or incomplete?
Currently, `is()` doc doesn't contain info that it [can't target pseudo-elements](https://drafts.csswg.org/selectors-4/#matches).

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/css/_colon_is`
* MDN URL: https://developer.mozilla.org/en-U

[2021-05-10 05:17] jculver050 commented on #4848
Close

[2021-05-10 05:18] jculver050 commented on #4837
Close

[2021-05-10 05:19] jculver050 commented on #4828
Close

[2021-05-10 05:23] wenfangdu commented on #4848
@jculver050 ?

[2021-05-10 06:15] hamishwillee opened #4859 "Delete UIEvent.cancelBubble() ?"
I think we should delete [UIEvent.cancelBubble](https://developer.mozilla.org/en-US/docs/Web/API/UIEvent/cancelBubble) page (and mention of it in [UIEvent](https://developer.mozilla.org/en-US/docs/Web/API/UIEvent)).

There is no BCD for this, and it is marked as experimental and deprecated in MDN with the comment:

The link on MSDN just links back to `Event.cancelBubble`. What this means is that w

[2021-05-10 06:25] hamishwillee commented on #4848
@wenfangdu FYI @jculver050 is clearly an idiot or a bot - has posted close against a bunch of things. I will delete this comment and his comment, shortly. Ignore anything else.

[2021-05-10 07:36] gezeta-id opened #4863 "Issue with "bookmarks.export()": Is export a method, an event? Does it even exist?"
MDN URL: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/bookmarks/export

#### What information was incorrect, unhelpful, or incomplete?

`bookmarks.export()` is rather suspicious. It's classified as an _event_ on the left sidebar. But then it is presented as a method to be called to export bookmarks. It receives a callback as argument, but then there's no explanation a

[2021-05-10 07:55] #4825 closed

[2021-05-10 08:26] colideum opened #4864 "Issue with "Interact with the clipboard": Document.execCommand() is deprecated"
MDN URL: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Interact_with_the_clipboard

#### What information was incorrect, unhelpful, or incomplete?
Document.execCommand() is deprecated, so You should provide new, proper solution

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/mozilla/add-ons/webextensions/interact_with_the_clipboard`
* MDN UR

[2021-05-10 08:36] chrisdavidmills commented on #4859
@hamishwillee yeah, I think I'd agree with this. It quite probably comes under the BCD [irrelevant features](https://github.com/mdn/browser-compat-data/blob/main/docs/data-guidelines.md#removal-of-irrelevant-features) guideline, and I know @foolip has bene making a bunchof removals based on that, getting rid of BCD and then removing the corresponding docs too.

[2021-05-10 08:52] davwheat opened #4866 "Content bug: isSameNode is deprecated but not mentioned on page"
## What page(s) did you find the problem on?

https://developer.mozilla.org/en-US/docs/Web/API/Node/isSameNode

## Specific page section or heading?

## What is the problem?

As of DOMv4, isSameNode has the same effect as `===`. This is the new preferred way to do it, and should probably be mentioned on the page.

## What did you expect to see?

Maybe a message such as...

In DOM version 4, isSame

[2021-05-10 08:54] #4175 closed

[2021-05-10 08:54] chrisdavidmills opened #4867 "Document lack of natural fall back for `image-set()`?"
should there be some mention of the lack of a natural fall back for `image-set()`? IE html `<picture>` element falls back to the `<img>` child tag if `<picture>` is not supported. As far as i'm aware there is no equivalent in `image-set()` so a separate `background-image` declaration is needed for no `image-set()` support fall back.

_Originally posted by @jsnkuhn in https://github.com/mdn/content

[2021-05-10 09:04] djave-co opened #4868 "Issue with "Object.prototype.toString()": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/toString

#### What information was incorrect, unhelpful, or incomplete?

In the first embedded example, the `toString` function is called. Instead, it should just be envoked by logging the variable name.

#### Specific section or headline?

Line 11 of `EmbedInteractiveExample("pages/js/object-prototyp

[2021-05-10 09:11] foolip commented on #4859
This is more a case of a feature in the wrong place in the prototype chain than an irrelevant feature. It's [on `Event`](https://dom.spec.whatwg.org/#dom-event-cancelbubble) and https://developer.mozilla.org/en-US/docs/Web/API/Event/cancelBubble exists, so the UIEvent pages should just be redirected to that, and maybe some parts can be salvaged?

[2021-05-10 10:03] chrisdavidmills commented on #4826
To whoever fixes this, there are multiple parts to this.

* First of all, we have removed all non-web platform from MDN's main content. A lot of this has now stopped displaying, after moving it to archived content.
* We should update the sidebar of the MDN Firefox section to stop pointing to these redirects, so they are not useful for MDN users.
* The Firefox documentation is supposed to be moved

[2021-05-10 10:24] danielebarell opened #4870 "Issue with "Advanced form styling": property "padding" repeated in the same class"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Forms/Advanced_form_styling

#### What information was incorrect, unhelpful, or incomplete?
button, label, input, select, progress, meter {
  display: block;
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 30px;
}

padding is set to 0 then to 5px
#### Spe

[2021-05-10 12:47] #4307 closed

[2021-05-10 13:04] #3947 closed

[2021-05-10 15:16] josh-hemphill opened #4877 "Issue with "CSP: *-src": hash directive specified for types that are not script or inline unclear"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/img-src#sources

#### What information was incorrect, unhelpful, or incomplete?

This is specified for child-src, frame-src, worker-src, connect-src, font-src, img-src, manifest-src, media-src, object-src, and base-uri; all of which are fetch-only/do not have inlined content as far as I know. So it's not cle

[2021-05-10 15:17] Steven9482 opened #4878 "Issue with "Ajax":"
MDN URL: https://developer.mozilla.org/en-US/docs/Glossary/AJAX

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/glossary/ajax`
* MDN URL: https://developer.mozilla.org/en-US/docs/Glossary/AJAX
* Gi

[2021-05-10 15:47] #4878 closed

[2021-05-10 15:52] Steven9482 opened #4879 "Content bug: I am confused 😳"
## What page(s) did you find the problem on?

## Specific page section or heading?

## What is the problem?

## What did you expect to see?

## Did you test this? If so, how?

[2021-05-10 15:53] Steven9482 commented on #4879
https://github.com/mdn/content/issues/4879

[2021-05-10 15:54] Steven9482 opened #4880 "https://github.com/mdn/content/issues/4879"
https://github.com/mdn/content/issues/4879

_Originally posted by @Steven9482 in https://github.com/mdn/content/issues/4879#issuecomment-836872531_

[2021-05-10 15:58] Chubzorz opened #4881 "Missing explanation for "tabpanel" role on ARIA roles page"
https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles
![image](https://user-images.githubusercontent.com/25470818/117688656-d4857600-b16d-11eb-9ac2-a406e0968182.png)

[2021-05-10 15:58] #4881 closed, assigned to nobody

[2021-05-10 16:00] #4880 closed

[2021-05-10 16:01] #4879 closed

[2021-05-10 17:05] Blakelist7 commented on #4799
@himanshu007-creator have you created a PR for this?If not, shall I create one or you wanna do it?

[2021-05-10 17:07] MEF4232 opened #4883 "Error when running given test code"
Was reading about [String.match()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/match) and testing the example code snippets. The code snippet for [Using named capturing groups](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/match#using_named_capturing_groups) does not work (see screenshot below)

<img width="1022"

[2021-05-10 17:07] himanshu007-creator commented on #4799
Thanks, i will create the PR now🙂

[2021-05-10 17:11] wbamberg opened #4884 "Have a consistent opening paragraph for HTML elements"
This came out of https://github.com/mdn/content/pull/4792 , which changes the preamble bit for https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button from:

"The **HTML \<button> element** represents..."

to

"The **HTML \<button>** element represents..."

It would be nice to be consistent here, and it would be good to know what people think we should use. Some options:

1) "The **HTML C

[2021-05-10 17:14] ddbeck commented on #4367
Since there was more discussion about linting Kramdown-style lists, I spent more time trying to figure out where the sharp edges are with that (apart from parsing, which we've already acknowledged). I'm a bit troubled by them because I don't have a lot of ideas about how to sand down these edges (unlike the stuff we've considered for accepting the GFM table syntax or the solution we came up with n

[2021-05-10 17:25] Blakelist7 commented on #4799
Ig it's against `main`

[2021-05-10 17:27] Blakelist7 commented on #4826
@chrisdavidmills I have made the required changes for part 3 please review them and let me know if some more changes are required.
Thanks

[2021-05-10 18:18] andrehora opened #4886 "Issue with "Django Tutorial Part 10: Testing a Django web appl…": actual value first to keep the pattern"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Testing

#### What information was incorrect, unhelpful, or incomplete?

This is a minor suggestion.

Just to keep the pattern with other assertions on the page, it would be better to write the actual value first:
[code]

Instead of the expected value first (as currently presented in two occurrences):
[code]

Other assertio

[2021-05-10 18:56] singla-shivam opened #4889 "Content bug: Wrong header-types for Transfer-Encoding and Trailer headers"
## What page(s) did you find the problem on?
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Trailer
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Transfer-Encoding

## Specific page section or heading?
`Transfer-Encoding` and `Trailer` headers

## What is the problem?
In the docs, the header type for `Transfer-Encoding` and `Trailer` headers is marked as `Response header`.

[2021-05-10 19:56] ZNackasha opened #4890 "Issue with "Window.open()": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Window/open

#### What information was incorrect, unhelpful, or incomplete?

this does not have info on the forth paramater of open. aka replace. this parameter is used to indicate if you want to replace the current URL or not

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/api/window/open`
* MDN URL: htt

[2021-05-10 20:01] andrehora opened #4891 "Issue with "Django Tutorial Part 10: Testing a Django web appl…": assertTrue => assertEqual"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Testing

#### What information was incorrect, unhelpful, or incomplete?

Not sure it was intentional, but here instead of using `assertTrue` (in methods `test_pagination_is_ten` and `test_lists_all_authors`):

[code]

... it would be better to check with `assertEqual` (to facilitate debugging as suggested on page itself):

[2021-05-10 20:41] andrehora commented on #4886
The same applies to the following code in method `test_only_borrowed_books_in_list`:

[code]

This could actually be:
[code]

[2021-05-10 21:48] HarrisPikeCC opened #4894 "Issue with "Test your skills: JSON": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/Test_your_skills:_JSON

#### What information was incorrect, unhelpful, or incomplete?
The task asks the user to list the amount of female kittens, but does not declare a kitten variable like it does for the male and total counts.

#### Specific section or headline?
The live code at the beginning of the displayCatInfo funct

[2021-05-10 22:26] guillermovasta opened #4895 "Issue with "Array.prototype.sort()": (incorrect description)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort

"If compareFunction(a, b) returns less than 0, leave a and b unchanged." **unchanged**?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/javascript/reference/global_objects/array/sort`
* MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/G

[2021-05-11 00:10] da091005 opened #4897 "Multiple calls to speak() causes the utterance to be overwritten"
When calling Speak() multiple times, it will speak the first utterance, and then speak the last utterance for as many times as you called speak.

ie:
{
    this.utterance.text="test1";
    this.synth.speak(this.utterance);
    this.utterance.text="test2";
    this.synth.speak(this.utterance);
    this.utterance.text="test3";
    this.synth.speak(this.utterance);
    this.utterance.text="test4";

[2021-05-11 00:12] hamishwillee commented on #4886
Thanks @andrehora . I have fixed as part of #4896.

FWIW This kind of inconsistency is annoying but not particularly damaging to the example - so normally it would be very low priority. Please free to tidy this kind of thing by creating a PR, noting that we have to also keep the demo version of the tutorial in sync: https://github.com/mdn/django-locallibrary-tutorial

[2021-05-11 00:30] hamishwillee commented on #4891
Thanks @andrehora

Sure. Added to https://github.com/mdn/content/pull/4896

[2021-05-11 01:28] hamishwillee commented on #4889
Thanks @singla-shivam . I think you're definitely right, and these are not "response headers".

The [definition of general headers here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers) is "apply to both requests and responses, but with no relation to the data transmitted in the body.". `Trailer` fits into that category, but I'm not sure that `Transfer-Encoding` does, as it describes the

[2021-05-11 02:53] hamishwillee commented on #4884
Of the options presented I prefer option 4. In particular IMO only the element itself should be highlighted in bold (and I even consider that "optional").

If the HTML context is important (and I think it is), then arguably this is a better approach:

![image](https://user-images.githubusercontent.com/5368500/117750918-96648100-b257-11eb-86fb-0f8a5b80a817.png)

In case it is helpful
![image](https

[2021-05-11 03:30] sideshowbarker commented on #4889
Yeah, I think we should avoid using any term that’s not used in the current HTTP spec.

Yes, that seems to me like the right thing to do.

I’m not aware of browsers ever sending a `Transfer-Encoding` request header — but as far as for the general case in HTTP, I see the last paragraph of the https://datatracker.ietf.org/doc/html/rfc7230#section-3.3.1 section the spec says this:

That seems to impl

[2021-05-11 03:30] longm89 commented on #461
@chrisdavidmills Hi Chris, could I work on this problem?

[2021-05-11 03:59] wbamberg opened #4902 "How should "API pages" represent BCD?"
We've just recently started supporting BCD queries as front matter keys: https://github.com/mdn/yari/issues/3258. This means the `{{Compat}}` macro can stop passing it as an argument, and Yari can just automatically add the right BCD table based on the front matter. It also means we can render other data out of the BCD query, too, like specifications tables and maybe soon the "deprecated" banner.

[2021-05-11 04:41] #4244 closed

[2021-05-11 05:33] hamishwillee commented on #4889
Excellent.  Given this is a change in "what we do", who should we ask for approval from? Because we should do this at least a bit "globally".

[2021-05-11 06:57] officialtech opened #4905 "Issue with "Equality comparisons and sameness": [1, 2] == '1,2'"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Equality_comparisons_and_sameness

#### What information was incorrect, unhelpful, or incomplete?
[1, 2]  == '1,2'

#### The above compression is wrong.

#### Answer should be false

#### Yes i tested using direct on console and by creating a new JS file.

![Screenshot_2021-05-11 Equality comparisons and sameness - JavaScript MDN](ht

[2021-05-11 07:13] chrisdavidmills commented on #4905
@officialtech I just tested `[1,2] == '1,2'` in the console in Firefox and Chrome, and both returned `true`.

So I don't think there is anything to do here. I'm closing this, but feel free to respond if you have any more thoughts. Thanks.

[2021-05-11 07:41] longm89 commented on #461
@chrisdavidmills Thanks. Yes, I looked at the web on my broswer Chrome and don't see any error in the console.

[2021-05-11 08:01] BlairOu opened #4906 "svg thread blocking problem"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/SVG

#### It’s will lose browser support ？

#### I use animateMotion to make a SVG loadingSpinner, but the animation will be block before the page is fully loaded

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/svg`
* MDN URL: https://developer.mozilla.org/en-US/docs/Web/SVG
* GitHub URL: https://github.com/m

[2021-05-11 08:15] opto opened #4908 "Issue with "Element.innerHTML": in the warning 'don't use for AMO', give a solution"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Element/innerHTML

#### What information was incorrect, unhelpful, or incomplete?
the yellow warning box phrases a 'don't use this for AMO submissions'

#### Specific section or headline?

#### What did you expect to see?

tell what to use instead. In duscussions with TBSync/John Bieling for submissions to ATN, the solution was to use Eleme

[2021-05-11 08:23] hamishwillee commented on #4889
@Elchi3 Chris suggest you might be a good person to advise re https://github.com/mdn/content/issues/4889#issuecomment-837852099 above. Specifically, in the HTTP Header info tables we refer to them being as request, response, general and (possibly) representation/Entity headers.

We use "General" to be mean "either request or response header based on context, unless is to do with payload representa

[2021-05-11 09:24] A-d-r-i opened #4910 "Issue with "Éxaminer et modifier le code HTML": remove the accent in the title"
MDN URL: https://developer.mozilla.org/fr/docs/Tools/Page_Inspector/How_to/Examine_and_edit_HTML

#### What information was incorrect, unhelpful, or incomplete?
No emphasis on "Examiner" in the title of this article in French.

#### What did you expect to see?
"**Examiner et modifier le code HTML**"

<details>
<summary>MDN Content page report details</summary>

* Folder: `fr/tools/page_inspector/h

[2021-05-11 09:42] masha-padalko opened #4911 "Issue with "Как использовать GitHub Pages?": (short summary here please)"
В пункте _Перейдите на веб-адрес GitHub Pages на новой вкладке браузера, и вы должны увидеть свой сайт онлайн! Отправьте его по электронной почте своим друзьям и продемонстрируйте своё мастерство._
Нет инструкции, где можно найти ссылку на ваш gh-pages. То что это в  **settings** и **pages**

MDN URL: https://developer.mozilla.org/ru/docs/Learn/Common_questions/Using_Github_pages

#### What inform

[2021-05-11 10:06] chrisdavidmills commented on #4894
@HarrisPikeCC The idea here is that you represent number of female calls as `total - male`, thereby avoiding the need for that other variable.

[2021-05-11 10:13] Elchi3 commented on #4889
hm, yes, it's possible we took this definition from an older RFC (https://datatracker.ietf.org/doc/html/rfc2616#section-4.5) when we first wrote the MDN HTTP docs.

I think your suggestion to just have header types in a comma separated list makes a lot of sense. It is more clear anyways, "general" is quite generic :)

[2021-05-11 10:28] ddziara opened #4912 "Issue with "Document.cookie": In examples #5, #6 shouldn't it be "ES2015" instead of "ES2016" ?"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Document/cookie

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/api/document/cookie`
* MDN URL: https://developer.mozilla.org/en-US/doc

[2021-05-11 10:28] andrehora commented on #4886
Sure, thanks @hamishwillee for the fast response!

[2021-05-11 10:34] chrisdavidmills commented on #4826
@Blakelist7 thanks for that.

For the sidebar, the following macro defines this sidebar: https://github.com/mdn/yari/blob/main/kumascript/macros/FirefoxSidebar.ejs

This needs to be updated to something more sensible for the current state of the docs.

[2021-05-11 14:46] mromann2 opened #4915 "Issue with "Поля классов": (short summary here please)"
MDN URL: https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Classes/Public_class_fields

#### What information was incorrect, unhelpful, or incomplete?
в примере, в ассерте вызывается класс с другим названием,  ClassWithPrivateStaticField вместо ClassWithPrivateStaticMethod

#### Specific section or headline?
приватные_статические_методы

#### What did you expect to see?
ClassWithPriva

[2021-05-11 15:06] jpmedley commented on #1831
I've just been informed that API will not be directly replaced. A new API will be implemented along side the existing one. After that's deployed, the old one will be deprecated and removed.

[2021-05-11 15:47] CC2m2 opened #4918 "Issue with "linear-gradient()": About color stops."
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient()

#### What information was incorrect, unhelpful, or incomplete?
Maybe a value is wrong.

#### Specific section or headline?
Customizing Gradients.

#### What did you expect to see?
About the paragraph: "Color stops should be listed in ascending order. Subsequent color stops of lower value will override the value of the pre

[2021-05-11 16:12] wbamberg commented on #3548
Option 2 doesn't exist at the moment, so I'm not sure why we would build a bridge from it.

At the moment the ID passed into live samples is mapped to a heading ID or a div ID. That won't work in Markdown-land, but we need to keep supporting it while there is still content in HTML.

So we would support this new way and the old way in parallel, so for example:

* if `EmbedLiveSample` is given an ar

[2021-05-11 16:18] #4902 closed, assigned to chrisdavidmills

[2021-05-11 16:44] ddbeck commented on #3548
@wbamberg In https://github.com/mdn/content/issues/3548#issuecomment-833216223 you've introduced numbered macro calls: `{{EmbedLiveSample1}}`, `{{EmbedLiveSample2}}`. I interpreted this as being somewhat like option 2 (macro calls that are specific to each example), but with some more magic (using numbers and the page outline to select relevant code blocks, instead of explicit names). I took this

[2021-05-11 16:52] Andrew-Cottrell opened #4921 "Issue with "Element.setAttribute()": incorrect claim that use of attribute's name is non-standard"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Element/setAttribute

#### What information was incorrect, unhelpful, or incomplete?

I didn't expect an incorrect claim that use of the attribute's name is non-standard.

#### Specific section or headline?
https://developer.mozilla.org/en-US/docs/Web/API/Element/setAttribute#parameters

#### What did you expect to see?

Something like

###

[2021-05-11 17:24] Andrew-Cottrell commented on #4868
In Chrome 90, removing `.toString()` on line 11 results in the following output
[code]
In general browsers may differ in output when logging values to the console, but they are consistent when instructed to log primitive strings. I suggest the example should remain as it currently is, with an explicit call to the `toString` method.

[2021-05-11 18:19] jojorm37 opened #4922 "Unable to access documentation for "Frame and message structure in HTTP/2""
Hi Team,

First of all, thank you for your efforts in creating the documentation for HTTP, I was planning to learn more about HTTP2.0 implementation and came across an issue due to which I am not able to access the page. The below URL which is shared on other pages(I got redirected from https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP) as well

https://developer.mozilla.org/en-US/d

[2021-05-11 19:06] jpmedley opened #4924 "Content bug: Feature Policy in Experimental features in Firefox"
## What page(s) did you find the problem on?

Recently, the `Feature-Policy` header was renamed `Permissions-Policy`. While updating MDN reference pages, I found a Firefox page that references `Feature-Policy` as an experimental feature. Since I do not know anything about Firefox's development processes or the norms for documenting new and experimental feature, I thought it best to ask someone fro

[2021-05-11 19:44] Ryuno-Ki commented on #4906
Hey @BlairOu,
this sounds like a question regarding the usage of SMIL (`animateMotion` attribute in SVG).
These are best to asked on StackOverflow or that like.

This repo here is meant to document the web elements and attributes. The linked URL does not deal with `animationMotion` directly, so I'm going to close this issue.

The spec does not markup the attribute as deprecated: https://svgwg.org/