[2021-03-02 23:42] yuki-kimoto opened #2817 "Is it possible to add the word Perl to Selenium content?"
Is it possible to add the word Perl to Selenium content?

WebDriverとその言語、例えばJava、C＃、Ruby、Python、JavaScript（Node）などを使用してWebDriverと通信するのに必要なバインディングをインストール

https://developer.mozilla.org/ja/docs/Learn/Tools_and_testing/Cross_browser_testing/Your_own_automation_environment

[2021-03-03 03:10] #2664 closed

[2021-03-03 03:34] cgarrovillo commented on #2765
![image](https://user-images.githubusercontent.com/6688713/109748701-87e25500-7b96-11eb-84a5-2e4d9318db30.png)

[https://github.com/cgarrovillo/MDN-Intl.NumberFormat/tree/main](https://github.com/cgarrovillo/MDN-Intl.NumberFormat/tree/main)

[2021-03-03 04:35] NegiAkash890 commented on #1136
HI @chrisdavidmills ,  I can help fixing this issue  : ) .
Thanks

[2021-03-03 07:36] keke9208 opened #2821 "Issue with "zh-CN/docs/Web/API/DOMParser""
https://developer.mozilla.org/zh-CN/docs/Web/API/DOMParser#%E8%AF%AD%E6%B3%95
Two hidden chars “​​” in code `let domparser = new DOMParser()​​;` (between ")" and ";").
I copy the code to run but get unexpected character error.

[2021-03-03 07:50] Eroppo opened #2822 "Broken navigation links"
Buttons "Forward" at [Sessions](https://developer.mozilla.org/ru/docs/Learn/Server-side/Django/Sessions) and "Back" at [Forms](https://developer.mozilla.org/ru/docs/Learn/Server-side/Django/Forms) leads to [authentication_and_sessions](https://developer.mozilla.org/ru/docs/Learn/Server-side/Django/authentication_and_sessions) with Page not found error: the correct url is [Authentication](https://d

[2021-03-03 09:21] benbyford opened #2824 "Issue with "Compiling from Rust to WebAssembly": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/WebAssembly/Rust_to_wasm

#### What information was incorrect, unhelpful, or incomplete?
Would be useful to show how to use on the web without bundlers e.g. webpack as it is not always nessacary to use them and hides important implementation steps.

#### Specific section or headline?
Using the package on the web

#### What did you expect to see?
Ru

[2021-03-03 09:52] chrisdavidmills commented on #1720
2.0.17 of mdn-data published: https://www.npmjs.com/package/mdn-data

[2021-03-03 09:52] #1720 closed

[2021-03-03 10:15] rachelandrew commented on #2446
@CreaTorAlexander are you working on this or can I make the change?

[2021-03-03 10:15] #1795 closed

[2021-03-03 10:37] chrisdavidmills commented on #2822
Apologies, but we are not currently making changes to translations. See https://hacks.mozilla.org/2020/12/an-update-on-mdn-web-docs-localization-strategy/ for an explanation.

[2021-03-03 10:37] #2822 closed

[2021-03-03 10:49] chrisdavidmills commented on #2816
@beurdouche is the main NSS maintainer left at Mozilla. He might have some thoughts on this.

[2021-03-03 11:01] rachelandrew commented on #2432
I'm just looking through this and am going to tidy up that page and bring it into line with other overview pages I've worked on.

I think in terms of where these functions live in our docs, it makes sense for CSS-wide functions to live directly under CSS and for things which only relate to one data type (for example the transform-function) values to stay as a subpage of that data type. Which essen

[2021-03-03 11:04] rachelandrew opened #2827 "Create pages for the hsl() and hsla() notation"
I am working on #2432 and breaking some subtasks out into new issues.

The CSS Functions index page currently 404s for `hsl()` and `hsla()`. Create pages under `<color-value>` (https://developer.mozilla.org/en-US/docs/Web/CSS/color_value) for these functions to bring them into line with other data type specific notations.

[2021-03-03 11:10] chrisdavidmills commented on #2432
All sounds reasonable to me, @rachelandrew . I do wonder whether it is worth defining pages for _all_ functions. For example, `hsl()` and other color-related notations are all defined on https://developer.mozilla.org/en-US/docs/Web/CSS/color_value, and it seems to make sense to have all of them defined on the same page, rather than expecting readers to go around to all manner of different pages to

[2021-03-03 11:12] rachelandrew commented on #2432
I think in terms of being able to easily link to these things, and to be able to describe them properly there is a benefit in them having their own page. Otherwise, as you say, the pages get very long. If `hsl()` for example is properly described somewhere then the color value page can more succinctly explain the basics.

In general the functional notations do stuff, which is why they are function

[2021-03-03 11:16] rachelandrew commented on #2432
Found a case where data type specific values are under CSS - https://developer.mozilla.org/en-US/docs/Web/CSS/gradient

To bring this into line with filter-function and transform-function values, the gradient values (linear-gradient) etc. should relaly be under gradient.

[2021-03-03 11:17] CreaTorAlexander commented on #2446
@rachelandrew you can take it away 👍

[2021-03-03 11:29] NegiAkash890 commented on #1136
HI @sideshowbarker , I fixed have the  typos in the page and the remaining are those which are  links like `{{domxref("Slotable")}}`.
I just want to ask before I proceed , that after fixing typos in these links too as I need to do is edit the `mdn/yari` json file and all the side bars like this
![Screenshot from 2021-03-03 16-51-21](https://user-images.githubusercontent.com/55234838/109799083-92a5

[2021-03-03 11:52] chrisdavidmills commented on #2432
I agree with your reasoning here, and am happy for you to update the pages as needed.

[2021-03-03 12:14] CreaTorAlexander commented on #2821
I can update this 👍

[2021-03-03 15:42] say25 opened #2831 "Show Spec Feature List"
I would love a way to browse MDN by features added in ESXX.

This way I can see what new features were launched in each different version of ES.

[2021-03-03 16:57] terrymorse58 opened #2833 "Issue with "Date.prototype.setDate()": month calculation based on local time, not UTC"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/setDate

#### The setDate documentation doesn't state that the month determination is performed in local time, rather than UTC.

Please add a line somewhere that states that the calculation is based on local time. The only way to know from the doc is to click through on the [spec](https://tc39.es/ecma262

[2021-03-03 17:01] sideshowbarker commented on #2833
I’ve got a somewhat-related PR at https://github.com/mdn/content/pull/893 that I still need to finish — so I’ll write up a patch for this too

[2021-03-03 18:01] ddbeck commented on #2506
OK, coming over here from https://github.com/mdn/browser-compat-data/pull/9305#issuecomment-789927430. Here's what I said in [my review](https://github.com/mdn/browser-compat-data/pull/9305#pullrequestreview-603167102):

@chrisdavidmills, you proposed the subfeature structure in https://github.com/mdn/browser-compat-data/pull/4817. What made you turn on it?

[2021-03-03 18:53] jpmedley commented on #2615
There are no additional install requirements for using service workers in Chrome. I'm not sure why you would be getting that.

If you're running your demo on localhost, you could have another service worker in play. Try unregistering local service workers and try again. Open Dev Tools (right-click, inspect). Go to Application. Select Service Workers, then click See all registrations. A new window

[2021-03-03 18:59] clhjoburg opened #2836 "Django Tutorial (Local Library) Part 8 os needs to be imported for newer versions"
When setting up authentication views on this page (https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Authentication) an error occurs 'os is not defined'. os is not imported by default in Django 3.1 onwards so the tutorial has to state that this needs to be imported into settings.py or otherwise be altered to use pathlib.

Thanks

[2021-03-03 19:01] ozanmuyes commented on #2716
@chengjieyun59 Thank you!

[2021-03-03 19:12] mireille-raad opened #2837 "outdated use of @font-face in "Learn to style HTML using CSS -> Web fonts""
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Web_fonts

#### What information was incorrect, unhelpful, or incomplete?

[code]

#### Detailed problem

The @font-face article on mdn is on [this link](https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face ):

It uses this definition:
[code]

SVG is depreciated/not recommend
<img width="1004" alt="Screen Shot 2021-03-

[2021-03-03 19:37] jedshuang opened #2839 "Issue with "Percent-encoding": (Typo in example description)"
MDN URL: https://developer.mozilla.org/en-US/docs/Glossary/percent-encoding

#### What information was incorrect, unhelpful, or incomplete?
The Hello World example incorrectly refers to the "comma" character as a "quote" character. The percent-encoding of %2C corresponds to the "," character, not the "'" character.

#### Specific section or headline?
This is in the "Syntax" section under the "data

[2021-03-03 19:39] #2839 closed

[2021-03-03 19:39] jedshuang commented on #2839
Closing due to incorrect page being referenced.

[2021-03-03 19:41] jedshuang opened #2840 "Issue with "Data URLs": (Typo in example description)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Data_URIs

#### What information was incorrect, unhelpful, or incomplete?
The Hello World example incorrectly refers to the "comma" character as a "quote" character. The percent-encoding of %2C corresponds to the "," character, not the "'" character

#### Specific section or headline?
This is in the "Syntax" section under th

[2021-03-03 19:57] jpmedley commented on #2514
I can't even find that any work is being done on these in Chrome. By the way, presence of an item in draft spec is no guarantee that it will survive in that form (or at all) into a production version of any browser. In fact the last proposed enhancement to this API made it (if I remember correctly) nearly to an origin trial before being killed on security grounds. This is why I never document anyt

[2021-03-04 00:28] NitschkeM opened #2844 "Issue with "Recipe: Media objects": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Media_objects

#### What information was incorrect, unhelpful, or incomplete?
The css 'code' contains style rules which does not match any html elements.

#### Specific section or headline?
Under headline: The Recipe.
Scroll down to bottom.
Copy Code --> This is the code this post refers to.

The css code includes the follow

[2021-03-04 05:02] sideshowbarker commented on #1136
That sounds right

[2021-03-04 06:21] rachelandrew commented on #2844
I'll take a look, also those code examples are all displaying in very small iframes so I'll sort that out too!

[2021-03-04 06:24] rachelandrew commented on #2837
@mireille-raad very happy if you want to do a PR, let me know if you need any help.

The instructions for getting the project set up locally are in the Readme.

[2021-03-04 06:52] rachelandrew opened #2848 "Create pages for rgb() and rgba notation"
I am working on #2432 and creating issues for parts of this work.

Create individual pages under color_value for rgb() and rbga(). The information needed is at https://developer.mozilla.org/en-US/docs/Web/CSS/color_value#rgb_colors

[2021-03-04 07:08] chrisdavidmills commented on #2506
@ddbeck ack, I don't even remember that conversation ;-|

So much stuff, y'know? ;-)

Looking at it again, I just felt that it seemed a bit weird having a separate row for something that almost feels like expected behavior rather than a separate feature...but then again, you've got some points here too, and it sounds like you think that having the subfeature would be easier to check and less confu

[2021-03-04 07:50] pruthig opened #2849 "Issue with "NSS Tools": Source code not availlable on GitHub"
MDN URL: https://developer.mozilla.org/en-US/docs/Mozilla/Projects/NSS/tools

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/mozilla/projects/nss/tools`
* MDN URL: https://developer.mozilla.org/en-

[2021-03-04 07:57] Ryuno-Ki commented on #2849
@pruthig What's the matter with this page?
(If you did not intended to open an issue, please just close it. No hard feelings)

[2021-03-04 08:12] Ryuno-Ki commented on #2803
I chatted with @DerekNonGeneric on Matrix.
He's got a library who link out to these pages (`AsyncGenerator` and `AsyncGeneratorFunction`).

It's documented [how to add a new document](https://github.com/mdn/content#adding-a-new-document) and the directory holding these files is

https://github.com/mdn/content/tree/4a94f3c5088877279571d381d13b4cd44222f975/files/en-us/web/javascript/reference/global

[2021-03-04 08:27] rachelandrew opened #2850 "Create pages for missing math functional notation"
I am working on #2432 and raising some issues for that project.

We need pages for the missing math functions which are detailed on https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Functions

[2021-03-04 08:27] rachelandrew opened #2851 "Create pages for missing color functional notation"
I am working on #2432 and raising some issues for that project.

We need pages for the missing color functions which are detailed on https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Functions

[2021-03-04 08:32] rachelandrew opened #2852 "Consider moving the gradient and image functions in the structure"
I am working on #2432 and raising some issues for that project.

The gradient functional notations are currently listed directly under CSS/

To make these consistent with other functions (such as the functions for transform-function) they should really be listed under https://developer.mozilla.org/en-US/docs/Web/CSS/gradient

However gradients are also part of image https://developer.mozilla.org/e

[2021-03-04 08:37] rachelandrew opened #2853 "Create pages for basic-shape values"
I am working on #2432 and creating issues for parts of this work.

Create individual pages under basic-shape for the various values. The information needed is at https://developer.mozilla.org/en-US/docs/Web/CSS/basic-shape

[2021-03-04 08:44] rachelandrew commented on #2432
@chrisdavidmills I've just opened a PR with the work I did yesterday on that Functions page, plus a whole bunch of issues which have shown up above.

Would appreciate opinions on https://github.com/mdn/content/issues/2852

[2021-03-04 09:00] chrisdavidmills commented on #2852
I would go for 1. I like the idea of having functions consistently under their related data types, but I don't think creating a multi-level data-types hierarchy is really helpful for users, and it will probably create a bunch of confusion for us in certain situations in the future.

[2021-03-04 09:02] rachelandrew commented on #2852
That would be my preference but thought I should check in case anyone had any strong feelings in another direction.

[2021-03-04 09:53] #2849 closed

[2021-03-04 10:05] sideshowbarker commented on #2803
Yes, that sounds best

[2021-03-04 12:25] sideshowbarker commented on #2840
Thanks for catching this and reporting it — I’ve opened https://github.com/mdn/content/pull/2856 with some related changes

[2021-03-04 14:36] rachelandrew opened #2858 "Missing page for DOMParser.parseFromString"
The page for DOMParser seems to have the information for the `parseFromString()` method on that page rather than linking to a separate page.

https://developer.mozilla.org/en-US/docs/Web/API/DOMParser

[2021-03-04 15:56] mireille-raad commented on #2837
I am on it 😄

[2021-03-04 17:10] Kassiwin opened #2860 "Issue with "border-top-left-radius": (Typo in the last example CSS snippet)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/border-top-left-radius

#### What information was incorrect, unhelpful, or incomplete?

`border-style: black 3px double;`

![image](https://user-images.githubusercontent.com/26141092/109999842-f1876e00-7d12-11eb-8318-a0c74bcc145c.png)

#### Specific section or headline?

Examples
Examples of different border-top-left-radius values

#### Wha

[2021-03-04 17:32] wbamberg commented on #2803
See also: https://github.com/mdn/content/issues/1459 and https://github.com/mdn/content/issues/2248.

[2021-03-04 18:04] acdvs commented on #2831
This is something I've wanted for a very long time as well. Surprisingly, none of the top JS reference resources out there have this info, so looking it up has always been extremely tedious in my opinion. I honestly don't know how we've come this far without this feature.

[2021-03-04 19:03] NitschkeM commented on #2844
Cool cool, good luck =]

[2021-03-04 20:13] venven-de opened #2862 "Issue with "Introducing a complete toolchain": New version of Parcel does not seem to work in tooling tutorial"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Understanding_client-side_tools/Introducing_complete_toolchain

#### What information was incorrect, unhelpful, or incomplete?
running parcel at the very end of the page returns an error
Invalid Version: undefined
    at new SemVer (/home/tuven/Desktop/will-it-miss/node_modules/@babel/preset-env/node_modules/semver/semver.js

[2021-03-04 22:16] Ryuno-Ki commented on #2837
@mireille-raad I can't wait to see what you come up with :)

[2021-03-05 01:25] JustinWebDev opened #2868 "Issue with "Element.getElementsByTagName()": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Element

#### What information was incorrect, unhelpful, or incomplete?
The left-side list of pages/articles has every link duplicated.  E.g.,
ariaAtomic
ariaAtomic

This is on every page Element page.

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content p

[2021-03-05 02:23] sideshowbarker commented on #2868
heads-up @mdn/core-yari-content

[2021-03-05 07:03] Ryuno-Ki commented on #2868
Already addressed in https://github.com/mdn/yari/issues/3119 with an open PR https://github.com/mdn/yari/pull/3131

[2021-03-05 08:42] sideshowbarker commented on #2868
Closing as a duplicate per https://github.com/mdn/content/issues/2868#issuecomment-791204537.

[2021-03-05 08:42] #2868 closed

[2021-03-05 08:43] sideshowbarker commented on #2868
@JustinWebDev Thanks for catching this and reporting it — if you’re keen to know when the fix for this lands, please follow mdn/yari#3131

[2021-03-05 11:23] je3f0o opened #2878 "Issue with "Sensor APIs": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Sensor_APIs

#### What information was incorrect, unhelpful, or incomplete?

#### Feature Detection

#### "defensive programming strategies (see below)" link has typo in href attrubute. Not working.

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/api/sensor_apis`
* MDN URL: https://developer.mozilla.org/e

[2021-03-05 12:30] CreaTorAlexander commented on #2878
Good Catch! I will update it, thanks for reporting this.

[2021-03-05 14:45] hendryl opened #2881 "Issue with "Generator.prototype.return()": If no parameter is set, it actually returns undefined"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Generator/return

#### What information was incorrect, unhelpful, or incomplete?
This specific line is incorrect:

#### Specific section or headline?

Examples section - Using return()

#### What did you expect to see?
If no argument is provided, the value property of returned object is always `undefined`.

#

[2021-03-05 15:21] mhdzumair opened #2882 "Components.utils.isDeadWrapper() not working correctly."
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/Dead_object

#### What information was incorrect, unhelpful, or incomplete?
Components.utils.isDeadWrapper() method is not working correctly.

#### Specific section or headline?
Checking if an object is dead

#### What did you expect to see?
I want to check the opened tab closed or not.

#### Did you test this? If so

[2021-03-05 16:43] #2860 closed

[2021-03-05 17:33] #2692 closed

[2021-03-05 17:36] rachelandrew commented on #2852
@chrisdavidmills I've tried to move these using the yarn move command, and it rewrites the slugs and wikihistory, but doesn't move the files or change the redirects file. No error. I get the message "Moved 1 documents".

I'm on Windows... maybe a path issue?

Can I do this move manually please?

[2021-03-05 17:56] wbamberg commented on #2622
I just merged https://github.com/mdn/content/pull/2866 which removes the `{{SeeCompatTable}}`, as well as addressing https://github.com/mdn/content/issues/1521, so I think we can close this.

[2021-03-05 17:56] #2622 closed

[2021-03-05 18:14] wbamberg commented on #2882
What kind of extension are you writing? [Firefox WebExtensions](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions) don't get  access to the `Components` object - and Firefox hasn't supported any other type of extension for years.

If you want to interact with tabs in a WebExtension, use the [`tabs`](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/tab

[2021-03-05 18:58] mhdzumair commented on #2882
Is that `tabs` api permission is necessary to work with isDeadWrapper method.? I create extension for some automation task and remove ads (i intend to isDeadWrapper method to check the popup window is closed or not without getting `tabs` permission. I used try except block for managing that one.). I only used content script. Actually I couldn't check the logs becuase, whenever insert condition for

[2021-03-05 19:05] mhdzumair commented on #2882
Coorect me if i'm wrong, The [TypeError: can't access dead object](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/Dead_object) page is not mentioned any permission need for using that method. Since content script running in page context i thought this method will be Xrayed because of privileged code

[2021-03-05 19:58] jpmedley commented on #2739
They tend to shy away from new idioms until they've had to achieve support in most browsers. When to embrace them is a judgement call with no reliable heuristic.

[2021-03-05 20:27] abelpita opened #2886 "Issue with "Plantillas literales (plantillas de cadenas)": There's a comment missing one argument"
MDN URL: https://developer.mozilla.org/es/docs/Web/JavaScript/Reference/Template_literals

#### What information was incorrect, unhelpful, or incomplete?
In the second code block of the "Plantillas etiquetadas" section, there is a comment that represents how a tagged template it's interpreted. In this comment, there's one argument missing:

let t1Closure = plantilla`¡${0}${1}${2}${2}${3}!`;
//let

[2021-03-05 22:18] wbamberg commented on #2223
Fixed by https://github.com/mdn/content/pull/2209. Thanks, @mohitdmak !

[2021-03-05 22:18] #2223 closed

[2021-03-05 22:20] wbamberg commented on #2191
Fixed by https://github.com/mdn/content/pull/2209. Thanks @mohitdmak !

[2021-03-05 22:20] #2191 closed

[2021-03-06 00:10] ahmadalzoubi13579 opened #2892 "Issue with "scaleX()": (angles of the element)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/scaleX()

#### What information was incorrect, unhelpful, or incomplete?

- the image is completely misleading

- `the angles of the element are not conserved`

#### Specific section or headline?

#### What did you expect to see?

`the angles of the element are conserved`

#### Did you test this? If so, how?

yes, [exampl

[2021-03-06 01:14] #2337 closed

[2021-03-06 02:59] adamreisnz opened #2893 "Issue with "Web NFC API": NDEFReader is not available on Chrome 89"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Web_NFC_API

#### What information was incorrect, unhelpful, or incomplete?
Support for NDEFReader is listed as being available for Chrome on Android from version 89.
This does not appear to be correct.

![image](https://user-images.githubusercontent.com/490562/110192758-ff64fc80-7e94-11eb-95a4-1dc188d34f86.png)

![image](https://user-image

[2021-03-06 03:06] adamreisnz commented on #2893
Looks like the examples had an issue in them and it seems to work after all.

[2021-03-06 03:06] #2893 closed

[2021-03-06 03:36] zlv2s opened #2894 "Issue with "Function.prototype.bind()": (translation issue)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/bind

#### What information was incorrect, unhelpful, or incomplete?

Chinese translation shows as below seems incorrect:

`请注意，你不需要做特别的处理就可以用 new 操作符创建一个绑定函数...`

based on the current Chinese translation means that `use new operator to create a bound function...`  which different from original copy

[2021-03-06 04:49] NegiAkash890 commented on #2892
I tested it in  your code pen and I think it should be `The scaling is not isotropic, and the angles of the element are not conserved when argument to scaleX function is negative` .

[2021-03-06 12:11] RawmanGrey opened #2896 "Issue with "@import": incorrect link to chrome url"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/@import

#### What information was incorrect, unhelpful, or incomplete?
link to non-existing page: https://developer.mozilla.org/en-US/docs/Mozilla/Tech/XUL/Tutorial/The_Chrome_URL

#### Specific section or headline?
Under Syntax heading, in url section <a> element has link heading non-existing page.

#### What did you expect to see?
some c

[2021-03-06 12:49] T410 opened #2898 "Issue with "Blob.text()": Opera is supporting blob.text()"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Blob/text

#### What information was incorrect, unhelpful, or incomplete?
The `Browser compatibility` section shows that Opera is not supporting this method

#### Specific section or headline?
Browser compatibility

#### What did you expect to see?
I expected to see that `blob.text()` will not work on Opera

#### Did you test this? If so, h

[2021-03-06 13:10] CreaTorAlexander commented on #2898
This would then also affect this table https://caniuse.com/?search=blob
Because it says also that it isn't supporting it.

[2021-03-06 13:39] chrisdavidmills commented on #2896
We can just delete the content about using this for mozilla internals; "Note that the URL..." onwards.

[2021-03-06 13:40] CreaTorAlexander commented on #2896
I can update it 👍

[2021-03-06 14:20] CreaTorAlexander commented on #2684
The example is actually correct. The reason why is it here *const date2 = new Date('02 Feb 1996 03:04:05 GMT');* second and here *const date1 = new Date(Date.UTC(96, 1, 2, 3, 4, 5));* is that you give the month in a range from 0 to 11 what means february is 1.

[2021-03-06 14:20] #2896 closed

[2021-03-06 16:04] Ryuno-Ki commented on #2898
The compat table is maintained in https://github.com/mdn/browser-compat-data/blob/320ed5108b7f4831f72d7f28cf62b90c262b4fb8/api/Blob.json - please fill an issue there.

[2021-03-07 00:06] ozaik opened #2903 "Issue with "Native messaging": Nothing happens when i send message in both direction."
MDN URL: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Native_messaging

#### What information was incorrect, unhelpful, or incomplete?
Native messaging example didn't work on mac.
When i lauch the [demo](https://github.com/mdn/webextensions-examples/tree/master/native-messaging)
I didn't got any error in the terminal. But when i tried send message to native app nothing ha

[2021-03-07 05:45] chozandrias76 commented on #1319
I'm able to view both rectangles equally with the following HTML + CSS
[code]

[code]
Removing ```
svg foreignObject {
  overflow: visible;
}
[code]

[2021-03-07 05:46] chozandrias76 commented on #1319
Note: On safari, svgs containing elements still have to have sizes IIRC.

[2021-03-07 07:23] gogoIsComing commented on #2892
@NegiAkash890 yes, but what i mean that `right angles still right angles` even when argument to scaleX function is negative.

[2021-03-07 13:12] ayumi-cloud opened #2907 "Issue with "Set-Cookie": Add `SameParty` attribute information to the page"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie

#### What information was incorrect, unhelpful, or incomplete?

Missing content.

#### Specific section or headline?

Add information about the new `SameParty` attribute.

#### What did you expect to see?

I've merged all the information on the web about this new attribute, you can find here:
https://github.com/ayumi-cl

[2021-03-07 14:27] Ryuno-Ki commented on #2907
Hey @ayumi-cloud,

thank you for reporting this. Would you mind to open an issue with https://github.com/mdn/browser-compat-data/issues/new as well to update the compatibility table (fed by the data stored over in that repo)?

That would be wonderful!

[2021-03-07 14:44] Ryuno-Ki commented on #1319
@sideshowbarker Would it be okay for you to let me update the codepen?
I can add a button or checkbox to toggle the rule for

[code]

[2021-03-07 15:02] roni6chabra opened #2909 "Issue with "Intl.DateTimeFormat": problem with "pt-PT" format"
Hi,
 theres a problem with Intl.DateTimeFormat library converting "pt-PT" dateRegionalSettingsLocale

printing this one in the console: 

`var dateRegionalSettingsLocale = "en-US";
var formatter = new Intl.DateTimeFormat(
     dateRegionalSettingsLocale,
      {
        day: 'numeric',
        month: 'short',
        year: 'numeric',
        timeZone: "Asia/Jerusalem",
      },
    );
formatter.fo

[2021-03-07 16:43] chozandrias76 commented on #1319
Toggling the rule off after it has already been set doesn't appear to set it back to the state if you had never added the selector in the first place.

[2021-03-07 17:44] ayumi-cloud commented on #2907
Done.

[2021-03-07 18:55] jamiecahill opened #2910 "Issue with "Basics of HTTP": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP

#### What information was incorrect, unhelpful, or incomplete?
The link [Flow of an HTTP session](https://developer.mozilla.org/en-US/docs/Web/HTTP/Flow_of_an_HTTP_session) is broken.

#### Specific section or headline?

#### What did you expect to see?
An educated guess would be that the link should point to https://develo

[2021-03-07 18:57] jamiecahill opened #2911 "Issue with "Cross-Origin Resource Sharing (CORS)": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS

#### What information was incorrect, unhelpful, or incomplete?
The link [Server-Side Access Control (CORS)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) simply points back to this page. Is this intended?

#### Specific section or headline?
Examples of Access Control Scnearios
https://developer.mozilla.org/en-US/docs/Web/HT

[2021-03-07 20:46] Ryuno-Ki commented on #1319
That becomes more interesting as we go >_<
Okay. Two pens then?

[2021-03-07 22:24] hamishwillee commented on #2911
Thanks. Fixed by deleting the paragraph in #2913. The doc was removed at some point and redirected (back) to this page.

FYI there is an issue somewhere to add a flaw checker to help us spot these kind of self links. Should be along sometime soon.

[2021-03-07 22:33] hamishwillee commented on #2909
Closing because this does not look like an issue with the **MDN content** - i.e. I can't find any example that looks like this in the docs. IF this is a documentation bug then please reopen and show the specific page where the incorrect text is listed.

What I think you may be reporting is some issue with the execution of this API on your browser - but you don't say which one.
If this is a browser

[2021-03-07 22:33] #2909 closed

[2021-03-07 22:54] hamishwillee commented on #2910
Thanks very much. I agree - that link is a reasonable replacement. Fixed in#2910.

Note, there are two other broken links in the doc related to HTTP/2. I have left those as hints for docs that do actually need to be written.

[2021-03-07 23:14] #2593 closed

[2021-03-07 23:14] Attila111111 opened #2915 "Issue with "Web technology for developers": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web`
* MDN URL: https://developer.mozilla.org/en-US/docs/Web
* GitHub URL: https://github.com/m

[2021-03-07 23:17] hamishwillee commented on #2915
Closing as there is no information on an issue to be fixed.

[2021-03-07 23:17] #2915 closed

[2021-03-07 23:18] #2911 closed

[2021-03-07 23:19] #2910 closed

[2021-03-07 23:19] Attila111111 commented on #2915
`

`

[2021-03-08 02:22] sideshowbarker commented on #1319
Sure — fine by me

[2021-03-08 05:03] hamishwillee commented on #2812
Thanks. I think the doc is all hard to read. Fixed in https://github.com/mdn/content/pull/2918

[2021-03-08 05:39] hamishwillee commented on #2555
@pocockcb Good catch - you're definitely correct. It's been a while, but I suspect that we changed to using the OS import in the section relatively recently and at that point the import code from development section was already present.

Glad you like the tutorial - I was pretty pleased with it. The one on Django site also really good, but possibly requires a little more Python experience.

This i

[2021-03-08 05:41] JoshuvaGeorge03 commented on #2769
Sorry for the late reply.

I would suggest, adding some kind of explanation before the statement (`If compareFunction(a, b) returns 0, leave a and b unchanged with respect to each other`)  to say how it differs from this statement (`If compareFunction(a, b) returns 0, leave a and b unchanged with respect to each other');

I want to point out one more thing, Before MDN docs said `If compareFunction

[2021-03-08 05:44] hamishwillee commented on #2836
Thanks very much. Yes, this got reported a couple of weeks ago. Just fixed it in https://github.com/mdn/content/pull/2919

[2021-03-08 06:20] CreaTorAlexander commented on #2769
All good @JoshuvaGeorge03, that is a good idea, I will take a look at it later on :+1:

[2021-03-08 06:28] KisaragiEffective opened #2921 "typo in ja/docs/Web/HTML/Element/ul"
in https://developer.mozilla.org/ja/docs/Web/HTML/Element/ul,

should be

[2021-03-08 08:58] chrisdavidmills commented on #2852
@fiji-flo hello sir! We've got more problems with yarn contrent move and redirects here. What should Rachel do in this situation?

[2021-03-08 09:03] Gladrat opened #2927 "Issue with "What is CSS?": Page /en-US/docs/Glossary/Khronos could not be found."
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/CSS/First_steps/What_is_CSS

#### What information was incorrect, unhelpful, or incomplete?

Link to Khronos in en-US glossary is KO.

#### Specific section or headline?

Link generated by glossary for **Khronos** on line 100 from https://github.com/mdn/content/blob/f7d113ed032f3ae7e519118b508085adaedd1864/files/en-us/learn/css/first_steps/wh

[2021-03-08 09:03] sylvestre opened #2928 "Cannot use "yarn content delete" on https://github.com/mdn/archived-content/"
I would like to delete some pages there but the recommended way to delete a page doesn't work.

note that I am happy to use my chainsaw and do "git rm" ;)

cc @chrisdavidmills

[2021-03-08 09:07] chrisdavidmills commented on #2928
@peterbe @fiji-flo I asked @sylvestre to file this because I wasn't sure of the best way to delete archived content. Any advice here on what best to do?

[2021-03-08 10:19] #2840 closed

[2021-03-08 11:12] Mewarcreations opened #2932 "Issue with "Element: touchmove event": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Element/touchmove_event

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/api/element/touchmove_event`
* MDN URL: https://developer.mozil

[2021-03-08 11:35] CreaTorAlexander commented on #2932
And what is the issue with the touchmove event that you have observed?

[2021-03-08 11:43] Rumyra commented on #2514
Last thing:

Removing members that haven't been implemented as they are not added to BCD. It's easy enough to add them back in when they are 👍 https://github.com/mdn/content/pull/2934

[2021-03-08 11:54] pufferfish101007 opened #2935 "Issue with "Text": Text.assignedSlot is listed twice"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Text

#### What information was incorrect, unhelpful, or incomplete?
The read-only property Text.assignedSlot is listed twice, with slightly differing definitions for each.

#### Specific section or headline?
Proerties

#### What did you expect to see?
One definition of Text.assignedSlot.

#### Did you test this? If so, how?
n/a

<details>

[2021-03-08 12:01] CreaTorAlexander commented on #2935
I can update this :+1:

[2021-03-08 12:25] martian1431 opened #2936 "Issue with "Web fonts": (Font Squirrel website not working)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Web_fonts

#### What information was incorrect, unhelpful, or incomplete?
The Webfont generator link is not working. I cannot access www.fontsquirrel.com.

#### Specific section or headline?
Generating the required code

#### What did you expect to see?
I expected to be taken to the Webfont generator website

#### Did you tes

[2021-03-08 12:34] fiji-flo commented on #2852
@rachelandrew can you add a comment with the command you ran? Happy to debug this. Also good to know we have more active Windows users!

[2021-03-08 12:39] rachelandrew commented on #2852
@fiji-flo below is the command and output. This is at the Windows Command Prompt rather than Linux via WSL.

This changed the slug in the file and wikihistory but did not move anything or update redirects.

[code]

[2021-03-08 12:47] fiji-flo commented on #2852
[code]

That's the output of `git status` running on `content/main` can you make sure you're up to date using `yarn up-to-date-check`. I'll boot up my Windows to see if it's a platform specific issue.

[2021-03-08 12:57] fiji-flo commented on #2852
Same result on Windows (Powershell) for me.

[2021-03-08 14:56] jpmedley commented on #2514
👍

[2021-03-08 15:08] Janpot opened #2941 "Issue with "Document: drag event": example behaves strange around text selection"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Document/drag_event

#### What information was incorrect, unhelpful, or incomplete?

The example behaves incorrectly in certain circumstances. This isn't exactly a critical bug, but people may inadvertently copy the example without realising it fails on edge-cases. Basically, it's possible to select the text inside the dive and drag that. I

[2021-03-08 15:58] JMPSoares opened #2942 "Firefox not accepting font-family"
In my site, when using Chrome  IE11  Edge, font-family working as expected. Not with Firefox, where all font-family is like "Arial"
If I open this url " https://fonts.google.com/ " with browser Firefox, all fonts are equal.
Not happen with others browser, as you see in files attachs.
![A3](https://user-images.githubusercontent.com/46007248/110345285-4e8e6700-8026-11eb-956a-fb42b464f8fa.jpg)
![A4](

[2021-03-08 16:16] bulk88 opened #2944 "Issue with "Link types: preconnect": no code sample/examples"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Link_types/preconnect

#### What information was incorrect, unhelpful, or incomplete?

No full tag code sample of preconnect attribute. Nothing to copy paste into my code from MDN, I need to instead keep googling.

#### Specific section or headline?

Entire article.

#### What did you expect to see?

A code sample that I can copy paste of

[2021-03-08 17:08] jpmedley commented on #2787
A tool like SonarJS has to account for what's supported in browsers. The spec that it was defined in seems beside the point. Since this feature is [supported in all the majors](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining#browser_compatibility) and SonarJS seems to have [added support](https://github.com/SonarSource/SonarJS/pull/2022), assuming I in

[2021-03-08 17:46] manaskhandelwal opened #2946 "Issue with "Window.getComputedStyle()": (There should be comma between arguments)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Window/getComputedStyle

#### What information was incorrect, unhelpful, or incomplete?
`var style = window.getComputedStyle(element [, pseudoElt]);`

<br />

#### Specific section or headline?

<br />

#### What did you expect to see?
`var style = window.getComputedStyle(element, [pseudoElt]);`

<br />

#### Did you test this? If so, how?

[2021-03-08 17:49] CreaTorAlexander commented on #2935
@chrisdavidmills what does needs-triage mean?

[2021-03-08 17:55] #2708 closed

[2021-03-08 18:06] chrisdavidmills commented on #2935
@CreaTorAlexander we are soon starting to run a proper triage process on new issues, adding better information to them that will help contributors fix bugs more easily.

But it doesn't mean you can't pick up an issue. If you know what to do already and want to take it on, I'm happy to assign you.

[2021-03-08 18:21] CreaTorAlexander commented on #2946
I can fix this 👍

[2021-03-08 19:26] JMPSoares commented on #2942
Ok I get it.
Firefox, Options, Advanced, and check "Allow pages to choose their own fonts, instead of your selections above"

[2021-03-08 19:26] #2942 closed

[2021-03-08 20:06] thrnd opened #2952 "Can you please return "change language" select back to the top of the page?"
Please forgive me if i am creating this issue in the wrong place.

Right now when i click "change language" button, browser scrolling all the way down to the end of the article and only then i can change language. It is so uncomfortable. First thing i do after visiting some article page - i am changing language to english (always), and now i am forced to wait a couple of time to do so.

Please ret

[2021-03-08 20:48] thrnd commented on #2952
Ok. I found "view in english" btn at the top of the page, sorry.

[2021-03-08 20:48] #2952 closed

[2021-03-08 21:44] #2848 closed

[2021-03-08 21:46] #2946 closed

[2021-03-08 21:49] #2827 closed

[2021-03-08 21:51] hamishwillee commented on #2946
Just FYI @manaskhandelwal you are misinterpreting the syntax. This is a particular notation (BNF) which is a compact way of showing the various options. So you are interpreting `var style = window.getComputedStyle(element [, pseudoElt]);` as a function taking a variable and an array, while actually it is a compact form of showing the two ways you can use the function
[code]
We are aware this confu

[2021-03-08 22:02] hamishwillee commented on #2688
Hi @CreaTorAlexander
How are you going with this? Would it be better if I made the modification and then you sanity checked it?

[2021-03-08 23:01] hamishwillee commented on #2516
@chrisdavidmills FYI This is pretty much done except for adding back browser preference notes in https://github.com/mdn/content/pull/2954 . The BCD will go in shortly.

[2021-03-09 00:51] mireille-raad commented on #2837
@rachelandrew, I checked caniuse.com

WOFF has been supported:

- on IE9 since 2011
- on safari iOS since 2012
- Android since 2013

Here is the link https://caniuse.com/mdn-css_at-rules_font-face_woff (screenshots are on the bottom)

In the current mdn text on [this link](https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Web_fonts), there is this paragraph:

Can I totally remove the

[2021-03-09 02:00] #2858 closed

[2021-03-09 02:26] ankit9607 opened #2958 "Issue with "IIFE": example doesn’t actually show a case where an IIFE is necessary"
MDN URL: https://developer.mozilla.org/en-US/docs/Glossary/IIFE

#### What information was incorrect, unhelpful, or incomplete?

(function () {
    var aName = "Barry";
})();
// Variable aName is not accessible from the outside scope
aName // throws "Uncaught ReferenceError: aName is not defined"

#### Specific section or headline?

https://developer.mozilla.org/en-US/docs/Glossary/IIFE#examples

[2021-03-09 03:35] NgocHueLy opened #2959 "Issue with "Handling text — strings in JavaScript": code typo"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/Strings

#### What information was incorrect, unhelpful, or incomplete?
        Conversely, every number has a method called toString() that converts it to the equivalent string. Try this:
        let myNum2 = 123;
        let myString2 = myNum2.toString();
        typeof myString; (*) <--- This is wrong, need to be myS

[2021-03-09 03:41] sideshowbarker commented on #2959
Thanks for catching this and reporting it — I’ve opened https://github.com/mdn/content/pull/2961 with a fix.

[2021-03-09 03:44] hamishwillee commented on #2669
@chrisdavidmills Decided to be helpful on point 2 - bunch of links fixed on #2960. A good task to cool my brain down on.

There are still quite a few broken links showing up. Specifically everything to the project NSPR and also a few archived docs like https://developer.mozilla.org/en-US/docs/Archive/Security/Introduction_to_SSL

FYI, not an automatic task :-(

[2021-03-09 03:46] sideshowbarker commented on #2932
@Mewarcreations Do you a suggestion about some part of https://developer.mozilla.org/en-US/docs/Web/API/Element/touchmove_event that you believe should be updated or changed?

[2021-03-09 03:58] JaykeyGuo opened #2962 "Issue with "Same-origin policy": (short summary here please)"
https://developer.mozilla.org/zh-CN/docs/Web/Security/Same-origin_policy#%E5%A6%82%E4%BD%95%E9%98%BB%E6%AD%A2%E8%B7%A8%E6%BA%90%E8%AE%BF%E9%97%AE

#### What information was incorrect, unhelpful, or incomplete?
there are some word translated worry.

#### Specific section or headline?
How to block cross-origin access

#### What did you expect to see?
the "cross-origin write" should be "跨源写操作" rather

[2021-03-09 04:18] hamishwillee commented on #1827
There is no use of `populate()` in the current version of the docs or [tutorial example code](https://github.com/mdn/express-locallibrary-tutorial/blob/master/controllers/authorController.js). I suspect this issue was fixed when the tutorial was reviewed late last year.

Closing. Thanks for posting this.

[2021-03-09 04:18] #1827 closed

[2021-03-09 04:31] hamishwillee commented on #2135
I am closing this as "cannot reproduce". Feel free to reopen if you can reproduce on current versions.

[2021-03-09 04:31] #2135 closed

[2021-03-09 04:36] rachelandrew commented on #2837
@mireille-raad if we are doing something based on browser support then the preference would be to test it rather than relying on Can I Use data. The data you are referencing actually came from MDN, so would be good to confirm it.

If that is correct however then I think you can remove the SVG stuff completely.

[2021-03-09 04:55] NegiAkash890 commented on #2958
In the first example we should `console.log(aName) ` . Correct Me if i am wrong .

Screenshot :

![Screenshot from 2021-03-09 10-09-52](https://user-images.githubusercontent.com/55234838/110420157-c315e400-80c0-11eb-845f-2e38e4f976e1.png)

[2021-03-09 06:42] NegiAkash890 commented on #2237
@chrisdavidmills  Can I work on this issue ?

[2021-03-09 06:45] sideshowbarker commented on #2237
@Kim-R2O already opened #2285 for this, with a patch

[2021-03-09 06:47] ankit9607 commented on #2958
Hi Akash,

Yes, In order to see the result on console, we have to call console.log,
but as you can see in the example its says, If you access the
variable aName its value will be (Reference Error or "Barry") string or
reference error. which is perfectly fine.

On Tue, Mar 9, 2021 at 10:25 AM Akash Negi <notifications@github.com> wrote:

[2021-03-09 06:59] CreaTorAlexander commented on #2688
Hi @hamishwillee
that sounds good :+1:

[2021-03-09 07:20] CreaTorAlexander commented on #2944
I can add an code example for this :+1:

[2021-03-09 07:28] CreaTorAlexander commented on #2946
@hamishwillee for instance I thought it has to be like

required paramter , <optional parameter>'s.

I haven't thought that it should be *element, array* I thought the comma is misplaced and I think @manaskhandelwal thought the same.
Actually I still don't understand what the reason is that the comma is there at the beginning of the square brackets

[2021-03-09 07:37] #2237 closed

[2021-03-09 07:44] CreaTorAlexander commented on #2941
I can update this :+1:

[2021-03-09 08:00] hamishwillee commented on #2946
Because the bracket indicates the beginning of the optional part. So if you have no extra argument, you don't have the comma either. If the comma was before the bracket then you'd be implying that this is a desirable syntaxt
[code]

[2021-03-09 08:27] chrisdavidmills commented on #2669
Yeah, unfortunately not, by the looks of things. I'm assuming in doing this work you are just working through the folder structure alphabetically? Do you think you can create a simple list in here that shows which directories have had their broken URLs fixed so far, and by what PR? Just so others that might work on it can easily see at a glance what else there is to be done?

[2021-03-09 08:28] #2959 closed

[2021-03-09 08:30] talktohebe opened #2966 "Content bug: Misleading code on is JS property page"
## What page(s) did you find the problem on?
page URL: [https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/is](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/is)

## Specific page section or heading?

in the 'Examples' section，there is a piece of code"const n = 15;  Object.is(0n, -0n); // false".
This is misleading。“cons

[2021-03-09 08:33] craigmccauley opened #2967 "Content bug: CSS Style is misleading"
## What page(s) did you find the problem on?

https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions#using_transitions_to_make_javascript_functionality_smooth

## Specific page section or heading?

https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions#using_transitions_to_make_javascript_functionality_smooth

## What is the problem?

[2021-03-09 08:39] hamishwillee commented on #2669
Possibly, but if you can tell me how to fix the NSPR links and confirm that we can ignore the archive links that would be a smaller task. This pretty much fixes everything else that can be fixed due to links being "accidentally broken"

[2021-03-09 08:52] #2812 closed

[2021-03-09 09:10] RomViR opened #2968 "Expand detection conditions for Chrome to not confuse it with Edge"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Browser_detection_using_the_user_agent

#### What information was incorrect, unhelpful, or incomplete?
Per https://docs.microsoft.com/en-us/microsoft-edge/web-platform/user-agent-string Edge user agent string also matches conditions "must contain Chrome/XYZ and must not contain Chromium/XYZ"

#### Specific section or headline?
Table in sec

[2021-03-09 09:25] chrisdavidmills commented on #2946
@hamishwillee I think a better course of action here would be to update the syntax box on the page to the multi-line version. This is something that a contributor like @CreaTorAlexander could happily do.

[2021-03-09 10:15] RomViR commented on #2968
Scratch that! Edge on different platforms has different browser name https://www.whatismybrowser.com/guides/the-latest-user-agent/edge

Seems like the best way to exclude Edge would be to search for "Edg".

[2021-03-09 10:44] chrisdavidmills commented on #2928
@peterbe any thoughts?

[2021-03-09 10:51] CreaTorAlexander commented on #2946
@chrisdavidmills we have fixed it in https://github.com/mdn/content/pull/2950

[2021-03-09 10:54] CreaTorAlexander commented on #2966
I can remove it :+1:

[2021-03-09 11:00] Josephl77 opened #2970 "Issue with "Response header": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Glossary/Response_header

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/glossary/response_header`
* MDN URL: https://developer.mozilla.org/en-US/d

[2021-03-09 11:02] #2970 closed

[2021-03-09 11:53] peterbe opened #2971 "Issue with "EffectTiming.easing": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/EffectTiming/easing

#### What information was incorrect, unhelpful, or incomplete?

Two SVG images are 404'ing.

#### Specific section or headline?

https://developer.mozilla.org/en-US/docs/Web/API/EffectTiming/easing#value

#### What did you expect to see?

Two SVGs

#### Did you test this? If so, how?

Viewed it.

It's very subtle what t

[2021-03-09 11:53] peterbe commented on #2971
Perhaps @sideshowbarker knows about these w3.org hosted images and where to find them now?

[2021-03-09 13:20] peterbe commented on #2928
`archived-content` can simply be `git rm -r ...` but that'll just delete things from the git repo. We'll have to manually delete the built pages from S3 because archived-content is exempt from automatic cleanup in S3 deploys.

But once it's all done, @fiji-flo or I will need to refresh https://github.com/mdn/yari/blob/main/content/archived.txt

[2021-03-09 13:30] peterbe opened #2973 "Issue with "CSS reference": TEST PLEASE IGNORE"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/css/reference`
* MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/Re

[2021-03-09 13:30] peterbe commented on #2973
This is me testing for https://github.com/mdn/yari/issues/3166

[2021-03-09 13:30] #2973 closed

[2021-03-09 14:42] sideshowbarker commented on #2971
* https://www.w3.org/TR/2017/WD-css-timing-1-20170221/cubic-bezier-timing-curve.svg
* https://www.w3.org/TR/2017/WD-css-timing-1-20170221/step-timing-func-examples.svg

[2021-03-09 16:49] gondooley opened #2980 "Issue with "Grammar and types": can't figure out a way this syntax can be legal"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Grammar_and_types

#### What information was incorrect, unhelpful, or incomplete?
There is a snippet given
[code]
I cannot construct any POST function which would allow the parenthesized `(myOnReadyStateChangeHandler)` at the end. It seems to be illegal syntax in and of itself.

#### Did you test this? If so, how?
I made severa

[2021-03-09 18:14] DanielPath opened #2981 "React ToDo List with axios"
Hello

It is a fantastic [tutorial](https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/React_todo_list_beginning)!

Thank you very much!

I got it running and thought I would use it for further learning.

My goal is to replace

const DATA = [
  { id: "todo-0", name: "Eat", completed: true },
  { id: "todo-1", name: "Sleep", completed: false },
  { id

[2021-03-09 18:25] DanielPath commented on #2981
**Sorry I should have checked the preview! I'm new on github...**

`ReactDOM.render(<App tasks={DATA} />, document.getElementById('root'));`

I have tried lots of approaches but I am stuck in any way, so I figured somewhere I'm using the wrong logic.

One of the attempt was to build a class within index.js and render it from there

`render() {
    return (
    /*<ul>
      { this.state.records.map

[2021-03-09 22:40] peterbe opened #2985 "Any PR with "dangerous" edits should be considered dangerous"
Security scenario: Someone makes a PR that covers lots and lots of files. They might all look like harmless typo fixes in various `index.html` files. But they could also try to sneak in a change to `.github/workflows/pr-testing.yml` that disables something in the workflow that checks for unsafe things. For example:
[code]
Another example is that they might mess with `yarn.lock` so that it changes

[2021-03-09 22:44] peterbe commented on #2985
We'll need to assume that when `dependabot[bot]` makes PRs (for example https://github.com/mdn/content/pull/2979 or https://github.com/mdn/content/pull/2770) that they're OK and safe.
Note, for `dependabot`, they have write access to the repo so they push their branches to `mdn/content` instead of a fork. So instead of looking for `username === 'dependabot'` we can make the checking depend on it c

[2021-03-09 22:47] peterbe commented on #2985
@nschonni Do you have some ideas for implementation here? I was thinking something like this:

[code]

Do you have any good suggestions for checking if it's coming from a fork or not? (...to solve the problem of letting `dependabot` PRs roll)

[2021-03-09 22:48] peterbe commented on #2985
Would it be an option to write a workflow `if:` statement that checks if the PR submitter is an admin?

[2021-03-09 22:49] peterbe commented on #2985
We have to remember to do the same with `mdn/translated-content`: https://github.com/mdn/translated-content/issues/91

[2021-03-09 22:55] nschonni commented on #2985
GitHub does something like this for their docs in https://github.com/github/docs/blob/main/.github/workflows/triage-unallowed-contributions.yml but I'm not sure I always like that approach (stopped contributing their since they just auto-close CI related PRs 😝 )

I'm not sure if there is anything else needed to make it "enforce" the values you've already set in the CODEOWNERS

Think there are some

[2021-03-09 22:58] peterbe commented on #2985
Fancy! https://github.com/github/docs/blob/9daf441520cfde9a6e535264713cb9f73353fadd/.github/workflows/triage-unallowed-contributions.yml#L97

[2021-03-09 23:07] peterbe commented on #2985
@nschonni Auto-closing PRs seems a bit draconian. There are many pieces I don't quite understand what that does.
We can start with not auto-closing, but at least exit non-zero and then slowly crawl back to a state where it's convenient and sufficiently safe for us. We still need to be able to have amazing contributors like yourself make PRs to workflows and stuff.

[2021-03-10 00:38] #2966 closed

[2021-03-10 00:51] #2521 closed

[2021-03-10 01:26] mattp0123 opened #2986 "Issue with "runtime.getPackageDirectoryEntry()": (Incorrect parameters and return value)"
MDN URL: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/runtime/getPackageDirectoryEntry

#### What information was incorrect, unhelpful, or incomplete?
The parameters and return value of this API are incorrect.

#### Specific section or headline?
Parameters / Return value

#### What did you expect to see?
The parameter should be a callback function. And this is a void

[2021-03-10 03:00] phoenixeliot opened #2987 "Issue with "HTML elements reference": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Element

#### What information was incorrect, unhelpful, or incomplete?
The first column isn't wide enough, which causes some items to be line-broken with hyphens, which is misleading about the tag names. The column should be made wide enough when possible, and we should consider removing `word-wrap: break-word;` from the `code` blocks use

[2021-03-10 03:02] joeldunstanADP opened #2988 "Issue with "Date.prototype.toUTCString()": (CSS refused to apply due to strict MIME checking)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toUTCString

#### What information was incorrect, unhelpful, or incomplete?
The css for the page isn't loading due to a MIME type error
![image](https://user-images.githubusercontent.com/70308671/110569605-d308f300-81a8-11eb-9e6a-bd31ac603bf9.png)

#### Specific section or headline?
Entire page

#### Wha

[2021-03-10 04:23] #2971 closed

[2021-03-10 04:40] sideshowbarker commented on #2988
I can’t reproduce this. https://developer.mozilla.org/static/css/main.1a22eae5.chunk.css is the current stylesheet that document is served with, at it’s correctly served as `text/css`:

[code]
…and same for the stylesheet shown in the https://user-images.githubusercontent.com/70308671/110569605-d308f300-81a8-11eb-9e6a-bd31ac603bf9.png image —

[code]

[2021-03-10 04:49] joeldunstanADP commented on #2988
I've reloaded the page and can't reproduce either, not sure what happened

[2021-03-10 04:49] #2988 closed

[2021-03-10 05:39] sideshowbarker commented on #2988
Thanks for reporting it. It’s imaginable it might happen again for others, so it’s good to have a record here.

[2021-03-10 07:35] CreaTorAlexander commented on #2935
In the spec it says

https://dom.spec.whatwg.org/#find-a-slot

So I would prefer to leave the first

https://developer.mozilla.org/en-US/docs/Web/API/Text

What do you think?

[2021-03-10 09:08] rachelandrew commented on #2967
Yep, this is valid. I also wonder why this is a jsfiddle rather than one of our own examples. @chrisdavidmills shall I move it?

[2021-03-10 09:10] rachelandrew commented on #2936
The Font Squirrel website appears to be loading now so I think this must have been a temporary thing.

[2021-03-10 09:10] #2936 closed

[2021-03-10 09:41] chrisdavidmills commented on #2935
@CreaTorAlexander yeah, the first one sounds like a better definition. I did wonder if we should say something about the conditions under which it returns null, but I think that information can be left for the actual `assignedSlot()` page.

[2021-03-10 09:42] chrisdavidmills commented on #2936
Phew! I rely on that site such a lot ;-)

[2021-03-10 09:44] chrisdavidmills commented on #2967
Yes, it'd be better to include this a live sample/embedded GH sample

[2021-03-10 09:51] AlkisPis opened #2992 "Window.open features are ignored"
Re: https://developer.mozilla.org/en-US/docs/Web/API/Window/open

Using `var windowFeatures = "menubar=yes,location=yes,resizable=yes,scrollbars=yes,status=yes";` as the suggested code is or totally the opposite, `var windowFeatures = "menubar=no,location=no,resizable=no,scrollbars=no,status=no";` makes absolutely no difference, i.e. the result is exactly the same:

![image](https://user-images.gi

[2021-03-10 13:17] rachelandrew commented on #2844
This is fixed - thanks for reporting it, I think that was some redundant code. I've also made a PR above to sort out the squashed demos so they should be easier to read once it is merged.

[2021-03-10 14:28] #2935 closed

[2021-03-10 14:33] jakub-g opened #3001 "Content update: performance.mark|measure x UserTiming Level 3"
## What page(s) did you find the problem on?

https://developer.mozilla.org/en-US/docs/Web/API/Performance/mark
https://developer.mozilla.org/en-US/docs/Web/API/Performance/measure

## Specific page section or heading?

- Return value
- Specifications
- parameters

## What is the problem?

- New version of spec (UT L3) was released: https://www.w3.org/TR/user-timing-3/
- Shipped in [Chrome 78](htt

[2021-03-10 15:57] jakub-g commented on #2667
[Quickly checking](https://gist.github.com/jakub-g/86e85a8b82770ff48444833ec8e99cb1), `PerformanceObserver.supportedEntryTypes` is available in Chrome 73, Firefox 68, and probably Safari 13.0 (note that bugs/release notes sometimes lie as described in gist)

[2021-03-10 16:47] AlGantori opened #3006 "Explain how multiple src values work on @font-face reference page"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face

#### What information was incorrect, unhelpful, or incomplete?

How specifying multiple url() for the src  means?

Do I have to have @font-face for each font I would like to use?

Thank you.

[2021-03-10 18:15] Harishdev10 opened #3010 "Issue with "Test your skills: Multimedia and embedding": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Video_and_audio_content/Test_your_skills:_Multimedia_and_embedding

#### What information was incorrect, unhelpful, or incomplete?
I guess its my mistake or I am not sure. I am not able to add subtit
![Capture](https://user-images.githubusercontent.com/78188373/110677064-b05df500-820f-11eb-9363-3a48b250e7c9.PNG)

[2021-03-10 18:17] Harishdev10 commented on #3010
I am sorry guys, this is the first time I am posting something here. Unfortunately I uploaded the image twice. Please forgive

[2021-03-10 19:12] #2446 closed

[2021-03-10 23:00] chrisribe opened #3013 "Issue with "SpeechSynthesisUtterance.rate": (demo is incomplete)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/SpeechSynthesisUtterance/rate

#### What information was incorrect, unhelpful, or incomplete?
The html part of the demo is missing

#### What did you expect to see?
The full working demo

#### Did you test this? If so, how?
I recreated a working one here.
https://jsfiddle.net/chrisribe/2wt0qn5f/18/

I is based off of this github repo.
https

[2021-03-11 01:17] #2967 closed

[2021-03-11 04:02] Lucien1zhang opened #3016 "use pause() then onpause and onend all trigger"

[2021-03-11 05:58] SphinxKnight commented on #815
@chrisdavidmills could you help me move this one over mdn/translated-content ? (either I don't have the right privileges to do so or I didn't see how to do that :s ) I'd like to so for the other as well. Let me know if I should file a distinct issue about moving them. Thanks!

[2021-03-11 06:55] shuaiqideng opened #3019 "false or falsy?"
![image](https://user-images.githubusercontent.com/39894125/110747664-a7097280-8279-11eb-9b73-bd634b8e9054.png)

https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/Array/every

[2021-03-11 06:55] #3019 closed

[2021-03-11 08:13] chunkybanana opened #3021 "Issue with "Common MIME types": Missing some common types"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types

#### What information was incorrect, unhelpful, or incomplete?

MP4 (.mp4) is quite a common video format now, and should be added to the 'Common MIME types' list.
Also quite common are YAML (.yml), CGI(.cgi), and Apple package installers(.pkg). CD audio (.cda) is on its way out, but will still be he

[2021-03-11 08:39] CreaTorAlexander commented on #3021
I can add them :+1:

[2021-03-11 10:07] chrisdavidmills commented on #3010
Hi @Harishdev10 ! No need to apologise. You are welcome here.

Looking at your screenshot, it looks like you've got a problem because in your `<video>` element, you are writing the `width` and `height` attributes incorrectly. The values should have quote marks around them, and no units or semi-colons, i.e.

[code]

It does get a bit confusing that you need to write this information differently in

[2021-03-11 10:07] #3010 closed

[2021-03-11 10:12] chrisdavidmills commented on #3006
Hi @AlGantori ! This is to provide the browser with multiple options as to what font file to download. It will choose the first one it is able to use, if I remember correctly, which is why you always write the "best" format first, e.g. WOFF2, and then write older formats later, e.g. TrueType. Browsers that don't understand WOFF2 can then fall back to TrueType.

I suppose it would be good to make i

[2021-03-11 10:19] arturcarvalho opened #3023 "Issue with "Spread syntax (...)": should it be rest in destructuring?"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_syntax

Hi there,

On the browser compatibility table for the spread syntax, it is mentioned "spread destructuring". Shouldn't it be "rest destructuring" or something along those lines? [Initial discussion](https://twitter.com/rauschma/status/1369932326172524544?s=20).

The error when the syntax is with the

[2021-03-11 11:21] Harishdev10 commented on #3010
Hi Chris,

Thank you so much. This is very helpful.

On Thu, Mar 11, 2021 at 6:07 PM Chris Mills ***@***.***>
wrote:

[2021-03-11 11:55] foolip opened #3025 "Content bug: empty Subnav sections on many pages"
## What page(s) did you find the problem on?

A non-exhaustive list:

https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles#Subnav
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Subgrid#subnav (the one I first noticed)
https://developer.mozilla.org/en-US/docs/Web/XPath#subnav
https://developer.mozilla.org/en-US/docs/MDN/At_ten#Subnav

## What is the problem?

Thes

[2021-03-11 12:29] nathnolt opened #3026 "Issue with "A re-introduction to JavaScript (JS tutorial)": Should use Number.isNaN rather than regular isNaN"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/A_re-introduction_to_JavaScript

#### What information was incorrect, unhelpful, or incomplete?

In the article (Under Number) it says that "You can test for NaN using the built-in isNaN() function:"
However, this fuction also returns true on lots of other inputs, other than NaN
[code]
But other than that, it is inconsistent as well:

[2021-03-11 13:09] hostcomm-steve opened #3027 "Issue with "pointer-events": Incorrect Pointer Events link"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events

#### What information was incorrect, unhelpful, or incomplete?

"Pointer Events" link is incorrect.

#### Specific section or headline?

"Related Topics"

#### What did you expect to see?

Should probably be: https://developer.mozilla.org/en-US/docs/Web/API/Pointer_events

#### Did you test this? If so, how?

Click the link.

[2021-03-11 13:39] CreaTorAlexander commented on #3027
I can update it :+1:

[2021-03-11 14:31] peterbe opened #15381 "Automate PR comment that warns that a locale is "frozen""
If someone makes a PR on some `ru` or `pl` pages in mdn/translated-content, we should post a PR comment (automatically) that explains that this locale is not actively maintained (i.e. not unfrozen).

[2021-03-11 17:09] laurabartha opened #3030 "Issue with "A re-introduction to JavaScript (JS tutorial)": world's most misunderstood programming language link"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/A_re-introduction_to_JavaScript

#### What information was incorrect, unhelpful, or incomplete?

The page linked to regarding javascript being misunderstood(http://crockford.com/javascript/javascript.html) has a section blaming this on "amateur" developers. In a resource geared towards introducing people to javascript, this messaging

[2021-03-11 17:52] #3030 closed

[2021-03-11 17:53] chrisdavidmills commented on #3030
@laurabartha I could not agree with this more. I've created https://github.com/mdn/content/commit/7e5c6b09faade6344e8df0428db9cadeced523b7 to remove it. Thanks for reporting this.

[2021-03-11 18:21] wbamberg commented on #3027
Thanks for filing, @hostcomm-steve , and for volunteering to fix this @CreaTorAlexander !

That link is being added by the [notorious CSS sidebar macro](https://discourse.mozilla.org/t/css-sidebar-proposal/49500), which is finding it in mdn/data under the `groups` property: https://github.com/mdn/data/blob/02b809df8af32dcea260ea0964a6d6b431191562/css/properties.json#L7490-L7498.

Although I can se

[2021-03-11 19:40] Yash-Singh1 opened #3035 "Content suggestion: chrome.devtools.panels.SourcesPanel"
## What is the new suggestion?

Add compat data for chrome.devtools.panels.SourcesPanel

## Why is it important or useful?

The API is not yet documented

## Other supporting information

https://developer.chrome.com/docs/extensions/reference/devtools_panels/

https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/devtools/panels

[2021-03-11 20:55] slap-fi opened #3038 "page not found in github"
in callback function [](https://developer.mozilla.org/es/docs/Glossary/Callback_function) have 2 link, but this links not open in github, so, this links isn't neccesary.
2 links;
1.- [https://github.com/mdn/learning-area/blob/master/javascript/apis/introduction/maps-example.html](url)
2.-[https://mdn.github.io/learning-area/javascript/apis/introduction/maps-example.html](url).

thanks and i hope h

[2021-03-12 00:54] 0xdevalias opened #3047 "Issue with "z-index": Syntax code block doesn't include 'revert' in the valid Global values"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/z-index

#### What information was incorrect, unhelpful, or incomplete?

Within the code block that shows possible global values we see the following:

[code]

Yet it seems we can also use the global `revert` here as well:

- https://developer.mozilla.org/en-US/docs/Web/CSS/revert

#### Specific section or headline?

Syntax

#### What did y

[2021-03-12 00:56] andrewnicols opened #3048 "Issue with "Document: scroll event": Bubbles summary is inaccurate"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Document/scroll_event

#### What information was incorrect, unhelpful, or incomplete?
This event does not always bubble.

When the target is the document it will fire at the target (document) and it will bubble.
When the target is not the document, it will fire at the target, but it will not bubble.

#### Specific section or headline?
Bubbl

[2021-03-12 01:05] andrewnicols commented on #3048
I see there is a reference from Document.scroll_event to Element.scroll_event.

I'd suggest referencing this somewhere near the top of the document as it is not immediately clear that they differ.

[2021-03-12 02:10] gavinlefebvre opened #3050 "MediaStreamAudioSourceNode recommends unsupported API"
https://github.com/mdn/content/blob/f4b8c9ce03bfab2b2a81dc45aa108d1a58aaf301/files/en-us/web/api/mediastreamaudiosourcenode/index.html#L78

While MediaStreamTrackAudioSourceNode seems appealing, it is supported only by Firefox, so its use probably shouldn't be advised against.

[2021-03-12 02:33] RajaSardar opened #3051 "Issue with "JavaScript typed arrays": (Web Page is not working)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Typed_arrays

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/javascript/typed_arrays`
* MDN URL: https://developer.mozilla.org/e

[2021-03-12 03:42] abdwalfa opened #3052 "Issue with "Node": ProcessingInstruction IS Based on CharacterData"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Node

#### What information was incorrect, unhelpful, or incomplete?

It doesn't explicitly say ProcessingInstruction isn't Based on CharacterData, but it implies it when ProcessingInstruction is not grouped with the other nodes inside the parentheses.

#### What did you expect to see?

<details>
<summary>MDN Content page report details</su

[2021-03-12 03:58] waiteb opened #3053 "Issue with "Intl.NumberFormat() constructor": currencyDisplay: "narrowSymbol" does not seem to be supported in Safari"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat/NumberFormat

#### What information was incorrect, unhelpful, or incomplete?

It appears that `currencyDisplay: "narrowSymbol"` is not supported by Safari.

#### Specific section or headline?

#### What did you expect to see?
I expected to see this incompatibility listed in the browser compa

[2021-03-12 05:08] #2944 closed

[2021-03-12 07:07] CreaTorAlexander commented on #3051
What do you mean by Web Page is not working?

[2021-03-12 07:08] CreaTorAlexander commented on #3047
I can add it 👍

[2021-03-12 07:52] chrisdavidmills commented on #3047
I'm not convinced that we ever added `revert` to any property page's global values (I think we just added it to the [`all`](https://developer.mozilla.org/en-US/docs/Web/CSS/all) page).

It would be good to start off by checking this, and if not, writing some kind of a script that could crawl through the css property pages and add it to all of them that need it.

[2021-03-12 07:54] chrisdavidmills commented on #3051
We can close this due to lack of information. If you did have something concrete to report, please open another issue and include more details.

[2021-03-12 07:54] #3051 closed

[2021-03-12 08:27] rachelandrew commented on #3047
agreed, seems like a job for a script. Then we can just keep an eye out for any that got missed. I've fixed a couple of syntax boxes that had something odd in them recently.

If we could compare a list of the pages this script caught with a list of all property pages then I could go round the ones that didn't get updated and find out why.

[2021-03-12 08:37] rachelandrew commented on #3027
@wbamberg it is going into css-ui-4 the resolution is here https://github.com/w3c/csswg-drafts/issues/4438#issuecomment-550570928

So yes, I think moving the group would be a good plan which should solve this particular problem at least.

I'll go make a PR on the data repo to sort it.

[2021-03-12 08:59] sideshowbarker commented on #3053
@waiteb Thanks for taking time to report this. At https://github.com/mdn/browser-compat-data/pull/9371, I actually already have a patch with a fix for this. And we also have an open issue for it over there at https://github.com/mdn/browser-compat-data/issues/9319.

So I’m going to go ahead and close this issue here as a duplicate of that BCD done. Feel free of course to subscribe to https://github

[2021-03-12 08:59] #3053 closed

[2021-03-12 09:11] ravisingh0009 opened #3055 "Issue with "Cross-Origin Resource Sharing (CORS)": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/http/cors`
* MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS
* Gi

[2021-03-12 09:12] ravisingh0009 opened #3056 "has been blocked by CORS policy: Response to preflight request doesn't pass access control check: It does not have HTTP ok status."
has been blocked by CORS policy: Response to preflight request doesn't pass access control check: It does not have HTTP ok status.

[2021-03-12 09:27] #3055 closed

[2021-03-12 09:29] chrisdavidmills commented on #3056
Is this a problem with a specific MDN page? What is the problem? Have you tested it? How should the page be updated?

There is no information here that allows me to take any action to fix an issue, therefore I'm closing this.

[2021-03-12 09:29] #3056 closed

[2021-03-12 09:59] NegiAkash890 commented on #3052
I can fix this !

[2021-03-12 10:09] chrisdavidmills commented on #3052
@NegiAkash890 Assigned; thanks for offering to fix it!

[2021-03-12 11:19] onlyphantom opened #3059 "Issue with "backdrop-filter": (listed as unsupported on Opera)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/backdrop-filter

#### What information was incorrect, unhelpful, or incomplete?
This CSS property is listed as unsupported by Opera, but as of the last few versions this has been supported.

#### Specific section or headline?
Browser Compatibility > Opera.

#### What did you expect to see?
On Opera version 74, this CSS property is supported

[2021-03-12 11:22] denik1981 opened #3060 "Issue with "General asynchronous programming concepts": Web Workers Missing Code"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Asynchronous/Concepts

#### What information was incorrect, unhelpful, or incomplete?
Missing Code inside the test file simple-sync-worker.html (No date calculations as it is mentioned)

#### Specific section or headline?
JavaScript is single-threaded
`javascript/asynchronous/introducing/simple-sync-worker.html`

#### What did you

[2021-03-12 11:34] denik1981 opened #3061 "Date Calculation is Missing"
https://github.com/mdn/learning-area/blob/59bfd052a8d3d8a06d0af552e3f79e03603bf03d/javascript/asynchronous/introducing/simple-sync-worker.html#L14

From  [javascript_is_single-threaded](https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Asynchronous/Concepts#javascript_is_single-threaded)

The code provided don't do anything with the new instance of the Worker.

[2021-03-12 11:44] chrisdavidmills commented on #3061
Ah, wait. I'm going to close this as a dupe of https://github.com/mdn/content/issues/3060. We can deal with both repos at the same time.

[2021-03-12 11:44] #3061 closed

[2021-03-12 12:23] johnye2e opened #3062 "Issue with "Cross-Origin Resource Sharing (CORS)": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS

#### What information was incorrect, unhelpful, or incomplete?

No event listeners are registered on any **XMLHttpRequest.upload** object used in the request; these are accessed using the **XMLHttpRequest.upload** property.

#### Specific section or headline?

https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#simple_requests

##

[2021-03-12 12:24] thany opened #3063 "Issue with "<option>: The HTML Option element": Describe what CSS is supported"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/option

#### What information was incorrect, unhelpful, or incomplete?
There is no description of what CSS is supported on `<option>` elements. Even though most web developers know there they are limited in some way, it's hard to remember is what way they are limited. Therefor it's really helpful to know what exactly is and isn't s

[2021-03-12 12:57] chrisdavidmills commented on #3063
We'll triage this properly later on, but my immediate feeling is that we should think carefully about how we do this. If we have a list of CSS properties that work and don't work on each HTML element, that could be a lot of work, and a lot of the lists could look very similar.

Instead, I'd advise that we either just link to a place where styling is talked about (for example in this case, we have

[2021-03-12 14:33] thierno953 opened #3066 "Issue with "Callback function": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Glossary/Callback_function

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/glossary/callback_function`
* MDN URL: https://developer.mozilla.org/en-

[2021-03-12 15:46] graouts commented on #1026
Hi, and sorry for taking this long to reply, had not been looking at my GitHub notification emails in a while.

Web Animations indeed shipped with iOS 13.4 and iPadOS 13.4, at the same time as Safari 13.1 shipped for macOS. The entire `Animation` interface is implemented since those releases.

[2021-03-12 17:30] #3052 closed

[2021-03-12 17:40] timbomckay opened #3076 "Issue with "HTMLElement: pointerdown event": Inaccurate Safari Info"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/pointerdown_event

#### What information was incorrect, unhelpful, or incomplete?

It says Safari doesn't support this event.

#### Specific section or headline?

Browser Compatibility

#### What did you expect to see?

YES

#### Did you test this? If so, how?

Created a codepen and assigned the listener to the window and then a

[2021-03-12 17:58] wbamberg commented on #3063
I like this, and when we defined page types for HTML elements we included "Styling with CSS" as an optional prose section.

[2021-03-12 18:09] chrisdavidmills commented on #3063
Great, thanks for confirming that @wbamberg ! I had a suspicion that you did, but I couldn't find the evidence to confirm it ;-)

[2021-03-12 18:17] #3066 closed

[2021-03-12 20:04] khalyomede opened #3080 "Content bug: cookies.onChanged not reflecting not supported (but doc state differently)"
## What page(s) did you find the problem on?

https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/cookies/onChanged

## Specific page section or heading?

https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/cookies/onChanged#browser_compatibility

## What is the problem?

This API seems to not work on Chrome. I did not tested it on other browsers, but

[2021-03-12 22:37] SebastianZ commented on #2202
@hamishwillee wrote:

The syntax values provide examples on how the CSS property is used, similar for the syntax examples at the top but for all different kinds of values. I.e. they include complete property declarations including the name and value.

The formal syntax, on the other hand, reflects the BNF-like syntax used in the specifications. It only defines the valid values and doesn't include

[2021-03-13 02:05] Dani3lNL opened #3088 "Issue with "prefers-reduced-motion": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion

#### What information was incorrect, unhelpful, or incomplete?
the media-feature is **not** present anymore in FF 86.0.1...

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/

[2021-03-13 05:03] Antabot opened #3091 "Content bug: <Cascading order>"
## What page(s) did you find the problem on?

I found the problem on

[https://developer.mozilla.org/zh-CN/docs/Web/CSS/Cascade#%E5%B1%82%E5%8F%A0%E9%A1%BA%E5%BA%8F](https://developer.mozilla.org/zh-CN/docs/Web/CSS/Cascade#%E5%B1%82%E5%8F%A0%E9%A1%BA%E5%BA%8F)

## What is the problem?

The cascading order of the table in the Chinese version is wrong。

It should be

|序号|来源|重要程度|
|--|--|--|
| 1 | 用户

[2021-03-13 08:16] rachelandrew commented on #3063
I'll take a look at this, but agree we don't want to list all possible styling options (with form elements there are browser differences too, so just because something can apply doesn't mean it will).

[2021-03-13 08:21] rachelandrew commented on #3059
Looks like this needs updating in the compat data - thanks for spotting it!

[2021-03-13 14:09] RNabla commented on #3080
Before we jump into specific javascript API let's start with WebExtensions.
https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/

"JavaScript APIs for WebExtensions can be used **inside the extension's background scripts**..."

It will not work as you are testing from console.

From the section Browser API differences you can read:

"Note that this is different from Google Chrom

[2021-03-13 14:49] #2760 closed

[2021-03-13 16:07] lubas569 opened #3095 "Issue with "Fetch directive": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Glossary/Fetch_directive

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/glossary/fetch_directive`
* MDN URL: https://developer.mozilla.org/en-US/d

[2021-03-13 16:07] lubas569 opened #3096 "Content bug: <TITLE OF PROBLEM>"
## What page(s) did you find the problem on?

## Specific page section or heading?

## What is the problem?

## What did you expect to see?

## Did you test this? If so, how?

[2021-03-13 16:07] lubas569 opened #3097 "Content suggestion: <TITLE OF SUGGESTION>"
## What is the new suggestion?

## Why is it important or useful?

## Other supporting information

[2021-03-13 17:43] #3096 closed

[2021-03-13 17:43] #3097 closed

[2021-03-13 17:43] #3095 closed

[2021-03-13 23:21] rogomichael opened #3102 "Issue with "JavaScript basics": (myHeading.textContent should be changed to myHeading.innerHTML)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/JavaScript_basics

#### What information was incorrect, unhelpful, or incomplete?
The code did not run as expected

#### Specific section or headline?
myHeading.textContent = 'Mozilla is cool, ' + storedName;
myHeading.textContent = `Mozilla is cool, ${myName}`;

#### What did you expect to see?
I expected to see

[2021-03-14 00:04] JanGray opened #3103 "Issue with "Source map errors": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Tools/Debugger/Source_map_errors

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/tools/debugger/source_map_errors`
* MDN URL: https://developer.moz

[2021-03-14 00:05] JanGray commented on #3103
Source map error: Error: NetworkError when attempting to fetch resource.
Resource URL: moz-extension://e97a0ed5-1e6e-464b-9025-cde497645291/browser-polyfill.min.js
Source Map URL: browser-polyfill.min.js.map

[2021-03-14 00:26] JanGray commented on #3103
This is a fake facebook Account https://www.facebook.com/profile.php?id=100012250424379,  hooked to mine is https://www.facebook.com/100009185294187

[2021-03-14 00:26] #3103 closed

[2021-03-14 00:33] Qawsedrf0501 opened #3104 "Content suggestion"
## What is the new suggestion?

## Why is it important or useful?

## Other supporting information

[2021-03-14 00:34] Qawsedrf0501 commented on #3104
@

[2021-03-14 02:10] Qawsedrf0501 opened #3106 "Content bug TITLE OF PROBLEM"
## What page(s) did you find the problem on?

#- - -

## Specific page section or heading?

## What is the problem?

## What did you expect to see?

## Did you test this? If so, how?

[2021-03-14 02:25] Qawsedrf0501 opened #3107 "Fahad"

[2021-03-14 02:26] Qawsedrf0501 opened #3108 "Content bug: TITLE OF PROBLEM"
## What page(s) did you find the problem on?

## Specific page section or heading?

## What is the problem?

## What did you expect to see?

## Did you test this? If so, how?

[2021-03-14 02:28] Qawsedrf0501 opened #3109 "Content bug TITLE OF PROBLEM"
What page(s) did you find the problem on?

<!-- include the URL or URLs where you found the problem. If it is a widespread
problem over many pages, just give us a couple of example URLs rather than that
whole lot

## Specific page section or heading?

include the specific heading underneath which the problem can be found, if
relevant, to help us locate the problem more easily
What is the problem?

[2021-03-14 02:29] Qawsedrf0501 opened #3110 "Content bug TITLE OF PROBLEM"
What page(s) did you find the problem on?

include the URL or URLs where you found the problem. If it is a widespread
problem over many pages, just give us a couple of example URLs rather than that
whole lot

Specific page section or heading?

include the specific heading underneath which the problem can be found, if
relevant, to help us locate the problem more easily
What is the problem?
 include

[2021-03-14 02:30] Qawsedrf0501 opened #3111 "Content bug TITLE OF PROBLEM on?"
What page(s) did you find the problem on?

include the URL or URLs where you found the problem. If it is a widespread
problem over many pages, just give us a couple of example URLs rather than that
whole lot

Specific page section or heading?

include the specific heading underneath which the problem can be found, if
relevant, to help us locate the problem more easily
What is the problem?
 include

[2021-03-14 02:30] Qawsedrf0501 opened #3112 "Content bug:TITLE OF PROBLEM on?"
## What page(s) did you find the problem on?

## Specific page section or heading?

## What is the problem?

## What did you expect to see?

## Did you test this? If so, how?

[2021-03-14 02:30] Qawsedrf0501 opened #3113 "What"
The game

[2021-03-14 02:37] Qawsedrf0501 commented on #3113
#3112

[2021-03-14 02:37] #3113 closed

[2021-03-14 02:38] Qawsedrf0501 commented on #3112
**_[]()_**@

[2021-03-14 03:53] #3106 closed

[2021-03-14 03:53] #3107 closed

[2021-03-14 03:53] #3108 closed

[2021-03-14 03:53] #3109 closed

[2021-03-14 03:54] #3110 closed

[2021-03-14 03:54] #3111 closed

[2021-03-14 03:54] #3112 closed

[2021-03-14 03:55] #3104 closed

[2021-03-14 05:11] vitaly-zdanevich opened #3115 "Array.prototype.sort(): "Sorting with map": looks like example is pointless, or I do not understand it"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort#sorting_with_map

https://github.com/mdn/content/blob/9d64d8266823b0ed778baea1664f602ecbfde5d1/files/en-us/web/javascript/reference/global_objects/array/sort/index.html#L224-L245

By the [library link from the article](https://github.com/Pimm/mapsort) I found better explanation of this idea. I mean we shoul

[2021-03-14 15:16] khalyomede commented on #3080
Hello @RNabla , thanks for this detailed answer!

Regarding the information you sent me, I understand this is something specific for web extensions. In my use case, I have an e-shop website, and I wanted to display a cookie banner whenever the user changes its cookie policy through his web browser (e.g. displaying "Oops, your cookies are not enabled. Your cart will not be saved from now." message

[2021-03-14 15:59] amandeepmicro opened #3125 "Issue with "Array.prototype.forEach()": misleading words "ascending order""
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/forEach

#### What information was incorrect, unhelpful, or incomplete?
In the first line of Description it says that "forEach() calls a provided callback function once for each element in an array in ascending order". However the words " ascending order "   is misleading.

#### Specific section or head

[2021-03-14 17:11] CreaTorAlexander commented on #3125
I can update this 👍

[2021-03-14 17:33] mshkolnik22 opened #3126 "Issue with "Console.table()": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Console/table

#### What information was incorrect, unhelpful, or incomplete?
console.table(data [, columns]);
wondering if it should read
console.table(data, [columns]);

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

*

[2021-03-14 17:46] CreaTorAlexander commented on #3126
@mshkolnik22 thank you for coming up with this, the comma is a bit misleading but it is actually at the right place and means that columns is optional.

@hamishwillee should we also fix this with the new way of writing like
[code]

[2021-03-14 18:04] mshkolnik22 commented on #3126
I think there is a way to indicate that an argument is optional ... in Java I’ve seen optionalColumn (basically state it in the name) or write the function two times, with and without the second parameter, but trying to cram everything in one can be confusing to a beginner- I’m still somewhat of a beginner in both JS and Java but have seen something like that on other websites usually without an e

[2021-03-14 18:08] KaycoinsInc opened #3127 "Issue with "Cross-Origin-Opener-Policy": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cross-Origin-Opener-Policy

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/http/headers/cross-origin-opener-policy`
* MDN URL:

[2021-03-14 18:39] CreaTorAlexander commented on #3126
In the paragraph above it is explicit saying that columns is here optional

Wouldn't it make sense here to just write it as

`console.table(data, columns)`

[2021-03-14 20:19] mshkolnik22 commented on #3126
Alexander - Thank you for the clarification. Yes, the paragraph did say
they were, and the example was very good. As a beginner, only the general
formula [, columns] was something I've never seen before and of course, I'm
all set now AND I learned something new.
-Maria.

On Sun, Mar 14, 2021 at 2:39 PM Alexander Heß ***@***.***>
wrote:

[2021-03-14 21:45] escattone opened #3129 "Content bug: references to developer.cdn.mozilla.net should be removed"
## What page(s) did you find the problem on?

- [files/en-us/learn/html/introduction_to_html/the_head_metadata_in_html/index.html](https://github.com/mdn/content/blob/4e8fa00d933c5dd3495d214b2e9343c69357dc53/files/en-us/learn/html/introduction_to_html/the_head_metadata_in_html/index.html)
- [files/en-us/web/css/background-repeat/index.html](https://github.com/mdn/content/blob/4e8fa00d933c5dd3495d2

[2021-03-14 22:00] #3129 closed

[2021-03-14 23:48] #3126 closed

[2021-03-14 23:52] hamishwillee commented on #3126
Thanks @CreaTorAlexander

It should be fixed as you suggested in https://github.com/mdn/content/issues/3126#issuecomment-798948440, by expanding out the lines.

Essentially the syntax box shows the ways that an API could be used. Here the second parameter is optional, so we show the version without that parameter, and with it.

The guideline for syntax boxes is given here: https://developer.mozill

[2021-03-14 23:56] hamishwillee commented on #3127
Thanks, but there is no information on the problem here. I am closing. Feel free to reopen with the information requested in the template above.

[2021-03-14 23:56] #3127 closed

[2021-03-15 00:08] RedHotRojo opened #3131 "Issue with "<input type="url">": URLs leading to different id are wrong"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/url

#### What information was incorrect, unhelpful, or incomplete?
If you go to https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/url#additional_attributes and attempt to click on the links listed under "Attribute" they do not lead you anywhere.

Also, the links under https://developer.mozilla.org/en-US/docs/We

[2021-03-15 00:25] hamishwillee commented on #3115
@vitaly-zdanevich Do you think you could create a PR to to improve it (without copying the other article)? From the maintainer point of view it is much easier to review and suggest improvements than come up with our own wording.

[2021-03-15 00:32] hamishwillee commented on #3104
@Qawsedrf0501 you are creating a lot of invalid posts, which is irritating for the team that are working to improve the docs. Is there any particular reason?

[2021-03-15 00:56] hamishwillee commented on #2202
Hi @SebastianZ

The consensus of the discussion was that the BNF form is deprecated and we should use the expanded form "by default". Using BNF is allowed in a separate section. See  https://developer.mozilla.org/en-US/docs/MDN/Structures/Syntax_sections

For myself I prefer the BNF format, but I have come around to the idea that this change is "for the better". The main reason being that we keep

[2021-03-15 01:54] hamishwillee commented on #3076
Thanks @timbomckay

@chrisdavidmills I'll take this one because I'm very interested in events :-). This will move to the BCD.

This seems very likely https://webkit.org/blog/10247/new-webkit-features-in-safari-13-1/
There is also this bug which implies that it should be fired, but is not in some cases: https://bugs.webkit.org/show_bug.cgi?id=219188 , and pointer events level 2 are supported as wel

[2021-03-15 03:19] hamishwillee commented on #3076
Fixed by https://github.com/mdn/browser-compat-data/pull/9455

[2021-03-15 03:29] zhengxs2018 opened #3132 "Issue with "Intl.PluralRules": (a translation problem)"
MDN URL: https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/Intl/PluralRules

#### What information was incorrect, unhelpful, or incomplete?

![image](https://user-images.githubusercontent.com/7506913/111099358-513a1080-8580-11eb-8494-4b65f9fdaaba.png)

这是一个翻译问题吧？

Is this a translation problem?

#### Specific section or headline?

section

#### What did you expect to

[2021-03-15 04:03] hamishwillee commented on #3021
FWIW almost every single file in the current list I have explicitly chosen to download at some point - essentially they are content formats that are intended to be run by a specific kind of software (or containers for content formats). It makes sense to serve their mime types because a browser can usefully do something with that - i.e. modify how it is downloaded, play it, or pass them onto the OS

[2021-03-15 04:33] hamishwillee commented on #3025
Almost certainly

[2021-03-15 04:42] hamishwillee commented on #3025
Almost certainly. There are 13 of these in the docs. Most of them looks like this (a couple are wrapped in a `<div class="hidden">`)
[code]
The quick links are shown the sidebar. I suspect that the subnav was previously a way of highlighting the stuff that went in the sidebar. Removing it appears to make no difference.

Action should probably be to to turn the subnav heading into a comment explain

[2021-03-15 05:00] #3115 closed

[2021-03-15 07:12] sideshowbarker commented on #3026
Thanks much for catching this and reporting it — I’ve opened #3135 with a fix that includes some of the examples from this issue.

[2021-03-15 07:13] sideshowbarker commented on #2932
Closing for lack of response.

[2021-03-15 07:13] #2932 closed

[2021-03-15 07:17] sideshowbarker commented on #3016
It’s unclear what problem this is describing, or what change it’s suggesting. Can you please clarify?

[2021-03-15 07:30] guettli opened #3137 "Issue with "<style> in <body>": Real word vs Spec"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/style

#### What information was incorrect, unhelpful, or incomplete?

I see a huge difference between the specification and the real world.

According to the specs `<style>` should be in the `<head>`:

But just look at amazon.com. There are 11 style tags in the body.

If you ask me: I think the spec should allow the style tag ever

[2021-03-15 07:31] hamishwillee commented on #2669
@chrisdavidmills OK, so I did a bunch more fixes in #3134.
Below is a list of what remains to be fixed. Not completely exhaustive, but enough to get a good picture on high level things that remain - a bunch of them could be bulk fixed if we knew the right targets.

- https://developer.mozilla.org/en-US/docs/Mozilla/Projects/NSS ("Network Security Services" - main page)

Broken Links
/en-US/docs/Ar

[2021-03-15 07:44] rachelandrew commented on #3137
Hi @guettli this isn't the place to raise an issue against the spec. MDN documents the specifications rather than informs them.

My understanding with `<style>` elements outside of the head is that browser do typically support them but they can have negative impacts on performance creating a FOUC (flash of unstyled content) etc. A quick search brought back this old issue here: https://github.com/w

[2021-03-15 07:46] rachelandrew commented on #3131
Thanks for reporting this @RedHotRojo looks like the links got messed up at some point, I'll sort that out.

[2021-03-15 07:53] chrisdavidmills commented on #3137
Yup, let's close this.

[2021-03-15 07:53] #3137 closed

[2021-03-15 08:03] sideshowbarker commented on #3062
Thanks for reporting this. The object where the event listeners get registered is actually the `XMLHttpRequestUpload` object, and what’s sort of inherently confusing about this is that given an `XMLHttpRequest` instance `xhr`, accessing the `xhr.upload` property is how you get an `XMLHttpRequestUpload` object. But basically the only purpose of getting an `XMLHttpRequestUpload` object is to attach

[2021-03-15 08:11] sideshowbarker commented on #3102
Please be more specific about what you mean by *“The code did not run as expected”*.

1. What is the behavior you expected?
2. What is the actual behavior you see instead?
3. What are the exact error messages that the browser logs in the devtools console?

[2021-03-15 08:43] chrisdavidmills commented on #3102
@rogomichael I've tested this code many times, and it definitely works. Try checking your version against our finished version to see what might be different:

Live version: https://mdn.github.io/beginner-html-site-scripted/
Source code: https://github.com/mdn/beginner-html-site-scripted/blob/gh-pages/scripts/main.js

[2021-03-15 09:12] constcrist opened #3140 "Issue with "HmacKeyGenParams": default key length for HMAC(SHA-256)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/HmacKeyGenParams

#### What information was incorrect, unhelpful, or incomplete?
length Optional
A Number — the length in bits of the key. If this is omitted the length of the key is equal to the length of the digest generated by the digest function you have chosen. Unless you have a good reason to use a different length, omit this property

[2021-03-15 09:50] chrisdavidmills commented on #2669
Thanks @hamishwillee , that's super helpful.

I will see if I can find some time to do a few of these. Also feel free to to keep picking bits off ;-)

[2021-03-15 10:40] davidmaxwaterman opened #3143 "Issue with "HTMLImageElement.naturalWidth": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/HTMLImageElement/naturalWidth

#### What information was incorrect, unhelpful, or incomplete?
Apparently, naturalWidth/Height does not necessarily match the size of the source image. When chrome is running on low-end hardware, it will scale down the image and it is that size that is represented by naturalWidth/Height.

https://bugs.chromium

[2021-03-15 10:46] chrisdavidmills opened #3144 "Testing the bug triage process"
This issue is about testing the new bug triage process that has been published at https://developer.mozilla.org/en-US/docs/MDN/Contribute/Processes/Content_bug_triage.

In the [triagers list](https://developer.mozilla.org/en-US/docs/MDN/Contribute/Processes/Content_bug_triage#decide_on_triagers) I have tentatively filled in some names of folk I'd like to put a little bit of time aside each week to

[2021-03-15 11:29] rachelandrew commented on #3088
@Dani3lNL I'll need some more information as I just tested this in Firefox on Windows and it works as expected, Firefox supports the `prefers-reduced-motion` media feature.

[2021-03-15 11:32] #3088 closed

[2021-03-15 11:32] Dani3lNL commented on #3088
Sorry, had forgotten that the feature had to be added manually, closed.

[2021-03-15 11:33] rachelandrew commented on #3144
Could we have some kind of label for things we have decided are best solved with a script, or with a change to Yari etc.?

I'm looking at #3047 which is something we have discussed could be best solved with a script rather than people updating every page by hand, so would be good to track these. Likewise for issues raised here, which relate to something that actually needs fixing in the platform.

[2021-03-15 12:05] SphinxKnight commented on #3148
@sblondon thanks! my bad for the roundtrip between repositories.

[2021-03-15 12:11] rachelandrew commented on #2987
@chrisdavidmills this is a platform CSS issue rather than a problem with the page, relating to my comment on the testing triage thread, how should we deal with these?

[2021-03-15 13:32] mbrodesser opened #3150 "Issue with "Gecko Logging": (add example for activiting multiple loggers)"
MDN URL: https://developer.mozilla.org/en-US/docs/Mozilla/Developer_guide/Gecko_Logging

#### What information was incorrect, unhelpful, or incomplete?

Missing example. E.g. `MOZ_LOG="SpellChecker:5,InlineSpellChecker:5"`.

#### Specific section or headline?
https://developer.mozilla.org/en-US/docs/Mozilla/Developer_guide/Gecko_Logging#enabling_logging

#### What did you expect to see?
The inform

[2021-03-15 13:48] CreaTorAlexander commented on #3150
I can add the example 👍

[2021-03-15 14:25] chrisdavidmills commented on #2987
@rachelandrew I would move them to either the `yari` repo for general platform issues, or `mdn-minimailist` for CSS issues. I am happy to handle such moves.

[2021-03-15 14:30] programmer101010 opened #3151 "Issue with "Truthy": (Other empty strings such as " ", " ", etc evaluate to Falsy as well in Microsoft Edge (Chromium Browser))"
MDN URL: https://developer.mozilla.org/en-US/docs/Glossary/Truthy

#### What information was incorrect, unhelpful, or incomplete?

" ", "  ", "   ", etc also all evaluate to Falsy statements in Microsoft Edge 89 (A Chromium browser) but more testing would be needed in other contents.  Please update this to other answers on stackoverflow as well.

#### Specific section or headline?

Falsy section

[2021-03-15 14:31] chrisdavidmills commented on #3144
@rachelandrew so you are potentially looking for something like "platform-issue" to draw attention to bugs that aren't going to be fixed in the content? I think better would be for y'all to just tag me when you find such a bug, and I'll move it to an appropriate place. `yari` for general platform bugs, and `mdn-minimalist` for platform styling bugs.

Sound good?

[2021-03-15 14:47] Rumyra commented on #3050
To whoever fixes this issue, it looks like the following is needed:

* Remove the above sentence
* Add a note to explain the difference between MediaStreamTrackAudioSourceNode and MediaStreamAudioSourceNode with relevant link to doc
* Review MediaStreamTrackAudioNode and possibly add a note there as well

[2021-03-15 14:56] Rumyra commented on #1657
To whoever fixes this issue, it looks like the following is needed:

* Remove the macro in the first paragraph and replace with a link to the glossary `/en-US/docs/Glossary/Intrinsic_Size`
* Remove in-page macro further down the page `{{page("/en-US/docs/Web/API/HTMLVideoElement/videoHeight", "About intrinsic width and height", 0, 1)}}`

[2021-03-15 15:11] sblondon commented on #3148
no problem! :)

[2021-03-15 15:13] Rumyra commented on #1704
To whoever fixes this issue, it looks like the following is needed:

* Investigate whether other browser implementations now support setting objects
* If yes update BCD
* If yes update the information on the page accordingly (probably remove/update note)

[2021-03-15 15:22] Rumyra commented on #1830
To whoever fixes this issue, it looks like the following is needed:

NB for the most part this is un-related to docs and probably more related to browser implementation

* Initial investigation to see whether the above is still true
* Check bugzilla to see if this has been reported or to be implemented, if not report
* Update BCD accordingly
* Add a note to the MDN page

[2021-03-15 15:34] Rumyra commented on #2450
To whoever fixes this issue, it looks like the following is needed:

* Check the meaning of null candidate and update examples accordingly
* Update any text to reflect changes

[2021-03-15 16:07] chrisdavidmills commented on #2025
To whoever fixes this issue:

* The two external links detailed above are not working. To fix this bug, either find equivalent examples to link to instead, or remove the links. Another way to fix the bug would be to write new examples and include them on the page, but this is not mandatory.

[2021-03-15 16:08] Rumyra commented on #2147
Hi @CreaTorAlexander how are you getting on with this?

[2021-03-15 16:10] chrisdavidmills commented on #1938
To whoever fixes this; you would need to:

1. Create a new page in the appropriate place to cover the `option` role; use one of the existing role pages as a template.
2. Write the new content, researching what it should be if necessary.
3. Submit a PR to add the new page to the site.

[2021-03-15 16:11] Rumyra commented on #2183
To whoever fixes this issue, it looks like the following is needed:

* Modify the code example to include the correct parameters

[2021-03-15 16:13] chrisdavidmills commented on #1439
Looks like this is already fixed, so closing.

[2021-03-15 16:13] #1439 closed

[2021-03-15 16:15] chrisdavidmills commented on #1437
To whoever fixes this issue, you need to remove the broken link from the site, or find another resource somewhere else that fulfills this role to link to.

[2021-03-15 16:23] youpiwaza opened #3152 "Issue with "EventTarget.addEventListener()": Result code is missing (on most mdn pages)"
MDN URL: https://developer.mozilla.org/fr/docs/Web/API/EventTarget/addEventListener

#### What information was incorrect, unhelpful, or incomplete?

Most Javascript examples are KO in french documentation, apparently due to missing resources.

#### Specific section or headline?

Result / Résultat

where code execution should display.

#### What did you expect to see?

The code result, instead has

[2021-03-15 16:23] CreaTorAlexander commented on #2147
I actually thought it were fixed so I didn't work on it. I will update it later on, thank you for the reminder 😄

[2021-03-15 16:24] chrisdavidmills commented on #1410
To whoever fixes this, it looks like the following is needed:

1. Fixed the referenced example.
2. We would rather it got fixed by removing the event handler attribute altogether, and instead using `addEventListener()` on a reference to the element, as per our style guide, and modern best practices.

[2021-03-15 16:26] chrisdavidmills commented on #535
I'm going to close this one for now, as eventually we are intending to cover missing role reference docs in a more substantial piece of work; see our RFC proposal at https://github.com/mdn/content/blob/main/rfcs/aria-roles.md

[2021-03-15 16:26] #535 closed

[2021-03-15 16:28] chrisdavidmills commented on #366
To whoever fixes this, you need to update the description as suggested.

[2021-03-15 16:31] chrisdavidmills commented on #3150
@CreaTorAlexander Simple example needs adding. Go for it!

[2021-03-15 16:35] Rumyra commented on #2550
Hi @KaliszAd are your use cases explained better here https://developer.mozilla.org/en-US/docs/Web/API/History_API/Working_with_the_History_API ?

[2021-03-15 16:41] Rumyra commented on #2589
@CreaTorAlexander "If the readyState attribute is CONNECTING" see the first line here: https://html.spec.whatwg.org/multipage/web-sockets.html#dom-websocket-send

Should just be a case of modifying the line "The connection is not currently OPEN." under "INVALID_STATE_ERR".

Let me know if you have any questions 👍

[2021-03-15 16:53] chrisdavidmills commented on #3152
This looks like a simple matter of the heading ID reference being wrong in the macro calls — they still reference English headings. I'll move this to the translate-content repo so the fr team can handle it.

Thanks for reporting!

[2021-03-15 17:01] Rumyra commented on #2615
@Dmole has this solved the issue?

[2021-03-15 17:04] thierryk commented on #366
@chrisdavidmills if you're ok with my *description*, I can do the PR

[2021-03-15 17:12] umamahesh51 opened #3153 "Issue with "Function.prototype.bind()": (Bind Functionality for Global Functions is Different in Firefox vs Node)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/bind

#### What information was incorrect, unhelpful, or incomplete?
The Example for the Bind (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/bind#creating_a_bound_function) with const module is giving different values when run in browser vs Node. In the Bro

[2021-03-15 17:15] umamahesh51 commented on #3153
`this.x = 9;    // 'this' refers to global 'window' object here in a browser
const tmodule = {
  x: 81,
  getX: function() { return this.x; }
};

tmodule.getX();
//  returns 81

const retrieveX = tmodule.getX;
console.log("Before Binding", retrieveX.bind(this)());
//  returns 9; the function gets invoked at the global scope

//  Create a new function with 'this' bound to module
//  New programmers

[2021-03-15 17:21] Dmole commented on #2615
@jpmedley I'm using the demo linked in the OP.

@Rumyra The issue persists as nothing has changed what "this" are you referring to?

[2021-03-15 17:23] peterbe commented on #3025
Non-exhaustively, I think there are two hacks going on:

### 1. E.g. https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles#Subnav

These pages don't have a sidebar KS macro. i.e. there's no `<div>{{CSSRef}}</div>` for example.
The Yari build will go and extract that `$('#Quick_links')` and remove it from the body and make it the sidebar.

### 2. E.g. http://localhost:3000/en-US/doc

[2021-03-15 17:28] Rumyra commented on #2878
Hi @CreaTorAlexander I noticed you've fixed this - if you want to create a PR that'd be great - thanks 👍

[2021-03-15 17:30] Rumyra commented on #2898
Hi @T410 just wondering if you filed this issue with browser compat data as mentioned above - thanks 🙏

[2021-03-15 17:34] Rumyra commented on #2941
To whoever fixes this issue, it looks like the following is needed:

* Update the example to test for a div element, so the text doesn't drag - include a comment to explain in the code

[2021-03-15 17:40] CreaTorAlexander commented on #2589
Okay perfect, thanks for your help 👍

[2021-03-15 17:41] T410 commented on #2898
Hey @Rumyra, thanks for reminding me 🙏. Just filled the issue now
https://github.com/mdn/browser-compat-data/issues/9469

[2021-03-15 17:44] Rumyra commented on #2992
To whoever fixes this issue, it looks like the following is needed:

* This is due to different browsers and different platforms - see the section: https://developer.mozilla.org/en-US/docs/Web/API/Window/open#popup_condition
* Add a note which links to this information further up the page: https://developer.mozilla.org/en-US/docs/Web/API/Window/open#window_features possibly expanding on the note h

[2021-03-15 17:49] Rumyra commented on #3001
To whoever fixes this issue, it looks like the following is needed:

* Add the updated return value info https://developer.mozilla.org/en-US/docs/Web/API/Performance/mark with link to https://developer.mozilla.org/en-US/docs/Web/API/PerformanceMark
* Add the updated return value info https://developer.mozilla.org/en-US/docs/Web/API/Performance/measure with link to https://developer.mozilla.org/en-

[2021-03-15 17:51] CreaTorAlexander commented on #2878
I am not sure what happened here. I think I had a discussion that it should be lowercase with @sideshowbarker but don't know anymore.

But I can update it to lowercase. 👍

[2021-03-15 17:54] Rumyra commented on #3013
To whoever fixes this issue, it looks like the following is needed:

* Add an explainer underneath the Examples section describing what the code is doing
* Add the HTML form from the example repo https://github.com/mdn/web-speech-api/blob/master/speak-easy-synthesis/index.html
* Add a link to both the example repo code https://github.com/mdn/web-speech-api/tree/master/speak-easy-synthesis and work

[2021-03-15 18:01] Rumyra commented on #3048
To whoever fixes this issue, it looks like the following is needed:

* Modify the top sentence to be more explicit around document and element:  'document view has been scrolled. For element scrolling see...' with a link to element.scroll page

[2021-03-15 18:09] chrisdavidmills commented on #2958
To whoever fixes this: it looks like we need to update the example as indicated above.

[2021-03-15 18:11] Rumyra commented on #2898
Yay - thanks so much @T410 🎉

[2021-03-15 18:11] #2898 closed

[2021-03-15 18:13] Rumyra commented on #2615
@Dmole I was referring to @jpmedley 's advice to solve your issue 👍

[2021-03-15 18:25] chrisdavidmills commented on #2824
Hi @benbyford ! This issue did not get much traction, so I'm wondering if you could provide a bit more detail about what you'd like to see, or maybe even help to write the content? That last part was a bit cheeky, but on a serious note, we might be able to find more contributors to help if we have a clearer plan of what content you'd like to see. thanks!

[2021-03-15 18:27] chrisdavidmills commented on #2816
Hrm, this is not something we are likely to work on, as the NSS docs are not in our remit, and are in the process of being moved off MDN. I'll leave it open in case we can find anyone to help.

[2021-03-15 18:53] AlkisPis commented on #2992
Thank you, Rumyra. I know already about the first of these references. And I have come to the conclusion that window features have been sacrificed in the name of "security". (As is our peacefulness disturbed by all the annoying popup windows, CAPTCHA's  and all kind of other security checks and privacy "protections".) It is very pity for me, because I used these features a lot in the past as parts

[2021-03-15 18:54] caitmuenster commented on #2903
Hi @ozaik, have you tried asking for help about this on the [community forum](https://discourse.mozilla.org/c/add-ons/development/108)?

[2021-03-15 19:12] chrisdavidmills commented on #366
@thierryk I'd be happy for you to do so. Assigning; thanks!

[2021-03-15 19:46] behren opened #3158 "Issue with "JavaScript basics": inconsistent usage of variables in functions"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/JavaScript_basics

#### What information was incorrect, unhelpful, or incomplete?
When the user is asked to create the function `setUserName` he's presented with an example that concatenates the variable to a string:

[code]

In the next example it's done in the same way:
[code]

Later he's asked to edit the `setU

[2021-03-15 19:54] #1026 closed

[2021-03-15 20:06] caitmuenster commented on #3035
Thanks for filing, @Yash-Singh1!

If anyone would like to update the browser compatibility data (BCD) for this API based on the Chrome documentation, please feel welcome to file a PR and ping me for review. :)

[2021-03-15 20:09] SebastianZ commented on #2202
Hi @hamishwillee,

Right, the expanded form is the preferred way to present the syntax as it is easier to understand.

It's bad that contributors try to "correct" the formal syntax as they misinterpret it. That's why I wanted to have that info icon. Before Yari, the parts of the formal syntax were actually linked to https://developer.mozilla.org/en-US/docs/Web/CSS/Value_definition_syntax, which ma

[2021-03-15 20:09] chrisdavidmills commented on #2511
Hi @Rumyra ! Finally getting round to doing my reviews of this stuff.

On this one, I noticed that the BCD hasn't been updated. Since it is shipped in 87, both data points should be updated. Can you do that asap please? Thanks!

[2021-03-15 20:10] caitmuenster commented on #2986
Thanks for filing, @matt-peng-0123!

This isn't supported in Firefox. If anyone would like to update the MDN documentation, please feel welcome to file a PR and ping me for review. :)

Also, does anyone know if this is supported in Safari?

[2021-03-15 20:21] chrisdavidmills commented on #2514
OK, this is all looking good, so I think we're done here!

[2021-03-15 20:21] #2514 closed

[2021-03-15 20:25] chrisdavidmills commented on #2516
Done, and closed!

[2021-03-15 20:25] #2516 closed

[2021-03-15 20:26] SebastianZ commented on #2202
Just saw that there's already https://github.com/mdn/yari/issues/2963 to fix that.

Sebastian

[2021-03-15 20:29] chrisdavidmills commented on #2503
So looks like this one is still ongoing., @hamishwillee, although there was movement on the BCD today. Hopefully next day or so...

[2021-03-15 20:33] timbomckay opened #3160 "Issue with "<details>: The Details disclosure element": Invalid HTML"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details

#### What information was incorrect, unhelpful, or incomplete?

[W3C Validator](https://validator.w3.org/) apparently considers a `<details>` without a `<summary>` to be invalid html but MDN has text & examples that show it without.

#### Specific section or headline?

- Second paragraph implies summary is optional.

- [A

[2021-03-15 20:39] chrisdavidmills commented on #2501
This one can be closed too. Nice work!

[2021-03-15 20:39] #2501 closed

[2021-03-15 20:47] chrisdavidmills commented on #2508
This can be closed; awesome!

[2021-03-15 20:47] #2508 closed

[2021-03-15 20:52] SebastianZ opened #3161 "Make formal CSS syntax more understandable"
Previously, there were already discussions about what to do with the formal syntax shown on CSS pages.

Because the syntax isn't intuitive, it is obviously something that confuses readers as well as contributors as @hamishwillee noted in https://github.com/mdn/content/issues/2202#issuecomment-799020728.

With the rise of CSS Houdini and its [CSS Properties and Values API](https://www.w3.org/TR/css

[2021-03-15 20:59] chrisdavidmills commented on #2512
This one is definitely done; closing!

[2021-03-15 20:59] #2512 closed

[2021-03-15 21:01] chrisdavidmills commented on #2502
This is done; closing!

[2021-03-15 21:01] #2502 closed

[2021-03-15 21:05] chrisdavidmills commented on #2507
I'm going to close this for now; I'll write a new issue for the final enabling.

[2021-03-15 21:05] #2507 closed

[2021-03-15 21:08] chrisdavidmills commented on #2506
OK, this one has stalled, so I'll make a decision. Let's go with the original structure that we had in place, with a `not_match_link` subfeature, instead of what I suggested above.

Sorry about that @rachelandrew .

[2021-03-15 22:12] hamishwillee commented on #2202
@SebastianZ I'd have to see some examples of that to understand why the formal syntax is required rather than expanded format for the CSS case you point to. I'm completely open to the discussion, just need an agreed set of rules I can work to.

Closing _this_ issue.

[2021-03-15 22:16] hamishwillee commented on #2503
@chrisdavidmills Well you can close this "if you like". The ongoing work is in improving the BCD. It is related but not strictly necessary to the other docs work.

[2021-03-15 23:09] hamishwillee commented on #3025
@peterbe Thanks. The question then becomes "if the page is trying to set the sidebar in two places, which SHOULD we use"? My _assumption_ is that by default if an appropriate macro like `{{CSSRef}}` has been applied to the page then a manually defined subnav should be removed. I'll do it that way anyway and we can discuss.

[2021-03-15 23:14] peterbe commented on #3025
I think it automatically gets done in the right order.
So if you have:

[code]
It'll keep the first one (produced by executing the `CSSRef` macro. The second one will be entirely deleted.
Now, that's just how it currently works. We *could* change it to something like this:

[code]

But it doesn't seem like in any of the pages I randomly clicked, that it'd be worth keeping it inside the content. Yo

[2021-03-15 23:20] hamishwillee commented on #3025
Thanks @peterbe

The only reason I questioned which is "best" to keep was the discussions we've had around trying to not use macros any more "in general". I much prefer macros for auto sidebar generation though. The only things I might change about the macro approach is:
- naming them such that it is clear what they affect the sidebar.
- provide a link to the source for the sidebar when the conten

[2021-03-16 00:30] hamishwillee commented on #3025
Fixed in #3165 - this also replaces quicklinks with CSS ref macro where relevant.

[2021-03-16 00:55] hamishwillee commented on #2669
Great. Will do.
FYI, I found the NSPR link - it exists, but is archived: https://developer.mozilla.org/en-US/docs/Mozilla/Projects/NSPR

Quite a few of these might also be fixed by creating one or two little docs - e.g. aCK_SESSION_HANDLE is clearly a copy of https://www.cryptsoft.com/pkcs11doc/v100/pkcs11__all_8h.html#aCK_SESSION_HANDLE

[2021-03-16 03:12] hamishwillee commented on #3144
@chrisdavidmills Should the process auto-assign to a triager? Just makes the filtering of "todo" a little easier.

[2021-03-16 03:25] hamishwillee commented on #2907
@Elchi3 You're the HTTP triager according to the process, but I had a go at this for practice since none of "mine" came up. I put P2 as HTTP is tier 1 but IMO this is too new to be considered in any way urgent. I think this will take some time, because anything potentially affecting BCD takes forever. Also because I think it may take some time to get our heads around.

The linked docs seem compreh

[2021-03-16 05:01] #3062 closed

[2021-03-16 05:09] wbamberg commented on #3161
Hi Sebastian :)

I'm not sure exactly what you're suggesting here - we do already show info on hover and link to the syntax documentation in places like https://developer.mozilla.org/en-US/docs/Web/CSS/mask don't we (I mean, given a fix for https://github.com/mdn/yari/issues/2963)? Or are you asking about something else?

About a hundred years ago I looked into pretty-printing the formal syntax: h

[2021-03-16 05:32] sideshowbarker commented on #1584
@krp12345 Please see https://github.com/mdn/content/commit/1712a1f29ae167ddfbf7ffeabc8573c41088566d. If that change resolves this issue to your satisfaction, then please go ahead and close this. Otherwise, if that change doesn’t resolve this issue to your satisfaction, please let us know.

[2021-03-16 06:09] #1584 closed

[2021-03-16 06:10] hamishwillee commented on #2245
Overview/thinking

- https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Building_blocks/Events
  - Guide a really good intro. Does not provide detail on particular APIs. That's OK
  - Could use some minor reworking - e.g. inline event handlers deprecate, so lets present last. If we can pull "other event concepts" up a level they would be more visible in the sidebar.
  - Misses some more adv

[2021-03-16 06:10] krp12345 commented on #1584
i am closing the issue. thanks a lot. it will help if we mention the link.

[2021-03-16 06:11] beurdouche commented on #2816
I asked a few days ago and nobody answered. My conclusion is that it is not maintained, so not worth the trouble.

[2021-03-16 06:36] sideshowbarker commented on #2833
Sorry for having taken so long to get back to this — I’ve now opened #3172 with a fix.

[2021-03-16 06:52] sideshowbarker commented on #3151
Can you please describe exactly how you are testing, and provide a reproducible, runnable test case?

[2021-03-16 06:59] Abid5856 opened #3173 "Issue with "500 Internal Server Error": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/500

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/http/status/500`
* MDN URL: https://developer.mozilla.org/en-US/docs/Web/HT

[2021-03-16 07:01] #3173 closed

[2021-03-16 07:17] CreaTorAlexander commented on #3001
I can update this :+1:

[2021-03-16 07:23] CreaTorAlexander commented on #2462
@Rumyra here we have the old BNF Syntax with [,optional1][, optional2] shouldn't it be updated to the new syntax with

[code]

[2021-03-16 07:30] Josephl77 opened #3175 "Content suggestion: <TITLE OF SUGGESTION> Ontario disability support program payments should be $2500 a month but it's not its only $1169 a month and that isn't even enough to pay rent on a 1 bedroom apartment"
## What is the new suggestion?

## Why is it important or useful?

## Other supporting information

[2021-03-16 07:45] #3175 closed

[2021-03-16 07:51] chrisdavidmills commented on #2462
@CreaTorAlexander Yes, this would also be good.

[2021-03-16 08:00] chrisdavidmills commented on #2816
@beurdouche OK, thanks! Do you want me to just delete that page? Or leave it in until it moves off MDN so you can decide what to do with it later?

[2021-03-16 08:08] beurdouche commented on #2816
I think leaving it is ok for now. Thanks : )

[2021-03-16 08:11] chrisdavidmills commented on #2816
OK, let's close this one then. Thanks for the input.

[2021-03-16 08:11] #2816 closed

[2021-03-16 08:20] #3025 closed

[2021-03-16 08:34] Josephl77 commented on #3175
Because use people who are on odsp are below proverty we don't even make 15,000 a year know I take it you are on ford's side if so remove me from this position and I will be reporting you to the attorney General

[2021-03-16 08:40] Josephl77 commented on #3175
You must be rich why don't you help out with some money for use who are below proverty 14,388 a year and to be above proverty you need to Make 20,000 a year

[2021-03-16 08:50] foolip commented on #3025
Thanks @hamishwillee!

[2021-03-16 08:54] benbyford commented on #2824
Hi!
I write html5 games sometimes and would love to learn more about using wasm to do it. however i dont use React and bundlers so really looking for what a barebones implementation looks like, which tbh I'm suprised you didnt have :(

Love to write it myself but would need to find sometime to learn and then write about it.... so if someone else can do it first that would be awesome, as i might be

[2021-03-16 09:03] Josephl77 opened #3176 "Content suggestion: <TITLE OF SUGGESTION>why are people on disability support program making under proverty and the governments aren't even helping them but everyone else can get free money from the government anytime they need it but the people like me who are on disability can't even get help from the government even if they need it for food and clothing life is hard to begin with but use less fortunate people who have disability and problems with following orders or directions can't even get help it's like your telling use its alright to go out and do criminal stuff to make sure we have enough money for the hole month."
## What is the new suggestion?

## Why is it important or useful?

## Other supporting information

[2021-03-16 09:26] #3176 closed

[2021-03-16 09:38] chrisdavidmills commented on #2824
No worries at all. We'll see if we can find someone to add this content.

[2021-03-16 09:43] chrisdavidmills commented on #3144
@hamishwillee so how would that work? When I go through and add say the "Content:DevTools" label, and the "needs-triage" label, it auto-adds you as the Assignee?

I worry that having such a process might cause would-be bug fixers to look at the newly-filed issue, see there's an assignee, and then not pursue fixing the bug as a result.

[2021-03-16 09:45] chrisdavidmills commented on #2503
@hamishwillee yeah, let's do that.

[2021-03-16 09:45] #2503 closed

[2021-03-16 10:03] chrisdavidmills commented on #3158
I totally agree with you on this, thanks for reporting!

I've opened up https://github.com/mdn/content/pull/3179 to fix it. Let me know if you think it looks OK.

[2021-03-16 10:26] bart5 opened #3181 "Issue with "Browser storage limits and eviction criteria": (Imprecise storage limit definition.)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API/Browser_storage_limits_and_eviction_criteria

#### What information was incorrect, unhelpful, or incomplete?

Information about storage limit calculation.

#### Specific section or headline?

"The global limit is calculated as 50% of free disk space. In Firefox, an internal browser tool called the Quota Manager keeps track of

[2021-03-16 10:41] Elchi3 commented on #2907
Thanks @hamishwillee! Imo no need to feel bad about stepping on my or anyones toes. We will need to see how the new triage process works best. Please feel free to act on anything you like to act on. I don't have the bandwidth to do it all anyways. (same for anyone else who wants to triage or help in any way).

Your P2 assessment makes sense to me.

[2021-03-16 11:10] #2878 closed

[2021-03-16 11:12] Rumyra commented on #2462
Thank you - yes I'll update the 'update syntax' bullet to be more explicit

[2021-03-16 11:44] Rumyra commented on #2511
So sorry @chrisdavidmills !

See https://github.com/mdn/browser-compat-data/pull/9481

[2021-03-16 11:45] chrisdavidmills commented on #2764
To whoever fixes this — my first instinct was to just say "delete this", as it is a maintenance burden. But then I checked the GA rtaffic, and we actually get quite a lot of traffic to this page. It would perhaps be better to run through all the demos and delete the links that no longer work, and then in topic areas that don't have many demos, look for a few links (say about 3-5 per topic area) to

[2021-03-16 11:53] #2682 closed

[2021-03-16 11:55] chrisdavidmills commented on #2661
I'm going to close this one. Page types is meant to cover template structures for specific reference pages. Tutorials are another type of page — you are correct, but there isn't really a single template structure that will work perfectly for all tutorials. different tutorials require different structures.

A better solution here might be to write a more general "What does a good tutorial need" typ

[2021-03-16 11:55] #2661 closed

[2021-03-16 11:58] chrisdavidmills commented on #2329
To whoever fixes this — you'd have to recreate the images that are missing, although my immediate reaction to this is that perhaps you should check the instructions to see if this content is out of date, and if so, delete it.

[2021-03-16 11:59] chrisdavidmills commented on #1933
This got done, so closing!

[2021-03-16 11:59] #1933 closed

[2021-03-16 12:01] chrisdavidmills commented on #1864
I've checked that page, and it looks like this got fixed, so closing.

[2021-03-16 12:01] #1864 closed

[2021-03-16 12:03] chrisdavidmills commented on #1550
To whoever fixes this, the description needs updating as per @stevens94 's text above.

[2021-03-16 12:04] chrisdavidmills commented on #1533
The redirect means that the link is not broken anymore, so I'm going to close this one.

[2021-03-16 12:04] #1533 closed

[2021-03-16 12:06] #2794 closed

[2021-03-16 12:07] chrisdavidmills commented on #1502
To whoever fixes this — the broken GTest links on the referenced page need fixing.

[2021-03-16 12:09] chrisdavidmills commented on #1416
To whoever fixes this, a small section needs to be added to the referenced page covering extranets and intranets. Not too much detail, just enough for the reader to undersand what they are.

[2021-03-16 12:11] Rumyra commented on #2186
Resolved https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams#gotchas

[2021-03-16 12:11] #2186 closed

[2021-03-16 12:12] chrisdavidmills commented on #940
That doc now appears in the temporary list, so I guess we can call this one closed? I think I'll take an action to improve the structure of the Web landing page, and get rid of that weird "Temporary" list...

[2021-03-16 12:13] chrisdavidmills commented on #940
That doc now appears in the temporary list, so I guess we can call this one closed? I think I'll take an action to improve the structure of the Web landing page, and get rid of that weird "Temporary" list...

[2021-03-16 12:13] #940 closed

[2021-03-16 12:14] chrisdavidmills commented on #911
Closing this, as a (semi-)dupe of https://github.com/mdn/content/issues/2669

[2021-03-16 12:14] #911 closed

[2021-03-16 12:17] chrisdavidmills commented on #523
I don't see this link on that page any more, so closing.

[2021-03-16 12:17] #523 closed

[2021-03-16 12:18] Rumyra commented on #2086
Going back to the original issue the depreciated feature is a Web API feature, whereas the Depreciated and obsolete features lists javascript language features.

I'm unaware of any depreciated list for web apis (which honestly I think would be cumbersome).

I'm inclined to close this issue as the depreciated method is listed where it should be and there are other discussions around how such things

[2021-03-16 12:19] #291 closed

[2021-03-16 12:20] chrisdavidmills commented on #1672
These are archived anyway, so I'm closing this.

[2021-03-16 12:20] #1672 closed

[2021-03-16 12:24] Rumyra commented on #2091
This appears to be fixed - if @schalkneethling confirms I'll close the issue 👍

[2021-03-16 12:27] itumesh opened #3186 "Issue with "How to fix a website with blocked mixed content": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/Security/Mixed_content/How_to_fix_website_with_mixed_content

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/security/mixed_content/how_to_

[2021-03-16 12:33] Rumyra commented on #2104
To whoever fixes this issue, it looks like the following is needed:

* An example highlighting `get` returns the first value (poosibly added to the get() method page as well)
* Text explaining order is preserved
* A round trip example

[2021-03-16 12:53] #3186 closed

[2021-03-16 13:07] EgleKat opened #3188 "Issue with "ARIA: table role": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Table_Role

#### What information was incorrect, unhelpful, or incomplete?

The link to columheader article is invalid
https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Columnheader_Role

#### Specific section or headline?

Required JavaScript features

#### What did you expect to see?

A link that r

[2021-03-16 13:26] tipizzo opened #3189 "Issue with "Tutoriel Django - 6e partie : Vues génériques pour…": catalog/book_list.html template does not exist"
MDN URL: https://developer.mozilla.org/fr/docs/Learn/Server-side/Django/Generic_views

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `fr/learn/server-side/django/generic_views`
* MDN URL: https://develop

[2021-03-16 14:29] #665 closed

[2021-03-16 14:30] #2833 closed

[2021-03-16 14:33] behren commented on #3158
Cool, looks good to me!

[2021-03-16 14:48] vrana opened #3190 "Issue with "ParentNode.append()": Missing Browser compatibility"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/ParentNode/append

#### What information was incorrect, unhelpful, or incomplete?

The *Browser compatibility* table is missing.

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/api/parentnode/append`
* MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/ParentNode/append
* GitHub URL: https://github

[2021-03-16 14:52] evilpie commented on #3160
https://html.spec.whatwg.org/multipage/interactive-elements.html#the-details-element

Doesn't sound to me like having no summary element is invalid.

[2021-03-16 15:02] #3026 closed

[2021-03-16 15:56] wbamberg commented on #3160
Thanks for filing @timbomckay !

The [spec](https://html.spec.whatwg.org/multipage/interactive-elements.html#the-details-element) says:

...which implies that it is mandatory, but also says:

...so the fallback behavior is also specced.

IIRC @sideshowbarker maintains this. I expect that (1) the validator is correct, it is invalid but (2) browsers should also implement the fallback. So our example

[2021-03-16 16:09] sideshowbarker commented on #3160
Yeah, the validator is conforming to the spec requirements on this.

Yes. Because the spec says, *“One `summary` element followed by flow content”*, it means if there’s no `summary` element, then no flow content is allowed either. If the spec wanted to allow the `summary` element to be omitted, the spec would instead say, *“One optional `summary` element followed by flow content”* or *“Zero or one

[2021-03-16 16:09] Rumyra commented on #2248
Async generator docs are being tackled here https://github.com/mdn/content/pull/2861

[2021-03-16 16:34] chrisdavidmills commented on #2511
No worries! Now we've got the BCD in, we can close...

[2021-03-16 16:34] #2511 closed

[2021-03-16 16:39] chrisdavidmills commented on #2515
OK, this is done!

[2021-03-16 16:39] #2515 closed

[2021-03-16 18:13] chrisdavidmills commented on #2499
87 rel ntoes finalized in https://github.com/mdn/content/pull/3194

[2021-03-16 18:30] wbamberg opened #3195 "Replace the sample server"
We have a server dedicated to providing a server-side implementation for examples that need this, particularly some of the WebRTC examples.

We would like to decommission this server and stop maintaining our own solution, perhaps instead using something like Glitch?

@escattone

[2021-03-16 18:36] wbamberg opened #3196 "Remove the {{page}} macro"
This came out of https://github.com/mdn/content/pull/3008. We should remove the {{page}} macro from MDN: it's a common source of content problems.

We will need to look through the 370-odd places where it's used, and decide what to do in each case. Probably either:
* duplicate the content
* have the content in one place and just use links to it in the other places

@escattone

[2021-03-16 19:23] tjr226 opened #3197 "Issue with "How the Web works": Packets Explained section uses TCP limitation to explain IP packet design"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/How_the_Web_works

#### What information was incorrect, unhelpful, or incomplete?

An analogy explaining why packets are small relies on a TCP feature, the connection between two computers.

#### Specific section or headline?

Packets explained

#### What did you expect to see?

Something like this

"Packets are s

[2021-03-16 20:41] SebastianZ commented on #3161
Hi Will! Great to read from you again! 😃

Basically, I just wanted to (re)start a discussion here on how to improve its display as I am hearing for years now that it's hard to understand for readers.

Thank you for sharing the Discourse link! I see now that you already put much thought into it. And I totally agree with all what you wrote there and here.

I guess with "not enough interest" you mean

[2021-03-16 20:54] SebastianZ commented on #3161
To clarify this, CSS Properties and Values allows authors to define custom properties using the same formal syntax for their values as for the predefined properties.

The specification also [provides some examples](https://www.w3.org/TR/css-properties-values-api-1/#examples):

[code]

Where the `syntax` descriptor can take any kind of formal syntax.

The spec. also has this example for a syntax de

[2021-03-16 20:55] escattone commented on #3196
Thanks for creating this @wbamberg. It'll be nice to eventually resolve this and rid ourselves of this macro.

[2021-03-16 21:09] wbamberg commented on #3161
Basically people didn't (don't?) think formal syntax is important enough to spend much time improving, and/or just wanted to remove it or hide it in some way. I have some sympathy with that, it definitely only serves a niche among our users, so if you user-test it 95% of people will just say "this is baffling", and it's then hard to prioritise. But I can also see the argument that serving the 5% i

[2021-03-16 21:53] nathnolt opened #3201 "Issue with "A re-introduction to JavaScript (JS tutorial)": Inconsistency with converting from String to Number using parseFloat and + ( Number() )"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/A_re-introduction_to_JavaScript

#### What information was incorrect, unhelpful, or incomplete?

It explains that you can parse floating point numbers using the built-in `parseFloat()`
but then it shows you that you can use + to do the same.
However, under the hood this does `Number('input')` rather than `parseFloat('input')`. these

[2021-03-16 23:02] thierryk commented on #366
@chrisdavidmills As far as I know, there is no example of tabpanel using **empty** `tablist` in the wild (apart from http://tabpanelwidget.com).
Let me know if you think I should link to it as an example.

[2021-03-17 00:59] sukima opened #3210 "Content bug: <main> description contradicts W3C Spec"
## What page(s) did you find the problem on?

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/main

## Specific page section or heading?

Description/Summary, last sentence after Demo box.

## What is the problem?

The [MDN page](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/main) states:

In contrast to the [W3C spec](https://www.w3.org/TR/html50/grouping-content.html#the-ma

[2021-03-17 01:46] drac98 opened #3214 "Issue with "Virtual ARM Linux environment": The repository does not have a Release file"
MDN URL: https://developer.mozilla.org/en-US/docs/Mozilla/Developer_guide/Virtual_ARM_Linux_environment

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?
Install the required software

#### What did you expect to see?

#### Did you test this? If so, how?
Yes. I tried to add the Linaro's repository. It gave the following error.

Err:20 http://ppa.la

[2021-03-17 02:27] bboyle commented on #2794
thanks for making MDN great! :)

[2021-03-17 05:02] #3160 closed

[2021-03-17 05:26] neil-ji opened #3217 "Issue with "行内格式化上下文（Inline formatting context）": Incorrect chinese translation"
MDN URL: https://developer.mozilla.org/zh-CN/docs/Web/CSS/Inline_formatting_context

#### What information was incorrect, unhelpful, or incomplete?
The chinese translation of 'when there is no more room in the inline direction another line will be created' is '如果一行的空间不够，将在行内方向上新开一行'.

It is incorrect, because the translation means that ’if there is no more room, a new line will be created in the i

[2021-03-17 05:30] nodirnavruzov opened #3218 "Issue with "Document.readyState": (short summary here please)"
MDN URL: https://developer.mozilla.org/ru/docs/Web/API/Document/readyState

Good afternoon, I came across something in Russian that in one of the sections of the Example they turned over or the styles were lost, I decided to report

Web technology for developers>Web APIs>Document>Document.readyState
Examples > Different states of readiness
here is the link
https://developer.mozilla.org/ru/docs/Web

[2021-03-17 05:44] sideshowbarker commented on #3210
That‘s directly from the current HTML standard:

https://html.spec.whatwg.org/multipage/grouping-content.html#the-main-element:attr-hidden

So the MDN article is consistent with that.

Please be careful to never use any fork of the HTML standard other than the actual current standard at https://html.spec.whatwg.org/

The https://www.w3.org/TR/html50/ spec at the _\_W3C spec\__ link above is very o

[2021-03-17 05:44] #3210 closed

[2021-03-17 06:32] ssoni2074 opened #3221 "Issue with "String.prototype.trimStart() ": (It also removes \n \r)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/trimStart

#### What information was incorrect, unhelpful, or incomplete?
It is documented that **trimStart() method removes whitespace from the beginning of a string.**
But I can see that this is also removing characters like \n and \r (for other characters I didn't verified ).It should be made clear

[2021-03-17 06:39] advantipro-gmbh opened #3222 "Issue with "Pretty-print a minified file": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Tools/Debugger/How_to/Pretty-print_a_minified_file

#### What information was incorrect, unhelpful, or incomplete?
"Note: if you want to prettify some inline JavaScript code, just double click the code in the inspector pane."

#### Specific section or headline?
End of article, just above "Found a problem with this page?"

#### What did you expect t

[2021-03-17 06:40] sideshowbarker commented on #3221
\n and \r are widely understand to be whitespace characters. The MDN glossary entry for “whitespace” at https://developer.mozilla.org/en-US/docs/Glossary/Whitespace says:

\n is U+000A LF, and \r is U+000D CR

The https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/trimStart article doesn’t use the word “space” — it intentionally uses the specific word “whitespa

[2021-03-17 07:24] pankaj-url opened #3223 "Issue with "JavaScript basics": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/JavaScript_basics

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/learn/getting_started_with_the_web/javascript_

[2021-03-17 07:32] #3223 closed

[2021-03-17 07:48] rachelandrew commented on #2506
sorry missed this, I'll sort this today.

[2021-03-17 09:16] chrisdavidmills commented on #2506
No worries, and cheers!

[2021-03-17 09:23] chrisdavidmills commented on #3222
Needs further looking at, but on quick inspection, I am able to confirm that double clicking some JS code somewhere inside the HTML source doesn't prettify it (at least, that's my understanding of what "inline JS" means)

[2021-03-17 09:52] federicomichela opened #3225 "KeyframeEffect is not defined: jest unit testing"
Hi everyone, I wrote a vue component that uses web animations api.

When I run the code it works just fine, but when I run the unit test I keep getting:

**ReferenceError: KeyframeEffect is not defined**

I'm using typescript, Vue3 and  jest.

I've also installed the Web Animations API  polyfill npm package.

Am I missing something?

[2021-03-17 10:33] chrisdavidmills commented on #366
Yes, that sounds like a good idea to me.

[2021-03-17 10:45] advantipro-gmbh commented on #3222
Correct, thanks, double-clicking this:
![image](https://user-images.githubusercontent.com/22052631/111455428-136ef080-8716-11eb-8a84-b0df90fe924b.png)
Becomes this:
![image](https://user-images.githubusercontent.com/22052631/111455519-2ed9fb80-8716-11eb-872e-e07833cb69df.png)

[2021-03-17 10:51] LouisJustinTALLOT opened #3226 "Issue with "Publier votre site web": link to french version that doesn't exist"
MDN URL: https://developer.mozilla.org/fr/docs/Learn/Getting_started_with_the_web/Publishing_your_website

#### What information was incorrect, unhelpful, or incomplete?

The following link is broken :

![image](https://user-images.githubusercontent.com/72044417/111456207-fedf2800-8716-11eb-8bc0-8ad635ddde13.png)

#### Specific section or headline?

[here](https://developer.mozilla.org/fr/docs/Lea

[2021-03-17 13:20] rachelandrew opened #3228 "Document the CSS @color-profile rule"
I'm working through the color specifications (level 4 and 5) as there seems to be various browsers implementing.

While working on `color()` spotted this as another missing element, so adding an issue mostly to remind myself to go back to it. If someone else is very keen to do so before I get to it, comment here and I can reassign it.

Spec: https://www.w3.org/TR/css-color-4/#at-profile

[2021-03-17 14:17] thany commented on #3063
@chrisdavidmills It wasn't my intention to suggest adding a whitelist of CSS properties to each and every element. Most elements can accept any CSS property, but there are just a handful of elements that do indeed come with a few catches and gotchas. I feel it's important to list only those (or link to where that's described) and leave out what comes natural, to prevent the forest from obscuring t

[2021-03-17 14:52] vanillajonathan opened #3231 "Issue with "<set>": Seems to work with Firefox"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/SVG/Element/set

#### What information was incorrect, unhelpful, or incomplete?
The browser compatibility table shows unknown status for Firefox but it actually seems to work.

#### Specific section or headline?
Browser compatibility

#### What did you expect to see?
Set listed as supported in Firefox.

#### Did you test this? If so, how?
Yes,

[2021-03-17 15:15] strarsis opened #3234 "[Border-image generator]: Blue-white stripes example top/bottom borders missing"
## URL(s)
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Background_and_Borders/Border-image_generator
(Blue-white stripes example, 5th sample from the left at time of writing)

## Request type
- [ ] New documentation
- [x] Correction or update

## Details
When you visit the Border-image generator and select the blue-white stripes example (5th from the left),
the upper and lower borders are

[2021-03-17 15:25] strarsis opened #3233 "[Border-image generator] `border-style: solid` missing from CSS output"
## URL(s)
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Background_and_Borders/Border-image_generator

## Request type
- [ ] New documentation
- [x] Correction or update

## Details
The `CSS Code` section of the Border-image generator doesn't include the CSS declaration `border-style: solid;` which is required for all border-images without fill to be displayed in Chrome (and apparently prev

[2021-03-17 17:35] thierryk commented on #366
Oops, I should not have mentioned this issue in my "own" PR (that was not the plan).

Here is the PR that was supposed to close this issue: https://github.com/mdn/content/pull/3235

[2021-03-17 18:29] ilogico opened #3238 "Issue with "EventTarget.addEventListener()": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener

#### What information was incorrect, unhelpful, or incomplete?
The browser compatibility table.

#### Specific section or headline?

#### What did you expect to see?
Information about the signal option.

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder:

[2021-03-17 19:28] ddbeck commented on #2907
I was reading into the issue on BCD about this. It appears to be an origin trial in Chrome only. I don't think this is shipping by default anywhere. @jpmedley might have an opinion on whether this ought to be documented at all (and I'm inclined to skip it for BCD).

[2021-03-17 19:45] JamesTheAwesomeDude opened #3239 "Issue with "Origin": Fetch API does send this header"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Origin

#### What information was incorrect, unhelpful, or incomplete?
The information regarding the "Fetch" API seems incorrect.

#### Specific section or headline?

(emphasis mine)

This, to me, *appears* to be trying to say that FF<65 sends the header, and FF≥65 does not. (I would be interested to see if anyone interprets this d

[2021-03-17 20:51] wbamberg commented on #3140
Thanks for filing! I think the docs are wrong.

[The spec says](https://www.w3.org/TR/WebCryptoAPI/#hmac-keygen-params):

  required HashAlgorithmIdentifier hash;

  // recommended length will be used, which is **the size of the associated hash function's block size**.
  [EnforceRange] unsigned long length;
};

....i.e. it's the block size, not the output size.

Which gives us:

[code]

[2021-03-17 21:12] concastinator opened #3241 "Issue with "BigInt": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt

#### What information was incorrect, unhelpful, or incomplete?

At the very bottom of the page, there is the text "Is this helpful?", followed by two buttons: "Yes" and "No".

#### What did you expect to see?

Clicking on any of the two should trigger some action, right?

#### Did you test this? If so

[2021-03-17 22:48] peterbe opened #3248 "Content bug: js_event_object_hierarchy.svg contains unsafe HTML"
## What page(s) did you find the problem on?

https://developer.mozilla.org/en-US/docs/Web/Guide/Events/Overview_of_Events_and_Handlers

## Specific page section or heading?

https://developer.mozilla.org/en-US/docs/Web/Guide/Events/Overview_of_Events_and_Handlers#the_event_object_hierarchy

## What is the problem?

There's a file attachment there, this:
https://github.com/mdn/content/blob/main/fi

[2021-03-18 00:01] bytesized opened #3249 "Issue with "EventTarget.addEventListener()": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener

#### What information was incorrect, unhelpful, or incomplete?

The "Syntax" section contains the text "This API has not been standardized.", which is fine, but it seems to be in the middle of the syntax specification, like this:

[code]
I'm not sure how this ought to look, but it doesn't seem right to me that

[2021-03-18 00:47] escattone opened #3250 "Remove unwanted Kumascript macros"
We'd like to remove the following macros from all documents (English, non-English, and archived):

- `fx_minversion_header`
- `fx_minversion_inline`
- `gecko_minversion_header`
- `gecko_minversion_inline`
- `IncludeSubnav`
- `languages`

[2021-03-18 03:03] bll55020674 opened #3253 "Issue with "剖析拓展": (short summary here please)"
MDN URL: https://developer.mozilla.org/zh-CN/docs/Mozilla/Add-ons/WebExtensions/Anatomy_of_a_WebExtension

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `zh-cn/mozilla/add-ons/webextensions/anatomy_of_a_

[2021-03-18 05:51] CreaTorAlexander commented on #3249
Also it uses the old Syntax *[, useCapture, wantsUntrusted]*

[2021-03-18 06:03] CreaTorAlexander commented on #3197
I can work on this :+1:

[2021-03-18 07:20] CreaTorAlexander commented on #2183
It should also be written with the new syntax, right?

like
[code]

[2021-03-18 07:58] mykohsu commented on #2183
I sent a PR but there are concerns about removing existing parameters that are completely uncompatible.

[2021-03-18 08:03] CreaTorAlexander commented on #2183
Oh okay, haven't seen it actually.
I thought this issue is about updating the parameters in the example?

[2021-03-18 08:51] stevenharderjr opened #3257 "Issue with "Object.prototype.toString()": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/toString

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

Reference to, comparison with, and possibly recommendation for, String().

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report deta

[2021-03-18 08:57] #1437 closed

[2021-03-18 09:00] stevenharderjr commented on #3257
If it's unclear, I'm talking about String() called as a function, not as a constructor.

[2021-03-18 09:29] chrisdavidmills commented on #3197
Great, thanks!

[2021-03-18 10:00] Godofbush opened #3260 "Content bug: Wrong description in "Inheritance_and_the_prototype_chain""
## What page(s) did you find the problem on?

[Source Link](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Inheritance_and_the_prototype_chain#delete_operator_with_object.create_and_new_operator)

## Specific page section or heading?

Heading: delete Operator with Object.create and new operator

## What is the problem?

There is a wrong description: "The `new` operator has a shorter chain

[2021-03-18 10:10] #3253 closed

[2021-03-18 10:25] chrisdavidmills commented on #3241
@concastinator Ah, this is part of the Test 262 report widget. I just tested the buttons; pressing either one of them makes the buttons disappear, and a message appear saying "Thank you for your feedback". Did you not get this?

[2021-03-18 10:27] concastinator commented on #3241
@chrisdavidmills No, *absolutely* nothing visible happens.

[2021-03-18 10:40] chrisdavidmills commented on #3241
Hrm, I really don't know why. We'll have to check this out further.

[2021-03-18 10:41] chrisdavidmills commented on #3063
Cool, I think we are in agreement there then.

[2021-03-18 11:10] chrisdavidmills commented on #3197
I'm glad this is being sorted out, BTW, this looks like something I have been taught wrongly, and carried with me for many years. It would be good to get @tjr226 's revuew once the PR has been submitted.

[2021-03-18 11:16] chrisdavidmills commented on #3060
@denik1981 having looked at this, the dates are calulated in the [worker.js](https://github.com/mdn/learning-area/blob/master/javascript/asynchronous/introducing/worker.js). The `postMessage()` call to `worker.js` causes the dates to be calculated; if you look inside the worker.js file, you'll see that the code is placed inside an `onmessage` handler.

So things are happening here. Do you think th

[2021-03-18 11:17] markbrathwaite opened #3263 "Issue with "Faire un retour sur MDN": (short summary here please)"
MDN URL: https://developer.mozilla.org/fr/docs/MDN/Contribute/Feedback

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?
J'ai trouvé un lien qui n'existe pas: https://developer.mozilla.org/fr/docs/Apprendre/HTML/Introduction_%25C3%25A0_HTML

#### What did you expect to see?
French intro to HTML

#### Did you test this? If so, how?

<details>
<summa

[2021-03-18 11:19] chrisdavidmills commented on #2981
@DanielPath sorry for taking a long time to get back to you on this. You'd probablt get a quicker response if you posted this question on a dedicated React forum of some kind. This isn't really a place for general technical support about topics that aren't covered in our articles. Although it might be nice to add such a thing at some point in the future.

Glad you enjoyed the tutorials, and good l

[2021-03-18 11:19] #2981 closed

[2021-03-18 11:22] chrisdavidmills commented on #2862
To whoever fixes this: You would need to investigate this carefully, running through the tutorial to see if you can reproduce the error.

@venven-de can you let us know where exactly you were in the tutorial when you got this error? Which setep, or under which heading? Thanks!

[2021-03-18 11:25] chrisdavidmills commented on #2837
@mireille-raad are you still interested in submitting a PR to fix this? If not, then that's OK, but we'd like to unassign it so someone else can have a go at it.

Thanks.

[2021-03-18 11:26] chrisdavidmills commented on #2537
To whoever fixes this — follow @AndySky21 's pointers above on what should change here. This is important contextual information to get right.

[2021-03-18 11:29] chrisdavidmills commented on #1675
This looks like it relates to settings on the server, so I'm going to move it to the platform repo.

[2021-03-18 11:31] chrisdavidmills commented on #1501
This si quite an important detail to get right. Whoever fixes this would need to get a svelte app running, check the nature of hot reloading by default, and change the article text accordingly if this is not the case.

[2021-03-18 11:32] chrisdavidmills commented on #1491
Pretty sure this got fixed in another issue. Feel free to reopen if I'm wrong.

[2021-03-18 11:32] #1491 closed

[2021-03-18 11:35] chrisdavidmills commented on #2582
I've just not gotten to this one, for years now, and it seems like a fairly important point to get right. @rachelandrew , can you have a look at this one soonish?

[2021-03-18 11:57] Ricky-Tigg opened #3264 "Instructions of "Configuring Firefox for FIPS 140-2" partially obsolete or inaccurate"
Hello. The instructions of the article _Configuring Firefox for FIPS_ 140-2 at [https://support.mozilla.org/en-US/kb/Configuring%20Firefox%20for%20FIPS%20140-2](https://support.mozilla.org/en-US/kb/Configuring%20Firefox%20for%20FIPS%20140-2) are partially obsolete regards to an up-to-date application release.

#### What information was incorrect or incomplete?
_Step 1: Disable SSL 2 and SSL 3, lea

[2021-03-18 12:11] Andrew-Cottrell opened #3265 "Issue with "Using Fetch": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch

#### What information was incorrect, unhelpful, or incomplete?
End-of-line comment in `Headers` example that incorrectly indicates the `Headers.prototype.get` method returns an empty array. The method actually returns `null` for missing header names.

#### Specific section or headline?

https://developer.mozilla.org/e

[2021-03-18 12:19] FrOz3nFir3 opened #3266 "Issue with "Normal Flow": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Normal_Flow

#### What information was incorrect, unhelpful, or incomplete?
By default, a block level element's content is **100%** of the width of its parent element
100% here is incorrect.
#### Specific section or headline?
How are elements laid out by default?

#### What did you expect to see?
By default, a block level eleme

[2021-03-18 12:25] sideshowbarker commented on #3239
Thanks for reporting this. You are correct about that statement being wrong, and I’ll get it fixed.

---

For the record here: I think at least part of the reason that incorrect statement ended up getting added was that somebody who edited the article previously may have misinterpreted the following section of the Fetch spec:

https://fetch.spec.whatwg.org/#append-a-request-origin-header

I guess

[2021-03-18 13:19] Braizhey opened #3267 "Issue with "window.navigator": Links are dead"
MDN URL: https://developer.mozilla.org/fr/docs/Web/API/Window/navigator

#### What information was incorrect, unhelpful, or incomplete?
Hi ! I just noticed a lot of the links in the page are dead such as navigator.platform, navigator.oscpu or navigator.onLine.

#### Specific section or headline?
The links on the page

#### What did you expect to see?
I expected to reach the link

#### Did you test

[2021-03-18 13:23] Codefeak opened #3268 "Issue with "<input type="month" pattern="[0-9]{4}-[0-9]{2}>": (not compatible with firefox)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/month

#### What information was incorrect, unhelpful, or incomplete?
[code]

#### Specific section or headline?

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/month#handling_browser_support

#### What did you expect to see?
compatibility with firefox

#### Did you test this? If so, how?

<details>
<summary>

[2021-03-18 14:14] mireille-raad commented on #2837
I'll submit a PR today or tomorrow, if not plz reassign... sorry got busy with stuff.

[2021-03-18 14:40] chrisdavidmills commented on #2837
No worries at all; we'd still love to have your contribution!

[2021-03-18 14:57] #2506 closed

[2021-03-18 14:57] chrisdavidmills commented on #2499
Hacks post written (won't share until release next Tuesday).

[2021-03-18 17:01] fstreicher opened #3273 "Issue with "Date() constructor": Timezones and DST"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/Date

#### What information was incorrect, unhelpful, or incomplete?
Consideration of daylight savings time when inferring local time for date construction.

#### Specific section or headline?
Parameters
- Individual date and time components

#### What did you expect to see?
In addition to the local time

[2021-03-18 17:19] monster0324 opened #3274 "Content bug: <TITLE OF PROBLEM>"
## What page(s) did you find the problem on?

## Specific page section or heading?

## What is the problem?

## What did you expect to see?

## Did you test this? If so, how?

[2021-03-18 17:19] NegiAkash890 commented on #3265
I can fix this!

[2021-03-18 17:19] monster0324 opened #3275 "Robin"

[2021-03-18 17:20] monster0324 commented on #3274
Soooo kooool

[2021-03-18 17:24] wbamberg opened #3276 "Document ResizeObserver compat"
This came out of https://github.com/mdn/content/pull/3180 .

In the `ResizeObserver` API, the [`ResizeObserverEntry.contentBoxSize`](https://developer.mozilla.org/en-US/docs/Web/API/ResizeObserverEntry/contentBoxSize) is an [array of contentrects according to the specification](https://drafts.csswg.org/resize-observer/#dom-resizeobserverentry-contentboxsize), but in Firefox it is implemented as a

[2021-03-18 17:31] venven-de commented on #2862
just changed this within the supposed section in my initial report.
thx for the advise

[2021-03-18 17:38] #3275 closed

[2021-03-18 17:38] #3274 closed

[2021-03-18 17:42] chrisdavidmills commented on #3265
@NegiAkash890 thanks; assigned!

[2021-03-18 17:50] CreaTorAlexander commented on #2684
@chrisdavidmills I think we can close this issue because the example is actually correct. I will unassign me

[2021-03-18 17:52] CreaTorAlexander commented on #3021
@hamishwillee sounds reasonable I will remove the .yaml and .cgi entry.

[2021-03-18 17:59] medoalmdar opened #3278 "Issue with "Using data attributes": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/HTML/Howto/Use_data_attributes

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/learn/html/howto/use_data_attributes`
* MDN URL: https://devel

[2021-03-18 18:10] #3158 closed

[2021-03-18 18:24] CreaTorAlexander commented on #3278
What issue with the data attributes have you found?

[2021-03-18 18:57] peterbe commented on #2985
Oops. https://github.com/mdn/content/pull/3200 does not fix this issue yet.
I merged it in (without review) so I can see what it does.

[2021-03-18 19:05] #3278 closed

[2021-03-18 19:07] chrisdavidmills commented on #2684
OK, thanks @CreaTorAlexander !

[2021-03-18 19:07] #2684 closed

[2021-03-18 19:09] medoalmdar commented on #3278
اريد استرجاع الملفات المحذوفه وجميع تحركات جميل

[2021-03-18 19:30] peterbe opened #3280 "Content bug: Invalid (insecure) image on en-US/docs/Web/MathML/Authoring"
## What page(s) did you find the problem on?

https://developer.mozilla.org/en-US/docs/Web/MathML/Authoring

## Specific page section or heading?

https://developer.mozilla.org/en-US/docs/Web/MathML/Authoring#input_box

## What is the problem?

https://github.com/mdn/content/blob/81b36b59628b00d7b3510de4ebeb00f0cbef12d5/files/en-us/web/mathml/authoring/index.html#L319
It references an image that c

[2021-03-18 20:09] dhananjayd1729 commented on #1822
Hey @Ryuno-Ki , this issue is closed right ? (Though I was able to find out 'notranslate' class in pre.)

[2021-03-18 22:10] hamishwillee commented on #1822
Yes. There was a global change some weeks ago to remove these (and you can see it is [gone in head revision](https://github.com/mdn/content/blob/main/files/en-us/mdn/guidelines/writing_style_guide/index.html)

@dhananjayd1729 Even so, thanks so much for offering to help. Plenty more things to fix :-)

[2021-03-18 22:10] #1822 closed

[2021-03-18 22:20] #3125 closed

[2021-03-18 22:46] hamishwillee commented on #3239
FWIW @sideshowbarker
- I'd add your note immediately and come back to considering the other stuff from stackoverflow later. Reason - it's much better and can be done quickly.
- The bug info in the note is still relevant right? But should be in BCD.

Suggested wording (your info "to my taste"):

[2021-03-18 22:54] monster0324 commented on #3274
Oh

[2021-03-18 22:59] sideshowbarker commented on #3239
Yep — thanks much, that’d be great

Right, still relevant, but BCD is the right place

Perfect (including putting it into a bulleted list — makes the distinction even more clear)

I’ve just had to learn it the hard way. The Fetch doesn’t make anything easy. I feel like my relationship with has become a kind of Stockholm syndrome situation 😂

[2021-03-18 23:16] hamishwillee commented on #3249
Thanks, fixed up in #3285 (error was an inline macro inside a pre tag)

[2021-03-18 23:45] hamishwillee commented on #3239
OK, I've added the proposed text in #3286, but this should wait on AnneK to comment before merging. I read the spec as you do @sideshowbarker but there is a LOT of chat around this in various issues, and I'd like to confirm before we modify docs and update BCD.

[2021-03-19 00:23] hamishwillee commented on #3238
@ddbeck The BCD for [](https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener#browser_compatibility) does not mention compatibility for the option `signal`.

I was going to answer with "we only document compatibility issues where the compatibility differs - so here the options "signal" would be assumed to "match" that of `addEventListener itself. But then I realised it that

[2021-03-19 00:29] #1410 closed

[2021-03-19 00:32] thierryk commented on #366
Reopening to keep it open until #3235 goes through.

[2021-03-19 00:41] hamishwillee commented on #3231
Thanks for posting. Yes it does. Fixed in https://github.com/mdn/browser-compat-data/pull/9510

[2021-03-19 00:45] trrapp12 opened #3288 "Issue with "Document.cookie": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Document/cookie

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?
All example section alert buttons

#### What did you expect to see?

example 1 should show "name=oeschger" or "favorite_food=tripe", but gives a message "an embedded page at yari-demos.prod.mdn.mozit.cloud says"

#### Did you

[2021-03-19 00:59] hamishwillee commented on #3196
Happy to help hack away at this with you (once the broad discussion of "how" we do this is resolved).

[2021-03-19 01:07] hamishwillee commented on #3144
@chrisdavidmills That's what I was thinking. You add the triage and remove your name.

Withdraw the suggestion; your concern is valid.

[2021-03-19 03:42] #3260 closed

[2021-03-19 06:00] CreaTorAlexander commented on #3288
Also it should use an event listener instead of the html onclick attribute.

Besides the *Do Once* Example can be executed more than once and if the last two examples should also be live demonstrations then there are buttons missing.

[2021-03-19 06:00] booc0mtaco opened #3292 "Issue with "ARIA: button role": missing rendering of accessibility subnav"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/button_role

#### What information was incorrect, unhelpful, or incomplete?

The sub-nav on each accessibility pages does not render.

#### Specific section or headline?

`<p>{{Page("/en-US/docs/Web/Accessibility/ARIA/Roles", "Subnav")}}</p>`

#### What did you expect to see?

- Some rendering of the sub-nav

#### Did y

[2021-03-19 06:59] hamishwillee commented on #2669
Yet more done in #3290.

This is what is left. I think that I'm at the end of what I can do

- https://developer.mozilla.org/en-US/docs/Mozilla/Projects/NSS/Reference/NSS_cryptographic_module

Broken Links
/en-US/docs/Mozilla/Projects/NSS/Reference/NSS_cryptographic_module/Data_types 👀 line 20:15
/en-US/docs/Mozilla/Projects/NSS/Reference/NSS_cryptographic_module/Non-FIPS_mode_of_operation 👀 line

[2021-03-19 09:03] webdev23 opened #3294 "Broken link"
https://developer.mozilla.org/Command_Line_Options

[2021-03-19 09:44] chrisdavidmills commented on #3294
@peterbe flagging this one to you, Peter. Clicking the above link loads the MDN UI, but dumps a load of page HTML source into the main content area. Is this something we should be worried about?

[2021-03-19 09:48] chrisdavidmills commented on #3292
This should no longer be there. Removed: https://github.com/mdn/content/commit/c358bf10987a1469196d976f5ba58b04752f694a

Thanks for reporting!

[2021-03-19 09:48] #3292 closed

[2021-03-19 10:58] rachelandrew commented on #3266
auto isn't really useful here as we aren't talking about the actual value, but rather what people see (though 100% is also confusing). The spec uses available space, which is probably the edit to make, "fills the available inline space" or something similar.

The stuff about stretch fit sizing is here: https://www.w3.org/TR/css-sizing-3/#auto-box-sizes

[2021-03-19 11:15] #991 closed

[2021-03-19 11:29] mirexdoors commented on #3048
Hello, mind I take this one?

[2021-03-19 11:36] ddbeck commented on #3238
@hamishwillee In this case, the table does have entries for `capture`, `once`, and `passive` already and the compat data varies between those entries. I wouldn't be surprised if its support is also different from the others (since `AbortSignal` itself appears to be newer than the other options), too. Taken together, I think it's reasonable to expect that `signal` is represented.

Yeah, this stuff

[2021-03-19 11:36] ddbeck commented on #3238
Also, if you wanted to move this issue to mdn/browser-compat-data, that would also be good (unless your planning some content work as well).

[2021-03-19 11:44] rachelandrew commented on #2582
I did look at this and couldn't reproduce the issue, or perhaps am not understanding the issue. Could you reproduce the problem @chrisdavidmills ?

[2021-03-19 12:11] FrOz3nFir3 commented on #3266
Great Reading skills, you paid attention to tiny details!
Actually found an article on MDN itself which might correctly describe :-
A Block-level element occupies the entire horizontal space of its parent element (container).

https://developer.mozilla.org/en-US/docs/Web/HTML/Block-level_elements

[2021-03-19 12:13] chrisdavidmills commented on #3048
Please do! Thanks for your interest in helping out!

[2021-03-19 12:14] Passionate-coder997 opened #3296 "Phaser Canvas game not working on Android"
It shows a black screen only no game output

[2021-03-19 12:17] chrisdavidmills commented on #3296
What does? Where can we find it? You need to provide some information if we are to fix an issue ;-)

[2021-03-19 12:19] chrisdavidmills commented on #2582
The basic TL;DR is that @RisingThunder 's responsive images example on https://risingthunder.github.io/media.html is not working correctly (not getting the correct images loaded for narrow screens, and wide screens), and we need to work out if they have done something wrong, and/or if the information in my Responsive images article is wrong.

[2021-03-19 12:38] Passionate-coder997 commented on #3296
I had followed this tutorial(code) shown here:
https://developer.mozilla.org/en-US/docs/Games/Tutorials/2D_breakout_game_Phaser/Randomizing_gameplay#compare_your_code

but it doesn't show any output, it shows a black screen when I run the game in my samsung mobile(A6+). You can check it out at: https://passionate-coder997.github.io/Phaser-breakout/

[2021-03-19 12:52] rachelandrew commented on #2582
I'll have another look but last time I looked I'm afraid I couldn't make head nor tail of it as I wasn't seeing the same thing as reported.

[2021-03-19 13:14] rachelandrew commented on #2582
So the MDN example loads the correct image to desktop for me (the larger image) because my desktop has a high res screen. So that is correct as far as my understanding goes. This is looking at screen resolution not "narrow or wide screens". This whole thread seems to assume a small screen is low res and a large one high res, which isn't necessarily the case.

However maybe I'm the one confused :)

[2021-03-19 13:22] chrisdavidmills commented on #2582
Hrm, maybe we can close it then, if the MDN page makes sense.

[2021-03-19 13:22] #2582 closed

[2021-03-19 13:33] evil-shrike opened #3298 "Issue with "Express Tutorial Part 7: Deploying to production": (please mention Google Cloud Free Tier)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/deployment

#### What information was incorrect, unhelpful, or incomplete?

Everything is correct but let me ask to add a mention of Google Cloud as it'd be fair to mention all three big players.

#### Specific section or headline?

"Choosing a hosting provider"

#### What did you expect to see?

right after "while

[2021-03-19 13:39] Lyoko-Jeremie opened #3299 "Issue with "PannerNode.coneOuterAngle": Image not show"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/PannerNode/coneOuterAngle

#### What information was incorrect, unhelpful, or incomplete?
the image not show "https://developer.mozilla.org/en-US/docs/Web/API/PannerNode/coneOuterAngle/pannernode-orientation.png"

#### Specific section or headline?
the `Example` section.

#### What did you expect to see?
seems like the image must be "https:

[2021-03-19 14:09] Elchi3 commented on #3144
How do we avoid that people feel like they are "stealing" triage work from others when they really aren't? (at least for me, I'm more than happy if y'all steal ALL the work away from me).

See https://github.com/mdn/content/issues/2907#issuecomment-799914535 for an example of this situation.

[2021-03-19 15:49] schalkneethling commented on #2091
This looks resolved to me, thanks!

[2021-03-19 17:52] CreaTorAlexander commented on #3299
I can update it 👍

[2021-03-19 19:50] mirexdoors commented on #3050
Hello. Can I take this?

[2021-03-19 21:19] booc0mtaco commented on #3292
Thanks @chrisdavidmills . I noticed this same thing appears to show up on all the roles pages linked from here https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles . I am not too familiar with how the documents are generated, but would I expect there to be many edits to strip out all the instances?

[2021-03-19 23:24] #3048 closed

[2021-03-19 23:26] JustinWebDev opened #3308 "Issue with "<input type="checkbox">": value example too small and doesn't work"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/checkbox#value

#### What information was incorrect, unhelpful, or incomplete?
The height on the iframe needs to be set so the content isn't clipped.  (The grey overlay is another bug.)

![image](https://user-images.githubusercontent.com/40804543/111851254-89bf4e80-88e0-11eb-9ae5-96cf22ea6cd8.png)

The example doesn't seem to

[2021-03-20 00:32] mireille-raad commented on #2824
I am interested in figuring this out. I will submit a PR if/when I do.

[2021-03-20 06:31] JoshuvaGeorge03 commented on #2769
@CreaTorAlexander Thanks.

[2021-03-20 10:08] wkz3w59 opened #3312 "French translation : wrong order for compound transforms"
MDN URL: https://developer.mozilla.org/fr/docs/Web/CSS/transform

#### What information was incorrect, unhelpful, or incomplete?
ordre de composition des transformations

#### Specific section or headline?
<transform-function>

#### What did you expect to see?
"de droite à gauche" et non pas "de gauche à droite"

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report detai

[2021-03-20 10:10] mems opened #3313 "Issue with "PaymentRequest: paymentmethodchange event": incorrect domxref output"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/PaymentRequest/paymentmethodchange_event

#### What information was incorrect, unhelpful, or incomplete?

[code]

Is rendered as:

[code]
Note the `PaymentMethodChangeEvent.updateWith.updateWith()`

#### Specific section or headline?

"Examples"

#### What did you expect to see?

Some thing like `PaymentRequestUpdateEvent.updateWith()` or `

[2021-03-20 10:10] wkz3w59 commented on #3312
Dans "Specific section or headline" j'avais indiqué "transform-function" avec des signes &lt; et $gt; mais ça a disparu à la validation…

[2021-03-20 10:11] Cowkill opened #3314 "Issue with "Prise en charge des anciens navigateurs": (short summary here please)"
MDN URL: https://developer.mozilla.org/fr/docs/Learn/CSS/CSS_layout/Supporting_Older_Browsers

#### What information was incorrect, unhelpful, or incomplete?
Hi, on this page we can select french as a language but none of it is actually translated.

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report

[2021-03-20 10:29] chrisdavidmills commented on #2824
That would be great, thanks for considering this, @mireille-raad. If you do move forward with working this out, and want to create the content to explain it, let me know so I can assign you to this issue. Thanks!

[2021-03-20 10:36] chrisdavidmills commented on #3050
@mirexdoors yes, you certainly can. Thanks for the help!

[2021-03-20 10:46] MaxGraey opened #3315 "Issue with "WebAssembly Concepts": non-obvious performance comparison"
MDN URL: https://developer.mozilla.org/en-US/docs/WebAssembly/Concepts

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?
https://developer.mozilla.org/en-US/docs/WebAssembly/Concepts#using_assemblyscript

#### What did you expect to see?

This is a very contradictory assessment of the situation. I can give a few examples where AssemblyScript is not

[2021-03-20 10:47] foolip opened #3316 "Content bug: BatteryManager includes "Additional methods in Mozilla chrome codebase" from EventTarget"
## What page(s) did you find the problem on?

https://developer.mozilla.org/en-US/docs/Web/API/BatteryManager

## Specific page section or heading?

https://developer.mozilla.org/en-US/docs/Web/API/BatteryManager#methods

## What is the problem?

The source using an include mechanism to inline https://developer.mozilla.org/en-US/docs/Web/API/EventTarget#methods, which includes this section:

https

[2021-03-20 12:42] #2091 closed

[2021-03-20 13:28] FredericoCoelhoNunes opened #3317 "MediaRecorder - can't use audio mime types"
## What page(s) did you find the problem on?

No page in particular, I just feel like the documentation is extremely confusing on how to record **audio only** streams. See example below.

## Specific page section or heading?

N/A

## What is the problem?

I expected to be able to record audio blobs following a call to `navigator.mediaDevices.getUserMedia({audio: true, video: false})` but it seems

[2021-03-20 16:32] JanSladky65 opened #3319 "Issue with "Express Tutorial Part 3: Using a Database (with Mo…": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/mongoose

#### What information was incorrect, unhelpful, or incomplete?
trying to create the database name local_library on  mongodb atlas leads to an error for me.
seems the underscore in the name causes an error.
omitting the underscore and using locallibrary leads to successful creation of the database.

#### Sp

[2021-03-20 18:19] abonzer opened #3320 "Issue with "Document: keydown event": (Firefox returns 229 key code in one onKeyDown event)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Document/keydown_event

#### What information was incorrect, unhelpful, or incomplete?
Since Firefox 65, the keydown and keyup events are now fired during IME composition

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

*

[2021-03-20 18:26] wkz3w59 opened #3321 "Issue with "transform": (short summary here please)"
MDN URL: https://developer.mozilla.org/fr/docs/Web/CSS/transform

#### What information was incorrect, unhelpful, or incomplete?
" Les transformations qui sont composées entre elles sont appliquées dans l'ordre, de gauche à droite."

#### Specific section or headline?
transform-function

#### What did you expect to see?
" Les transformations, qui sont composées entre elles de gauche à droite, sont

[2021-03-20 18:49] ElijahLynn opened #3322 "Issue with "Using your new knowledge": Typo "plus the starting point CSS in the head""
MDN URL: https://developer.mozilla.org/en-US/docs/Learn/CSS/First_steps/Using_your_new_knowledge

#### What information was incorrect, unhelpful, or incomplete?
"plus the starting point CSS in the head"

#### Specific section or headline?
https://developer.mozilla.org/en-US/docs/Learn/CSS/First_steps/Using_your_new_knowledge#starting_point

#### What did you expect to see?
"put the starting point

[2021-03-20 22:36] GaborLajos opened #3324 "Issue with "Window.confirm()": (incorrect description of the message parameter)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/API/Window/confirm

#### What information was incorrect, unhelpful, or incomplete?
The description of the message parameter refers to the alert dialog instead of the confirm dialog

#### Specific section or headline?
Syntax / Parameters / message

#### What did you expect to see?
A string you want to display in the confirm dialog.

#### Did you

[2021-03-21 01:19] KaliszAd commented on #2550
I have read the current documentation. The problem really seems to be, the API is named "history" but really it changes the present as I have written. You can do some things, that approach working with actual history - e.g. changing what the history button will go to or working with event listeners (popstate) as I have shown. The section on popstate is very terse even though it seems to be rather

[2021-03-21 01:52] nabbisen opened #3325 "Issue with "WebAssemblyコードのロードと実行": translation correctness"
MDN URL: https://developer.mozilla.org/ja/docs/WebAssembly/Loading_and_running

#### What information was incorrect, unhelpful, or incomplete?

"What are the options?" in en is translated into "何が問題なの?" as ja.

#### Specific section or headline?

Section = 何が問題なの? ("What are the options?" in en)

#### What did you expect to see?

"どんな方法があるの?" instead of "何が問題なの?"

#### Did you test this? If so, ho

[2021-03-21 02:13] nabbisen commented on #3325
Wrong repo. Sorry. (Moved to mdn/translated-content )

[2021-03-21 02:13] #3325 closed

[2021-03-21 04:34] abdwalfa opened #3326 "Issue with "Feature-Policy": document-domain enabled/disabled"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Feature-Policy

#### What information was incorrect, unhelpful, or incomplete?
It says here:

but in this page: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Feature-Policy/document-domain

also here: https://developer.mozilla.org/en-US/docs/Web/API/Document/domain#failures

The setter will throw a "SecurityError" DOMEx

[2021-03-21 08:29] CreaTorAlexander commented on #3324
I can update this 👍

[2021-03-21 08:33] CreaTorAlexander commented on #3321
This should be moved to the *translated-content* repository.

@wkz3w59 would you like to change the content and submit a PR?

[2021-03-21 09:22] sentasker opened #3329 "Issue with "<h1>–<h6>: The HTML Section Heading elements": (short summary here please)"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Heading_Elements

#### What information was incorrect, unhelpful, or incomplete?

#### Specific section or headline?

#### What did you expect to see?

#### Did you test this? If so, how?

<details>
<summary>MDN Content page report details</summary>

* Folder: `en-us/web/html/element/heading_elements`
* MDN URL: https://developer.m

[2021-03-21 09:26] sentasker commented on #3329
Issue with <h1-<h6..
< h 1> to < h 6 > the most important <16> heading

[2021-03-21 09:42] CreaTorAlexander commented on #3329
What exactly is the problem on this page?

[2021-03-21 10:01] wkz3w59 commented on #3321
I don't know how to change the content, and no idea of what a PR is. I know nothing about github.
All I know is that the content in the French translation was wrong, I already reported the error yesterday and it was replaced by another error.

[2021-03-21 10:14] CreaTorAlexander commented on #3321
You mean in the content of the site was replaced by another translation error?

Okay, I will update it 👍  or if you want I can guide you how to update the content.

[2021-03-21 14:31] jakub-g opened #3331 "Content bug: scrollbar-width demo box does not work in Chrome"
## What page(s) did you find the problem on?

https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-width

## Specific page section or heading?

Demo just in the beginning

## What is the problem?

See screenshot Firefox vs Chrome 89.
Note: the `scrollbar-width` feature is Firefox only for now, but here the issue is with the demo box itself.

![image](https://user-images.githubusercontent.com

[2021-03-21 15:30] tadjik1 opened #3333 "Issue with "Audio and video manipulation": no usage of intermediary <canvas> element in the code example"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/Guide/Audio_and_video_manipulation

Hello, I misunderstood part of the article which shows an example of grayscaling video.

#### What information was incorrect, unhelpful, or incomplete?

It says in the beginning that in order to process with video frame an intermediary <canvas> element should be used:

[code]

However later in the same articl

[2021-03-21 17:08] tristantheb commented on #3321
Hello @wkz3w59,

This problem has been dealt with and has been sent to production, after checking the page, it now has the correct translation :)

[This issue can be closed]

[2021-03-21 17:53] wkz3w59 commented on #3321
Seems fine for me now. Thank you.

[2021-03-21 17:53] #3321 closed

[2021-03-21 18:40] Leokuma commented on #3268
I believe there's no problem in the article.

The article says that Firefox does not yet support `<input type="month">`:

The workaround provided (using `pattern`) works as intended for me in FF 86.0.1.

[2021-03-21 18:44] mt-xing opened #3336 "Issue with "BigInt": Adding n to a literal creates a bigint primitive, not a BigInt object"
MDN URL: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt

#### What information was incorrect, unhelpful, or incomplete?

This page reads:

where earlier a `BigInt` was defined to be an object:

This is, however, incorrect, as appending `n` to the end of an integer or calling the function `BigInt()` creates a `bigint` primitive, not a `BigInt` object.

Indee

[2021-03-21 21:21] SebastianZ opened #3337 "Add guide for RegExp match indices"
## What is the new suggestion?
In https://github.com/mdn/content/pull/3284 I've added the descriptions of the regular expression match indices. What's still missing, though, is a guide page for this feature.

## Why is it important or useful?
This should be a subpage of the [existing regular expressions guide](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions).

The

[2021-03-21 22:13] hamishwillee commented on #3144
Perhaps explicitly add a note that the assigned person is only responsible for making sure that the notes are triaged in a timely manner; the work can be done by anyone.

[2021-03-21 23:00] hamishwillee opened #3339 "Interactive example/docs: input type="month""
## What page(s) did you find the problem on?

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/month#handling_browser_support

## Specific page section or heading?

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/month#handling_browser_support

"Handling Browser Support"

## What is the problem?

See markup - months make assumptions about timezone. If input succeeds,

[2021-03-21 23:01] hamishwillee commented on #3268
The compatibility information on the page is correct - Firefox does not support the month input type. You can see this by comparing FF and Chrome on the example on the page you point to. FF (the top item below) does not support the input so you have to enter text, while chrome does, so you have a date picker. I also checked bugzilla and there are open bug reports against this.

![image](https://us

[2021-03-21 23:01] #3268 closed

[2021-03-21 23:10] hamishwillee commented on #3329
I can't see any problem. I have closed this.

@sentasker If there is actually a problem, please reopen with information about the specific heading and section where you see it and an explanation (i.e. fill in the template up the top of the page)

[2021-03-21 23:10] #3329 closed